[2022-11-05 23:41] matmair opened #3901 "Epic: React"
This is an epic for https://github.com/inventree/InvenTree/issues/2789

Techstack Devtools:
- Node 18
- Yarn
- Vite

Techstack UI:
- React
- [Mantine](https://mantine.dev) UI, Hooks, Core, Date
- [mantine datatable](https://github.com/icflorescu/mantine-datatable) for tables
- React Router
- React Query for Api fetching
- Zustand for local state management
- [html5-qrcode](https://www.npmjs.com/pa

[2022-11-05 23:47] wolflu05 commented on #3901
Im definitely interested in this. I'm already experimenting with preact on my plugin as vanilla js is bad for reactive UIs.

[2022-11-06 00:01] wolflu05 commented on #3901
Is there also a plan for what tooling inventree will use (e.g. nextjs, vite, ...)? If you would go with create-react-app, I would definitely advise you to not do that, [more infos](https://youtu.be/7m14f0ZzMyY). My first go would be nextjs or bundling with vite, which uses esbuild which is extremely fast.

If inventree won't use nextjs which has routing already implemented, I would consider using

[2022-11-06 02:40] SchrodingersGat commented on #3900
Hey Fabian, this is strange, as you clearly have `INVENTREE_DB_ENGINE` defined in your .env file

- Are the two files (.env and docker-compose.yml) in the same directory?
- Are you running the command from that directory?

[2022-11-06 10:00] Hack4Life commented on #3900
Hi!
I am running the `docker-compose run inventree-server invoke update` command inside `/home/inventree/` where the `docker-compose.yml` and `.env` is located as you can see in the screenshot below:
![image](https://user-images.githubusercontent.com/11788789/200164582-cc94a688-da34-45ae-916c-e4632a358c39.png)

[2022-11-06 10:28] SchrodingersGat commented on #3900
Any other logs you can provide from running `invoke update`?

[2022-11-06 11:20] Hack4Life commented on #3900
Sure, this is the complete output of the command:
[inventree.log](https://github.com/inventree/InvenTree/files/9945693/inventree.log)

[2022-11-06 16:17] matmair commented on #3901
@wolflu05 I have access to a sizeable private codebase that runs on the proposed stack; they used plain CRA, WebPack and nothing SSR so my plan is/was to use that as I know that works. Do you have production experience with the proposed packages?

The jsx-world seems to be very fast moving but I would prefer to target mature, battle-proven packages. I do not really fancy switching core parts out t

[2022-11-06 18:28] wolflu05 commented on #3901
@matmair Currently I'm on the same point of making a decision what tooling I should use for my new app. I was always using cra in many of my latest projects.

### Why not to use CRA
1. Sometimes I needed extra webpack config so I used craco (package to modify hidden webpack config of cra without ejecting). But a month ago I thought why the hell should I use a package that is like a workaround arou

[2022-11-06 20:24] matmair commented on #3901
This issue was more thought to be a status tracker for me than a discussion as nobody stepped up to tackle this. If you are interested in developing we can talk about the stack though.

I worked with several internal projects that used nextjs in the last 6 months and we switched everything away from it. It was a dead dependency as we did not really use a lot of its features. We are purely a Django

[2022-11-06 21:18] SchrodingersGat commented on #3900
Can you run this:

```docker compose run inventree-dev-server bash```

and when you get into the shell:

```echo $INVENTREE_DB_ENGINE```

[2022-11-07 10:08] Hack4Life commented on #3900
I had to execute `docker-compose run inventree-server bash` because I have no container named `inventree-dev-server`.
However `echo $INVENTREE_DB_ENGINE` return just an empty line. I also tried it with `echo $INVENTREE_DB_NAME` and `echo $INVENTREE_EXT_VOLUME` - everything is returning an empty row..

[2022-11-07 10:24] #3891 closed

[2022-11-07 10:47] SchrodingersGat commented on #3900
Interesting that these environment variables are not getting interpreted into the docker container context. Might be a docker issue?

What version of docker and docker-compose are you running?

[2022-11-07 11:12] matmair commented on #3900
@Hack4Life maybe try setting https://docs.docker.com/compose/environment-variables/#the-env_file-configuration-option and see if that helps loading the variables.
Also hi from Austria

[2022-11-07 20:44] fjullien opened #3907 "V0.8.4 Missing parameters in BOM export CSV format"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

When exporting a BOM, CSV and XLSX output files are different.
In the CSV, parameters from the last component are missing (missing SKU and other empty parameters):

[code]
The save BOM as a XLSX file:

![image](https://user-images.githubusercontent.com/1468818/20041115

[2022-11-07 20:53] Hack4Life commented on #3900
[code]

I just installed the docker-compose-plugin as well and even when I try to hand over the env-file like this I do get the error (it.env is a copy of my .env):
[code]

However if I execute `docker compose run -e INVENTREE_DB_ENGINE=postgresql inventree-server bash` I get the correct output:
[code]

Not quite sure what's going on with my environment file..

[2022-11-07 22:43] SchrodingersGat commented on #3900
@Hack4Life did you specifically try hard-coding the `env_file` parameter in your docker compose file? e.g.

[code]

Note that you will need to specify this for all the containers (server / worker / database)

[2022-11-07 23:12] #3835 closed

[2022-11-08 00:57] #3384 closed

[2022-11-08 00:58] SchrodingersGat commented on #757
@martonmiklos :)

[2022-11-08 07:35] tehkillerbee opened #3908 "[FR] Increase length of External Link and/or warn user if link string is cut."
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

In some cases, the external link field is not long enough for very long links. Since the link is shortened with no warning, user ends up with an invalid link to the part.

### Suggested solution

1. Increase the max link length
2. Give warning,

[2022-11-08 07:52] SchrodingersGat commented on #3908
@tehkillerbee the link should not be shortened "without warning" as you say. Can you please provide an example? Screenshots would be great

[2022-11-08 08:03] tehkillerbee commented on #3908
@SchrodingersGat

I added a new part and used this link: [https://www.zollshop.de/de/Zollschrauben-Edelstahl/Zylinderkopfschrauben-mit-Innensechskant-Edelstahl-UNC/14-Zoll-Innensechskant-Edelstahl-UNC/2776/1/4-Zoll-20-x-5/8-Zoll-Laenge-15-87-mm-Innensechskantschraube-UNC-Edelstahl-A2/](url)

As soon as I paste the link, it appears to be shortened as seen below. No warning is given so you do not se

[2022-11-08 08:07] fjullien commented on #3907
Here are the two files:

https://e1.pcloud.link/publink/show?code=XZBIeQZ6wGWJnn0pg0xTbikdJ2KW5GhEn0k
https://e1.pcloud.link/publink/show?code=XZ2IeQZoSAhixFdPi7pTudQwmFjPQiu38JV

[2022-11-08 16:44] eeintech commented on #757
@SchrodingersGat  Nice job :)

[2022-11-08 23:57] matmair commented on #3568
This is not a high priority for me right now. I am assigning it to me to stop it from going stale permanently - If someone else is actively interested in creating a PR: feel free or ping me to get assigned.

[2022-11-09 06:09] SchrodingersGat commented on #3908
@tehkillerbee OK I can replicate this - looking into it now

[2022-11-09 06:16] SchrodingersGat commented on #3908
Interesting problem here. It is because the form element has the "maxlength" attribute, and (maybe depending on what browser you are using) it enforces this limit on copy-paste:

![image](https://user-images.githubusercontent.com/10080325/200753683-07a004b5-24e1-418e-8a6b-cba78aa24941.png)

We could remove this "maxlength" attribute from the form, and then let the server-side validation throw an e

[2022-11-09 06:31] SchrodingersGat commented on #3907
@fjullien I have tried to replicate this on my end, but cannot. It may be specific to the data being exported. Are you perhaps able to check if you can reproduce this with a different BOM?

[2022-11-09 10:04] SchrodingersGat opened #3909 "Database backup fails on new installation"
On a brand new setup, running "invoke update" (as per the docs) errors out, as the update process calls the "backup" task.

![image](https://user-images.githubusercontent.com/10080325/200801152-c4aa64cf-5ca5-43a5-9106-c9ee92cd1ca0.png)

This failure blocks the rest of the "invoke update" task from continuing.

Perhaps we need to separate the backup task, or allow it to fail gracefully?

[2022-11-09 12:01] #3909 closed

[2022-11-09 12:01] SchrodingersGat commented on #3909
Never mind, did something silly :|

[2022-11-09 17:04] matmair commented on #3908
@SchrodingersGat sounds like a reasonable approach. Normally the browser is expected to warn about this and not just cut it off.

[2022-11-09 17:09] tehkillerbee commented on #3908
@SchrodingersGat Exactly. Perhaps I should add that I am using Firefox.

[2022-11-10 00:08] SchrodingersGat commented on #3908
Fix incoming in https://github.com/inventree/InvenTree/pull/3911

[2022-11-10 01:52] SchrodingersGat commented on #3618
@matmair what should we do here? In particular I would like to prevent the multiple copies of maintenance_mode.txt file:

![image](https://user-images.githubusercontent.com/10080325/200980998-09898f23-f01b-4adb-84de-b156943c7bfd.png)

[2022-11-10 05:45] SchrodingersGat opened #3914 "[Feature] Include background worker status information in API"
- worker health (already here, can we extend?)
- current number of outstanding tasks
- current number of failed tasks

[2022-11-10 08:18] fjullien commented on #3907
I'll try to reproduce it or at least do some tests to check if it's because of a special character.

[2022-11-10 13:52] rkalman opened #3915 "Build a part when its BOM has trackable part(s)"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

It needs more investigating, but it seems something is wrong handling a build order of a part which has trackable items in its BOM.

### Steps to Reproduce

0. Make a new part, make a BOM, get a trackable (serialized) part and an untracked part
1. Make a new build orde

[2022-11-10 18:24] matmair commented on #3907
Thank you, that helps out a lot!

[2022-11-10 19:49] fjullien commented on #3907
This problem doesn't happen with another BOM.
If I manually add a component to the board, this last component gets cut, I can't see the manufacturer and suppliers data.

I don't know what I can do to help. I now use XLSX output to post-process the BOM so I'm fine.

[2022-11-10 20:03] fjullien opened #3916 "[FR] Edit parameters in the component part form"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Every time a parameter needs to be changed in a component, one need to click on "Edit parameter". It would be much efficient if the value could be directly enter in the component form.

### Suggested solution

Would it be possible to edit param

[2022-11-10 20:29] matmair commented on #3907
@fjullien would you feel comfortable sharing a database dump through private channels so we can maybe try to reproduce that way? If yes please connect via code <AT> mjmair <DOT> COM

[2022-11-10 20:32] matmair commented on #3916
@fjullien seems like a reasonable wish. Not sure if anybody has the bandwidth to develop this.

[2022-11-10 20:34] matmair commented on #3618
@SchrodingersGat I am not really sure where this comes from. Normally this should be handled by the library. Maybe we should move the file to static? Could be a problem with the location being in media.

[2022-11-10 22:32] SchrodingersGat commented on #3916
@fjullien we have previously discussed adding "inline editing" to all table view, to streamline workflows.

As we are planning on making the jump to react for the front-end, I will not be giving any attention to this until then.

However that's a little while off, so if you wanted to contribute this feature yourself, I'd certainly be open to that.

[2022-11-10 22:33] SchrodingersGat commented on #3618
I think it is going to be related to being in the media dir. Perhaps moving to static would be sufficient?

[2022-11-10 22:52] matmair commented on #3618
@SchrodingersGat I still was not able to reproduce this while running 50+ instances.

[2022-11-11 03:31] SchrodingersGat opened #3919 "[Bug] Cannot mark notifications as read / unread"
@matmair since integration of the news-reader, marking notifications as read / unread throws an error:

![image](https://user-images.githubusercontent.com/10080325/201256969-0f153f9c-2c03-4af8-881a-785749ec5efb.png)

![image](https://user-images.githubusercontent.com/10080325/201257126-6bbc1e83-3dbe-47d1-91a6-7e1b5b7cfda4.png)

Can you look into this one please? I'm not sure what's been changed he

[2022-11-11 04:10] #3914 closed

[2022-11-11 04:12] SchrodingersGat commented on #3915
@rkalman it sounds like the system is working as intended. "tracked" BOM items need to be allocated against a particular build output, not against the build itself.

https://docs.inventree.org/en/latest/build/allocate/#untracked-vs-tracked-stock

Please close the issue if you feel it has been adequately addressed

[2022-11-11 04:24] SchrodingersGat commented on #3813
I believe that I have now squashed this bug in master. I'm going to close this out for now, please comment here again @mrkylegp if you think it is still present.

[2022-11-11 04:24] #3813 closed

[2022-11-11 04:26] SchrodingersGat commented on #3755
@FilMar did you ever resolve this? I'm closing this issue due to lack of activity, but feel free to re-open it if you need further assistance.

[2022-11-11 04:26] #3755 closed

[2022-11-11 07:18] fjullien commented on #3916
No problem, I understand.
In general, I like doing it myself. However, I'm comfortable with a lot of things (hardware/software/FPGA) except web development.
It would take me time to start contributing.
I may do it at some point. Add this to my do-to list ;)

[2022-11-11 07:22] matmair commented on #3919
@SchrodingersGat I will look into this.

[2022-11-11 07:25] matmair commented on #3916
@fjullien that is actually the case for most ppl. here so welcome to the club!
Before you start actually developing please ping us, there might be some drastic UI framework changes around the corner. Would be a shame to droop something that get's only used for a few weeks.

[2022-11-11 12:39] G-Pereira commented on #3337
Got this issue again in another installation. It turned out to be starting with a wrong value on `INVENTREE_EXT_VOLUME`, and to change it one must run the following command before running again `invoke update`:
[code]

[2022-11-11 16:16] matmair commented on #3337
@G-Pereira thanks for the hint. Pointed out that makes a lot of sense. @SchrodingersGat could that be part of some of the other problems we had with docker recently and should we add that to the docs?

[2022-11-11 18:59] rkalman commented on #3915
Oh, I am sorry, I completely missed that part of the documentation.
And yes it is working correctly in these situations:

1. if we have a stock item of a tracked part with serials assigned:
  - this is the case I missed completely, we can allocated individual stock items to the build output, nice and ok, thank you
  - allocated item installed in the completed build output

2. if we have a stock it

[2022-11-11 22:29] SchrodingersGat opened #3921 "[Bug] Background Worker Issues"
I have been trying to chase down a particularly difficult bug for a while now, and finally think I have it sorted out.

### Problem Description

If the [background worker](https://django-q.readthedocs.io/) processes too many tasks in a short space of time, subsequent tasks are handled "synchronously" (by the foreground worker / web-server) until the next scheduled "heartbeat" task. Essentially the

[2022-11-11 22:40] SchrodingersGat commented on #3921
@matmair might be of interest to you - especially the note about caching at the end

[2022-11-11 23:32] matmair commented on #3921
@SchrodingersGat the cache thing is a known vault with server/worker things; Celery had that problem too last time I checked.
The main problem is that separate processes can not share the same memory. Best practice to solve this is to deploy with a shared caching layer. That could be memcached or redis - I tend to deploy the second one due to better monitoring and the possibility to scale out the

[2022-11-11 23:35] matmair commented on #3921
This article gives a good overview of options: https://testdriven.io/blog/django-caching/ - I generally like that site

[2022-11-12 00:07] SchrodingersGat commented on #3921
I feel like it is time to move to redis after this next release. Both for performance and to get around these caching memory issues

[2022-11-12 03:14] #3921 closed

[2022-11-12 12:03] martonmiklos commented on #757
Hi folks!

I started to work on this and get a bit stuck again with the unit testing implementation.

My code lives here:
https://github.com/martonmiklos/InvenTree/tree/fix_757

In the test I try to delete a created StockLocation via API:
[code]
My requests fails with 403 with the response content:

[code]
Would you mind to take a look on it and help to find the reason of this?
Many thanks in adva

[2022-11-12 20:22] larchen opened #3923 "URL based QR code resolves to empty braces"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

I'm trying to generate QR codes that encode the full url, but it seems that the `qr_url` variable just resolves to empty braces.

### Steps to Reproduce

I have the following template file for a part label for testing (uploaded through the admin interface)

[code]

whi

[2022-11-12 21:26] SchrodingersGat commented on #3923
https://github.com/inventree/InvenTree/pull/3924

[2022-11-12 21:38] matmair commented on #757
@martonmiklos seems like the user you are using does not have the right permissions

[2022-11-13 00:38] matmair commented on #3901
@wolflu05 I played around with this a bit and the pipeline is much faster with vite. It is probably the right move.
Do you want to take a look at the repo? I will do the implementation in phases in a separate repo for now.

[2022-11-13 00:38] SchrodingersGat commented on #757
In the testing framework you can use the `self.assignRole` method to give the test environment the right permissions for the API.

e.g. `self.assignRole('stock.change')`

Search through the code base for examples of this

[2022-11-13 03:34] SchrodingersGat commented on #3337
We have certainly seen a few issues related to docker volumes not being cleaned out properly. Would be well worth adding to the docs

[2022-11-13 04:43] #3923 closed

[2022-11-13 07:04] wolflu05 commented on #3901
Cool that you found out that vite is much faster. This is one of the main key points of vite (Vite French for quickly). Also good that you considered to not use CRA anymore. Id be happy to take a look at your testing repo.

[2022-11-13 08:30] larchen commented on #3923
Thanks for the quick fix! Just tested and can confirm it works as expected now.

[2022-11-13 21:08] SchrodingersGat commented on #757
Closed in https://github.com/inventree/InvenTree/pull/3926

[2022-11-13 21:08] #757 closed

[2022-11-14 00:00] matmair commented on #3901
@wolflu05 I will ping you once it is ready to go

[2022-11-14 00:04] matmair commented on #3101
@SchrodingersGat this will be important for #3901 / #2789 - our current functionality is not set up to work through the API so it can not be easily decoupled from the integrated frontend

[2022-11-14 00:06] SchrodingersGat commented on #3101
Yep, the import tool definitely needs to work via the API :)

[2022-11-14 00:09] matmair opened #3927 "[FR] Move download URL endpoints to API namespace"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

The download endpoints for the BOM and BOM template are currently served under /parts; they should however be housed under /api

### Suggested solution

Move them to /api

### Describe alternatives you've considered

N/A

### Examples of other

[2022-11-14 00:09] matmair commented on #3927
Needed for https://github.com/inventree/InvenTree/issues/2789

[2022-11-14 04:58] #1059 closed

[2022-11-14 04:58] #1656 closed

[2022-11-14 04:58] #2316 closed

[2022-11-14 04:58] #2891 closed

[2022-11-14 04:58] #3321 closed

[2022-11-14 04:58] #3326 closed

[2022-11-14 04:58] #3409 closed

[2022-11-14 04:58] #3460 closed

[2022-11-14 04:58] #3553 closed

[2022-11-14 07:17] geniesis opened #3928 "[FR] Inbound shipping/logistics costs"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Inbound shipping costs for parts/items can really only be tracked via Extra Lines in a PO.

If shipping under certain incoterms such as EXW the cost of shipping/duties  is actually in another PO with the logistics company.

With regards to the

[2022-11-14 10:29] matmair commented on #3928
@geniesis sounds like a good idea. Might be quite a bit of work (including required unit tests), maybe somebody picks it up.

[2022-11-14 10:45] matmair opened #3929 "[MR] cherry-pick packaging stuff"
@SchrodingersGat I would like to cherry-pick the packaging stuff to `stable` to enable a test package-release before the release and notifications for `0.9.0` go out.
Is that ok?

[2022-11-14 13:49] martonmiklos commented on #3897
Hi folks,

I started to work on this one but I got stuck a little bit.

I have added the structural field to the model, invoke migrated run just fine (database field got created):
https://github.com/martonmiklos/InvenTree/blob/fix_3897_add_stuctural_partcategory_support/InvenTree/part/models.py#L117

If I only add the following to the form code (like the same way as the is_supplier field is added

[2022-11-14 14:02] matmair commented on #3897
Good question @martonmiklos . I am not an expert in the frontend code but I think there is something missing in the OPTIONS call. Any insights @SchrodingersGat?

[2022-11-14 14:43] martonmiklos commented on #3897
Good hint, I added the new field to the serializers.py

[2022-11-14 16:22] matmil opened #3932 "Notes content doesn't keep format, line feeds gone"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Latest pull of code and the notes is working but the formatting is not being preserved.

### Steps to Reproduce

Add a note with line feeds
Save a note
View the note

### Expected behavior

Should keep formatting on notes.

### Deployment Method

- [ ] Docker
- [X] Bar

[2022-11-14 16:28] matmil commented on #3932
<img width="288" alt="Screenshot 2022-11-14 at 16 19 56" src="https://user-images.githubusercontent.com/1688784/201713301-6832588b-249a-49fa-8cd3-4a1804c255f4.png">

[2022-11-14 16:46] wolflu05 commented on #3932
This is actually the expected behavior of markdown.

[2022-11-14 18:34] matmair commented on #3932
Can reproduce, this is def a bug

[2022-11-14 19:23] wolflu05 commented on #3932
The spec says the following, but two spaces doesn't work either. https://www.markdownguide.org/basic-syntax/#line-breaks

[2022-11-14 19:29] matmair commented on #3932
@wolflu05 a whole bunch of markdown stuff is not working; this has to be looked into further. I am currently deep into programming something else; I will take a look later

[2022-11-15 02:40] SchrodingersGat commented on #3919
@matmair have you had a chance to look into this one yet?

[2022-11-15 08:29] martin323232 opened #3933 "Quick Script, Ubuntu 20.04 LTS not supported"
### Deployment Method

- [X] Installer
- [ ] Docker Development
- [ ] Docker Production
- [ ] Bare metal Development
- [ ] Bare metal Production

### Describe the problem*

Trying to install following https://docs.inventree.org/en/latest/start/installer/
Does seem that I got 20.04.05 LTS when looking at "About" screen

### Steps to Reproduce

Install Ubuntu 20.04 LTS

In terminal: wget -Nq https:/

[2022-11-15 11:59] martin323232 commented on #3933
inven@inven-ThinkCentre-M91p:~$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.5 LTS
Release:	20.04
Codename:	focal

[2022-11-15 12:06] Zontex commented on #3327
Not stale

On Tue, Nov 15, 2022, 1:28 PM github-actions[bot] ***@***.***>
wrote:

[2022-11-16 11:24] SchrodingersGat opened #3940 "Improve query efficiency for "required for build orders""
This API query (on the home page in particular) takes an exceedingly long time to execute, often timing out the web worker process.

Option for now might be to remove this metric entirely, or at least disable it by default.

[2022-11-16 16:19] msch-alpgis opened #3941 "Minimum stock of parts on a (sub-)location"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

I have the need to track the amount of parts on different locations. By now, we can set a minimum stock of a part globally. But what if I want to have some sublocation stocks to don't fall below their own minimum?

### Suggested solution

The s

[2022-11-16 21:26] #3919 closed

[2022-11-17 06:03] martin323232 commented on #3933
I've also tried the server version, with same result.
Should I just go for the Docker install?
Or is there hope that this issue will get resolved?

[2022-11-17 09:57] SchrodingersGat commented on #3929
Yeah, makes sense :) submit a PR to stable

[2022-11-17 11:23] geniesis commented on #2562
This can also be related to #2624

The parts may be ordered from the supplier as a box/pallet lot which has its own supplier part number/order code which could then be stored as is, then split up in future into individual items when sold.

[2022-11-17 11:55] tehkillerbee opened #3947 "[FR] Allow deletion of a part image from the Web interface"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

FYI. I noticed that deleting a part image does not appear to be possible.

Perhaps I am blind, but I do not see a delete button anywhere and at least not where I would've expected to find it (in the part image menu) :)

1. Is there a way to delete images that I am not

[2022-11-17 15:13] miggland commented on #3864
There might be more issues with this - I can't see exactly why it happens though. Steps here, just in case anyone has any ideas:

1 . Enter data through API (The data here has been entered through the API originally (that was the case with the links as well, I think).
2 . After entering data, it appears as expected (" instead of &quot;")
![image](https://user-images.githubusercontent.com/1314853/2

[2022-11-17 17:51] Geekly commented on #2648
We're trying to manage configuration files and track them. A virtual part seems like the best way to do that. Currently (0.9.0 dev) we can't complete any build orders with virtual components without making them optional, because we can't allocate stock for virtual components.

We were able to work around this by changing the part to Not virtual, serializing it and allocating stock, then changing i

[2022-11-17 18:14] tehkillerbee commented on #3947
@matmair cool, just wanted to let you know in case it had not been noticed.

[2022-11-17 19:00] matmair commented on #3947
@tehkillerbee Sorry, I thought you filed it as a bug. Do you mind adding "[FR]" to the start of the title to mark it as a Feature Request? That makes it easier to categorize it in the overview.
The functionality certainly would make sense.

[2022-11-17 19:09] tehkillerbee commented on #3947
@matmair Thanks and done. I rephrased the title slightly to make it clearer what I meant.

Yeah, I did actually file it as a bug since I thought the toolbar was missing. But it sounds like a FR is more appropriate.

[2022-11-17 20:20] matmair commented on #2648
@Geekly this sounds like it could benefit from a separate part category that has separate API endpoints etc. Do you use the UI or scripts to process builds?

[2022-11-17 21:10] #3897 closed

[2022-11-17 23:25] SchrodingersGat opened #3950 "Fields get mangled by front-end forms"
There might be more issues with this - I can't see exactly why it happens though. Steps here, just in case anyone has any ideas:

1 . Enter data through API (The data here has been entered through the API originally (that was the case with the links as well, I think).
2 . After entering data, it appears as expected (" instead of &quot;")
![image](https://user-images.githubusercontent.com/1314853/2

[2022-11-17 23:59] matmair commented on #3901
@wolflu05 not ready to really test rn but if you want to watch the progress getting there you can subscribe to [this issue](https://github.com/invenhost/InvenTree/issues/2), I am tracking everything in more detail in that fork and also working on a beta website for gathering feedback.

[2022-11-18 02:36] #3932 closed

[2022-11-18 05:47] wolflu05 commented on #3901
Thank you. I'll take a look this weekend and may propose some changes.

[2022-11-18 09:19] SchrodingersGat commented on #1989
I am closing this issue out following the recent pricing refactor

[2022-11-18 09:19] #1989 closed

[2022-11-18 10:09] SchrodingersGat commented on #3950
@miggland can you please provide the version you are running?

[2022-11-18 10:19] miggland commented on #3950
[code]

I have not tested in the demo, there's a bit much going on at the moment.

[2022-11-18 10:21] SchrodingersGat commented on #3950
If you get a chance please check on the demo. Can you provide a string which demonstrates the issue?

[2022-11-18 22:15] jholgate93 opened #3956 "Deploy to Digital ocean"
### Deployment Method

- [ ] Installer
- [ ] Docker Development
- [ ] Docker Production
- [ ] Bare metal Development
- [ ] Bare metal Production

### Describe the problem*

Inventree can't be deployed to docker using the link in the README.MD and also droplet can't be found in the market place

### Steps to Reproduce

Click on 'Deploy to DigitalOcean'

### Relevant log output

_No response_

[2022-11-18 23:49] SyntaxxD opened #3959 "Installer issue"
### Deployment Method

- [X] Installer
- [ ] Docker Development
- [ ] Docker Production
- [ ] Bare metal Development
- [ ] Bare metal Production

### Describe the problem*

Install scirpt doesn't work on Debian 11

### Steps to Reproduce

wget -Nq https://raw.githubusercontent.com/InvenTree/InvenTree/master/contrib/install.sh && bash install.sh

### Relevant log output

[code]

[2022-11-18 23:51] matmair opened #3960 "[FR] Enable struclog/json logging format"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Currently, logs are in plain text. That requires manual settings for log-parsing with the ELK stack or similar products.

### Suggested solution

Switch to or give the option to switch to struclog as a format.

### Describe alternatives you've

[2022-11-18 23:53] matmair commented on #3960
References:
https://stackoverflow.com/a/56000222/17860466
https://b0uh.github.io/django-json-logging.html

[2022-11-19 00:09] matmair commented on #2479
Was requested again: https://github.com/inventree/InvenTree/discussions/3955
And there are new resources from syno: https://help.synology.com/developer-guide/examples/compile_docker_package.html

To reiterate: there are no timelines for this and this won't be on the official store

[2022-11-19 00:13] matmair commented on #3956
The image is currently not offered, see #3957

[2022-11-19 00:20] matmair commented on #3933
@martin323232 I am working on it - this a free-time project so pls do not expect 24hrs return times

[2022-11-19 01:15] matmair commented on #3959
See #3933

[2022-11-19 02:05] matmair commented on #3933
@martin323232 what is your installer showing on a dry run (using `bash installer.sh -d`)?

[2022-11-19 06:07] martin323232 commented on #3933
@matmair

did not mean it like that. Just wanted start using Inventree.
Switched to Docker on ubuntu and installed it there.
I'll can give it another try on monday.

[2022-11-19 10:53] #3947 closed

[2022-11-19 18:07] matmair commented on #3941
Sounds interesting

[2022-11-19 18:26] operatort opened #3965 "Data Migration -> Export failing"
### Deployment Method

- [ ] Installer
- [ ] Docker Development
- [ ] Docker Production
- [ ] Bare metal Development
- [X] Bare metal Production
- [ ] Digital Ocean image
- [ ] Other (please provide a link `Steps to Reproduce`

### Describe the problem*

Hey installed the Server sucessfully with the installer on Ubuntu 22.04
from https://packager.io/gh/matmair/InvenTree/builds/214/install/ubuntu-2

[2022-11-19 18:34] matmair commented on #3965
@operatort 22.04 is not supported. Neither by the installer nor the packaged software for multiple reasons. If you want to help with this effort check https://github.com/inventree/InvenTree/issues/3836 for some steps

[2022-11-19 18:45] operatort commented on #3965
I will spin up another VM on ubuntu 20.04 to see if the data export failure persists

[2022-11-19 18:49] matmair commented on #3965
If you install please point to the official version, the one you used is my personal fork - I am experimenting with that a lot.

[2022-11-19 19:24] wolflu05 commented on #3901
@matmair Do you also have an idea of how a panel mixin could work in the react ui? It would be really cool to be able to write panels with react. One idea which is currently already possible is using something like preact and htm.

[2022-11-19 23:40] operatort commented on #3965
I am not able to sucessfully install/reach the inventree website on port 80 (502 Bad Gateway nginx)
I tried to install multiples times on fresh images
ubuntu 20.04 + https://dl.packager.io/srv/matmair/InvenTree/master/installer/ubuntu/20.04.repo
ubuntu 20.04 +https://dl.packager.io/srv/inventree/InvenTree/master/installer/ubuntu/20.04.repo
ubuntu 22.04+ https://dl.packager.io/srv/inventree/InvenTr

[2022-11-19 23:59] operatort commented on #3965
Attached the latets try with Ubuntu 20.04 +
[code]
[setup_2022-11-19_23_48_10.log](https://github.com/inventree/InvenTree/files/10048153/setup_2022-11-19_23_48_10.log)

After the install i checked and the backup directory is only rwxr-xr-x (0755) the others are rwxrwxr-x (0775)
in working one they are all (0775) and the sq3lite database is visible

[2022-11-20 00:23] matmair commented on #3901
@wolflu05 for now I am focusing on getting an MVP off the ground. I will think about plugins once the structure is proven

[2022-11-20 01:24] matmair commented on #3933
@martin323232 maybe try also this command, a PR merging this into master is open.
[code]

[2022-11-20 08:22] SchrodingersGat commented on #3941
@msch-alpgis the current implementation is very simple, compared to this approach. Can you suggest how the data structures to support this might work? My first impression is that this would be quite complex to implement (especially regarding edge cases).

[2022-11-20 08:29] #3933 closed

[2022-11-20 11:02] SchrodingersGat opened #3969 "Installation of plugins docker"
### Discussed in https://github.com/inventree/InvenTree/discussions/3954

<div type='discussions-op-text'>

<sup>Originally posted by **martin323232** November 19, 2022</sup>
Trying to install Brother plugin.
inventree-brother-plugin is inside plugins.txt file

In terminal: docker-compose run inventree-server invoke install

![Screenshot from 2022-11-18 16-31-34](https://user-images.githubusercont

[2022-11-20 11:05] SchrodingersGat commented on #3969
@matmair I can replicate this issue:

1. Add `inventree-brother-plugin` to *plugins.txt*
2. Run `docker compose run inventree-server invoke install`
3. Launch server with `docker compose up -d`
4. Brother plugin is *not* installed

The reason is that 2) installs the plugin into the particular *instance* of the container, but other containers do not respect this. The "development" version keeps eve

[2022-11-20 11:19] SchrodingersGat commented on #3969
Actually, got this to work, did not realize that you had to leave the URL blank if installing via PyPi package name

[2022-11-20 12:46] operatort commented on #3965
Awesome your fix fixed the installer (previously saying on 20.04 ->20.04 not suported)
For installer documententation:
`wget -Nq https://raw.githubusercontent.com/InvenTree/InvenTree/master/contrib/install.sh && bash install.sh -master`
the default "stable" is not working
with this the install is working flawless :)

i had to copy the autmatically created config.yaml file from the /etc/inventree t

[2022-11-20 12:46] #3965 closed

[2022-11-20 12:49] matmair commented on #3965
@operatort there was no stable release with the current installer up to now. 0.9.x will be the first on.

Could you test if it works with the copying? The info where the file is placed should be passed on normally.

[2022-11-20 12:54] matmair commented on #3933
@martin323232 the fix was merged so this should work now:
[code]

[2022-11-20 13:03] operatort commented on #3965
@matmair
I am not sure what you mean

1. I installed it with the installer -master
2. Inventree is running
3. populated db
4. tried invoke export
5. error `Traceback (most recent call last):
  File "manage.py", line 23, in <module>
    execute_from_command_line(sys.argv)
  File "/opt/inventree/env/lib/python3.8/site-packages/django/core/management/__init__.py", line 419, in execute_from_command_li

[2022-11-20 13:13] matmair commented on #3959
@SyntaxxD a fix was released to `master`. Please try to run
[code]
and report back when you find time.

[2022-11-20 13:14] matmair commented on #3900
@Hack4Life did this work for you? If you require further assistance feel free to ping us

[2022-11-20 13:16] matmair commented on #3965
Ah now I get the error. Yeah this is a bit of a shortfall in the distribution right now, there is a FR to fix this #3780.
If you call invoke you are normally not executing it in the context of the packaged install - so it does not know where the files are.

[2022-11-20 13:52] matmair commented on #3825
@mrkylegp there is *experimental* support for 22.04 now. You can check it out with:
[code]
Note: this installs libssl1.1 on your system. 22.04 by default ships with libssl3 but some of our deps need 1.1

[2022-11-20 15:53] martonmiklos commented on #3862
Hi folks,
I started to work on this one.
So far so good the admin side is working.
Can you think about a parameter where dropdown an unit would make sense together?

[2022-11-20 16:26] matmair commented on #3862
@martonmiklos unit and parameter are normally linked so not sure what you mean.

[2022-11-20 16:32] martonmiklos commented on #3862
In the case if we make a parameter template to dropdown 'type' then it does not really make sense to have the unit specified. I added some javascript tweak to show & hide the dropdown items according to the Dropdown checkbox:
![kép](https://user-images.githubusercontent.com/1609182/202913866-197d3a44-e413-40b0-8f2f-33b94f070a64.png)
![kép](https://user-images.githubusercontent.com/1609182/20291387

[2022-11-20 20:06] martonmiklos commented on #3862
@SchrodingersGat , @matmair could you please help me to find where the OPTIONS responses generated? If I think correctly I need to alter them to present the dropdown in the edit/add parameter UI:

![kép](https://user-images.githubusercontent.com/1609182/202923686-05536bca-ac77-43ee-8900-2e93d6e3fde1.png)

[2022-11-20 22:15] SchrodingersGat commented on #3862
@martonmiklos I think it would be better to adjust this on the front-end. When generating the form, perform an API request to get the list of available templates, rather than generating this list on the server side.

[2022-11-20 22:15] #3956 closed

[2022-11-20 23:55] BitterMonkey opened #3973 "[FR] Purchase Order Variables"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Looking for the Purchase order Variable Names for Purchase order Templates.

On the Docs page under purchase orders there are non of the Variables listed, where could i find the list of the variables.

### Suggested solution

Can we get a updat

[2022-11-21 03:55] shierro commented on #2038
would love to have this feature, thanks for adding it into the list!

[2022-11-21 05:49] geniesis opened #3974 "Social auth https redirect url"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

When using InvenTree in the production docker container with Traefik as a https frontend. The Social auth redirect url for Microsoft provider is http instead of https. This creates an error as Microsoft requires https redirects when used in production. The same provide

[2022-11-21 08:11] martonmiklos commented on #3862
@SchrodingersGat the parameter edit/add form is handled with the constructForm method which populates the form fields automatically based on the OPTIONS response. Re-implementing it to a level where the options would be overwritten is quite a pain.
As a workaround we could hide the string input field and if the API query finished we could hide it or display a select instead of this. I also conside

[2022-11-21 08:28] martin323232 commented on #3933
@matmair

it's working now. but the documentation is not good enough for someone not used to using Linux.
I'll switch back to using docker on windows

[2022-11-21 09:11] SchrodingersGat commented on #3862
@martonmiklos this could be achieved either via client side (API) or server-side (augmenting the OPTIONS request)

### Client Side

Note that the "fields" attribute for any client-side forms is initially retrieved via an OPTIONS request, but can be adjusted / overridden by client code:

https://github.com/inventree/InvenTree/blob/10ae170d2a9437ab02b6a3895413067b2935e669/InvenTree/templates/js/tran

[2022-11-21 09:18] martonmiklos commented on #3862
Many thanks for the hint, I will be able to make it based on the editManufacturerPart  example!

[2022-11-21 09:36] SchrodingersGat commented on #3969
Mostly likely due to the "PLUGIN_ON_STARTUP" setting being set to False.

Need to add some documentation around this.

[2022-11-21 09:36] #3969 closed

[2022-11-21 09:39] SchrodingersGat commented on #3862
Here's a more complete example of the "onEdit" callback functionality:

https://github.com/inventree/InvenTree/blob/10ae170d2a9437ab02b6a3895413067b2935e669/InvenTree/templates/js/translated/order.js#L797

[2022-11-21 09:50] wolflu05 commented on #3901
@matmair Your base looks pretty solid from my view, but I have some comments on it:

1. why are there two nested src folders?
2. what about exporting optimized svgs (much smaller) from Inkscape for the served files instead of Inkscape svgs?
3. what about grouping the pages in separate folders with its corresponding structural components (I guess this will be added later?)
4. What about using somet

[2022-11-21 10:04] #4271 closed

[2022-11-21 10:27] matmair commented on #3969
There are cases where a URL is needed. Should the validation be clearer?
In general, I think a new interface (hint hint) could really benefit from tooltips etc

[2022-11-21 10:29] matmair commented on #3974
Fixed by #3975
@geniesis thanks for the quick fix;
If you mention `Closes #3975` or `Fixes #3975` in the PR the related issue gets auto-closed.

[2022-11-21 10:29] #3974 closed

[2022-11-21 10:41] SchrodingersGat commented on #3969
wink

[2022-11-21 11:08] matmair commented on #2038
@shierro this is a proposal with no milestone so no idea when it will be implemented. Without anybody assigned it is hard to say.

[2022-11-21 11:20] matmair commented on #3901
@wolflu05 thanks for the kind words.
1. This is currently needed for a CI pipeline of mine that runs in a private context. Everything in the deeper src will be moved up one dir before release
2. Good idea. I am mainly concerned with getting a functional product running right now - there is a bunch of backend work that needs to be done and I would like to get that all discovered and done in the nex

[2022-11-21 12:35] matmair opened #3978 "[FR] User registration via API"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

We currently do not support user registration via API - so the frontend must be used

### Suggested solution

Steps:
- [x] Add  an API endpoint under `/api/user/register` to registering users
- [x] Add unit testing for it

### Describe alternat

[2022-11-21 12:36] matmair commented on #3978
Ref #3901

[2022-11-21 12:40] matmair opened #3979 "[FR] :checkered_flag: Simple API endpoint to change user metadata"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

we currently provide an API endpoint for editing user data via a form. Fetching and changing endpoints are different and take different parameters.

### Suggested solution

I think it would be better to provide a RetrieveUpdateAPI endpoint unde

[2022-11-21 12:40] matmair commented on #3979
Rer #3901

[2022-11-21 16:09] Ruudjhuu opened #3981 "Import parts csv results in PicklingError: Can't pickle"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

When exporting a parts csv and then importing it with changes or new content a error pops up with:
`PicklingError: Can't pickle <function QuerySet.distinct at 0x7fd500b17c10>: it's not the same object as django.db.models.query.QuerySet.distinct`

### Steps to Reproduce

[2022-11-21 16:18] wolflu05 commented on #3901
@matmair Ok. Im already looking forward to it, when this will be merged 😀 . Just noticed one thing, while I was trying to check one thing. Where is your code? Is it gone?

[2022-11-21 17:09] matmair commented on #3901
@wolflu05 should be there again. Seems like my automation reverted to upstream by default

[2022-11-21 17:13] matmair commented on #3929
Closed by #3972

[2022-11-21 17:26] matmair opened #3982 "[FR] Settings allocator"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Currently, it is not always clear which config plane set a specific setting.

### Suggested solution

Exposing that info with the API would be great.
My implementation idea would be to add a dict that is filled on each config call and that gets

[2022-11-21 21:21] wolflu05 commented on #3901
@matmair ok. Good to hear. Sorry for double posting. I was very confused and thought I already posted this comment, but couldn't find it on my open tab after several reloads so I thought this is a bug with github so I posted it again :D . So now my question for later. Where do you prefer I should share my feedback?

[2022-11-21 21:22] matmair commented on #3862
@martonmiklos sounds nice. Please make an FR - changing the API should be done carefully as there are possibly multiple consumers.

[2022-11-21 21:29] SchrodingersGat commented on #3981
@Ruudjhuu can you please provide a minimum working example of a `.csv` file which causes this issue?

[2022-11-21 22:16] martonmiklos opened #3985 "[FR]Checkbox type part parameters"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

As we discussed in the #3862 it might be useful to implement a 'checkbox' type Part Parameter Template.

I would envision it in the same way as the dropdown implemented:

Users could define two values in the admin page for the Template if the c

[2022-11-21 22:38] martonmiklos commented on #3862
@SchrodingersGat  May I ask for a bit of help with the PR for this one?
The QC checks are failing in the users.tests.RuleSetModelTest:
https://github.com/inventree/InvenTree/actions/runs/3518375224/jobs/5897256781
I made a new model, and I do not know what else do I need to do with it to being inculded in the RuleSet.

[2022-11-21 23:06] SchrodingersGat commented on #3862
@martonmiklos looks like you've worked it out, that's exactly where I would have suggested you update the `RULESET_MODELS` :)

[2022-11-21 23:27] Ruudjhuu commented on #3981
Of course, here are the files you need to be able to reproduce. I only substituted sensitive information.

### Minimal input CSV:
[import.csv](https://github.com/inventree/InvenTree/files/10061248/import.csv)

### Docker compose:
Probably need to change the path to the nginx configuration.
[docker-compose.yaml.txt](https://github.com/inventree/InvenTree/files/10061284/docker-compose.yaml.txt)

###

[2022-11-22 06:53] matmair commented on #3985
@martonmiklos how would you save this in the database? Might there be more input types in the future?

[2022-11-22 09:43] SchrodingersGat commented on #3900
@Hack4Life I'm going to close this out due to inactivity - if you have any further information to add please comment again here

[2022-11-22 09:43] #3900 closed

[2022-11-22 09:44] SchrodingersGat commented on #3861
@t0roide I'm going to close this issue out due to inactivity. If you have any more to add, or any further questions, please comment again here.

[2022-11-22 09:44] #3861 closed

[2022-11-22 09:45] SchrodingersGat commented on #3733
@totallylostagain I'm going to close this out due to inactivity. If you have any further queries please comment again here

[2022-11-22 09:45] #3733 closed

[2022-11-22 10:48] SchrodingersGat commented on #3985
Perhaps we also want some parameters which are "numeric" (and are validate appropriately)?

[2022-11-22 19:08] matmair commented on #3941
@msch-alpgis the question is more about how to efficiently match this with nested locations for multiple items/nested boms. The queries have to scale as there might be a lot of items in one query. Could you provide a PR of your approach?

[2022-11-23 21:33] martonmiklos commented on #3985
@matmair
I would not change anything on the storing database side. In the admin UI we could setup values for checked/unchecked state for each attribute. Think about this feature as a constrain on attribute value.

As @SchrodingersGat mentioned: numeric. From my side: date type attributes might make sense (something like approval date for e.g.).
In the Arena PLM the following types present:
![kép](

[2022-11-24 01:45] SchrodingersGat commented on #3941
@msch-alpgis there are a lot of higher priority tasks for us right now. If you want to see this implemented quickly, you could consider [sponsoring the feature](https://inventree.org/support.html). Otherwise, it will sit in our roadmap until a developer gives attention to it :)

[2022-11-24 02:09] SchrodingersGat commented on #3618
Sentry threw an error on the demo server today:

![image](https://user-images.githubusercontent.com/10080325/203678409-e9b3be2c-dd32-43e7-b6cf-3aca0147f66b.png)

[2022-11-24 12:34] matmair commented on #3618
@SchrodingersGat well this is very helpful. I should turn this on on my instances again - I got too many transactions for the free tier.
I will work out a PR. It should work if we move it to static and ensure the file exists on startup.

[2022-11-24 12:35] matmair commented on #3985
@martonmiklos but how will InvenTree know if a dropdown or a number or a text should be shown?
Cost is already present if purchasing / selling / internal price is enabled.

[2022-11-24 13:05] martonmiklos commented on #3985
The Part parameter template would have a 'type' field which would be an enum (text/dropdown/checkbox/number/etc.)

Yeah, but there could be different type of costs associated to the parts which could be useful to be tracked separately (as an attribute) for e.g. assembly cost. But storing cost data in the attribute brings up some questions on the rendering side too (due to the different currencies)

[2022-11-24 20:12] matmair commented on #3985
@martonmiklos an Enum sounds good. Please leave enough namespace for a lot of expansion (1000 options ought to be enough).

I would prefer to build out the pricing system to support an arbitrary number of pricing types and algorithms. Once the caching system has proven to work under stress in more instances. I.e. plugins that can define extra pricing types and algorithms for min/max calculations.

[2022-11-24 20:39] matmair commented on #3959
This is resolved by #3962. Closing this, for now, feel free to reopen it if the specific error was not resolved.

[2022-11-24 20:39] #3959 closed

[2022-11-24 21:09] matmair commented on #3618
Sooo... I created a PR to upstream https://github.com/fabiocaccamo/django-maintenance-mode/pull/97
I think we should ship that change as part of InvenTree for now as it seems to fix the problems with multiple files etc.
@SchrodingersGat thoughts?

[2022-11-24 21:26] martonmiklos commented on #3985
What do you mean under leaving enough namespace? By looking for references in the code I was looking on the currecy field of the Company model which is a CharField. Would not be the same sufficient?

What shall we do with the #3983?
I would recommend to get it back to WIP, rework the is_dropdown field from the templates to an enum.

[2022-11-24 21:32] matmair commented on #3985
@martonmiklos

To leave enough space in the database field. Ie. enough length for the text (setting mac_length to 2 will get you 100 enums for example).

Sounds good to move to WIP. I think implementing the checkbox in the same PR is reasonable. The difference between the enums (on the frontend) is probably 2 LOCs.

[2022-11-24 21:40] martonmiklos commented on #3985
At the moment the PartParameter's data field is a CharField with max_length of 500:
https://github.com/inventree/InvenTree/blob/master/InvenTree/part/models.py#L3136

Shall we change that? I do not think that using dropdowns/checkboxes would change the amount of data to be stored in the attributes.

Alright we can roll out the dropdown and checkbox together and we can get back later to the number

[2022-11-24 21:57] matmair commented on #3985
@martonmiklos that should be an additional field

[2022-11-24 22:09] martonmiklos commented on #3985
You mean the numeric value of a PartParameter (if we implement it at some point)?

[2022-11-24 22:27] SchrodingersGat commented on #3618
@matmair looks great to me. If you can submit a local PR for us, and we can update d-m-m if they ever update

[2022-11-25 18:45] maksimstojkovic opened #3994 "Logout Redirect URL for Remote Login Configuration"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Hi,

Currently I am testing the use of Inventree behind [Authelia SSO](https://github.com/authelia/authelia) with the remote/proxy login config settings, and everything seems to be working for login. However, upon trying to logout, the logout process seems to fail (i.e

[2022-11-25 18:57] matmair commented on #3994
@maksimstojkovic this is normal behaviour when using REMOTE. In a normal enterprise scenario you would only invalidate a user session once the REMOTE is not set anymore - so invalidate in the IAM/SSO first and then invalidate the session.
I see you submitted a PR to optionally change that - seems a good way to me

If possible I would stay clear of easily spoofable methods like REMOTE and use somet

[2022-11-25 19:02] maksimstojkovic commented on #3994
@matmair Thanks for the clarification, I'll have a look into those options.

[2022-11-25 23:41] #3994 closed

[2022-11-26 00:14] SchrodingersGat opened #3996 "[Bug] Docker builds are currently failing"
<details>
<summary>ModuleNotFoundError: No module named 'yaml'</summary>

<br>2022-11-25T02:08:07.5681558Z   Applying contenttypes.0001_initial... OK
<br>2022-11-25T02:08:07.6096145Z   Applying auth.0001_initial... OK
<br>2022-11-25T02:08:07.6327044Z   Applying account.0001_initial... OK
<br>2022-11-25T02:08:07.6420016Z   Applying account.0002_email_max_length... OK
<br>2022-11-25T02:08:07.6567545

[2022-11-26 09:10] SchrodingersGat commented on #3618
@matmair another type of error thrown by the library:

![image](https://user-images.githubusercontent.com/10080325/204081284-ad6bf791-a4b6-44be-b7c7-aaf59978016a.png)

[2022-11-27 16:55] maksimstojkovic opened #3997 "[FR] 1D Barcode Search"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Search for Parts by scanning a 1D barcode (e.g. a GS1 GTIN barcode in UPC and/or EAN format).

Currently the browser barcode scanner doesn't seem to detect 1D barcodes, while the android app scanner does.
Additionally, the app scanner can read

[2022-11-27 17:06] SergeoLacruz opened #3998 "Stock of substituted template part variants does not show up in BOM"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Hi
I have a template part CAP01 which has no stock. I have two variants of this CAP02 and CAP03 which have 100 pcs stock each.
When I open the part view of CAP01 I see a total stock count of 200 pcs. OK
I have CAP04 which is a normal part with no stock.
Now I have CAP0

[2022-11-28 00:09] SchrodingersGat commented on #3997
@maksimstojkovic what version of InvenTree are you running? The upcoming `0.9.0` release supports custom barcodes for parts: https://github.com/inventree/InvenTree/pull/3640

Can confirm, the "webcam scanner" only picks up QR codes currently.

[2022-11-28 04:31] SchrodingersGat commented on #3996
Build is still failing!

[2022-11-28 06:46] geniesis commented on #3978
It might be valuable to add SCIM 2.0 support when developer this api endpoint, this would allow just in time provisioning with SSO providers.

[2022-11-28 06:51] geniesis commented on #3928
I'm thinking this might be implemented by using a scheduled mixin plugin that would calculate the prices and set the Internal Cost price for the part based on PO information.

This would allow the logic to be disabled easily for users that do not wish to use that type of calculation.

An extension to this could be the automatic calculation of the sale price based on set profit margins. i.e. a part

[2022-11-28 15:46] matmair opened #4001 "[FR] Enable setting API language via header"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Currently, the API response uses the user's language settings. That means the returned language needs to be set in the account first.

### Suggested solution

Add an optional header to set the language of the response.

### Describe alternative

[2022-11-28 17:12] matmair opened #4002 "[FR] Add passkey as a factor"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Currently, there is no support for passkeys as a second factor / for login

### Suggested solution

Add passkeys

### Describe alternatives you've considered

Current factors are fine

### Examples of other systems

_No response_

### Do you wa

[2022-11-28 17:12] matmair commented on #4002
Possible library: https://github.com/mkalioby/django-passkeys

[2022-11-28 21:48] SchrodingersGat commented on #4001
You can set the language in the header request. This is how the app does it, for example.

[2022-11-28 21:50] SchrodingersGat commented on #3928
The recent changes to the pricing architecture (available in the upcoming `0.9.0` release) perform calculation (and caching) for the pricing. So we could add a hook there.

I have considered this but I think it would be best served as a plugin. Pricing calculations are complex and very bespoke to a given user, I don't think we should implement a "one size fits all" automatic sale price calculation

[2022-11-29 06:55] matmair commented on #4001
@SchrodingersGat is that working reliably for you? I have errors with it.

[2022-11-29 06:58] matmair commented on #3978
@geniesis this FR is limited to registration via a single API endpoint - providing the same functionality via REST that is given via the current web UI.
Please open an FR if you want SCIM - that is a more involved request than a single endpoint and is an enterprise feature.

[2022-11-29 07:00] matmair commented on #3996
@SchrodingersGat I can't really rap my head around that - are we using the right venv in the GH action?

[2022-11-29 07:02] matmair commented on #3618
@SchrodingersGat that is a new one - no idea how that can happen

[2022-11-29 07:03] matmair commented on #3985
@martonmiklos the type of the parameter

[2022-11-29 07:04] SchrodingersGat commented on #3996
The truly strange thing is that the builds are passing about 50% of the time

[2022-11-29 07:06] SchrodingersGat commented on #3618
Might be a race condition if the file is created but empty, with multiple workers booting at the same time? We should not throw an error here I think

[2022-11-29 07:08] miggland commented on #3618
That was the original error which caused me to submit https://github.com/inventree/InvenTree/discussions/3617 ... I had the case of an empty `maintenance_mode.txt` when this error appeared.

[2022-11-29 07:16] matmair commented on #3618
Due to the way the file is created it should never be empty. @miggland is the empty file just appearing? Do you use any special storage class?

[2022-11-29 07:17] matmair commented on #3996
@SchrodingersGat Have you tried purging the caches? For the action?

[2022-11-29 07:32] miggland commented on #3950
This is very confusing..

On my main system (Ubuntu, with Firefox 107.0): I can not reproduce this issue now, with exactly the same Inventree instance and data.

On my virtual Windows 7 machine, Firefox 107.0, I get the same error - it goes wrong when the form is loaded, ie " is replaced by &quot; and then saved that way. If I explicitly change back to ", it stays there.

I can not reproduce the i

[2022-11-29 07:33] miggland commented on #3618
Yes, it just appeared - unclear under which circumstances. I store the files on the filesystem, so nothing special - however, it's a virtual machine with a bit of a special backend which sometimes lags out a bit.

Why not, as @SchrodingersGat suggests, give a default value of 0 and not throw an error? (Only a warning?)

[2022-11-29 09:09] SchrodingersGat commented on #3996
@matmair how do I do that?

[2022-11-29 09:10] SchrodingersGat commented on #3950
Sometimes these things are very finnicky to reproduce. If you cannot reproduce in the demo instance, maybe it has already been addressed?

[2022-11-29 09:12] SchrodingersGat commented on #4001
It seems to work ok but I have not looked into it in any depth.

The API class in the app simply uses the "accept-language" header:

https://github.com/inventree/inventree-app/blob/d122a352a6b435c0017ef9b923aab781c1b6b838/lib/api.dart#L690

[2022-11-29 09:28] SchrodingersGat commented on #3998
@SergeoLacruz the combination of "substitute part" and "allow variants" does not work together. The query structure becomes too complex when adding these multiple requirements together.

You can [see here](https://demo.inventree.org/part/81/?display=bom) that the variant stock count works, but variant stock is not calculated "on the fly" for substitute parts.

[2022-11-29 11:19] matmair commented on #3996
@SchrodingersGat go to the actions panel for the project on the left side there is a cache section

[2022-11-29 11:21] matmair commented on #3996
@SchrodingersGat seems like i have suffizient rights, I just cleared everything - rerunning docker action now.

[2022-11-29 12:52] maksimstojkovic commented on #3997
@SchrodingersGat Sweet! Thanks for confirming.

I'll submit a PR shortly that aims to address this.

[2022-11-29 13:36] SergeoLacruz commented on #3998
Thanks for the clarification.And I even cannot allocate the stock in that case.
So I will look for another way that fits our design flow best. Thanks
Michael

[2022-11-29 18:34] matmair commented on #4001
@SchrodingersGat nevermind, I used the wrong lang code

[2022-11-29 18:34] #4001 closed

[2022-11-29 21:28] SchrodingersGat opened #4008 "Refactor / remove "get_bom_price_range""
- Method is too expensive to calculate
- Migrate to use new "cached" pricing structure

[2022-11-29 23:59] SchrodingersGat commented on #3996
@matmair seems to have worked this time, perhaps could be cache related?

[2022-11-30 02:37] SchrodingersGat commented on #3996
Failing again now - https://github.com/inventree/InvenTree/actions/runs/3579782183/jobs/6021307993

[2022-11-30 02:40] SchrodingersGat opened #4009 "Cache "has_complete_bom_price""
When calculating (and caching) BOM pricing, we can determine if an assembly has a "complete BOM price" (pricing available for each line in the BOM).

Store this as a boolean value, can be retrieved and used when displaying BOM data.

- An assembly must have pricing data for each line in the BOM
- Each subassembly must also have complete pricing data
- So, "has complete pricing" is only true if the

[2022-11-30 10:36] matmair commented on #3996
@SchrodingersGat not really sure what causes this. Maybe we disable caching for this workflow?

[2022-11-30 11:31] tombola commented on #4002
If this feature request is taken up, there is also:

- https://pypi.org/project/webauthn
- https://github.com/duo-labs/py_webauthn

It sounds like that approach is getting some real support:
https://realpython.com/podcasts/rpp/133/

_Disclaimer: I do not need this feature especially, just saw the issue_

[2022-11-30 12:06] tombola commented on #3716
Would this be of any interest?: https://github.com/jmcarp/nplusone

I only just found it, and on initial look it appears to log rather than raise exception, but I thought it might be a good way to profile more generally.

I have not yet used myself, was just looking for a way to avoid that kind of issue without having to predict that it might be an issue, and I like that this is abstracted into mi

[2022-11-30 12:32] tombola opened #4011 "[FR] Example use cases (website/docs)"
- [X] I checked and didn't find similar feature request

## Problem

I am a potential new user/contributor and I can't quite identify if InvenTree would be a good solution for my business/client.

It looks like an amazing tool, and takes advantage of in house expertise with django, but I don't want to invest a huge amount of time investigating how we could make it work if it might turn out to be a

[2022-11-30 12:49] matmair commented on #4011
@tombola I would really like that. The problem I faced when trying to get this going is that most users in my circle use it for industrial production, defense or niche industries. There is a (real) fear that openly advertising the use of the tool would/could open one up to targeted probing into the security of InvenTree and then hacking of the company via it / poisoning the supply chain to get to

[2022-11-30 12:51] matmair commented on #3716
For what it is worth: Sentry detects and reports n+1 issues and as far as I know both @SchrodingersGat and I have instances running with it.

[2022-11-30 19:32] Geekly commented on #2648
We use the UI exclusively, but it might make sense to use the scripting API to manage the configuration files.

[2022-11-30 21:17] martonmiklos commented on #3261
Hi folks,

I have an idea in my mind which is slightly related to the supplier integration, just in the opposite way.

Use case: when browsing supplier web sites it could be very useful to see the in house stock levels (if given part is stocked).

To solve this I have envisioned creating a Grease/TamperMonkey user script would do the following:
It would ran on the search results/product detail pag

[2022-11-30 23:11] matmair commented on #3261
@martonmiklos seems interesting but not sure if that should really go into core. If you have a script you can provide me I might be able to create a plugin from that.

@SchrodingersGat what do you think?

[2022-11-30 23:57] SchrodingersGat commented on #3261
@martonmiklos that's a really interesting use-case of the API! I think this would be best suited as a third-party script / add-on, but really cool :)