[2022-03-02 12:02] #521 closed

[2022-03-02 12:16] eeintech commented on #2099
In case OP has any more question, we should probably move to a discussion.

[2022-03-02 14:40] Zontex commented on #2703
In Python3:
[code]

[2022-03-02 14:40] #2703 closed

[2022-03-02 17:49] matmair commented on #2694
@Zontex this deep in the core logic it would make more sense as being done in the main codebase.
@SchrodingersGat what is your view on this?

[2022-03-02 21:52] #2099 closed

[2022-03-03 00:04] matmair commented on #2636
@SchrodingersGat how long should we keep this open?

[2022-03-03 01:44] SchrodingersGat commented on #2636
@matmair we were both unable to reproduce, it may be specific to their setup. I'll close, but @4li-fth please feel free to add more information

[2022-03-03 01:45] #2501 closed

[2022-03-03 13:38] #2398 closed

[2022-03-03 18:39] Zontex commented on #2643
@hacker-h I'm working on a custom react-native (android + iOS) app to enable smart LEDs and label printing from the app itself, could you describe what RFID functionality you want? i.e what's the procedure you usually take when using RFID cards, I will try to implement a demo and test it.

<img width="442" alt="Screen Shot 2022-03-04 at 2 38 15 AM" src="https://user-images.githubusercontent.com/19

[2022-03-03 23:34] matmair commented on #83
@SchrodingersGat would that be of interest for you?

[2022-03-04 17:16] matmair commented on #2501
@MrManny This was merged and released

[2022-03-04 17:30] matmair commented on #2314
@sur5r still intrested?

[2022-03-04 17:35] matmair commented on #677
@maholli the function you asked for should be possible to implement easily with the new plugin functionality.

[2022-03-04 20:00] sur5r commented on #2314
Yes, thanks for pinging. Sadly, I couldn't find time yet. I didn't mean to hog this, so if someone else want's to do it: Please do. Or move it to a later milestone so I don't block 0.7.0.

[2022-03-05 00:53] hacker-h commented on #2643
@Zontex My first use case:
When I scan an RFID tag with a smartphone it immediately shows me which item this is, where it is currently used etc.
My second use case:
To move X items from one location to another I press a button to start a selection, then I scan the RFID tag of each item that shall be moved, finally I select to which location to update all selected items.

[2022-03-05 09:12] matmair commented on #2314
@sur5r no worries or hurries. I am just going through and checking if stuff was already done and missed by us. Greetings from snowy Austria

[2022-03-06 08:41] rkalman opened #2716 "New stock items from trackable parts"
Dear Team,
I encountered a small problem. I hope somebody can make a PR:
When you create a new stock item from a trackable part, it has the same behavior like normal stock items. I mean you can edit the quantity, or even have more than 1 quantity, so the new item is definitely not unique. But when you open the edit stock item dialog and just save it without making any changes the item finally beco

[2022-03-06 10:18] SchrodingersGat commented on #2694
@matmair agreed. Looking at your PR now :0

[2022-03-06 10:29] matmair commented on #2694
@SchrodingersGat the PR is not finished. Working out a few details local. Will ping you once I am done.

[2022-03-06 10:50] SchrodingersGat commented on #2716
Confirmed on latest master

[2022-03-06 11:40] #2716 closed

[2022-03-06 13:44] rkalman commented on #2716
Thank you!

[2022-03-06 14:21] rkalman commented on #2716
Sorry I have just realized the serial field can be alphanumeric as well :) I thought it has to be numeric.
However if I specify a serial number which is greater than 2^31, the API call api/stock/xxx returns with an error 500.

[2022-03-06 16:20] cjdet opened #2718 "[BUG] App QR scanner fails with server version 0.6"
**Describe the bug**

Barcode / QR code scanner in iPhone App does not work. App version 0.5.6 and Inventree version 0.6.1

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Installed a fresh docker version of 0.6.1.
2. Added a part category and a single new part and displayed the QR code for that part.
3. Opened the iPhone App (version 0.5.6), connected to server.
4. Scan barcode withi

[2022-03-06 18:33] matmair commented on #2718
@SchrodingersGat

[2022-03-06 22:52] SchrodingersGat commented on #2718
Confirmed the bug, working on a fix.

[2022-03-06 22:57] SchrodingersGat commented on #2716
@rkalman I thought that specific error had been fixed.. Apparently not. Can you send through the complete error message you see?

[2022-03-07 01:25] #2718 closed

[2022-03-07 02:57] SchrodingersGat commented on #2716
@rkalman managed to reproduce that too.. fix incoming - https://github.com/inventree/InvenTree/pull/2721

[2022-03-08 12:24] jkalousek opened #2724 "[BUG] Docker Container not able to start"
**Describe the bug**/**Steps to Reproduce**
I'm trying to run :stable inventree using portainer stack - which should in general be regular docker-compose:
[code]

Proxy is missing because its functions are handled by other server.
Files are created correctly in specified folders but then I get following errors and constant restart loop...

[code]

I did try to do [Create Database](https://inventre

[2022-03-08 12:56] jkalousek commented on #2724
Ok I figure it out as I'm using portainer, I'm not able to run regular docker-compose or create containers one by one during install. I had to add `command: invoke update` to inventree-server, let it update and than watch output until migrations were finished, than remove command and than inventree started.
Please consider to maybe run update once automatically after each start of container?

[2022-03-08 12:56] #2724 closed

[2022-03-09 01:09] SchrodingersGat opened #2726 "[FR] Unit Testing for Scheduling feature"
Add unit testing for new "scheduling" feature

Ref: https://github.com/inventree/InvenTree/pull/2695

[2022-03-09 02:47] SchrodingersGat opened #2728 "[BUG] Build allocation table is very slow to load"
Looks to be a combination of things:

- Inefficient database query construction (backend)
- Incorrect / inefficient API calls (frontend)

[2022-03-09 22:41] rkalman opened #2733 "[BUG] Deleting a stock location messes up the location hierarchy"
**Describe the bug**

When you delete a stock sublocation something is wrong with the algorithm, the resulting location hierarchy will be wrong.

**Steps to Reproduce**
Steps to reproduce the behavior:

I'm sorry but I tested it on demo.inventree.org (after restoring my database).
Just delete a stock sublocation and you will see the results:
<img width="1222" alt="Képernyőfotó 2022-03-09 - 23 2

[2022-03-09 22:43] rkalman opened #2734 "[BUG] Text cannot be translated"
On this form the marked text is always in english, no translation available on crowdin:
<img width="1277" alt="Képernyőfotó 2022-03-09 - 23 25 07" src="https://user-images.githubusercontent.com/580623/157551263-b7f4dd29-3050-437a-b77f-7c9bb0720eee.png">

[2022-03-10 00:21] SchrodingersGat commented on #2733
This looks to be a duplicate of https://github.com/inventree/InvenTree/issues/2636, which we could never duplicate.

Thanks for reporting this @rkalman we will have to look closely at this one.

[2022-03-10 01:52] SchrodingersGat commented on #2734
Thanks for reporting @rkalman - fix at #2735

[2022-03-10 02:20] #2734 closed

[2022-03-10 05:07] #2636 closed

[2022-03-10 05:07] #2733 closed

[2022-03-10 07:37] rkalman commented on #2733
Thank you fixing this so fast!

[2022-03-10 07:42] SchrodingersGat commented on #2733
No worries, this bug has been around for a while it seems. Happy to have isolated it now.

[2022-03-10 20:51] eeintech commented on #340
@SchrodingersGat Should this be taken into account given the recent build allocation fixes?

[2022-03-10 20:57] eeintech commented on #757
@SchrodingersGat What did you decide on in #2736 ?

[2022-03-10 21:00] eeintech commented on #807
@SchrodingersGat I think this was added in the past few months and I just tested it, empty lines accepted :+1:

[2022-03-10 21:01] eeintech commented on #807
Oops correction, it only works for Purchase orders, not sales orders

[2022-03-10 21:03] eeintech commented on #917
@SchrodingersGat I would close and keep #821 as reference

[2022-03-11 07:42] rkalman opened #2741 "[BUG] Items remain allocated after shipment completed"
**Describe the bug**

After a shipment is completed for a sales order, these items are also considered as "allocated to orders".

**Steps to Reproduce**

Steps to reproduce the behavior:

1. create new sales order
2. create new shipment, add line item, allocate it from stock. It looks like this which is correct:
<img width="1500" alt="Képernyőfotó 2022-03-11 - 8 09 56" src="https://user-images.

[2022-03-11 07:52] rkalman opened #2742 "[BUG] Wrong icon on the place order button"
Small thing only, but the icon mentioned in the documentation would be better I think.
<img width="1306" alt="Képernyőfotó 2022-03-11 - 8 43 36" src="https://user-images.githubusercontent.com/580623/157824701-ebf2aed5-bbc3-4866-b265-8981b2cc2f05.png">

Doc says:
<img width="722" alt="Képernyőfotó 2022-03-11 - 8 45 00" src="https://user-images.githubusercontent.com/580623/157824731-3003989f-0

[2022-03-11 23:23] #2742 closed

[2022-03-14 22:37] matmair commented on #2524
Also see https://stackoverflow.com/questions/16294819/check-if-my-python-has-all-required-packages/45474387#45474387

[2022-03-15 09:17] troppert opened #2749 "[BUG] GUI-Issues after updating Inventree"
**Describe the bug**

**Steps to Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

**Deployment Method**
- [ ] Docker
- [ ] Bare Metal

**Version Information**

[2022-03-15 11:40] SchrodingersGat commented on #2749
@troppert I am assuming you performed the `invoke update` command, which updates the served static files?

Are you running the server in debug mode? If not, are you using the "standard" nginx container to serve the static files?

[2022-03-15 11:53] SchrodingersGat commented on #757
@eeintech this one is a separate issue.

Consider the case where you have a hierarchy of stock locations A -> B -> C -> D , and location "C" has 10 items in it.

If you were to delete C, the following happens:

1. The 10 stock items are now located in "B" (the "parent" location for C)
2. The parent of D is now B
3. The hierarchy is now A -> B -> D

However, the user may have actually wished to del

[2022-03-15 11:54] SchrodingersGat commented on #340
@eeintech yep, I'll add it to the list for the next release. It does need to be addressed, only took three years...

[2022-03-15 11:59] SchrodingersGat commented on #917
Duplicate of #821

[2022-03-15 11:59] #917 closed

[2022-03-15 12:09] SchrodingersGat commented on #2741
Bug confirmed, thanks for reporting @rkalman

[2022-03-15 20:14] #1697 closed

[2022-03-16 08:56] troppert commented on #2749
@SchrodingersGat
Thank you for your quick reply.

Let me write down my procedure. Maybe I use the Docker setup fundamentally wrong.

I am successfully running InvenTree 0.5.4 with the Docker setup on Ubuntu Server 20.04 and hosting it on my local network to use it on my laptop. When I try to safely update I do the following:

- I halt my current inventree version with `docker-compose down`
- I cop

[2022-03-16 09:54] troppert commented on #2749
Sorry I didn't answer your question. Yes I am using the standard nginx container. The debug mode is set to False.

[2022-03-16 11:30] SchrodingersGat commented on #807
@eeintech oh, good point.

[2022-03-16 11:38] SchrodingersGat commented on #2749
Hard to say without more information, but it looks like the CSS files might not be loading properly?

Can you open the developer tools tab in your browser, and check whether `inventree.css` is being loaded? If so, please upload a copy of the css file here

[2022-03-16 12:13] troppert commented on #2749
Since if found this in the page header, I suppose it was loaded:
`<link rel="stylesheet" href="/static/css/inventree.css">`

For more insight:
[inventree.zip](https://github.com/inventree/InvenTree/files/8261940/inventree.zip)

[2022-03-16 12:30] troppert commented on #2749
Because of your hint, I tried to delete the `inventree.css` and run the `invoke update` command one more time. This acutally solved the issue. There must have been a problem with updating the file inside my static folder.

Thank you very much @SchrodingersGat, you lead me right to the issue!

[2022-03-16 13:27] matmair commented on #2310
Closing this - a clean startup is just a cleaner solution to keep the system stable

[2022-03-16 13:27] #2310 closed

[2022-03-16 13:32] matmair commented on #2301
@SchrodingersGat I would start working on an option to remove any and every mention of inventree and all logos if that is ok with you. Should I go ahead for 0.7.0 or is this better for later?

[2022-03-16 22:12] SchrodingersGat commented on #2741
@rkalman should be fixed in latest master now

[2022-03-16 22:19] SchrodingersGat commented on #1435
@matmair sorry can you clarify? Not sure exactly what you are suggesting.

[2022-03-16 22:20] SchrodingersGat commented on #2301
0.7.0 would be fine for this

[2022-03-17 15:59] ldet opened #2756 "[BUG] ValueError on Part page"
**Describe the bug**
Accessing the part page fails with Invalid isoformat string: '04.02.2022'
The date is the creation_date from the part which i am trying to open (DD.MM.YYYY).
Looks like its realted to #2685

**Stacktrace**
<details>
<summary>Click to expand</summary>

[code]
</details>

**Deployment Method**
- [ ] Docker
- [x] Bare Metal

**Version Information**
InvenTree-Version: 0.7.0 dev
Dj

[2022-03-17 20:27] matmair commented on #2756
@ldet not sure if the helper function will not be transfered over. The fix is quite simple so not really blocking.

[2022-03-17 22:20] rkalman commented on #2081
A part category page (/part/category/{id}) has a large "parametricPartTable" which includes info about each part (note the line numbers on the left):
<img width="517" alt="Képernyőfotó 2022-03-17 - 23 06 21" src="https://user-images.githubusercontent.com/580623/158903184-a49be97a-8ff6-4d96-847d-bd0ac5129dba.png">
<img width="602" alt="Képernyőfotó 2022-03-17 - 23 07 04" src="https://user-ima

[2022-03-17 22:22] rkalman commented on #2742
Thank you!

[2022-03-17 22:25] rkalman commented on #2741
Thank you again, Oliver!

[2022-03-17 23:17] matmair commented on #2081
@SchrodingersGat that seem like a great place for a paged API

[2022-03-17 23:33] matmair commented on #1435
@SchrodingersGat I would add a float field to the supplier part model with how many of the part/manufacturer part are contained by the supplier part. So on receiving the part would be split into that many parts. Also, there needs to be a check so that trackable parts are only split into full units.

[2022-03-18 00:05] SchrodingersGat commented on #1435
@matmair right, I think that makes sense.. We'd need to consider this very carefully.

[2022-03-18 00:12] #2756 closed

[2022-03-18 00:26] SchrodingersGat commented on #2081
@rkalman great insight, looks like this page is being rendered server side, rather than via the API (like most other pages).

[2022-03-18 00:27] SchrodingersGat opened #2760 "part category page load speed"
A part category page (/part/category/{id}) has a large "parametricPartTable" which includes info about each part (note the line numbers on the left):
<img width="517" alt="Képernyőfotó 2022-03-17 - 23 06 21" src="https://user-images.githubusercontent.com/580623/158903184-a49be97a-8ff6-4d96-847d-bd0ac5129dba.png">
<img width="602" alt="Képernyőfotó 2022-03-17 - 23 07 04" src="https://user-ima

[2022-03-19 01:25] Oakman-Dev commented on #2479
I'd love to see this, I believe it would supercharge adoption as well.

[2022-03-19 11:24] SchrodingersGat commented on #2760
This will be fixed in https://github.com/inventree/InvenTree/pull/2761

[2022-03-19 11:48] #2760 closed

[2022-03-19 11:50] SchrodingersGat commented on #2045
@sintech I think that this requirement has been met now? Can I close this out? Please let me know if you think this has not actually been addressed.

[2022-03-19 12:11] sintech commented on #2045
@SchrodingersGat, no, part still has to be trackable to appear in "Install Stock Item" "Part*" field. And stock item should have assigned serial number to appear in "Stock Item*" field. And container part has to be trackable too.
Looks like nothing has changed in 0.6.x related to this FR.
Please reopen.

[2022-03-20 01:10] matmair commented on #2045
Just my 2-cents: If you want to track what parts are installed into what stock you want to track details about it -> so the trackable makes sense. Also, it ensures that there is only one part assigned to the stock item.

[2022-03-20 01:16] matmair commented on #2479
I do not have a timeline for this - keep running into blocks on multiple sides.
Also, I do think adoption via too simplified install paths will raise the support quite a bit. Docker for example seems to cater to ppl. that do not read the documentation. We saw that with the last release and I am not sure if that is really something to strive for. PLMs require a certain level of understanding of inf

[2022-03-20 05:35] SchrodingersGat commented on #2045
I agree with @matmair here - I'm not sure what a suitable alternative would look like.

[2022-03-20 05:44] SchrodingersGat commented on #2264
@matmair just had a look at easy mde, looks like it will be a great fit :)

[2022-03-20 07:42] sintech commented on #2045
I described my usecase in the first post: tracking of extension boards inside computer case or any other modules inside mother enclosure.
As far as I have only one item of each kind of sub-module I don't see any reason to make them trackable. In other case when I will have for ex. two video cards of the same model it makes sense to make them trackable. But again if they are identical does it matte

[2022-03-20 08:07] #2279 closed

[2022-03-20 08:07] #2282 closed

[2022-03-20 16:24] matmair commented on #2045
@sintech there are things happening in the business logic regarding if a part is trackable or not. So it matters that a part is marked trackable. If we rove that flag we will just have to make a new flag for that or hide a lot of parts in the selection -> the amount of work for the user is the same.

This feature only works if certain requirements are met. The limits are very intentional and I thi

[2022-03-20 20:15] #2524 closed

[2022-03-20 22:17] SchrodingersGat commented on #2045
I am in agreement with @matmair here - I don't think the proposed change makes sense for InvenTree

[2022-03-21 08:20] sintech commented on #2045
@matmair , I'm sorry but I don't get your point. Why system will become unreliable?
It was already discussed that BOM requirement for container part is closing all issues with inner part selection. Assembly requirement doesn't allow any other parts to become container.
What happened in last 6 months that you guys have changed your opinion?
I'm not asking you to develop this if you don't like it, j

[2022-03-21 14:55] eeintech commented on #2045
Hello @sintech

I'm sorry for your frustration, @matmair and @SchrodingersGat have been pushing forward with a lot of new features recently and it's an incredible effort given they are doing this on their free time.
The problem is, many more users means many more requests for new features... which could grow a, right now stable, software into a monster if one keeps on adding more and more things w

[2022-03-24 22:55] matmair commented on #2045
@sintech if you have a PR that works I see no reason to not look at it.

There are architectural challenges with your requests - you will see yourself, especially when starting to add unit tests. Maybe your fresh view will find ways I could not think of - I would be glad to be proven wrong.
There are a lot of use cases for InvenTree and everything that is there should generally keep working in exa

[2022-03-26 06:01] SchrodingersGat opened #2777 "[FR] Live editor for report and label templates"
Currently the process of adding report and label templates is complex, requiring upload of template files (.html) without a "live preview".

An alternative workflow could be to provide a "preview" window, much like the markdown editor.

The templates can be rendered to an image, rather than PDF, allowing "live" rendering as the template is edited.

This would make the whole reporting / labelling e

[2022-03-26 06:10] SchrodingersGat opened #2778 "[FR] Specify if a particular part can exist in "non integer" quantities"
It only makes sense to allow non-integer quantities for certain types of parts.

For example, a microcontroller cannot exist in a quantity of 0.35

We should add a boolean field to the Part model to indicate whether a part is allowed to exist in a non-integer quantity. Then, some business logic would have to be created to reflect this idea.

[2022-03-26 13:25] matmair commented on #2777
@SchrodingersGat sounds like a huge task. I thought about that too. Monaco editor or CodeMirror could be a reasonable way to build it.

[2022-03-27 07:44] rkalman opened #2781 "[BUG] Floating point precision problem when calculating required quantities in a build order"
This is a tricky one.

Create a new part to build, with a BOM item that require fraction quantities:
<img width="1674" alt="Képernyőfotó 2022-03-27 - 9 34 40" src="https://user-images.githubusercontent.com/580623/160271874-908fd778-6e2d-4d84-8c2f-202519907b80.png">

Create new build order with more than one quantity:
<img width="1242" alt="Képernyőfotó 2022-03-27 - 9 35 51" src="https://user

[2022-03-27 09:32] SchrodingersGat commented on #2781
@rkalman thanks for reporting this, looks like the age-old floating point issues have reared their head again! Fixes in https://github.com/inventree/InvenTree/pull/2782

[2022-03-27 10:57] #2781 closed

[2022-03-28 07:26] rkalman opened #2784 "[BUG] 404 missing url api/plugin"
When you want to print labels, note the red message in the background:
<img width="356" alt="Képernyőfotó 2022-03-28 - 9 23 51" src="https://user-images.githubusercontent.com/580623/160347355-e38ca98e-6e6f-4ca1-abde-8860cf9bb2c6.png">
<img width="564" alt="Képernyőfotó 2022-03-28 - 9 23 57" src="https://user-images.githubusercontent.com/580623/160347369-ac7f2150-45c1-4521-926a-db94310586d9.p

[2022-03-28 07:28] SchrodingersGat commented on #2784
Do you have plugins enabled on the server?

[2022-03-28 07:32] rkalman commented on #2784
It is coming from demo.inventree.org, possibly plugins not enabled.
But it would be nice to avoid this red message even if no plugins enabled.

[2022-03-28 09:46] SchrodingersGat commented on #2784
Fix incoming at https://github.com/inventree/InvenTree/pull/2785

[2022-03-28 10:48] #2784 closed

[2022-03-28 20:20] rkalman commented on #2784
Thank you!

[2022-03-28 23:39] alexisvl opened #2787 "[BUG] Check-in broken after update to 0.6.2"
**Describe the bug**
After updating to 0.6.2 from 0.5.something (sorry) I'm having a weird issue with the "Check-in items" tool on stock locations. See screenshot - this is after scanning a valid barcode. It says "added stock item", but the table shows nothing, and the check-in button is not clickable. If I re-scan the item, it then says "Stock item already scanned" and I can click Check In now an

[2022-03-28 23:44] alexisvl commented on #2787
Actually, I said that double-scanning will make it work, but I just tried it this time and got a 400 error. I'm too nooby with web app anything to know where to get more info about that, I checked /var/log inside the container for anything interesting with no luck and the "Error report" page in the admin interface shows nothing.

[2022-03-28 23:54] alexisvl commented on #2787
I just got the "Stock item already scanned" from the _main_ barcode scan dialog this time - the one that should take me to that stock item's page on scan. Something is very very weird here.

[2022-03-28 23:55] alexisvl commented on #2787
To maybe put some more bounds on this issue - I also get the 400 if I go to the stock item page first and then "Scan to location", but it's happy to let me reassign the location via "Transfer stock".

[2022-03-29 00:02] SchrodingersGat commented on #2787
@alexisvl thanks for reporting this, we'll take a look :)

[2022-03-29 05:57] maksimstojkovic opened #2788 "[BUG] Deleting a Customer Breaks Associated Sales Orders"
**Describe the bug**

After deleting a Customer, any existing Sales Orders associated with the Customer receive the name "Invalid Customer", and cannot be opened using the left-side link in the Sales Order table.

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Go to page for specific Customer.
2. Access admin panel using blue icon with tooltip "View in Administration Panel".
3. Scrol

[2022-03-29 06:13] matmair commented on #2788
Hi there @maksimstojkovic !
Is there a specific reason you use the admin panel to delete the company? We generally do not recommend to use the admin panel if not advised to as some business logic is not applied there.

[2022-03-29 06:24] maksimstojkovic commented on #2788
Hi @matmair!

There was no particular reason for using the admin panel. I just tested deleting a customer without accessing the admin panel and the same behaviour was observed.

It appears the issue is in the string shown in the page breadcrumb.

[2022-03-29 06:28] maksimstojkovic commented on #2788
I believe that the behaviour of Sales Orders remaining after customer deletion is correct as allocations should not be destroyed during customer deletion (e.g. deleting customer after an SO has been shipped).

[2022-03-29 06:58] matmair commented on #2788
@maksimstojkovic just trying to root out causes while I am away from my dev environment.
I think it should be an easy fix. You are right about orders being persistent. In general i do not recommend deleting anything.

[2022-03-29 08:21] SchrodingersGat commented on #2788
@maksimstojkovic thanks for raising this issue. Deciding on the "correct" behaviour here is tricky. If the customer (`Company`) object is deleted, but you wish to retain orders associated with the customer, then those orders lose the reference to the original customer.

As @matmair suggests, if you want to retain this data, then not deleting the customer is the way to go.

However, clearly you've

[2022-03-29 18:39] matmair opened #2789 "[FR] Switch UI to React"
**Is your feature request the result of a bug?**
No - More or a vision

**Problem**
Currently we build a lot of html templates and js. As there is a disconnect between the server and the frontend we do not really have tests for the frontend. Also there is a lot more data transmitted than needed.

**Suggested solution**
- Switch to React (or a framework that uses React as basis like remix or next.j

[2022-03-29 18:43] matmair commented on #2789
@SchrodingersGat can we get a 1.0 milestone for that? @eeintech

[2022-03-29 21:16] sintech opened #2790 "[FR] Include substitute items into "Available" stock in BOM table"
**Problem**
Currently only stock for base Item is displayed in BOM table. When we have substitutes for an item, their stock is not counted as available and only can be seen in "Edit BOM Item Substitutes" window. "Can Build" column is also calculated only for base item.

**Suggested solution**
Display total stock of substituted items plus base item.

**Describe alternatives you've considered**
Show

[2022-03-29 21:40] SchrodingersGat commented on #2790
This is a good idea, might be a little complex to implement but should be able to make it work :)

[2022-03-29 21:50] matmair commented on #2790
@SchrodingersGat this could get complex fast. Do you think 0.7.0 is realistic?

[2022-03-29 22:48] matmair commented on #2788
@SchrodingersGat I choose to implement 2 as it seems to be the solution that keeps the most options for users whilst providing good data retention. I will use a custom manager and models.SET() for that.

[2022-03-30 02:36] #2384 closed

[2022-03-31 11:14] rkalman commented on #2741
Hi Oliver, just one more flaw regarding this.
After the shipment completed, on the part page the "available stock" counter seems wrong. In this case it should be 14 instead of 14-3=11. Tested on demo.inventree.org:
<img width="1651" alt="Képernyőfotó 2022-03-31 - 13 09 49" src="https://user-images.githubusercontent.com/580623/161042702-8744806c-e371-485e-952e-bc71be534900.png">

[2022-03-31 14:07] rkalman opened #2794 "[FR] Auto allocate stock to a sales order"
**Problem**
If you have a large sales order (with a lot of items) from a customer, there are no Auto-Allocate / Unallocate / Allocate Stock functions like in the case of a build order:

![Képernyőfotó 2022-03-31 - 15 57 51](https://user-images.githubusercontent.com/580623/161074156-eea5138b-84b8-4c10-bd36-dc450f05d38a.png)
![Képernyőfotó 2022-03-31 - 16 03 39](https://user-images.githubusercontent

[2022-03-31 15:34] rkalman opened #2795 "[BUG] BOM table available stock calculation"
**Describe the bug**
BOM table shows "in stock" in "Available" column instead of "Available stock". So this field excludes allocations.

**Steps to Reproduce**
![Képernyőfotó 2022-03-31 - 17 28 27](https://user-images.githubusercontent.com/580623/161093293-5f116d89-6df8-47f1-8165-713a45cdcf25.png)
![Képernyőfotó 2022-03-31 - 17 29 35](https://user-images.githubusercontent.com/580623/161093307-f0b9

[2022-03-31 18:18] matmair commented on #2789
@eeintech huge adoption, not very opinionated, good toolset ecosystem and a lot of examples that this sort of application can be done in react.
The tooling is a good fit for what we already do with js. A lot of code should be adaptable rather easy. And there are not as much heavy breaking changes as in vue. Got burned by that too often now.

[2022-03-31 18:26] matmair commented on #2795
Thanks for the report @rkalman !
Please also add the version information if you report errors on demo.inventree.org . We update daily so it becomes hard to find the effected tag after a few days. If something is dormant for a while it is nearly impossible to identify which versions need patching.

[2022-03-31 18:32] rkalman commented on #2795
# Version Information:
InvenTree-Version: 0.7.0 dev
Django Version: 3.2.12
Commit Hash: 6eab3db
Commit Date: 2022-03-30
Database: postgresql
Debug-Mode: False
Deployed using Docker: True

[2022-04-01 17:51] eeintech commented on #2789
Sounds good thanks!

[2022-04-01 18:26] matmair commented on #2789
@eeintech always open for feedback but I think react is a good compromise.

I will do a prototype for how I would tackle it so we can discuss the architecture, todos etc. in the coming months. It is a lot but not as much one would think - we can reuse all the API forms from what I can see.

[2022-04-02 00:12] SchrodingersGat commented on #2741
Thanks @rkalman this extra bug will be fixed in #2797

[2022-04-02 19:01] pawcio0928 opened #2799 "[BUG] Uploading image not working"
Hi, I have problem with Inventree version [0.6.3] when I trying upload image from file or from link. After selected image file and clicking Submit I always get error:
 Unhandled Error Code
Error code: 500
URL: /api/part/2008/

I have deployment on Docker. I also tested adding file as attachment to ensure that my configuration of media folder is correct.

Hope that is easy to fix.
<img width="1456"

[2022-04-02 20:39] matmair commented on #2799
Hi there @pawcio0928 !
Could you add the version information from the version modal (upper right corner) and look into the logs for an error message? Error 500 is something on the server but not very descriptive. There is a [help page](https://inventree.readthedocs.io/en/latest/settings/logs/) on that.

[2022-04-02 22:41] SchrodingersGat commented on #2799
Yep @pawcio0928 as @matmair says we'll need to see what the error message actually is :)

[2022-04-03 09:12] pawcio0928 commented on #2799
Thank you @matmair  and @SchrodingersGat.

I miss that errors in admin panel.

Traceback (most recent call last):

File "/home/inventree/.local/lib/python3.8/site-packages/django/core/handlers/base.py", line 181, in _get_response
response = wrapped_callback(request, *callback_args, **callback_kwargs)

File "/home/inventree/.local/lib/python3.8/site-packages/django/views/decorators/csrf.py", line 5

[2022-04-03 09:26] SchrodingersGat commented on #2799
It would appear that the server (running inside the docker container application) does not have write permission to the /media directory.

Did you set that up according to the docs? How / where are you storing the uploaded media files?

[2022-04-03 09:28] marianhlavac opened #2800 "[BUG] ValueError: Field 'id' expected a number but got ''."
After few weeks of using the self-hosted Inventree instance we noticed, after a few days of not using it, that it is not acessible anymore and returns 500 to all requests. After exploring the logs it seems there is some kind of database access failure.

There is a little chance we had database corruption due to service outage. We host the Postgres instance on Amazon RDS and we never touched the da

[2022-04-03 10:00] marianhlavac commented on #2800
Ah, managed to figure it out, of course right after opening the issue.

What I haven't noticed was failing runs of `invoke update` after version update. There was new version pushed to the stable channel, but the migrations were never performed. I ran `invoke migrate` and the problems went away.

But still the issue with `invoke update` persists and caused this situation.

For some reason it canno

[2022-04-03 10:44] pawcio0928 commented on #2799
@SchrodingersGat I found out that I migrated from old version I just copied folder with part_images and this made problem in my configuration. Thank you for your help.

I have one suggestion to add webp image as supported format.

[2022-04-03 10:44] #2799 closed

[2022-04-03 11:44] SchrodingersGat commented on #2800
I'm assuming you're attempting to run `invoke update` from the default directory inside the docker container? (e.g. `/home/inventree`)?

@matmair do you have any experience running docker swarm?

[2022-04-03 15:19] matmair commented on #2800
While I do not deploy with swarm it should work. I am using k8 in my deployments without problems. Probably a problem withe the path.
@marianhlavac can you check if the file is existing in the image?

[2022-04-03 19:56] nelsonov opened #2802 "[BUG] "invoke superuser" hangs"
**Describe the bug**
invoke superuser hangs
[code]
There is a CR/LF after the Username prompt, but then nothing more.

**Steps to Reproduce**

Steps to reproduce the behavior:
[code]

**Expected behavior**
command executes and completes

**Deployment Method**
- [ ] Docker
- [x] Bare Metal

**Version Information**
git commit d1d7db76cc1109f46cc8404470f93a96ad0ca51f

**Environment**
Bare metal Raspb

[2022-04-03 23:54] nelsonov commented on #2802
Is there a way to replicate the commands that "invoke superuser" would have done?  Does it just create entries in the database or does it do a lot more?  I know nothing about Django, so this may be a silly question.

[2022-04-04 00:10] nelsonov commented on #2802
I answered my own question.  I poked around and was able to do this:
[code]

I am now able to login as that user.

[2022-04-04 00:37] SchrodingersGat commented on #2802
@nelsonov great that you got it sorted, but very strange that your solution worked! The `invoke superuser` command is simply running exactly what you are doing behind the scenes...

![image](https://user-images.githubusercontent.com/10080325/161456425-be1f6f51-4e99-4118-9650-44e6c350841b.png)

[2022-04-04 00:37] #2802 closed

[2022-04-04 00:44] nelsonov commented on #2802
Lot's of grep'ing led me to the same path you show above.  I even tried the `invoke superuser` command in the same terminal immediately before running  `manage.py`. `invoke superuser` hung but `manage.py` did not.  Very weird.  I blame gremlins.

[2022-04-04 00:49] SchrodingersGat commented on #2802
Ah, yes we would suggest that any gremlins are removed from the system before installation.

[2022-04-04 06:25] SchrodingersGat commented on #2787
@alexisvl fixes in https://github.com/inventree/InvenTree/pull/2803

Are you able to check if it works (as far as you can tell)?

You can click on the "gitpod" link on the referenced PR to launch the new code in a web browser without having to download or run anything locally.

[2022-04-04 20:38] matmair commented on #2800
@marianhlavac the requirements file should be in / and in /docker (from the containers entrypoint - which normally is /home/InvenTree/). Could you check for them in the image?

[2022-04-05 03:00] SchrodingersGat commented on #2341
Note that this has now been implemented for BOM data import - https://github.com/inventree/InvenTree/pull/2603

This concept needs to be abstracted, and used for other data import functions (e.g. "part" data)

[2022-04-05 12:11] marianhlavac commented on #2800
Hi guys, thanks for giving attention to this, sorry for the delay.

@matmair is right, the working directory was incorrect, I was running the `invoke update` command using `docker exec` instread of `docker run`. For some reason (will investigate later) the working directory is different for these two commands:

[code]

vs

[code]

Thanks for the help, this issue was caused just because of wrong co

[2022-04-05 12:11] #2800 closed

[2022-04-05 12:31] SchrodingersGat commented on #2794
@rkalman nice idea, would represent a fair amount of work! I'll tag is for the next-but-one release

[2022-04-05 13:06] rkalman commented on #2794
Thank you!

[2022-04-05 14:29] matmair commented on #2800
@marianhlavac no problem. If the documentation could be clearer do not hesitate to point it out.
We always try to improve and are pretty new to these technologies ourselfs.

[2022-04-05 23:27] #2787 closed

[2022-04-05 23:27] SchrodingersGat commented on #2787
Fix has been made, lmk if you still see any issues!

[2022-04-06 06:41] maksimstojkovic opened #2810 "[BUG] Complete Sales Order Without Refreshing Page"
**Describe the bug**
Upon completing all shipments associated a sales order in the pending shipments menu, the page needs to be refreshed before the order can be completed using the "Complete Order" button. If the page is not refreshed, the button is slightly faded and cannot be clicked.

Additionally the value shown in the "Completed Line Items" is not updated after allocating stock or removing l

[2022-04-06 16:32] G-Pereira opened #2811 "Exception while importing purchase order file"
**Describe the bug**

When I try to submit a CSV to a purchase order right after I click "Upload File" I get an Internal Server Error [with this log](https://pastebin.com/sAsdZ8QU)

**Steps to Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

A file choosing window to select which file on my computer should be uploaded

![image](https://user-images.githubusercontent.com/1552130

[2022-04-06 17:19] eeintech commented on #2811
@G-Pereira Can you please use the standard bug report template for your issue? See below.

[code]

[2022-04-06 19:22] G-Pereira commented on #2811
Sorry @eeintech no idea why the page took me straight to a blank issue

[2022-04-06 19:23] G-Pereira commented on #2811
Please check now @eeintech

[2022-04-06 20:46] eeintech commented on #2811
@matmair I can reproduce the error, and it is the same error than one for the view to import parts, I just tested that view in https://github.com/inventree/InvenTree/discussions/2807#discussion-3988597

[2022-04-06 22:21] SchrodingersGat commented on #2810
Thanks @maksimstojkovic

[2022-04-06 22:23] #2811 closed

[2022-04-07 03:35] Rubisco16 opened #2813 "Default system time"
Hi there,
Can I change the default system time zone of my inventree system? When I export the stock item tracking imformation, the default time zone is GMT. If I want to change to other time zone, what can I do?

[2022-04-07 03:40] SchrodingersGat commented on #2813
Change the "timezone" option in `config.yaml` file

https://inventree.readthedocs.io/en/latest/start/config/

[2022-04-07 03:44] Rubisco16 commented on #2813
Thank you!!!

[2022-04-07 04:09] #2813 closed

[2022-04-09 03:37] nelsonov opened #2815 "Not importing in_stock from csv or xlsx"
**Describe the bug**
Not importing in_stock from csv or xlsx

**Steps to Reproduce**

Steps to reproduce the behavior:
Two scenarios:
A:
1) Export an example of the parts to be imported
2) Modify/Add to the spreadsheet to contain new parts
3) Make sure in_stock column is populated
4) import into IvenTree

B:
1) Export parts whose in_stock field is to be updated
2) Modify the spreadsheet to update

[2022-04-09 09:10] SchrodingersGat commented on #2815
@nelsonov this is expected behaviour, as the "in_stock" column is a *calculated* read-only value.

After importing parts, stock items must be imported as a separate step.

[2022-04-09 09:21] nelsonov commented on #2815
Ah, that makes sense.  I was getting ahead of myself.

[2022-04-09 09:21] #2815 closed

[2022-04-10 12:44] #2264 closed

[2022-04-12 08:44] martonmiklos opened #2817 "[FR]Build routing?"
**Problem**
I know that Inventree is more a storage management system and not MES (Manufacturing Execution System) however supporting build routing would add to it's trait I think in the build management aspects.

Foreword: the terminology I will use below comes from a company where I worked for. We can deviate from this terminology of course.

Most of the manufacturing processes can be broken dow

[2022-04-12 21:16] 4jag opened #2819 "[BUG] BOM import fields limited to 500 characters"
**Describe the bug**
Importing an XLSX file with greater than 500 characters in a fields produces an error -- I have some large boards that have Reference field with MANY locations.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Create a BOM data file with a >500 characters in any field (I ran into this on "Reference" column)
2. Go to `part/<id>/bom-upload`
3. Click on 'Upload BOM Fil

[2022-04-12 21:43] #2240 closed

[2022-04-12 21:43] #935 closed

[2022-04-12 22:24] matmair commented on #2819
Not a bug, this is a known (and as seen in the screenshot validated) limitation to keep imports reasonably fast.
We are always open for PRs that enable longer imports while keeping response times under 30secs per API call.

[2022-04-12 23:20] matmair commented on #2817
Hi there @martonmiklos !
This feature was already suggested but not worked on (based on no further comments) in #2189 .

This would be a significant amount of work. Especially with separating the function out because MES is out of cope for any users.
I will think about all needed components and post a suggested architecture in the following days.

[2022-04-13 04:48] SchrodingersGat commented on #2819
Agreed, this field is simply limited to 500 characters

[2022-04-13 04:48] #2819 closed

[2022-04-13 08:48] martonmiklos commented on #2817
Hi @matmair

Ah, I read trough all open issues looking for similars to my suggestion but did not find it (as it was closed).

Based on the title of this table (note I am not a native French speaker ;) ) I am under the impression that the #2189 tries to put two things in one hat:
![kép](https://user-images.githubusercontent.com/1609182/163136275-86460e60-e4cc-4567-a230-4190b797d56f.png)
- Manufactu

[2022-04-13 09:38] SchrodingersGat commented on #2643
The source code for the mobile app is now released - please redirect this discussion over to the new repo - https://github.com/inventree/inventree-app

[2022-04-13 09:38] #2643 closed

[2022-04-13 09:40] SchrodingersGat commented on #2255
@Oakman-Dev this is now ready to go!

Label printing plugins are now directly supported.

[Read the documentation](https://inventree.readthedocs.io/en/latest/extend/plugins/label/)

[See an example](https://github.com/inventree/inventree-brother-plugin)

[2022-04-13 09:40] #2255 closed

[2022-04-13 09:47] SchrodingersGat commented on #2817
Currently (at my work) we kind of "hack" this in, by using the existing testing framework.

For example:

- If the device has had firmware programmed on, the "firmware" test will have passed (and the firmware hash provided).
- The board has gone through AOI. It may have been through multiple times if for e.g. it required rework. Each AOI pass is recorded
- The PCB has been through bed-of-nails tes

[2022-04-13 10:33] martonmiklos commented on #2817
Yeah, we are pretty much walking in the similar boot.

Our testing framework currently only does a very simple logging: it produces an XML file which contains the result and all of the test steps' parameters (both measured and input parameters like test limits).

If this question is addressed to me: I would like to have a web based overview of a Build order broken down to serial number.
And I woul

[2022-04-13 11:12] SchrodingersGat commented on #2817
Perhaps "testing" is the wrong nomenclature here, then. If the terminology was something like "processes" then this could easily include other steps like inspection, packaging, etc.

We currently have "tests" which are called things like "applied label" or "installed wire harness". Not really a "test" specifically, but for our tracking purposes it amounts to the same thing.

I think that there is

[2022-04-13 12:38] SchrodingersGat commented on #2819
@4jag this is a separate issue to the "500 character limit" issue.

If you are importing a BOM file with 1500 parts, that is a *lot* of data for the backend to process and serve back to the client via the API.

Can you please share some information on the error you are seeing now? Is the system reporting a timeout to the server?

[2022-04-13 13:03] 4jag commented on #2819
I was just responding to @matmair 's comment that it's a _"known limitation to keep imports reasonably fast. ... while keeping response times under 30secs per API call."_ I find when the import takes longer than 30 seconds, I get a "Bad gateway" error from NGINX, and I wasn't sure if that's an artificial timeout or something that could be lengthened to accommodate larger data imports.

So it sound

[2022-04-13 18:22] matmair commented on #2819
@4jag the 30 seconds comes from nginx which used the default of apache2. Setting any higher value will lead to security warnings with a lot of enterprise cmdbs or outright alerts by monitoring tools.

This is why django and most libraries come with settings to be well under this limit. That is where the 500 characters come from - it is a battle-tested default.
I strongly suggest to not make users

[2022-04-14 13:33] simonkuehling opened #2829 "[BUG] (minor) When adding a top-level stock location, a parent location is optional - but has an asterisk (*) in form"
**Describe the bug**
In the "New Stock Location" form, the `Parent` field is marked as mandatory with a `*` - but in order to enter a new top level location, there is no parent to it. Right?
So that field should generally be marked optional without an asterisk, I guess...? As a new user it took me quite a while to even try just leaving the field empty.

![Bildschirmfoto vom 2022-04-14 15-06-59](ht

[2022-04-15 06:04] #2790 closed

[2022-04-15 06:04] SchrodingersGat commented on #2790
This has now been implemented - substitute stock quantities are included in BOM table

[2022-04-15 09:06] SchrodingersGat opened #2831 "[FR] Display "batch" information when selecting stock items in forms"
Ref: https://github.com/inventree/InvenTree/discussions/2830

[2022-04-15 09:42] #1301 closed

[2022-04-15 12:32] #2829 closed

[2022-04-16 11:57] rkalman commented on #2795
Fixed by #2796

[2022-04-16 11:57] #2795 closed

[2022-04-16 19:23] matmair commented on #2817
I tought about this the last few days and I would suggest this architecture:
- Adding a new model 'Process'. This model is a TreeModel with a least this fields:
  - Name
  - Description
  - 'Must be done for build' -> stops BOs from finishing if not checked for each part
  - 'Children' -> Sub-Steps are steps themself which are linked as children
  - 'Worktext' -> Markdown field for a nice text
- N

[2022-04-17 08:43] martonmiklos commented on #2817
Hi @matmair

Frohe Ostern, and many thanks for your proposal!

If I understand the proposed models correctly it supports the 'checklist like' approach. I think the order of the manufacturing steps execution is used to be very important in most cases. Even if you can swap steps (like solder wires to the board before the assembly of the connector), it is healthy to rigorously follow a given well-tes

[2022-04-17 13:44] SchrodingersGat opened #2835 "[FR] Allow "batched" items to be manually installed into assemblies"
Ref: https://github.com/inventree/InvenTree/discussions/2830#

[2022-04-17 14:40] alexisvl commented on #2787
Weird, apparently I wasn't getting notifications. Oops. Thank you so much, I'll test this out soon.

[2022-04-18 08:34] matmair commented on #2817
@martonmiklos thank you.

All tree models have an order built in by MPTT but I can appreciate where you are coming from. I will create a data model graph today so we can discuss this further. I think we are going into a similar and right direction.

[2022-04-18 13:43] #2831 closed

[2022-04-19 10:23] pulimoodan commented on #2810
Can you please assign this issue to me

[2022-04-19 11:15] #2835 closed

[2022-04-19 19:44] matmair commented on #2817
@martonmiklos @SchrodingersGat I would suggest this structure (new models in green).
![db_model_processes](https://user-images.githubusercontent.com/66015116/164082575-a3cc4d10-e784-41e6-bd37-d17eb3902b50.png)
If you want to change it just open it in draw.io - the source-code is embedded.

This way it should be easy to manipulate the processes (moving processes with sub-processes for example). Als

[2022-04-19 23:33] SchrodingersGat opened #2845 "[FR] Identification Plugin System"
Add a new plugin system for "identifiying" or "locating" components. Could be used from the web or the app.

This has been implemented (custom) with great effect already, it would be fantastic to add proper support for this via the plugin ecosystem.

### References

- https://github.com/inventree/InvenTree/discussions/2678
- https://www.reddit.com/r/raspberry_pi/comments/t0c99r/raspberry_pi_cm4_sm

[2022-04-20 01:05] SchrodingersGat opened #2846 "[FR] Add example docker-compose for mysql database"
There are examples for postgresql (default) and sqlite. But no docker-compose for mysql

[2022-04-20 01:30] SchrodingersGat commented on #1277
Closing stale issue

[2022-04-20 01:30] #1277 closed

[2022-04-20 07:30] martonmiklos commented on #2817
Well I was not aware of that the tests are covered already in Inventree.

The proposed schema looks good to me!

[2022-04-20 10:38] simonkuehling opened #2848 "[FR] Part IPN Auto-Generator Plugin"
**Is your feature request the result of a bug?**
No.

**Problem**
I'd like to use the internal Part ID as my main Identifier of parts throughout the business - as a unique identifier for BOMs in CAD programs (mechanical like Onshape, electrical like KiCad) for example. Pretty much what the IPN could be used for, but since there is the Part ID (not optional, unique and auto-generated -  also alread

[2022-04-20 10:49] matmair commented on #2845
@schrodingersgat how do you plan to do this? I would suggest adding a model that holds an identifier (token, address etc) and can be assigned to (multiple) stock location(s).
If you identify a stock item via ui or api a simple lookup is performed and all required identifiers are handed over to a plugin function. The plugin then needs to handle the rest.
I would love to write a small demo with an A

[2022-04-20 11:08] SchrodingersGat commented on #2845
The plan is to rely on the plugin as much as possible - much like the way the "label printing" plugin works. Simply pass the StockLocation object to the plugin, and leave it at that. The plugin could call an external network API or something?

[2022-04-20 11:29] matmair commented on #2845
@SchrodingersGat I would do the association / datahandeling in InvenTree to make that portable (change the illumination plugin for example / use multiple plugins at the same time (one system for the workflow and another for R&D. The association between location and identifier could be handled in the admin.

[2022-04-20 13:35] #2846 closed

[2022-04-20 13:35] SchrodingersGat commented on #2846
Instead of this, I am going to simplify the existing docker images, and only provide a postgres image. Advanced users should be able to work out alternatives (e.g. mysql) from the example files.

[2022-04-20 14:58] matmair opened #2853 "Update to Django 4.x"
As raised in #2849 update to Docker 4.x -> might be a lot of work.
This will break a lot of forks.

[2022-04-20 14:59] SchrodingersGat commented on #2853
Yeah, let's leave that one for now! :D

[2022-04-20 15:20] eeintech commented on #2848
Hello @simonkuehling

In Settings > Parts > "Part Name Display Format"

Change:
[code]

to:

[code]

Now you can search by part ID :)

[2022-04-20 16:03] SchrodingersGat commented on #2848
@eeintech I'm not sure if that suggestion would expose the ID to the search box, but it would display it on each part page.

@simonkuehling please check the suggestion and report back!

[2022-04-20 16:56] eeintech commented on #2848
@SchrodingersGat I got ahead of myself, I had the Part IPN set with same number I was searching. After deleting the IPN value, it is indeed not fixing the second requirement for searching (only formatting the part name does not mean it is searchable, duh) but it does expose the `part.id` on the part name which was one of the 2 requests from OP.

I imagine an option to automatically set the `part.I

[2022-04-20 19:49] simonkuehling commented on #2848
Regarding the display name formatting alone, that looks like a very solid solution, @eeintech!
But, it does not fix the searchability, right.

That could work, yes. Something like a `PART_AUTOFILL_IPN_WITH_PARTID` option that automatically populates the `part.IPN` field with `part.id` on creation of a new part. It would need to hide the IPN form field in the part creation form, too. Together with

[2022-04-21 01:48] SchrodingersGat commented on #2848
@simonkuehling that might work, you could also consider implementing this as a plugin, as it's somewhat of a niche use case.

You could have an 'event driven' plugin - whenever a part is saved, populate the `IPN` field with the `pk` field.

This would prevent the core InvenTree codebase from being "bloated" with this feature which I don't see many people wanting to use.

If you want to explore imp

[2022-04-21 03:34] cmos2020-bit opened #2857 "Error when updating from version 0.5.4"
Hi guys,

I get the following error when updating:

Running InvenTree database migrations...
========================================
2022-04-20 23:29:52,716 ERROR Missing required database configuration value ENGINE
Error: Missing required database configuration value ENGINE

Don't know what to do next.

Please help.

cmos

[2022-04-21 03:36] SchrodingersGat commented on #2857
We'll need some more information on your setup, but essentially you have not provided the required context information to inventree.

- Are you running bare metal or docker?
- What database backend (ENGINE) have you been using?

[2022-04-21 03:56] cmos2020-bit commented on #2857
Hi Oliver,

Thanks for your reply

   - Are you running bare metal or docker?

I'm using docker.

   - What database backend (ENGINE) have you been using?

And the container inventree-db is based on PostgreSQL database as shown in
https://inventree.readthedocs.io/en/latest/start/docker_prod/ .
I followed the instructions found in that URL for installing it on my
server.

Thanks again for your help

[2022-04-21 04:02] SchrodingersGat commented on #2857
Are you using the `.env` and `docker-compose.yml` files exactly as provided, or are you editing them at all?

The `.env` file sets the `INVENTREE_DB_ENGINE` parameter:

https://github.com/inventree/InvenTree/blob/d647153cc21e55ab3498ad01cc0e79d2fab576e4/docker/production/.env#L21

Can you please run through the exact sequence of steps you are following, and where in that sequence you see the error

[2022-04-21 08:56] simonkuehling commented on #2848
@SchrodingersGat good point, a plugin is probably the right choice here, agreed.

I had seen a request for an IPN auto-generator in another issue (but cannot find it for reference) - so that could be a good function scope definition for such a plugin. I'll give it a try with the `copy part.id to part.IPN on create` functionality, which can serve as a scaffold to extend to other naming rules/algori

[2022-04-21 10:46] simonkuehling commented on #2848
@SchrodingersGat - I am starting my work off of the `event_sample.py` plugin from the sources to get an understanding which event types and arguments are captured there.

Is there a way to register to only specific events, or is it the plugin that needs to just always act on the event string that is passed to `process_event()`?

[2022-04-21 11:48] eeintech commented on #2848
@matmair might be able to give you pointers 😉

[2022-04-21 12:27] SchrodingersGat commented on #2848
You'll need to look at the string which is passed to the `process_event()` function.

In this case you'll either want:

https://github.com/inventree/InvenTree/blob/d647153cc21e55ab3498ad01cc0e79d2fab576e4/InvenTree/plugin/events.py#L166

or

https://github.com/inventree/InvenTree/blob/d647153cc21e55ab3498ad01cc0e79d2fab576e4/InvenTree/plugin/events.py#L173

Note that the calling sequence is:

1. t

[2022-04-21 12:54] 4jag commented on #2789
I dislike React. I'm working on a project, and at the end of every day I want to go out to the garage and hang myself. Please stay clear of React.

[2022-04-21 13:32] SchrodingersGat commented on #2848
Is this the case currently? Duplicate blank IPN values throw an error? This sounds like it should be addressed, that is not the intent.

No, plugins can't access any UI elements currently. Any work on that would be a long way off.

[2022-04-21 13:43] simonkuehling commented on #2848
It does, yes. Is an empty string `""` from the IPN form field maybe not equal to `None` in the validator?
https://github.com/inventree/InvenTree/blob/df2f7d195a7618a9cb052e23271a91aee418608f/InvenTree/part/models.py#L780

If that is not intended, a change on that would make a plugin a viable solution, I guess

[2022-04-21 14:39] SchrodingersGat commented on #2848
@simonkuehling yeah that's unintentional - fix incoming in #2859

[2022-04-22 00:11] cmos2020-bit commented on #2857
Hi,

Unfortunately I did something wrong and damaged my installation. Due to this I did a clean install, but before I made a backup of the database and of the complete inventree-data directory.
Can you please tell me how to restore the database and the contents of the previous inventree-data directory?

Thank you very much

cmos

[2022-04-22 01:34] SchrodingersGat commented on #2857
If you are running docker/postgres and you have a backup of the `inventree-data` directory, that directory should look something like this:

![image](https://user-images.githubusercontent.com/10080325/164579138-6db38fcf-84b2-4251-af61-ea81836070a3.png)

The process here is:

1. ensure the docker containers are not running - `docker-compose down`
2. Replace the *entirety* of the `inventree-data` di

[2022-04-22 01:37] cmos2020-bit commented on #2857
Thanks Oliver,

Can I do this procedure with the latest version? Or do I need to install
the same version as before? In my case 0.5.4.

Thank you

Cmos

On Thu, Apr 21, 2022, 21:34 Oliver ***@***.***> wrote:

[2022-04-22 02:52] cmos2020-bit commented on #2857
I forgot to ask you, how can I restore the database from the backup I made
earlier into the new clean install?

Thank you

Cmos

On Thu, Apr 21, 2022, 21:37 Patricio Cohen ***@***.***> wrote:

[2022-04-22 04:08] SchrodingersGat commented on #2857
what sort of backup did you make? the raw database files? A JSON data dump?

[2022-04-22 04:08] SchrodingersGat commented on #2857
Yes, you can use the latest version and follow the process I outlined above.

[2022-04-22 10:35] matmair commented on #2789
@4jag we are open for other suggestions.
I have worked and am working on multiple projects with next.js and find it to be much better than bare js + html. Could you elaborate on the problems you see / which framework would be better suited for this project?

[2022-04-22 11:49] rotofyne opened #2860 "[FR] External Processing for Build Routing"
**Problem**
Build Orders sometimes require sending an item externally for processing (e.g. anodizing) prior to completion .
Ideally, the Build Order module would allow you to mark an item as requiring external processing and then allow you to pull the item to a purchase order or sales order (sometimes called a Repair Order in other systems).
This would require a change in the purchase order/sales

[2022-04-22 12:41] SchrodingersGat commented on #2860
@rotofyne thanks for the input - it is interesting that you also thought of anodizing as your example, this is very similar to https://github.com/inventree/InvenTree/issues/1071 (a very old issue now)

I think the idea of this being a *process step* as part of a build order makes a lot of sense.

Perhaps, the conceptual *ProcessStep* model could have an associated *PurchaseOrder* field, and as suc

[2022-04-22 12:57] SchrodingersGat commented on #2817
@martonmiklos yes the testing / test result framework is already very comprehensive. At my work we have a number of automated / semi-automated build steps which communicate with our InvenTree database via the API.

I think that much of the functionality you are asking for does already exist, however maybe it is just called something else.

For example you have a build order which is producing 10x

[2022-04-22 13:00] SchrodingersGat commented on #2817
Would a rethink of the nomenclature for the current "test result" architecture be a significant step here? I feel that potentially it is misunderstood / underused.

For the **Part** model we have *Test Template*, which could be better termed something like *Required Process*

For each **StockItem** for that **Part**, we currently have *Test Results* which may be better termed something like *Proce

[2022-04-22 13:19] martonmiklos commented on #2817
Hi Oliver,

Yes, I educated myself about the test feature and it is really comprehensive! It could cover part of my needs, but adding support for processes (routing) would likely improve it's adoption.

I am glad to see the #2860 about further feedback on the plans.

One thing came into my mind about this process support topic in general: the ACL.

In my previous workplace (what I mentioned before

[2022-04-22 15:29] rotofyne commented on #2860
@SchrodingersGat Thanks for the reply. I think what you are proposing makes sense as far as process states. The field would then need access to all open POs for selecting where it is going. Ideally the PO would also link back to the BO (maybe in the reference column?) The part I liked about sales orders is they seemed to already have the logic in place for creating shipping which would be necessar

[2022-04-22 16:24] cmos2020-bit commented on #2857
Hi Oliver,

I made a backup using the following command:

docker exec -t inventree-db pg_dumpall -c -U postgres > dump.sql

I tried to restore it without success using the idea from
https://stackoverflow.com/questions/24718706/backup-restore-a-dockerized-postgresql-database

your help will be greatly appreciated

thanks

[2022-04-22 17:28] matmair commented on #2857
@cmos2020-bit have you tried with something like this:

[code]

[2022-04-22 17:30] matmair commented on #2857
@cmos2020-bit have you checked your backup is containing data? We used to have the default user pguser, not postgres

[2022-04-22 17:53] cmos2020-bit commented on #2857
Hi, yes I tried it and it worked, thank you @matmair and @SchrodingersGat

[2022-04-22 18:16] cmos2020-bit commented on #2857
To summarize the complete process of back up and restore, I did the following: (based on the help provided by @SchrodingersGat and @matmair )

For the backup:
1. Backup the `inventree-data` directory - `cp inventree-data inventree-data_backup -r`
2. Backup the database - `docker exec -t inventree-db pg_dumpall -c -U postgres > database_backup.sql`

Fo the restore:

1. Ensure the docker containers

[2022-04-22 20:57] matmair commented on #2857
Happy you got it resolved @cmos2020-bit

Two small things about your steps:
- We recommend to use the included records-commands (see [here](https://inventree.readthedocs.io/en/latest/start/migrate/#import-data))
- I would switch step 5 with 6 and remove 7

Could you close this issue if you feel that your problems were addressed fully?

[2022-04-23 15:23] SergeoLacruz commented on #2777
Looks like a cool feature. But is it worth the effort? How much time does the team save in daily usage. It depends on the use cases.
I see the templates being created once by an administrator or an administrative team. Them they are stable for years and just used by the designers. But that's just my use case. There might be others.

[2022-04-23 15:35] matmair commented on #2777
@SergeoLacruz thank you for your inside. The idea is to lower the barrier of entry for creating reports - we have many open FRs that are more important so this is more theory till someone who wants to dev it comes around.

[2022-04-23 16:38] #2857 closed

[2022-04-23 16:44] cmos2020-bit commented on #2857
Thanks @matmair

Let's consider this closed. I added your suggestions to the list.
You are right, the best way is to use the included records-commands (at the moment of doing the backup they were unknown for me, that's why I did it using other process (complex and error prone).

For the backup:
1. Backup the `inventree-data` directory - `cp inventree-data inventree-data_backup -r`
2. Backup the da

[2022-04-24 14:31] matmair commented on #2585
@SchrodingersGat I look at this while handling #2861 and my suggestion would be to move plugins.txt and config.yaml to the root media folder

[2022-04-24 14:52] matmair commented on #2860
@rotofyne just a heads up - this might take a while as there is a lot to implement and test before this can go ahead. We have a lot of items on the roadmap and only so much dev time.
Please keep an eye on #2817 as that needs to be done before this issue is resolved.

[2022-04-24 14:53] matmair commented on #2065
The new website will provide an overlook. Closing

[2022-04-24 14:53] #2065 closed

[2022-04-24 14:58] matmair commented on #2324
No real community standard for this and only twine supports it. The code supply chain is a mess, perfection is not attainable - closing.

[2022-04-24 14:58] #2324 closed

[2022-04-24 19:51] rotofyne commented on #2860
@matmair Thanks, that makes sense.

[2022-04-24 20:33] matmair commented on #2860
@rotofyne if you need this feature fast please do not hesitate to reach out - we will try to find a way for you.

[2022-04-24 20:50] rotofyne commented on #2860
@matmair I'm not in a rush and as mentioned above I'd like to help if I can.

[2022-04-24 20:51] rotofyne commented on #2817
Hello, I'd like to help with implementing this feature once the general approach is decided on.
@SchrodingersGat it does seem like calling it Required Process or even just Process instead of Test Template would make it more widely applicable. @martonmiklos I also think having more granular permissions for processes on a BO would be very valuable.

[2022-04-24 21:13] matmair commented on #2817
I think the general approach outlined above should work. Both for legacy reasons and for data warehousing I would like to keep tests and processes seperate. Deleting processes/process states after some time / specific action might be ok but I for my part would like to keep specific part tests for *ever*.

As this is a wanted feature for multiple core devs I think nothing speaks against implementin

[2022-04-24 22:56] SchrodingersGat commented on #2324
Fair call @matmair :)

[2022-04-24 23:19] matmair commented on #1693
@rcludwick if you have time feel free to look at the PR

[2022-04-24 23:31] matmair opened #2866 "[FR] Registration / Onboarding screen"
**Is your feature request the result of a bug?**
No

**Problem**
We currently do not provide a UI for self-registration (or setting additional user details after auth via a third party).

**Suggested solution**
Create a registration flow for:
- all user details
- email address(es)
- possibly social auth sources

Add the option to require admin confirmation.

**Describe alternatives you've consider

[2022-04-24 23:33] matmair commented on #2866
Related to #2865 #1693
@SchrodingersGat @eeintech any inputs on viability/roadmap timing? This is more a quality of live FR for user-heavy instances.

[2022-04-24 23:34] SchrodingersGat commented on #2585
Moving these files to the media directory would allow read access to any authenticated user. Especially in the case of config.yaml this could potentially expose some very sensitive data

[2022-04-24 23:36] SchrodingersGat commented on #2866
I'd be happy for you to work on this @matmair , if you are confident it fits well within the existing framework. I'd say we target for 0.8 release.

[2022-04-24 23:40] matmair commented on #2324
@SchrodingersGat not for a lack of trying. The features I was building off of are being sunsetted.

Users that need compliance will have to pay a Sec-Ops firm to provide them that as a service - we can not build in features for compliance if the underlying packages are just unverified by the registry.
Sadly building InvenTree to be just drop-in for ISO 27001 certified orgs is not possible currentl

[2022-04-24 23:42] matmair commented on #2585
@SchrodingersGat already working on that. Thanks to our existing /auth route not too difficult. My concern is more misconfigured 3rd party storage-backends like S3 that use external auth settings.

[2022-04-24 23:42] SchrodingersGat commented on #2817
@matmair regarding deleting of "test results" here is how it works currently;

**test template** - maps to a *Part* instance, used to define which tests should be performed against stock items of that part.

**Test result** - a specific instance of a test, maps to a stock item. Uses string lookup (not pk) against available *test template*

Deleting or editing templates does not have any impact on

[2022-04-24 23:43] matmair commented on #2866
@SchrodingersGat thanks.
I was surprised when I realised we have no self-registration as I implemented #2865

[2022-04-25 01:19] nwns commented on #2585
Hello @matmair , thank you for tackling this problem.

I have to say, I am not completely clear why all three files need to be in the media folder.

`plugins.txt` - I see the logic on why the code needs to write to it from a usability standpoint, however, putting something that would just give code execution to anyone that can write to the media files (which could be any user with upload privilege

[2022-04-25 12:49] rotofyne commented on #2817
@matmair I've got limited experience with Django.
@SchrodingersGat I think a process would ideally apply to the build outputs. In your example the "shipped to anodizer" would apply to particular build outputs and its important to know which build outputs received which processes from a traceability perspective. Further, depending on circumstances, you could have the same process completed at diffe

[2022-04-25 14:09] nwns commented on #2665
Definitely still relevant, though have not had time to look into the plugin system.

[2022-04-25 14:43] eeintech commented on #2866
This is a must for our organization, thanks!

[2022-04-25 16:03] #2681 closed

[2022-04-25 18:43] bcc opened #2868 "[BUG] Inconsistent use of variant_of / ancestor in the API"
**Describe the bug**
I have a small application that generates a 'low stock' summary using the Inventree API - it understands the breakdown of sites and the amount of stock that should be present on each site for each part. It also understands that variant parts should be summed together for this. For example, I need a certain (variable) number of 4TB hard disks at each site, I don't particularly

[2022-04-25 19:17] matmair commented on #2868
@SchrodingersGat any idea if this os intended?

[2022-04-26 00:53] SchrodingersGat commented on #2868
@bcc thanks for raising this. The `ancestor` and `variant_of` filters are for subtly different purposes, and *both* should be working.

However it would appear that you are correct, the `variant_of` filter does not work!

[2022-04-26 01:00] SchrodingersGat commented on #2665
@nwns I'm going to close this issue out for now, please re-open if you get a chance to look into it!

[2022-04-26 01:00] #2665 closed

[2022-04-26 02:05] #2868 closed

[2022-04-26 02:51] cmos2020-bit opened #2872 "Printing multiple part++part labels"
Hi,

Is it possible to print multiple part labes for selectd parts?
I know it is possible with stock labels, but I can't do it with part labels.

Thanks

cmos

[2022-04-26 02:54] SchrodingersGat commented on #2872
Currently this is not possible via the web interface, but would be pretty simple to add, following the methodology of the 'stock items' printing

[2022-04-26 03:03] cmos2020-bit commented on #2872
Thanks Oliver!

[2022-04-26 03:30] SchrodingersGat commented on #2872
@cmos2020-bit would you be willing to tackle this one? Our developer time is severely stretched right now!

[2022-04-26 07:03] SchrodingersGat commented on #2585
I'd have to agree with @nwns here - is there a way we can avoid "raw file operations" while still keeping these files out of `/media/` directory?

[2022-04-26 13:52] nwns commented on #2585
Because I was not clear in the OP, the raw file operations that I was referring to are the media files, that is, files uploaded by users or are override-able by users like the labels in the OP.  These three files are not media files in my mind.

For `config.yaml` and `plugins.txt`, as long as the code working on the files handles readonly roots, they can stay the way they are right now.

I have ha

[2022-04-26 16:28] matmair commented on #2585
@nwns the plugins.txt must be kept outside of the db as the install runs without db-access (for migrations etc). It can be written to on runtime so it needs to be somewhere writable.
Config.yaml should also be writable as we will need this to make auto-updates.

I am very open to handle locales in another way - please feel free to suggest a change.

[2022-04-26 18:38] eeintech commented on #2857
@matmair @SchrodingersGat Should be added to docs?

[2022-04-26 19:02] matmair commented on #2857
@eeintech I was under the impression it was

[2022-04-26 19:45] eeintech commented on #2857
Right, some instructions here: https://inventree.readthedocs.io/en/latest/start/docker_prod/#updating-inventree

I am confused on why we have steps 4-6 reversed with @cmos2020-bit :
![image](https://user-images.githubusercontent.com/4020546/165380015-acc52504-3979-4768-bb5a-96977c7b9286.png)

[2022-04-26 23:57] cmos2020-bit commented on #2872
Hi Oliver,

At the moment I'm very busy, however in a couple of weeks I think I would be available. However I have no experience with Django and I know very little about Docker, so I will have to learn these things first. Maybe you can point me in the right direction where to look for info on getting started. Once I know a little more, I'll happy to help.

Thanks for your offer.

BR,

cmos

[2022-04-27 00:33] SchrodingersGat commented on #2872
Awesome, I'd be happy to help point you in the right direction. LMK when you have some time available!

[2022-04-27 07:30] lukh opened #2884 "[BUG] Crash when uploading image for a part"
**Describe the bug**
When trying to upload an image for the part, either via the WebInterface, either via the Python API,
got a server crash, with the same traceback

**Steps to Reproduce**

Steps to reproduce the behavior: (WebUI)
1. go to a part,
2. on the thunbnail, click on upload image,
3. select a file
4. upload

OR (python)
my_part.uploadFile(path_to_file)

**Expected behavior**
`sb-inventr

[2022-04-27 07:46] SchrodingersGat commented on #2884
@lukh is this the complete full traceback? Can you please provide the entire thing?

[2022-04-27 11:43] exp opened #2885 "Serialisation prevents use of hypen in serial numbers"
**Describe the bug**
The database schema supports (and should continue to support (IMO)) hyphens in serial numbers, as these are common. When serialising a number of items, any hyphen is interpreted as a range operation even in cases where it is nonsensical.

**Expected behavior**
Some variation of the following logic should be added to group definitions:
  * If the count of serial entries == the

[2022-04-27 11:45] matmair commented on #2885
Not a bug - was an intentional design decision to enable after input

[2022-04-27 11:47] matmair commented on #2885
@SchrodingersGat @eeintech what are your opinions here? I see no reason to not change it if the fast input gets preserved.
Some clear way to communicate the change in the UI should be added though.
Would be happy to see @exp work on this if above questions are resolved.

[2022-04-27 11:49] #2301 closed

[2022-04-27 12:07] exp commented on #2885
Proposed UI communication:

Enter serial numbers for new items ­— You may use groups (`1-10`) or sequences (`5+`) if you enter fewer serial numbers than items.

Do you want to keep this strictly to very few words? Mentioning space or comma separation I think would also be valuable.

[2022-04-27 12:16] matmair commented on #2885
@exp I do not really care about the length of the documentation/info as long as the syntax for input is not becoming complex

Small wrong example (which I have seen in another system):
``
1{{-}}5

{1-{{15}}}-{1-{{20}}}
``

[2022-04-27 13:13] SchrodingersGat commented on #2885
Using a reserved token character in the serials will vastly increase complexity and associated considerations here.

@exp if you can show a "one size fits all" solution which accommodates hyphens in the serial numbers, we can consider it, but not if it has complex edge cases that need to be communicated to users (across multiple languages!)

e.g. what does the following string evaluate to?

5 uniq

[2022-04-27 13:23] #1693 closed

[2022-04-27 13:41] exp commented on #2885
@SchrodingersGat I think prohibiting `-` from being included in serials would be a mistake, as there are millions of physical items with those serials lying around. Furthermore you can already edit the serial attribute to include this, so production Inventree databases and printed labels undoubtedly exist with them already.

The example you give already fails due to the expansion of those groups s

[2022-04-27 13:46] SchrodingersGat commented on #2885
@exp I would tend to agree, if you submit a PR with the proposed set of changes we'll certainly take a look!

[2022-04-27 13:48] exp commented on #2885
Understood, this isn't strictly related to this bug, but I assume you envisage a serial field of `1 2 ~ ~ ~` to imply ` 1 2 3 4 5` and not `1 2 3 3 3`? I figured that might as well be fixed too.

[2022-04-27 13:57] SchrodingersGat commented on #2885
I don't think we had ever considered the case of multiple sequential ~ characters, tbh

[2022-04-27 19:15] Angrite commented on #1672
It would be a great feature for prototype builds!

[2022-04-28 00:03] SchrodingersGat opened #2889 "[BUG] Multi level BOMs strain server resources"
A large multi-level BOM requires *many* API requests and page load times can stretch into the tens of seconds.

The issue is that the BOM table makes a secondary API request for each item in the BOM, and then if that item has child items, a request for each of those items, and any of *those* items etc etc

This quickly snowballs out of control if BOMs are more than two levels deep.

### Possible S

[2022-04-28 02:58] cjdet opened #2891 "[FR] Enable Downloading BOM Pricing"
**Describe the bug**
For an assembled part the Pricing page shows a BOM Cost. The table on the page is populated, however, it is not possible to download the table despite the download icon being shown. For instance in this figure:

**Steps to Reproduce**
1. Create a part with a BOM.
2. Go to the Pricing page of that part.
3. BOM Cost section of the page displays costs
4. Clicking on the download

[2022-04-28 05:30] matmair commented on #2889
@SchrodingersGat I would prefer solution 1 and to maybe add a button to load the whole BOM (with one request)

[2022-04-28 10:28] matmair commented on #2891
@cjdet thanks for the report The export function is not available for this table at this point in time. Therefore it is greyed out - to signal that the function is not available.

The core devs are currently working on issues and a lot of new features in other areas of the software - you are welcome to submit a PR if you want the feature fast.
The code base contains multiple examples how we typica

[2022-04-28 12:30] exp commented on #2885
This has been merged, not sure why the PR wasn't linked to this automatically.

[2022-04-28 12:30] #2885 closed

[2022-04-28 16:05] lukh commented on #2884
[logs.txt](https://github.com/inventree/InvenTree/files/8584415/logs.txt)
Here, from docker-compose logs !

It looks like a recursive exception or somethin like that ?
(by the way, inventree is amazing !!)

[2022-04-28 20:13] exp commented on #2058
@laurus-lx have you made any progress on this? I would very much love this feature to keep track of parts installed into a pick and place machine. I have a thought about how to implement it and am happy to contribute but do not want to step on any work you have done.

[2022-04-29 01:24] cjdet commented on #2891
Thanks @matmair. This would be a very useful feature. I appreciate all the great features you have added!

[2022-04-29 07:57] #2889 closed

[2022-04-29 09:57] simonkuehling opened #2902 "[BUG] inventree-dev-worker does not auto-reload on changed plugin files"
**Describe the bug**
In the dev docker setup, the `inventree-dev-server` auto-reloads after files have changed in the codebase - which is neat and a huge timesaver for development. During testing a plugin in the `Inventree/plugins/` directory I noticed that while `inventree-dev-server` does reload upon each change as expected, `inventree-dev-worker` does not.
The plugin uses the EventMixin - so it

[2022-04-29 12:46] simonkuehling commented on #2902
Oh, I see... I had hoped that it just wasn't configured...
Is it maybe possible to trigger a service restart of `inventree-dev-worker` from within `inventree-dev-server` somehow? But I'm just guessing here...

I'm happy to close this issue if it's not a quick fix right now.

[2022-04-29 16:35] IsThisNameGoodEnough opened #2903 "[FR] Incoming inspection step for parts"
**Is your feature request the result of a bug?**
No

**Problem**
Currently the receiving page in Inventree allows a user to either accept parts into inventory or discard through other flags (e.g. rejected, lost, etc).  In most companies I've worked with there's typically an interim "incoming inspection" step which allows visibility that parts are in the building, but not yet released for productio

[2022-04-29 22:33] SchrodingersGat commented on #2902
I don't think a quick fix is going to be possible for this one

[2022-04-30 06:58] SchrodingersGat commented on #2884
Thanks @lukh glad you like it!

The key part of the error logs is the last line I've clipped here:

![image](https://user-images.githubusercontent.com/10080325/166095427-210a1e6a-bfe7-43c3-a884-4c11613df2fa.png)

It appears that the server application does not have permission to write to the "media" directory. This is the location where uploaded files (e.g. part images) are stored.

Is this the fi

[2022-04-30 08:37] lukh commented on #2884
Thanks for the help !
It is the first time for the images, but i was able to upload attachment

[2022-04-30 08:37] exp commented on #2058
@matmair @SchrodingersGat @eeintech

In the absence of a response from the submitter, can we discuss the options for implementation? I have toyed with several different approaches to implementing sub-locations to keep the patch small and simple, but I have consistently found that this isn't sufficient.

In fact, what is needed is to take full advantage of the existing stock system, and have the ab

[2022-04-30 08:54] lukh commented on #2884
Okayyy..
It looks like I did forget to mention something...
I have two docker compose setups... one for prod and one for "test", ie that I use to run small scripts on it..
the prod version works just fine.

The other one... I used a copy of the data folder from the prod one. It doesnt work, even with attachment...
So this lead me to an off topic question... How do I backup my data ?
It looks like

[2022-04-30 11:02] matmair commented on #2902
@simonkuehling if you are trying to debug a plugin with events I would suggest to run your debug instance without workers. Then your tasks will run through your debugging instance and you can check what the tasks do exactly.

[2022-04-30 11:05] matmair commented on #2903
Hi there @IsThisNameGoodEnough
This sound like a good example for the currently proposed `Process` feature - maybe look at that proposal. I would like to channel a lot of `workflows` into that as I imagine it being able to export form one instance and apply to another (maybe with some kind of workshop like steam workshop for sharing those).

[2022-04-30 11:06] matmair commented on #2903
#2871

[2022-04-30 11:14] matmair commented on #2891
@cjdet could you please change the title to Something like `[FR] Make ...` so it is visible from the overview that this is a FR?

[2022-04-30 11:41] matmair commented on #2058
This is a major change that could break a lot of things if not done carefully. I will have to think about this proposal a bit before I give my final opinion but here is a non-hirachical collection:
- You will need to keep the locations API etc. in place as a lot of stuff in the wild uses it
- This sounds to be a nightmare to explain to newbies. We aim for hobby, SME and labs - so please keep that

[2022-04-30 11:46] matmair commented on #2884
@lukh as this is def not a bug I am closing this issue. If you have questions about backup (saving and restoring a specific instance) please read the [following docs](https://inventree.readthedocs.io/en/latest/start/migrate/) and feel free to open a discussion if questions arise.

[2022-04-30 11:46] #2884 closed

[2022-04-30 13:48] SchrodingersGat commented on #2728
This has now been fixed (for the most part)

[2022-04-30 13:48] #2728 closed

[2022-04-30 22:55] matmair commented on #2284
This is a vast one - deferring to later.

@SchrodingersGat @eeintech I think our Out of Box Experience (OOBE) for new settings and plugins (with settings) needs some improvement. This will take some time but should tackle it if we get more users to reduce the starting friction and support load.

[2022-04-30 23:18] matmair opened #2907 "[FR] Add FTUE"
**Problem**
We currently just drop the user in - some kind of out-of-the-box or first-time-user widget could be a good way to familiarize the user with the interface.

**Suggested solution**
Add a FTUE with:
- [ ] multi-step-wizards
- [ ] state saving per user -> https://github.com/inventree/InvenTree/pull/10715
- [ ] short introduction
- [ ] link to the docs
- [ ] link to the blog
- [ ] a way for

[2022-04-30 23:50] SchrodingersGat commented on #2907
Yeah, this would be a major step forward in terms of user friendliness. 100% on board

[2022-04-30 23:52] SchrodingersGat commented on #2284
Great idea @matmair - I am seeing this as a separate feature to the [FTUE](https://github.com/inventree/InvenTree/issues/2907) FR?

[2022-04-30 23:57] SchrodingersGat commented on #2902
@matmair good point. It might be worth adding a note about this to the plugin documentation.

[2022-05-01 00:20] SchrodingersGat commented on #2058
@exp what you are proposing here is a very major change to the way that InvenTree fundamentally works - and for what seems to amount to an "edge case" of how it is being used.

The existing "simple" setup of `StockLocation` and `StockItem` has been developed to be as user friendly as possible. I know from experience that any extra complexities in the system reduce the likelihood that the operators

[2022-05-01 00:28] #1727 closed

[2022-05-01 00:28] #2694 closed

[2022-05-01 00:28] #807 closed

[2022-05-01 06:21] exp commented on #2058
Thank you both for your replies. Instead of going through point by point I'm going to address the common themes if that's ok.

* UX Changes
I don't plan to make any UX changes at all, the `Virtual Storage` suggestion is just the best current option I have for not changing the UX. I will review this suggestion and see if I can find something even lower impact

* UUID IDs
It seems there are differen

[2022-05-01 10:50] simonkuehling commented on #2902
@matmair, do I just stop the worker service for that - or do I need to configure anything else in order for the server to take over those tasks?

[2022-05-01 11:05] SchrodingersGat commented on #2902
@simonkuehling just stop the worker service and any background tasks should be run by the web server (in a blocking fashion)

[2022-05-01 19:11] sur5r commented on #2314
So I finally found some time to start implementing this. Please see https://github.com/sur5r/InvenTree/tree/issue2314 for current state.

I guess some tests should be added as well before merging.

The Python side of things was straightforward indeed, the HTML/JS part took some time for me to understand.

What I'm still wondering is how the permission name is related to anything given those string

[2022-05-01 19:19] matmair commented on #2314
@sur5r looks good in general. Feel free to open a (draft) PR so we can easily comment on the code. Nothing sticks out from a quick glance but maybe we find something in functional testing.

[2022-05-01 20:55] matmair commented on #2907
This will be a lot about user-friendliness - this does not need to be a core-dev activity once the code for #2284 and the first few tasks are done.

[2022-05-01 21:01] matmair commented on #2284
@SchrodingersGat yes. I would see this to be much more important than #2907 and also as an architectural base to build up on for that.

[2022-05-01 21:03] matmair commented on #2058
@SchrodingersGat There is a PR in the same direction already present #2482

[2022-05-02 11:30] #2648 closed

[2022-05-02 22:06] matmair commented on #2853
I checked what will be blocking here and it turns out it is the dependencies - not our own own codebase,

[2022-05-02 22:27] lewispb opened #2921 "[FR] Batch number in part allocation row"
**Problem**
When assigning stock items to a build order in the "Allocate Stock Items to Build Order" modal, there's no batch number displayed in the Stock Item select2 dropdown. This means "duplicate" stock items are displayed in the dropdown, with only the quantity varying.

**Suggested solution**
Add the batch number for each stock item to the select2 dropdown.

**Do you want to develop this?**

[2022-05-02 22:33] matmair commented on #2921
Hi there @lewispb
Thanks for the FR. While I see no technical problem with the request I can not guarantee a timeline for implementation as core devs are working on other parts of InvenTree right now. I have marked it for general contribution.

[2022-05-02 23:23] SchrodingersGat commented on #2853
It's always the dependencies! Which ones are blocking us right now?

[2022-05-02 23:31] matmair commented on #2853
@SchrodingersGat Multiple - I stopped checking after the 3rd. We will have to wait for upstream to get ready for 4.0 . This is currently slated for 1.0 so I would not worry about it - the comment was more for myself to know why I waited.

[2022-05-02 23:41] SchrodingersGat commented on #2921
@lewispb this has actually been implemented on latest master:

![image](https://user-images.githubusercontent.com/10080325/166343131-68fe4fef-a326-494e-a029-14b9471a8dd0.png)

What version are you using?

[2022-05-02 23:41] #2921 closed

[2022-05-03 00:11] SchrodingersGat opened #2925 "[FR] Settings API - use KEY as URL identifier"
Ref: https://github.com/inventree/InvenTree/pull/2805

Currently, we use the PK (primary key) of the setting instance to determine the API access URL

e.g. `/api/settings/1/`

However, there are a number of issues here:

- No way of accessing a setting object without knowing the PK value
- Settings get 'instantiated' on request, so we can't even read out the "default" value *until* it has a pk

##

[2022-05-03 00:21] SchrodingersGat commented on #1207
@pawcio0928 if you are still interested, this feature has now been added!

[2022-05-03 00:21] #1207 closed

[2022-05-03 00:22] SchrodingersGat commented on #1187
Closing due to inactivity

[2022-05-03 00:22] #1187 closed

[2022-05-03 04:38] SchrodingersGat commented on #2903
I think that this does fit in with an expansion of the existing "tests" framework

[2022-05-03 04:44] matmair commented on #2925
@SchrodingersGat sounds like a good idea!

[2022-05-03 04:56] #1996 closed

[2022-05-03 20:58] lewispb commented on #2921
Ah! My bad sorry. Forgot to run invoke static after upgrading!

[2022-05-03 23:39] #2523 closed

[2022-05-04 12:23] #2788 closed

[2022-05-04 13:05] matmair commented on #2788
@maksimstojkovic this is now fixed in master

[2022-05-04 13:08] maksimstojkovic commented on #2788
Thanks for resolving this! I look forward to seeing the fix in the next release. 🙂

[2022-05-04 23:48] SchrodingersGat opened #2933 "[FR] Add test data from build output screen"
![image](https://user-images.githubusercontent.com/10080325/166842727-301f2c32-6e31-4758-ba49-b2f41e70bb30.png)

It would be handy to be able to see the status of individual tests, maybe by hovering over the "Completed Tests" progress bar, and then also check off test results directly from the build output table.

Currently you have to navigate to the detail page for the stock item (build output)

[2022-05-05 12:26] SchrodingersGat commented on #2323
@matmair I think this is a lower priority than say the pricing refactor issues, shall we bump this down the road to (at least) `0.8.0`?

[2022-05-05 12:37] matmair commented on #2323
@SchrodingersGat I already started work on this, `0.8.0` or even a 0.7.x should be reasonable

[2022-05-05 12:43] matmair commented on #2076
Not really imported - bumping to 0.8.x

[2022-05-05 12:47] matmair commented on #2652
@SchrodingersGat this requires some huge refactoring in the comments -> bump to 0.8.0 or should I do this right before release of 0.7.0 as a last thing when everything else is merged (will create some conflicts else)

[2022-05-05 13:00] SchrodingersGat commented on #2652
I think best to make it first thing after we do 0.7.0

[2022-05-05 13:18] simonkuehling commented on #2902
@SchrodingersGat - just tried stopping the worker service with `docker-compose stop inventree-dev-worker` and restartet the server with `docker-compose restart inventree-dev-server` (just to be sure), but background tasks still seem to be queued and no plugin output is reported in the server logs so far. Am I doing it right?

[2022-05-05 13:31] SchrodingersGat commented on #2902
You might have to wait a few minutes before trying - the way that the server determines if the worker is running is to look for a heartbeat message which expires after ~20 minutes:

![image](https://user-images.githubusercontent.com/10080325/166933871-64c471f5-65a7-439f-991d-00a7ae51d09f.png)

So you could wait half an hour or delete the existing heartbeat tasks from the database.

[2022-05-05 13:56] simonkuehling commented on #2848
@SchrodingersGat, now that my plugin development setup is running - on to the next question: How do I most elegantly instantiate a Part object to work on from the `kwargs` references that are passed to my event plugin (like `{'id': 14, 'model': 'Part', 'table': 'part_part'}`)?

I would guess something like this maybe?
[code]

[2022-05-05 14:08] SchrodingersGat commented on #2848
Yeah that would definitely do it, although you'd probably want some error catching around there:

[code]

[2022-05-05 21:17] matmair commented on #2866
So ... it turns out I already implemented this feature when I did SSO. @eeintech could you check if it fits your needs? If you have 0.6.0 running it is in the login-section
![grafik](https://user-images.githubusercontent.com/66015116/167026865-32ad1985-b685-4d47-9c3a-8481cf9a0363.png)

[2022-05-05 21:17] #2866 closed

[2022-05-06 00:36] matmair commented on #2810
@pulimoodan any progress on this? Let us know if we should assist

[2022-05-06 15:45] eeintech commented on #2866
@matmair That's right but without action from admin, the user is not associated to any group and UI is empty. Was there an option for a default group upon user creation?

![image](https://user-images.githubusercontent.com/4020546/167167213-bd209405-ac54-4211-bddb-f109c95ec38b.png)

[2022-05-06 16:19] matmair commented on #2866
@eeintech Yes. It is named default group and in the login-section.

[2022-05-06 16:27] eeintech commented on #2866
Very cool, I didn't know this existed already, great work!

[2022-05-06 16:47] matmair commented on #2866
Sometimes I forget what I programmed myself

[2022-05-06 18:21] spectre-ns opened #2938 "How to display pricing information"
Sorry for my inability to make sense of this tool. But what is the image below trying to tell me? It says no pricing information is available but I cannot tell when it would ever be available where it currently isn't integrated with suppliers. Please help!

<img width="883" alt="image" src="https://user-images.githubusercontent.com/96780897/167196032-19dcfd21-c2a3-4027-9275-06e4b1cbc3a1.png">

[2022-05-07 00:15] cjdet opened #2939 "[FR] Add purchasing price entry"
**Problem**
When using Order Part from the Purchase Order page on a part you cannot put in the purchasing price.

This would reduce the number of steps involved. I do not use supplier part pricing because the pricing varies too much these days to spend the time entering all of them.

**Suggested solution**
Have an entry in step 1 in the order parts dialog to set the price if not price is set from

[2022-05-07 08:32] matmair commented on #2939
@cjdet seems reasonable. I have plugins that add the real-life prices after I receive orders - in larger companies that is the way to go but for smaller installs your suggestion makes sense.

[2022-05-07 08:33] matmair commented on #2939
I tagged this for the release after the next one but without an assignee we do not guarantee that it will be implemented.

[2022-05-07 08:50] matmair commented on #2938
Hi there @spectre-ns !
You need to enter pricing info in the supplier parts pricing tab or add prices to some stock or create an order and add prices to the lines to see pricing in the overall part pricing tab.

[2022-05-07 08:52] matmair commented on #2938
In general it is rather easy to integrate suppliers via plugins. Multiple vendors did actively discourage implementation of their APIs as they only provide APIs to select few.

[2022-05-07 12:41] spectre-ns commented on #2938
Where is the supplier pricing tab I don't se it under the supplier?

![image](https://user-images.githubusercontent.com/96780897/167254888-b04ab027-afd4-47a8-8796-1c55d02ac335.png)

[2022-05-07 12:52] SchrodingersGat commented on #2938
@spectre-ns you'll want to look at the "SupplierPart" view, not the "Supplier":

![image](https://user-images.githubusercontent.com/10080325/167255241-add3f2c3-d0ed-4ed9-9b97-c8fd0c20f6e8.png)

[2022-05-07 13:12] spectre-ns commented on #2938
Thanks that is very helpful. How hard would it be to link this to digikey?

[2022-05-07 18:01] matmair commented on #2938
Depends on what information you want to have linked and how well you know python. My suggestion would be to familiarize yourself with InvenTree, evaluate what your needs are (and if you need to track pricing info in InvenTree) and then decide if you want to roll it out.
Simple price fetching is not too difficult - placing orders is only possible if you get that greenlit by DigiKey themself.
On ano

[2022-05-07 18:02] matmair commented on #2933
@schrodingergat this sounds like a perfect thing for React/Vue to do ;-)

[2022-05-07 18:09] #2938 closed

[2022-05-07 18:25] spectre-ns commented on #2938
@matmair Thanks for all the answers. I'm very new to this and I'm really liking this platform for far and I'm hoping it can grow with our company. Sounds like we can add functionality if we really want it. Apologies for leaving the issue open.

[2022-05-07 18:56] matmair commented on #2938
@spectre-ns no worries. We are happy to help. If you roll InvenTree out we would be happy to receive bug reports, feature requests or doc updates (there can never be enough docs for endusers). But there are no obligations ofc.
Once you are ready to add something feel free to create a discussion or ping me - maybe there is already a solution. If you just want to read up on the topic: [plugins](http

[2022-05-07 19:12] spectre-ns opened #2940 "[BUG] BOM Import from XLSX"
**Describe the bug**
I'm trying to import a fairly long BOM using an excel spreadsheet and I get the attached error

**Steps to Reproduce**

Steps to reproduce the behavior:
Upload the attached file into the BOM

**Expected behavior**
BOM is imported

<img width="803" alt="image" src="https://user-images.githubusercontent.com/96780897/167268579-cfed26e3-400c-4116-a4a0-6cc9e89f632e.png">

**Deploym

[2022-05-07 19:15] spectre-ns commented on #2940
Works with CSV if this is expected behavior apologies and I will close

[2022-05-07 19:32] spectre-ns opened #2941 "[BUG] PO Upload Results in "Internal Server Error""
**Describe the bug**
Attempting to upload a ~~BOM~~ PurchaseOrder results in a white screen with bold fond saying "Internal Server Error"

**Steps to Reproduce**
Create a Purchase order
Click "Upload File"

**Expected behavior**
System allows input of multiple parts with an upload.

<img width="1919" alt="image" src="https://user-images.githubusercontent.com/96780897/167269135-f816eb44-830a-4e3c-9

[2022-05-07 21:10] matmair commented on #2872
@cmos2020-bit please let us know if we can assist you with gearing up in any way.

[2022-05-07 21:45] SchrodingersGat commented on #2940
It should work with `.xlsx` - please find the error log in the admin interface and post here. Ref: https://inventree.readthedocs.io/en/latest/settings/logs/

[2022-05-07 21:48] SchrodingersGat commented on #2941
@eeintech I believe you worked on the PO importer last - any thoughts here?

[2022-05-07 21:56] matmair commented on #2652
@SchrodingersGat pleas LMK when I should start working on this - will clean up this branch rn

[2022-05-07 22:13] matmair commented on #2789
Tutorial for Vue: https://realpython.com/python-django-blog/#step-6-set-up-vue-router

[2022-05-08 07:47] SchrodingersGat opened #2945 "[FR] Add global setting to enable / disable webcam support for barcode scanning"

[2022-05-08 17:01] spectre-ns commented on #2940
See Error log below:
Traceback (most recent call last):

File "/home/inventree/.local/lib/python3.8/site-packages/django/core/handlers/base.py", line 181, in _get_response
response = wrapped_callback(request, *callback_args, **callback_kwargs)

File "/home/inventree/.local/lib/python3.8/site-packages/django/views/decorators/csrf.py", line 54, in wrapped_view
return view_func(*args, **kwargs)

File

[2022-05-08 17:02] spectre-ns commented on #2940
Appears to be calling a method witch is not present in the XLSX file parser.

[2022-05-08 17:07] spectre-ns opened #2946 "[FR]"
**Is your feature request the result of a bug?**
No

**Problem**
When I want to build a part for just in time production I would like to be able to order all the parts I need in a series of POs.

**Suggested solution**
 It would be great if one could have a simple workflow to buy all the sub-components required to complete a pending work order. In the place where parts are allocated from stock I w

[2022-05-08 18:33] matmair commented on #2946
@SchrodingersGat weren't you implementing something similar for builds?

[2022-05-08 18:36] matmair commented on #2940
@spectre-ns are you sure all columns are defined in the file you are uploading? So each column that has data also has a heading in the first row?

[2022-05-08 20:08] spectre-ns commented on #2946
I guess what I'm suggesting would be a half step that is using the order all functionality from the parts menu but going all the way would required also making WO for all the allocated sub-assemblies and purchasing all the parts for those as well. Plus you'd need to allocate the WO results to the top level build order. Seems like this planned based on there being child work order fields.

[2022-05-08 20:53] matmair commented on #2946
Maybe I am understanding you wrong but this seems to be a vast request with all the linking logic and needed testing etc.
We are a small team so we do not guarantee feature implementation or timelines - if you want a fast resolution I encourage contributing.

[2022-05-08 21:25] spectre-ns commented on #2946
My apologies when I sent the request it was for a simple request with basically just a bulk order functionality based on a query of parts in a given BOM.

To go all the way with that you'd have to 'order' all the assemblies as well by making WO for those and order the parts for those as well.

That part would be quite complicated but the first part should be pretty straight forward. I don't 'need'

[2022-05-08 21:50] SchrodingersGat commented on #2946
There has been *some* progress on an "order required parts" button for the build screen, but limited developer resources means that efforts have been prioritised elsewhere. As @matmair says the quickest path to this is to contribute the code yourself, or sponsor development. I'd be happy to point you at the relevant parts of code if you wanted some assistance.

It would not have to be achieved all

[2022-05-08 21:54] SchrodingersGat commented on #2940
It would be interesting to know if the datasets are the same between the .csv and .xlsx files!

[2022-05-08 22:03] spectre-ns commented on #2940
I thought that they were when I did it. Maybe there is something subtle. Is it possible that the XLSX file has an extra row with no data in it? I've had instances in excel where the dimensions aren't automatically cleaned up so the file size balloons with tons of empty rows and columns that are still expressed in the file even though they are infact blank.

Also I'm really sorry for all the messag

[2022-05-08 22:06] SchrodingersGat commented on #2940
@spectre-ns thanks for providing feedback and raising error reports - this does help us immensely!

If you or your company do have the ability to contribute back to this project, either with dev time or financial support, that would be greatly appreciated! Our dev team is very small and there's a lot of work to be done to support all the great ideas our users want to see implemented!

[2022-05-08 22:15] #2940 closed

[2022-05-08 22:15] SchrodingersGat commented on #2940
@spectre-ns please check latest master and see if your import issue is resolved.

[2022-05-08 22:40] spectre-ns commented on #2940
Thanks I will give it a try in a bit! You guys are so fast.

[2022-05-09 05:23] SchrodingersGat opened #2950 "[FR] Extend existing notifications"
Currently the available notifications are limited to "low_stock" - i.e. the available stock quantity for a given part has fallen below a configured level.

Now that the notification system has been expanded, and includes the ability to write custom notification plugins, we should expand the different notifications that can actually be sent.

This issue is open for general discussion, to determine

[2022-05-09 05:23] SchrodingersGat commented on #2950
@eeintech @matmair any thoughts on this one?

[2022-05-09 09:38] #2925 closed

[2022-05-09 09:43] matmair commented on #2950
@SchrodingersGat I do not really need additional notifications (I think but who knows till they are there).

[2022-05-09 10:00] liamsegura opened #2952 "No link to License.txt"
Would be helpful for the text "License.txt" to be linked to the license document in the repo.
<img width="766" alt="Screenshot 2022-05-09 at 10 49 26" src="https://user-images.githubusercontent.com/102547056/167385516-527a0b8b-8d23-43ba-a7fe-c2875d44d6d3.png">

[2022-05-09 10:14] #2952 closed

[2022-05-09 10:46] liamsegura opened #2954 "No link to follow on both Twitter and Reddit"
Would be useful to link Twitter and Reddit, currently links to images.
<img width="417" alt="Screenshot 2022-05-09 at 11 44 09" src="https://user-images.githubusercontent.com/102547056/167394664-079250e5-f284-4d01-a270-d9d1776bd44e.png">

[2022-05-09 11:29] #2945 closed

[2022-05-09 11:30] #2954 closed

[2022-05-09 11:31] eeintech commented on #2941
Looks like an issue with the templates, I can look at it soon, I remembered the BOM import had a similar issue

[2022-05-09 11:34] eeintech commented on #2950
When a BO or PO passed the target date maybe? Opening it to plugins is a great idea

[2022-05-09 11:44] SchrodingersGat commented on #2950
Yeah I had some similar ideas @eeintech

Plugins can already trigger notifications, adding some more "core" notifications would be a good idea

[2022-05-09 14:54] isa-tt opened #2958 "Creating barcode labels instead of qr code labels"
hi!
This is my first time issuing something on github, i'm new to the platform so sorry in advance if i'm not following the guidelines strictly. Currently i'm setting up inventree for the company i'm working at and to begin i'm playing with the label creation feature and having some issues with it. By reading the documentation i have been able to create and customize qr labels but i'm clueless as

[2022-05-09 17:22] matmair commented on #2958
Hi there @isa-tt
The code you posted seems to be ok. The docs on 1 and 2-d codes themself can be found here: https://inventree.readthedocs.io/en/latest/report/barcodes/

In general when creating issues you are encouraged to use the [templates](https://github.com/inventree/InvenTree/issues/new/choose) that are provided as we tend to need the same set of infos for these things all the time. Blank is

[2022-05-09 18:32] eeintech commented on #2941
@SchrodingersGat The fix is in #2812 but is not part of the `0.6.3` release. Should you release `0.6.4` soon, do you mind cherry picking that one too? Then OP issue will be fixed, thanks!

[2022-05-09 21:56] spectre-ns commented on #2941
@eeintech Should I close this ticket? Sounds like it has been addressed?

[2022-05-09 22:02] eeintech commented on #2941
@spectre-ns I would wait til `0.6.4` is relased and your issue solved :wink:

[2022-05-09 22:04] spectre-ns commented on #2941
Ok. sounds good didn't know the gitflow being used here. Other places merging to master would close it. Thanks for the heads up!

[2022-05-09 22:21] matmair commented on #2941
@spectre-ns our normal flow would be to close this after merging but when a backport is in order we normally leave it open till that is done. @SchrodingersGat can close when the backport is in as he is in @inventree/triage (and is @inventree/maintainer )

[2022-05-09 23:08] SchrodingersGat commented on #2958
@isa-tt thanks for posting :)

In addition to the comments by @matmair above you can check out the templates for the default labels that are shipped with InvenTree: https://github.com/inventree/InvenTree/blob/master/InvenTree/label/templates/label/stocklocation/qr_and_text.html

[2022-05-09 23:24] SchrodingersGat opened #2960 "[FR] "External" locations"
This one requires some thought, and the concept is not fully fleshed out

It would be handy to be able to mark certain locations as "external", for example if stock is located at an external supplier, board assembler, etc

Being able to differentiate between "internal" and "external" stock might be useful.

[2022-05-10 03:32] SchrodingersGat opened #2962 "[FR]Add ability to "check out" and "check in" stock items"
e.g. if a user takes a stock item for a period of time, or in an environment where strict stock tracking is required, mark the item as "check out" by the user.

Item will be "assigned" to that user until it is checked back in

[2022-05-10 04:28] SchrodingersGat commented on #2958
@isa-tt if this sufficiently answers your question, please close this issue :)

[2022-05-10 05:29] SchrodingersGat commented on #2190
@tse-tarn-france closing this issue due to inactive, please feel free to comment here if you're still working on this

[2022-05-10 05:29] #2190 closed

[2022-05-10 05:30] SchrodingersGat commented on #2107
Closing, the build order process now lets you manually select a subset of locations from which to select stock items for allocation

[2022-05-10 05:30] #2107 closed

[2022-05-10 05:32] SchrodingersGat commented on #2045
@sintech we've recently made some changes to how "installed items" work which may be sufficient for your requirements here? I'm closing out this issue for now, LMK if there are any further issues.

[2022-05-10 05:32] #2045 closed

[2022-05-10 05:58] matmair commented on #2960
@SchrodingersGat do you imagine this as an informal field or to influence business logic?
Also would you like to expose these external locations on a webinterface to external parties?

[2022-05-10 06:11] SchrodingersGat commented on #2960
I would imagine it influences the business logic, somehow.

[2022-05-10 07:26] SchrodingersGat commented on #2941
Release branch for [0.6.4 is here](https://github.com/inventree/InvenTree/pull/2963)

[2022-05-10 07:26] #2941 closed

[2022-05-10 12:53] isa-tt commented on #2958
Thanks @matmair for the info on the guidelines, i went for a blank issue because i wasn't sure this could be a bug and clearly wasn't a request. I've checked the documentation on the barcodes but so far haven't been able to get my code to work.
 And @SchrodingersGat I did also look for the templates in the InvenTree folder, and that's what I used to customize qr labels to start (all templates are

[2022-05-10 12:54] isa-tt commented on #2958
Thanks @matmair for the info on the guidelines, i went for a blank issue because i wasn't sure this could be a bug and clearly wasn't a request. I've checked the documentation on the barcodes but so far haven't been able to get my code to work.
 And @SchrodingersGat I did also look for the templates in the InvenTree folder, and that's what I used to customize qr labels to start (all templates are

[2022-05-10 17:01] isa-tt commented on #2958
This is the code i'm currently using for part qr labels

[code]
and it creates the following label

<img width="287" alt="image" src="https://user-images.githubusercontent.com/102771420/167681241-617429cf-b5d1-42e6-8470-3a7a8cbbcdf0.png">

Following the docs indications/examples and following the logic there, if i change the code generating part (and update the class definition to match) to this
`

[2022-05-10 19:14] matmair commented on #2958
@isa-tt this seems to be an error in your template. I just tried it and it works fine on my site with different types of barcodes. My best guess Ishtar you are using the class ‚barcode‘ and the value ‚barcode_data’ without defining it first. Could you try using
`<img class='qr' src='{% barcode qr_data %}'> `
?

[2022-05-10 19:18] matmair commented on #2958
Also please provide error logs when posting a bug report. Details on where those can be found are [in the docs](https://inventree.readthedocs.io/en/latest/settings/logs/).

[2022-05-10 19:28] isa-tt commented on #2958
@matmair i just tried the example you just gave, and i still get the internal server error.  This is the last thing on my error log just after trying out `<img class='qr' src='{% barcode qr_data %}'>`
[code]

[2022-05-10 19:31] matmair commented on #2958
@isa-tt thank you for the stack trace - what version are you running (hash)?

[2022-05-10 19:44] matmair commented on #2958
@isa-tt the update released earlier today: reading through the changelog it might solve your problem.
Please update and make sure to run 'Inv update' so all parts get updated after pulling the new source.

[2022-05-10 19:52] matmair commented on #2958
If it is not working please run the following in your environment:
`pip show python-barcode`
So I know we are talking about the same library version

[2022-05-10 19:53] matmair commented on #1623
@SchrodingersGat are we still interested in this?

[2022-05-10 21:47] SchrodingersGat commented on #1623
This can be closed. Some parameters support regex search in the manner that @rcludwick suggested above (e.g. `part__name__regex=<xxx>` but I don't think we should support it for general use in the search bar.

[2022-05-10 21:47] #1623 closed

[2022-05-11 09:38] matmair commented on #2958
@isa-tt can confirm this is a bug. Although a bit of a tricky one to verify and fix. I have test that fail now - fix incoming today or tomorrow in #2966

[2022-05-11 09:39] matmair commented on #2958
@SchrodingersGat the problem only arises with activated plugins as there are namespace and import conflicts in the global context.

[2022-05-11 10:05] SchrodingersGat commented on #2958
Ah yeah that's a gotcha. Good find @matmair

[2022-05-11 10:12] maksimstojkovic opened #2969 "[BUG] Available Stock Deducting Fully Allocated Stock"
**Describe the bug**

Available Stock seems to subtract stock which has been fully allocated to an order (i.e. shipped to a customer) from the In Stock amount, despite the In Stock amount already being decreased by a completed SO. Intuitively, the Available Stock value should represent the amount of stock that is available to be sold at any given time, and should only deduct the number of units wh

[2022-05-11 10:24] maksimstojkovic opened #2970 "[FR] Shipment Creation in Stock Allocation Menu"
**Is your feature request the result of a bug?**
No

**Problem**
I find that through SO fulfillment I often have to close the Line Item allocation menu to create a new Shipment in the Pending Shipments menu. This is somewhat inconvenient when entering SOs manually.

**Suggested solution**
Add the "New Shipment" button in the "Allocate Stock Items to Sales Order" modal to allow for the creation of

[2022-05-11 12:07] eeintech commented on #2941
@spectre-ns Should work now with `0.6.4` :smiley:

[2022-05-11 13:01] isa-tt commented on #2958
@matmair great! i'll be waiting the update then, thanks so much for the help so far!

[2022-05-11 13:46] isa-tt commented on #2958
The template label shows a piece of text {"part":4} like the image shows

<img width="401" alt="image" src="https://user-images.githubusercontent.com/102771420/167864103-bb6a9bd1-86c1-4ef7-bd2f-b72f1838684b.png">

And the same happens when another template is used, for example this
[code]
<img width="242" alt="image" src="https://user-images.githubusercontent.com/102771420/167864763-3d25e928-cdbe-

[2022-05-11 15:11] matmair commented on #2958
@isa-tt the text is part of a rule compliant code 128 - it is the codes data human-readable

[2022-05-11 15:11] #2958 closed

[2022-05-12 05:56] matmair opened #2979 "Add unittests for downloads"
Add full coverage for https://github.com/inventree/InvenTree/pull/2977

[2022-05-12 06:01] matmair opened #2980 "Add unittests for auth stack"
Add full coverage for https://github.com/inventree/InvenTree/pull/2976
And the full auth stack in the middleware

[2022-05-12 12:04] SchrodingersGat commented on #2970
@maksimstojkovic greetings from Tasmania! You're right, a button in this location would be super handy. I've pinned this to the next release, it should be a relatively simple fix, all front-end (javascript) code.

[2022-05-12 21:47] eeintech commented on #1078
@matmair Ha that's old, in our company we can function without it.

[2022-05-13 01:07] maksimstojkovic commented on #2969
@SchrodingersGat I've just tested this bug on the demo server and you are correct! This problem has already been solved, thanks for confirming. I look forward to the next major release!

[2022-05-13 01:07] #2969 closed

[2022-05-13 02:34] maksimstojkovic opened #2986 "[FR] Complete All Pending SO Shipments in SO Page Actions Menu"
**Is your feature request the result of a bug?**
No.

**Problem**
Upon completing all SO stock allocations, each pending shipment has to be completed individually before an SO can be completed.

**Suggested solution**
Add a complete all allocated shipments option to the SO #page-actions menu to make it possible for easier order processing. Implementation rationale may vary based on industry, so di

[2022-05-13 03:06] maksimstojkovic opened #2987 "[BUG] Can't allocate same line item to multiple shipments"
**Describe the bug**

Attempting to allocate a line item to multiple shipments fails, returning a 500 error code in the console.

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Create SO and add line item with quantity > 1.
2. Create 2 shipments.
3. Allocate 1 unit to shipment 1.
4. Allocate non-zero number of units to shipment 2.

**Expected behavior**

Line item should increase All

[2022-05-13 05:42] matmair commented on #2986
@maksimstojkovic thanks for the suggestion!
I would like to discuss how this fits into a shops workflow.

You generally create multiple shipments because you do not want to wait for a few parts to ship everything. You close each shipment as soon as it is possible to ship - so I am not sure why you should have multiple shipments open at once.

I am open for feedback but with the current set of info

[2022-05-13 10:12] opcod3 opened #2988 "[FR] Support webp images"
**Is your feature request the result of a bug?**
No

**Problem**
Some websites such as mouser use webp images, this makes copying them into inventree annoying as they have to be converted to jpeg or png.

**Suggested solution**
Implement support for uploading/downloading webp images.

**Describe alternatives you've considered**
Possibly automate conversion to png/jpeg, but this feels to be a more

[2022-05-13 10:36] maksimstojkovic commented on #2986
@matmair I totally agree. Logically it would only make sense to have one shipment pending at any given time.

Given this context, my suggestion above should have focused more on the semi-redundant nature of navigating to the Pending Shipments menu to press Complete Shipment. My suggested solution is adding an option to the Page Actions menu under the Order Options dropdown to complete the pending

[2022-05-13 10:49] maksimstojkovic commented on #2970
@SchrodingersGat greetings from NSW! In addition to the button above, what are your thoughts on automatically creating a shipment for SOs, since it is not possible to complete an order without completing at least one shipment?

[2022-05-13 11:38] SchrodingersGat commented on #2970
Yeah that's a reasonable suggestion. A default shipment which gets created an a SalesOrder is created would improve the workflow considerably. Most orders would only ever have one shipment so it could cut out the manual shipment creation process entirely.

[2022-05-13 11:41] SchrodingersGat commented on #2988
@opcod3 I thought it did already support webp, I have definitely uploaded images directly from Mouser / Digi-Key before. Maybe this behaviour is a new issue... Can you please share the exact issues / error you are seeing when you try to add .webp files?

[2022-05-13 11:43] SchrodingersGat commented on #2987
Can you please post the content of the 500 error message? You can access historical error logs via the admin interface

https://inventree.readthedocs.io/en/latest/settings/logs/

[2022-05-13 11:51] maksimstojkovic commented on #2987
[code]

[2022-05-13 11:54] opcod3 commented on #2988
Using the following image: [Image](https://www.mouser.it/images/kemet/images/Kemet_SMD_MLCC_DSL.jpg)

Directly pasting the url into InvenTree yields the following form:
[code]

By downloading the image I get the following file: `Kemet_SMD_MLCC_DSL.webp`. When I try to upload it I get:
```Upload a valid image. The file you uploaded was either not an image or a corrupted image.```

[2022-05-13 11:54] SchrodingersGat commented on #2987
Cheers, will look into this one.

[2022-05-13 12:00] SchrodingersGat commented on #2988
Yeah most likely due to docker dependency issues. If you are able to do so please submit a PR

[2022-05-13 12:01] opcod3 commented on #2988
I'll try to, but I'm a low level developer by trade... Docker is generally black magic to me

[2022-05-14 22:12] matmair opened #2989 "[BUG] Tests with static data fail on postgres and sqlite"
@SchrodingersGat I think we have some problem with files that are generated and tests. I can’t get multiple PRs running because of that. Maybe we yank this test and create a collection of failing tests that we need to fix?

_Originally posted by @matmair in https://github.com/inventree/InvenTree/issues/2982#issuecomment-1126603940_

[2022-05-14 22:12] matmair commented on #2989
See last PR in #2982

[2022-05-15 01:28] matmair opened #2992 "[BUG] Missing tests for plugins"
**Describe the bug**
There are tests missing for multiple mixins:
- events
- ~~custom panels~~ - https://github.com/inventree/InvenTree/pull/3034
- ~~locate plugin~~ - https://github.com/inventree/InvenTree/pull/3027
- printing - https://github.com/inventree/InvenTree/pull/3037

**Steps to Reproduce**
Current coverage graph

**Expected behaviour**
There are **no** functional tests - they can be br

[2022-05-15 02:29] matmair commented on #971
@jnewlands any work on this? I will close this for now. Feel free to reopen if this is still of interest. If you can spare 5 minutes I would appreciate if you could open a new issue and fill out the feature request template.

[2022-05-15 02:29] #971 closed

[2022-05-15 11:27] #2980 closed

[2022-05-15 11:28] #2989 closed

[2022-05-15 14:14] matmair opened #2996 "[FR] Remove python 2 / 3.7 support from codebase"
**Is your feature request the result of a bug?**
#2994

**Problem**
We have some stuff in the codebase that targets python2 / 3.7 compatibility

**Suggested solution**
I suggest standardising the codebase to python 3.8 (ships with the major *ix distros). This means:
- removing unicode_literall imports
- removing encoding headers
- remove imports that are targeted for stdlib paths lower than 3.8

*

[2022-05-15 14:14] matmair commented on #2996
@inventree/maintainer @inventree/triage thoughts?

[2022-05-15 14:29] SchrodingersGat commented on #2996
@matmair I am on board. Any estimate of how much 2.x / 3.7 code we have currently?

[2022-05-15 14:36] matmair commented on #2996
@SchrodingersGat currently looking into it. Most things are Unicode patches (python3 is Unicode by default) and encoding headers. Those can just be deleted - the rest needs to be looked at. I am running an upgrade analyzer rn.

[2022-05-15 14:51] SchrodingersGat commented on #1078
The "multiple BOM" concept is probably not something worth pursuing any longer.

[2022-05-15 14:51] #1078 closed

[2022-05-16 10:15] jonasexpleo opened #3003 "Additional Information on Purchase/Sales Orders"
**Is your feature request the result of a bug?**
Discussed in https://github.com/inventree/InvenTree/discussions/2867

**Problem**
I'm trying to use the sales order report system for printing a delivery note.
In the delivery note we need some additional information:

* for a bigger company we need to define the recipient of the package,
* in some cases a different shipping address (most companies

[2022-05-16 10:50] SchrodingersGat commented on #3003
@jonasexpleo I am currently working on implementing a "metadata" extension system - as part of https://github.com/inventree/InvenTree/pull/2957

This would basically add a `metadata` field to the internal models, which would allow addition of arbitrary JSON data

- The metadata would not be used by InvenTree business logic
- The metadata can be used by the user for *some purpose* but this purpose

[2022-05-16 11:27] jonasexpleo commented on #3003
@SchrodingersGat I like the approach with metadata.
I understand your hesitation against implementing specific custom fields, I wouldn't use this approach either.

Just to be clear: when I speak from fields, I speak from the view of an user, not how the information are stored.
I was more thinking from the GUI perspective, where a staff or admin could add the custom fields and the user can use the

[2022-05-16 12:11] SchrodingersGat opened #3005 "Testing - Add unit test for background worker processes"
https://github.com/inventree/InvenTree/pull/3004 has revealed a weakness in the unit testing processes.

We currently have no tests for functions that rely on the background worker. This has allowed a critical bug to creep into the code in the recent plugin refactor.

[2022-05-16 12:15] SchrodingersGat commented on #2986
@maksimstojkovic this mirrors similar behaviour in other tables, where an action can be performed on multiple items selected from a table. I think this makes sense as an addition, but is of low priority given all the other dev tasks we have on.

Is this something you would be willing to tackle?

[2022-05-16 12:56] SchrodingersGat opened #3007 "[TODO] Refactor "success" and "onSuccess" in javascript"
Currently the javascript code mixes use of "success" and "onSuccess" for naming of callback functions.

This should be consolidated to use `success` callback functions for all InvenTree js code.

[2022-05-16 12:57] #2845 closed

[2022-05-16 13:02] SchrodingersGat opened #3008 "[FR] Refactor multi-delete forms"
Ref: https://github.com/inventree/InvenTree/pull/3006

There are multiple forms which are currently used to perform multiple object deletions which need to be refactored. The `DELETE` calls should not be run in parallel, and the forms themselves could use some visual enhancements.

These forms could also be refactored to include the single item deletion, and thus work towards implementing https://

[2022-05-16 14:24] matmair commented on #3005
@SchrodingersGat on it! I will refactor the offload function to reference the functions directly - this will need to failing imports if functions do not exist.

[2022-05-16 14:29] matmair commented on #3003
@jonasexpleo this sounds like a good plugin candidate. We try to not balloon the core feature set (we are only achieving that somehow. A lot is being added lately - but it is cool stuff).
You can def. ping me if you run into problems. We always appreciate plugins that can serve as examples.

[2022-05-16 14:48] SchrodingersGat opened #3012 "[FR] Allocate "untracked stock" to build order"
### Current Behaviour

When "untracked" stock items (e.g. fungible parts such as capacitors, connectors, screws, etc) are allocated to a build order, the required stock quantity is depleted when the build is completed. The removed quantity is currently *deleted* from the database, and there is no way of tracking which batches of stock were consumed to fulfil a particular BuildOrder

### Proposed C

[2022-05-16 14:51] #2996 closed

[2022-05-16 15:04] SchrodingersGat opened #3013 "[FR] Notify staff users of error logs"
When an error occurs, it will be logged in the database.

We should add a plugin which notifies any staff users when this happens, and provide them with a link to the error log.

Also, a link to generate an issue report on github.

[2022-05-16 18:24] wolffam opened #3015 "[BUG] Serial numbers are not allowing letters"
**Describe the bug**
We are finding that serial numbers are now required to be only numbers as opposed to alphanumeric characters.  Some parts will have a serial number such as "2PE34354SER."  Entering such a serial number for a stock item now returns an error "Invalid group" on the Add Stock Item form.  We currently get around this by putting in a dummy numeric serial number and then editing the

[2022-05-16 21:20] matmair commented on #2970
@SchrodingersGat still valid that we will fit this in 0.7.0 ?

[2022-05-16 22:25] SchrodingersGat commented on #2970
Probably not, `0.7.0` is getting pretty close. If this does not receive any attention soon I'll bump it to `0.8.0`

[2022-05-16 22:27] SchrodingersGat commented on #3015
@wolffam looks like this has been fixed in master - `0.7.0` release is imminent

![image](https://user-images.githubusercontent.com/10080325/168692546-d3d0808f-acad-4b93-a553-4531bdffad88.png)

Can you please check on https://demo.inventree.org and confirm that the issue has been addressed?

[2022-05-16 22:31] wolffam commented on #3015
Seems like it has!  Easiest bugs are the ones already squashed ;)

I'll be sure to check against the demo in the future.

![Screen Shot 2022-05-16 at 3 30 11 PM](https://user-images.githubusercontent.com/11801197/168692979-38ee5b2d-3066-48f6-a4ff-068b661095e1.png)

[2022-05-16 22:31] #3015 closed

[2022-05-16 22:33] matmair commented on #2872
@SchrodingersGat bump this to `0.7.x` ?

[2022-05-16 22:34] matmair commented on #3008
@SchrodingersGat bump this to `0.7.x` ?

[2022-05-16 22:52] cmos2020-bit commented on #2872
Hi guys,

Sorry for not replying earlier, but right now I have been extremely busy.
To be honest I don't see it possible for me to work before July on this
project. Please tell me if this is ok.

Thanks

Patricio

On Mon, May 16, 2022 at 6:33 PM Matthias Mair ***@***.***>
wrote:

[2022-05-16 22:58] SchrodingersGat commented on #2872
No worries, this is not a pressing issue so we will bump it to the next release cycle

[2022-05-17 07:01] maksimstojkovic commented on #2970
I'll try working on this feature. Please assign it to me when possible.

Bump this feature to `0.8.0` if necessary to avoid release delays.

[2022-05-17 07:04] SchrodingersGat commented on #2970
Thanks @maksimstojkovic  - please ping me if you have any questions about this

[2022-05-17 07:04] maksimstojkovic commented on #2986
I'll try working on this feature. Please assign it to me when possible.

Bump this feature to 0.8.0 if necessary to avoid release delays.

[2022-05-17 10:25] #2987 closed

[2022-05-17 10:26] SchrodingersGat commented on #2987
@maksimstojkovic this has now been fixed in master :)

[2022-05-17 11:50] Gigahawk opened #3019 "[FR] Database Export API"
**Problem**

I'd like to be able to periodically backup the entire database to JSON from a separate machine that won't have access to the docker containers (can't run `invoke export-records`)

**Suggested solution**

Export dumpdata through the API

**Describe alternatives you've considered**

I can't tell if this could be added as a plugin, but I suppose that could work as well.

**Examples of ot

[2022-05-17 12:00] SchrodingersGat commented on #3019
Not all data is exposed to the API, nor will it be. Some data is sensitive, or does not make sense to expose.

Backup should be done from a system with access to the local machine.

[2022-05-17 12:00] SchrodingersGat commented on #3019
Regarding #2143 - are you on a machine that only supports v2 docker compose?

[2022-05-17 16:18] Angrite opened #3021 "[FR] Possibility to add parts to Purchase order without prior assignment to Supplier"
**Problem**

Imagine Purchase Orders for e-commerce companies, such as Amazon and eBay, where almost any part can be ordered.
It would be a nice feature, if for such seller any part can freely added in Purchase Order, without prior manual parts assignment to such seller.

**Suggested solution**
For each Supplier option (chekbox) “e-commerce company” can be checked (unchecked by default).
When form

[2022-05-17 17:10] matmair commented on #3021
@Angrite thank you for the suggestion.

The current system is built around traceable and versatile part definitions. Therefore we have the system of parts, supplier-parts and manufacturer parts. These need certain data so just adding a button 'add anything' will dilute the quality of data in the system and make it difficult to ensure the exact and right part is ordered again.
Therefore I would giv

[2022-05-17 17:12] matmair commented on #3021
Also could you please make the title a bit clearer - the current one could suggest you want to order from an e-commerce outlet from within InvenTree or that we do not support online sellers currently.

[2022-05-17 17:20] Angrite commented on #3021
Changed to "Possibility to add parts to Purchase order without prior assignment to Supplier"

[2022-05-17 17:25] matmair commented on #3021
@SchrodingersGat where in the roadmap would see a feature like that/is this a plugin candidate? Technically it would be possible to add a custom page which serves as an order agent.

[2022-05-17 18:09] Gigahawk commented on #2143
Temporary workaround from https://www.docker.com/blog/announcing-compose-v2-general-availability/.

You can switch back to compose V1 with `docker-compose disable-v2` or via the desktop UI:
![image](https://user-images.githubusercontent.com/10356230/168881136-c2e8be99-7d40-43dc-b81e-ea30a77d555f.png)

[2022-05-17 18:11] Gigahawk commented on #3019
Solved by reverting to V1

[2022-05-17 18:12] Gigahawk commented on #3019
That was the intention, it by default it should be opt in and scoped to the admin user only.

I'm not familiar with asyn/maintenance mode, is there somewhere I can read about that?

[2022-05-17 20:52] matmair commented on #3019
@Gigahawk maintenance mode can be set with a flag like here:
https://github.com/inventree/InvenTree/blob/b08a98f7a4da6521c280f7e79b33960b75988e91/InvenTree/plugin/apps.py#L45

And doing it async means you offload the heavy processing with offload_task() - you will find plenty of examples in the codebase and the function is documented.

[2022-05-17 21:02] SchrodingersGat commented on #3019
A possible different approach: extend the current backup functionality, with the option to enable "auto periodic back-up" which exports data and zips media files.

A button in the settings interface (only for staff users) allows download of zipped backup files.

@matmair what do you think of this option? Potentially the background worker could do this periodically

[2022-05-17 21:45] SchrodingersGat commented on #3021
The current `Part <- SupplierPart <- Supplier` relationship is very important, allowing users to keep track of supplier information for any given part.  I'm not sure that this could (or should) be integrated as a core feature - I would definitely like to keep the requirement that a `SupplierPart` is required for a `PurchaseOrder`.

Maybe we could make the linking between part / supplierpart / supp

[2022-05-17 22:08] matmair commented on #3019
@SchrodingersGat I would like it more from a security standpoint. With encryption if possible.

[2022-05-17 22:12] matmair commented on #3021
@SchrodingersGat I can see the appeal but this would rank rather low on my list of important issues. Better said: I would not block a PR that implements it but do not plan to do any dev on it. And if it were to be implemented I would strongly suggest full e2e and unit testing as there are many things that can break.

[2022-05-17 22:19] SchrodingersGat commented on #3021
Agreed. I'm not going to dedicate any time to this, and I am against loosening the requirements for the SupplierPart model as it exists currently.

[2022-05-17 23:26] matmair commented on #960
Sounds nice but could create a lot of files. Maybe we need to create a dashboard for that.

[2022-05-17 23:38] SchrodingersGat commented on #960
This might be a good candidate for a plugin. Will close out for now, this has been hanging around for a while and I know that @jnewlands is no longer interested in it.

[2022-05-18 04:43] #2988 closed

[2022-05-18 15:17] matmair opened #3029 "[FR] Optimize Docker for Kubernetes deployment"
**Problem**
The current docker image is not really optimised for deployment with Kubernetes

**Suggested solution**
Work on a few parts:
- [ ] #2585 regarding storage in general
- [ ] move all data that is written ever to a data dir -> immutable files
- [ ] reduce the docker image size to enable faster deploys

**Do you want to develop this?**
Currently getting more into Kubernetes - would love su

[2022-05-18 16:56] miggland opened #3030 "[BUG] Supplier Multiple not taken into account"
I am new to InvenTree, am just getting started implementing it in a way which suits me. So far it seems to do just what I want!

**Describe the bug**
The admin interface allows adding a Multiple (Order multiple) to a supplier part. I assume that a part I buy in a 3-pack from a supplier, should have an order multiple of 3 here - and if I order one of the corresponding supplier part, I should obtain

[2022-05-18 17:34] miggland opened #3031 "[FR] Export/subscribe to calendar views"
**Is your feature request the result of a bug?**
[Scheduling view is implemented](https://github.com/inventree/InvenTree/issues/1206)

**Problem**
It would be great if the calendar view (eg the one for orders) could be obtained in a "subscription calendar", so that it is can be seen in eg Thunderbird

**Suggested solution**
I would like to have a link, such as example.com/inventory/orders.ics, whi

[2022-05-18 19:12] matmair commented on #3031
@miggland this would be rather simple with this well known library:
https://github.com/jazzband/django-ical

I would suggest creating the url somewhere here: https://github.com/inventree/InvenTree/blob/8ceff063f86394cd1be9f5c57e6302b79782a526/InvenTree/order/urls.py#L42

[2022-05-18 20:04] matmair commented on #3030
Hi there @miggland
This is not a bug. If a function or model is not exposed in the UI it is not meant for public consumption. We have some fields that are there for historic reasons but mot accesible through the user interface. If you want a certain function please open a feature request.

[2022-05-18 20:05] matmair commented on #3030
A pretty similar frature request already exist here: #1435

[2022-05-18 20:42] rkalman commented on #2950
It would be great to get a notification if ordered items are arrived - sent to the responsible of the PO. (Sometimes somebody else receives the items, so you need to poll the open POs)

[2022-05-18 21:00] rkalman commented on #2810
We also have the same behaviour on other pages ("header" does not refresh automatically to show uptodate information):
 - build order (badges on the left, completed quantity on the right)
 - purchase order (order status on the left, completed line items and dates on the right)

[2022-05-18 22:30] SchrodingersGat commented on #2810
@rkalman you are right, a lot of pages could be updated to be more "reactive" and make use of the API rather that being rendered statically. This will require a bit of work

[2022-05-18 22:38] SchrodingersGat commented on #3031
A very nice idea! The django-ical library looks like it would integrate very easily! Happy to give you some pointers digging into the code base if you want to tackle this.

Would it be better to have separate ical endpoints for each type of calendar, or a single one which shares *all* events:

- BuildOrder
- SalesOrder
- PurchaseOrder

[2022-05-18 22:40] SchrodingersGat commented on #2810
I am reluctant to spend heaps of effort on a patch fix given we are intending to move to a API-heavy framework anyway.

[2022-05-19 03:34] #2979 closed

[2022-05-19 05:00] pulimoodan commented on #2810
Sorry for the long time to reply, I had been into something else.
I tried playing around this issue. As it is Django static template we have to refresh the page or implement it with Ajax and JS. But Ajax will look more complex when we have to work over it for more feature.
Like @matmair  said, it's good to implement this feature in React or Vue and it's easy to do that. Are we moving to any API fr

[2022-05-19 06:38] miggland commented on #3030
Hello @matmair . Thanks for the reply. The feature request does sound similar, I am fine with continuing there..

[2022-05-19 06:38] #3030 closed

[2022-05-19 06:43] miggland commented on #1435
This sounds like a feature I want :)

[2022-05-19 06:45] miggland commented on #3031
Having had a quick look this indeed looks like something which is not too complicated to implement.

I would say that separate links for each type of event keeps things easy - then each user can decide for themselves which ones they want to subscribe to, without having a lot of settings/categories/... in the calendar. Also easy to show/hide in the calendar client by showing/hiding the whole calend

[2022-05-19 06:59] SchrodingersGat commented on #3031
Sounds reasonable @miggland - do you want me to assign this to you?

[2022-05-19 10:09] rkalman commented on #2810
I think everyone can live with this behaviour, I just mention them because they are all similar to the first one.

[2022-05-19 10:37] maksimstojkovic commented on #2810
It's probably a little primitive in the context of robust software implementation, but it's possible to make the Shipment Completion form (and all other offending forms) automatically reload the page on submission, effectively automating the page refresh.

Given that it is not currently worth everyone commiting time to a large-scale change with an upcoming release and future updates already in the

[2022-05-19 11:15] SchrodingersGat commented on #2810
@maksimstojkovic I'm happy with the proposed fix as a "bandaid" pending UI overhaul.

[2022-05-19 11:16] #2810 closed

[2022-05-19 11:18] SchrodingersGat commented on #2253
The remaining forms here will have to wait for 0.8.0

[2022-05-19 11:31] SchrodingersGat commented on #3029
Regarding docker image size:

- https://pythonspeed.com/articles/alpine-docker-python/
- https://pythonspeed.com/articles/base-image-python-docker-images/

[2022-05-19 21:21] matmair commented on #1839
@SchrodingersGat this would be sweet for 0.8.0

[2022-05-20 07:03] SchrodingersGat opened #3039 "[FR] Unit testing for the "search results" page"
- Check that the search page loads the right results
- Check that the user settings are observed
- As the actual results are loaded by `bootstrap-table` we may not be actually be able to validate the results themselves
- At least check that the right panel tabs are loaded, based on user settings

[2022-05-21 13:45] #2986 closed

[2022-05-21 23:34] #2970 closed

[2022-05-22 19:55] matmair opened #3049 "Refactor label/api.py"
The code in InvenTree/label/api.py is highly duplicated - should be refactored soon.

[2022-05-23 10:20] SchrodingersGat commented on #3019
@Gigahawk after discussion with @matmair we are not going to implement this. It presents a huge security hole and also would be a nightmare both for implementation and maintenance.

We will look into expanding the current import/export functionality, but it will need to be performed by someone with admin shell access to where the data are actually stored.

[2022-05-23 10:20] #3019 closed

[2022-05-23 11:11] SchrodingersGat commented on #2992
@matmair are you happy with the coverage for the `events` plugin system, or would like to see more work on it before `0.7.0` release?

[2022-05-23 14:27] matmair commented on #3019
@Gigahawk to maybe add insight to what concerns us some pointers.
- InvenTree implements a non-nested version of RBAC - so there can be users that have reduced visibility into the data stored in the system.
- The API can be accessed with Token-, Session- or Basic-Auth. Depending on the setup it would be rather simple to fish an elevated users permissions
- A full export would contain a) security s

[2022-05-23 14:54] matmair commented on #2992
@SchrodingersGat I would appreciate if we could cover all mixins and samples - but this is a soft target for me.

[2022-05-23 18:31] matmair commented on #1386
@SchrodingersGat would this be a roadmap item?

[2022-05-23 21:13] palagap opened #3053 "Inventree - Inaccurate stock item quantity post allocation"
I'm running into the following issue:

When allocating stock to a build, the main page for the part is updated to reflect the deceased quantity of the part, but the actual batch for the part is not automatically updated. Attached below is a more detailed description of the issue. Would appreciate any guidance on how to resolve this discrepancy.

[InvenTree Stock Allocation Issue.pdf](https://githu

[2022-05-23 21:45] matmair commented on #3053
Hi there @palagap !
Please fill out the [bug template](https://github.com/inventree/InvenTree/issues/new?assignees=&labels=bug%2C+question&template=bug_report.md&title=%5BBUG%5D+Enter+bug+description) - due to security concerns some users will not open unknown pdfs.

[2022-05-23 22:22] SchrodingersGat commented on #1386
I think that given how integral the 'stock status' label is to the business logic, I'm not keen to pursue this any further. Thanks for pinging this one.

[2022-05-23 22:22] #1386 closed

[2022-05-23 22:29] matmair commented on #1386
I think it would be cool to customise this but there is a ton of more important things to go around.

[2022-05-23 22:31] palagap commented on #3053
Thanks, @matmair - I'll do that and close this issue.

[2022-05-23 22:31] #3053 closed

[2022-05-23 22:44] palagap opened #3055 "Inaccurate stock item quantity post allocation"
Hi there,

The issue I am encountering, is an inaccurate count of an available stock item in InvenTree. To demonstrate this issue, I'll walk through the example below.

First, I logged into the InvenTree demo account (https://demo.inventree.org/) with the username as `admin` and the password as `InvenTree`. Then, I created a new build order – in this case, a blue chair:

<img width="1915" alt="Scr

[2022-05-23 23:18] SchrodingersGat commented on #3055
@palagap fair point, it would be useful  to be able to see the "available" quantity on the stock detail page!

[2022-05-23 23:23] #2992 closed

[2022-05-24 00:22] palagap commented on #3055
Great, thanks! :)

[2022-05-24 00:52] matmair commented on #3055
@SchrodingersGat should this be 0.7.0 or be moved to 0.7.1?

[2022-05-24 02:01] SchrodingersGat commented on #3055
@matmair I'll be able to squeak it in, will only be a very minor change

[2022-05-24 04:11] SchrodingersGat commented on #3055
@palagap check out https://github.com/inventree/InvenTree/pull/3057

[2022-05-24 05:35] #3055 closed

[2022-05-24 05:40] SchrodingersGat opened #3059 "[FR] :checkered_flag: Add "priority" field to BuildOrder"
For differentiating between priority of multiple build orders, e.g. when assigning to a technician which should be completed "first"

[2022-05-24 05:44] SchrodingersGat commented on #960
This has actually come up as a requirement again, will implement for `0.8.0` as an optional feature (default=disabled)

[2022-05-24 05:48] SchrodingersGat opened #3060 "[FR] Improvement to "build order" display on salesorder page"
### Tree View

Add the ability to display a "tree view" of all build orders under a given sales order.

e.g. if the top-level build orders (required for a sales order) have children (and those children have children, etc) they should be displayed as a multi-level tree all the way down

### Calendar View

Add the option to have a 'calendar display' for the build orders, much like the top-level buil

[2022-05-24 05:50] SchrodingersGat opened #3061 "[FR] Add optional tree view to BuildOrder index"
Build orders can be arranged in a parent:child hierarchy - so it makes sense that we should be able to display the table as a tree!

bootstrap-table already supports this, so the addition should not be too complex.

Add an extra "tree" button as shown below:

![image](https://user-images.githubusercontent.com/10080325/169958344-72a75d77-2912-45ef-b3da-2e890c219e8e.png)

[2022-05-24 05:53] SchrodingersGat opened #3062 "[FR] Improved Dashboard System / Index Page Improvements"
The current "home page" needs a major overhaul and should show information pertaining to the logged-in user.

For example a technician should be able to see all the build  orders assigned to them, basically their "assigned tasks".

Instead of *boring* tables, some "dashboardy" widgets which are information dense.

The dashboard will also be exposed to the plugin interface, so custom dashboard "wid

[2022-05-24 05:53] SchrodingersGat commented on #3062
@eeintech @matmair @maksimstojkovic any ideas here? What would you like to see as a "dashboard" when you log into InvenTree?

[2022-05-24 06:19] matmair commented on #3062
@SchrodingersGat the option to load a lot less data at the beginning would be nice. So everything loads faster and that there are fewer API requests.

[2022-05-24 06:52] miggland commented on #3031
I would give it a try - but it may take a while...

[2022-05-24 06:57] matmair commented on #3031
@miggland no worries - this is a nice-to-have not a must. Feel free to ping us if you want to have pointers or feedback

[2022-05-24 06:58] SchrodingersGat commented on #3031
Take your time @miggland - we welcome any and all assistance!

[2022-05-24 09:34] maksimstojkovic commented on #3062
@SchrodingersGat possibly a similar bar to the page-actions menu which allows sales/purchase/build orders to be created directly, before reloading into the page of the said order. It could be debated whether the inclusion of the bar would consume too much screen real estate, but in the future it could be modified to include other frequently used actions (ideally this is a data-driven decision).

[2022-05-24 11:28] SchrodingersGat opened #3065 "[FR] Conslidate docker CI steps"
Currently there are *three* different CI workflows for docker:

- https://github.com/inventree/InvenTree/blob/master/.github/workflows/docker_latest.yaml
- https://github.com/inventree/InvenTree/blob/master/.github/workflows/docker_stable.yaml
- https://github.com/inventree/InvenTree/blob/master/.github/workflows/docker_tag.yaml

consolidate these into a single workflow which builds and tests the

[2022-05-24 15:41] eeintech commented on #3062
I would vote for a "recent activity" feed:
- part added, by which user and when
- part supplier update, by which user and when
- BoM recently validated, by which user and when
- stock updates, by which user / PO / SO and when it was updated
- BO status updates, by which user and when it was updated
- etc.

[2022-05-24 18:16] feurer98 commented on #3062
I think you can never please everyone.
That's why I would give the user a possibility to design it himself.
As a reference like MyPage from Openproject: [Docs](https://www.openproject.org/docs/getting-started/my-page/)

Maybe just keep this option in mind and then introduce it on a testable frontend.

[2022-05-24 21:44] matmair commented on #3062
Nice idea. Could be a pretty expensive database operation without caching thought.

[2022-05-24 22:13] SchrodingersGat commented on #3021
@Angrite I don't think the suggestion fits with our development goals. Maybe it could work as a custom plugin?

[2022-05-24 22:13] #3021 closed

[2022-05-24 22:19] #2314 closed

[2022-05-24 22:20] #1098 closed

[2022-05-25 00:00] SchrodingersGat opened #3068 "[FR] Add 'expand all' and 'collapse all' buttons to more tables"
Basically wherever we have tables where rows can be expanded, it would be useful to add the 'expand all' button (like for the buildorderallocation table)

Refactor this to make it a template?

e.g. shipments table:

![image](https://user-images.githubusercontent.com/10080325/170150969-1d8ce99e-2eeb-4366-b879-9bfc6c945ce1.png)

[2022-05-25 00:23] SchrodingersGat opened #3069 "[FR] Make "confirm" buttons a user-configurable option"
Some complaints from users that the "confirm" buttons on some dialogs are too "onerous"

Might be worth making this a simple user-configurable option (default=on)

[2022-05-25 02:17] maksimstojkovic commented on #3062
Thoughts on a single-page scrollable dashboard with tiles/widgets that can be enabled/disabled?
I find that a fair bit of the information available on screen in the existing dashboard is not used when deciding to navigate to a specific order.

For example, it only makes sense to show pending sales orders (whether outstanding or overdue) in the dashboard, and can be listed in a tile/widget sorted b

[2022-05-25 05:05] matmair commented on #1173
@SchrodingersGat is this still relevant?

[2022-05-25 05:09] matmair commented on #1098
@SchrodingersGat kind of overshot the goal :-)

[2022-05-25 05:15] matmair commented on #3069
While I cannot see me disabling this an option cannot hurt.

[2022-05-25 05:25] matmair commented on #3062
I think it is highly dependent on the type of user. A workshop operator only cares about their build orders and maybe what parts are low in stock while someone in accounting or logistics might be more interested in getting orders in/out.
These dashboard ideas all seem great but I strongly suggest to create a clear outline of the architecture before we spend significant dev time on it.

[2022-05-25 05:28] maksimstojkovic opened #3073 "[BUG] Search Menu Not Finding Items"
**Describe the bug**

The search menu appears to be perpetually "searching", both before and after entering text in the search bar.

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Open search menu.
2. Type in product name.

**Expected behavior**

 Items should appear in the search bar.

**Screenshots**

**Note:** Instance was recently updated from 0.6.4 to 0.7.0 and `invoke update` w

[2022-05-25 06:23] maksimstojkovic commented on #3073
@SchrodingersGat correct. Those images were just for comparison.

[2022-05-25 07:21] SchrodingersGat commented on #3073
Have you tried doing a hard-refresh of your browser? Maybe the javascript files have been cached incorrectly.

[2022-05-25 10:50] maksimstojkovic commented on #3073
That was it! I overlooked hard refreshing after upgrading. Thank you!

[2022-05-25 10:50] #3073 closed

[2022-05-25 13:35] #3008 closed

[2022-05-25 14:14] miggland opened #3074 "[FR] Support SVG images for parts/companies"
**Problem**
The URL copy function for images is amazingly simple - great tool. However, it does not work for SVGs.
Many companies use SVG logos on their websites. SVGs are standard in web development nowadays.

**Suggested solution**
Add SVGs to the list of supported formats. The display should not be more difficult than PNG/JPG images..

**Describe alternatives you've considered**
Downloading, co

[2022-05-25 14:38] matmair commented on #3074
Webp support was already added - that seems to be the way the big distributors go. Feel free to add svg to the supported list, I see this as low priority.

[2022-05-26 00:54] SchrodingersGat commented on #3074
@miggland supporting `svg` would be actually much more complicated than you might expect at first thought, due to the way that django handles image files.

Essentially as `svg` is a non-raster image format, which is not supported by [pillow](https://pypi.org/project/Pillow/) then it cannot be supported the the [Django ImageField](https://docs.djangoproject.com/en/4.0/ref/models/fields/#imagefield)

[2022-05-26 05:41] #3060 closed

[2022-05-26 05:41] #3061 closed

[2022-05-26 12:26] SchrodingersGat commented on #1173
Unless someone really really wants it, probably not. Pretty old this one.

[2022-05-26 12:26] #1173 closed

[2022-05-26 16:41] matmair opened #3077 "[FR] Sign artifacts with sigstore"
**Problem**
We are not signing our artefacts (docker images, pypi packages) right now.

**Suggested solution**
The big players are working together on a framework for this called sigstore.
This article describes how to do it on docker: https://dev.to/n3wt0n/sign-your-container-images-with-cosign-github-actions-and-github-container-registry-3mni
I am looking into pypi right now.

**Describe alterna

[2022-05-26 16:42] matmair commented on #3077
@SchrodingersGat would that be possible with #3042 ?

[2022-05-26 17:16] matmair opened #3078 "[FR] Automated releases"
**Problem**
Releases are currently a very manual process. That covers multiple repos.

**Suggested solution**

- [x] Use GitHubs automatic release note creation (with attribution, new contributors, section etc) [the docs are great](https://docs.github.com/en/repositories/releasing-projects-on-github/automatically-generated-release-notes)
- [ ] Create a release action that runs after a release is c

[2022-05-26 17:18] matmair commented on #3078
Inspiration for workflow: https://gist.github.com/riggaroo/d828c5ffecf261d3ccc7bde89817dba5

[2022-05-26 17:28] matmair commented on #3078
https://github.com/gr2m/twitter-together for releasing tweets

[2022-05-26 17:30] matmair commented on #3078
https://github.com/marketplace/actions/release-for-reddit for releasing reddit post

[2022-05-26 19:57] eeintech opened #3080 "[FR] Parameter filtering 2.0"
## 0.6.4 stable

![image](https://user-images.githubusercontent.com/4020546/170566376-3e4db1d7-1870-45b6-978c-fa1b252f454c.png)

## 0.7.0 stable

![image](https://user-images.githubusercontent.com/4020546/170566942-0c1d1b16-c35d-41cb-a097-ed5b0f652054.png)

## Bug description

See screenshots above, I would like to get back to the `0.6.4` table filter settings if possible, as I use this feature of

[2022-05-26 20:15] matmair commented on #3080
@eeintech seems to be a regression rather than a bug.

[2022-05-26 20:22] eeintech commented on #3080
@matmair https://en.wikipedia.org/wiki/Software_regression

"A software regression is a type of [software bug](https://en.wikipedia.org/wiki/Software_bug) where a feature that has worked before stops working."

Anyway happy to label it otherwise in the title, lemme know

[2022-05-26 20:38] eeintech opened #3082 "[BUG] 0.7.0 New search bar creates error banner related to permission"
**Describe the bug**

See below:
![image](https://user-images.githubusercontent.com/4020546/170575749-539939c5-e5e0-40ca-9d4b-6111fcc0ad3c.png)

**Steps to Reproduce**

1. Create group with no "Sell" permission, create user inside that group
2. Enter string in search bar
3. Red banner pops up in the main view (behind search bar)

**Expected behavior**

API search should not be triggered for items

[2022-05-27 01:05] SchrodingersGat commented on #3082
@eeintech good catch!

[2022-05-27 01:29] SchrodingersGat commented on #3080
@eeintech this was probably broken in https://github.com/inventree/InvenTree/pull/2761 which moved the part parameter table to use the API

The 'table filter' function required all the data to be loaded into the table when the table is initialized. For large datasets this made the page take dozens of seconds to load (which is not tenable). So, we moved to using the API, and all was right with the

[2022-05-27 02:55] SchrodingersGat commented on #3078
This is definitely on my radar, every release cycle takes so much work, and invariably I'll overlook one of the many steps

[2022-05-27 03:26] #3082 closed

[2022-05-27 04:39] SchrodingersGat commented on #3077
@matmair looks like a nice idea, am certainly keen to look into implementing that. Definitely if it is part of the automated build procoess

[2022-05-27 06:21] matmair commented on #3077
@SchrodingersGat it is only 2 additional actions and no manual work so docker should be no problem. Pypi seeks a bit more involved right now.

[2022-05-27 06:53] miggland opened #3085 "[BUG] Shipment tracking information lost on completing shipment"
**Describe the bug**
When creating shipments for sales orders, there is the possibility of adding a tracking number at the beginning, and at completion of the shipment.
If it is added at creation, and no information is added on completion, the tracking ID is lost.

**Steps to Reproduce**

Steps to reproduce the behavior:
1. Create Shipment under 'pending shipments'. Enter a tracking ID
2. Assign s

[2022-05-27 07:00] miggland commented on #3074
Yes the problem is obviously larger than I expected. If there is no easy way to add an automatic conversion either, drop this. After all, it is a minor inconvenience!

[2022-05-27 07:00] #3074 closed

[2022-05-27 07:21] matmair commented on #3078
@SchrodingersGat should we maybe start with a list of steps?

[2022-05-27 07:31] SchrodingersGat commented on #3085
@miggland can you please see if you can replicate this behaviour on the demo server (https://demo.inventree.org) - I *believe* that this has already been fixed? Please let me know either way

[2022-05-27 07:40] miggland commented on #3085
@SchrodingersGat: Your demo server is living in the future :) The issue has been fixed, and does not occur on the demo server.

[2022-05-27 07:40] #3085 closed

[2022-05-27 07:47] SchrodingersGat commented on #3085
That's great to hear! 0.6.4 is a little outdated now is all

[2022-05-27 07:49] miggland commented on #3085
You're obviously moving fast, which is great. I did just install the system within the last month though! I will update to 0.7.0 asap

[2022-05-27 18:42] matmair commented on #2962
@SchrodingersGat should we assign this a Milestone if it is on the roadmap?

[2022-05-27 22:37] markusEmm123 opened #3088 "[BUG] Missing /bin/bash: ../docker/init.sh: in docker"
**Describe the bug**
When starting a docker image "latest", the container immideately terminates with (only) the error message
/bin/bash: ../docker/init.sh: No such file or directory

**Steps to Reproduce**

Steps to reproduce the behavior:
1. Download image inventree/inventree:latest (or stable) on May 28th
2. Set up a container with volume link to existing inventree static data folder
3. Run con

[2022-05-27 23:04] matmair commented on #3088
@markusEmm123 could you pull the hash of the image you are experiencing the problem with?

[2022-05-27 23:07] matmair commented on #3088
@markusEmm123 we are currently restructuring the docker-files pls use the 0.7.0 release / :stable if you need a running install - latest is always bleeding edge, sometimes without corresponding docs.

[2022-05-27 23:08] matmair commented on #3088
@SchrodingersGat could this be a result of the current refactoring?

[2022-05-27 23:11] markusEmm123 commented on #3088
Thanks for the quick response.

Error persists with :stable (identical behaviour to :latest concerning this error)

Error does not occur when i remove the link to the persistent storage (the container then runs until it encounters some error caused by the misconfiguration due to the wrong home folder)

..working on the hash...

[2022-05-27 23:14] markusEmm123 commented on #3088
Name: inventree-inventree(stable).syno.tar
Size: 1854420480 Bytes (1768 MiB)
SHA256: 4012344A5AF09DFE84C3C9A0FD09B098B7235E84F1D19BADEFF9937130E38F67

Those are the values of an exported image from the Synology Docker app though. I don't know if that is a 100% identical copy of the image from docker hub.
But as the error occurs with both :stable and :latest i would rule out some download/data erro

[2022-05-27 23:17] matmair commented on #2493
After https://github.com/inventree/InvenTree/pull/3089 closes we can add inline docs and then close this one.

[2022-05-27 23:21] matmair commented on #3088
Intresting. Our docker pipeline runs through. Could you compare cour docker-compose file with [this](https://github.com/inventree/InvenTree/blob/master/docker/docker-compose.yml) for development and this for [production](https://github.com/inventree/InvenTree/blob/master/docker/production/docker-compose.yml)?

[2022-05-27 23:46] markusEmm123 commented on #3088
@matmair unfortunately i'm running the container on my Synology NAS and therefore can't access the compose file as far i know.
From what i can tell the main differences are that
1. i use MariaDB (mysql) as database server (not running in a container) and
2. i only have one container running (not split up in server and worker)

That way it has worked up to now, but i'm not sure which version i was

[2022-05-27 23:50] markusEmm123 commented on #3088
Actually the screenshot from my former bug report helped me get the seetings right.
I had to link /docker/inventree/data to /home/inventree/data (not /docker/inventree to /home/inventree).
I was missing the /data subdirectory in the volume link.

[2022-05-28 00:06] SchrodingersGat commented on #3088
@markusEmm123 so it is all working for you now, or still problems persist?

[2022-05-28 00:06] matmair commented on #3088
@markusEmm123 regarding 2: in this way a low of new functions will not work as we are offloading more and more functions (especially notifications, events, plugins) to make the user interface speedier.

Is it working now?

[2022-05-28 00:07] SchrodingersGat commented on #3080
Parameter filtering will be a super powerful feature, will take some thinking to get it implemented though :)

[2022-05-28 00:15] matmair commented on #3080
@SchrodingersGat I think we should try to get that working with the general filter setup

[2022-05-28 00:32] SchrodingersGat commented on #3080
Absolutely!

[2022-05-28 12:43] eeintech commented on #3080
Changed the title as while being a regression this is now oriented towards a better implementation!

[2022-05-28 13:38] SchrodingersGat commented on #3078
### Release Notes / Changes / Milestones

Currently we assign PRs and issues to milestones, so we can look back and see exactly what has been done for a certain release.

We then also copy / reproduce this information over on the documentation repo, e.g. https://inventree.readthedocs.io/en/latest/releases/0.7.0/

This is a major duplication of data, ideally there would be a way of automating this

[2022-05-28 17:04] matmair commented on #3078
@SchrodingersGat the GitHub automated release note creation could take care of the first part - the rest could be done by a workflow that runs on release publishing.

[2022-05-28 23:15] matmair opened #3090 "[FR] Switch to pyproject.toml"
**Problem**
The new style for python projects is to use a *.toml file instead of setup.py + setup.cfg

**Suggested solution**
Switch to the newer format. Also for all built-in plugins and add support for them in plugins with a mixin that get's all its metadata from there.

**Examples of other systems**
https://pip.pypa.io/en/stable/reference/build-system/pyproject-toml/

**Do you want to develop t

[2022-05-28 23:40] #1273 closed

[2022-05-28 23:40] #3065 closed

[2022-05-29 09:09] markusEmm123 commented on #3088
Thanks for all the support, it is working now.
And thank you for the hint with the split-container setup, i will work on that.

[2022-05-29 09:09] #3088 closed

[2022-05-29 20:12] spectre-ns commented on #2962
@SchrodingersGat could this be used for equipment tracking?

[2022-05-30 03:10] SchrodingersGat commented on #3003
Closed by https://github.com/inventree/InvenTree/pull/2957

[2022-05-30 03:10] #3003 closed

[2022-05-30 11:12] eeintech opened #3097 "[BUG] 0.7.0 BOM Import fails to match parts by Part ID"
**Describe the bug**

On last step of BOM import, it fails to match parts by Part ID field:

![image](https://user-images.githubusercontent.com/4020546/170979893-ed5ddb7e-51fa-4f45-bd28-9d0b6348d1f3.png)

**Steps to Reproduce**

Steps to reproduce the behavior:
1. In Part view, click "Bill of Materials" then click tools dropdown and "Upload BOM"
2. Select a file which contains valid reference, par

[2022-05-30 11:23] eeintech opened #3098 "[BUG] 0.7.0 PO Import tools issues"
**Describe the bug**

There are multiple issues with the Purchase Order import tool:
1. When user selects a file, file name is shown twice

![image](https://user-images.githubusercontent.com/4020546/170981428-b1c1f974-a8d9-4f6e-8241-b80bcee46e00.png)

2. On step 2, the file column names are missing from the view

![image](https://user-images.githubusercontent.com/4020546/170981598-1eacb750-73f3-4f

[2022-05-30 12:48] SchrodingersGat commented on #3097
Any fix here will have to include improving our unit testing around the BOM import tool

[2022-05-30 12:49] SchrodingersGat commented on #3098
I think we should make the leap and migrate the Purchase Order importer to the API importer (as is used for BOM importing)

Ref: https://github.com/inventree/InvenTree/issues/3097

[2022-05-30 13:34] SchrodingersGat opened #3100 "[FR] Additional actions for 'release' workflow"
Some additional actions performed in the 'release' workflow would reduce the manual operations required after completing a release version:

### Stable Branch

- Determine if the 'tag' is the 'newest' one (i.e. highest major.minor.patch semver release)
- If so, push current commit to the 'stable' branch (force?)
- Also push the docker image to dockerhub with the 'stable' tag

[2022-05-30 13:52] matmair opened #3101 "[FR] Import tool refactor"
**Is your feature request the result of a bug?**
#2341
#3098
#3097
#6321

**Problem**
We have several ways to do imports - we should refactor imports out.

**Suggested solution**
Two principles:
- API first
- backend-run first

Backend:
- [x] Switch to [data-wizard](https://github.com/wq/django-data-wizard)
- [x] Refactor all import code into a seperate app
- [x] Clean up / limit exposed APIs from

[2022-05-30 17:35] matmair commented on #3100
Ref #3078

[2022-05-30 23:09] SchrodingersGat commented on #3101
This one feels like a high priority once we've got the current backlog of devops stuff out of the way

[2022-05-30 23:50] #3100 closed

[2022-05-31 03:33] #1254 closed

[2022-05-31 13:44] eeintech commented on #3097
You know what, it was a user issue... I mixed up Part ID and IPN :clap: :disappointed:

Import works just fine, sorry for the noise.

[2022-05-31 13:44] #3097 closed

[2022-05-31 21:32] chrissnow opened #3108 "[FR] Metaparts"
**Is your feature request the result of a bug?**
No

**Problem**
Alternative concept to PartKeepr Metaparts

**Suggested solution**
Having used PartKeepr for a number of years the lack of development and bugfixes is getting a bit problematic.

InvenTree seems to be a much more mature and modern platform but I think lacks one major concept for Electronics which PartKeepr actually does rather well,

[2022-05-31 21:41] SchrodingersGat commented on #3108
I believe that the existing concept of "template" parts would fit here. You can have a generic master part that you put in your BOM, and fulfil the requirement with a specific *variant* part

https://inventree.readthedocs.io/en/latest/part/template/

Does this fit your requirement?

[2022-05-31 21:54] chrissnow commented on #3108
That may be similar, though would require manually setting up each time a new part is bought? the nice thing about Metaparts is that it's purely based on parameter filters.

For example a 10K 0402 1%
![image](https://user-images.githubusercontent.com/3310276/171290232-2d2df4db-9b3b-4011-8546-4a4b8faef55e.png)

0402 100nF 16V X7R 10%
![image](https://user-images.githubusercontent.com/3310276/171290

[2022-05-31 22:17] matmair commented on #3108
@SchrodingersGat from the examples this seems to be a use case for variants?

[2022-05-31 22:19] SchrodingersGat commented on #3108
@chrissnow ah I see what you mean about specifying parts simply based on parameters. Currently we don't have the framework to support that. There are some roadmap items to improve our parameter functionality (which is currently pretty meagre) but nothing like the full "meta part" concept.

[2022-06-01 05:40] SchrodingersGat opened #3109 "[FR] Add table filters to "allocate stock" table in build order"
Needs some table filters to allow discrimination by:

- Lines which are fully allocated / not fully allocated
- Lines where stock is available / not available

[2022-06-01 15:37] #2652 closed

[2022-06-01 19:19] palagap opened #3112 "Incorrect stock allocation when building new part"
**Describe the bug**

Hi there,

I'm running into an issue in InvenTree - when building a new part / assembly, installing stock items in its BOM ends up clearing the inventory of those parts. The example below, using the InvenTree demo version, illustrates this.

**Steps to Reproduce**

Steps to reproduce the behavior:

First, we'll choose to make a widget assembly:

<img width="1694" alt="Screen

[2022-06-01 21:39] matmair commented on #3112
@palagap this is expected from my understanding of your steps.
You are installing the stockitem (containing however much instances of a part) into the assembly - if you want to allocate stock to a build according to the BOM this needs to be done in the allocation tab of the build.

[2022-06-01 23:19] SchrodingersGat commented on #3112
@palagap yes this is "expected" behaviour - although the steps you are performing are not the intended way to install stock via a build order.

Manual installation of one stock item inside another stock item consumes the entire quantity of that stock item. Manual installation is not intended to be a normal workflow step.

You want to follow the [allocation procedure](https://inventree.readthedocs.

[2022-06-02 04:10] SchrodingersGat commented on #3098
There is too much work required here to fix this, as we will be overhauling the entire import tool in #3101

[2022-06-02 04:10] #3098 closed

[2022-06-02 15:25] matmair commented on #708
@SchrodingersGat we support all of this now - I think. Should we close this?

[2022-06-02 22:38] palagap commented on #3112
Got it, thank you for the clarifications @SchrodingersGat and @matmair.

[2022-06-02 22:38] #3112 closed

[2022-06-02 23:33] matmair commented on #3112
@palagap if you have a suggestion for a short description we should add to the form I would be happy to add it.

[2022-06-03 06:52] SchrodingersGat commented on #2341
Replaced by #3101

[2022-06-03 06:52] #2341 closed

[2022-06-03 14:51] SchrodingersGat commented on #708
This has been hanging around for a while! Yes the barcode support is much more mature now, I think this can definitely be closed out.

[2022-06-03 16:48] matmair commented on #1086
@SchrodingersGat do you see something actionable here - I suggest to close it if not.

[2022-06-03 22:59] SchrodingersGat opened #3129 "Scan Barcode"
### Discussed in https://github.com/inventree/InvenTree/discussions/3126

<div type='discussions-op-text'>

<sup>Originally posted by **lookme2** June  3, 2022</sup>
I'm not sure this is a bug or not.  So I thought I would start here.  After updating to 7.0 and trying to scan a barcode I get "Server error"

The question is do I have something setup wrong?  I seem to remember something about this m

[2022-06-03 23:01] SchrodingersGat commented on #3129
@lookme2 you should be able to view the error message in the admin view:  https://inventree.readthedocs.io/en/latest/settings/logs/

Can you please post the error message here?

Are you using the main barcode scanning view from the navbar? And using the USB scanner functionality, or the "scan via webcam" feature?

[2022-06-03 23:03] SchrodingersGat commented on #1086
@rco3 our barcode support has advanced quite significantly now. If there is anything in particular you want to see, please open a new issue :)

[2022-06-03 23:03] #1086 closed

[2022-06-03 23:09] SchrodingersGat commented on #853
Closing out this issue as it turned into an open-ended discussion. Support for label printing and barcodes has come a long way since this discussion.

[2022-06-03 23:09] #853 closed

[2022-06-03 23:10] SchrodingersGat commented on #677
Closing out this issue, it grew into quite the long-winded discussion and there's little in the way of specific actionable items here.

[2022-06-03 23:10] #677 closed

[2022-06-04 19:16] matmair commented on #1087
@SchrodingersGat is this something we should implement?

[2022-06-04 23:55] SchrodingersGat commented on #1087
I'd be open to it, but don't have time or desire to implement it myself. Looks like the jquery-scanner-detection library is outdated, might want to use https://github.com/axenox/onscan.js instead

[2022-06-05 19:55] matmair commented on #1531
@eeintech there was a lot of work done on allocation - is this still valid?

[2022-06-06 00:51] SchrodingersGat commented on #1638
May be outdated as https://github.com/inventree/InvenTree/issues/3101 is devloped

[2022-06-06 02:46] eeintech commented on #1531
I'll take a look this week, thanks for letting me know 👍

[2022-06-06 05:20] #960 closed

[2022-06-06 05:21] #3013 closed

[2022-06-06 06:32] mattbnz opened #3139 "[BUG] part.has_complete_bom_pricing is broken by c6fd2281"
**Describe the bug**

There are two code errors in https://github.com/inventree/InvenTree/commit/c6fd2281d689309007b06c46560e6f446ee931bd which completely break the part.has_complete_bom_pricing property (at least in head, and the current stable release... and afaict, the code was never correct, but I haven't gone back to check).

The issues are:
1) before the loop - calling common.models.get_sett

[2022-06-06 06:32] mattbnz commented on #3139
I have a fix for this and will send a pull request shortly.

[2022-06-06 08:57] #3139 closed

[2022-06-06 14:00] SchrodingersGat commented on #2872
@cmos2020-bit have you have any chance to look into this?

[2022-06-06 14:17] SchrodingersGat commented on #3007
@architsinghal-mriirs gladly, please let me know if you need any pointers on where to dive into the code!

[2022-06-06 19:28] matmair commented on #1425
@SchrodingersGat I think 'Blank' line is now fulfilled.

[2022-06-06 20:40] matmair commented on #1531
@eeintech I think I am not getting what you mean by the requests 1 and 2 - I will let Oliver handle that as he self-assigned.

[2022-06-06 21:31] SchrodingersGat commented on #1531
@eeintech regarding 1) in particular, I have been thinking about fixing this for my own workplace, as it would fit our workflow better. Hopefully I have some time to allocate to this soon

[2022-06-06 21:38] SchrodingersGat commented on #1531
Ref: https://github.com/inventree/InvenTree/issues/3012

[2022-06-06 21:53] matmair commented on #3012
@SchrodingersGat I think an option to 'recycle' already consumed parts would be also good.

[2022-06-07 09:41] papgrap opened #3153 "[FR] add custom parameters to SupplierPart"
**Is your feature request the result of a bug?**
No.

**Problem**
It would be great to have custom parameters on SupplierParts, just like the way they are implemented in Parts and ManufacturerParts.

**Suggested solution**
Using custom parameters on SupplierParts it would be possible to add lead times or cancellation times which are sometimes unique to each part and supplier. These parameters coul

[2022-06-07 19:36] matmair opened #3157 "FR: Reduce tasks"
At least the task 'style' is redundant with pre-commit. I think we should clean up the tasks and remove everything we do not need to make it easier to keep an overview.

[2022-06-07 19:37] matmair commented on #3157
@SchrodingersGat what is your opinion regarding this?

[2022-06-07 20:01] matmair commented on #3153
@papgrap seems interesting - although I have no need for it as I use metadata to save data for my plugins.
I generally advise ppl. to implement the features they want themself as it can take a while for stuff to get developed if no core-dev is interested in it. If you want to and need pointers feel free to ask.

[2022-06-07 21:50] SchrodingersGat commented on #3157
It is worth looking at, it has been quite a while since we assessed this file. We can look at each task and determine whether it is worth keeping.

[2022-06-08 01:57] KenwoodFox opened #3160 "[BUG] could not serialize access due to concurrent update"
**Describe the bug**
Some items failure to serialize and throw a 500 error on browsing

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/31870999/172514716-63b0c3db-c15b-4202-bd67-0e12fb1b5bbc.png)

**Deployment Method**
- [x] Docker
- [ ] Bare Metal

**Version Information**
[code]

[2022-06-08 02:17] KenwoodFox commented on #3160
Looks like the action i spawned failed :sweat:

[2022-06-08 02:19] SchrodingersGat commented on #3160
@KenwoodFox have you seen this issue multiple times, is it repeatable? I have never seen this issue before, so we need to be able to replicate it :)

[2022-06-08 02:23] KenwoodFox commented on #3160
On a few parts yeah, i should note also I used `kintree` to generate the parameters and manufacturer information, via the api.

Im not sure i see a pattern with what parts it seems to affect, ill admit its not super.. consistant, affecing about 1 in 3 page loads for affected parts, and never occuring on some parts.

[2022-06-08 02:32] KenwoodFox commented on #3160
Just confirmed, it happens with parts created entirely via the web interface, nothing fancy at all.

[2022-06-08 03:21] SchrodingersGat commented on #3160
Did you make any changes during the install process? In particular, did you adjust any database configuration settings?

[2022-06-08 03:28] KenwoodFox commented on #3160
No i did not, just installed an hour ago, pretty stock stuff, anything i can check?

[2022-06-08 03:31] SchrodingersGat commented on #3160
Nothing that immediately jumps to mind. Please see what else you can find in the logs (if anything). This is a new one!

If you can find any rhyme or reason to which pages the failure occurs on, or any other "common" points of failure, that would be a great start for debugging.

[2022-06-08 03:56] KenwoodFox commented on #3160
Ill do some sluething! I noticed a log level env variable in the `.env` file, maybe turning that to `DEBUG` would be a good place to start?

[2022-06-08 11:22] papgrap opened #3161 "[BUG] newline characters in the description can break part pages"
**Describe the bug**
When importing data via the python api, it is possible to save part descriptions containing newlines.
This causes pages of parts that use a part with a "newline-description" in their bill of materials to break. The page is not fully loaded and doesn't react to any input.
This happened to me because I imported some parts and BOMs from Google Sheets via the python api, where som

[2022-06-08 11:40] matmair commented on #3160
@KenwoodFox could you [check the logs]( https://inventree.readthedocs.io/en/latest/settings/logs/) and post us the content of one?

[2022-06-08 11:44] matmair commented on #3161
Can confirm. Needs patches ng in the API validation - I am a bit amazed that this is not triggering already.
Thanks for the report @papgrap !

[2022-06-08 11:49] #2569 closed

[2022-06-08 11:50] SchrodingersGat commented on #3161
This is definitely a concern. Shouldn't the template rendering engine be escaping the newlines, though?

[2022-06-08 11:52] SchrodingersGat commented on #3153
@papgrap actually there is work in progress (but, long since stalled) for a "lead_time" field on the SupplierPart model:

https://github.com/inventree/InvenTree/blob/258957c14c371b16578337bb8a440279d4b8fa74/InvenTree/company/models.py#L530

However it needs some attention to implement!

Implementation of a "lead_time" field might be a good introductory exercise. I'd be happy to help point you in t

[2022-06-08 14:06] spectre-ns commented on #1297
This would be amazing. We currently use a reverse proxy to use a single IP address and HTTPS connection to serve multiple services. I would love to be able to put inventree behind the apache reverse proxy.

[2022-06-08 14:29] matmair commented on #1297
@spectre-ns the needed changes are easy but numerous so I would not hold my breath for it. Maybe use nginx to rewrite everything - I switched to that strategy when I moved from bare metal to k8 everywhere.

[2022-06-08 14:40] spectre-ns commented on #1297
@matmair is there an alternative way to get it running https. I could put it on a subdomain with it's own ip address?

[2022-06-08 14:54] matmair commented on #1297
@spectre-ns that has nothing to do with this issue or InvenTree and is handled directly by your reverse proxy or webserver. Please look up how to setup https for your respective software. I recommend to use letsencrypt and certbot - you should be supplied with a setup wizard that way.

[2022-06-08 19:55] lookme2 commented on #3129
@SchrodingersGat I am away from the server until Friday.  I will post the log file then.

[2022-06-09 14:34] miggland opened #3164 "[FR] Pre-fill required quantity to PO when adding items from sales order page"
**Problem**
I am using the "Purchase stock" button on the Sales order page (really helpful feature, btw).
I have no items allocated or shipped (I have nothing on stock).
The suggested quantity to add to the PO is 1 - much less than the sales order requires.

**Suggested solution**
It would make sense if the suggested quantity were the quantity required - ie total required, minus allocated stock.

[2022-06-09 15:17] matmair commented on #3164
@miggland seems like a reasonable request. There was a similar FR already but I cannot find it right now.
If you implement this please take a look at #2253 . We are switching to an API driven approach for the user-interface so the solution should best extend the current endpoints with an extra parameter to control this. @SchrodingersGat is the expert for our ui stuff though.

[2022-06-09 18:46] spectre-ns opened #3165 "Minimum and Recommended System Requirements"
I have inventree on AWS and so far it is amazing! It is running a bit on the slow slide though. I'm curious what kind of hardware (Virtual or physical) people are using to power inventree? trying to make sure I'm not doing anything dumb that is making it artificially slow.

[2022-06-09 19:23] matmair commented on #3165
This does not seem like a feature request or an issue - I am going to close this. If you want to have a general discussion please consider using discussions.

Regarding your question: InvenTree can run on as low as 265 mb of ram and half a vCPU in a usable state. A normal 5€ cloud instance with 500-1000Mb should be enough for up to 5 concurrent users.

Speed really depends on your setup. The main

[2022-06-09 19:24] #3165 closed

[2022-06-09 21:34] SchrodingersGat commented on #3164
@miggland this is definitely a worthwhile feature. FYI I recently merged this PR - https://github.com/inventree/InvenTree/issues/1996 - which changed the parts ordering wizard from using back-end forms to using the API formsets.

However, this PR resulted in a regression of the exact feature you want - i.e. the "quantity" field being automatically calculated. This was because the API was missing s

[2022-06-09 22:26] matmair commented on #3165
Ref #3166

[2022-06-09 23:05] SchrodingersGat opened #3167 "[FR] User configurable pattern for order reference field"
Ref: https://github.com/inventree/InvenTree/discussions/3163

Allow reference fields for orders (Build / Sales / Purchase) to follow a configurable pattern.

Currently we allow a regex pattern to be specified for the `IPN` (internal part number) field, which could be extended here.

The added complication is that the order reference field is shadowed with an integer copy, to allow for natural sort

[2022-06-09 23:16] SchrodingersGat commented on #3167
Implementation idea:

- Add a global setting (one for each order type) such as `PURCHASE_ORDER_REFERENCE_REGEX`
- This is a regex pattern that allows enforcement of custom reference value
- The setting must either be *empty* (default) or have exactly 1 capturing group
- e.g. `(\d{4})-(?:.{4})` would match the custom pattern requested by @miggland
- As there is a single capturing group (enforced) t

[2022-06-10 00:50] SchrodingersGat opened #3168 "[BUG] BOM table takes ages to load"
Ref: https://github.com/inventree/InvenTree/discussions/3166

Example URL: https://demo.inventree.org/part/112/

Bill of Materials takes ~5 seconds to load for this part.

Need to profile the DB / API queries

[2022-06-10 00:51] SchrodingersGat opened #3169 "[BUG] Static files take a long time to get from the server"
Ref: https://github.com/inventree/InvenTree/discussions/3166

Some static files are taking multiple seconds to retrieve from the server, impacting total page load time.

In particular, the bootstrap icons take a while to load, which impacts the page visually.

[2022-06-10 09:37] miggland commented on #3164
@SchrodingersGat did this maybe cause the following "bug" as well? Going from a supplier part to the purchase orders tab, I would have assumed the relevant POs should be shown.. however, all of them are shown. Only one in the list below is relevant for this part or supplier.

The page I'm on is: `example.com/supplier-part/38/#`. The title "Supplier Part Orders" makes me think this should show a cu

[2022-06-10 09:47] SchrodingersGat commented on #3164
That looks like this bug - https://github.com/inventree/InvenTree/pull/3115

What version are you running? That bug should have been fixed in `0.7.1`

[2022-06-10 09:50] miggland commented on #3164
It does look like it, so nevermind my comment. I haven't updated this week, I'm on 0.7.0

[2022-06-10 10:01] SchrodingersGat commented on #3164
Gotta keep it fresh!

[2022-06-10 10:31] matmair commented on #3169
@SchrodingersGat if the caching headers are set right I see no problem here as the files will be reloaded only a few times a year.

[2022-06-10 10:34] matmair commented on #3169
Static file serving is done in nginx - or whatever the user deploys with. So more a configuration thing. And the server for development is always going to be slow as it is not meant for deployment.

[2022-06-10 12:02] SchrodingersGat commented on #3169
@matmair the demo server for example is running behind nginx - the config file is here:

https://github.com/inventree/InvenTree/blob/master/docker/production/nginx.prod.conf

I am wondering if there are some optimizations that should be enabled for this configuration?

- https://docs.nginx.com/nginx/admin-guide/web-server/serving-static-content/
- https://docs.nginx.com/nginx/admin-guide/web-serve

[2022-06-10 12:51] lookme2 commented on #3129
@SchrodingersGat  here is what I see as the error from the admin page.

Environment:

Request Method: POST
Request URL: http://172.16.1.44:8000/api/barcode/

Django Version: 3.2.13
Python Version: 3.8.10
Installed Applications:
['django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'user_sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'django.contr

[2022-06-10 12:57] SchrodingersGat commented on #3129
Are you running in docker, or a "bare metal" install?

[2022-06-10 14:12] matmair commented on #3129
@lookme2 git is missing on the system - curious that this point is reached. Could you:
A) install git
B) post the Version Information?

[2022-06-10 14:30] lookme2 commented on #3129
# Version Information:
InvenTree-Version: 0.7.0
Django Version: 3.2.13

Database: sqlite3
Debug-Mode: True
Deployed using Docker: False

@matmair  this was working fine until I updated to 0.7.0.  I will install git.

[2022-06-10 15:09] miggland commented on #64
I've thought about this also - and come to the conclusion that the information is all there.

From the user side, there are loads of different reports which contain similar information:
- purchase order
- packing list
- proforma invoice
- order confirmation
- invoice
- checklists for warehouse
- ....

You could continue the list for sales/build orders. Would a way to go be to allow different types

[2022-06-10 15:27] matmair commented on #3129
@lookme2 is it working now?

[2022-06-10 15:32] matmair commented on #64
@miggland we have a report framework based on jinja / html - I would suggest using that.
https://inventree.readthedocs.io/en/latest/report/report/

[2022-06-10 15:43] matmair commented on #64
It is more dev oriented right now ref: https://github.com/inventree/InvenTree/issues/2777

[2022-06-10 16:48] spectre-ns commented on #3169
Additionally to this:

<img width="356" alt="image" src="https://user-images.githubusercontent.com/96780897/173113602-aa29e661-dde5-4601-a961-dab6922e0b14.png">

It takes 6+ seconds to load the initial static page for the part.

[2022-06-10 16:52] spectre-ns commented on #3169
Additionally, the API call to fill the BOM information takes an eternity as well:

https://{domain}/api/bom/?search=&part=30&ordering=name&include_pricing=true&sub_part_detail=true

<img width="355" alt="image" src="https://user-images.githubusercontent.com/96780897/173114163-43c8bab3-1bad-421d-886b-772fe08bf300.png">

[2022-06-10 17:06] matmair commented on #3169
Hi there @spectre-ns I appreciate the reports but please keep it one problem per issue.
It is very difficult to make sure everything is resolved when multiple things are covered per issue.

[2022-06-10 17:09] spectre-ns commented on #3169
Removed comment with API call.

[2022-06-10 17:14] matmair opened #3173 "BUG: Pages render slowly"
<img width="356" alt="image" src="https://user-images.githubusercontent.com/96780897/173113602-aa29e661-dde5-4601-a961-dab6922e0b14.png">

It takes 6+ seconds to load the initial static page for the part.
https://{Domain}/part/30/

Part 30 happens to be a part with a 196 item BOM

_Originally posted by @spectre-ns in https://github.com/inventree/InvenTree/issues/3169#issuecomment-1152551180_

[2022-06-10 17:15] spectre-ns commented on #3173
Thanks @matmair  I guess I was conflating two different problems.

[2022-06-10 17:20] matmair commented on #3169
@spectre-ns this issue here is specifically about static files (css, icons) - which concerns webserver configs. Feel free to open as many issues as you want. It is easier closing multiple with PRs.

[2022-06-10 17:21] spectre-ns commented on #3169
@matmair  thanks! :) You guys are awesome maintainers.

[2022-06-10 17:22] matmair commented on #3173
No worries. These things are very likely totally unrelated. Them happening together is... not making it better.

[2022-06-10 17:24] matmair commented on #3169
Thanks! @SchrodingersGat is the maintainer though. I am just very active and owning a few submodules.

[2022-06-11 00:07] #3157 closed

[2022-06-11 09:08] SchrodingersGat commented on #2777
Interesting reference: https://printcss.live/

[2022-06-12 05:15] #2253 closed

[2022-06-12 05:16] SchrodingersGat commented on #3007
Hey @architsinghal-mriirs how's it going? Need any pointers?

[2022-06-12 05:39] #3129 closed

[2022-06-12 05:39] SchrodingersGat commented on #3129
@lookme2 I think this should be sorted now, please let us know if installing git did not fix the issue.

[2022-06-12 08:53] JamieSlome opened #3186 "Responsible disclosure policy"
Hello 👋

I run a security community that finds and fixes vulnerabilities in OSS. A researcher (@saharshtapi) has found a potential issue, which I would be eager to share with you.

Could you add a `SECURITY.md` file with an e-mail address for me to send further details to? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) a se

[2022-06-12 09:10] matmair commented on #3186
Hi There @JamieSlome / @huntr-helper / @saharshtapi

We have to talk about a policy in the core team first but please shoot me a mail to soc AT mjmair DOT com about the issue. I will share it on backchannel with the rest of the team so we can get a fix out.

@SchrodingersGat thoughts on a security.md ?

[2022-06-12 11:12] SchrodingersGat commented on #3186
@JamieSlome thanks for reaching out. We will certainly take this seriously. And your suggestion for adding a security policy to the project is well noted :)

[2022-06-12 12:25] architsinghal-mriirs commented on #3007
Hi @SchrodingersGat , As per my understanding, I have to replace all occurrences of 'onSuccess' with 'Success' . is this right ?

[2022-06-13 01:45] SchrodingersGat commented on #3007
Correct!

[2022-06-13 11:39] JamieSlome commented on #3186
Hello, @matmair @SchrodingersGat - thanks for your response and diligence 👍

Not sure if you are interested, but you can always point your community toward our platform for your security management, as an example:

https://huntr.dev/repos/inventree/inventree

You can also see the first report here if you sign-up:
https://huntr.dev/bounties/4cae8442-c042-43c2-ad89-6f666eaf3d57/

If signing up is ou