[2022-08-18 08:55] wolflu05 commented on #3568
_Originally posted by @matmair in https://github.com/inventree/InvenTree/issues/3555#issuecomment-1219180738_

This would only underline this FR. A general system where plugins can be added multiple times to keep the plugins itself simpler.

[2022-08-18 09:02] guillaumesoucy94 commented on #3471
what I need to do next?

[2022-08-18 10:26] tedd-wq opened #3569 "Horizontal scrolling in Firefox"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Some pages have horizontal scrolling in Firefox. The same page in Edge, for example, does not.

Edge browser:
![Edge](https://user-images.githubusercontent.com/49110506/185373102-ce6254d9-2a95-4fa5-a7eb-a833e1a9a0d2.png)

Firefox browser:
![Firefox Left](https://user-i

[2022-08-18 10:54] wolflu05 commented on #3549
I think I found the culprit after lots of debugging with the devcontainer and isolated two problematic points (one of this is related with the registry and one only to the devcontainer).

1. Lets start with the easier one related to the devcontainer. In `devcontainer.json` is the `INVENTREE_PLUGINS_ENABLED` env missing, so plugins are not loaded generally, also for `inv server`:

[code]

2. There

[2022-08-18 10:58] tedd-wq opened #3570 "Virtual items don't show stock level in list, but do on its own page"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Looking in the list of parts in a category, a virtual part has a stock level of 0, whereas on the page for the virtual part, the stock level correctly shows the level as a sum of all real parts. Screenshots from the demo server shown. Version information below also fro

[2022-08-18 11:04] tedd-wq opened #3571 "Welcome Github workflow has error"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Reporting my first issue, I got an email from Github saying that a 'welcome workflow' had failed.
![2022-08-18 21_01_51-Horizontal scrolling in Firefox · inventree_InvenTree@7384a85 — Mozilla Firefox](https://user-images.githubusercontent.com/49110506/185379927-7519a5d

[2022-08-18 11:30] miggland commented on #3568
Thanks @wolflu05, this is a better way to express the issue - as it is a general problem that each plugin has only single configuration, and is called with a single profile parameter locked to a certain configuration.

[2022-08-18 11:45] miggland opened #3572 "[BUG] Date format not respected for Purchase Order target date choice"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

My date format is set to 2022-02-22:
![image](https://user-images.githubusercontent.com/1314853/185386600-53f058b3-e7b2-4e59-93d1-659e4086fb6d.png)

The "Target completion date" is shown in an american format however:
![image](https://user-images.githubusercontent.com/

[2022-08-18 11:49] miggland commented on #3544
Yes, re-saving even without changing anything seems to solve this. Probably the recalculation should be triggered if the reference pattern is changed?

[2022-08-18 11:50] SchrodingersGat commented on #3544
@miggland might be a weird edge case - I have updated multiple systems without negative impact... Are you happy to re-save any weird ones and move on? :)

[2022-08-18 11:53] miggland commented on #3569
I've seen the scroll bar appear in Chromium on Linux, on a page were it doesn't appear in Firefox.

IMO, horizontal scrolling is fine, however.. better than making the table columns so narrow they can't be read.

[2022-08-18 12:03] miggland commented on #3544
You mean changing the reference pattern is a weird edge case? With it just recently introduced, I expect this to appear a bit more often. However, you may be right in the future..

But yeah, fine with me. The next user to have this problem will hopefully find this issue and not have too many orders to re-save :)

[2022-08-18 12:03] #3544 closed

[2022-08-18 13:55] SchrodingersGat commented on #3570
@tedd-wq thanks for the report. It is not an issue with virtual parts. Instead, "variant" stock is not correctly being shown in the table.

[2022-08-18 14:14] nwns commented on #3369
@SchrodingersGat It doesn't seem to be working
![image](https://user-images.githubusercontent.com/10690911/185416622-3039b9b3-9002-4001-afd1-4eca8cc55553.png)

![image](https://user-images.githubusercontent.com/10690911/185416391-111b0049-c6e8-4d80-9317-f8aa56b1b52e.png)

[2022-08-18 20:37] matmair commented on #3569
Can reproduce. Not really sure what is causing this, it is exactly the same CSS.
As far as I can see all the info is there on either site, the info is just spread differently.

[2022-08-18 20:40] matmair commented on #3572
Form formats are generally using browser defaults rn. This could probably be solved by extending the default form class to insert localisation.

[2022-08-18 20:41] matmair commented on #3571
Seems to be related to the default permission setup with new contributors before the first successful commit.

[2022-08-18 20:42] matmair commented on #3571
@tedd-wq thanks for the report

[2022-08-18 21:02] tedd-wq commented on #3569
I agree. However, both Edge and Firefox are already showing a horizontal scrollbar in the table. That's fine.

Inventree in firefox scrolls the entire page. The top bar is the right width, but nothing else is.

[2022-08-18 21:31] wolflu05 opened #3575 "Decimal point in label template"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Part templates are not rendered correctly in size due to localized interpolation of `width` and `height` in https://github.com/inventree/InvenTree/blob/da715d738163f09afb3fbdf897a7ea1b3ceae6ab/InvenTree/label/templates/label/label_base.html#L6-L11 because in https://gi

[2022-08-18 21:52] SchrodingersGat commented on #3575
That's interesting, localisation bugs pop up in the strangest of places.

[2022-08-18 21:54] SchrodingersGat commented on #3572
Yes as far as I am aware the date format preference is only used for displaying dates. Would take some extra work to enable it for the input forms.

[2022-08-18 22:39] #3570 closed

[2022-08-19 01:20] SchrodingersGat commented on #3549
@wolflu05 good investigation here! @matmair does his suggestion make sense do you think?

[2022-08-19 01:34] #1291 closed

[2022-08-19 01:38] SchrodingersGat commented on #3369
@nwns really confused here. This is on current "latest" master branch:

![image](https://user-images.githubusercontent.com/10080325/185523824-6e8c26ed-4aec-49c7-9fb3-56a1259f9aa6.png)

![image](https://user-images.githubusercontent.com/10080325/185523893-3e2a47cd-3a14-4c3d-b643-629df69e77f5.png)

[2022-08-19 01:57] #3575 closed

[2022-08-19 02:29] nwns commented on #3369
@SchrodingersGat This request is for **Sales Orders**, it currently works fine on Purchase Orders as you noted.

[2022-08-19 03:36] SchrodingersGat commented on #3369
@nwns I guess I can't read? I'll look into *Sales Orders* ;)

[2022-08-19 03:47] SchrodingersGat commented on #3369
![image](https://user-images.githubusercontent.com/10080325/185538692-8562494d-40dd-4dfb-8d9f-879e8110ca08.png)

Seems to work for sales orders on my end...

[2022-08-19 04:18] miggland commented on #3569
Can you clarify in your original post which image is from which browser?

[2022-08-19 04:19] nwns commented on #3369
Hrm. I was trying it on the public demo server. Is the demo server master or stable?  I will have try this again tomorrow @SchrodingersGat

[2022-08-19 04:22] tedd-wq commented on #3569
Done

[2022-08-19 05:05] SchrodingersGat commented on #3369
This is on current master

[2022-08-19 06:32] SchrodingersGat commented on #3512
This is due to some weird looping issues in bootstrap-table. Some more profiling is required here...

For some reason initially loading the table does not take *too long* but reloading the data takes ~6 seconds for a large build.

[2022-08-19 17:00] nwns commented on #3369
Figured it out.  It does seem to work on the demo server and on master.  Problem was the part was not saleable.

[2022-08-19 18:45] gooutbefree opened #3582 "Error 503 during large/fast API access"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

When accessing the API for e.g. going through all parts and modifying a parameter using inventree python library, we receive error 503 html page. It happens randomly.
The server is running apache2 and gunicorn. Any tuning of timeout parameters or number of gunicorn / w

[2022-08-19 20:14] martonmiklos commented on #3384
Hmm. I have 4 test 'sub' cases (which is broken atm in the test and performing the first behavior in each subcase):
- all child categories and parts moved under the parent category (old behavior)
- move subcategories to parent, delete all parts
- delete subcategories, move parts to parent
- delete subcategories, delete all parts
-
If I lower the subcategory count to 3 (in each subtest) the it fail

[2022-08-19 20:51] martonmiklos commented on #3384
Something must be with the transactions: I added an on_commit hook but never got called.

Then I read some docs and changed the InvenTreeAPITestCase to derive from APITransactionTestCase (not from APITestCase).

This way the on_hook started to get called, but it does not get called after the recursive delete operation is performed:

[code]

[2022-08-19 22:33] #3369 closed

[2022-08-20 12:20] xcoder123 commented on #3553
I also saw feature request for the decimal points being too many. Hence my idea was to have it toggle-able, but if it can be automatically adjusted the display value, even better.

[2022-08-21 02:55] SchrodingersGat commented on #3582
@gooutbefree interesting problem. Are you making the API requests simultaneously, or one after the other?

[2022-08-21 20:33] gooutbefree commented on #3582
- one python file with e.g. a for loop. So one request after the other
- 503 Error page:
`{'detail': 'Error occurred during API request', 'url': 'http://ims.anapico/api/part/3443/', 'method': 'GET', 'status_code': 503,`
[code]
- I can't prove it but I would exclude apache -> django or probably gunicorn.
- There is no error with the development setup, but it takes longer to go through all the api r

[2022-08-21 20:41] matmair commented on #3582
@gooutbefree your report does not contain reproducible steps or the version info we ask for - I am not sure how you think we should reproduce this.
Also the error you list clearly states that the site is maintenance. So either you have a container / ha setup with a host going down/up or something is causing your system to reload plugins - ie. go into maintenance for that. With more info that might

[2022-08-21 20:53] matmair commented on #3553
@SchrodingersGat you can supply smaller/more detailed prices via admin, api or plugin. At least in 0.7.x - I did a PoC for that.

I think a global setting makes sense for this. Maybe with 2, 4 and 6 decimal places?

[2022-08-21 21:05] matmair commented on #3568
I am in strong disagreement and think it will make understanding and debugging plugins much harder.
But if you have a working PoC that is not breaking the system on multi-instance container setups (problem: state synchronisation while adding new instances) and still works with plugins that use file based configs I do not see why this won't be merged.

On a more general note: the plugin system in i

[2022-08-21 21:11] matmair commented on #3549
Seems like a reasonable conclusion @wolflu05 . I am currently not using devcontainers so I can not speak with confidence to 1) but 2) would make sense.

I am using a custom loading/state management setup in my deployments so this error never came up on my side. I will try to reproduce this once I am caught up with the messages from the last few days but looks to be an easy fix, a PR should be fort

[2022-08-22 08:11] wolflu05 opened #3588 "`AppMixin` plugin requires a `Meta` class with `app_label`"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

After the changes from #3535, my plugin doesn't load anymore, but instead with the following error in the plugin error stack:
[code]

I guess this has something todo with a wrong configuration, but I cannot see where. This is my plugin [repo](https://github.com/wolflu0

[2022-08-22 08:39] wolflu05 commented on #3568
I think just to keep things simple it would be necessary to solve this problem generally. I think this only makes sense to all none integration plugins. E.g. `LabelPrintingMixin`, `BarcodeMixin` or `Locate Mixin`.

## 💡 Ideas

I have two ideas of how this could work:

### 1. Load plugin multiple times with different configs

If the plugin developer sets a specific class variable we know, that ther

[2022-08-22 14:23] martonmiklos commented on #3384
I started suspecting the caching rather than the transactions. It does not looks to be tied to database related things.
I saw cache.clear() a few places in the test and other places, however adding a fair amount of these lines did not helped either :(

[2022-08-22 19:29] MR-DOS opened #3589 "[FR] Allow using special characters in names of parameters (templates)"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

When adding parameter templates it's not possible to use any characters other than [a-z][A-Z][0-9]. I only started adding templates for transistors and operational amplifiers and I already have 114 necessary parameters. Given that I cannot use

[2022-08-23 07:32] guillaumesoucy94 commented on #3471
Hello,

I still need help.

Thank-you,

Guillaume

[2022-08-23 09:31] SchrodingersGat commented on #3471
@guillaumesoucy94 sorry I am not sure what else to say - I cannot tell you where you have put the files on your system.

Have a look at the image below - the `tasks.py` file is located in the top-level directory of the InvenTree project. Please ensure you are working from the directory that contains this file.

![image](https://user-images.githubusercontent.com/10080325/186124271-5941d2b6-9133-468

[2022-08-23 14:01] MR-DOS opened #3592 "Stock items get stuck in Inventree stable"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Stock items started to get stuck and partially noninteractive for me. I can't add/remove/count some stock items. To make other stock items non-interactive, all I need to do is edit its batch code in any way. It seems as if the function which checks which items are sele

[2022-08-23 19:11] wolflu05 commented on #3589
What a about a new field hints or description for a parameter template? This could then be visible on hover or an own column in the table.

[2022-08-23 19:37] MR-DOS commented on #3589
That's a possibility. But doesn't solve the issue that there are many parameters which use "/()" symbols, whether it's some coefficient or a note which describes conditions of test. Not being able to write subscripts is also a pain, but one which electrical engineers have to deal with everyday. And also, there is only 2 ways how to separate parts of parameter name, either space or mixing large and

[2022-08-23 21:43] matmair commented on #3589
We are happy with looking at PRs @MR-DOS .
The current system is a result of frontend collisions but if you come up with a solution it could be done. Validation is done here but the real challenge is to not break the frontend
https://github.com/inventree/InvenTree/blob/a3392ea4b1675c0439157ccf1e065a801942e2c5/InvenTree/part/models.py#L2370

All ASCII or UTF8 characters are not going to happen - th

[2022-08-23 21:53] matmair commented on #3592
Hi there @MR-DOS this is a bit hard to reproduce this way.
a) Could you provide some info on the stuck items?
b) Have you tried to update to a current version?

[2022-08-23 22:30] MR-DOS commented on #3589
Well, this is a slightly embarrasing situation. That function really doesn't handle text correctly in any way. It allows the use of ASCII control characters, ":;" and DEL. It also has no abilities to block UTF-8.
So, now that we know that UTF-8 works, maybe we could also drop some of that false sense of security and allow the normal ASCII characters? After all... values of parameters can have all

[2022-08-23 22:33] MR-DOS commented on #3592
I certainly can, whether it is sending you the whole database of my Inventree or letting you in as a guest. But you need to tell me what kind of information you need.

No, I haven't. Will something break if I upgrade and then for some reason need to revert to stable version?

[2022-08-23 22:39] matmair commented on #3589
@MR-DOS I don't think we are talking about the same security issues. ASCII characters per se are no issue. There is a specific subset that could be used to run [XSS](https://owasp.org/www-community/attacks/xss/) attacks. And those security measures work on stable:
![grafik](https://user-images.githubusercontent.com/66015116/186277818-e0592062-0cb5-4652-92c9-18b498be0ad4.png)

The only thing embarr

[2022-08-23 22:41] matmair commented on #3589
You are free to look into the code and discover that the names are used as references in JS.
If you do not have a productive change in mind I do not see this getting any work from my side. Maybe someone else is willing to pick this up.

[2022-08-23 22:41] MR-DOS commented on #3589
Well, sorry for my tone. But if the XSS script is a concern in name of the parameter, why not in its value?
![image](https://user-images.githubusercontent.com/29711626/186278603-fdba1f2c-19f6-4e00-96d4-515544cdc4a8.png)

[2022-08-23 22:54] matmair commented on #3589
There is also protection against XSS in the value fields. I attached a screenshot of that too now.
Nearly every field is tested for XSS before entry into the database. This is part of the general model setup. SQL unsafe special control characters are also generally escaped.
![grafik](https://user-images.githubusercontent.com/66015116/186279436-f8f423fb-d548-415d-8dc6-bad75d482ec1.png)

[2022-08-23 23:09] MR-DOS commented on #3589
Sorry for my tone.
OK, I will leave with using UTF-8 to emulate the forbidden characters.

Still, I would think that if at least "<>" are forbidden, then no HTML tag for XSS injection can be created and thus the other symbols could be allowed. After all, ":;" are considered to be harmless in that function while they are also used and necessary in some XSS code. But I may be wrong, never worked wit

[2022-08-24 00:29] SchrodingersGat commented on #3589
@MR-DOS an update to what characters are allowed here would be fine. I'm going to re-open this as a I think it is a valid development target. Would you be willing to work on this?

I would also suggest that we add a "description" field for the PartParameter model as suggested by @wolflu05

On a related note - I have a parallel PR for removing non-printable characters on the client side: https://gi

[2022-08-24 00:31] SchrodingersGat commented on #3592
@MR-DOS I cannot replicate this either. Can you play around with different values of "batch code" and see if it is related to the value of that field?

[2022-08-24 00:32] SchrodingersGat opened #3595 "[FR] Open PDFs in new window"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Ref: https://github.com/inventree/InvenTree/discussions/3594

### Suggested solution

Allow labels / reports to be opened in a new browser window

### Describe alternatives you've considered

Leave existing solution which opens PDFs in the same

[2022-08-24 05:37] #3595 closed

[2022-08-24 06:14] wolflu05 commented on #3589
The question from my side is, why are you permit the usage of <> instead of escaping them and use the id for reference?

[2022-08-24 06:25] MR-DOS commented on #3589
@SchrodingersGat Hi. Sadly, I specialise on hardware and don't consider myself a good programmer. Given that this issue revolves around security holes in XSS / JS /SQL (which I know nothing about), I believe any modification from my side would probably lead to severe hazards. If it were good old embedded system programming, I'd happily give a helping hand :-)

I tested some of the non-printable AS

[2022-08-24 06:41] matmair commented on #3592
@MR-DOS details about specific parts should be enough. You can remove revealing information as long as it does not mess with the issue beeing reproducible. I think @SchrodingersGat suggestion with the batch code itself is a good starting point.

We only update the current version so the fix will only land in 0.8.x, you will need to update anyway. You should be able to revert but if you can I would

[2022-08-24 06:52] MR-DOS commented on #3592
I played with it for some time yesterday already. It doesn't seem to be connected to length of the string or even the characters as even adding "a" to an empty batch code string resulted in the stock item being frozen. The most specific trigger I can pinpoint now is "changing batch code of an existing stock item".
As I probably said, I use Inventree only for my home use and have no sensitive infor

[2022-08-24 07:01] matmair commented on #3589
@wolflu05 this is a grown system, it was originally implemented this way. The limited resources are currently spent on more pressing issues.

[2022-08-24 07:01] SchrodingersGat commented on #3582
@gooutbefree can you provide any extra information here?

[2022-08-24 07:38] guillaumesoucy94 commented on #3471
Hello,

I start over, I add the static file and media root location in config.yaml and when running `invoke update` returns:

`Traceback (most recent call last):
  File "/usr/bin/invoke", line 11, in <module>
    load_entry_point('invoke==1.4.1', 'console_scripts', 'invoke')()
  File "/usr/lib/python3/dist-packages/invoke/program.py", line 384, in run
    self.execute()
  File "/usr/lib/python3/di

[2022-08-24 10:54] fireboyff commented on #3569
Hi
in Google Chrome Vers. 103.0.5060.134 and Microsoft Edge ist it the same problem. Running on Windows 10.
lg Fire

[2022-08-24 12:22] SchrodingersGat commented on #3471
Clearly from the error message there is something wrong in your `config.yaml` file. Most likely a formatting issue. What did you change there? Specifically on the lines called out in the error log.

[2022-08-24 20:00] MR-DOS commented on #3592
Laziness ultimately won. Here's temporary credentials for a guest account:
Server: https://inventree.msboss.cz
User: guest_support
Password: stuckstock

This user has read-only permissions. So I'm not sure if this will be helpful. If not, I can add link to zipped contents of my Inventree :-)

[2022-08-24 21:33] #3589 closed

[2022-08-24 21:55] gunstr opened #3606 "Avoid Build order for subassembly"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Thanks a lot for creating this amazing software. I have maybe more of a question than a feature request...

When designing a PCA board in KiCad I can import most items for the complete board to InvenTree. But some items like the PCB itself, hea

[2022-08-25 01:29] SchrodingersGat opened #3607 "[FR] Weasyprint Update"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Currently weasyprint is pinned to an older version due to PDF merging issues.

[This thread](https://github.com/Kozea/WeasyPrint/issues/1662) provides a solid workaround

### Suggested solution

Implement proposed workaround and update to lates

[2022-08-25 01:34] SchrodingersGat commented on #3606
@gunstr I'm struggling a little to follow what you are describing here, but I'll make some suggestions below. I also use KiCad and am often importing BOMs in a similar fashion.

### Track Parts in KiCad

You can add a 'virtual' part to your schematic, which does not get added to the PNP file, for tracking things like PCB, enclosure, etc. This part is only on the schematic, does not appear in the P

[2022-08-25 01:36] SchrodingersGat commented on #3592
With read-only permissions, the stock adjustment actions cannot be used anyway. I would strongly advise against providing any sort of login information here, even if read only. There is no guarantee that the information could not be used for some sort of exploit.

[2022-08-25 02:16] SchrodingersGat commented on #3400
@miggland any progress on this? :) ping me if you need anything

[2022-08-25 05:58] matmair commented on #3607
@SchrodingersGat do we need the new version of weasyprint? Seems like this would need another dependency stack that can be avoided.

[2022-08-25 06:00] matmair commented on #3592
@MR-DOS I deleted your comment as the info is still available via the API or the `edited` flyout. Original text:

[2022-08-25 06:39] SchrodingersGat commented on #3607
Not necessarily at all. The current version is serving us quite well.

[2022-08-25 07:38] gunstr commented on #3606
@SchrodingersGat Sorry if my description is unclear. The use case is exactly what you describe. Difference is that I tried to find a way to maintain the BoM with "extra" parts inside InvenTree rather than outside.

### Track Parts in KiCad

That is actually where I started and definitely an option. The drawback is that a symbol for each "extra" part then has to be created in KiCad.

### Upload and

[2022-08-25 07:45] MR-DOS commented on #3592
I understand your concern, but was willing to undertake it.
Well, if one of you wants to investigate this bug, I will perform a backup and send you the credentials (is there something like DM on GitHub?).

[2022-08-25 18:53] gunstr commented on #3606
I have tested now and it's definitely a way that feels efficient. The model I use is:

1. Create one part in InvenTree for all the extras (I use a code in the IPN indicating it's a base part for the board)
2. Copy this base part including the BoM for each new revision and assign an IPN for the final board.
3. Upload and append the KiCad components for the latest revision.

This way I can keep the

[2022-08-25 18:53] #3606 closed

[2022-08-26 03:56] #3494 closed

[2022-08-26 03:59] SchrodingersGat commented on #1468
This will be covered off in the upcoming import tool refactor

[2022-08-26 03:59] #1468 closed

[2022-08-26 07:28] miggland commented on #3400
Hi @SchrodingersGat - you might have to keep reminding me :). No progress yet, I have had too many other things to take care of. I have not made much progress, if anyone else wants to take over this issue that is perfectly fine with me... ;)

[2022-08-26 16:23] guillaumesoucy94 commented on #3471
Hello,

I specified the database information such as the credentials, the media root and the static root.

I didn't touch the other files.

I'd post my config.yaml file [here](https://plik.zsites.ca/file/662Awc9hP590MEKQ/Gt9vG1sCIFFjj3zR/config.yaml)

Thank-you,

Guillaume

[2022-08-29 03:52] guillaumesoucy94 commented on #3471
Hello,

What should I do next?

[2022-08-29 03:54] SchrodingersGat commented on #3471
Remove these spaces.

![image](https://user-images.githubusercontent.com/10080325/187119870-491753d8-26e2-4a82-b5fc-a14ee6bddd3f.png)

[2022-08-29 15:38] MR-DOS commented on #3592
I tried recreating the issue on the Inventree Demo site running 0.9.0 dev version. Couldn't replicate it. I will try creating a fresh installation of 0.7.7 and trying to recreate it. If it fails in the same way, will try with fresh 0.8.1.

[2022-08-29 15:44] miggland commented on #3374
Wait, how does that work? I've thought about being able to do that a few times, but for me it only works using the part PK, and not the IPN?!

[2022-08-29 18:32] Weissnix4711 commented on #3374
It's definitely a thing. For example, https://demo.inventree.org/part/TB3/

[2022-08-29 19:42] miggland commented on #3374
OK, I can see that that works.. but not on my system! I get a page not found. And I don't use template parts, so that's not it. Anything I have to activate to get it to work?

[2022-08-29 20:08] Weissnix4711 commented on #3374
Not as far as I know. It works on  my server, which is pretty much 'vanilla'.

Have you added the trailing slash? Without, it will simply redirect to the Parts page. Does the IPN contain any special characters which might not work as a URL?

[2022-08-29 20:42] matmair commented on #3471
@guillaumesoucy94 have you read the full installation guide? All your questions are answered there; Running as a service: https://inventree.readthedocs.io/en/latest/start/production/#install-supervisor

[2022-08-30 00:45] SchrodingersGat opened #3618 "Issues with maintenance_mode.txt"
### Discussed in https://github.com/inventree/InvenTree/discussions/3617

<div type='discussions-op-text'>

<sup>Originally posted by **miggland** August 29, 2022</sup>
My Inventree server crashed today, while not in active use.

I have tried restarting the containers, but no luck yet.

------------------------------------------

There are two main issues here:

### Multiple File Copies

Multiple

[2022-08-30 06:36] miggland commented on #3374
The trailing slash has caught me out before, so I did make sure I included it. If I don't include the slash, I see the part list page - if I include it, I get "page not found".

My IPNs are (nearly) exclusively 5-figure digits, sometimes with leading 0. Eg `/part/50200/` or `/part/90317/`.

Probably should open an issue about this, seems like something is not working as intended. Now I at least kn

[2022-08-30 15:36] miggland opened #3621 "[BUG] Link defined in parts/urls.py points to non-existant template"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

The link `/part/category/subcategory/`, as defined here:
https://github.com/inventree/InvenTree/blob/c8e8991cf5766e93a7f68c22a7201835a0f4860a/InvenTree/part/urls.py#L32

leads to an error, since part/subcategory.html does not exist:

### Steps to Reproduce

1. Go to th

[2022-08-30 16:04] miggland opened #3622 "[BUG] Direct link to part via IPN does not work for some IPNs"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

As discussed in #3374, it should be possible to access a part via its IPN using a link such as `/part/{IPN}/`

This does not work in my case. Probably, this is because I use IPNs consisting of only digits.

Instead of showing the part, a "Page not found" error is retur

[2022-08-30 22:41] matmair commented on #3622
Current state: @miggland this function is not documented because of the limitations you listed. I would not consider it as a bug as it is not used by the software or advertised anywhere. From what I remember, this is mainly in the code base for backwards compatibility. It does not work for digit-only IPNs as those match as part PKs.

General comment: Due to the (somewhat) recently widened IPN form

[2022-08-30 22:49] matmair commented on #3374
This IPN-containing URL is not part of the core functionset and falls apart as soon as your part is not fitting the old IPN schema: `^\d*[a-zA-Z]{1,}\d*`. As long as there is at least one alphabetical character in the IPN it should work.

I would not bet on it working and use the pk/id. Only those are guaranteed to stay the same throughout the object life-cycle btw - Users can change IPNs.

[2022-08-30 22:53] matmair commented on #3618
@miggland some questions for reproducing:
- a) Are you running in a cluster with +1 server (or gunicorn) instances?
- b) Are you running multiple maintenance scripts (invoke tasks) at the same time?
- c) Is the server stopped when you run maintenance scripts?
- d) Do you have plugins installed and enabled?
- e) Are you monitoring your instance (via webcrawler, auto-check etc - important thing is t

[2022-08-31 06:55] miggland commented on #3622
I'll reply here and not in #3374 to keep things focused.

I understand, and some of those limitations will probably have to remain. I also agree that this is not a big deal. However, I think my suggestion will work, so I'll take care of the PR for this.

In response to your comment in #3374:

Sure - however, for historical reasons we have IPNs listed in other systems, which don't match the PK. Bei

[2022-08-31 11:31] SchrodingersGat commented on #3621
@miggland was there a particular link that you clicked on to hit that URL? That URL is broken, the template it points to was deleted a long time ago.

I have made a [new PR](https://github.com/inventree/InvenTree/pull/3623) to fix this issue

[2022-08-31 11:43] miggland commented on #3621
No, I found the URL defined in the file (urls.py) and entered it manually. I assumed it was a artifact, but wasn't sure. Deleting it seems like the right solution.

[2022-08-31 11:43] #3621 closed

[2022-09-01 01:19] reilly-callaway opened #3625 "Sales order page with filter shows purchase orders"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

In the sales order page, adding a filter will instead show purchase orders, not sales order.

The sales order page:
![image](https://user-images.githubusercontent.com/7870267/187811761-058aee93-dc39-4de6-a1eb-88281fb314f6.png)

Adding a filter, now it shows purchase or

[2022-09-01 02:34] #3625 closed

[2022-09-01 07:16] miggland commented on #3618
No

Not as far as I'm aware of.

Not always - I run `export records` when the server is running, for example. After an update, I usually run `invoke update` before starting all the containers.

Enabled yes, but none are installed - see the discussion topic; the install failed for the plugin I was trying to install.

No.

[2022-09-01 15:40] Bbillyben opened #3630 "Update Master => ModuleNotFoundError: No module named 'yaml'"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

I'm trying to update from the master branch

and it ends with an error, I'm not sure it has not completed as I'm able to deploy the 3 containers and the plateform has launched.

### Steps to Reproduce

1. cd Inventree folder
2. run : `docker system prune (`to wipe all

[2022-09-01 15:49] Bbillyben commented on #3630
note : I've upgraded my docker-compose to version 2.10.x, but I've got the same issue

[2022-09-01 15:50] Bbillyben commented on #3630
note : I've upgraded my docker-compose to version 2.10.x, but I've got the same issue

edit : sorry I miss clicked on the close button....

[2022-09-01 16:54] palagap opened #3631 "Having a Search Bar for Incomplete Outputs"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

When in the process of making a build order, is it possible to have a search bar to find parts in the incomplete outputs tab? It would be helpful in case there are many parts listed. This search bar is present in completed outputs.

<img width=

[2022-09-01 19:30] jdh313 opened #3632 "Sales and Purchase Report Permissions"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Printing sales and purchase reports requires admin: view permission in order to print/download.

### Steps to Reproduce

1. Go to Buy -> Purchase Orders or Sell -> Sales Orders
2. Click on one of the orders
3. Click the print button, followed by Print build order repor

[2022-09-02 05:51] SchrodingersGat commented on #3630
@Bbillyben can you confirm what git commit hash you are running from?

From your log file, `pyyaml` is being installed. So this is strange. It may be because `invoke` is running from `/usr/bin/python3.9/site-packages/invoke` (as per the log) and does not have access to `pyyaml` which is installed within the virtual environment...

@matmair any thoughts here?

[2022-09-02 05:55] SchrodingersGat commented on #3632
@jdh313 can you share a screenshot or log of the error you are seeing? I have tried to replicate locally but it seems to work as expected.

[2022-09-02 06:50] Bbillyben commented on #3630
Hi @SchrodingersGat

the hash is : 23edd794312b5eea2e00878d2216150048747a4e

[2022-09-02 06:55] SchrodingersGat commented on #3630
Did you completely rebuild your `inventree-dev-server` image? Depending on how old your previous image was, the base image might not have the required python packages.

e.g.

[code]

[2022-09-02 07:25] Bbillyben commented on #3630
That was the issue.

I've rebuild and invoke the update, and seems everything has ran smooth ! (except a time out on my first try to rebuild)

And I was even able to import datas from another instance!

[2022-09-02 07:25] #3630 closed

[2022-09-02 10:15] Guusggg opened #3638 "BOM Pricing is not working"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Recently I've noticed that the BOM Pricing does not show up anymore in my InvenTree instance. We carefully use Purchase Order to track prices and we carefully made the BOM subs to make sure everything is tracked properly.

I'm not sure when it stopped working, but it d

[2022-09-02 10:31] SchrodingersGat commented on #3630
Glad you got it working. I'll add a note about this to the documentation.

[2022-09-02 10:36] Bbillyben commented on #1971
Hi there,

I would add my voice to add this feature (barcode assigned to part, supplier part or manufacturer part)

As the last post is from 2021, I wonder if this feature is on the bench?

(For the moment, I will dedicate manufacturer MPN to store part barcode in order to retrieve the corresponding part, but it's a dirty workaround. )

[2022-09-02 10:38] SchrodingersGat commented on #3638
@Guusggg do you have the "Show Price in BOM" option enabled?

![image](https://user-images.githubusercontent.com/10080325/188122153-4ad0d5b5-f386-450f-abb0-0da92d9e638e.png)

This option was introduced as displaying pricing in the BOM table is currently very expensive (computationally). It is on the agenda to address this in a major pricing restructure

[2022-09-02 10:39] SchrodingersGat commented on #1971
@Bbillyben on the bench but not forgotten. Just lack of time / resources - there are a lot of outstanding issues :)

[2022-09-02 10:42] Bbillyben commented on #3630
I'm feeling quite dumb about this....

I assumed that wipping all docker items will force image updating..

[2022-09-02 10:46] Bbillyben commented on #1971
Many thanks for the info,
I didn't mean to be pushy!
 Congratulations and thank you for this great tool (and frankly ergonomic vs. other ERPs)

I just opened the Django doc to see if I'm able to understand anything.

[2022-09-02 10:53] SchrodingersGat commented on #3630
I think perhaps that cleans the container instances but not the images on which they are based? There are a *lot* of different things that can go "wrong" in an interesting way with docker :P

[2022-09-02 11:46] Guusggg commented on #3638
Hi @SchrodingersGat,

Thank you so very much for the detailed response! I managed to get it back, not by enabled the `Show Price in BOM`, which was enabled, but I enabled `Display historical pricing for Part` which brought back the complete pricing picture.

Thank you so much! It's an amazing feat what you pull off with this project ^^ (and with others, ofcourse!)

Kind regards,

[2022-09-02 11:46] #3638 closed

[2022-09-02 12:30] jdh313 commented on #3632
@SchrodingersGat sure, here's the error that pops up on sales reports, along with the permission set:
<img width="537" alt="CleanShot 2022-09-02 at 08 27 17@2x" src="https://user-images.githubusercontent.com/13279035/188143003-12cbe6d7-a5fb-4459-be2a-58e1835a9255.png">
<img width="799" alt="CleanShot 2022-09-02 at 08 28 11@2x" src="https://user-images.githubusercontent.com/13279035/188143017-5287f

[2022-09-02 23:26] SchrodingersGat commented on #3631
Ref: v

[2022-09-03 01:44] #3631 closed

[2022-09-03 20:17] matmair commented on #1971
@Bbillyben you are welcome to spend the required time to build this out if you feel this is important.

[2022-09-03 22:05] wolflu05 commented on #3549
@matmair I don't want to push this, just wanted to ask what the current state of fixing this issue is. I saw there is a commit: https://github.com/matmair/InvenTree/commit/52af1966941ce564bae485988c40b8161d6f201e , but no corresponding PR. Is there anything I missed?

[2022-09-03 22:54] matmair commented on #3549
@wolflu05 I had to prioritise other features for my fork/work; I do not know when I will find time to upstream my changes

[2022-09-04 13:23] gooutbefree commented on #3582
I'm sorry for the delay. Thank you @matmair for the hint with the reload. It's a standard linux environment and I excluded systemd etc that could result. The log message
[code]
indicates that it could be gunicorn with the std configuration from the inventree git repository.

There is the number of max_requests = 1000 after gunicorn worker has to reboot. During the reboot gunicorn is in maintenance

[2022-09-05 03:37] SchrodingersGat commented on #3632
@jdh313 thanks, I can confirm that this is a bug. Fix incoming.

[2022-09-05 04:00] #3400 closed

[2022-09-05 04:15] #3632 closed

[2022-09-05 12:08] matmair commented on #3622
@miggland I am of the mindest that a half-baked solution will only cause confusion and bug reports.
My suggestion would be to close this as `wontfix` @SchrodingersGat thougts?

[2022-09-05 18:23] wolflu05 commented on #3622
What about appending a `/ipn/:ipn` to make it specific?

[2022-09-05 23:19] SchrodingersGat commented on #3622
@wolflu05 that should be opened as a separate issue - however there is the issue that IPNs are not guaranteed to be unique.

[2022-09-05 23:20] #3622 closed

[2022-09-05 23:29] SchrodingersGat commented on #1435
@matmair how did that work out for you ;)

[2022-09-06 05:23] miggland commented on #3622
That was one of my suggestions also...

[2022-09-06 05:26] SchrodingersGat commented on #1435
@cdwilson long time coming but check out https://github.com/inventree/InvenTree/pull/3644

[2022-09-06 05:49] matmair commented on #1435
Been using a backend-only solution for a few months ;-) . I just really hate building frontends.

[2022-09-06 05:56] SchrodingersGat commented on #1435
:O holding out on us?

[2022-09-06 08:19] tehkillerbee opened #3647 "[FR] Suggestion for keyboard shortcuts, eg ESC as Cancel."
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Pressing escape ESC when a window is open should automatically press "cancel" button. I have noticed this issue eg. when the "Edit Part" window is open. Out of habit, I press esc to close the window but this does nothing. Therefore, I must clic

[2022-09-06 08:29] tehkillerbee opened #3648 "[FR] Accessing base part of a part listed in stock requires extra steps."
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Whenever I need to access the base part for a part listed in the stock, I need to first click the stock item and then click "base part". This is slightly cumbersome.

### Suggested solution

It would be nice if there is an easier way to access

[2022-09-06 08:44] tehkillerbee opened #3649 "[Bug] Accessing "Site Administration" and then clicking "change" menu hides the change buttons"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Accessing "Site Administration" and then clicking "change" menu results in a layout change that makes it impossible to click "change" links for other submenus. This makes changing multiple settings rather cumbersome.

### Steps to Reproduce

1. Click Site administratio

[2022-09-06 08:54] matmair commented on #3647
@tehkillerbee please check if features are available before suggesting them. This feature has been there for a few months and can be activated per-user in the settings.
![image](https://user-images.githubusercontent.com/66015116/188592059-29205980-3828-4cce-badd-5648af1b2ae6.png)

[2022-09-06 08:54] #3647 closed

[2022-09-06 08:55] tehkillerbee commented on #3647
@matmair Thank you, I guess I was looking in the wrong setting menu.

[2022-09-06 09:11] tehkillerbee opened #3650 "[FR] Allow displaying additional base part details when accessing a stock item."
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

When browsing a base part, the part description is displayed. When accessing a stock item for that same part, no description is displayed but only the Part (Name and IPN). If the Name/IPN does not contain any descriptive data but just a model n

[2022-09-06 10:18] SchrodingersGat commented on #3649
@tehkillerbee you should be able to toggle the sidebar with the button shown here:

![image](https://user-images.githubusercontent.com/10080325/188610499-be3191a1-a208-41e2-968c-cd4f2103f486.png)

[2022-09-06 10:25] matmair commented on #3650
The stock display is only meant to show stock specific information. I think it will confuse users more then anything if we duplicate inforamtion around the system. If you want information about the part click on the part name, if you want to change stuff about the stock use the stock display in my opinion.

[2022-09-06 11:06] tehkillerbee commented on #3650
@matmair I see your point. However, the issue occurs when I browse the stock page since our inventory contains many parts that have similar IPNs. I would need to memorize what a specific part name/IPN is related to - or click the base part and view the description of it each time. Otherwise, I risk mixing up stocks.

Therefore, it is primarily the base part description field that is missing. If I

[2022-09-06 11:08] tehkillerbee commented on #3649
@SchrodingersGat I can definitely toggle the menu - but the link is still not possible to click due to the menu width being smaller:

Before clicking:
![image](https://user-images.githubusercontent.com/815886/188620777-24d85693-624d-4228-b845-7b9647e24c37.png)

After clicking:
![image](https://user-images.githubusercontent.com/815886/188620586-39e99be8-42ff-4235-8893-0922584787d7.png)

[2022-09-06 11:26] SchrodingersGat commented on #3649
@tehkillerbee indeed, the links are identical. This is the default django admin page, might just be a strange layout quirk.

[2022-09-06 11:26] #3649 closed

[2022-09-06 15:46] jdh313 commented on #3632
Awesome, thank you so much!!!

[2022-09-06 21:11] gunstr opened #3653 "Required for build order logic error"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

If I not have misunderstood the intention with the "Required for build orders" page I think there is a bug. It's provides a great summary that I use to place purchase and build orders but it happens now and then that I find parts in the list where I already have enough

[2022-09-06 23:44] reilly-callaway opened #3654 "Can't turn off email notifications"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Emails notifications are still being sent after turning off "Enable email notifications".

### Steps to Reproduce

1. Turn on "Enable email notifications"
1.5. I suppose I left email notifications on for a few days, received some email. Probably not a required step.
2.

[2022-09-07 00:20] CPBPILOT opened #3655 "TypeError: '<' not supported between instances of 'int' and 'str'"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

I am unable to log in to the system after install. I installed this through truecharts on a truenas scale server/nas. After going through the install steps. When I open the login page and type in the admin credentials and I get a
 "Internal Server Error The server rais

[2022-09-07 00:49] CPBPILOT commented on #3655
Actually there are 3 pod, and 5 containers total. My password has a special character. for the sake of trying i uninstalled and reinstall with a simpler username and password. after trying to log in again I still get the same error.

[2022-09-07 00:51] CPBPILOT commented on #3655
Didnt mean to close this issue here are the 5 logs from the 5 containers
[inventree_inventree-5c9f8f967f-7bwbn_worker.log](https://github.com/inventree/InvenTree/files/9501741/inventree_inventree-5c9f8f967f-7bwbn_worker.log)
[inventree_inventree-5c9f8f967f-7bwbn_nginx.log](https://github.com/inventree/InvenTree/files/9501742/inventree_inventree-5c9f8f967f-7bwbn_nginx.log)
[inventree_inventree-5c9f

[2022-09-07 00:58] guillaumesoucy94 commented on #3471
I just red it, thanks to pointing to that documentation. However, I do have another question. I did followed the instructions for development server, the link https://inventree.readthedocs.io/en/latest/start/production/#install-supervisor[https://inventree.readthedocs.io/en/latest/start/production/#install-supervisor](https://inventree.readthedocs.io/en/latest/start/production/#install-supervisor)

[2022-09-07 01:32] SchrodingersGat commented on #3471
The production and development setup guides are intended for very different purposes. If you are looking for a production setup, follow the production guide.

[2022-09-07 01:37] SchrodingersGat commented on #3655
Looks like the django-allauth library is throwing an error here, as it has been passed a string `amount` parameter:

https://github.com/pennersr/django-allauth/blob/6315e25122f6f2ca25e9b4b3cc80bd4fa62df5d2/allauth/ratelimit.py#L46

@CPBPILOT have you configured any custom auth settings here? In particular, have you setup rate limiting?

@matmair you're more familiar with this part of the codebase

[2022-09-07 01:46] SchrodingersGat commented on #3654
The user setting is never checked anywhere. Need to add check to the `send_bulk` function:

https://github.com/inventree/InvenTree/blob/ea60cdc6a8a7eaa5a445148f5067e5c0137c5377/InvenTree/plugin/builtin/integration/core_notifications.py#L73

[2022-09-07 01:47] CPBPILOT commented on #3655
I have not explicitly set anything, but this is being installed through truecharts on a trueNAS server. They are really doing all the installs of the different pods and containers. Stavros-k over at truecharts probably knows better what they are doing in the background. Not sure how to tag him in this comment the @ isn't pulling him up.

[2022-09-07 06:08] matmair commented on #3654
It is checked a few lines above in get_targets

[2022-09-07 06:12] stavros-k commented on #3655
There not rate-limiting enabled when Installed without `Ingress` (aka reverse proxy).
(Errors happen without Ingress, haven't tried with)
There are only some resource limits, per pod.
Those limits are pretty high. It's 4 vCores and 8GiB of RAM.

Here is also some logs from the browser console

login/ payload looks fine
<img width="403" alt="image" src="https://user-images.githubusercontent.com/478

[2022-09-07 06:14] matmair commented on #3655
Not a supported install way and I do not have access to a true nas instance for reproducing so not sure how much we can do. I will take a look in the weekend (+3d).

[2022-09-07 06:15] SchrodingersGat commented on #3654
You're right, it should be being called through that...

[2022-09-07 06:17] matmair commented on #3655
@stavros-k is the command 'invoke update' run during the install? Seems like not all static data is pre-rendered correctly.

[2022-09-07 06:21] stavros-k commented on #3655
After Redis and Postgres is up and running, An inventree container starts and runs
(overriding main command of the container)
[code]

Once that is completed, then main inventree container starts, along with the nginx container.

[2022-09-07 06:25] stavros-k commented on #3655
Just to make sure, I just exec'ed into the running Inventree container, run `invoke update` again.
python packages all were installed already.

<img width="444" alt="image" src="https://user-images.githubusercontent.com/47820033/188804195-56aa3e8e-c300-41af-850a-c4419581ee5d.png">

But still the problem pesists

[2022-09-07 06:28] SchrodingersGat commented on #3653
@gunstr thanks for reporting. Looking at this, it seems that this "required quantity" feature needs a lot of attention. There a few different ways in which it is currently broken.

The main reason that relates to your issue here is that the `required_parts_to_complete_build` method does not take into account the quantity currently allocated against the build:

https://github.com/inventree/InvenTre

[2022-09-07 09:53] Ornias1993 commented on #3655
Are you serieusly telling people docker and kubernetes are considered totally unsupported?! It;s 2022 'nuf said.

[2022-09-07 09:59] CPBPILOT commented on #3655
@matmair I have a test server I can I can give you access to that is a fresh install of trueNAS and only has the current imventree app installed. Do you have another way to contact you that I can send the access information to

[2022-09-07 10:04] Ornias1993 commented on #3655
TrueNAS is irrelevant in this case, please stop those references.
Devs can test with on any helm platform they like, our helm charts (aka apps) are totally platform agnostic.

[2022-09-07 10:24] matmair commented on #3655
@Ornias1993 are you seriously *demanding* free support for your plattform from devs in their free time? We have offical bare-metal and docker guides and configs that we support. HeIm/k8s is not on that list as the app is not scaling out properly and support for object storage is not implemented. I am not going to spend my limited free time learning and supporting all the ways devs invent to host a

[2022-09-07 10:31] CPBPILOT commented on #3655
@Ornias1993 Are you f'ing serious right now! We had this under control they were helping work the problem. But you just fucked that up from me. What a jack ass

[2022-09-07 10:57] CPBPILOT commented on #3655
@Ornias1993 If you read there documents docker is a supported way but maybe not k8s. Maybe after solving this issue they would add it to the supported ways to install. As @matmair mentioned he had already started debugging and asking @stavros-k questions and they were working together. But the. You have coming in here parade you big ass head like you know everything.

[2022-09-07 12:08] Ornias1993 commented on #3655
To be clear: We basicallly just spin-up the container on kubernetes without much kubernetes special sauce.
this error is not likely to be caused by anything kubernetes as far as we’re aware.

hence my surprise about the fact you did not support docker.

[2022-09-07 12:11] Ornias1993 commented on #3655
While I might have some difference of opinion with the team here. I do respect them as people and for their work.

There was absolutely zero reason, however, for you to start namecalling people and ranting in multiple projects because of that.

[2022-09-07 12:16] CPBPILOT commented on #3655
@Ornias1993 Please tell me how the "nuf said" comment was in any way in good faith. You were being just as arrogant!

[2022-09-07 12:21] Ornias1993 commented on #3655
It was indeed maybe not the nicest way of wording surprise.
But thats between me myself and @matmair . I might have, depending on how you read it, indeed sounded arrogant. But thats no reason to start going off-topic and derail your own issue to start calling people names.

my apologies to @matmair if I sounded onreasonably rude, obviously.

 I would ofcourse prefer the issue here being looked int

[2022-09-07 19:36] guillaumesoucy94 commented on #3471
Okay, I will do the setup again using the prod documentation.

 Will post again here if there anything.

Best regards,

Guillaume

[2022-09-07 23:09] SchrodingersGat commented on #3648
@tehkillerbee clicking on the link in the "part" column should take you to the part instance, but it seems it actually takes you to the stock-item instance. This is duplicate behaviour as the link in the "stock" column already takes you there. So this should be addressed.

[2022-09-07 23:26] SchrodingersGat commented on #3655
Please let us all maintain a level of civility in the discussion here. Aggression towards anyone is not acceptable.

This is an open source project maintained by us in our spare time.

This issue may be particular to your setup, or it might be an upstream bug in the allauth library we use. It could also be on our end. We'll do what we can (when we can) to get to the bottom of it.

[2022-09-07 23:49] #3648 closed

[2022-09-07 23:49] #1435 closed

[2022-09-08 00:20] #3650 closed

[2022-09-08 14:17] Allys1098 opened #3665 "[FR] Editing the left parts menu"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

I would like to use InvenTree for a smaller scale and do not have any use for the "purchase orders" menus from the homepage. These can be hidden in the main settings but there is no option to add a 'part category' yourself. It would be nice if

[2022-09-08 15:32] matmair commented on #3665
hi there @EstelleSevers !
Thanks for the idea - I think this is a duplicate/extension of https://github.com/inventree/InvenTree/issues/3062 . Would you agree and could you maybe add your idea there if you see fit?

[2022-09-08 22:17] wolflu05 commented on #3568
I don't want to push someone, but this issue needs also some labels.

[2022-09-09 02:48] #2081 closed

[2022-09-11 02:28] guillaumesoucy94 commented on #3471
Running Inventree in production mode now.

Thanks!

Guillaume

[2022-09-11 12:06] rkalman opened #3668 ""Copy to clipboard" buttons are not working"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

The "copy to clipboard" buttons are not working, at least on Safari.
One exception the buttons located on the version information form, which are working but all does the same.

### Steps to Reproduce

Open any page, click that button, nothing copied to the clipboard.

[2022-09-11 13:15] wolflu05 commented on #3668
Do you access inventree over https and do you use localhost or an remote address?

[2022-09-11 13:16] rkalman commented on #3668
https://demo.inventre.org to be very specific

[2022-09-11 13:18] rkalman commented on #3668
It seems the js code is missing for that buttons...

[2022-09-11 15:14] rkalman commented on #3654
Maybe something is wrong with setting the property itself, I mean update the setting value through the api.
I am trying to get email notifications live, and I have a problem with enabling/disabling settings like:

Menu item User settings / Notifications / Enable email notifications: I get 404 for URL: /api/settings/global/NOTIFICATION_METHOD_MAIL/

Menu item Plugin settings / CoreNotificationsPlug

[2022-09-13 09:11] miggland opened #3671 "[FR] List PO/SO/BO by reference in API"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

When accessing orders through the API, I always have to find the ID of the order first - ie list them, look for the reference I want, then get the ID.
If the API would accept a reference field, this would be reduced to one step, eg:
`https://de

[2022-09-13 11:25] tehkillerbee opened #3672 "Strange behaviour when running `invoke export-records'"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Hello guys,

I have been upgrading our inventree-server to the latest version, as per the guide listed [here](https://inventree.readthedocs.io/en/latest/start/docker_prod/).
[code]

After upgrading, I wanted to export the database. However, when I follow the guide, the

[2022-09-13 20:14] r0l1 opened #3673 "PO Template syntax error"
The `{% endif %}` infront of the else block is duplicate. Must be removed.

https://github.com/inventree/InvenTree/blob/b306d2a34a60c453aab57197c895ed7a64651f18/InvenTree/report/templates/report/inventree_po_report.html#L77

[2022-09-14 00:30] SchrodingersGat commented on #3672
As @miggland has outlined above, the file `data_bk.json` will be found at the location of `INVENTREE_EXT_VOLUME` as per your container setup. Please re-open this issue if you cannot locate the file there.

[2022-09-14 00:30] #3672 closed

[2022-09-14 04:35] SchrodingersGat commented on #3671
@miggland should be reasonably straight-forward as the reference field is guaranteed to be unique (unlike the Part IPN field)

[2022-09-14 04:56] tehkillerbee commented on #3672
Thanks for elaborating, that makes sense.

[2022-09-14 04:59] #3673 closed

[2022-09-14 07:03] #3668 closed

[2022-09-15 04:14] #1971 closed

[2022-09-15 13:03] RichiSeitz opened #3683 "Quantity 0 in a BOM"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

When I've a BOM and have for example some Screws inside, I would set the quantity at 0. Because I don´t like to count every single screw but I want to have the screws inside the BOM. So I can see that I have to use this screw but it don´t chang

[2022-09-15 14:35] matmair commented on #3327
Not stale

[2022-09-15 14:37] matmair commented on #3683
Sounds doable - maybe behind a settings flag?
@SchrodingersGat do you want to tackle this?

[2022-09-15 22:57] markusEmm123 opened #3684 "Web display broken after upgrade from 0.7.0 to 0.8.2 on Synology docker"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

After updating from 0.7.0 to 0.8.2 on Synology docker the installation seems broken.
I am still logged in but it seems like no external resources (images or css or javascript) can be loaded and all i see is a pretty messed up site, see screenshot:
![image](https://user

[2022-09-15 23:04] markusEmm123 commented on #3684
It does work as expected if i set the enviroment variable "INVENTREE_DEBUG" from "False" to "True".
Returing it to "False" reproduces the error.

[2022-09-15 23:44] SchrodingersGat commented on #3684
This means that your static files are not being served correctly in production mode (`INVENTREE_DEBUG=False`).

When you load the page, (with the developer console open in your browser) you should see lots of error codes for all the .css and .js files. Can you share those error messages here?

As you are running docker under synology, I am assuming that you have setup a proxy image (e.g. nginx) to

[2022-09-15 23:48] SchrodingersGat commented on #3683
@RichiSeitz this sounds similar to an existing PR - https://github.com/inventree/InvenTree/pull/2890

Here, instead of setting quantity to zero (and thus losing information) we add an extra "consumable" flag which means that the items are required for the build, but do not need to be tracked in the build allocation process.

This way you keep the quantity information (which is still valuable) but

[2022-09-16 12:47] SchrodingersGat commented on #3298
Not stale

[2022-09-16 13:16] gunstr opened #3685 "Add full location path to build allocation table"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

I use the build allocation page to pick components. When I have locations with the same name under a tree (like "shelf1/box1" and "shelf2/box1" I can only see "box1" in the allocation table.

Screenshot from the demo site:

![Screenshot 2022-09

[2022-09-16 19:06] markusEmm123 commented on #3684
Thank you, that was obviously the reason.
After i have configured nginx correctly everything works as inteded.

[2022-09-16 19:06] #3684 closed

[2022-09-16 19:15] markusEmm123 opened #3686 "Upgrading from 0.7.0 to 0.8.x on Synology docker"
As i had a little struggle with updating from 0.7.0 to 0.8.2 on my Synology, i will try to describe what i have done to help others or remind me next time...
Unfortunately i know no better place for the moment than here.

1. Make a backup of database and data folder
2. Stop the inventree containers
3. Create a backup of the old configuration by selecting "settings-> duplicate settings" in the cont

[2022-09-16 19:19] wolflu05 commented on #3686
You could have posted this to the discussions in the category show & tell.

[2022-09-16 19:42] matmair commented on #3685
@gunstr This would be rather easy to implement by adding a new column to this table in the frontend-js code and maybe extend the api for faster rendering of the values.

[2022-09-16 19:57] #3686 closed

[2022-09-17 07:47] gunstr commented on #3685
@matmair I do not think a new column is needed, the full path can just be added to the existing location column in the same way as in the  Part/Stock table:

![Screenshot 2022-09-17 094659](https://user-images.githubusercontent.com/41468206/190846408-2acb18b3-642a-475d-bbf2-a050b3939885.png)

[2022-09-18 08:03] Bbillyben commented on #1971
Many Thanks @SchrodingersGat ! It works like a charm, from update db to api call.
(I would really like to help matmair, but viewing modification from ScrodingerGat let me thing it's far over my skills and understandigns...)

[2022-09-18 08:04] Bbillyben commented on #1971
Many Thanks @SchrodingersGat ! It works like a charm, from update db to api call.
(I would really like to help matmair, but viewing modification from ScrodingerGat let me thing it's far over my skills and understandigns...)

[2022-09-18 13:06] AlexeyHaritonov opened #3690 "[FR] Detail report for Build Order Template"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Hello,

When creating Build Order that contains few products.
You have to print each products BOM separately, but even then it doesn't multiply with quantity of the products.

For example:
**New BO0002**
Product_PCB_1    quantity 2
Product_PCB_

[2022-09-18 13:13] AlexeyHaritonov opened #3691 "PO report template doesn't work"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Hello,

I'm running docker on Windows 10
After adding all reports BO, BOM, PO, SO
Everything works fine except of PO report
I get an error when using PO report template (inventree_po_report.html):
{"error":"TemplateSyntaxError","error_class":"<class 'django.template.ex

[2022-09-18 13:46] matmair commented on #3690
@AlexeyHaritonov this should be possible with reports - see the docs [here](https://inventree.readthedocs.io/en/latest/report/report/)

[2022-09-18 13:52] matmair commented on #3685
@gunstr that will make the tables hard to read/wide and deep as the full path tends to be long. I would recommend against that and add a new column so that you can choose to have very wide tables will the rest of the userbase keeps the normal experience.

[2022-09-18 14:01] AlexeyHaritonov commented on #3691
Fixed in #3677
still not in stable :(
current stable 0.82

[2022-09-18 14:01] #3691 closed

[2022-09-18 14:08] AlexeyHaritonov commented on #3690
I would like to use something similar from BOM report

<tbody>
        {% for line in bom_items.all %}
          <tr>
            <td>{{ line.sub_part.IPN }}</td>
            <td>{{ line.sub_part.name }}</td>
            <td>
              {% for manf in line.sub_part.manufacturer_parts.all %}
               {{ manf.manufacturer.name }}
               {% endfor %}
          </td>
          <td>{%

[2022-09-18 14:49] AlexeyHaritonov commented on #3690
I can't find sub_parts or bom varialbles in all Context variables.
Any idea?

[2022-09-18 23:03] SchrodingersGat commented on #3685
@gunstr another option would be to leave the current text, but add the "fully qualified path" as the hover-text - i.e. when the user mouses-over the location string they see the whole thing. This would keep the table clean but still provide the required data. Would such a solution be acceptable for you?

[2022-09-18 23:03] SchrodingersGat commented on #3691
@AlexeyHaritonov 0.8.3 should be out pretty soon

[2022-09-18 23:04] SchrodingersGat commented on #1971
@Bbillyben this ended up requiring a refactor of some very old code! Most modifications we make are not this complex.

[2022-09-18 23:13] SchrodingersGat commented on #3690
@AlexeyHaritonov the available context variables are documented here - https://inventree.readthedocs.io/en/latest/report/build/

This should be enough to get you up and running

[2022-09-19 07:05] gunstr commented on #3685
@SchrodingersGat Although I do not really see why the behavior should be different to the Part Stock or other tables showing the stock location (or any other long strings for that matter) a hover-text is also a good solution.
There is of course a little mouse action required to see it, but it's far better than having to open another window to see the full path.

[2022-09-19 07:41] RichiSeitz commented on #3683
Oh perfect, I don´t see this,sorry. Yes such a flag is also working for me for shure. Thank you very much, Inventree is really nice to use :)

[2022-09-19 07:41] #3683 closed

[2022-09-19 08:25] AlexeyHaritonov commented on #3690
I can't find variables from build object-> to BOM
Maybe you can point it please?

[2022-09-19 09:04] AlexeyHaritonov commented on #3690
@SchrodingersGat
Checked one more time in [(https://inventree.readthedocs.io/en/latest/report/build/)]
don't see any path from build object to BOM (sub_parts...etc...)
the closest is "build.part"......but what when?
Part object doens't have any sub part variables

[2022-09-20 03:37] SchrodingersGat commented on #3685
@gunstr I've come up with a "hybrid" solution here - the tables will display the full path, unless that full path is very long, in which case it will be shortened for display but you can view the entire path with the tooltip:

![image](https://user-images.githubusercontent.com/10080325/191161982-f1ce4b7d-5372-4a41-8248-1505c137386e.png)

[2022-09-20 06:45] SchrodingersGat commented on #3685
@gunstr this will be fixed in https://github.com/inventree/InvenTree/pull/3695 - please LMK if there are any other tables where you think this should be applied

[2022-09-20 07:13] gunstr commented on #3685
@SchrodingersGat Very clever solution, thanks a lot. For now I have not seen any other place where the full path is missing but will let you know if I bump into one. Long paths has so far not been an issue for me as I normally are on a wide screen.

[2022-09-20 08:17] #3685 closed

[2022-09-20 08:20] SchrodingersGat commented on #3690
From [the docs](https://inventree.readthedocs.io/en/latest/report/build/):

You can iterate over the list of BOM items as follows:
[code]

[2022-09-20 14:39] Guusggg commented on #1971
Wow, this is functional now? That's fantastic news, guys! A job well done. Thank you!

[2022-09-20 19:53] matmair commented on #2848
Not stale

[2022-09-20 19:58] matmair commented on #3685
@gunstr there are a bunch of users with workbench-mounted iPads - myself included. So `long` might mean something else for other users than you.

[2022-09-20 21:18] wolflu05 commented on #2848
Should this be closed?

[2022-09-20 23:13] SchrodingersGat commented on #3685
Fair point I'll add in a user setting for this new "feature"

[2022-09-20 23:14] SchrodingersGat opened #3697 "Make string length clipping configurable"
Fair point I'll add in a user setting for this new "feature"

_Originally posted by @SchrodingersGat in https://github.com/inventree/InvenTree/issues/3685#issuecomment-1253007584_

[2022-09-21 06:17] SchrodingersGat commented on #3607
I'm going to close this out as "won't fix" until we find some good reason to actually update

[2022-09-21 06:17] #3607 closed

[2022-09-21 06:53] SchrodingersGat commented on #2276
@HelgiBergmann for your reference we have recently updated the barcode scanning API for greatly improved functionality: https://github.com/inventree/InvenTree/pull/3640

Is this issue still active? If you are still interested in this please re-open the issue :)

[2022-09-21 06:53] #2276 closed

[2022-09-21 07:41] gunstr commented on #3685
@SchrodingersGat @matmair To have it configurable make sense to support iPads, I guess a hover-text is not feasible at all for touch screens? If you anyway look into that you maybe want to align the behavior also for the allocation table for sales orders. As I primarily use wider screens it's not a problem for me, but I happened to notice that the full location path is actually already displayed i

[2022-09-21 08:08] matmair commented on #1087
@SchrodingersGat should we tag this for `hacktoberfest`?

[2022-09-21 08:18] SchrodingersGat commented on #1087
Done!

[2022-09-21 08:19] #3513 closed

[2022-09-21 11:06] chris-thorn opened #3703 "Some part parameters not shown when sorting ascending"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

I have imported parameters for a group of parts, and the parameters all display correctly when the parts are sorted by Part Name:

![image](https://user-images.githubusercontent.com/3541291/191485596-8fed75cb-26a2-4731-a9b6-a2685ae8d604.png)

If I click the column head

[2022-09-21 11:10] SchrodingersGat commented on #3703
Can you confirm that the parameter values are actually set for those parts? If the part does *not* have an associated parameter (e.g. for "resistance") it will be displayed as a `-` character instead.

[2022-09-21 11:21] chris-thorn commented on #3703
Sorry, I should have made that clear.

Yes all parts have parameters. I have 23 parts in that particular category, all of which can be seen here:

![image](https://user-images.githubusercontent.com/3541291/191491198-535638ba-bb6d-4182-8ff9-5187083af279.png)

[2022-09-21 11:25] SchrodingersGat commented on #3703
@chris-thorn yes I am able to replicate this problem. A very strange one...

[2022-09-21 12:07] chris-thorn commented on #3703
Just on the off chance it was an issue with bootstrap-table, I replaced `data/static/bootstrap-table` (v1.18.3) with the latest release (v1.21.0) and rebuilt the docker containers, but it doesn't seem to have made a difference.

[2022-09-21 12:30] SchrodingersGat commented on #3703
It *was* an issue with bootstrap-table, kind of... Fix in https://github.com/inventree/InvenTree/pull/3704

[2022-09-21 12:33] chris-thorn commented on #3703
Fantastic - thank you very much for your efforts!

Chris

[2022-09-21 13:31] #3703 closed

[2022-09-21 15:15] chris-thorn commented on #3703
Hmm... I've just pulled the latest image from Docker and recreated the containers but the issue persists.

Once commit 829a9d8 was made available to pull from Docker I pulled the updated image, ran `docker compose down` followed by `docker-compose up -d` and the InvenTree containers were recreated.

Here is another example of the behaviour, this time of a category that contains only three parts, e

[2022-09-21 17:03] chris-thorn opened #3705 "Part parameter sort order issue"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

This is a follow-on from issue #3703 - I've just pulled the latest InvenTree image from Docker and recreated the containers but the original issue persists.

(Apologies for creating a new issue if I should have just commented on the original issue and waited!)

Once co

[2022-09-21 21:41] SchrodingersGat commented on #3705
Have you performed a full reset of your browser cache so that the JavaScript files are updated?

[2022-09-21 22:06] chris-thorn commented on #3705
Yeah, that was the first thing I tried. I've tried it again just now on a different PC using a different browser in private browsing mode but it still behaves the same.

Do I need to delete any of the files in the `static/` directory of the Docker data volume before I run `docker-compose up -d`... or anything like that?

[2022-09-21 22:07] SchrodingersGat commented on #3705
Alright I'll have another look and see if I can replicate.

[2022-09-21 22:47] SchrodingersGat commented on #3705
You need to run `docker compose run inventree-server invoke update` [as per the documentation](https://inventree.readthedocs.io/en/latest/start/docker_prod/#update-database) - the static javascript files will not have been updated

[2022-09-21 22:47] SchrodingersGat commented on #3705
Please close this issue out when you've got it working :)

[2022-09-22 02:20] Gigahawk commented on #3618
Ran into the same issue today, deleting all the `maintenance_mode_state*` files in the media folder fixes the issue for now

[2022-09-22 07:33] chris-thorn commented on #3705
Oh nuts, I'm sorry - I completely missed that section in the docs 🙄

All working as expected now after clearing browser cache - thanks for your patience!

Chris

[2022-09-22 07:33] #3705 closed

[2022-09-23 10:30] Gigahawk commented on #3685
Can this feature also be added for the Stock Item view?
Right now I have individual locations set up for each section of a tray, where the path is something like `Tray X/A4`.
If I have multiple identical trays the Stock Item view only shows the last part of the path `A4`, which is ambiguous:
![image](https://user-images.githubusercontent.com/10356230/191942084-1aaaef6e-c968-479e-861d-b7a7ad1f9686.

[2022-09-23 16:56] matmair commented on #3685
@Gigahawk please do not use closed issues for new requests

[2022-09-23 19:50] Gigahawk opened #3711 "Add full location path to Stock Item location entry"
Can this feature also be added for the Stock Item view?
Right now I have individual locations set up for each section of a tray, where the path is something like `Tray X/A4`.
If I have multiple identical trays the Stock Item view only shows the last part of the path `A4`, which is ambiguous:
![image](https://user-images.githubusercontent.com/10356230/191942084-1aaaef6e-c968-479e-861d-b7a7ad1f9686.

[2022-09-24 01:20] SchrodingersGat commented on #3711
There's a fully-qualified path here:

![image](https://user-images.githubusercontent.com/10080325/192074132-c26c8ccc-880b-47c2-a33d-45ec81d10443.png)

Is this not sufficient?

[2022-09-24 01:35] Gigahawk commented on #3711
I suppose, just seems like some wasted there, especially since the short strings code is already implemented elsewhere

[2022-09-24 03:00] #3697 closed

[2022-09-24 03:01] SchrodingersGat commented on #3711
The "short strings" is implemented in a different spot and won't transfer to rendering the data here. As the fully qualified path is already displayed here, I'm going to close this one out :)

[2022-09-24 03:01] #3711 closed

[2022-09-24 03:14] SchrodingersGat opened #3716 "Add query-count validation as part of CI / Unit Testing"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Many API queries have been refactored to ensure that we don't run into the dreaded [1 + N query problem](https://medium.com/doctolib/understanding-and-fixing-n-1-query-30623109fe89#:~:text=TL%3BDR%3A%20The%20N%2B,%E2%80%9CHow%20to%20fix%20it%3F

[2022-09-24 03:42] SchrodingersGat commented on #3690
@AlexeyHaritonov did the suggestion above work for you?

[2022-09-24 13:46] SchrodingersGat commented on #3683
@RichiSeitz merged into master now - check it out :)

[2022-09-24 16:15] matmair commented on #3716
@SchrodingersGat do you want to do this?

[2022-09-24 23:16] SchrodingersGat commented on #3716
I'd like to tackle this, I have some specific areas I want to profile first.

[2022-09-25 14:36] HelgiBergmann commented on #2276
@SchrodingersGat another team have started  develop warehouse app, and they decided to use another app(

[2022-09-26 06:31] tehkillerbee opened #3718 "[Bug] Selecting and deleting multiple BOM items does not delete multiple items."
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

I noticed that when I select(using checkbox) multiple BOM items and click "delete", I will get a "Delete selected BOM items?" prompt but only one of the selected items will be listed in the prompt and only one of them will be deleted.

Furthermore, when clicking the "T

[2022-09-26 10:00] SchrodingersGat commented on #3718
@tehkillerbee so you don't see a dialog box like this:

![image](https://user-images.githubusercontent.com/10080325/192248910-64559a99-ded2-4aad-b3da-1d6d75c6eb2a.png)

[2022-09-26 10:17] tehkillerbee commented on #3718
@SchrodingersGat I first tried clicking the "Delete items" button above the BOM but nothing happened.
![image](https://user-images.githubusercontent.com/815886/192251815-d20c3c0f-633c-4402-b765-b354e81bda7c.png)

Then I tried clicking the Delete button next to one of the items (after checking multiple items)
![image](https://user-images.githubusercontent.com/815886/192252068-15b73c85-6e68-40b9-bd6

[2022-09-26 10:38] SchrodingersGat commented on #3718
This is what I did. Maybe there's an error? Open up the developer tab and see if there are any error messages in the console.

The delete buttons in each row are for deleting individual items - it does not matter which rows are "selected" via the checkbox in this case.

[2022-09-26 11:34] tehkillerbee commented on #3718
@SchrodingersGat Ok, so it could be an error with my setup then. How do I view the developer tab?

That makes sense, I also usually use the "Tools" menu above the list when editing multiple items.

[2022-09-26 17:06] r0l1 commented on #3683
@SchrodingersGat great thanks! We'll wait for the next stable release.

[2022-09-26 21:17] AivarasAukselis commented on #3655
I just tried to setup inventree on truenas scale and ran into this issue. Any updates or workarounds to make it working?

[2022-09-26 23:36] SchrodingersGat commented on #3582
@gooutbefree just FYI I have now seen this issue on one of my deployments.

Can you confirm that setting the max_requests to zero fixes the issue completely?

[2022-09-26 23:36] SchrodingersGat commented on #3655
@AivarasAukselis can you tell us some more about your setup? In particular have you implemented any auth rate limiting?

[2022-09-27 06:49] AivarasAukselis commented on #3655
No, nothing specific, just default settings for the helm chart. Perhaps some of the default settings chosen by truecharts invoke the bug. Here is the prinscreen of all the settings i can control:
![Screenshot_20220927-084503_Chrome.jpg](https://user-images.githubusercontent.com/46624640/192453387-896526bd-2e49-4800-8698-b626f49297f5.jpg)

[2022-09-27 10:06] SchrodingersGat commented on #3655
@AivarasAukselis can you post the error log you are seeing here, so we can compare to the original post?

[2022-09-27 11:16] AlexandrePTJ opened #3722 "Language settings not saved"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Each time I startup firefox and log on inventree I have to change the language settings.

### Steps to Reproduce

I use a computer and browser set in french but I want inventree to use english.

1. Start up browser
2. Log in inventree => Inventree use french
3. Change

[2022-09-27 14:20] Bbillyben opened #3723 "Link/unlink Barcode from a user with only view rights"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

I'm not sure it could be qualified of "bug", but maybe it's an unwanted behavior.

Thanks again @SchrodingersGat for the barcode refactoring, from my view it's a really great addition !

A user with only view right (without add/modify/delete rights) is able to link/unl

[2022-09-27 16:14] rkalman opened #3724 "Webcam barcode reading failed with "no URL in response""
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Scanning a valid stockitem QR code results an error. QR codes not interpreted.

### Steps to Reproduce

Select a stockitem
Print a QR code
Open "scan barcode" dialog
Use a hand scanner or the webcam scanner to scan the code
You will get:
<img width="562" alt="Képernyo

[2022-09-27 17:04] AivarasAukselis commented on #3655
Sure, here it is:
[inventree_inventree-5b5fcf4df-s4k44_inventree.log](https://github.com/inventree/InvenTree/files/9658210/inventree_inventree-5b5fcf4df-s4k44_inventree.log)

[2022-09-27 17:27] AivarasAukselis commented on #3655
Hmm, seems to work if I change the field of login attempts from 5 to empty. Perhaps the field value is passed as a string instead of an int?

[2022-09-27 18:02] stavros-k commented on #3655
@AivarasAukselis Wow, wouldn't have thought to check that :)
You are correct.

Kubernetes configmaps can't have `int` values.
There are workarounds, yes.

If this can be handled in the inventtree side, that would be perfect.
@SchrodingersGat, Maybe something like int(ENV_VAR)?
Otherwise I'll see what I can do.

Looks like there are 4 envs that need to be int (that I can find)
- INVENTREE_LOGIN_CON

[2022-09-27 19:42] matmair opened #3725 "[FR] Add typecasting to certain settings"
Typecasting in the settings for:

Looks like there are 6 envs that need to be int (that I can find)
- [x] INVENTREE_LOGIN_CONFIRM_DAYS
- [x] INVENTREE_LOGIN_ATTEMPTS
- [x] INVENTREE_EMAIL_PORT
- [x] INVENTREE_DB_PORT
- [x] INVENTREE_CACHE_PORT
~~INVENTREE_WEB_PORT~~

_Originally posted by @stavros-k in https://github.com/inventree/InvenTree/issues/3655#issuecomment-1259866326_

[2022-09-27 20:13] matmair commented on #3725
`INVENTREE_WEB_PORT` is a setting for gunicorn - not shure how to do that and if that is even necesarry.

[2022-09-27 20:35] matmair commented on #3655
It works on Kubernetes if an int is provided. This is a problem with the used deployment method. A system-specific fix might be provided in the future.
However, I will state that Kubernetes in general is not a supported method as none of the maintainers or core devs use it. So this might break at any point without us noticing or fixing it soon.

[2022-09-27 20:35] #3655 closed

[2022-09-27 20:38] stavros-k commented on #3725
It seems to accept strings fine, (as i use a different internal port and works)

[2022-09-27 20:50] stavros-k commented on #3655
Yes it does, but as the values coming from env's even on docker or docker-compose can be passed as strings.

Anyway. I get that it might break.

[2022-09-27 21:41] Ornias1993 commented on #3725
It's a bit of an odd issues, because environment variables are inherently strings. There is no int environment variable, that simply does not exist on Linux.

What I think is happening, is that some dependencies or code portions, are more forgiving with this than others. Which explains why the type is only triggering issues on some environment variables.

Typecasting should fix this on the source

[2022-09-27 22:11] rkalman commented on #3724
InvenTree/templates/js/translated/barcode.js
barcodeScanDialog() / onScan
Handling the new server response format is completely missing...

[2022-09-27 22:50] SchrodingersGat commented on #3724
@rkalman thanks for reporting this. Fix incoming in #3727

[2022-09-27 22:53] #3725 closed

[2022-09-27 22:55] SchrodingersGat commented on #3722
@AlexandrePTJ thanks for reporting. I have not been able to reproduce this.

Can you confirm that you are changing the language setting via the "settings" menu as below?

![image](https://user-images.githubusercontent.com/10080325/192651809-2a77f9c2-ad5c-4f7c-9269-87b059f19229.png)

Does the selected language change by itself back to the previous value/

[2022-09-27 23:00] SchrodingersGat commented on #3723
@Bbillyben good point, the user should have the correct permissions on the model in question. I've assigned this to the 0.9.0 milestone

[2022-09-28 00:28] #3724 closed

[2022-09-28 02:51] SchrodingersGat commented on #3718
https://developer.mozilla.org/en-US/docs/Learn/Common_questions/What_are_browser_developer_tools

[2022-09-28 02:51] SchrodingersGat commented on #3592
@MR-DOS any further notes on this?

[2022-09-28 04:02] SchrodingersGat commented on #1592
@G-Pereira I'm going to close this one as "out of scope". You can now add extra line items to orders, for any extra costs like shipping, etc.

[2022-09-28 04:02] #1592 closed

[2022-09-28 05:16] tehkillerbee commented on #3718
@SchrodingersGat Hah, sorry for the stupid question, I assumed it was a feature built into InvenTree - and not the browser developer tools tab that I am very much aware of :). When clicking the "Delete items" button, I immediately get this error in the console:
[code]
There are a few other warnings/errors displayed, although I am not sure if they are important
[code]

[2022-09-28 05:43] SchrodingersGat commented on #3718
[code]

This function is defined in `tables.js`

https://github.com/inventree/InvenTree/blob/8bcf72fbb2d0f7285cd21a96a03d32703097429f/InvenTree/templates/js/translated/tables.js#L105

Is it possible that your browser has cached an older invalid version of this javascript file?

Please trying doing a hard-refresh of the page (e.g. Ctrl+Shift+R) and see if the error message goes away

[2022-09-28 07:07] rkalman commented on #3724
Thank you Oliver!

[2022-09-28 07:21] AlexandrePTJ commented on #3722
Yes I do.
Sorry I checked "Bare metal" for the installation, but it is "docker"

[2022-09-28 07:24] SchrodingersGat commented on #3722
- Can you test if the problem persists for any other languages?
- Do any other settings get "reset" when you log out and log back in?

[2022-09-28 07:30] AlexandrePTJ commented on #3722
* Just tested with german, italiano and norsk : it always come back to french
* Yes I did change some search settings and they have reset.
Just take note that settings are reset when I close and restart the browser, not when I logout/login.

[2022-09-28 07:32] SchrodingersGat commented on #3722
Is your browser locale configured to request french language? I think it will use the browser request header language if provided.

[2022-09-28 07:42] AlexandrePTJ commented on #3722
You are right when I change my browser settings, Inventree display the language I set in firefox. Then if now I select in Inventree french and restart my browser it came back to english ;)

[2022-09-28 07:51] tehkillerbee commented on #3718
@SchrodingersGat Ah, perfect! I did as you suggested and now I can delete etc. without any problems. So it looks like I need to remember doing a hard-refresh when updating InvenTree.

I will close this issue, since there is no bug after all. :)

[2022-09-28 07:51] #3718 closed

[2022-09-28 08:27] SchrodingersGat commented on #3722
Sounds like everything is working as intended then :)

[2022-09-28 08:37] AlexandrePTJ commented on #3722
Not really. I mean, whatever my browser's settings are, I should be able to use another language settings in Inventree. This is not the case. I will not switch my browser language everytime I login on Inventree.

[2022-09-28 19:32] gooutbefree commented on #3582
@SchrodingersGat Thank you for the information. I'm running gunicorn with
[code]
It's working for 99% of the time. To cover the other 1% I decided to restart gunicorn every night. I haven't tested setting the max_requests to 0

[2022-09-28 19:43] gooutbefree opened #3730 "Access rights for global settings"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

I tried to limit the access rights in a way that the user can not change the global settings in the settings dialog (below the user settings). I think only an admin user should be able to change these settings.
I can't find any settings to limit access to global settin

[2022-09-28 22:12] matmair commented on #3582
@gooutbefree do you have sentry error reporting enabled (it is optional) - maybe we can find some clues in there.

[2022-09-28 22:19] SchrodingersGat commented on #3722
@AlexandrePTJ this is how django (the framework we use) prioritizes language lookup:

https://docs.djangoproject.com/en/4.1/topics/i18n/translation/#how-django-discovers-language-preference

@matmair any comments on this one? IIRC you had a lot to do with the language selection stuff

[2022-09-28 22:43] SchrodingersGat commented on #3730
@gooutbefree this should already be the case. I believe that the global settings can only be accessed by users with "staff" permission. But you are saying that any user can view the global settings?

For example on the demo server, if you log in with the "reader" account you only see user settings:

![image](https://user-images.githubusercontent.com/10080325/192901552-42bfb72a-7257-430d-a297-cfd49

[2022-09-29 11:36] totallylostagain opened #3733 "docker-compose invalid interpolation format"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Greetings,

I'm, not sure if this is a bug or I am just too dumb so I thought I might ask here.
Currently I'm trying to install it via Docker, which already worked on a Ubuntu 22.04 Teststation. So now I am trying to install it on a Corporate VM which runs on a CentOS

[2022-09-29 12:01] matmair commented on #3733
@totallylostagain you need to provide the name of the postgres database in the .env file under the variable `INVENTREE_DB_NAME` -  as the error describes it.

[2022-09-29 12:05] matmair commented on #3733
Also not sure how happy your IT security person is with copying files and running docker as superuser  - that means you probably will also run as superuser. That is not really best practice - [this SO article](https://stackoverflow.com/questions/68155641/should-i-run-things-inside-a-docker-container-as-non-root-for-safety) has lots of good info why that can be problematic.

[2022-09-29 12:07] totallylostagain commented on #3733
Thanks for the quick reply, I will try it out and report back. I was just a bit confused because when I set it up under Ubuntu I didnt have to set up a Database or change a name. All I did was download the Image and run the docker-compose command and everything was set up to the point I just had to start it and access it under 127.0.0.1.

[2022-09-29 12:20] matmair commented on #3733
@totallylostagain are you sure you are using the same settings? We have a development setup (not save for production usage!!) that just runs and is not very performant and a production setup that is a bit more involved. See the details here: https://inventree.readthedocs.io/en/latest/start/docker_prod/

[2022-09-29 12:38] totallylostagain commented on #3733
@matmair Yeah, i've been closely following the docker_prod instructions. On my testbench I was using the 3 provided files.
I think I've copied the wrong error message though, I am very sorry.

Invalid interpolation format for "environment" option in service "inventree-db": "POSTGRES_USER=${INVENTREE_DB_USER:?You must provide the 'INVENTREE_DB_USER' variable in the .env file}"

The thing is, in the

[2022-09-29 13:38] totallylostagain commented on #3733
I pulled up my command history of my testbench and did the exact same steps like before, still getting the "you must provide the Inventree_DB_USER variable in the .env file!" error.
Is there some kind of different approach on CentOS 7 that I am missing?

[2022-09-29 20:05] Bbillyben commented on #3592
Hi there,

I'm able to reproduce both in dev environement and prod env. (without nginx).

Step to reproduce for me (consistently) :

1/ log as admin
2/ go to stock page
3/ select a stock item
4/ count stock
5/ close count stock pop up
6/ edit stock item and modify any information   //and add a batch code , I've test a single letter, a group of letter and some random number, as well as random ]alph

[2022-09-30 04:24] SchrodingersGat commented on #3592
@MR-DOS @Bbillyben proposed fix in #3735

Please have a look and see if it makes sense.

[2022-09-30 05:08] #3592 closed

[2022-09-30 09:39] Bbillyben commented on #3592
Gratz @SchrodingersGat, It works great!
I'm able to get former "dead" item back, and new ones do not fall in the black hole

[2022-09-30 11:36] SchrodingersGat commented on #3592
Great! Glad to have sorted it out for you :)

[2022-10-01 21:38] matmair commented on #3733
@totallylostagain I have not used CentOS in years but a shot in the dark: have you looked into the permissions for docker and the .env file?

[2022-10-02 22:12] matmair opened #3740 "[FR] Add system checks"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

We are currently not checking for security / install recommondations or surfacing djangos own errors/warnings in the API/UI

### Suggested solution

Add checks for:
- [ ] Supported OS
- [ ] Supported Deployment Method
- [ ] (Optional) Warning i

[2022-10-04 22:22] matmair opened #3746 "[FR] Add native LDAP"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

We currently do not provide a native LDAP integration - which is often needed together with SAML for enterprise users.

### Suggested solution

Native inclusion of ldap - maybe via django-auth-ldap. A problem I see is the native dependency tree

[2022-10-04 22:26] matmair commented on #3746
This is a prime candiatate for a company or enterprise to sponsor an implementation.

[2022-10-05 12:12] AlexandrePTJ commented on #3722
From the django doc, using browser language is right after using session cookie. So If cookie is set, language should be kept to user selection.

[2022-10-05 12:50] matmair commented on #3722
@SchrodingersGat we use the default stuff offered by Django; not sure what could break there. You can set Firefox to enforce a specific language and Django will respect that. Maybe that is what is going on in this edgecase.

I checked with Firefox on macOS and Windows and can not reproduce this.

[2022-10-06 01:37] alexisvl commented on #2787
This was fixed, but it's broken again recently. Nearly identical symptoms, except now a bit of a gap gets added to the table:

![Screen Shot 2022-10-05 at 19 32 58](https://user-images.githubusercontent.com/8991037/194195055-d0d21947-8086-4f76-932b-c58231bb68f3.JPG)

0.9.0 dev / 61a6ecd

[2022-10-06 11:31] SchrodingersGat commented on #3722
@matmair thanks for checking!

@AlexandrePTJ are you able to test with a different browser and/or computer?

[2022-10-06 11:33] SchrodingersGat opened #3750 "Barcode "check in" window is broken"
This was fixed, but it's broken again recently. Nearly identical symptoms, except now a bit of a gap gets added to the table:

![Screen Shot 2022-10-05 at 19 32 58](https://user-images.githubusercontent.com/8991037/194195055-d0d21947-8086-4f76-932b-c58231bb68f3.JPG)

0.9.0 dev / 61a6ecd

_Originally posted by @alexisvl in https://github.com/inventree/InvenTree/issues/2787#issuecomment-1269192688_

[2022-10-06 12:04] SchrodingersGat commented on #3750
@alexisvl thanks for reporting, fix incoming. Please raise a new issue if you come across any other bugs

[2022-10-06 13:18] #3750 closed, assigned to SchrodingersGat

[2022-10-06 18:47] AlexandrePTJ commented on #3722
I did reprodruce on mac, linux and windows. With firefox and any other browser.
Is there any public instance of Inventree I could try on ? I may come from my installation, but I don't see any error or warning message telling language settings is not saved.

[2022-10-06 23:01] murray484 opened #3753 "[FR] Assign arbitrary barcode to stock locations"
Would it be possible to add support for assigning existing barcodes to stock location? Basically the exact same mechanic that exists for stock items, but for stock locations as well.

[2022-10-07 01:06] murray484 commented on #3753
Awesome! Thanks!

[2022-10-07 02:23] #3514 closed

[2022-10-07 02:24] alexisvl commented on #2787
Underneath "lmk if you still see any issues!" seemed like an apt place to let them know I still saw issues. Please don't use rude terms like "hijack" to politely suggest etiquette.

[2022-10-07 10:33] FilMar opened #3755 "after update from old version, sales orders dashboard shows only the summary, without lines list and other menus"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Hi, i have a problem after an update:
I have upgraded inventree from versions 0.4.5 to the stable versions and the database was imported wells but as is visible from screenshot the sales orders detail dashboard don't show the menus and the list of lines, how i can fix

[2022-10-07 13:14] wolflu05 commented on #3755
Hello,

What browser are you using? Have you already cleared the cache and tried to use a private inkognito window? This look like you have old files cached.

[2022-10-07 13:30] FilMar commented on #3755
i have tried with firefox, safari, chrome and edge (chromium version), with different computer.
Right now i tried also brave and is the only one it woks

[2022-10-07 13:44] FilMar commented on #3755
i also tried with private firefox

[2022-10-07 19:02] lawson89 commented on #3654
I get similar errors for /api/settings/global/REPORT_INLINE/ and others
I don't see NOTIFICATION_METHOD_MAIL or REPORT_INLINE in the InvenTreeSetting.SETTINGS (Dict of all global settings values)

Shouldn't these be calling user settings instead of global?

[2022-10-07 20:20] lawson89 commented on #3654
Also I don't see these settings in InvenTreeUserSetting

So I think
1. It's calling the wrong api
2. Even if calling user settings api, I don't see some of the settings defined there

I'm very new to this project so entirely possible I am missing something

[2022-10-08 10:01] SchrodingersGat commented on #3755
@FilMar a couple of questions to help narrow this down:

1. Do you see issues on any other pages? Or just the sales order detail page?
2. Can you open up the developer tools in your browser to check if there are any errors, or scripts which are failing to load?
3. Did you run `invoke update` during the update process?

[2022-10-08 10:18] SchrodingersGat commented on #3654
@rkalman thanks for pointing this out, sorry took me so long to get back around to this one. Certainly something is going wrong with the settings page / API there.

[2022-10-08 11:03] wolflu05 commented on #3549
I don't want to push someone, but I want to ask friendly, if there is any progress on this.

[2022-10-08 11:06] SchrodingersGat commented on #3654
I'm not sure that the API bug is the same as what is preventing the email from being turned off, but we'll see

[2022-10-08 18:02] gooutbefree commented on #3730
@SchrodingersGat You are right. It's working fine as long as staff user is a synonymous for administrator ;-)
I added LDAP authentication in the settings.py file to our ldap server. Other applications use staff group for standard users and only superusers for admin. I'm sorry for the trouble, I haven't considers the staff flag. I disabled staff on a normal user but with the next login the flag was

[2022-10-08 18:02] #3730 closed

[2022-10-08 18:12] matmair commented on #3730
@gooutbefree user attributes are synced on each login

[2022-10-08 22:07] #3549 closed

[2022-10-10 02:33] SchrodingersGat commented on #3722
@AlexandrePTJ you can try on https://demo.inventree.org - please check here and report back

[2022-10-10 02:35] SchrodingersGat commented on #3588
@matmair do you have any insights here? What did you change in #3535 in particular which may have caused such issues?

[2022-10-10 06:59] AlexandrePTJ commented on #3722
I have the exact same behaviour:
1. Login with engineer account. Display is in French.
2. Go to settings, change language to English. Display is in English.
3. Close the browser (not only the tab)
4. Login with engineer account. Display is back in French.

[2022-10-10 08:45] FilMar commented on #3755
i has done some test, on brave i have the same error, i has cookie of the page and it is worked for this.
-  i have the same error in the purchase order detail page
-  yes, during the update i has call "invoke update"
-  with the inspector of the browser i found this error:
![purchase_order_error](https://user-images.githubusercontent.com/15674651/194823252-7cb758c5-dff4-40d6-819d-b537ea5e1994.png

[2022-10-10 09:55] SchrodingersGat commented on #3755
@FilMar looks like static files have not been served correctly, or not updated correctly.

Check in the "network" tab of the developer console, see if there are any resource files (particularly JavaScript) which are not being loaded correctly.

[2022-10-10 10:02] SchrodingersGat commented on #3722
I can replicate this in edge browser, but it seems to work *as expected* in chrome.

@AlexandrePTJ what browsers have you tried this with?

[2022-10-10 10:02] FilMar commented on #3755
seems like all file loaded correctly,
![static_files_load](https://user-images.githubusercontent.com/15674651/194841785-6a4ce659-7301-48b5-83f5-76afccc8a92f.png)

[2022-10-10 10:40] AlexandrePTJ commented on #3722
I tried with safari on mac and with firefox on either linux and windows.
Also just tried with chrome (fresh install) on windows and I also get the issue.

[2022-10-10 10:54] SchrodingersGat commented on #3755
What do you see if you go to https://demo.inventree.org/order/sales-order/5/

[2022-10-10 13:33] FilMar commented on #3755
i see the right dashboard, without errors:
![demo_order_sales](https://user-images.githubusercontent.com/15674651/194878284-1bdbca30-942b-4e7f-b6bc-b8b255be523c.png)
![demo_console](https://user-images.githubusercontent.com/15674651/194878300-18ab08da-3cab-44b1-8b18-79b70d5483c1.png)
![network_page_demo](https://user-images.githubusercontent.com/15674651/194878320-00552639-f00c-42e2-83a9-a6c3d0828

[2022-10-10 21:12] matmair commented on #2787
@alexisvl issue closed, affirmed resolve, 6 months and 2 point releases later => not related => hijack of fixed and closed bug. I stand by my wording choice.

[2022-10-10 21:17] matmair commented on #3755
@FilMar could you post the full version info (upper right corner of the window in the about section - there is a copy button).

[2022-10-10 21:21] matmair commented on #3588
@SchrodingersGat it fixed the way App names are computed, before there could be a missmatch between the packagename and appeared - that lead to collisions with 3rd party modules. The PR changed it to follow Django standards as I understand them.
Adding a Meta class to them model should fix this issue.

[2022-10-10 21:57] SchrodingersGat commented on #3588
@wolflu05 is it an acceptable solution to simply add a metaclass to your plugin? I think this would be the simplest way to move forward here.

[2022-10-10 21:58] SchrodingersGat commented on #3424
@tehkillerbee please indicate if you are still interested in this, otherwise we'll close it out.

[2022-10-10 22:27] wolflu05 commented on #3588
@SchrodingersGat Yeah that is also fine if this is now the intended way of doing it. Thank you very much for resolving those two issues. No I can continue develop my plugin if I had some more time. We can close this from my side.

[2022-10-10 22:32] #3588 closed

[2022-10-10 23:57] SchrodingersGat commented on #3571
As this action has now been removed, I'm closing this out.

[2022-10-10 23:57] #3571 closed

[2022-10-11 01:31] SchrodingersGat commented on #3722
@AlexandrePTJ can you check if the session cookie is set in your browser?

[2022-10-11 07:33] FilMar commented on #3755
# Version Information:
InvenTree-Version: 0.8.3
Django Version: 3.2.15
Commit Hash: f9d2b14
Commit Date: 2022-09-23
Database: postgresql
Debug-Mode: False
Deployed using Docker: True

[2022-10-11 10:17] tehkillerbee commented on #3424
@SchrodingersGat It would be a very nice feature to have, that's for sure, but I understand that there are some issues such as pricing that need to be handled first.

[2022-10-11 10:36] SchrodingersGat commented on #3755
@FilMar I have just installed fresh 0.8.3 stable build and do not see the same issue:

![image](https://user-images.githubusercontent.com/10080325/195068145-da2d8e5e-2812-4647-a6c2-ffaf8c0933c3.png)

I suspect there is something going wrong with your static files. Perhaps the volume they are being served from is not correct?

Can you open up the "order.js" file (as delivered to your browser by the

[2022-10-11 10:40] SchrodingersGat commented on #3722
![image](https://user-images.githubusercontent.com/10080325/195069336-de769628-c2d7-4294-8cab-081230a01995.png)

e.g. when changing language to italian, I see the following cookie

[2022-10-11 10:42] SchrodingersGat commented on #3733
@totallylostagain what version of docker compose are you running?

[code]

[2022-10-11 11:32] SchrodingersGat opened #3767 "Plugin loading broken due to Pathlib"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Ref: https://github.com/inventree/inventree-brother-plugin/issues/12

### Steps to Reproduce

Install a plugin such as `inventree-brother-plugin` and reload

### Expected behavior

Plugins load as expected

### Deployment Method

- [X] Docker
- [ ] Bare metal

### Vers

[2022-10-11 12:15] #3767 closed

[2022-10-11 14:04] FilMar commented on #3755
only file i received from server with that name is "en.order.js", this is content:

// Create a new SalesOrder
function createSalesOrder(options={}) {

    constructForm('/api/order/so/', {
        method: 'POST',
        fields: {
            reference: {
                prefix: global_settings.SALESORDER_REFERENCE_PREFIX,
            },
            customer: {
                value: options.cust

[2022-10-11 16:06] AlexandrePTJ commented on #3722
Yes cookie is changed. But it looks to expires at session. So if session ends (closing browser) cookies expires. No ?

[2022-10-11 20:36] SchrodingersGat commented on #3755
@FilMar yes that looks like the *old* `order.js` file. So your static files have not been updated properly.

Did you run the `invoke update` command when you performed the update procedure?

[2022-10-11 20:39] SchrodingersGat commented on #3722
The cookie should persist. I have tested locally, and the cookie is persistent when:

- Logging out / in
- Closing the browser

(at least on chrome)

Can you confirm that the cookie resets when you close and re-open the browser?

[2022-10-11 21:02] matmair commented on #3722
@SchrodingersGat @AlexandrePTJ this sounds like firefox is limiting the cookie lifetime. It tends to do that if it is set to more privacy-conscious presets.

[2022-10-11 21:04] matmair commented on #3755
It might help to just rerun the update command; Maybe delete the static content first - this could be a case where the static content is not served correctly.

[2022-10-12 08:39] FilMar commented on #3755
and if i create a new order, it have the same problem of visualization of the others

[2022-10-12 09:47] AlexandrePTJ commented on #3722
@SchrodingersGat I confirm that the cookie resets.
@matmair Then it depends on which kind of cookie this settings is written. Attached a screenshot of cookie used by another django based application (weblate)
<img width="959" alt="Sans titre" src="https://user-images.githubusercontent.com/3862081/195310276-eb1d4260-bd98-4368-b836-6b7ca3461a4b.png">

[2022-10-12 10:08] matmair commented on #3722
This seems to be a client (/browser) issue and not related to InvenTree.
I checked with firefox 105 on MacOS, Debian and Windows again and it works as expected on the latest stable and latest master.
@AlexandrePTJ
1A) Could you try turning off privacy protections for the instance you are having problems with?
1B) Is your instance hosted with HTTPS? That might limit how long the browser stores the

[2022-10-12 10:08] SchrodingersGat commented on #3755
There is definitely something going on with your docker setup.

When you say you deleted the static files - what action did you actually perform here? I would expect that this means removing the `/static/` directory from your external volume which is mounted into the docker containers?

[2022-10-12 10:20] Fluxus00 opened #3775 "[FR] Using # in Part Names"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

I am currently trying to import my old partkeepr database into partkeepr, but it seems like Invnetree is not allowing '#' in a part name. Those # are quite important for my inventory structure, and it would not be easy to replace those.

There

[2022-10-12 10:23] SchrodingersGat commented on #3775
The existing part naming restrictions are outdated now, recent improvements (especially around sanitisation of data) may have rendered these redundant.

@matmair can you see any reason not to allow these restricted characters back into the part naming schema?

[2022-10-12 10:28] matmair commented on #3775
@SchrodingersGat I see no security reason; the only thing I can think of is possible collisions in the URL schema (ie if we use a part name there a # is certainly not a good symbol to have).
Should be good to go. TBH this is very low on my priority list - would be a good first issue / hacktober thing.

[2022-10-12 10:29] FilMar commented on #3755
yea, exactly

[2022-10-12 10:31] matmair commented on #3775
A good starting point for the required changes is this validator; The character should be removed from the blocklist and then some testing (if something broke) is required
https://github.com/inventree/InvenTree/blob/193b69eeb59e0fb8fe431dd1905626b380446067/InvenTree/InvenTree/validators.py#L40-L46

[2022-10-12 10:45] SchrodingersGat commented on #3755
And when you subsequently ran `invoke update` did it re-generate files in this location, under a `static` directory?

[2022-10-12 11:03] SchrodingersGat commented on #3775
@matmair I've another PR in the works which makes sense to roll this into, I'll tackle it :)

[2022-10-12 12:55] FilMar commented on #3755
yes, the directory `/static/` was recreate with all the files inside

[2022-10-12 13:09] AlexandrePTJ commented on #3722
A) Turning off privacy settings did not change anything. Not a good approach anyway :)
B) No, only http
C) Sorry I missed this point:

[code]

[2022-10-12 13:14] AlexandrePTJ commented on #3722
I dig a bit into django documention and into weblate code too understand how weblate does to make it works.
This settings [LANGUAGE_COOKIE_AGE](https://docs.djangoproject.com/en/3.2/ref/settings/#language-cookie-age) tooks my attention. I added `LANGUAGE_COOKIE_AGE = 12096000` into `InvenTree/settings.py`, then everything is working perfectly.

[2022-10-12 13:26] SchrodingersGat commented on #3722
@AlexandrePTJ very interesting, I wonder why the cookie is *not* being deleted otherwise then. Nice work figuring this out

[2022-10-12 21:07] matmair opened #3778 "[FR] Add backup into inventrees lifecycle"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

We are currently leaving database and media backups up to the users. As the user base seems to be less and less technical it might be good to include some basic backup into the product.

### Suggested solution

I use [dbbackup](https://github.c

[2022-10-12 21:08] matmair commented on #3778
This might also be interesting for enterprise users; maybe some company using InvenTree is willing to sponsor the project a bit for getting this into the codebase.

[2022-10-12 21:31] SchrodingersGat commented on #3778
This is a great idea

[2022-10-12 21:41] matmair commented on #3722
@AlexandrePTJ PR to fix this is in review now.

[2022-10-12 21:59] matmair opened #3780 "[FR] Add CLI to docker and package install"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Currently, you need to activate the right venv and be in the right directory to use the included invoke tasks.

### Suggested solution

Create:
- [x] a (bash) cli that wraps and exposes the invoke tasks
- [x] create a subcommand for Django's ma

[2022-10-12 22:04] matmair commented on #3780
Implementation hint: https://docs.pyinvoke.org/en/stable/concepts/library.html

[2022-10-12 22:09] matmair opened #3781 "[FR] Add monitoring endpoint"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

We currently do not provide a fully documented monitoring endpoint.

### Suggested solution

- [ ] Add endpoint that returns json of current state
- [ ] use a token to secure access
- [ ] include django state check results
- [ ] include backgro

[2022-10-12 22:12] matmair commented on #3781
This is a pretty simple, isolated issue with a good reference to sample docs. Leaving this for volunteers for now.

[2022-10-12 22:38] SchrodingersGat commented on #3781
@matmair if you navigate to `/api/` some of this functionality already exists. Do you want some specific details above and beyond this?

![image](https://user-images.githubusercontent.com/10080325/195460767-2297e349-3d8a-494d-8b06-fc12ca8ae646.png)

[2022-10-12 22:41] matmair commented on #3781
@SchrodingersGat I would like to have something dedicated like Zammad; my normal setup is to call that endpoint every 30 seconds so something really speed/resource optimised would be great. Also if everything is fine I just want an 'ok' and maybe a version back.

[2022-10-12 23:56] #3722 closed

[2022-10-13 01:14] #3723 closed

[2022-10-13 02:24] SchrodingersGat commented on #3755
@FilMar ok, please check the contents of the static directory, and look at the file:

`./static/i18n/en.stock.js`

Does it contain a function called `loadPurchaseOrderLineItemTable`?

[2022-10-13 07:44] AlexandrePTJ commented on #3722
@matmair @SchrodingersGat Thanks you for the work done.
I take this opportunity to say congratulations, InvenTree is an excellent application !

[2022-10-13 08:52] wolflu05 commented on #3755
Can I suggest you to please post this the next time in for of (the empty lines around the html tags are necessary):

[code]

(without the * before the backticks, otherwise I can't post it.)
This will result in:

<details>
<summary>Code XXX</summary>

[code]

</details>

or use a https://gist.github.com/ my mouse wheel is going to die :D

[2022-10-13 09:38] SchrodingersGat commented on #3755
@FilMar you should see this file https://github.com/inventree/InvenTree/blob/master/InvenTree/templates/js/translated/order.js

So, the static files are *not* being served from that location. Have you changed anything in your docker compose file? I am assuming that the static files are being served by the nginx container?

[2022-10-13 10:26] FilMar commented on #3755
yes, exactily, but if the problem is how nginx serve the static files, on the browser i shoud see the errors ,
and for check if the function was in the en.stock.js file i controlled directly inside the volume of inventree server container

[2022-10-13 15:11] wolflu05 commented on #3755
Isnt destroying, pull the newer image and start the container the supposed way of upgrading?

[2022-10-13 15:59] matmair opened #3785 "[FR] Add interacive options to installer"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

The installer currently is non-interactive. It can be modified with environment variables but it would be cool to have an interactive guide to pick a database backend and maybe set up Redis ... there are options.

### Suggested solution

Create

[2022-10-13 20:43] matmair commented on #3755
@wolflu05 yes

[2022-10-14 08:14] FilMar commented on #3755
i destroyed and recreated many time the container, i also recreate the problem on the different pc

[2022-10-15 13:27] SchrodingersGat commented on #3755
@FilMar this is all very odd, as you can see here, the specified function should be found in that javascript file:

https://github.com/inventree/InvenTree/blob/f9d2b149c699574c54c171f85fd06d9b2f8268ed/InvenTree/templates/js/translated/order.js#L3444

Have you previously installed InvenTree on the other PC, or is it a completely fresh install?

[2022-10-15 15:29] gooutbefree commented on #3775
I would appreciate # because e.g. Texas Instruments uses it in standard part names and these parts can't be handeled right now

[2022-10-15 18:02] Rincewind34 opened #3786 "[FR] Assign Bar Code to Part"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

(_maybe I was too dumb to find it in InvenTree and it is already possible - my deepest apologies if that is the case)_

In my system, I have parts that have serial numbers (and everyone has their own bar code /= stock item) and I have parts tha

[2022-10-15 18:41] Rincewind34 commented on #2872
@SchrodingersGat this looks like a very low hanging fruit, I'm currently looking into this project and would be very happy to contribute here and there.

[2022-10-15 21:24] matmair commented on #3775
@gooutbefree we are working on it. Small team so it might take a while.

[2022-10-15 21:26] matmair commented on #2872
@Rincewind34 do you want this to be assigned to you? Feel free to ping us if you have questions or to create a  draft PR if you want early feedback.

[2022-10-15 21:39] matmair commented on #3786
hi there @Rincewind34

This should be already possible; You can link the part but not the non-serialised stock-item.
![grafik](https://user-images.githubusercontent.com/66015116/196008502-a9217194-e6c9-47b2-8ad4-b8111bfed454.png)

Is this what you are looking for?

[2022-10-15 21:42] matmair commented on #3755
@FilMar can you maybe post the docker-compose and config.yaml? If so please replace all passwords with ### or something obviously fake.

[2022-10-15 22:08] matmair opened #3787 "[FR] Make registry for scheduled tasks"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Currently, we are registering tasks with a function and static names as strings.

### Suggested solution

A decorator for the functions might be better suited and reduce code duplication.

### Describe alternatives you've considered

We could s

[2022-10-15 22:08] matmair commented on #3787
@SchrodingersGat thoughts?

[2022-10-15 22:29] Rincewind34 commented on #3786
@matmair Yes, I wasn't running the lastest development version but saw it in the source code. Thanks!

[2022-10-15 22:33] Rincewind34 commented on #2872
@matmair Great, I think I can spare a few ours late next week.

[2022-10-15 22:33] matmair commented on #3786
@Rincewind34 you do not need to be; if you have time you could verify on the [demo](https://inventree.readthedocs.io/en/latest/demo/) - that is running bleeding edge.

[2022-10-15 22:35] matmair commented on #2872
Nice @Rincewind34 - no time pressure on this from our side; the milestone is just a rough suggestion and has no meaning.

[2022-10-15 22:48] SchrodingersGat commented on #3786
@Rincewind34 this feature will be released to "stable" when [0.9.0](https://github.com/inventree/InvenTree/milestone/20) is available :)

[2022-10-15 22:48] #3786 closed

[2022-10-16 00:25] SchrodingersGat opened #3789 "[Plugin] Raise error message if plugin fails version check"
If a particular plugin fails version check during loading, it currently silently loads (but is inactive).

It would be helpful to add an error message to alert the user that the plugin has failed to load, due to a version incompatibility.

[2022-10-16 01:54] SchrodingersGat commented on #1126
Closed in https://github.com/inventree/InvenTree/pull/3644

[2022-10-16 01:54] #1126 closed

[2022-10-16 01:59] SchrodingersGat commented on #1531
@eeintech can you confirm if you think this has now been completed in latest master?

[2022-10-16 13:09] #3778 closed

[2022-10-16 13:16] matmair opened #3793 "Extend restore task to select backup that should be restored"
Yes, that is theoretically possible; Current method is to use the latest

__Originally posted by @matmair in https://github.com/inventree/InvenTree/pull/3783#discussion_r996365659__

[2022-10-16 13:17] matmair opened #3794 "Add settings for backups"
Can we give the user (or more likely, sysadmin) a method to customize:

a) Whether backups are performed automatically or not
b) The schedule period for performing backups

__Originally posted by @SchrodingersGat in https://github.com/inventree/InvenTree/pull/3783#discussion_r996365203__

[2022-10-16 13:26] matmair commented on #1322
@SchrodingersGat aren't the first few items covered by your new validation PR?

[2022-10-16 16:05] Weissnix4711 opened #3796 "[Bug] User without stock location role can see locations of individual items."
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Not sure if this is a bug, or just an oversight in the current permissions / roles system.

A user without permission to view stock locations (ie, not assigned to a group with the stock locations role), can still see the stock locations of individual stock items, both

[2022-10-16 16:48] matmair commented on #3796
Thanks for the report @Weissnix4711 !

[2022-10-16 22:29] SchrodingersGat commented on #3796
I think there are a *lot* of small instances like this where permissions are not correctly observed in the UI.

Moving to react means we have to make more use of the API, which *does* enforce permission checks, so probably best (and simplest) to address it then.

[2022-10-16 22:31] SchrodingersGat commented on #1322
Yes most of this is either fixed or outdated. I'll close it out

[2022-10-16 22:31] #1322 closed

[2022-10-16 22:54] #3787 closed

[2022-10-17 07:53] FilMar commented on #3755
i always used docker, on my server and on my pc for a test config.
After i see that error on server after update, i recreated a test version of inventree on my pc, i create a old inventree version, import my records and than i updated inventree, recreating the same error of the server.
I attach the test config version of compose file and nginx.conf. (i didn't configure media files in the test vers

[2022-10-17 08:17] matmair commented on #3755
@FilMar could you also post the `config.yaml`? Seems like it could be a mismatch of static paths.

[2022-10-17 09:24] matmair commented on #3755
@FilMar I do not see an `INVENTREE_STATIC_ROOT` in the docker-compose and `static_root` is disabled in the default config.yaml so something must be changed to get a starting config.

[2022-10-17 09:56] FilMar commented on #3755
ok i defined `INVENTREE_STATIC_ROOT` on the docker_compose on `/home/inventree/data/static` and for security i relaunched `invoke update`, but nothing change

[2022-10-17 10:17] larchen commented on #1297
@rcludwick Do you have an example of how you can host this on a subdirectory with traefik? I can use the stripPrefix middleware but this doesn't handle internal links/redirects. How do you get internal links/redirects to add the subdirectory prefix to the urls?

[2022-10-17 11:02] SchrodingersGat commented on #3755
@FilMar try running this command from the terminal:

[code]

Provide the output of this command here and also if it fixes the problem

[2022-10-17 13:56] eeintech commented on #1531
@SchrodingersGat I will look into this soon, bear with me busy busy right now :sweat_smile:

[2022-10-17 15:45] matmair commented on #1297
@larchen not sure the UI will work hosted on a subdir, you would have to rewrite JS code in-flight. I know that is possible in theory with enterprise reverse proxies but have yet to see a successful deployment for InvenTree.

[2022-10-17 22:05] rcludwick commented on #1297
@larchen You would need to do something like this:

https://serverfault.com/questions/1050668/https-nginx-reverse-proxy-url-rewrite

[2022-10-17 22:38] #3420 closed

[2022-10-17 22:55] #3789 closed

[2022-10-18 01:38] #3794 closed

[2022-10-18 02:23] SchrodingersGat commented on #3665
Duplicate of https://github.com/inventree/InvenTree/issues/3062

[2022-10-18 02:23] #3665 closed

[2022-10-18 06:55] larchen commented on #1693
I'm having some trouble getting the proxy auth working and I was wondering if I'm missing a setting somewhere. I'm using traefik + traefik-forward-auth for SSO, which passes the X-Forwarded-User header to an nginx container (for serving static files) running in front of inventree.

I have
[code]
in my `inventree.yml` file, and the nginx config was copied from [here](https://github.com/inventree/In

[2022-10-18 09:37] FilMar commented on #3755
unfortunately, that command don't fix the problem,
that is the output:
<details>
<summary>output invoke static</summary>

[code]

[2022-10-18 09:51] SchrodingersGat commented on #3755
@FilMar I see that the end of your docker compose file does not actually specify an external location for the "data" volume

Your docker-compose file should have a `volumes` section that looks like this:

https://github.com/inventree/InvenTree/blob/269b269de3a16ec5285b3d5e21991173138ff112/docker/production/docker-compose.yml#L125

![image](https://user-images.githubusercontent.com/10080325/1963979

[2022-10-18 12:12] matmair opened #3807 "[BUG] reverse proxy"
I'm having some trouble getting the proxy auth working and I was wondering if I'm missing a setting somewhere. I'm using traefik + traefik-forward-auth for SSO, which passes the X-Forwarded-User header to an nginx container (for serving static files) running in front of inventree.

I have
[code]
in my `inventree.yml` file, and the nginx config was copied from [here](https://github.com/inventree/In

[2022-10-18 12:13] matmair commented on #3807
@larchen I think it is better to handle this as a separate issue and not in a closed FR

[2022-10-18 12:50] #3428 closed

[2022-10-18 12:50] #3775 closed

[2022-10-18 15:37] larchen commented on #3807
Sorry about that — thanks for moving it here.

[2022-10-18 19:02] matmair commented on #3807
@larchen is the user already provisioned in your instance?

[2022-10-19 01:05] SchrodingersGat opened #3809 "[Feature] Remove old notification records"
When users are notified, in addition to the actual notification, we keep "notification entries" which currently do not get deleted.

These should be cleared out in a periodic task.

[2022-10-19 03:33] larchen commented on #3807
Yes, I've tried with an already provisioned user as well as a new user -- in both cases I just get redirected to the login screen.

Is there an easy way to log the request headers seen by the inventree server? I want to make sure that the header is at least getting set correctly.

[2022-10-19 03:41] SchrodingersGat opened #3810 "[Bug] BOM table takes ages to load (again)"
BOM table can take ~10 seconds to load, even though the API request only takes around ~500ms

Something is going wrong with the front-end bootstrap-table rendering code

[2022-10-19 15:52] matmair commented on #3807
I will have to look into this. What version are you running? Are you sure the headers get passed to InvenTree?

You can do this by enabling the debug mode and opening a non-existent page - it will show the headers in the debug screen.

[2022-10-19 19:11] mk2driver opened #3812 "Natural Sort on Part Name"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

I've seen a few reports of natural sort issues and some of these have been resolved, but it also seems to be missing in the main Parts listing table.  Is this a bug or is there an option to set the sort behaviour somewhere that I'm missing?

### Steps to Reproduce

Go

[2022-10-19 22:25] SchrodingersGat commented on #3812
@mk2driver thanks for asking. This is *not* a bug, as natural sort has not been implemented for part numbers.

"Natural" sorting does not have a single solution, as what the user considers "natural" may vary from one setup to another.

Some database fields support custom sorting:

- Serial number
- Sales / Purchase / Build Order reference

Initially the sorting was very naïve - if the field "look"

[2022-10-19 22:44] mrkylegp opened #3813 "Error 404: Resource not found - /api/settings..."
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Fresh install via the single install script. I only changed the port to 83 in the nginx config for inventree because I have another apache site running on port 80 already.

I can access inventree fine via the local ip and port 83 (Eg. 192.168.1.111:83)

Most things wor

[2022-10-20 04:58] SchrodingersGat commented on #3813
@mrkylegp can you please share the exact commit hash for the version you are running? This seems like a [bug which was recently fixed](https://github.com/inventree/InvenTree/pull/3760)

[2022-10-20 05:04] mrkylegp commented on #3813
@SchrodingersGat
I only just installed it today with the auto install script. I've also checked that it's up to date with apt update.

How can I get the hash commit?

[2022-10-20 07:58] Zennate opened #3814 "[FR] Breadcrumb/Burger Menu navigation improvement"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

The breadcrumb/burger menu at the top of the main menu needs precision to be navigated correctly.
Example:
![grafik](https://user-images.githubusercontent.com/92428456/196888650-4d4fab48-9ef1-4f38-8628-678773afcdf6.png)
Clicking on the field of

[2022-10-20 08:13] MR-DOS opened #3815 "Cannot insert link in attachments"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

After upgrade from 0.7.6 to 0.8.3, I noticed I cannot insert links in Attachments.
Either there is a problem with SVG checks or the attachment object has wrong type (sorry, I'm not object-oriented programmer, just a user, so can't tell more).
Also tested in 0.9.0 dev v

[2022-10-20 08:36] MR-DOS opened #3816 "[FR] Remove need to refresh browser cache after update"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

It seems that if Inventree is updated (in my case from 0.7.6 to 0.8.3), previously active user sessions still work but certain unexpected things may break.
I noticed that in the Parts-Categories view, you cannot see the amount of parts in categories. Also, "About Inven

[2022-10-20 08:52] MR-DOS opened #3817 "Subcategories view is unstable if switching between flat and tree view until page is reloaded"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Switching between Display as list and Display as tree view does not work correctly and requires reloading the page to work properly.
Tested on Parts-Subcategories and Stock-sublocations.
Tested both on 0.8.3 official docker image and 0.9.0 dev version from Inventree de

[2022-10-20 09:05] MR-DOS commented on #3815
OK, so it seems to only affect the attachments. Adding links in Part Manufacturers and Part Suppliers is fine. Modifying websites in Manufacturers also works.

[2022-10-20 09:36] SchrodingersGat commented on #3815
@MR-DOS thanks for reporting, looks like a pretty clear bug :)

[2022-10-20 09:39] SchrodingersGat commented on #3813
![image](https://user-images.githubusercontent.com/10080325/196914018-b50cf8f6-3f68-44e4-9fcb-ace8f6da621e.png)

![image](https://user-images.githubusercontent.com/10080325/196913924-7a6a0371-1405-4dfa-9361-838b098a207d.png)

[2022-10-20 09:43] SchrodingersGat commented on #3816
@matmair do you know if there is any way of automatically invalidating the cookie when the version is updated? Perhaps we could tie the session cookies to the version number?

[2022-10-20 10:20] SchrodingersGat commented on #3814
@Zennate thanks for reporting. Would you like to contribute this enhancement yourself?

[2022-10-20 10:55] AntoWkill opened #3820 "[BUG] Not starting with Python 3.8"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

Im trying to updating my inventree, when i try to do invoke update there an errore and all update fail. Server is not starting of course.

### Steps to Reproduce

1) git pull origin master
2) Activate virtual env
3) git pull origin master

### Expected behavior

finish

[2022-10-20 11:01] SchrodingersGat commented on #3820
@matmair with regard to the type hinting in your recent PR - is this a python 3.9 feature? @AntoWkill is using 3.8 and throwing an error here

[2022-10-20 11:03] AntoWkill commented on #3820
@SchrodingersGat so you suggest to update my python?

[2022-10-20 11:24] matmair commented on #3817
hi there @MR-DOS thanks for the great report. I can confirm the problem, not really sure where it has its origin. @SchrodingersGat Could this be something to do with the frontend code?

[2022-10-20 11:34] matmair commented on #3816
We could just invalidate all sessions on update but that would force all users to log back in - might be a bit much.

[2022-10-20 11:37] matmair commented on #3814
@SchrodingersGat I would recommend moving this to 0.10.x and closing 0.9.x for new issues if not related to bugs.

[2022-10-20 11:43] #3815 closed

[2022-10-20 11:44] SchrodingersGat commented on #3812
@mk2driver marked as "roadmap" for now :)

[2022-10-20 11:45] SchrodingersGat commented on #3820
@AntoWkill update python to 3.9 and see if the problem goes away. If so, we'll have to update the docs for our minimum required python version :)

[2022-10-20 11:46] matmair commented on #3820
@SchrodingersGat type hinting was introduced in PEP 484, which should be in python 3.5. This kind of direct reference is only in available in 3.9, I will roll back to syntax 3.8 can run. Sorry about that, I thought our CI runs 3.8 but it uses 3.9.

@AntoWkill if you want to update right now you could update your python, the release of the fix might take a bit.

[2022-10-20 11:51] matmair commented on #3820
@SchrodingersGat so no backport to support 3.8? 3.9 starts shipping in Debian 11, Ubuntu 22.04 so we would drop some older OS versions likely.

[2022-10-20 11:56] matmair commented on #3812
@mk2driver sorting in even one DBMS can fill multiple chapters in a computer science book - it is a fascinating and hard-to-generalise problem. One example is [number ordering within strings](https://dba.stackexchange.com/questions/285222/how-to-treat-numbers-within-strings-as-numbers-when-sorting-a3-sorts-before).
As we support multiple engines we can not use all the specialised features some sys

[2022-10-20 12:06] matmair commented on #3813
@SchrodingersGat git metadata is optional and depends on git being installed.
@mrkylegp could you install git and restart inventree?
[code]

[2022-10-20 12:08] mrkylegp commented on #3813
@matmair Git is already installed. Restarting Inventree made no difference in behaviour.

[2022-10-20 12:27] #3809 closed

[2022-10-20 12:40] AntoWkill commented on #3820
there are easyier solution? Im trying to update python but is not working in virtual evn..

[2022-10-20 12:44] MR-DOS commented on #3816
@matmair I removed all data (cookies+whatever else) originating from my server's domain since I could not find any other way to do such an operation in Firefox. Then I switched back to Inventree (interestingly, I did not land on login page but some kind of internal Firefox dialog popped up, so I had to click several times on cancel), logged in and everything went back to normal.

[2022-10-20 13:15] AntoWkill commented on #3820
Please let me know when or how will work with 3.8

[2022-10-20 14:08] matmair commented on #3816
Ok I am pretty sure this is a problem with the assets.
@SchrodingersGat we could switch to using [ManifestStaticFiles](https://docs.djangoproject.com/en/4.1/ref/contrib/staticfiles/#django.contrib.staticfiles.storage.ManifestStaticFilesStorage) - that would make refreshes unneeded; Might add slight overhead storage wise in the static files section as normally old files are not deleted. The tradeof

[2022-10-20 14:12] matmair commented on #3820
@SchrodingersGat I just looked into the requirements and 3.9 is our documented minium version. Should we move it back down or ask @AntoWkill to update to a newer version?

[2022-10-20 14:18] matmair commented on #3813
@mrkylegp full git client or the slim variant?

[2022-10-20 16:28] Zennate commented on #3814
@SchrodingersGat thanks for the quick response. I'm sadly out of my depth with the current codebase, so I'll stick to providing feedback for now.

[2022-10-20 20:47] mrkylegp commented on #3813
@matmair The full client.

[2022-10-20 20:54] Rincewind34 opened #3823 "[FR] External Part Number (EPN)"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Most of the parts I order to build my products have an unique ID. That helps especially when there are multiple very similar parts that can be bought. As a practical example:
Neutrik produces two HDMI ports. One in a metal chase (NAHADMI-W) and

[2022-10-20 20:58] SchrodingersGat commented on #3820
If we already have specified 3.9 then let us keep that. @AntoWkill you'll need to setup a new virtual environment

[2022-10-20 22:03] rezafouladian opened #3824 "[FR] Session IP address behind Cloudflare Tunnel"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

When using Cloudflare Tunnels as a reverse proxy, all sessions are shown as 127.0.0.1.

This is running using the one line deployment script from Ubuntu 20.04.5.

### Suggested solution

As a patch on my end, I edited `/etc/nginx/sites-enabled/

[2022-10-21 00:03] SchrodingersGat commented on #3823
I believe all the functionality you need is right there. If you want to track a unique part "number" for a part, that's exactly what `IPN` (internal part number) is for.

If you want to track different parts from suppliers, that is what the Supplier Part model is for :)

[2022-10-21 01:27] SchrodingersGat commented on #3813
@mrkylegp can you try doing a hard-refresh in your browser? It is possible that some of the javascript files are not being updated properly after upgrade, due to browser cache. LMK if that fixes it.

[2022-10-21 01:32] mrkylegp commented on #3813
@SchrodingersGat Thanks for the suggestion but I already tried this in addition to testing on a completely separate PC that has never loaded Inventree before as well as installing a few different browsers on my own PC and still the same issue.

[2022-10-21 02:11] mrkylegp opened #3825 "One Liner script fails to install on Ubuntu server 22.04"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

When attempting to use the one liner script to install on Ubuntu 22.04, the script halts with the following:

W: https://dl.packager.io/srv/deb/matmair/InvenTree/deploy-test/ubuntu/dists/22.04/Release.gpg: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.g

[2022-10-21 05:15] #2042 closed

[2022-10-21 06:05] #3810 closed

[2022-10-21 08:31] mrkylegp opened #3827 "[BUG] Confirmation Email uses local ip for link URL"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

When sending a verification email, it shows the local IP not the set base URL

Eg. mywebsite.com

Hello from InvenTree!

You're receiving this e-mail because user kyle has given your e-mail address to register an account on https://mywebsite.com

To confirm this is cor

[2022-10-21 10:18] Rincewind34 commented on #3823
Ah ok great! I was a bit confused about "internal". Because in theory our assembled parts have of course a (four digit) number, that later becomes either the entire bar code or part of the bar code, if we are tracking individual stock items. In my head this was kind of how I wanted to use the IPN.
Is there a way to do it you would recommend?

[2022-10-21 10:19] SchrodingersGat commented on #3823
You can make use of this IPN field however you like :) Also check out the [validation plugin](https://inventree.readthedocs.io/en/latest/extend/plugins/validation/#part-ipn) which allows you to customize the IPN implementation even further :)

[2022-10-21 10:19] #3823 closed

[2022-10-21 10:26] Rincewind34 commented on #3823
Thank you very much!

[2022-10-21 10:56] AntoWkill commented on #3820
Im trying do to a fresh installation. All works fine the process but i can't see my installation on the port 80 or 6000 as default. Also chaning i alwaise see "bad gateway" by the "quick script installation"
Any suggestion?

[2022-10-21 20:24] matmair commented on #3824
As this is Cloudflare specific I think this will not get merged; Maybe this would be a good addition to the docs @rezafouladian?
@SchrodingersGat do you disagree/agree?

[2022-10-21 20:31] matmair commented on #3814
TBH any work done on this would probably be lost in the transition to a framework as it would probably be tailored to the current jquery way of doing things.
If somebody really wants that change they can send a patch - I have no objection to changing this.  Changing the tree menu while keeping it somewhat performant (the current solution is by no means fully optimised) could represent a significan

[2022-10-21 20:52] matmair commented on #3820
This seems to be an error, the whole CI and the [shipped docs](https://github.com/inventree/InvenTree/blob/master/CONTRIBUTING.md#target-version) point to 3.9; I will create a PR to fix this

[2022-10-21 21:25] matmair commented on #3820
@AntoWkill Have you removed the old version of InvenTree, the old user and the old home directory? They might interfere with the installer.

Not sure what you mean here. Do you see the webserver process running? The web process needs to run and the set port must be free ( you can check that with ´inventree config`).

Again not entirely sure what you mean. If you change the port inventree runs at y

[2022-10-21 22:51] matmair commented on #3827
Can confirm.

[2022-10-21 22:52] matmair commented on #3827
Thanks for the excellent report @mrkylegp ! Should be an easy fix, starting work now.

[2022-10-21 23:00] mrkylegp commented on #3813
I have switched to a docker setup for now but would be happy to test further regarding this bare metal install issue. Let me know if you have any further suggestions as I've exhausted everything I can think of.

[2022-10-22 00:24] SchrodingersGat commented on #3813
@mrkylegp only other thing I can think of at this point is for you to extract the git commit hash manually.

Navigate to where InvenTree is installed on your machine, and run ```git rev-parse --short HEAD```

[2022-10-22 00:25] #3820 closed

[2022-10-22 00:27] SchrodingersGat commented on #3824
@matmair I agree, this is more of a problem for the sysadmin, not a native InvenTree "feature". However would be useful to add  a note to the docs

[2022-10-22 00:46] matmair commented on #3825
@mrkylegp we currently do not support 22.04 due to changes that break multiple system integrations
![grafik](https://user-images.githubusercontent.com/66015116/197308821-0159e3bf-3004-4ea2-bc79-29b88b5f36dd.png)

![grafik](https://user-images.githubusercontent.com/66015116/197308799-96ba34db-8bfa-4e9d-b9ed-27f8457f52ca.png)

[2022-10-22 00:50] matmair commented on #3807
I can't reproduce on master with Nginx or caddy with forward auth.

@larchen What version are you running? How do you set the header and are you sure it is passed through?

[2022-10-22 00:59] matmair commented on #3816
@SchrodingersGat I started working on ManifestStaticFiles as a storage backend, the whole refreshing problem will completely be gone with it implemented.
Go ahead with that solution? Not really a bug but a section in the docs that is often missed and would be cool to be removed.

[2022-10-22 02:06] mrkylegp commented on #3813
I'm gonna spin up an Ubuntu 20.04 server in a fresh VM, run the install script and see if I have any issues there then report bacl.

[2022-10-22 02:23] larchen commented on #3807
I'm running the stable version of the docker image: `inventree/inventree:stable`. The header is set by traefik-forward-auth and it definitely gets set correctly for the other container services I'm running, but I'm not 100% sure the header is getting forwarded correctly by nginx to the inventree-server.

Sorry I've been a bit busy with some other work the past couple of days -- will update when I

[2022-10-22 03:16] #3512 closed

[2022-10-22 05:49] SchrodingersGat commented on #3384
Hey @martonmiklos where are you up to with this? I'd like to get this into the next stable release, LMK if you need some assistance with it!

[2022-10-22 05:51] SchrodingersGat commented on #3816
@matmair I'd like to know if the manifest static files approach works well with our pre-compiled translated javascript files?

Otherwise, it looks like a good idea, we have to troubleshoot so many problems which just come down to outdated javascript!

I'd like to integrate some sort of "cleanup" method too, if we can, so that the static dir does not become clogged with old files.

[2022-10-22 07:56] #3654 closed

[2022-10-22 08:55] #1461 closed

[2022-10-22 08:55] SchrodingersGat commented on #3039
Closed in https://github.com/inventree/InvenTree/issues/3062

[2022-10-22 08:55] #3039 closed

[2022-10-22 08:56] SchrodingersGat commented on #3582
@gooutbefree closing this issue pending a response from you

[2022-10-22 08:56] #3582 closed

[2022-10-22 08:57] #1246 closed

[2022-10-22 13:05] matmair commented on #3816
@SchrodingersGat
1) yes, as we first precompile, Place them into static and then collect static. At this point the would/will be indexed
2) the easiest way would be to clean static and then just copy everything over again. Not sure how sufficient that is speed wise - probably slower then what we do right now

[2022-10-22 20:26] Jnesselr commented on #3825
Is there a list of those breakages? Just found this issue out today. It's not the biggest deal, I can just re-image the VM. My VM server went down in an unrecoverable way so I'm having to rebuild it all anyway.

[2022-10-22 20:47] matmair commented on #3825
hi there @Jnesselr !
Currently not in GitHub. I have some logs from my tests but after seeing it broke in multiple places I stopped pursuing it.
My current focus is on getting the deployment and updating story for most users streamlined as that creates many if not most user reports.
Getting 22.04 is on my personal roadmap but not in the near future. Ping me if you are interested in tackling it; mo

[2022-10-22 21:55] matmair commented on #3807
@larchen no rush; please report back once you have checked if the headers get passed (nginx can also log headers).

[2022-10-22 22:27] matmair commented on #3825
@mrkylegp are you ok with us closing this for now? It is a known limitation, not a bug in my view.

[2022-10-22 22:29] matmair opened #3835 "[FR] Add warning for unsupported OSes"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Ubuntu 22.04 is not supported right now, this leads to confusion if the docs are not read (the one-liner is shared in multiple places).
See https://github.com/inventree/InvenTree/issues/3825

### Suggested solution

Add a check and warning for

[2022-10-22 22:30] Jnesselr commented on #3825
I'd highly recommend keeping it open. If the intention is that it should work on 22+ but currently you're being prevented from doing so by limitations in the OS, it's still an issue. Not all issues have to be bugs.

It also helps people find it more easily if it's open that if it's closed.

[2022-10-22 22:31] mrkylegp commented on #3825
@matmair Yeah, sure!

[2022-10-22 22:34] mrkylegp commented on #3825
I will leave the closure upto the Devs. I just reported what didn't work however I do agree that leaving it open may help others to identify the fact that it doesn't work on 22.04 at the moment and help the Devs remember it needs attention still.

[2022-10-22 22:57] matmair opened #3836 "[FR] Add package support for CentOS, SLE, Ubuntu 22.04"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

We currently do not package for [all possible](https://github.com/crohr/pkgr/wiki/Supported-distributions) operating systems. Missing are:
- [ ] Ubuntu 22.04
- [ ] CentOS
- [ ] Suse Linux Enterprise Server

### Suggested solution

Add support.

[2022-10-22 23:08] matmair commented on #3836
Some more infos for anybody willing to tackle this:
- we use pkgr / packager.io for packaging
- the current state can be found on the [dashboard](https://packager.io/gh/inventree/InvenTree)
- the per-os settings are in this file: https://github.com/inventree/InvenTree/blob/master/.pkgr.yml
- packaging scripts are in this dir: https://github.com/inventree/InvenTree/tree/master/contrib/packager.io
-

[2022-10-22 23:18] matmair commented on #3825
I will close out this bug report as it is the intended behaviour / a documented limit of the project.
There are 2 new FRs covering the same topic in more actionable steps:
- https://github.com/inventree/InvenTree/issues/3835 to add a warning that links to the second FR (I am already working on this)
- https://github.com/inventree/InvenTree/issues/3836 covers the steps to add more packaging targets

[2022-10-22 23:18] #3825 closed

[2022-10-22 23:22] matmair commented on #3816
![grafik](https://user-images.githubusercontent.com/66015116/197365869-6be60977-a315-431d-a695-ad937cf418a0.png)
https://inventree.readthedocs.io/en/latest/faq/#feature-x-is-not-visible-after-update
This is known behaviour so fixing this in the release after the next one should be fine

[2022-10-23 02:55] SchrodingersGat commented on #3816
@matmair sounds like a good idea overall, then.

[2022-10-23 18:58] matmair opened #3838 "Log as structlog"

[2022-10-23 18:59] #3838 closed

[2022-10-24 00:27] ndbroadbent opened #3842 "[FR] Is there a default library of electronic categories and parts that I could import?"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

I've just started trying out InvenTree to organize my home workshop and keep track of all my electronic components. I saw that InvenTree is installed as a blank slate and doesn't come with any options for predefined categories or parts. (As far

[2022-10-24 00:32] ndbroadbent commented on #3261
Thanks for all your work on this @matmair, the supplier integration PR looks very exciting.

I was just wondering if this new feature will also be able to import part categories from suppliers? I opened a new issue since I wanted to see if there is a list of predefined categories and electronic components that I could start with, instead of starting with an empty database: https://github.com/inven

[2022-10-24 00:34] ndbroadbent commented on #541
If anyone else finds this comment - https://github.com/inventree/InvenTree/issues/541#issuecomment-677961649

Here's the new link for the third-party InvenTree integrations page in the docs: https://inventree.readthedocs.io/en/latest/extend/plugins/

[2022-10-24 01:39] ndbroadbent commented on #3842
I found the [Ki-nTree integration](https://github.com/sparkmicro/Ki-nTree/). This provides [a really handy script that can set up lots of default categories](https://github.com/sparkmicro/Ki-nTree/#before-starting): `python3 -m kintree.setup_inventree`. That's awesome!

<img width="783" alt="Screen Shot 2022-10-24 at 2 34 43 PM" src="https://user-images.githubusercontent.com/139536/197430707-d7a58

[2022-10-24 01:43] SchrodingersGat commented on #3842
@ndbroadbent greetings from across the Tasman!

No, nothing like this "out of the box". InvenTree is used for a diverse range of applications, and also particular requirements for categories etc would vary too much between different users. There are already so many questions about naming conventions, etc, that it is left completely up to the user.

Thanks to @eeintech for that one :)

Much appreci

[2022-10-24 06:23] larchen commented on #3807
Was finally able to get the proxy auth working -- turns out the issue was that django modifies http header names, so the `X-Forwarded-User` header that the traefik middleware added was changed to `HTTP_X_FORWARDED_USER`. Everything was good once I changed my env variable to `INVENTREE_REMOTE_LOGIN_HEADER=HTTP_X_FORWARDED_USER`.

May be worth adding a note somewhere in the documentation for those n

[2022-10-24 06:56] martonmiklos commented on #3384
Hey @SchrodingersGat I am working on it really.
I managed bypass the weird issue, at least when running the test in 4 different config (delete parts+delete subcategories, delete parts+move subcategories up, move parts up+delete subcategories, move parts+move subcategories up) it does not appear.
I am sorry for being very late with it, but I had many other things to do.

[2022-10-24 09:04] larchen opened #3843 "[FR] Slack notification"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

I'd like to have slack as an alternative notification delivery method to email, with the ability to specify which notifications trigger a message, and which channels they should send the message to. Ideally this could all be configured through

[2022-10-24 09:36] SchrodingersGat commented on #3384
@martonmiklos no worries at all, this is a volunteer effort and we all have busy lives!

LMK if you need any help, or review :)

[2022-10-24 10:36] matmair commented on #3843
@larchen that would be a pretty simple addition and I think we might be open to ship it as built-in.
You can basically copy the code from CoreNotificationsPlugin, as you will see there you only need to implement the sending itself.
The settings/notification framework enable you to use both general and user settings. That way you could for example send notifications to a general channel and to user

[2022-10-24 11:17] matmair commented on #3261
hi there @ndbroadbent !
This is currently on hold as I am tackling a better installing and updating experience to lower the support load on the core team.
Ki-nTree is the way to go right now, it should enable most of what you are asking for.
What will be supported in the end is hard to say right now; I will try to deploy a PoC first and then build upon that based on user feedback.

[2022-10-24 12:06] papgrap opened #3844 "Can't add links as attachments [BUG]"
## Bug description
When trying to add a link as an attachment in inventree I get the following error:

[code]

It doesn't matter if I add the link (attachment) to a part, purchase order or build order.
Actual files as attachments do work.

## Steps to reproduce
1. Open a purchase order.
2. In the menu on the left side click on attachments.
3. Click the button "Add Link".
4. A red error message sho

[2022-10-24 12:47] SchrodingersGat commented on #3844
@papgrap thanks for reporting, this has already been fixed in https://github.com/inventree/InvenTree/pull/3818

[2022-10-24 12:47] #3844 closed

[2022-10-24 12:58] #3842 closed

[2022-10-24 13:59] eeintech commented on #1531
@SchrodingersGat I seem to can't get around a migration issue:

[code]

I don't understand why is it asking me a hostname, I tried with the hostname but no success.

cc @matmair

[2022-10-24 14:09] eeintech commented on #1531
This seems to be related to using PostGreSQL as backend :confused:

If I create a new database and run `inv migrate` it gives the same error...

[2022-10-24 14:27] eeintech commented on #1531
Ok so running Django migration works fine so it is indeed the `dbbackup` library which is adding unnecessary requirement.

I commented those two lines in `dbbackup/postgresql.py`:
[code]

and it works fine now... not sure why this became a requirement?

[2022-10-24 14:42] eeintech commented on #1531
Ok so next issue is:

[code]

I cannot seem to find a way to import data from our company instance to my local database...

[2022-10-24 20:31] martonmiklos commented on #3384
Could you please help with the following:
How can I ran the CI checks locally? I found a flake8 config in the setup.cfg.
So I ran `flake8 --config setup.cfg --verbose .`
But the CI python style checks are still failing.
What could I missed here?

[2022-10-24 22:32] #3807 closed

[2022-10-25 00:13] SchrodingersGat commented on #3384
In the root directory run `invoke setup-dev` which will configure your local setup correctly. It will then run a bunch of checks on each commit.

[2022-10-25 02:03] SchrodingersGat commented on #1531
@matmair any thoughts on this one?

[2022-10-25 02:03] SchrodingersGat commented on #1531
[code]

Add the `-c` option to ensure that you start with a clean database.

[code]

[2022-10-25 10:12] SchrodingersGat commented on #3430
This has (mostly) been implemented now, with the new "validation" mixin type!

[2022-10-25 10:12] #3430 closed

[2022-10-25 10:14] SchrodingersGat commented on #2848
@simonkuehling check out the work in https://github.com/inventree/InvenTree/pull/3776 - this new plugin architecture allows for custom generation and validation of fields such as serial number, IPN, etc. I'll consider this issue "closed" but if there are any additional features you are looking for, please open a new issue.

[2022-10-25 10:14] #2848 closed

[2022-10-25 12:52] simonkuehling commented on #2848
Nice work, that should cover my needs with a very basic plugin!
(sorry for not following up on this earlier, other projects consumed my attention for a while...)

[2022-10-25 15:49] martonmiklos opened #3852 "[FR]Remove special character restrictions in parameter template names"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

I tried to add a parameter template with a name 'Current - Collector (Ic)' and it failed with: 'Illegal character in template name (()'
Are there any objections on removing this limitation like it was done in #3370?

### Suggested solution

Rem

[2022-10-25 17:48] eeintech commented on #1531
@SchrodingersGat

## 0.8.x branch
[code]

## Switch to master

[code]

## Master branch

[code]

Any idea what's happening?

[2022-10-25 20:04] SchrodingersGat commented on #1531
Don't forget to run `invoke update`

[2022-10-25 21:43] SchrodingersGat commented on #3852
@martonmiklos sure, happy for you to submit a PR on this!

[2022-10-26 02:08] #3827 closed

[2022-10-26 02:14] SchrodingersGat commented on #1638
Replaced by https://github.com/inventree/InvenTree/issues/3101

[2022-10-26 02:14] #1638 closed

[2022-10-26 10:01] miggland opened #3857 "[BUG] Newest master branch - fails because of missing backup directory setting"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

On current master branch:

[code]

### Steps to Reproduce

1. See above.

### Expected behavior

Start, as normal.

If something needs to be changed in the docker-files, this needs to be communicated in release-notes/documentation/whatever before this is released.

Thi

[2022-10-26 10:02] miggland commented on #3857
Also, after adding those two lines above, I have the following new directories in my Inventree directory:
[code]

[2022-10-26 10:10] SchrodingersGat commented on #3857
@miggland the dockerfile already contains this file:

https://github.com/inventree/InvenTree/blob/b13e0c313821b91044b72db192fc1d5ef8358ac1/Dockerfile#L34

So, perhaps what is happening here is that  you need to rebuild the docker image?

```docker compose build```

[2022-10-26 11:44] eeintech commented on #1531
Ouch right, migrations...

Ok so now I'm on master but none of the original requests are met:

I don't see how this is currently possible.

A batch of part can be allocated but not ordered.

Still the same as before.

Am I missing something? Isn't master where I should be looking into?

[2022-10-26 12:18] miggland commented on #3857
OK.. I was confused again, sorry. This image works a bit differently to other Docker projects I'm used to (lot's of invoke versions etc..)

[2022-10-26 12:18] #3857 closed

[2022-10-26 16:40] larchen commented on #3843
Sounds good I'll take a stab at this over the weekend.

One additional question is whether or not there is currently a builtin mechanism for routing notifications to different sources? Let's say I want to send all low stock notifications to one slack channel, purchase order notifications to a different channel, but server error notifications to email. I guess this could be done by having a filter

[2022-10-26 18:01] matmair commented on #3843
@larchen filtering based on category is currently not done but would be certainly possible; for the first try I would recommend getting the plugin and slack running, adding filtering ontop should be rather easy.

I think more setting for notifications (distribution channel per category/team/user, delayed delivery on some channels, aggregation) would be certainly welcome in core. From an architectu

[2022-10-26 18:48] hatmcgat opened #3860 "Production Docker deployment issue"
Production deployment error

Any help is appreciated. I have read through the docs multiple times, and have decent familiraity with Docker/Docker-Compose and Portainer.

I'm attempting to follow the instructions here:

[https://inventree.readthedocs.io/en/latest/start/docker\_prod/](https://inventree.readthedocs.io/en/latest/start/docker_prod/)

When I attempt any of the commands referenceed:

doc

[2022-10-26 19:05] t0roide opened #3861 "[BUG] Inventree ver 0.7.4 missing static images after fresh install"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

After a bare metal install of the 0.7.4 version the website doesn't display the static images.
Following some of the advice on similar issues for docker installation, I checked the errors on the developer console but I'm still not sure how I can solve this, been doing

[2022-10-26 19:39] wolflu05 commented on #3861
Hello @t0roide,

can you please also share the contents of the network tab in the dev console window you already found. Especially take a look at the responses of an css/js file. I guess this might be some custom html page which renders some message instead of returning the actual css/js file.

[2022-10-26 19:42] wolflu05 commented on #3860
Hello @hatmcgat ,

How have you specified the `INVENTREE_EXT_VOLUME` variable in your `.env` file?

[2022-10-26 19:48] t0roide commented on #3861
Hi @wolflu05 , this a bit of what I can see from the network tab

<img width="782" alt="image" src="https://user-images.githubusercontent.com/102771420/198121943-802548fc-65f7-42f4-ac47-e0804c23aed7.png">

<img width="601" alt="image" src="https://user-images.githubusercontent.com/102771420/198122184-41a54f62-cf0b-4188-b484-a016c2ffc169.png">

<img width="599" alt="image" src="https://user-images.

[2022-10-26 19:52] hatmcgat commented on #3860
I have tried multiple configs.

I uncommented the Linux entry and set it to all of the following on various attempts:

/root/inventree-data
/root/InvenTree/data.
/var/lib/docker/volumes/inventree-production_inventree_data/_data

among others. I also made sure that these file paths existed. I would go to the directory I wanted the data to be stored and would PWD and copy and paste into the .env

Th

[2022-10-26 20:02] wolflu05 commented on #3861
Have you already make sure, that this is no caching issue. (Used a different browser, incognito tab, ...)?

[2022-10-26 20:08] t0roide commented on #3861
Yeah, I have. I mainly use Opera and tried a regular tab and one in incognito mode but the problem still there and the messages in the developer console are the same too. Tried with Microsoft Edge also and the issue remains.

[2022-10-26 21:20] martonmiklos opened #3862 "[FR]Dropdown type part parameter templates"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

It would be nice if a part parameter could be specified with a combobox.
The items of the combobox would be set in the template itself.

### Suggested solution

Add a property to the part parameter templates: is_selectable
The template editor f

[2022-10-26 21:43] SchrodingersGat commented on #3861
@t0roide it looks like all the static files are redirecting to the index page. How are you hosting the static files? If you are running in production mode, the static files need to be served separately (e.g. using something like nginx).

Have you setup a serving solution for the static (and media) files?

[2022-10-26 21:47] SchrodingersGat commented on #3860
@hatmcgat I can't find any reference to "intentree" in the source code, or the documentation. Not sure where that is coming from at all.

Can you share your docker-compose and docker-env files?

[2022-10-26 22:37] hatmcgat commented on #3860
Good evening. I will share when I get back to that machine. For immediate reference, I used the template files and only changed the port mapping from 8000 to 8002.

I have attempted various file paths and ran the docker-compose commands out of the current working directory each time. In my previous comment I mentioned the changes I made to the .end file to map the external volume

[2022-10-26 22:47] t0roide commented on #3861
Hi @SchrodingersGat , I haven't setup nginx to serve the static files, on previous installations I didn't either and everything worked just fine, never had issues with the static files other than the issue I mention regarding permissions, but that was solved easily.

I understand how that might be the underlying problem here, so currently I'm looking at the nginx config file for docker changing th

[2022-10-26 22:50] hatmcgat commented on #3860
For the record, I'm running Ubuntu Server 18.04 for the OS. If I recall correctly from the docs, bare metal needs 20.xx

[2022-10-27 07:34] miggland opened #3864 "[BUG] URLs are mangled in links"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

When entering a link to a supplier part, such as:
`https://www.axel-larsson.se/Exego.aspx?p_id=341&ArtNr=0804020E`
the link is changed to
`https://www.axel-larsson.se/Exego.aspx?p_id=341&amp;ArtNr=0804020E`

This makes the URL incorrect.

### Steps to Reproduce

1. Go

[2022-10-27 12:56] semaf opened #3865 "Hide IP in Demo"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

Visitor IPs are shown.
![image](https://user-images.githubusercontent.com/8831145/198290289-1f7feb20-8412-41ab-b20c-56117032913e.png)

### Suggested solution

Hide them

### Describe alternatives you've considered

Do not visit the demo

### Ex

[2022-10-27 14:49] wolflu05 commented on #3861
Seems like its not working correctly, I guess some js scripts are not loaded, which define the `inventreeGet` function.

[2022-10-27 14:53] t0roide commented on #3861
Any ideas on how can I solve this? Is this a nginx related issue or something else? Thanks @wolflu05 for the quick response!

[2022-10-27 15:36] SGennaro01 opened #4271 "Duplicates on export"

[2022-10-27 16:52] hatmcgat commented on #3860
These are the files I was using. Per the instructions on the docs page and example compose file I didn't change anything on my first several attempts and only passed changes in the .env.

On the first try, I created an InvenTree directory:

/root/InvenTree: ls
data (directory) .env (file) nginx.prod.conf.txt (file) docker-compose.yml

This was the working directory I tried my initial docker-compos

[2022-10-27 18:33] JustusRijke opened #3867 "[BUG] Server error: TemplateSyntaxError - unexpected char '&' at 29"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

A server error is generated when clicking on any of the menu items (parts, stock, build, etc).
Parts and stock are no longer visible.

Contents of the error:

**Type:** TemplateSyntaxError
**Path:** /api/part/
**Info:** unexpected char '&' at 29
**When:** Oct. 27, 2022

[2022-10-27 18:37] JustusRijke commented on #3867
Added data.json (removed user info)

[data.zip](https://github.com/inventree/InvenTree/files/9882274/data.zip)

[2022-10-27 19:58] matmair opened #3868 "[FR] Add sigstore verification for plugins"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

We are currently only providing GPG signature checking for plugins; that is not really great for packages distributed via pypi as those di not contain the commits normally.

### Suggested solution

There is a new standard emerging for signing a

[2022-10-27 21:17] matmair commented on #3862
Hint #2789 ;-) but totally agree

[2022-10-27 21:32] matmair commented on #3865
hi there @semaf ! I am actually a happy customer of yours for a few years now so hyped to see you here.

We discussed this feature regarding GDPR a while ago and here is my assessment from then (shortened):
- only shown for at most the last 24 hours
- not connected to PII (username, exact location, personal data)
- shown as a demonstration of the core functionality of tracking sessions and IPs - w

[2022-10-27 21:38] SchrodingersGat commented on #3867
@JustusRijke thanks for reporting. Looks like a data sanitization issue with regard to the `PART_NAME_FORMAT` setting:

![image](https://user-images.githubusercontent.com/10080325/198403120-f750439c-1899-4c93-b310-e7ca75554daa.png)

If you edit the setting via the web interface, the quotation chars are replaced, which causes the template rendering to fail:

![image](https://user-images.githubuserc

[2022-10-27 21:39] matmair commented on #3864
@miggland thanks for the report. Seems to be related to sanitisation; I will have a look.

[2022-10-27 21:41] matmair commented on #3867
@SchrodingersGat was also looking at this. Will supply a fix shortly.

[2022-10-27 21:42] wolflu05 commented on #3865
I would more agree to @semaf . I also really don't preferre the demo instance due to that after I first saw the **everyone** on the internet has access to it. It doesn't matter to me, if one could only see it for a short period and anonymous, because you can think that @semaf ip must be the ip in the range where the screenshot above is made. And if there aren't a lot of people, it's very easy to r

[2022-10-27 21:45] SchrodingersGat commented on #3867
Looks like the front-end forms are passed through the `sanitizeData` function which may be unnecessary now!

[2022-10-27 21:47] SchrodingersGat commented on #3865
Hiding or obscuring the IPs seems like a reasonable request here

[2022-10-27 22:06] SchrodingersGat commented on #3861
@t0roide that looks great, well done figuring that out.

Regarding the console error (**specific to the login page**):

On older stable versions (i.e. 0.7.x) there is a bug where some javascript files are attempted to be loaded on the index page, but because you are not logged in you don't have the right permissions. This does not negatively impact functionality, and should only be an issue on the

[2022-10-27 22:18] matmair commented on #3861
@t0roide do I see correctly that you are serving static and media files both from `/home/inventree/data`? That might lead to collisions. We generally check for that but I would still recommend checking up on that.
The permissions could also be a problem with the ngingx-process-user (most likely www-data) not having sufficient rights to accesss `/home/inventree/data` - have you checked on that?

[2022-10-27 22:26] matmair commented on #3865
@SchrodingersGat I would at least show the first two numbers to show (and be able to check) that our session code still works. In general, it is established practice in the EU that it is fine to show the IP as long as there is a valid technical reason.
Moreover creating a connection between the IP and the (home-user; businesses might have static IPs) users is only possible if PII is entered into t

[2022-10-27 23:56] t0roide commented on #3861
@SchrodingersGat That sounds like great news but even after logging the similar alerts keep popping up when navigating the website, so right after logging for example I get the following

<img width="632" alt="image" src="https://user-images.githubusercontent.com/102771420/198416823-66b866b5-97b5-4aa3-afb7-4af5f1f4f29d.png">

@matmair so it would be better to to something like `/home/inventree/med

[2022-10-28 00:11] matmair commented on #3867
@SchrodingersGat frontend is more your thing nromally. Dou you want to tackle this?

[2022-10-28 00:16] SchrodingersGat commented on #3867
Sure, I can take a look at it.

[2022-10-28 00:20] matmair commented on #3864
@miggland have you verified this still is happening on the demo? I can not reproduce via API or with the steps.

[2022-10-28 00:21] matmair commented on #3864
![grafik](https://user-images.githubusercontent.com/66015116/198421115-9536d5c6-b8c1-4ce1-9816-ba16f7dc9d75.png)

[2022-10-28 00:23] matmair commented on #3867
Now I can't reporduce #3864 I am starting to wonder if these are both just (old static) JS.

[2022-10-28 00:25] SchrodingersGat commented on #3867
I have been able to replicate this one. I'll check out #3864 also

[2022-10-28 01:25] SchrodingersGat commented on #3864
@miggland I am also having trouble replicating this one. Can you share some additional screenshots of the problem?

[2022-10-28 04:56] #3867 closed

[2022-10-28 06:44] JustusRijke commented on #3867
Thanks for looking into this so quickly!

Now that the core problem is clear, how can someone resolve it?

I tried changing **Part Name Display Format** in the Settings screen to `{{part.name}}`, but after I click on the Parts menu, this settings reverts back to `{{ part.IPN if part.IPN }}{{ &#039; \|  &#039; if part.IPN }}{{ part.name }}{{ &#039; \| &#039; if  part.revision }}{{ part.revision if

[2022-10-28 06:50] JustusRijke commented on #3867
Found instructions on restoring a backup here: https://inventree.readthedocs.io/en/latest/start/migrate/#import-data

Changing the value of PART_NAME_FORMAT in the `data.json` file and importing it by executing

    docker-compose run inventree-server invoke import-records -c -f /home/inventree/data/data.json

did the trick.

[2022-10-28 07:02] JustusRijke commented on #3867
Thought the quick fix worked, but unfortunately not.

The parts are visible in the Parts browser, but when clicking on a part (i.e., browsing to `
http://192.168.178.17:1337/part/3/`), the result is an Internal Server Error.

The error remains the same: `unexpected char '&' at 29`

[2022-10-28 07:03] miggland commented on #3864
No I can't reproduce it in the demo. I'm on the latest stable version myself, so I didn't go to the demo.

If you have changed something with the sanitation since 0.8.4, that could have solved the problem.

After pasting the given link under "Link" as in the screenshot from @matmair above, in my instance the result looks like this:
![image](https://user-images.githubusercontent.com/1314853/1985242

[2022-10-28 07:24] SchrodingersGat commented on #3864
@miggland ok I tried exactly what you have done, but on latest master, and cannot reproduce. I'm going to close this out, as completed. Next stable is imminent

[2022-10-28 07:24] #3864 closed

[2022-10-28 07:26] SchrodingersGat commented on #3867
@JustusRijke to fix this:

**Navigate to admin interface**

e.g. http://localhost:8000/admin/common/inventreesetting/

(replace localhost with your actual URL)

**Find `PART_NAME_FORMAT`**

![image](https://user-images.githubusercontent.com/10080325/198528776-55ad8918-6a2e-42e2-b83e-e211c0d4280c.png)

**Delete this setting**

Delete this setting to revert it to the default value.

[2022-10-28 07:30] JustusRijke commented on #3867
Worked, thanks!

From: Oliver ***@***.***>
Sent: Friday, 28 October 2022 09:27
To: inventree/InvenTree ***@***.***>
Cc: Justus Rijke ***@***.***>; Mention ***@***.***>
Subject: Re: [inventree/InvenTree] [BUG] Server error: TemplateSyntaxError - unexpected char '&' at 29 (Issue #3867)

@JustusRijke<https://github.com/JustusRijke> to fix this:

Navigate to admin interface

e.g. http://localhost:8000

[2022-10-28 09:23] JustusRijke opened #3872 "Python API: setInternalPrice breaks on floats"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

`some_part.setInternalPrice(1, 1.0)` works fine (passing an integer value), but `some_part.setInternalPrice(1, 1.1)` (passing an actual float) returns:

    requests.exceptions.HTTPError: {'detail': 'Error occurred during API request', 'url': 'http://192.168.178.17:133

[2022-10-28 14:08] t0roide commented on #3861
I was just testing the website in general to see how the alerts changed and the page after loggin seems to be the one that has more alerts (first image in the previous comment), when navigating through parts, suppliers, build orders and such the alerts remain the same and are only 3, the following image shows this

<img width="396" alt="image" src="https://user-images.githubusercontent.com/1027714

[2022-10-28 14:12] JustusRijke opened #3873 "InvenTree droplet not available in DigitalOcean marketplace"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

The InvenTree droplet is not available on the DigitialOcean marketplace.

The referral link in the repo is broken: https://marketplace.digitalocean.com/apps/inventree?refcode=d6172576d014

The direct link works: https://marketplace.digitalocean.com/apps/inventree

But

[2022-10-28 15:08] semaf commented on #3865
Hey Mat,
Nice to see you a customer of us here :) I never could imagine that I meet somebody we had a touch before.

My point is just to hide the visitor IPs to the public. Anybody will be able to collect IPs, especially company IP who are looking for solutions and try to attack them. You could build a function to show/hide the IP where only admins can toggle it, even block this function for demo

[2022-10-28 15:16] matmair commented on #3873
@JustusRijke the droplet is currently not available due to updates in its structure (switching to the new installer mainly + some security and maintainability tests and upgrades). It will be back when those are done. Under 50 deployments a month and 100 concurrent installs are deployed using this method so it takes a backseat compared to upgrades to the installer and the 0.9.0 install.

It is curi

[2022-10-28 15:17] #3873 closed

[2022-10-28 18:03] JustusRijke commented on #3873
I posted the wrong link, the documentation page is still available (including a deploy link): https://docs.digitalocean.com/products/marketplace/catalog/inventree/

[2022-10-28 19:31] rkalman commented on #3690
I had similar situation, finally I found the allocated items are better suitable for a "pick list".
I use this, hope it helps:
[code]

[2022-10-28 20:21] JustusRijke opened #3875 "Upload image results in 403 Forbidden"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

When uploading an image using the Python API, e.g.:

    part.uploadImage("BC3150__web_preview_1.png")

The image is uploaded and the image URL is updated.

Contents of the `/media/part_images` folder:

![image](https://user-images.githubusercontent.com/53965859/198724

[2022-10-28 20:27] JustusRijke commented on #3875
Tested a bit further: this also happens when manually uploading an image using the web frontend.

[2022-10-28 22:56] SchrodingersGat commented on #3875
403 would indicate a permissions issue.

To be clear, if you navigate your browser to the part page, does the image display? Or do you get a broken image link? Can you share a screenshot?

[2022-10-28 23:19] SchrodingersGat commented on #3872
Hey @JustusRijke I can replicate this one, looking into it now.

[2022-10-29 03:18] #3872 closed

[2022-10-29 03:18] SchrodingersGat commented on #3872
@JustusRijke should be fixed in latest master commit now

[2022-10-29 07:20] SergeoLacruz opened #3878 "Printer plugins do now work"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

I installed the Zebra printer plugin from
https://github.com/SergeoLacruz/inventree-zebra-plugin
and the brother plugin. Both install fine but do not work. when I try to print a label I get an error message in the worker log telling
Could not find matching plugin for '

[2022-10-29 09:41] JustusRijke commented on #3872
Great, thanks!

[2022-10-29 09:45] JustusRijke commented on #3875
The part page shows a broken image:
![image](https://user-images.githubusercontent.com/53965859/198824738-9987aad9-ef4f-4a60-92b0-31cd2d5dd5ae.png)

Entering the image URL directly in the browser gives a 403:
![image](https://user-images.githubusercontent.com/53965859/198824770-f247e798-8b2e-446e-8084-fc5e6215b8f8.png)

I could not reproduce this on a clean install. I'll try to reproduce the probl

[2022-10-29 09:55] JustusRijke commented on #3875
Yup, it was a permissions issue. Thanks for helping out.

Media folder on a instance of IvenTree without problems:

	drwxr-xr-x  5 root root     4096 Oct 28 19:27 media

The same folder, on the InvenTree instance with the 403 error:

	drwxr-x---  5 root root     4096 Oct 28 20:04 media

Fixed with `chmod u=rwx,g=rx,o=rx media`

[2022-10-29 09:55] #3875 closed

[2022-10-29 11:07] SchrodingersGat commented on #3878
@SergeoLacruz looks like a simple fix in the end - https://github.com/inventree/InvenTree/pull/3879

[2022-10-29 11:45] #3878 closed

[2022-10-29 12:34] matmair commented on #3873
I raised a support ticket with them, not sure how long that will take to remove.

[2022-10-30 02:09] SchrodingersGat commented on #3865
@semaf thanks for raising this but after discussion we are going to leave it as it is. Hope you are otherwise finding InvenTree to be useful!

[2022-10-30 02:09] #3865 closed

[2022-10-30 04:04] #3817 closed

[2022-10-30 04:14] adamwolf commented on #2058
@exp any chance you'd want to post what you've got?  This is likely a blocker for switching to inventree so I could put some hours in...

[2022-10-30 09:23] SchrodingersGat opened #3882 "[Barcode] Barcode scan endpoint takes too long"
The recent [barcode refactor](https://github.com/inventree/InvenTree/pull/3640) has introduced a bug where the barcode scan endpoint takes over 2 seconds to return a result (or even no result).

This is because two new plugin instances are created every time a barcode is scanned. Spinning up a plugin takes a lot of time!

[2022-10-30 10:09] matmair commented on #3861
@t0roide I have a hard time replicating this with docker. Is there a specific reason you are running 0.7x and not stable? If the issue is in code we will not issue an update for 0.7x as we generally only support current stable and master with updates/fixes.

[2022-10-30 11:47] SchrodingersGat commented on #3374
@Weissnix4711 still any interest in this? Otherwise we will close

[2022-10-30 12:02] Weissnix4711 commented on #3374
Defo. I have to admit, I've been a bit lazy and haven't even bothered trying to implement it.

I've now just ditched some of the numbering systems I figured I probably wouldn't need. Would still be nice though in the long term to be able to add multiple IPNs per part, just in case.

[2022-10-30 20:40] matmair commented on #3860
@hatmcgat I see several possible issues:
- the .env shows the data should be in `/root/inventree-data` does this directory exist and can the docker-user read and write there?
- the .env file declares 1337 as the webport, the nginx-file as 8002, the docker-compose exposes 8002
- the media and static directories are declared as being in `/var/www` in our nginx-file; our .env point to `/root/inventre

[2022-10-30 21:12] matmair commented on #3882
@SchrodingersGat the fundamental problem is that plugins are not enabled by default - so we do all the time-consuming init steps on each scan.
If we switch to default on plugins and add a warning that barcodes do not work without plugins times should be much lower. Thoughts?

[2022-10-31 00:28] #3852 closed

[2022-10-31 12:41] hatmcgat commented on #3860
Hi @matmair thank you for the follow up.

**Yes, the docker-user has read and write permission. The directory value was pulled from the output of pwd via copy past into the editor.**

**I had assumed the 1337 port in the default was for the worker and server to talk to each other and 8002 would expose the service to the end user. I will change that over in my next attempt.**

I'll change these thi

[2022-10-31 19:26] hatmcgat commented on #3860
I believe I have gotten past this issue. I can still not get it deployed successfully, but I'm getting errors in other ways now that I am working through. I ended up changing the values you specified and confirmed the directories were readable and writable. I was able to run

`docker-compose run inventree-server invoke update`

and

`docker-compose up -d`

The containers all deployed but when acce

[2022-10-31 19:54] matmair commented on #3860
@hatmcgat 502 errors generally point to a problem where the proxied application is not running or reachable by the gateway(Nginx).

From the errors in the log it looks like your database is not initialized. Can you try running the update command in a fresh terminal session? If you have an environment setting set that specifies another DB it might a problem. Please post the log of the update comman

[2022-11-01 07:22] gooutbefree opened #3886 "[FR] in a placed PO: edit function for extra line item"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

In a placed purchase order, an order item can be edited (or deleted) e.g. updating the price. This function is missing for an extra line item

### Suggested solution

I propose to add this functions also to an extra line item because also these

[2022-11-01 07:33] gooutbefree commented on #3746
As a starting point:
In our system I did a dirty hack and modified settings.py. It works for authentification but the mail address isn't taken from the ldap -> problems with allauth? I'm not good enough to propose a clean solution
(works with stable 0.8.x)

[code]

[code]

[2022-11-01 10:02] SchrodingersGat commented on #2058
@laurus-lx a lot of pieces of this puzzle are now in place.

https://github.com/inventree/InvenTree/pull/3640 was a major refactor of the barcode scanning feature, you can now assign arbitrary barcodes to stock locations, as you could already do with stock item.

https://github.com/inventree/InvenTree/pull/3887 provides some additional barcode functionality to the web interface.

Still *missing* i

[2022-11-01 11:39] SchrodingersGat commented on #3886
See https://github.com/inventree/InvenTree/pull/3888

[2022-11-01 19:08] Gherkin opened #3891 "Parameters in label tempates don't support spaces"
### Please verify that this bug has NOT been raised before.

- [X] I checked and didn't find similar issue

### Describe the bug*

It seems like part parameters are only usable in label templates if they don't contain spaces due to the fact that you address elements in the dict by dot-notation, i.e `parameters.length`. This seems to be a well known bug in Django with a (seemingly) [easy fix.](http

[2022-11-01 20:11] rkalman commented on #2326
Please also consider using WebAuthn for authentication, as it is supported by most browsers. It will open possibilities like using hardware security keys and touch/face id.
Quick guide: [https://webauthn.guide](url)
Demo: [https://webauthn.io](url)

[2022-11-01 20:29] rkalman opened #3892 "Plugins - translation missing"
It is a small thing, in the settings sidebar the plugin related section is not translatable:
https://github.com/inventree/InvenTree/blob/d84b67ddf4b423d82862ff9a4c7b1c2d1474342a/InvenTree/templates/InvenTree/settings/sidebar.html#L56
Maybe this also affects the plugin interface (plugin.human_name), I don't know if its output is translated or not...

[2022-11-01 21:05] rkalman commented on #3531
Using WebAuthn can be a good alternative for passwordless logins.
https://github.com/inventree/InvenTree/issues/2326#issuecomment-1299080622

[2022-11-01 21:35] SchrodingersGat commented on #3891
@Gherkin an interesting problem! I think a template tag which allows string-based lookup (as per the stackoverflow post you linked) would be a good solution. We will need to document it, so that other users can find the answer too!

[2022-11-01 21:37] SchrodingersGat commented on #3892
@rkalman thanks, please let us know if there are any other strings which are not exposed for translation. Fix in https://github.com/inventree/InvenTree/pull/3893

[2022-11-01 22:22] matmair commented on #3891
@Gherkin do you want to develop this?

[2022-11-01 22:22] #3892 closed

[2022-11-01 22:29] matmair commented on #3531
@rkalman WebAuthn has nothing to do with link based logins (often called magic links) and should be its separate FR if you want it.

WebAuthn is an additional factor for login while link-based logins replace the login entirely with a mail with a short lived token for single-use login. The first is used to add security while the latter is mostly used for users that seldomly use a platform.

[2022-11-01 22:38] matmair commented on #2326
@rkalman that has nothing to do with this FR, please open a separate FR if you want this implemented.
WebAuthn is for interactive user authentication, this FR is about long-lived m2m/app access.

If you want to have WebAuthn, fido2 or u2f you will have to implement/sponsor it as I personally looked into it and find the hassle of implementing it securely not worth the time with TOTP already present

[2022-11-01 22:55] matmair commented on #3746
@gooutbefree this is really not advised. Updates are gonna be a PITA with this and the installer etc. probably will break too. A better way is to import the settings in a new settings file, add those changes there and then set the [environment variable](https://docs.djangoproject.com/en/4.1/topics/settings/#envvar-DJANGO_SETTINGS_MODULE) accordingly.

The package also requires os-level packages (a

[2022-11-02 12:47] hatmcgat commented on #3860
@matmair thank you for the help. I agree the problem is probably in my Nginx setup (this is the first time I've tried using it) I have previously used Traefik. I'll need to do some more research. I have a feeling it lies in my nginx.conf file. I suspected it had to do with telling the compose file where the conf file was, but when I changed that I got back to volume mount issues.

I'll continue to

[2022-11-02 13:47] t0roide commented on #3861
@matmair The reason to install in 0.7.4 was actually because I had to do a migration, the database backup I had was from that version so the fresh install had to be in the same version. And in that regard everything is done, the migration worked and I can see everything is in order.

When I first started to have this problem I thought that maybe after migration I could upgrade to the latest versio

[2022-11-02 14:57] #3860 closed

[2022-11-02 15:13] wolflu05 commented on #3861
Sorry, I didn't got when this error occurred. What have you executed that you this uncommitted changed error?

[2022-11-02 19:37] t0roide commented on #3861
@wolflu05 I think it might be the nginx config I added, or the file with the data I imported from the previous installation.

But on some good news, the issue definitely was not from the installation itself, like I said on older comments, from my end everything was working and the images were displayed correctly (despite some alerts here and there) but some other people accessing locally were havi

[2022-11-02 20:42] wolflu05 commented on #3861
To understand how to help you, I need to know after what command you got this git uncommitted files error.

[2022-11-02 21:12] martonmiklos opened #3897 "[FR]Support "structural" categories"
### Please verify that this feature request has NOT been suggested before.

- [X] I checked and didn't find similar feature request

### Problem statement

It would be great if there would be an option to create part categories which would not allow direct part creation.
I.e. I would not like that lazy people in my team would add parts directly under the documentation category, they should either

[2022-11-02 21:20] SchrodingersGat commented on #3897
@martonmiklos adding a field to the PartCategory model would not be difficult. I can see some complications arising with how the "logic" is implemented, but with sufficient unit testing this would be OK.

[2022-11-02 23:24] matmair commented on #3861
The solution is pretty straightforward and you already wrote about it @t0roide. It would help if you moved the data file out of Inventrees path then there should be no git errors anymore.
The new installer works without git, which should make stuff easier regarding updates.

[2022-11-04 14:05] #3882 closed

[2022-11-05 13:20] Hack4Life opened #3900 "Missing required database configuration value ENGINE running invoke update"
Hi,
I am new to Inventiere and trying to setup the tool via Docker and an .env file (File contents below).
However when I run `docker-compose run inventree-server invoke update` I get the following error:

[code]

I have double checked my .env file but I have defined my DB_ENGINE as described:
`INVENTREE_DB_ENGINE=postgresql`

This is my complete .env file content:
[code]

And this is my docker-co