[2021-07-29 12:04] Guusggg commented on #1882
@SchrodingersGat I prefer to contribute my time over contributing money as I assume you are pretty busy, looking at all the commits and issue responses.

I'm just in love with this project because it allows me to see the strength of Open Source, especially in an industry that is dominated by closed source, proprietary software that is way too expensive for what it really is. To me, its simple enou

[2021-07-29 12:08] SchrodingersGat commented on #1882
This feature was actually recently added - you can long-press on the image of a part to upload a new image either from the gallery or camera.  It just hasn't made it into the docs yet  ;)

The app is developed using flutter - I'm assuming you're familiar?

[2021-07-29 12:50] Nobodi99 commented on #1814
@SchrodingersGat That's a really good addition and I believe it fixes this issue. At least during the startup process of the container it uses way less ressources now when I limit the number of workers.

There is just one tiny problem. The container can't start completely because the logging function in the gunicorf.conf.py is broken.

![grafik](https://user-images.githubusercontent.com/39123731/1

[2021-07-29 12:50] #1814 closed

[2021-07-29 12:58] Nobodi99 opened #1883 "MIME conflict with static files when changing Debug to "False" in config"
So when I run inventree in a container I get following errors in the console of my browser.

![grafik](https://user-images.githubusercontent.com/39123731/127495328-2a20ddc8-8491-4aab-a31c-fc8dedd00b1a.png)

This happens because I changed the config file to Debug=false instead of true and this will prevent Django from serving the static files by itself.

See [the offical documentation](https://docs

[2021-07-29 13:01] Nobodi99 commented on #1883
Just saw it being mentioned in the documentation. Should probably just be referenced on the docker production setup page tbh

[2021-07-29 13:01] #1883 closed

[2021-07-29 13:33] Guusggg commented on #1882
Damn, that camera feature is amazing! Just tested it out, works perfect.

I'm not super familiar with Flutter, I have to admit, but I'm not really too scared. I'm reading a bit about it in the docs and it seems straight forward. I haven't programmed in Dart before but I have experience in all kinds of languages ranging from JavaScript to Java along with Python, C, C++ and Rust. Even a small bit of

[2021-07-29 13:45] SchrodingersGat commented on #1814
@Nobodi99 silly typo on my part - see fix here: https://github.com/inventree/InvenTree/pull/1884

[2021-07-30 00:42] SchrodingersGat commented on #1883
Good point @Nobodi99 I've added a note in the docs

[2021-07-30 08:31] #1882 closed

[2021-07-31 04:32] wolffam commented on #1770
@SchrodingersGat , can I aid in helping fix this bug in any way?  Our workflow is dead in the water without it so I would be happy to dig into something if it helps.

[2021-07-31 23:09] matmair commented on #1770
@wolffam maybe try implementing it and submit a PR; often is the fastest way. If you get stuck just submit what you have as a draft PR so others can help.

[2021-08-01 09:11] sintech opened #1888 "Can't start inventree server"
It seems that error at `https://api.exchangerate.host/latest` blocks server startup.

[code]

<details>

[code]

</details>

[2021-08-01 11:25] sintech opened #1889 "Use purchase_price for BOM cost calculation"
Current BOM pricing approach implies that all BOM items should be supplier parts with pre-filled price breaks. And it gives you the cost of item if you buy all parts from corresponding suppliers.
While in my case, I assemble my projects from parts I already have. So I would like to know how much it will cost to assemble this item based on parts I have in stock (purchase price).

Please consider re

[2021-08-01 12:07] matmair commented on #1889
@sintech that is not quite as simple as it sounds. A lot of EE people collect parts from different vendors at different price points. So if you have a part of which you bought 5 at 4ct, 10 at 6ct and 40 at 5ct - how much should InvenTree charge for 3 pieces? Just 4 because it is the middle? A weighted middle? Should that change every time you make a PO? What if you use parts like this in assemblie

[2021-08-01 12:12] matmair commented on #1889
@sintech if you have a idea how the problems stated above can be handled I am happy to review a PR.

[2021-08-01 12:19] matmair commented on #1888
Can not replicate but seems to be plausible. I will take a look at this.

[2021-08-01 12:23] sintech commented on #1889
@matmair, I got you point and it is fair one.
But can we do just min and max price as it is currently done in code. As I can see, `get_supplier_price_range` loops over all suppliers, get prices based on quantity and finally return one min and max price.

Internal price is a good tool for something like workforce or price override. I don't want to abuse it by copying data I already have in DB.

[2021-08-01 22:34] #1888 closed

[2021-08-01 22:39] SchrodingersGat commented on #1770
@wolffam happy for you to submit a PR - I'm too busy to look at it myself right now.

[2021-08-02 15:05] eeintech commented on #1889
@matmair I have to admit that the current pricing data present in the current version of InvenTree is quite complex and is not documented... I personally just discovered that the internal pricing option was disabled on our instance and found it in the setting. But still unsure what it does!

If I look at a BOM, I see we have 3 columns for pricing: purchase price average, purchase price range and b

[2021-08-02 16:44] erkutalakus commented on #860
I guess, something with version 0.3.0 broke this non-integer serial number support. It gives an error at the stock item detail page, for the stock items, which has non-integer serial numbers. The exception I got is here (belongs to v0.4.2 though):

[code]

[2021-08-02 19:13] eeintech commented on #1770
@wolffam Check out #1892 and let me know if it's missing something :wink:

[2021-08-02 19:18] eeintech commented on #860
@erkutalakus It sounds like you have a SKU/MPN in your serial number field of your stock item 48, try to correct this?

[2021-08-02 22:37] matmair commented on #1889
@eeintech I tired to fix the situation with screenshots before tackling the docs but did not get anywhere so here are some docs for pricing https://github.com/inventree/inventree-docs/pull/146

Internal prices where disabled by default because it adds complexity hobbyists don’t need in general.

Difficult to understand with just one data-point 👼. This only gets useful if there are a few data point

[2021-08-02 23:25] SchrodingersGat opened #1893 "[Bug] Regression for non integer serial numbers"
Ref: https://github.com/inventree/InvenTree/issues/860#issuecomment-891172240

[2021-08-02 23:43] SchrodingersGat commented on #860
@erkutalakus definitely looks like a regression here

[2021-08-03 00:03] #1893 closed

[2021-08-03 07:05] SchrodingersGat commented on #1741
Fixed in https://github.com/inventree/InvenTree/pull/1878

[2021-08-03 07:05] #1741 closed

[2021-08-03 14:37] eeintech commented on #1889
"Unit Price" terminology makes more sense yes.
What about:
- "Part Single Price" --> "Supplier Unit Cost"
- "Single Price" --> "Purchase Unit Price"
- "Single Price Difference" --> "Unit Price-Cost Difference"

Yes in master, looks like a regression indeed.

In the part "Prices" tab, one can calculate the cost for X unit using the embedded form:

![image](https://user-images.githubusercontent.com/

[2021-08-03 22:27] matmair opened #1896 "Tranlsation improvments"
@SchrodingersGat we have a lot of translations that are barely started. I would like to try fixing that with two small UI changes that might encourage users to submit translations:
- [x] showing the percentage of translated strings int he language selection box
- [x] Adding the information how to translate stuff to the selection box itself (maybe with a setting to disable that)

A more proactive s

[2021-08-03 22:52] matmair commented on #1889
@eeintech thanks for the suggestions, I made a PR with the changes. I would love some help with naming and documenting as I struggle with that a bit. I have a minor in (German) budgeting / accounting, so I sometimes think a bit more complex than needed for InvenTree and do not explain enough.

[2021-08-03 22:57] SchrodingersGat commented on #1896
That's a nice idea. Any way we can encourage translation efforts would be great.

[2021-08-03 23:01] #1770 closed

[2021-08-04 11:40] lettore opened #1903 "Unable to print labels after Docker version 0.4.1"
Using the image inventree/inventree:0.4.2 I get the following error when I try to print a label.

<html>
<body>
<h1 style="padding: 0px; margin: 0px; font-weight: normal; color: rgb(0, 0, 0); font-family: sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-spa

[2021-08-04 11:54] SchrodingersGat commented on #1903
@lettore can you confirm that printing *does* work for docker image `inventree:0.4.1`?

[2021-08-04 12:26] lettore commented on #1903
Yes I'm using that image now and print is working.

Il Mer 4 Ago 2021, 13:54 Oliver ***@***.***> ha scritto:

[2021-08-04 14:11] eeintech commented on #1889
@matmair Sounds good, I do not have any degree in finance so your experience is definitely welcome!

[2021-08-04 14:35] SchrodingersGat opened #1905 "Convert "StockItem" forms to new API forms"
- StockItemCreate
- StockItemEdit

This will significantly improve data entry time

[2021-08-04 17:35] matmair commented on #1889
So @sintech are you intrested in implementing this? If yes please include a setting to enable it

[2021-08-04 17:39] matmair opened #1906 "lazy loading for pages with a lot of api-calls"
We should consider implementing lazy loading for the parts page and similar views. There is a lot of unnecessary traffic generated with the current way.

[2021-08-04 17:43] sintech commented on #1889
@matmair yes, I will try to implement it by myself, but it may take some time.
It was my original intention to make it optional.

[2021-08-04 17:45] matmair commented on #1889
@sintech great! If you have questions do not hesitate, we are here to help!

[2021-08-04 22:15] SchrodingersGat commented on #1906
I have noticed that too - each table initialization call should be linked to the first time a particular tab is displayed!

[2021-08-04 22:42] SchrodingersGat commented on #1903
Can you please run a test for me:

In your `0.4.1` instance, open a CLI and run `pip list` and provide the output here

Then, do the same for `0.4.2`

I cannot at this point reproduce the error on my end. Might be related to installed packages?

[2021-08-05 00:32] SchrodingersGat commented on #1903
Ah, looks like new version of weasyprint was released that breaks compatibility.

[2021-08-05 03:24] #1903 closed

[2021-08-05 09:02] lettore opened #1910 "Print label command prompt to save PDF instead of directly open Print dialog"
Hi,
this is a feature request, at the moment when I want to print a label I'm prompted to save the PDF file, and the files build up in the download folder.
Instead it should be open the print dialog for directly print the label, or at least open the PDF file in another tab.

[2021-08-05 10:20] SchrodingersGat commented on #1910
Unless I'm misunderstanding your question - isn't this covered by your internet browser settings? You should be able to specify whether the PDF file is opened by the browser or downloaded to your PC.

[2021-08-05 10:28] #1896 closed

[2021-08-05 10:39] lettore commented on #1910
The default behaviour in Chrome is to display PDF files in the browser.
This works unless your code explicitly wants to save the file, and I think this is the case.
If this is a feature then there should be 2 buttons, one for print and one for download.
Are you able to print the label without saving the PDF on disk?

[2021-08-05 14:34] sintech commented on #1910
Looks like this behavior is controlled by "Content-Disposition" header.
If it set to "attachment", browser asks to save file, if set to "inline", browser displays pdf in the same tab.

[2021-08-06 00:45] SchrodingersGat commented on #1910
![image](https://user-images.githubusercontent.com/10080325/128438929-8db1f6f3-da53-4c1a-88fe-6e6c8552fe5e.png)

![image](https://user-images.githubusercontent.com/10080325/128438946-bb786bc2-0568-4c3f-8143-af8f5918904a.png)

This is the behaviour I am seeing.

[2021-08-06 07:13] lettore commented on #1910
It's true, to check if this is the case I added this extension https://chrome.google.com/webstore/detail/undisposition-racle-fork/bbppejejjfancffmhncgkhjdaikdgagc/related?hl=en to Chrome and magically the PDF now open in the browser without prompt for save.
For now it's a good workaround but it should be fixed in code, there's no need to have a prompt to save because the button is print label, and

[2021-08-06 15:51] lookme2 opened #1914 "Error: Not showing Part table for one Category"
Hey

I just updated to 4.3, which in the about still shows 4.3.  Anyway I have a Category that will not show the parts table.  I have attached a picture of the error.  Any ideas?
![Screenshot 2021-08-06 104950](https://user-images.githubusercontent.com/11365211/128537578-4de5ab5b-3d1e-41c8-9d1e-90c351657ce1.png)

[2021-08-06 16:18] lookme2 commented on #1914
I found the problem.  I had a part parameter with the label "CCA#"  that was giving me the error.  I deleted that parameter and it now seems to work fine.  This might be a bug.

[2021-08-06 18:21] matmair commented on #1914
@lookme2 we need a bit more information to reproduce this:
- You can copy the version information in the about section
- Please provide us a text-version of that JS-error
- Please check the error logs in the admin-section - if there is an error also post it here

I can not reproduce the error, that why I am asking

[2021-08-06 18:21] sintech opened #1915 "Internal price is not filtered by part"
Is this a normal behavior?
It looks like API call is missing `part` filter. So all parts have the same `Internal Cost` table.
![image](https://user-images.githubusercontent.com/10057327/128554895-e260548a-72fc-4b72-bbc9-6bb20f68cbd0.png)

![image](https://user-images.githubusercontent.com/10057327/128555122-911201c7-8a8a-415b-a2c2-324c7fc8cdcc.png)

[2021-08-07 11:09] SchrodingersGat commented on #1914
@lookme2 looks like there is a limitation in bootstrap-table filter extension. Simplest fix is to disallow special characters in template names - see https://github.com/inventree/InvenTree/pull/1917

[2021-08-07 11:09] SchrodingersGat commented on #1914
I'll deal with the version number mismatch too, thanks for pointing that out.

[2021-08-07 11:28] SchrodingersGat commented on #1915
@matmair do you have time to have a look at this one?

[2021-08-07 12:00] #1914 closed

[2021-08-07 12:01] matmair commented on #1915
@SchrodingersGat will do

[2021-08-07 12:12] SchrodingersGat commented on #1910
I have implemented this as a user-configurable option - https://github.com/inventree/InvenTree/pull/1920

[2021-08-07 12:27] #1910 closed

[2021-08-09 04:49] #1915 closed

[2021-08-09 21:37] eeintech opened #1929 "Uncaught TypeError: selections.forEach is not a function"
When trying to print labels to multiple stock items at once, this is the JS error:

![image](https://user-images.githubusercontent.com/4020546/128777795-485fa05a-0ee7-494d-889b-4133e97c9641.png)

![image](https://user-images.githubusercontent.com/4020546/128777822-63b9a0cb-8439-4908-94af-e2c4f9316194.png)

EDIT: printing single label on each stock item works

[2021-08-09 22:22] SchrodingersGat commented on #1929
Are you running off the latest version? I can't seem to reproduce this.

[2021-08-10 00:26] markdedeuge opened #1930 "api-doc uses incorrect route when using port besides 80"
If you run Inventree with the docker-compose settings, the default port is 1337
Accessing /api-doc/ and testing api functionality does not work as the api-doc page attempts to access the api routes without the port added.

[2021-08-10 01:04] #1930 closed

[2021-08-10 04:48] markdedeuge opened #1933 "Heartbeat has a datetime warning"
From the worker logs:
`inventree-worker    | 00:51:15 [Q] INFO Process-1 created a task from schedule [InvenTree.tasks.heartbeat]
inventree-worker    | 00:51:15 [Q] INFO Process-1:3 processing [may-cat-eleven-beer]
inventree-worker    | Could not perform heartbeat task - App registry not ready
inventree-worker    | /usr/lib/python3.8/site-packages/django/db/models/fields/__init__.py:1416: RuntimeW

[2021-08-10 05:16] #1933 closed

[2021-08-10 10:52] vk2avw opened #1936 "Link to external URL - Handle File URL"
Link to external URL doesn't accept a file based URL, for example:

file:///electronics/Data/RF_Transistors/BFG591.pdf

Gets a "Enter a valid URL." error.

Parts can be obsolete or their OEM is no longer in existence it can be necessary to store whatever materials that are associated with the part locally. It shouldn't be necessary to stand up a local webserver to access "local" files.

This is wi

[2021-08-10 10:57] lettore commented on #623
Uploading images taken with the App is working but I can see them only on the browser interface, in the App I see a ! mark only. It's quite difficult to debug because I get no errors.

[2021-08-10 11:04] SchrodingersGat commented on #623
@lettore what version of the app are you using?

[2021-08-10 11:13] SchrodingersGat commented on #1936
Interesting problem... As InvenTree is designed to be accessible separately to the server instance (and by multiple users) then pointing to "local" files would soon prevent issues.

I would suggest that you upload these files as attachments against a particular part. That way they do not get "lost" and any users can access them.

However if you *really* want to do this, you could allow the `file`

[2021-08-10 11:22] SchrodingersGat commented on #623
@lettore what about images uploaded via the web interface? Can you see those images in the app? Or are *all* images not displaying in the app?

[2021-08-10 11:27] vk2avw commented on #1936
Thanks for the prompt response and the suggestion, re: config_template.yaml. I will investigate how I get to it via the "docker" container. The system concerned is a "CentOS 6" system that will remain as it is for the moment. That is why the use of the docker container was the obvious "painless" choice for assessing InventTree.

Attachments may be useful, but I already have the files stashed in th

[2021-08-10 11:32] SchrodingersGat commented on #1936
No worries Stephen. Regarding docker - if you follow the [docker setup guide]https://inventree.readthedocs.io/en/latest/start/docker/) you will see how to expose the "data" directory to a volume on your OS. The config template file will be created in this directory and you can edit it there. Just make sure to restart the docker container after you edit the file.

[2021-08-10 11:32] #1936 closed

[2021-08-10 11:40] eeintech commented on #1929
Oh it looks like it only happens on the parent stock item page, not on the part page.

@SchrodingersGat if you go on the parent stock item of your serialized item, can you reproduce?
I'm on master.

[2021-08-10 11:50] lettore commented on #623
All images are not displaying, my app version is 0.4.3 build 25 and server version 0.5.0 pre

[2021-08-10 12:53] SchrodingersGat opened #1937 "Token authentication doesn't work for media files behind nginx proxy"
- nginx proxy redirects auth requests to `/auth/`
- when using token auth (e.g. python interface or app) server returns either `302` or `403`
- token is being checked, but *user information not being added to the request*
- also request is serviced *before* token is checked

[2021-08-10 12:55] SchrodingersGat commented on #1937
@lettore it took some doing but I have managed to reproduce your issue. I'm assuming you're running behind a nginx proxy, which is forwarding auth requests for media files to the inventree server.

There was a silly bug which prevented token-based auth from working. See #1938 for a fix which should be merged soon.

[2021-08-10 13:10] SchrodingersGat commented on #623
Check out the fix in #1938

[2021-08-10 13:10] #623 closed

[2021-08-10 13:13] lettore commented on #1937
Well I'm using the Ngnix proxy container as your docker compose file, in front of that I use Traefik as https proxy.
Not sure if this can be the problem.

[2021-08-10 13:18] SchrodingersGat commented on #1937
The issue is (I believe) on the server side - the token auth for `/media/` files is currently not working correctly

[2021-08-10 13:24] #1937 closed

[2021-08-10 13:24] SchrodingersGat commented on #1937
Please pull down latest master and see if the problem is resolved on your end.

[2021-08-10 13:36] SchrodingersGat commented on #1929
Thanks @eeintech - fix provided in #1940

[2021-08-10 13:52] #1929 closed

[2021-08-10 14:13] eeintech commented on #1929
Yup, looks good now. Thanks @SchrodingersGat

[2021-08-10 14:29] #1906 closed

[2021-08-10 14:37] lettore commented on #1937
Solved

[2021-08-10 14:37] SchrodingersGat commented on #1937
Thanks for letting me know @lettore

[2021-08-10 19:24] bgrant85 opened #1942 "Newbie questions"
I have a couple easy questions;
1) Is there an easy way to export a BOM that can be used for ordering.  It would need to include supplier, supplier part number, link, stock qty and required qty.  It would need to be in csv or xlsx format so I can manipulate it.  For example, order by supplier so I can build an order for each supplier.  The bom that I exported did not have any supplier info.

2) Is

[2021-08-10 21:15] matmair commented on #1942
Hi there @bgrant85!

1. The current workflow for ordering is to either build up the orders in InvenTree as POs and the export the POs or use the BOM exporter
![grafik](https://user-images.githubusercontent.com/66015116/128934695-7672cd9b-a363-4bd1-87ae-cbfb1fe8f3e9.png)

2. I am not that used to docker but @42CrMo4 or @SchrodingersGat maybe can help with this

3. I do not think we provide this opt

[2021-08-10 22:52] SchrodingersGat commented on #1942
2. Specific version in docker

This one is pretty simple actually. In your `docker-compose.yml` file, change:

[code]

to

[code]

(or substitute a different particular version instead of 0.4.5

3. SupplierPart import

A couple of options here. You could use the [python bindings](https://github.com/inventree/inventree-python) and write a script to bring this data in.

Or you could import the Suppl

[2021-08-11 07:57] lettore opened #1945 "Add possibility to disable unused functions"
I started using Inventree for my home inventory, there are many alternatives out there but none are simple to use.
The combination of the app for easy scanning codes and the server works really well.
For my use case I don't need the selling part and maybe also the buying part as I don't need to track every order I make, also because you need to add first a manufacturer and a seller for every part,

[2021-08-11 08:18] lettore opened #1946 "Asset management feature"
Currently I use Snipe-it for mange my assets, intended as tools, software licenses etc.
This is overly complicated for the average user, as this software is really well designed it would be possible to add just some new features to enable management of assets.
One of the missing features is the ability to assign a stock/asset to a specific person instead of a location, this is useful when you give

[2021-08-11 08:34] matmair commented on #1946
@lettore I do not mean to disregard you but as far as I see it InvenTree is meant for the SME EEs and hobbyists. Tracking stuff down to a specific person does not really make sense for that. Inventory and asset-management are two different kinds of things. The first is for manufacturing the later for logs and life-cycle management for assets.

There is a lot of complex business logic needed for st

[2021-08-11 08:43] matmair commented on #1945
@lettore not sure I understand what you mean; selling / purchasing only becomes available for a part if it is enabled for it. Have you disabled the functions for the part and do they stil show up? You can control the default settings for a new part in the settings.

We have several ways to do [plugins](https://inventree.readthedocs.io/en/latest/extend/plugins/) and I am working on a deeper integra

[2021-08-11 09:07] lettore commented on #1946
As you said if your target audience is the hobbyist market it's difficult to imagine to manage two different system (Inventree and Snipe-it) just to take track of some assets.
Obviously, this means that the functionality should be reduced to the essential, because if you need more than just basic asset management you should use a dedicated solution.

[2021-08-11 09:12] lettore commented on #1945
What I mean is not to see the sell button, the sales part in the main interface.
![image](https://user-images.githubusercontent.com/34779795/129002182-23bc6e84-e1f7-4b33-82ab-18f6cc0f84b9.png)
Many switches in every part that are not used if I'm not going to sell anything
![image](https://user-images.githubusercontent.com/34779795/129002491-485dcb95-b81e-4361-af5d-ca662a1ef8a7.png)
It's just for h

[2021-08-11 17:43] eeintech commented on #1945
@lettore "Settings" --> "User Settings" --> "Home Page" --> Disable both `Show outstanding SOs` and `Show overdue SOs`:

![image](https://user-images.githubusercontent.com/4020546/129077505-6843c5ca-66ce-401f-8e57-1e76aff6a8b6.png)

Home page will look like this:

![image](https://user-images.githubusercontent.com/4020546/129077554-7d0e503a-8435-4fe6-9407-035b024ca140.png)

[2021-08-12 03:27] bgrant85 commented on #1942
Thanks for the very helpful info. So I made this change and did update.

Now when I do a "docker ps", I see this under IMAGE.

 inventree/inventree:latest
 nginx
inventree/inventree:0.4.5
postgres

the first one above is the worker, and the third is the server.

When I open inventree and do "About Inventree", I still see version still is 0.5.0 pre.

Which version do I actually have?

[2021-08-12 06:05] #1272 closed

[2021-08-12 10:03] SchrodingersGat opened #1950 "tagged docker versions do not track correct git tag"
Ref: https://github.com/inventree/InvenTree/issues/1942

Specifying a particular docker tag in the docker compose file does not have the intended effect

~~Pulling any tagged version from docker hub simply pulls down latest master~~

docker builds are always run from latest head of master..

So, in the github action script which pushes to dockerhub:
- Need to specify "tag"
- Need to specify "branc

[2021-08-12 10:04] SchrodingersGat commented on #1942
@bgrant85 well this is embarrassing. Looks like there's a bug here which has gone unnoticed - see the new issue

[2021-08-12 11:54] willnewcombe opened #1951 "Is there any plan for the android app to be open source?"

[2021-08-12 12:34] #1950 closed

[2021-08-12 12:44] SchrodingersGat commented on #1945
@lettore fair enough suggestion, I think it would be reasonable to at least be able to hide the "Build", "Buy", "Sell" tabs.

Obviously hiding these tabs would also disable lots of functionality on other pages too

[2021-08-12 12:54] SchrodingersGat commented on #1454
Fixed in https://github.com/inventree/InvenTree/pull/1904

[2021-08-12 12:54] #1454 closed

[2021-08-12 12:55] SchrodingersGat commented on #1234
Implemented in https://github.com/inventree/InvenTree/pull/1716

[2021-08-12 13:04] SchrodingersGat commented on #1946
@lettore would you say this request is a duplicate of https://github.com/inventree/InvenTree/issues/656 ?

There have been a few other requests for similar "lending" features too. I think it would be well received if such functionality could be added in a "simple" manner.

However "simple" integrations are never simple, as @matmair rightfully pointed out above ;)

I think the furthest I'd like to

[2021-08-12 14:32] eeintech commented on #656
I started a list a while ago: https://github.com/inventree/inventree-docs/pull/26/files#diff-f005532afd58081f31152965122861a522abc1aff04ab65f76bb457ef325bd85

But it was tough to keep up with the rapid progress... so I think @SchrodingersGat decided it wasn't worth keeping at the moment.
I would be keen to see some kind of plan for the future release but I guess at this early stage, it is difficul

[2021-08-12 21:17] matmair commented on #656
@eeintech some kind of indication what should be prioritised by people how want to help would be nice - there is the "help wanted" tag but those are 4 issues right now and I do not want to take away all of those in case somebody wants to help.

[2021-08-13 00:30] SchrodingersGat commented on #656
I've re-added the "upcoming features" page, I was thinking about doing that anyway :) we'll just have to ensure we keep it updated.

As for tags, I think the "help wanted" tag is appropriate to use in these cases

[2021-08-13 11:13] eeintech commented on #656
@SchrodingersGat In case you need help for triage and labelling, I'm sure @matmair and I could give you a hand.
Given InvenTree repo is under the InvenTree organization, seems like GH provides a different levels of permission:
https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-permission-levels-for-an-organization#repository-access-for-each-permi

[2021-08-13 14:38] SchrodingersGat commented on #1109
See #1956

[2021-08-13 14:50] eeintech commented on #1109
Wow looks awesome! :rocket:

[2021-08-14 02:12] #1109 closed

[2021-08-14 02:19] SchrodingersGat commented on #1951
Not yet but eventually the plan is to open source it.

Are there any particular features you'd like to see added?

[2021-08-14 17:38] bgrant85 commented on #1942
Regarding my question 1. above, I was thinking that Inventree could generate POs or somehow export a list of  parts to be ordered from each supplier for a particular Build Order after  existing stock is allocated.  I appears that is not part of the functionality.  I struggling to see how I can use Inventree to help me generate a list of required items (and qty) to order from each supplier.

[2021-08-15 02:08] SchrodingersGat commented on #1942
@bgrant85 extending the current build order functionality to provide more "intelligent" work flows is certainly on my radar - I'd love to see an option implement pretty much as you describe it...

If you are willing to contribute some time to help make this happen, that would be fantastic!

[2021-08-15 07:19] SchrodingersGat opened #1960 "Add ability to rename file attachments"
Files can be attached in multiple ways (e.g. drag and drop / app camera upload) without any control over the filename.

Add the ability to dynamically rename the file (via the regular API accessor functions)

[2021-08-16 01:14] #1960 closed

[2021-08-16 10:59] #1755 closed

[2021-08-16 11:10] #1003 closed

[2021-08-16 11:11] #957 closed

[2021-08-16 11:12] #688 closed

[2021-08-16 12:01] eeintech commented on #656
Focusing back on the OP, as InvenTree does not aim to become an assets management platform, the scope of the "lending" option should only apply to external interactions (eg. customers) as proposed in #1946

The ownership idea has already been implemented in #1155 and further improvements/fixes.

[2021-08-16 14:01] eeintech commented on #1945
One way to disable them is with permissions. For instance, here is an example of group's permissions disabling view of POs and SOs:

![image](https://user-images.githubusercontent.com/4020546/129575740-529d047e-28f7-4d61-b846-df04daa6aba5.png)

And here is what the UI shows for a user of that group:

![image](https://user-images.githubusercontent.com/4020546/129575804-1aa28808-bbbd-4a02-89b0-c22a3

[2021-08-16 14:06] eeintech commented on #1942
Related to #1839

[2021-08-16 14:11] eeintech commented on #1765
@stijnloeys Forgot to mention that you can also use the part import feature directy in the UI :+1:

1. Enable it in settings:

![image](https://user-images.githubusercontent.com/4020546/129577054-6ceabbd5-78e2-419e-b111-7ab560c17e24.png)

2. Use it directly in part view, see "Import Parts" tab:

![image](https://user-images.githubusercontent.com/4020546/129577223-e9e72b9c-3868-469b-9c4a-f0870fd412

[2021-08-16 14:12] eeintech commented on #1765
Closing for now, let us know if you encounter any issue with the options mentioned above

[2021-08-16 14:12] #1765 closed

[2021-08-17 04:45] markdedeuge opened #1966 "github workflows without `apt-get update` will fail"
Unless an apt-get update is run before the workflow, the workflow may (100% hit for me) fail.
Fixed by #1949

[2021-08-17 04:45] markdedeuge commented on #1966
FYI issue

[2021-08-18 08:53] Guusggg opened #1971 "Assign a barcode to a Part/Supplier Part"
Hi,

I'm thinking about implementing a feature that allows even more barcodes to identify parts. Seeing as we get a lot of Part's that have the same barcode, it might be awesome to allow a Part to be assigned a barcode in the same way that Stock Items can be assigned a barcode.

We have a lot of screws that arrive in small boxes with the same barcode for the same screw. I think it would be a great

[2021-08-18 12:33] SchrodingersGat commented on #1971
Yeah this makes a lot of sense. Most of the functionality is already in place for this:

- Parts already have internal unique barcodes
- Scanning a part's barcode on the app will launch the [Part Detail View](https://inventree.readthedocs.io/en/latest/app/part/#part-detail-view)

All that is required is the ability to assign a custom barcode to a *Part* in the same way you already can for a *Stock

[2021-08-18 13:17] Guusggg commented on #1971
I'm going to finish the Barcode scanning in the app and I will look into adding a field to the SupplierPart structure to add a barcode, and if it's already there I will focus on using the existing functionality to assign it to the part.

I'm personally thinking it's best to keep it at SupplierPart, since usually parts from the same supplier (that I know of) have the same barcode.

[2021-08-19 01:12] SchrodingersGat opened #1972 "Add periodic tasks to clear out expired sessions"
Ref: https://docs.djangoproject.com/en/3.2/topics/http/sessions/

Utilize the background worker to periodically remove expired session data from the database

[2021-08-19 06:53] #1972 closed

[2021-08-19 13:02] Guusggg opened #1974 "Multi Part Order fails on Company view"
Hi,

I'm currently having trouble selecting more than one part and ordering them using the Supplier Company view.
The `javascript` error I receive is this:

[code]

So I checked out the source (`InvenTree/templates/js/part.js`), but it's doing exactly the same as the other functions use multi selections. I can't figure this out...

Any ideas on how to fix this?

Kind regards,

[2021-08-19 13:06] Guusggg opened #1975 "Build breaks when using `git pull origin master`"
Hi,

Today, I noticed while trying to fix #1974 by checking out the master branch that the build currently breaks.
When running `inv update`, I get the error that it's trying to open `part_label.html.py` but the permission was denied. After checking the directory, it does not seem to be there. I think this might be caused by someone not committing all the files that are needed to get to the latest

[2021-08-19 13:43] eeintech commented on #1975
I've just pulled latest master and don't have this issue :confused:

[2021-08-19 13:51] eeintech opened #1976 "`img_source` folder"
What is this for?

![image](https://user-images.githubusercontent.com/4020546/130080468-63453f34-6786-46c7-b7cd-5d36ac666d0b.png)

Can't seem to find anything using those two SVG images...

[2021-08-19 13:54] Guusggg commented on #1975
Alright then it might just as well be on my end... (I'm messing around a lot with permissions on the Linux box so thats definitely something that could be caused by myself).

I'll close this for now, thanks a lot for checking it for me!

[2021-08-19 13:54] #1975 closed

[2021-08-19 14:01] eeintech commented on #1975
No problem. I'm curious:

What features did you implement that are currently missing from master?

[2021-08-19 15:23] Guusggg commented on #1656
@matmair @eeintech

Hi,

Today when implementing a barcode feature I notice that it's not possible to set the price for a StockItem through the API. The price is being copied from a PurchaseOrder but the API simply does not update it when sending an `update` for StockItem with keys `"purchase_price"` and `"purchase_price_currency"`. The Flutter API does return `true`, so it might seem the price is

[2021-08-19 21:47] #1974 closed

[2021-08-19 21:50] matmair commented on #1737
@BansheePrime there were some updates to the docker setup - do you mind checking your config against the changes and reporting back if it works now?

[2021-08-19 21:56] matmair commented on #1693
@rcludwick did you find time to do this and would you be willing to share your findings for the docs?

[2021-08-19 22:17] matmair commented on #1976
I can also not see what it is meant to do.

[2021-08-19 23:33] rcludwick commented on #1693
No, I didn't get time to do this.

Having dealt with auth before, it comes down to two different ways to do
authentication in Django.

First is the middleware.  This looks at the request coming in, figures out
who the user is and then attaches the user to request.user and passes the
request on.  This is the way Django web login works.

The second is through authentication and authorization classes

[2021-08-20 07:37] Guusggg commented on #1975
Nothing special, I have some custom formatting functions for StockItem and Part labels. Basically one `@property description_as_list` which returns the description, split by `"-"`.

[2021-08-20 09:03] Guusggg opened #1983 "[BUG] `templates/js/dynamic/settings.js` is empty and raises JavaScript errors"
Hi,

Today while updating to the latest master branch I encountered the problem that `settings.js` is bugged:
[code]
I'm not sure what to do. I screwed around with the Django template language and it seems that there is settings located in the dictionary USER_SETTINGS but its not what the template expects...

Running `{% debug USER_SETTINGS %}` gives me:
[code]

So there's definitely something the

[2021-08-20 09:25] Guusggg opened #1984 "Create PurchaseOrder Modal Form returns `Server Error` although responseCode is 200"
Hi,

Today I encountered an issues when using the Multi Part Order functionality. When selecting multiple parts from a Supplier and clicking Order Parts, the modal for ordering several parts shows up. However, when clicking the little green + button to create a new Purchase Order, a dialog shows up that says
[code]
I looked a bit into it, and it seems the `launchModalForm()` function in `modals.js

[2021-08-20 14:23] eeintech commented on #1983
That's weird, have you tried changing user? Does it stick to empty JS file?

[2021-08-20 14:26] eeintech commented on #1984
I can confirm it is broken :confused:

I think Oliver wanted to convert all secondary modals to API forms so hopefully he will have time to take a look at what it takes to fix that one :smiley:

[2021-08-20 18:41] eeintech opened #1985 "Regression: tables options do not stick anymore"
User constantly has to re-enable columns in table views:

![image](https://user-images.githubusercontent.com/4020546/130279071-cd4107a4-b067-44ad-83a0-980dd8210f49.png)

[2021-08-20 18:46] eeintech opened #1986 "Sorting is broken on some "index" tables"
## Latest Parts (example sorting by "IPN")

![image](https://user-images.githubusercontent.com/4020546/130279279-b29287df-8a65-4f2b-8014-21eb87a2cfc8.png)

![image](https://user-images.githubusercontent.com/4020546/130279304-81da26a3-4e05-4ab5-805f-d1dbef9551b9.png)

## Recently updated (example sorting by "Stock")

![image](https://user-images.githubusercontent.com/4020546/130279780-09072237-5738

[2021-08-20 20:04] matmair commented on #1983
@Guusggg could you please paste the debug information from the information-modal? I can not reproduce the error rn.

[2021-08-20 20:21] matmair commented on #1693
@rcludwick thanks for the input, I will try to implement something if I find time. Your input would be appreciated if you find time 👼.

[2021-08-20 20:57] matmair commented on #1986
@eeintech this is kind of expected behaviour: the tables that were affected had a fixed sorting so my PR disables the buttons.

[2021-08-20 21:01] matmair opened #1988 "Purchase price can not be changed via API"
@matmair @eeintech

Hi,

Today when implementing a barcode feature I notice that it's not possible to set the price for a StockItem through the API. The price is being copied from a PurchaseOrder but the API simply does not update it when sending an `update` for StockItem with keys `"purchase_price"` and `"purchase_price_currency"`. The Flutter API does return `true`, so it might seem the price is

[2021-08-20 21:02] matmair commented on #1656
@Guusggg made a new issue for this-> this issue is intended as an overview.

[2021-08-20 21:06] matmair commented on #1988
@Guusggg can confirm that this does not work currently.

You are welcome to fix it if you want. Please ping us if you need assistance.

On another note: Are you building something public or private? I am always intrested in what ppl are building and we have a place to link projects in the [docs](https://inventree.readthedocs.io/en/latest/extend/integrate/).

[2021-08-20 21:09] matmair opened #1989 "[FR] pricing: tooltips for pricing"
@eeintech @sintech so a small tooltip with information what information was used for calculation would be ok? I would include multiple levels of information depending on the settings.

_Originally posted by @matmair in https://github.com/inventree/InvenTree/issues/1957#issuecomment-902925980_

[2021-08-20 21:10] matmair commented on #1989
This is a needed addition for the overall pricing project (#1656)

[2021-08-20 21:36] rcludwick commented on #1693
In summary, you just need two things.

A way to authenticate browser requests in middleware using a http header
(proxy_forwarded_for=user_or_email).

And... Some kind of token auth for API machine access, this could be a
token in the db with a foreign key back to the user.  Also default
permissions for unauthed API users should be configurable.  Many people
might want read only, others might want

[2021-08-21 12:19] eeintech commented on #1986
Makes sense, thanks @matmair

[2021-08-21 12:25] wkigenyi opened #1992 "cannot translate hostname "inventree-db" to address"
When I try to run Inventree in docker, following the docs, I get the above error when I execute the command "docker-compose run inventree-server pgcli -h inventree-db -p 5432 -u pguser"

[2021-08-21 19:40] bgrant85 opened #1993 "Developing against postgresql instead of sqlite"
Is developing with postgresql instead of the sqlite default reasonable to do? I've modified the `docker-compose.dev.yml` file to include the `inventree-db` container and updated the dev env file, but it doesn't seem to work and I'm wondering if there are larger changes that need to be made that I'm missing. When I get to a bash in the server container, the only folder under `/home/inventree` is `p

[2021-08-21 21:47] matmair commented on #1992
@markdedeuge @42CrMo4 any ideas what it could be?

[2021-08-21 22:17] tkornack opened #1994 "docker upgrade problematic"
I'm running with docker and I tried pulling to the latest version 8646c73 (2021-08-20) using `docker-compose pull` and noticed two issues:

1. The worker was broken. The error I'm seeing is a little garbled:
  ERROR: for inventree-worker  Cannot start service inventree-worker: failed to create shim: OCI runtiCreating inventree-proxy  ... done
ker.sh": stat ./start_prod_worker.sh: no such file or d

[2021-08-22 13:51] SchrodingersGat commented on #1992
@wkigenyi have you changed anything in the "standard" docker-compose file? Or just running the example docker-compose exactly as it comes?

[2021-08-22 13:55] SchrodingersGat commented on #1976
Not sure either to be honest. I added them way back in 2018!

[2021-08-22 14:00] SchrodingersGat commented on #1985
Seems to be working on my end:

![image](https://user-images.githubusercontent.com/10080325/130357928-a3c37a9e-4fb1-4ced-a1e5-0cef6d91be8b.png)

Can you open up the developer view in your browser and see if there are any javascript errors being flagged?

[2021-08-22 14:08] matmair commented on #1976
@SchrodingersGat so should we delete it as a test?

[2021-08-22 14:08] SchrodingersGat opened #1996 "Refactor "order parts" form wizard to use API forms"
Ref: https://github.com/inventree/InvenTree/issues/1984

The entire "order parts" multi-step form wizard needs to be refactored to use the API form interface.

- [ ] Documentation
- [ ] Unit Testing

[2021-08-22 14:11] #1976 closed

[2021-08-22 14:32] eeintech commented on #1976
Nice thanks 👍

[2021-08-22 14:34] SchrodingersGat commented on #1984
I've implemented a temporary fix for this one; a full refactor of the "order form wizard" will take considerably more effort.

[2021-08-22 14:34] SchrodingersGat commented on #1976
@matmair fix has been merged already

[2021-08-22 14:49] SchrodingersGat commented on #1983
@Guusggg I did manage to replicate this, but after trying to hunt down the source of the issue the problem has now disappeared.

I think that this may be caused by a server-side caching issue.

Can you check something for me? If you remove the `{% debug ... %}` call from the template, does the javascript file then render correctly?

[2021-08-22 14:49] #1984 closed

[2021-08-22 14:49] SchrodingersGat commented on #1984
@Guusggg please check that this error is remedied now

[2021-08-22 17:56] 42CrMo4 commented on #1992
@matmair i would love to help but my knowledge was limited to copying the documentation for the workflow ;)

[2021-08-22 18:17] bobek commented on #853
I would like to redo inventory management for my home lab and came across InvenTree. Awesome project! It seems that people are primarily using thermal printers for printing labels. Do you have any concerns about the longevity of the produced labels?

I was rather thinking about using laser printer and Avery-style sheets, which will require a support for printing on partial sheets. Already mentione

[2021-08-22 19:35] matmair commented on #853
@bobek we currently do not support this setup fully (selection of the space to start printing is not supported).

Seems to be not to hard to get this into the reports-framework. The settings for something like this would be a lot of work for sure. I do not know of anybody working on something like this right now. We appreciate PRs and are ready to help ;-).

[2021-08-22 19:39] matmair commented on #1992
@42CrMo4 no worries, that is a lot more than I can do confidently 😇.

[2021-08-22 19:46] matmair commented on #1993
@bgrant85 seems like a docker question to me.

Personally, I develop on win10 (yes, I know 🤣) in a wsl2 environment (Debian bullseye). That is very similar to what most people will deploy to. As for psql / SQLite; SQLite is the default for Django and easily interchangeable etc. it minimises the sources for an error - that is helpful with development.
I do not see why docker / psql should not work

[2021-08-22 20:21] wkigenyi commented on #1992
@SchrodingersGat no I haven't changed a thing. Just following the documentation. I am running docker on windows 10.

[2021-08-22 22:43] SchrodingersGat commented on #1992
@wkigenyi can you show which containers are running in docker then?

e.g. (I am running "dev" setup in this example, but similar screenshot):

![image](https://user-images.githubusercontent.com/10080325/130372339-a8da8eb5-b0b5-434c-9afd-c0bf055c56ea.png)

[2021-08-22 22:45] SchrodingersGat commented on #1994
Some of the docker entrypoint functionality was changed in https://github.com/inventree/InvenTree/pull/1970

You should update your docker-compose file to match this - https://github.com/inventree/InvenTree/blob/master/docker/docker-compose.yml

That should solve issue 1. Not sure about 2, but maybe that will be fixed too?

[2021-08-22 23:13] SchrodingersGat commented on #1993
@bgrant85 there is no reason you can't setup a dev environment with postgres.

I'll need some more info to work with here...

- Can you show me which containers are up and running?
- Have you run the `invoke update` command from within the `inventree-server` container?

[2021-08-22 23:15] SchrodingersGat commented on #853
@bobek I did have a look at supporting avery style labels a while ago, but it's not my personal workflow to use those so never implemented it. glabels did look pretty good, though...

I'd recommend you open a new issue / pull request for this rather than continuing the discussion here.

[2021-08-23 00:22] SchrodingersGat commented on #1988
@matmair @Guusggg is working on some new features for the app

[2021-08-23 00:24] SchrodingersGat commented on #1988
The `purchase_price` field is essentially read only

https://github.com/inventree/InvenTree/blob/87a41c7e3912654975c89911d1dbe8e66e8d63b4/InvenTree/stock/serializers.py#L142

To support writing we would need to break this into separate `purchase_price` and `purchase_price_currency` fields as we have done with other similar serializers

[2021-08-23 00:41] SchrodingersGat opened #2001 "Refactor "receive parts" forms to use API"
- Receive parts against a purchase order
- Should be refactored to use the API
- Might require a special endpoint to add some server-side logic?

Ref: https://github.com/inventree/InvenTree/issues/1988

[2021-08-23 00:43] SchrodingersGat commented on #1966
@markdedeuge were you seeing these failures when trying to run the github workflows on your local machine?

[2021-08-23 01:07] #1889 closed

[2021-08-23 10:29] #1945 closed

[2021-08-23 12:54] #1988 closed

[2021-08-23 13:31] eeintech commented on #1985
@SchrodingersGat Sorry forgot to mention there is no visible JS errors and I have to be honest I am not sure how to reproduce... it happens too often though to me, and I still have not found a pattern. Will report with more info (like tracing back my steps) next time that happens.

[2021-08-23 13:34] eeintech commented on #1985
Also I did notice that those settings are sticky at server level, not a user level (eg. enabled table columns are the same for all users). Is that expected?

[2021-08-23 13:57] eeintech opened #2004 "[BUG] "Update prices" button clears up order modal form"
Related to #1996

To reproduce:

1. Click on "Buy" -> "Suppliers" -> Click on a Supplier
2. Click on either "Supplied Parts" or "Stock" tab
3. Select few parts in "Supplier Parts" or "Supplier Stock" table
4. Click on "Options" -> "Order Stock", the "Order Parts" form appears
5. Click on "Update prices" button

The following things can happen:

- the form clears up

![image](https://user-images.gi

[2021-08-23 14:14] bgrant85 commented on #1993
Thanks for the help.  I was able to get it working.  There were a number of issues, but one in particular was unrelated to psql.  This problem was that docker was not working correctly from the linux console on wsl2.  When I switched to powershell console, it worked OK. The changes were in three files, included here for completeness:
*requirements.txt:*
      +psycopg2>=2.9.1

*dev-config.env*

[2021-08-23 14:15] #1993 closed

[2021-08-23 14:18] eeintech commented on #1945
@matmair @SchrodingersGat I'm sorry to ask this stupid question: why are those settings at user level instead of server level? (ref #1999)

As I mentioned above, the "right" way to completely disable each section and functions is done through the permissions, which are controlled by the admin/superuser.
Now if a "normal" user wants to access those, it should be redirected to the "index" page or ge

[2021-08-23 16:11] eeintech commented on #1986
@matmair Unfortunately sorting hasn't been disabled in the "Recently updated" table:

![image](https://user-images.githubusercontent.com/4020546/130481012-706f08fb-c586-420c-b756-e12bdf417fa6.png)

[2021-08-23 16:19] tkornack commented on #1994
Thanks! Yes, issue #1 is solved and the site seems to work fine.

Issue #2 persists. I'm running on stock ubuntu 20.04.3 LTS. It appears right after logging `rendered all files in /home/inventree/InvenTree/templates/js/translated`.

[2021-08-23 17:00] eeintech opened #2006 "Part default attributes are shown in "Edit Part" form"
One way to reproduce:

1. Create a part with "Assembly" and "Salable" checked in the part attributes, leave others off
2. Once the part is created, click on "Part actions" -> "Edit Part", scroll down to part attributes

This is what is shown:

![image](https://user-images.githubusercontent.com/4020546/130487018-b37c72df-1320-468d-a0fd-b073f06593d4.png)

Only "Component" is checked and it is not th

[2021-08-23 17:06] eeintech opened #2007 "Part view: "Sales Orders" tab always enabled"
To reproduce:

1. Create a "Component" only part: disable all other part attributes
2. Check the navbar on the part view: "Sales Orders" tab is shown and "Sales Orders"/"Sales Orders Allocation" tables can be loaded when clicked on

![image](https://user-images.githubusercontent.com/4020546/130487950-9cc0e762-af5a-47dc-8b9d-57d28f9eb596.png)

This view should be restricted to "Salable" parts only.

[2021-08-23 20:23] matmair commented on #1994
@tkornack seems to be a permission problem form the log-message. Can you pls check that those are set right?

[2021-08-23 20:47] matmair commented on #1945
@eeintech I chose server-level as the possibility to disable nav-items for me seems to be an admin-level decision. And also because the admin would have to deal with users that disable nav-items and then get lost 😇.

We could easily move this to be user-based but I think that will bring more problems than necessary for our deployers.

[2021-08-23 20:50] matmair commented on #2004
@eeintech I think this comes from the refactors for the modal-code - I will try to find the bug-source but there is a lot of voodoo going on. Really need an UML generator for django / js.

[2021-08-23 21:17] matmair commented on #1421
So I did a lot of prototyping and testing and here is a small roadmap what needs to be done (right, I have a very bad copied together prototype that works with QB).

- [ ] OAuth / OpenID (and maybe SAML Login) is needed for managing logins for a lot of old systems --> [django-allauth](https://pypi.org/project/django-allauth/) (also covers parts of #625, #634, #1693)
- [ ] Webhooks themself (that s

[2021-08-23 21:22] eeintech commented on #1945
@matmair In that case, what was the intention behind disabling the interface globally, like in the permission system, instead of relying on the permission system, which does the exact same thing and is more secure because those disabled pages are **really** inaccessible?

[2021-08-23 22:15] SchrodingersGat commented on #1994
Where have you mapped `/home/inventree/data/` to on your local drive?

[2021-08-23 22:38] tkornack commented on #1994
Thank you both @marmair and @SchrodingersGat for your help!

As you suggested, I looked at the permissions on my /path/to/inventree_data and it was a patchwork of ownership by systemd-network and systemd-coredump. Easily fixed, and now the `invoke update` runs through perfectly.

is this why some don't like systemd?

[2021-08-23 22:38] #1994 closed

[2021-08-23 22:43] matmair commented on #1994
@tkornack I would say so but permissions are something everybody struggles with sometimes. No matter what system or service.

If you find anything in the docs that could have been phrased better or something that is missing feel free to create an issue or PR!

[2021-08-23 22:58] tkornack commented on #1994
I guess one doesn't normally test new installations very often, but I think it's possible that new installations on stock Ubuntu may indeed need to pay attention to the permissions in the data directory after the initialization and first run and set things straight if required.

[2021-08-24 02:03] #2007 closed

[2021-08-24 02:10] #2006 closed

[2021-08-24 04:13] #1986 closed

[2021-08-24 11:53] sintech commented on #1989
@matmair maybe it makes sense to add "Internal Cost" as separate column to BOM table and show it as additional line in "Pricing Information". Then it will be clear what are the sourses of Cost and/or Price even without tooltips.

[2021-08-24 12:27] Guusggg commented on #1984
Sorry for the slow reaction but it's functioning great now! Thanks a lot!
@SchrodingersGat

[2021-08-24 12:49] matmair commented on #1989
@sintech while I generally agree with your idea to serve everything we know in own columns I try to keep certain tables as narrow as possible. In the pricing view for example we have only half a page width so longer partnames present a problem. Therefore I suggested a tooltip as that can contain a lot more information with very minimal footprint.

[2021-08-24 15:13] eeintech opened #2014 "[BUG] All sections (stock, build, buy, sell) suddenly disabled"
**Describe the bug**

This image speak for itself:

![image](https://user-images.githubusercontent.com/4020546/130641745-206967e8-2065-4697-b09e-3ee0a3117c79.png)

**To Reproduce**

The only thing we've done is update to the version shown below.

* No javascript errors
* "hard" page refresh does not fix
* Local storage:

![image](https://user-images.githubusercontent.com/4020546/130642500-e149112a

[2021-08-24 15:15] eeintech commented on #2014
@matmair I believe this is related to #1999

This is comforting my concern about this unnecessary feature, see https://github.com/inventree/InvenTree/issues/1945#issuecomment-903816534

[2021-08-24 15:21] eeintech commented on #2014
More debug:
* Restarting the server loaded the settings correctly:

![image](https://user-images.githubusercontent.com/4020546/130643710-280bbc61-d2ea-499c-b856-70ff8ca07832.png)

![image](https://user-images.githubusercontent.com/4020546/130643728-9c017426-463a-47e6-9341-8d1fefc94714.png)

* After manually re-enabling all settings:

![image](https://user-images.githubusercontent.com/4020546/13064

[2021-08-24 15:31] eeintech opened #2015 "[BUG] Category parameters templates table does not load"
**Describe the bug**

In the "Categories" settings, the parameters templates for each category are not loaded when a category is selected, they only load when a new parameter template is added.

**To Reproduce**

1. Select category (table not loaded)

![image](https://user-images.githubusercontent.com/4020546/130645051-3f39fcd3-9dfa-4e7e-aa1b-3e7c384fc1f8.png)

2. Add parameter

![image](https://u

[2021-08-24 17:11] eeintech commented on #1985
@SchrodingersGat I was able to reproduce this issue (thank god, it was driving me crazy). Try those steps:

1. Go to list of purchase orders and enable all columns:

![image](https://user-images.githubusercontent.com/4020546/130659612-08d8d869-ac71-4747-8f30-c7d16ecc9619.png)

2. Now click on a purchase order. Click on "Order Items" tab. Enable all columns:

![image](https://user-images.githubuser

[2021-08-24 17:16] eeintech opened #2016 "[BUG] MPN sorting is broken in `Purchase Order Items` table"
1. Go to a purchase order details and click on "Order Items" tab.
2. Sort the `Purchase Order Items` table by MPN.

## Before sorting by MPN

![image](https://user-images.githubusercontent.com/4020546/130660558-0363ed63-af15-4259-8b36-6e9cdbf5c15c.png)

## After sorting by MPN

![image](https://user-images.githubusercontent.com/4020546/130660587-3027d82c-6e47-4a15-a034-efea1c83c0af.png)

** Javasc

[2021-08-24 23:32] markdedeuge commented on #1966
These were workflows running 'on github' as part of one of the docker PRs I had up.
Its caused by the github images (ubuntu etc) having some older sources cached. So unless you update them, _certain_ packages will cause this issue.
Some google-ing revealed that this problem is not new and has happened in the past.

@SchrodingersGat i'll raise a PR today that sets the build images for each test to

[2021-08-25 07:54] SchrodingersGat commented on #2015
@eeintech cannot seem to reproduce this. Can you see (in the "developer" tab) if the browser is sending off any API requests when you select the category from the drop-down menu?

[2021-08-25 14:23] eeintech commented on #2015
@SchrodingersGat Umm really weird it is working for you.

Yes it is sending a `GET` request, some examples:
[code]

And I see some debug output from the JS:

![image](https://user-images.githubusercontent.com/4020546/130808174-18f6a026-4c9a-48e1-8f0f-cb47e1acf3c7.png)

`(index:3806)` points out to this line:
https://github.com/inventree/InvenTree/blob/75152fab0e0fb405c676a991a8a2920c78943e93/Inven

[2021-08-26 11:00] SchrodingersGat opened #2022 "[BUG] Filtering "owner" fields in API forms is broken"
**Describe the bug**

Any field in an API form which references an "owner" (e.g. "user" or "group") cannot be filtered by entering search text. The search text has no effect and *all* results are always displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a model which has an "owner" (e.g. "Edit Purchase Order")
2. Enter text into the "responsible" field
3. Results are not filtere

[2021-08-27 12:08] irameez opened #2025 "[BUG] Showing NaN to NaN of undefined rows"
**Describe the bug**
When making a sales order if you select the show "All" rows and then add items in the order it shows this line  *"Showing NaN to NaN of undefined rows"*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create new sales order and enter details'
2. Click on 'add part'
3. See error

**Expected behavior**
It should show some coherent message like all lines

**Screensho

[2021-08-27 15:19] #2025 closed, assigned to nobody

[2021-09-01 19:25] matmair commented on #625
@Zeigren @rcludwick there is a PR now that integrates OAuth and OpenID. Would you be interested in testing this in the next few weeks? It is not polished right now and the docs are just coming together but I would really appreciate input from real-life deployments.
I can not predict when this will be merged as there is a lot to test and this represents a big change in core functionality.

The PR d

[2021-09-01 21:45] djex opened #2029 "Cannot start service inventree-worker"
Hello. I followed the instructions here: https://inventree.readthedocs.io/en/latest/start/docker_prod/ for the Inventree production server and every time I go to start the server I get the following error. I'm not sure where to go from here. I'm using the latest release version 0.4.5 and have confirmed the file start_prod_worker.sh exists.

[code]

[2021-09-01 22:27] djex commented on #2029
Just an update. Followed instructions using latest from master and it's works without issue.

[2021-09-01 22:35] #2029 closed

[2021-09-01 22:46] SchrodingersGat commented on #2029
@djex the docker build system recently got refactored so the latest docs may not match an older tagged release! Glad that you got it working :)

[2021-09-03 17:52] eeintech opened #2032 "[BUG] Copy to clipboard icon shadowing"
**Describe the bug**
Noticed this issue in the version modal, but it's everywhere on the UI:

![image](https://user-images.githubusercontent.com/4020546/132047096-879ea72d-6c0f-4afb-959f-f7c0b0c452aa.png)

Also there are some issue with loading the FontAwesome icons on this modal.

**Expected behavior**
Icon on right-hand side should be hidden:

![image](https://user-images.githubusercontent.com/4

[2021-09-03 22:20] SchrodingersGat commented on #2032
Introduced in c90f9b04472576bc805696372e829ac837c8f264

https://github.com/inventree/InvenTree/blob/c275bf8d986446a4978b1ab29e8af4c2f915af68/InvenTree/templates/clip.html#L4

`<i> .... </em>` is not valid HTML ;)

[2021-09-03 23:43] #2032 closed

[2021-09-06 00:43] SchrodingersGat commented on #1762
@Oakman-Dev iOS app is now available! :)

[2021-09-06 07:24] Oakman-Dev commented on #1762
@SchrodingersGat Is there a way for me to use if if I've already bought the Android version?

[2021-09-06 07:33] SchrodingersGat commented on #1762
No sorry, the two apps are completely separate

[2021-09-06 07:35] Oakman-Dev commented on #1762
@SchrodingersGat No worries, I'll make sure to get the iOS version then as well. :) Btw, any news on printing labels directly from the app/platform (to a networked label printer) without having to go through a printing menu etc?

[2021-09-07 12:42] lekalt opened #2035 "[FR] Custom parameters for BOM-Items"
**Is your feature request the result of a bug?**
\-

**Problem**
I am using InvenTree to manage electrical parts and PCB's (by BOM).
The offered solution "PartParameters" / "PartParameterTemplates" is great but seems to be missing for BOM-Items.
A similar feature would be great for adding part-independent parameters to BOM-Items (e.g.: **alternative part(s) with preference**, is_fitted, etc. ).

*

[2021-09-07 13:56] #2001 closed

[2021-09-07 14:21] eeintech commented on #2035
@lekalt A lot cof this an be done with the current system. Could you please give a real-life example of BOM using those parameters?

[2021-09-07 14:26] eeintech commented on #1762
@Oakman-Dev You may want to open a "feature request" issue for this :wink:

[2021-09-07 14:26] eeintech commented on #2032
Thanks @SchrodingersGat

[2021-09-07 16:03] matmair opened #2036 "[3rd party integration] Webhook receiver"
Add a general webhook receiver for plugins.

- [x] general endpoint
- [x] HMAC verification
- [x] fast response -> use worker
- [x] unittests
- [x] messge-logging

Part of #1421

[2021-09-07 18:16] matmair opened #2037 "[3rd party integration] plugins!"
Define plugins for 3rd party integration:
- [x] URL integration
- [x] settings integration
- [x] add navigation tabs
~~- [ ] add tab to part view~~ -> #2063
~~- [ ] signals~~ -> #2064
- [x] plugin signing
- [x] plugin updating ->git submodules?
~~- [ ] plugin repo~~ -> #2065

Part of #1421

[2021-09-07 18:22] matmair opened #2038 "[3rd party integration] webhook sender"
Add webhooks that can be subscribed to via the API and are added by plugins.
- [ ] webhook sender based on senders / workers
- [ ] use HMAC / keys to be accepted in high-security enviroments
- [ ] API to add webhook to user
- [ ] API to add webhook to part
- [ ] API to add webhook to company
- [ ] settings: limit webhooks

optional:
- [ ] log send events -> warning if hook fails a lot

Part of #14

[2021-09-07 18:32] matmair commented on #1693
This is similar to #625 but more specific about how it could be implemented.

[2021-09-07 18:35] matmair commented on #1421
@SchrodingersGat could you add issues #2036, #2037. # 2038 to the milestones for the plugin system as todo? I do not have sufficient rights to change anything in projects/milestones.

[2021-09-07 22:02] SchrodingersGat commented on #1762
@Oakman-Dev definitely open a new issue for this feature :)

[2021-09-08 02:27] SchrodingersGat opened #2042 "[BUG] BOM Item API is unreasonably slow"
**Describe the bug**
When viewing a BOM table, the API request for the various BOM items takes a significant amount of time.
For example in my test instance, a BOM with only 25 items takes 1050ms to load.

Need to investigate why the BOM serializer / API is so slow.

### Query Speed Tests

- There are 2100 BomItem objects in the database

| Condition | Query Time |
| --- | --- |
| List all items |

[2021-09-08 06:11] SchrodingersGat commented on #2035
A worked example would be great to help understand what you're trying to achieve :)

[2021-09-08 17:55] sintech opened #2045 "[FR] Relax requirements for "Installed" items"
**Problem**
Both Component and Assembly parts have to be Trackable to be installed in one another.
My usecase: tracking of computer parts inside computer assemblies. Every computer has: case, motherboard, hdd, etc.
I would like to create "Computer" part as assembly and all of its sub-parts as components and install them into "Computer" to know precisely where they are stored. Making them all track

[2021-09-08 18:39] matmair commented on #2045
Sounds like a simple general-purpose asset-management solution would be better suited for your use case.
I personally would not treat this with high importance but if it does not break anything else why not. @sintech would you be willing to implement this? Should be fairly easy.

What do you think @SchrodingersGat @eeintech ? yes 🚀, alternative solution 👍 or  no👎 ?

[2021-09-08 19:55] eeintech commented on #2045
Here is how I interpret the idea: installing a number of "thing" into a number of "another thing" **without** specifically having a way to point which "thing" item goes to which "another thing" item.

I _think_ most of the logic is already present in the build **allocation** process, but this would have to be ported over to stock items. And maybe a global "stock item allocation" makes more sense,

[2021-09-09 01:37] SchrodingersGat commented on #2045
@sintech I think what you are proposing would quickly become very complicated. The current "install into" logic is implemented in a particular way so that the BOM / assembly relationship defines what sort of parts can be logically installed into other parts.

If *any* part could be installed into *any* other part, how do you actually select the parts in the software, when you have thousands of dif

[2021-09-09 07:26] sintech commented on #2045
Thank you guys for comments.
@SchrodingersGat I agree about requirement for component to be in assembly BOM to be installed.
But why both assembly and component have to be trackable? How this helps with mess avoidance?

You also mentioned tedious part selection process (if any part could be installed), how is this differ from adding a line to a BOM?

[2021-09-09 11:09] lekalt commented on #2035
Thank you very much for your fast reply and sorry for the time it took for mine...
Here is the requested example:

|ID|Category|Description|BOM Position|Alternative category|Preference|Fitted|Type|Quantity|Value|Specification|Manufacturer|Manufacturer number|Casing|Designator|
|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|
|100|Resistor|Resistor 1k2, 0805|1|C|0|yes|SMD|1|1k2|125mW/1

[2021-09-09 14:15] eeintech commented on #2035
@lekalt All information shown can already be exported, make sure to toggle all options:

![image](https://user-images.githubusercontent.com/4020546/132702434-ebd098c8-babe-44d0-a40a-c67039c4a9c4.png)

[2021-09-09 14:54] lekalt commented on #2035
@eeintech I toggled all options. Still I am missing an option for an Item e.g. BOM-Position 6:
|ID|Category|Description|BOM Position|Alternative category|Preference|Fitted|Type|Quantity|Value|Specification|Manufacturer|Manufacturer number|Casing|Designator|
|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|
|105|Connector|Connector SMD 4pol.|6|A|0|yes|SMD|1|||Würth Elektronik|620 104 13

[2021-09-09 15:58] eeintech commented on #2035
@lekalt Here's is how I see it:

1. Alternative parts should be on the same line, with the same ID. Which is why you can have multiple supplier/manufacturer parts per part in InvenTree. What you are trying to do is prioritize them in order of appearance by column, it shouldn't be by row. I think that supplier parts exported to BOM are currently sorted by date they were created. Could be a nice-to-

[2021-09-09 16:08] eeintech commented on #2045
@sintech I guess I missed this part of your solution:

That I completely **disagree** with, and completely agree with @SchrodingersGat

For the two first points:

I think there are fair request because this is basically how allocation currently works: there is no need to have the parts be "trackable" to allocate them into a build order. And the build order can create stock items that are not track

[2021-09-09 16:25] sintech commented on #2045
@eeintech Yes, I admit that component must be a part of assembly BOM to be installed. I was a bit rash about it.
If all agree that "trackable" requirement could be removed I would like to try to implement it by myself including Location display fix.

[2021-09-09 22:30] lettore opened #2046 "[BUG] Unable to start Docker worker with latest tag"
**Describe the bug**
Using the latest https://github.com/inventree/InvenTree/blob/master/docker/docker-compose.yml I'm unable to start the worker container. While the server start but crashes as the worker in unable to boot, the worker started with the command: invoke worker crash with  ModuleNotFoundError: No module named 'django'.
I'm not running a docker compose but a swarm stack, it always wor

[2021-09-11 20:25] matmair commented on #2046
@lettore seems like the django install did not work. Maybe rerun the install steps.

[2021-09-12 11:40] lettore commented on #2046
This problem occurs only with latest tag, with 0.4.5 and before there's no problem so it's for sure a bug in the Docker build of the latest tag.

[2021-09-12 13:15] SchrodingersGat commented on #1983
@Guusggg closing this for now, please let me know if you can replicate this and wish to re-open

[2021-09-12 13:15] #1983 closed

[2021-09-12 13:15] SchrodingersGat commented on #1992
Closing due to lack of activity - please let me know if you wish to continue to pursue this.

[2021-09-12 13:15] #1992 closed

[2021-09-12 14:46] matmair commented on #2046
@lettore have you tried old tags on your current setup? That would be the only way to be sure.

[2021-09-12 14:47] matmair commented on #2046
@SchrodingersGat could that be any changes in docker?

[2021-09-12 17:39] lettore commented on #2046
I managed to find what is the problem, the container was running as user root, reverting to user inventree made all work.
I will close the issue and hope that will be useful for someone else.

[2021-09-12 17:39] #2046 closed

[2021-09-13 01:21] markdedeuge commented on #2046
@SchrodingersGat Given the pythonpath is not registered for a root user, it might be a good idea to test the UID in the entrypoint script and throw a user-consumable error saying that django wont be found when running as root. And/or add in the corrections needed?

@lettore were you modifying the entrypoint or command directly? and were you specifying the `user: root` directive in your compose fil

[2021-09-13 03:11] SchrodingersGat commented on #2046
@markdedeuge want to submit a PR for this?

[2021-09-13 06:33] lettore commented on #2046
@markdedeuge no I didn't changed the entrypoint or command.
In compose I added user: 0:0

[2021-09-13 08:52] lekalt commented on #2035
@eeintech Thank's for your ideas!
Probably this explains my problem better:
[https://www.altium.com/documentation/altium-designer/bom-management-with-activebom-ad#!including-an-alternative-part](url)

I need custom parameters in the BOM independent from the part. The alternative parts aren't the same part from different manufacturers. The only thing the parts have in common is the "BOM Position".

[2021-09-13 12:38] SchrodingersGat commented on #2035
The concept of an "alternative part" is one that has been discussed here before. I think there would be a good case for it, although it would be somewhat difficult (not impossible) to implement.

Can you explain a bit more what "category" and "priority" mean in the context of a BOM here?

[2021-09-13 12:45] SchrodingersGat commented on #2004
@matmair @eeintech do you think this is a small fix or will require a significant amount of work? I'm trying to determine if this should be slated for the `0.5.0` release :)

[2021-09-13 12:46] SchrodingersGat commented on #2014
Closing this one for now as the original bug is minor.

[2021-09-13 14:07] eeintech commented on #2035
@lekalt Honestly all those features you are referring to shouldn't be in InvenTree becausee in-depth BoM management tools and processed like sourcing splits is its **own** beast. What you want is to use your CAD tool or a paid PLM tool to generate your final BoMs. And then those BoMs are imported straight into InvenTree.
No need to add parameters or anything of this sort, the BoM in InvenTree shou

[2021-09-13 15:15] matmair commented on #2035
@eeintech I am with you in this, this is a PLM function for sure. The question is if we can support this with plugins that add functions on top of BOMs / parts.

[2021-09-13 15:22] matmair commented on #2004
@SchrodingersGat no quite sure where it goes wrong, will try to look into it.

[2021-09-13 16:16] eeintech commented on #2035
@matmair Anything can be done with time and effort, however InvenTree has to pick its battles. And I don't know that this one is worth fighting for at this moment, a lot of other aspects sound more important IMO.

[2021-09-13 16:53] eeintech commented on #2035
For instance, support for part revisions would be a much greater addition. It was in the back of my mind for a while now, maybe one day I'll give it a shot as it's quite annoying to have to spin-off a new/duplicate part each time for each project/circuit revision.

[2021-09-13 19:21] matmair commented on #2035
@eeintech my suggestion was not that one of the core contributors does it but I would be willing to assist @lekalt or anyone else willing to implement it - preferably as a plugin.

[2021-09-13 19:46] matmair commented on #2004
This is expected behaviour: The parts start out with a quantity of 0 - if you update the prices parts with a quantity of zero get removed.

I can not reproduce this.

This is a bug for sure. Investigating now

[2021-09-13 20:18] eeintech commented on #2004
Umm okay, it does not feel quite right though to punish user to have to **re-open** the form after quoting a quantity 0...

[2021-09-13 21:24] matmair commented on #2004
I do not see it as punishment put a shortcut to remove lines from the form when you tab through the entries and select parts / set quantities.
I think we had a similar discussion when this function was added. Should I add an information bubble to the form?

[2021-09-13 21:42] eeintech commented on #2004
Well the way I see it is that I will pull the price before setting the quantity. So yes at least explain that updating price for 0 quantity will remove those parts from the modal form

[2021-09-14 00:00] #2004 closed

[2021-09-14 05:59] bevanweiss opened #2057 "[FR] Ability to display 'Issues' that have been detected in the server from within the Web UI"
**Is your feature request the result of a bug?**
Nope (at least I don't think so)

**Problem**
I'm new to InvenTree, but it seems awesome for my at home electrical/electronics parts.
I've had some challenges getting a stable configuration however, but have got 0.4.5 currently working well enough for me to feel confident throwing data into it.
However, my docker based install does apparently have s

[2021-09-14 06:12] matmair commented on #2057
@bevanweiss thanks for the report!

I think your problem can be solved by configuring email correctly. Information for that ca be found by clicking on the yellow alert below the issues detected

[2021-09-14 07:50] bevanweiss commented on #2057
Ahh, it was indeed one and the same.
I didn't care for the email settings at the time, so didn't configure, and there wasn't an obvious linkage between the 'issue detected' being that the email settings weren't configured.

The colours on the two indications didn't seem correlated (Issues detected red=critical, vs Email settings yellow=warning), and the email settings depiction wasn't "nested" und

[2021-09-14 16:03] matmair commented on #2057
@SchrodingersGat @eeintech should we 'fix' this or leave it?

[2021-09-14 18:06] eeintech commented on #2057
"Issues" is quite a strong word :smiley:

I think it'll be nice to have more information :+1:

[2021-09-15 07:45] SchrodingersGat commented on #2057
I think we can definitely improve the messaging here. At the very least, if there are no *critical* issues, it should not display as RED

[2021-09-15 18:05] laurus-lx opened #2058 "[FR] Implement tracking of storage containers (part bins/bags/boxes/storage cases/toolboxes)"
**Is your feature request the result of a bug?**
No

**Problem**

It's currently difficult to track location of inventory inside movable containers - (part bins/bags/boxes/storage cases/toolboxes). It's hard to know what's inside various storage boxes and keep track of where they are. Bags with parts tend to get lost.

Locations module presumes fixed location, and is very limited in functionality

[2021-09-15 22:49] SchrodingersGat commented on #2058
Hi @laurus-lx thanks for the comments

Stock locations currently do support barcodes, and actions such as "bulk check in" are supported if you have a barcode scanner (or use the Android / iOS app).

What is missing now is the ability to move an entire location (into another location) via barcode scanning. This would be a good addition, potentially some locations could be marked as "fixed location"

[2021-09-16 00:13] laurus-lx commented on #2058
Hi SchrodingersGat,
Thank you for the feedback. Yes, need ability to move and track history of locations with some easy to use interface.

Example would be - small bags with electronics components and kits being checked-in to a bin, then later moved to a different bin or box when resorting inventory.

Or perhaps a better way to handle this would be to make each parts bag or box a stock item, and a

[2021-09-17 10:26] dermodmaster opened #2059 "[BUG] App: Can't create/modify entities with umlauts in string"
**Describe the bug**
I can't create/modify entities with umlauts (e.g. ä ö ü) in a name in the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to parts > actions > new category
2. try to create the category "Geräte"
3. See error

**Expected behavior**
Entity should be created/modified without error

**Screenshots**
![Screenshot_20210917-122130](https://user-images.githubusercontent.c

[2021-09-17 10:53] SchrodingersGat commented on #2059
Thanks for reporting this @dermodmaster

Will have to look into this one for you :)

[2021-09-17 11:00] ugintl opened #2061 "Installation on LAMP stack"
Is it possible to install it on a lamp stack with python?

[2021-09-17 11:07] matmair commented on #2061
@ugintl yes. Although I would not advise to use this method if you are not somewhat knowledable about linux, how webservers work and how to configure nginx or apache2
 The relevant docs are [here](https://inventree.readthedocs.io/en/latest/start/install/)

[2021-09-17 11:13] ugintl commented on #2061
I have seen the docs couple of times before, but I do not think I will be able to pull this off unless there is some proper documentation available for my use case. Thank you for your time. The option of using Mysql got me excited :)

[2021-09-17 12:07] SchrodingersGat commented on #2059
@dermodmaster are you using the app on iOS or Android?

[2021-09-17 12:46] SchrodingersGat commented on #2059
@dermodmaster I've just uploaded `0.4.7` for release which fixes this issue. Normally takes a day or two to be available for download.

I'll close this issue out for now, if the new version does not address the issue for you please feel free to re-open and we can work on it further.

[2021-09-17 12:46] #2059 closed

[2021-09-18 09:52] matmair commented on #2061
@ugintl I will close this issue for now - if you encounter issues feel free to ask!

[2021-09-18 09:52] #2061 closed

[2021-09-18 11:56] matmair opened #2063 "[3rd party integration] add tab to part view"
Enable integration of plugins into specific views/templates.

Part of #1421

[2021-09-18 12:00] matmair opened #2064 "[3rd party integration] signals for plugin actions"
Add signals for plugins actions etc. . Maybe replace ActionPlugin loading with it.

Part of #1421

[2021-09-18 12:05] matmair commented on #2038
This is not really needed for the MVP #1421 so I will do it at a later point.

[2021-09-18 12:09] matmair opened #2065 "[3rd party integration] plugin repo"
Long term: Integrate a plugin repo/overview page like [ocotoprint](https://plugins.octoprint.org/) has it for example.

Part of #1421

[2021-09-18 12:11] matmair commented on #2065
@SchrodingersGat how do you feel about this? Would that be a long term goal for you or not?

[2021-09-18 21:53] matmair opened #2066 "General discussion: refactor of plugin structure"
Hey @inventree/maintainer @inventree/triage !
I am currently developing a broader plugin system (https://github.com/matmair/InvenTree/tree/plugin-2037) that enables a lot of different integrations into the system.

I would like to refactor the existing code for plugins (ReportPlugin, BarcodePlugin and ActionPlugin) to streamline them:
1. load all plugins at startup into settings variables -> only

[2021-09-19 08:08] dermodmaster commented on #2059
android and the problem is fixed. Thank you! :)

[2021-09-19 23:06] SchrodingersGat commented on #2065
I like it! Obviously there's a lot of details to work out here, and I'd like the "core" plugins to be very carefully integrated and maintained. I'm excited about the idea, though.

[2021-09-20 00:13] SchrodingersGat commented on #2066
100% the plugin architecture needs addressing.

I do not think that there are currently *any* plugins, let alone users. The exiting plugin framework never received much attention, I'm glad that you have been giving it some thought!

I am very much in favor of a cleaner, streamlined implementation. With working examples would be great!

[2021-09-20 04:57] matmair commented on #2065
@SchrodingersGat ok I will built in some stuff to support that in the future. A full repo with website etc. ist definitively 1.0 stuff though.

[2021-09-20 17:44] #2066 closed

[2021-09-21 11:34] matmair commented on #2063
@SchrodingersGat could you tag this for the plugin project too?

[2021-09-21 11:35] matmair commented on #2037
@SchrodingersGat could you add this to the plugin project too?

[2021-09-21 14:31] r1me opened #2069 "[BUG] invoke superuser asks for username then does nothing"
**Describe the bug**
I'm at the last steps of InvenTree installation on my RPi 3B+ buster. `invoke superuser` asks me for username, once I typed it in (or left it empty) and pressed Enter, it didn't ask me for password. Database is configured and server is running, InvenTree login page can be viewed fine.

**To Reproduce**
[code]

**Expected behavior**
I believe I should get prompt for the user pa

[2021-09-21 22:08] matmair commented on #2069
@r1me python in the raspi seems to sometimes have a problem with pty.
Please try to run
'cd InvenTree
python manage.py createsuperuser'

[2021-09-21 23:34] #2057 closed

[2021-09-22 00:15] r1me commented on #2069
Yup, that worked immediately. Thanks.

[2021-09-22 00:15] #2069 closed

[2021-09-22 04:17] SchrodingersGat commented on #2058
@laurus-lx I've assigned this to the `0.6.0` release milestone

[2021-09-22 14:33] bobflycreek opened #2070 "[APP] pages renders without style sheet"
**Describe the bug**
A clear and concise description of the bug or issue

**To Reproduce**
Steps to reproduce the behavior:

1. Go to ...
2. Select ...
3. ...

**Expected Behavior**
A clear and concise description of what you expected to happen

**Screenshots**
If applicable, add screenshots to help explain your problem

**Version Information**

- App platform: *Select iOS or Android*
- App versio

[2021-09-22 14:35] bobflycreek commented on #2070
followed instructions to run production on bare metal.
when testing gunicorn via /home/inventree/env/bin/gunicorn -c gunicorn.conf.py InvenTree.wsgi -b 127.0.0.1:8000

all that renders is the login / password box - no style and background images

[2021-09-22 14:36] matmair commented on #2070
@bobflycreek could you please fill out the template? We need that information

[2021-09-22 14:44] bobflycreek commented on #2070
when browsing to http:127.0.0.1:8000 all that renders is the login and password box without any style sheets

followed instructions provided by setup instructions - followed baremetal production install

expected full web page with styles and background

![image](https://user-images.githubusercontent.com/91205516/134365264-8ec009cc-6c65-4ffe-bb04-ecc30f48e812.png)

Should I be on an older version?

[2021-09-22 17:31] matmair commented on #2070
@bobflycreek if you want to run this in production yes. The bleeding edge can be buggy.

Are you sure you followed all instructions? Have you set up apache or nginx for serving static content and media?

[2021-09-22 17:56] bobflycreek commented on #2070
I went back through the setup again, this time when I run from the CLI it renders. when I run from supervisor the inventree-cluster fails to start
this the error in the log--> Error: Missing required database configuration value ENGINE

the config.yaml has the correct values

is there another config setting I am missing?

[2021-09-22 18:01] bobflycreek commented on #2070
My bad -- forgot YAML files are space sensitive

[2021-09-22 18:01] #2070 closed

[2021-09-22 18:05] matmair commented on #2070
Happens to the best. Feel free to ask if any other problems arise.

[2021-09-23 06:01] reilly-callaway opened #2072 "[FR] Deleting a part is not discoverable"
**Problem**
At first glance, there is no way to delete a part. Requires marking a part as inactive first before revealing the "delete part" button. Makes deleting a part very undiscoverable in the ui.

**Suggested solution**
Show the delete part button even when a part is still active. When selected, prompt the user to mark the part as inactive first (or suggest the user leave the part as inactive

[2021-09-23 10:40] SchrodingersGat commented on #2072
Nice idea, button would still be hidden for users who don't have "delete" role for parts

[2021-09-23 10:45] matmair commented on #2072
@reilly-callaway would you be willing / able to develop this?

[2021-09-23 19:01] G-Pereira opened #2073 "Stock allocation for template parts does not work in the same way as simple parts"
Allocating stock of template parts shows stocks of all variants, however completely allocated stocks are also displayed, and once selected the count goes to zero on the second input field but there is no way of knowing which stock item has the required quantity unallocated. The only way of knowing is selecting one of them, checking if the value goes to zero on the other input field and if it does,

[2021-09-23 22:29] matmair commented on #2037
PoC functions are developed - now unittests, refactoring, QoL improvements and docs!

[2021-09-24 00:43] SchrodingersGat commented on #2073
@G-Pereira can you provide some screenshots of the issue here for clarity?

[2021-09-24 22:05] matmair opened #2076 "[3rd party integration] import key from github"
The plugin system supports checking if the plugin code (at least the last change on the plugin-class file) was signed.
If the pubic key is not in the gpg install of the server it is marked E. To solve this problem a mechanism to import public keys (to start with from github) should be integrated.

[2021-09-25 21:47] bgrant85 opened #2078 "Issue migrating my powershell setup to Ubuntu"
This is a request for help - not a bug.
I have 0.4.5 running on windows under powershell.  I've reconfigured the dev setup to use postgres database.
Everything is working well and I want to move it over to my ubuntu production setup.  I did this using git.
On the Ubuntu setup, I've run the build command and it seems to build ok.  However when I run the update command, I get the following:

gi@itse

[2021-09-26 07:36] SchrodingersGat commented on #2078
The docker setup has changed since the `0.4.5` release, and the latest installation guide docs do not necessarily match.

You should copy the [example docker-compose file](https://github.com/inventree/InvenTree/blob/47c385cac28eae3057d058cb9e614297ae228133/docker/docker-compose.dev.yml) as of the `0.4.5` release

So instead of targeting `init.sh` you will need to target `start_dev_server.sh` and `

[2021-09-27 20:03] Matthewmads commented on #2078
I have a question that I believe relates to this.

I'm trying to build a docker development server and I'm encountering a similar issue.

In docker Desktop under my container terminal I'm getting the error
"/bin/bash: ./docker/init.sh: No such file or directory"

When I dig into the docker folder I'm not seeing a Start_dev_server.sh or the corresponding worker file. I downloaded the source from gi

[2021-09-27 21:45] SchrodingersGat commented on #2078
@Matthewmads can you please paste the **exact** commands you are using in your system shell to bring up the docker-compose images?

[2021-09-27 23:30] SchrodingersGat opened #2081 "Improve page load speed"
Page loading speed (especially for the "part" page) can be very slow.

Compared to the API which is (normally) lightning fast.

- Profile the page load / template rendering
- Optimize DB hits

[2021-09-28 11:51] Matthewmads commented on #2078
This is from the terminal in VS Code.

`` PS C:\InvenTree\docker> docker-compose -f docker-compose.dev.yml up -d
[+] Running 1/2
 - Container inventree-dev-server  Started                                              t-Location], ItemNotFoundException
                                                                                        and
                                            0.1s
 - Cont

[2021-09-28 22:42] matmair commented on #2037
Unittests are done now. Coverage is around 95%.
Docs incoming.

[2021-09-28 23:02] matmair commented on #2081
@SchrodingersGat the way the parts view works now all sections get loaded, maybe that could be optimized. I see 13 connections that need to be made every time. And a very long rendering time on the main HTML.

[2021-09-28 23:04] SchrodingersGat commented on #2081
Yes I think the main HTML loading is inefficient, most likely some poorly considered database hits in the background! Will need some profiling work :)

[2021-09-29 19:59] matmair commented on #1848
This was closed with #2068

[2021-09-29 19:59] #1848 closed

[2021-09-30 00:41] SchrodingersGat opened #2085 "[FR] Custom "full name""
Currently the way that part "full name" is displayed is hard coded.

(Initially based on preference at my company)

However it would be useful to allow this to be specified as a global setting.

e.g. add a setting `PART_NAME_FORMAT` which can accept jinja style templating, e.g.

[code]

would produce the current name string formats

[2021-09-30 02:49] SchrodingersGat commented on #2078
So you get past the "Create Database" and "Create Superuser" commands fine?

Have a look at where the "src" volume is mounted from (on your local machine)

[code]

You should see that it points to ```C:\InvenTree```

![image](https://user-images.githubusercontent.com/10080325/135377782-910d4bac-ef40-4e86-9ba9-4eaa2c31d616.png)

[2021-09-30 02:56] SchrodingersGat commented on #2078
You should not be getting any error messages relating to "start_dev_worker.sh" - this file is now defunct (and does not appear in the codebase).

Do you have another (older) installation of InvenTree somewhere? Perhaps the docker volume is pointing to the old installation?

[2021-09-30 10:26] SchrodingersGat commented on #1989
Changing this to 0.6.0

[2021-09-30 12:39] Matthewmads commented on #2078
I went to run thru the docker install again and when I use
`docker-compose -f docker-compose.dev.yml run inventree-dev-server invoke update`

I'm getting an "init.sh file not found."

Going to wipe everything and try a fresh install.

[2021-09-30 14:49] Matthewmads commented on #2078
Got a fresh install up and running, The only thing I did differently this time around was add the C:\inventree path to the Docker Compose file for the production environment AS WELL AS the Compose file for the development server. Not sure how this happened but I am currently running the dev server with no issues as of writing this.

Thanks for you help @SchrodingersGat, If I figure out the why i w

[2021-09-30 15:17] AntoWkill opened #2087 "[BUG] After updating Error in start"
Hello after updating i can't start the server

ERROR: ModuleNotFoundError: No module named 'django_q'

`(inventree-env) root@xxx:/var/www/html/inventory/inventree/InvenTree# gunicorn -c gunicorn.conf.py InvenTree.wsgi
[2021-09-30 17:14:41 +0200] [2054610] [INFO] Starting gunicorn 20.1.0
[2021-09-30 17:14:41 +0200] [2054610] [INFO] Listening at: http://xxx:8001 (2054610)
[2021-09-30 17:14:41 +0200]

[2021-09-30 15:23] matmair commented on #2087
Hi @AntoWkill please use the templates when reporting bugs as the information asked there is needed for fast triage.

Seems to me that the requirements were not installed. Have you run 'inv update' after updating? Did you use GitHub to pull and what commit are you on? Did you restart the webserver and worker after upgrading?

[2021-09-30 15:27] AntoWkill commented on #2087
Last commit, i do inv update and restart webserver.

I see error: ModuleNotFoundError: No module named 'django_q'

[2021-09-30 15:33] #2087 closed

[2021-09-30 22:46] #2072 closed

[2021-10-03 03:03] bgrant85 opened #2092 "0.5.0 dev install issues"
I've run into problems trying to install 0.5.0 out the box, with no changes.
However its apparently a problem on my local machine.
I tried installing it on a "new" windows 10 machine, which required that I first install docker.
After installing docker, which included WSL2, and update to WSL2, and reboot, I unpacked Inventree 0.5.0 and ran
cd inventree/docker
docker-compose -f docker-compose.dev.ym

[2021-10-03 23:37] SchrodingersGat commented on #2092
Might be an issue with folder permissions?

Can you run the following command (on the system which is failing) and provide the output:

[code]

Should provide something like :

![image](https://user-images.githubusercontent.com/10080325/135775696-0fef7c3c-4fb4-4b78-b8bc-0fba0a086f0b.png)

[2021-10-04 01:48] SchrodingersGat opened #2093 "[FR] Email notifications for low stock"
When a part stock level falls below the "low stock" threshold, email any users who have "starred" that part.

[2021-10-04 02:32] bgrant85 commented on #2092
I ran this command.  The only difference in my result is that my compose version is 2.0.0
On my system that does work, my compose version is the same as yours.
Is this the issue?  Is there a way to install an older docker that has the 1.29.2 version?

[2021-10-04 02:42] bgrant85 commented on #2092
I used the docker version command on both systems and the output is identical

 Client:
 Cloud integration: 1.0.17
 API version:       1.41
 Go version:        go1.16.6
 Git commit:        3967b7d
 Built:             Fri Jul 30 19:58:50 2021
 OS/Arch:           windows/amd64
 Context:           default
 Experimental:      true

Server: Docker Engine - Community
 Engine:
  Version:          20.10.8

[2021-10-04 03:11] bgrant85 commented on #2092
I uninstalled docker desktop,  and reinstalled a version from 2.5 months ago.  I deleted all images and volumes and rebuilt, but still the same problem.  Inspection of the new volume still shows compose version 2.0.0 even though the docker version is considerably older, as shown by the version command.
 Client:
 Cloud integration: 1.0.17
 Version:           20.10.7
 API version:       1.41
 Go ver

[2021-10-04 03:37] bgrant85 commented on #2092
Ok, with lot of work, I was able to downgrade my docker-compose to 1.29 and it seems to have fixed the problem.

[2021-10-04 04:22] SchrodingersGat commented on #2092
@bgrant85 that's very strange. What was the process you had to follow to downgrade?

[2021-10-04 11:44] bgrant85 commented on #2092
Actually it wasn't hard to do.  Just figuring out how was a bit of a challenge.
First download the new executable.  I found the link for this on the docs page for installing docker on **windows server**.
https://docs.docker.com/compose/install/
PS> Invoke-WebRequest "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-Windows-x86_64.exe" -UseBasicParsing -OutFile $Env:Program

[2021-10-04 17:06] Matthewmads opened #2095 "[BUG] Bluk Company import via admin page not adding data"
In trying to import a dataset (I've tried .xlsx and .csv, using the template columns) for our existing vendors list. When I click submit, the file is uploaded but nothing is populated (No data, no errors). the id field in my dataset is blank but when I add numbers to it I get the same result. I'm running in a development environment so i do not know if this occurs in production.

Steps to reproduc

[2021-10-04 17:37] G-Pereira opened #2096 "[BUG] After updating to 0.5.0 only the Parts tab is shown"
![image](https://user-images.githubusercontent.com/15521303/135897960-3674e989-1886-49fa-aa5f-c8be276df8b8.png)

[2021-10-04 19:28] eeintech commented on #2096
@G-Pereira Are other tabs enabled?

![image](https://user-images.githubusercontent.com/4020546/135912278-d263c0ea-66d1-4641-8cb2-59f0c3b57821.png)

[2021-10-04 19:47] eeintech commented on #2095
It's working for me. Try this file (XLSX format):
[company_test_import.zip](https://github.com/inventree/InvenTree/files/7280885/company_test_import.zip)

Maybe one of your fields is incorrect? Can you show a screenshot of the import step before confirmation? (hide sensitive data first)

![image](https://user-images.githubusercontent.com/4020546/135914784-a1bf01a2-19a9-41a2-aba6-35bfe5ec00ea.png)

[2021-10-04 20:25] Matthewmads commented on #2095
That worked. I was using a spreadsheet with all of the columns listed below. Not sure why the scaled down list is working but the full list is not. I tried some other variations with the full column list with no luck. I'll use the scaled down version for now and try to figure out what caused the bug.

thanks @eeintech

id, name, description, website, address, phone, email, contact, link, image, no

[2021-10-04 20:39] SchrodingersGat opened #2098 "[FR] Add background task to delete old error logs"
Error logs can accumulate, especially on a development setup.

Add a background task to periodically delete error logs more than a couple of months old.

[2021-10-04 20:39] SchrodingersGat commented on #2095
@Matthewmads it would be worth checking the error logs (in the admin interface) to see if an error was recorded:

![image](https://user-images.githubusercontent.com/10080325/135921427-5d24446b-5f5a-4cde-bb9d-1b76a017ac27.png)

[2021-10-04 20:40] SchrodingersGat commented on #2096
@G-Pereira did you stop the server before performing the update? Try restarting the server process

[2021-10-04 20:43] Matthewmads commented on #2095
@SchrodingersGat Error was not recorded in the log related to this one.

[2021-10-04 20:58] Matthewmads opened #2099 "[FR] Looking for feedback on part parameters"
**Is your feature request the result of a bug?**
No

**Problem**
I am working on setting up inventree for a commercial door supplier and I'm having some trouble understanding how parameters work in relation to stock. I would like to be able to enter stock and use parameters to identify various configurations found in our products. I'm able to add parameters from the admin page but when it gets to

[2021-10-04 21:07] matmair commented on #2092
@bgrant85 so can we close this issue? 😇

[2021-10-04 21:07] matmair commented on #2093
@SchrodingersGat would you like to develop this or should we mark this as help wanted?

[2021-10-04 21:16] matmair commented on #2099
@Matthewmads thank you for the detailed question! I have to think about this one a bit and maybe @SchrodingersGat or @eeintech have ideas about this too!
Have you looked into variants at all? I tend to use variants for one base part with different accessories etc. The parten / child relationship often helps with reducing double entry.

[2021-10-04 21:17] matmair commented on #2058
@laurus-lx do you need any assistance with this? We are happy to help!

[2021-10-04 21:19] matmair commented on #1484
I do not think this will go anywhere without central part history tracking. Will close this for now as I do not see a real need.

[2021-10-04 21:19] #1484 closed

[2021-10-04 21:22] matmair commented on #2063
After testing around a bunch with this I deem this a bad idea. It becomes very difficult to debug JS etc. and I think we can life without it.

[2021-10-04 21:22] #2063 closed

[2021-10-04 21:25] SchrodingersGat commented on #1484
Agreed. There are many actual function changes that take priority over a change like this.

[2021-10-04 21:27] SchrodingersGat commented on #2093
Probably "help_wanted" on this one, otherwise I'll get to it eventually. Will wait for your SSO / email integration changes to be merged in first :)

[2021-10-04 21:29] matmair commented on #1484
I thought maybe it could be a 'help_wanted' thing but it would probably be better if a core contributor / somebody with a deep understanding of InvenTrees innerworkings does this. Could be pretty bad for performance / maintainance.

[2021-10-04 21:32] matmair commented on #2093
Yeah that is definitely going to be a 0.6.0 thing though - should be tested a lot before I break auth to all running instances 🤭

[2021-10-04 21:39] bgrant85 commented on #2092
yes, thanks

[2021-10-04 21:39] #2092 closed

[2021-10-04 23:17] G-Pereira commented on #2096
@SchrodingersGat I didn't, but afterward I always reboot the system and this time was no exception.

@eeintech That did the trick weird how the update changes a thing like that. @SchrodingersGat was that intentional?

[2021-10-04 23:19] G-Pereira commented on #2096
Also I've noticed that enabling Sales orders does not enable Sales so enabling SO without enabling Sales is pointless.

[2021-10-04 23:39] SchrodingersGat commented on #2096
This is not an intended behavior, no. It needs addressing.

[2021-10-05 02:19] #758 closed

[2021-10-05 14:18] eeintech commented on #2099
Two ways you could to do this, on top of my mind:
1. template part and variants
2. categories parameters

Here is a brief explanation of both methods.

1. I would setup a template part with a set of pre-defined parameters, which values can be empty or set to default.
Then I'll go to the "Variants" tab and create all the different variants (eg. configuration) of that part/door, copying over all par

[2021-10-05 14:25] eeintech commented on #2096
@SchrodingersGat It happened to me too... see #2014 (this is a duplicate)

[2021-10-05 16:38] Matthewmads commented on #2099
@eeintech Thank you, This is very helpful! I hadn't considered using categories on such a granular level but it makes sense. I'll play with it some more and see where we end up.

I'm still somewhat new to github, is there a place to post results of conversations like this? a "Best practices" type of section perhaps?

[2021-10-05 17:10] eeintech commented on #2099
This could go into the documentation, as an example use-case scenario. But other than issues, I don't see where else.

[2021-10-05 21:47] G-Pereira commented on #2096
Closing this since it's a duplicate! Thanks @eeintech

[2021-10-05 21:47] #2096 closed

[2021-10-05 21:49] SchrodingersGat commented on #2014
@eeintech I think we should definitely address this one now. Do you think you would have some time to look into it?

[2021-10-05 21:57] eeintech commented on #2014
When it happened to me I dug all the information in hand and put this in this ticket. I was not able to reproduce it since then :confused:
Maybe way to reproduce is to spin-off a new instance from an older version like `0.4.0` then update to `0.5.0`. I guess I can try that?

[2021-10-05 22:51] matmair commented on #2014
The settings defaults could be part of the problem

[2021-10-06 03:44] SchrodingersGat opened #2104 "[FR] Add option to display stock quantity in "part" display (within forms)"
![image](https://user-images.githubusercontent.com/10080325/136137354-81fad1f1-ec45-4b0e-8da9-b36c40ea50cf.png)

Here it would be useful to know what stock is available for each part...

[2021-10-06 04:05] SchrodingersGat opened #2105 "[FR] Optional Recursive Stock Location display"
The "Sublocations" display is currently a flat table.

Could (optionally) be displayed as a tree-style table which may be more user friendly.

This should be switchable

[2021-10-06 04:07] afkiwers opened #2106 "Image does not show in full screen after adding and not refreshing the page"
The part image is not displayed as full screen when clicking on it just after it was added or updated using the upload dialog. When page is refreshed everything works just fine.

![image](https://user-images.githubusercontent.com/42826581/136138976-2e8bf17f-3f79-4519-9fef-fb955a108ef3.png)

[2021-10-06 04:08] SchrodingersGat opened #2107 "[FR] Add "source location" field to Part model"
This field would only be useful for "assembly" parts.

When a BOM is defined for an assembly, we may wish to define for the *assembled* Part *where* stock should be sourced from when building.

This field already applied to the BuildOrder model, but some benefits could be found from adding it to the Part model too:

We may wish to restrict that assembly to a particular location where parts are set

[2021-10-06 05:33] SchrodingersGat opened #2109 "[BUG] "Available Stock" field is not presented correctly when exporting BOM"
### Error

- "Available Stock" reported as e.g. 1.00000
- Should be normalized e.g. 1

- Specifically found in `.xslx` export format
- Need to try other formats

[2021-10-06 06:58] matmair commented on #2104
Nice idea @schrodingersGat the data gathering function should check if the user has the rights to access this kind of information before displaying it.

[2021-10-06 09:07] matmair opened #2111 "[FR] Current bootstrap version"
Hi @SchrodingersGat we are currently shipping Bootstrap 3.3.7 - I just tried to use cards and found out that those are from version 4. The current version is from 2016 - would you mind if I update this to bootstrap 4?

[2021-10-06 09:51] SchrodingersGat commented on #2109
Can not immediate reproduce. Will need to discuss further with coworker who reported it.

[2021-10-06 10:04] #2106 closed, assigned to nobody

[2021-10-06 10:36] #2098 closed

[2021-10-06 11:17] matmair commented on #2042
@SchrodingersGat that would def. make things faster. I would suggest a structure where we have a model for prices so we can call an overridable method for updating the prices. That would enable remotely fetched prices that update when queried (if a flag is set). Also extending or reducing prices would be easier that way.
Regardless of how we do this, it will be quite a refactor. Maybe close as man

[2021-10-06 11:17] matmair commented on #2042
@SchrodingersGat @eeintech does anyone of you want to tackle this? I would be open to give it a shot.

[2021-10-06 11:18] matmair commented on #2109
Also can not reproduce - maybe depends on the BOM itself?

[2021-10-06 11:28] SchrodingersGat commented on #2042
Yeah this is a complex one. I've bumped it to 0.7.0 so we can focus on open issues.

I like the idea of having a simpler model for implementing prices across the board. The pricing structure is currently so complex!

Let's hold off on this one until we've addressed the other large outstanding issues.

[2021-10-06 11:30] matmair commented on #2042
I will make a PoC so we can discuss how it should be done structurally and then start the restruc

[2021-10-06 11:40] #2104 closed

[2021-10-06 12:48] matmair commented on #2014
Old settings should auto-clean when running a update

[2021-10-06 12:51] eeintech commented on #2096
@G-Pereira Do you remember from which exact version were you updating from? Or the commit hash?
Which backend do you use?

[2021-10-06 13:01] G-Pereira commented on #2096
Yes, it was a tagged release as well 0.4.5
I am using a venv on bare metal at the moment

[2021-10-06 22:08] SchrodingersGat opened #2115 "[FR] Export Sales Orders"
Add "export" feature to sales orders, as exists for purchase orders

- Export to multiple formats
- Optionally include "allocated items"

[2021-10-06 23:28] SchrodingersGat opened #2116 "[FR] Github Workflow for testing docker image"
Currently we do not test that the docker image works!

Need to add a docker workflow which performs the following steps:

- Builds the development docker image
- Spins up an instance of the image
- Check that we get 200 from the index page
- Check that we can access the API

If any of the install / spin-up steps fail and we can't hit the server, we know something is wrong!

[2021-10-07 02:54] #2115 closed, assigned to nobody

[2021-10-07 07:32] matmair commented on #868
@SchrodingersGat so no comments wanted in the next while?

[2021-10-07 07:43] G-Pereira commented on #2096
Oh you've meant the database engine, MySQL

[2021-10-07 10:01] 71GA opened #2120 "[BUG] Inventree production server is running, but I can't connect to it."
I did all installation steps [here](https://inventree.readthedocs.io/en/latest/start/install/) and now started the Inventree with a Gunicorn from within my _"python virtual environment"_:

[code]
I can see that it is using the port `8000`:
[code]
But when I visit `http://<server's public ip>:8000` with my browser there is nothing there.

My `gunicorn.conf.py` configuration is as follows:
[code]

A

[2021-10-07 10:33] 71GA commented on #2120
The above screenshot is not normal behaviour. It shouldn't look this way. I already finished the tutorial, but look hasn't changed.

[2021-10-07 12:43] 71GA commented on #2120
This is exactly what I configured.

[2021-10-07 12:58] matmair commented on #2120
@71GA what webserver are you using? Please share the config for the section where inventree is configured?

[2021-10-08 12:22] 71GA opened #2123 "[BUG] No suplier pricing is shown"
I create a supplier (Digikey), I create the component and configure it as available from the created suplier. I make sure that Digikey's supplier number is inserted. When I check the pricing information for a component there is no pricing information available.

Are there any special requirments to do, before pricing information is available?

[2021-10-08 18:03] 71GA commented on #2123
@matmair Inventree didn't fetch any prices from Digikey. That is what I was trying. If this functionallity is not implemented, is there a way that at some point in time it will be?

[2021-10-08 18:26] 71GA commented on #2123
@matmair Yes. Website gives this impression. And I had to ask as some similar software uses it as well: https://partsbox.com/demo/purchasing/order/bhtfcjtqjggw49va0tn7hthz1z

[2021-10-08 18:41] matmair commented on #2123
Could you provide us with a link to where you saw that so we can revise that? It is suboptimal if ppl get the feeling that there is a feature that doe not exist.

Partsbox is great but costs if you want to have this kind of function enabled - as a hobbyist open-source software we do not have this. Contributions are always welcome!

[2021-10-08 20:16] matmair commented on #2123
Ah ok, it could well be that some wording is not perfect.
While we don't auto-fetch prices from suppliers we over a wide variety of tools for pricing, maybe take a look and check if it covers what you need.

[2021-10-08 20:17] #2123 closed, assigned to nobody

[2021-10-08 20:26] matmair commented on #2123
@71GA https://inventree.readthedocs.io/en/latest/part/pricing/

[2021-10-10 13:41] tambry opened #2124 "[BUG] User with no permissions generates exceptions"
**Describe the bug**
An user with no permissions only sees a blank page and exceptions are generated.

**To Reproduce**
1. Create an user
2. Don't assign any groups/roles
3. Login

[code]

**Expected behavior**
No errors, ideally maybe even an error message that the user has no permissions.

**Screenshots**
![2021-10-10_16-40-56_chrome](https://user-images.githubusercontent.com/1827708/136698231-8

[2021-10-10 22:05] afkiwers opened #2125 "Auto focus when adding an item to BOM"
Currently when opening the Create BOM Item modal, one needs to click onto the search field to be able to add a new part.

It would speed up adding items if one could do that without using the mouse every single time

![image](https://user-images.githubusercontent.com/42826581/136714371-42d6b3d9-5889-4f40-8e1c-4350383d3cfa.png)

[2021-10-10 23:10] afkiwers opened #2126 "Add Button to add an item when not found"
It would be great if there was a button appearing when there are no results which then enables the user to quickly add a part without leaving that dialog.

The user should then be able to search again, without closing the dialog, and find that newly created part in the search results. See example below.

![image](https://user-images.githubusercontent.com/42826581/136715831-e33e6cee-adad-48ce-a717-

[2021-10-10 23:46] #2125 closed

[2021-10-10 23:59] #2126 closed

[2021-10-11 00:00] afkiwers opened #2131 "Escape out of dialog with ESC key"
It would be handy if you could escape out of dialogs by hitting the Esc key. Would save some mouse work.

![image](https://user-images.githubusercontent.com/42826581/136717193-2239c810-a95f-4a4b-9bc7-71a9d1027968.png)

[2021-10-11 00:25] SchrodingersGat commented on #2124
@tambry where are you seeing the error message? I have attempted to replicate by making a user without any permissions. I see the empty home screen, but no error message.

[2021-10-11 00:41] #2131 closed, assigned to nobody

[2021-10-11 00:57] afkiwers opened #2134 "Prompt to add qty to an already existing in the bom when adding the same item again"
It would be great if adding an item to the bom which already exists in the bom would cause a prompt to appear to tell the user that the item already exists and if the user wants to simply add the additionally requested qty on top of the qty already in the bom.

![image](https://user-images.githubusercontent.com/42826581/136719301-f06096fa-6c5c-4f2c-9c29-59af0c74b076.png)

[2021-10-11 04:49] SchrodingersGat commented on #2120
@71GA I'm going to close this issue out, if you still have any question please feel free to re-open it.

[2021-10-11 04:49] #2120 closed

[2021-10-11 05:21] tambry commented on #2124
@SchrodingersGat In the server log. In my case in journalctl since I'm using systemd. But they also appear in the admin panel "Errors" page.

[2021-10-11 08:49] HelgiBergmann opened #2136 "Could not load common.InvenTreeSetting(pk=2): UNIQUE constraint failed: common_inventreesetting.key"
**Describe the bug**
Then try to import demo data with docker

**To Reproduce**
Steps to reproduce the behavior:
Download demo data to folder data, build the container, run migrations, and then  try to import demo data which get an  error(

**Expected behavior**
Fill database with demo data

**Screenshots**
![image](https://user-images.githubusercontent.com/78436722/136754646-9d4f6cda-bf4c-4bdb-b7

[2021-10-11 09:30] SchrodingersGat commented on #2136
I think that would be it.

To clear the database completely (but leave the schema migrations intact) run:

```invoke delete-data```

[2021-10-11 09:49] #2136 closed, assigned to nobody

[2021-10-11 19:41] 71GA opened #2139 "[FR] Running under Apache"
**Is your feature request the result of a bug?**
No

**Problem**
I like to keep all the webpages on my server running under Apache.

**Suggested solution**
Is there any way that at some point Inventree (production) server will run under Apache and not under Gunicorn?

[2021-10-12 01:26] G-Pereira opened #2140 "Migration import error from 0.5.1 to 0.5.2 on a new machine"
Error:
django.db.utils.IntegrityError: Problem installing fixture '/home/inventree/src/../data.json.tmp.json': Could not load common.InvenTreeSetting(pk=4): (1062, "Duplicate entry 'BARCODE_ENABLE' for key 'key'")

[2021-10-12 02:03] cmos2020-bit commented on #2092
Hi guys,

I'm, having exactly the same problems on Linux Mint 20. I really want to try the program, it looks great.
I have followed every step, and when running

"docker-compose -f docker-compose.dev.yml run inventree-dev-server invoke update"

The message I get is:

"  /bin/bash: can't open './docker/init.sh': No such file or directory  "

I'll appreciate your help.

Thank you guys!!

Patricio

[2021-10-12 02:45] bgrant85 commented on #2092
did you check your version of docker-compose?  My issue was fixed by going back to 1.29.  Version 2.x did not work for me.
`docker-compose --version`
Not sure if that issue is fixed or was just my problem.

[2021-10-12 04:36] 71GA commented on #2139
@matmair Okay. So any general tutorial on how to run Django App insiide Apache will probably do?

[2021-10-12 05:39] SchrodingersGat opened #2141 "[FR] BOM Substitution Framework"
Currently there is not really a framework by which "substitute parts" can be designated in the BOM.

A BOM line must point directly to the *sub_part* which is required for the assembly.

*There is facility for "variant" parts to be used, however this requires a complex variant-tree setup which is not complex enough to provide robust substitution*

There are two potential development pathways which

[2021-10-12 10:13] #2140 closed, assigned to nobody

[2021-10-12 10:49] SchrodingersGat opened #2143 "[FR] Add docker-compose v2 support"
Ref: https://github.com/inventree/InvenTree/issues/2092

[docker-compose v2](https://github.com/docker/compose/releases/tag/v2.0.0) is out, and breaks the current docker build for (as yet) unknown reasons.

Need to investigate if there is a way to support v2 and v2 of docker-compose simultaneously.

[2021-10-12 20:02] eeintech commented on #2096
Ok I don't know why it would but there could be in relation to the type of backend... it's quite rare error though and not reproducible...

[2021-10-12 20:03] matmair commented on #2123
@eeintech I already have that functioning. But there are a few things that need fixing/polish in the plugin system before I release that

[2021-10-12 20:04] eeintech commented on #2123
@matmair Yes I was referring to your work :wink: Better polish before jumping on the boat to quickly!

[2021-10-12 22:19] matmair commented on #2096
@SchrodingersGat I would say revert #1999 and leave this behind us.

[2021-10-12 22:43] SchrodingersGat commented on #2134
To achieve this we would need to add another layer of complex front-end form logic, more than just "display the form" and adjust the fields. I'm not sure how to do this in a simple manner.

(Currently most of the form logic is actually generated on the back-end)

I'll have a chat with @afkiwers offline (we work together) about how this could potentially be implemented.

[2021-10-13 00:36] Marbles87 opened #2147 "Build orders not able to filter Sequentially"
When trying to sort build orders by ascending or descending i get presented with an improper sequence.

Steps to reproduce the behavior:
1. Go to build orders
2. Click on arrow to sort by ascending or descending
3. See error

**Expected behavior**
To be able to sort in ascending or descending regardless of digit count.

**Screenshots**

![2021-10-07  Build Orders](https://user-images.githubusercon

[2021-10-13 01:36] Marbles87 opened #2148 "Completing a build order Quicker [FR]"
**Is your feature request the result of a bug?**
Unknown

**Problem**
Unable to batch process completed items for a build order. To complete the build output I need to go to each unique unit and complete the build output, This involves assigning a location, Status and flipping the confirm box . This is time consuming as I could potentially have items greater the 20+.

**Suggested solution**
By hav

[2021-10-13 02:35] SchrodingersGat commented on #2148
@Marbles87 is the existing issue - https://github.com/inventree/InvenTree/issues/1738 - the same as this one?

[2021-10-13 03:18] SchrodingersGat commented on #2124
Fixed in https://github.com/inventree/InvenTree/pull/2145

[2021-10-13 03:18] #2124 closed, assigned to nobody

[2021-10-13 03:48] SchrodingersGat commented on #2147
Valid request. This should be addressed for other order types too (i.e *Purchase Order* and *Sales Order*).

[2021-10-13 04:32] #2148 closed, assigned to nobody

[2021-10-13 08:15] tambry opened #2149 "[BUG] locale_stats.json is committed"
**Describe the bug**
`InvenTree/locale_stats.json` seems to change after a while when running the server:
[code]

Changes are shown since despite it being in `.gitignore` it was committed to the repo in https://github.com/inventree/InvenTree/commit/24f5410d3ce2ceb958ebe3b2525c4c68da959d7a. It seems that might be unintended?

**Deployment Method**
Bare Metal

**Version Information**
8dddb200c7dcd9e

[2021-10-13 13:20] #2149 closed, assigned to nobody

[2021-10-14 00:24] #2141 closed, assigned to nobody

[2021-10-14 05:23] afkiwers opened #2156 "[BUG] Enter bug description"
**Describe the bug**

When looking up stock items, some symbol seems to be not rendered properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an item with stock
2. Click on an available stock item

**Screenshots**
![image](https://user-images.githubusercontent.com/42826581/137256499-c097305a-25dd-44f6-9987-8fbfea291b3b.png)
![image](https://user-images.githubusercontent.com/4282658

[2021-10-14 05:42] #2156 closed, assigned to nobody

[2021-10-14 08:14] SchrodingersGat commented on #2139
@71GA I'm going to close this one out now - please comment back here if you have additional issues.

If you get it working and feel that some more documentation could help other users with an apache install, please submit a PR to the [inventree documentation](https://github.com/inventree/inventree-docs).

[2021-10-14 08:14] #2139 closed, assigned to nobody

[2021-10-14 08:32] #2147 closed

[2021-10-14 15:44] rocheparadox commented on #2093
Shall I take this up?

[2021-10-14 16:50] HelgiBergmann opened #2160 "ERROR 247"
**Describe the bug**
Then start first migration on a docker production server instalation

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
Apply migrations

**Screenshots**
![image](https://user-images.githubusercontent.com/78436722/137361571-1538b498-5822-4906-9fd2-5295e9a81d88.png)

**Deployment Method**
Docker

**Version Information**
Latest

[2021-10-14 18:35] HelgiBergmann commented on #2160
This was because my VPS didn't have enough power=)

[2021-10-14 18:35] #2160 closed, assigned to nobody

[2021-10-15 00:31] afkiwers opened #2166 "Filter does not seem to work"
**Describe the bug**
When creating a biuld order and searching for a name it doesn't seem to filter properly

**To Reproduce**
Steps to reproduce the behavior:
Create a bild order

**Expected behavior**
eleminate the names which do not match pattern

**Screenshots**
![image](https://user-images.githubusercontent.com/42826581/137413604-d01be0bb-4922-447f-bdf5-be1e4c97bc34.png)

[2021-10-15 00:47] #2166 closed

[2021-10-15 09:49] schliggi650 opened #2169 "iOS App not Opening"
I've just bought the Companion App on my iPhone SE on iOS 15.0.2 but it does not open up at all.
Tried restarting and applying every Update.

Is something like this known yet?

[2021-10-15 10:58] HelgiBergmann opened #2170 "Try to connect to server via app"
**Describe the bug**
Error when connecting to the server via android app

**To Reproduce**
Steps to reproduce the behavior:
1. Go to android app server add server
2. Click on connect
3. There is the response from the server
![image](https://user-images.githubusercontent.com/78436722/137476588-5e62076b-caa0-4d40-a92e-5ff7e15ef270.png)
But in  the app get an error - there is no response from the ser

[2021-10-15 11:05] schliggi650 opened #2171 "[FR] Add Manufacturer Column to Parts Table"
It would be great to be able to filter Parts by Manufacturer, therefore to have a specific Manufacturer Column in the Database.

[2021-10-15 11:09] HelgiBergmann opened #2172 "django.db.utils.OperationalError: could not translate host name "inventree-db" to address: Try again"
**Describe the bug**
When  run on production error went from eventree-worker container

**To Reproduce**
Steps to reproduce the behavior:
Run docker-compose up command  in production without detaching

![image](https://user-images.githubusercontent.com/78436722/137478041-d1b0bf32-f25a-4858-9948-3d43946abd70.png)

**Deployment Method**
Docker

[2021-10-15 11:20] HelgiBergmann commented on #2170
same like before is problem because of low cost vps=)

[2021-10-15 11:20] #2170 closed, assigned to nobody

[2021-10-15 14:34] #2172 closed, assigned to nobody

[2021-10-15 21:23] matmair commented on #2172
Also a lot of ppl. rum this on old raspberry pis. That azure instance can run a lot more than that.

[2021-10-15 21:24] matmair commented on #2169
@SchrodingersGat any input on what you need for debug?

[2021-10-16 01:33] SchrodingersGat commented on #2169
@schliggi650 very peculiar.

- Do you have any screenshots you can provide?
- Does any screen come up at all?
- Have you had any success on another device?
- What version of InvenTree server are you running?
- What version of InvenTree app are you running?

[2021-10-16 01:34] SchrodingersGat commented on #2172
@HelgiBergmann so to clarify this was an issue with your server hosting, not with the InvenTree software itself?

[2021-10-17 11:41] SchrodingersGat commented on #1273
Currently waiting for v2.0 of django-weasyprint to be released : https://github.com/fdemmer/django-weasyprint/issues/53#issuecomment-896122557

[2021-10-17 19:40] r0l1 opened #2174 "[BUG] column stock_stockitem.scheduled_for_deletion does not exist"
**Describe the bug**
After updating from 0.4.5 to 0.5.1 following error occurs. I tried this multiple times and it's always the same problem.

[code]

**Deployment Method**
Official Docker images

**Version Information**
0.5.1

[2021-10-17 21:49] SchrodingersGat commented on #2174
@r0l1 looks like there was a step missing from the documentation, for the docker upgrade process. I've added it in now:

https://inventree.readthedocs.io/en/latest/start/docker_prod/#update-database

You'll need to run this command before re-starting the server!

[2021-10-17 22:16] #1738 closed

[2021-10-18 05:30] schliggi650 commented on #2169
I've just tried it again and it works like a charm, thank you guys!

[2021-10-18 09:47] SchrodingersGat commented on #2174
Interesting @r0l1 - have not run into this one before.

https://github.com/inventree/InvenTree/blob/860cf46cb0083ffbd76d29bd3dbb0d58e8394320/docker/Dockerfile#L98

This line is in the dockerfile - should this not be sufficient?

[2021-10-18 22:19] SchrodingersGat commented on #2174
Ah ok that makes sense.

As the docker container is running under the `inventree` user, would it even have privileges required to chown the data directory?

[2021-10-19 10:25] #2174 closed, assigned to nobody

[2021-10-19 14:09] tse-tarn-france opened #2181 "Can't import all data fields when importing excel file of parts"
**Describe the bug**
Dear All,
I'm using lastest InvenTree version on Ubuntu LTS 20.04 Server ( automatic dowload when install as described is doc https://inventree.readthedocs.io )
I've created parts manually and then export to excel file to get I/O excel files format, then I tried to upload all our stock ( of resistors ).
Only a few fields are availables in the graphical parser ( lack at least s

[2021-10-19 15:14] eeintech commented on #2181
@tse-tarn-france Bienvenue sur le projet InvenTree !

I can also try to reproduce but first, could you please confirm the steps are:
1. Create stock items using InvenTree UI
2. Use Admin interface to export newly created stock items to CSV/XLS sheet
3. Use Admin interface to re-import stock items from CSV/XLS sheet
4. Noticed missing fields for import

Can you please also provide information:
1. I

[2021-10-19 17:39] matmair commented on #2181
@tse-tarn-france I reproduced this and not all fields are exposed. I do not know how much of the documentation you have read but stock is not just a number. There are (one or multiple) stock items connected to the number so you can not just import a basic number.
Could you file which fields you are missing? The current fields are defined here
https://github.com/inventree/InvenTree/blob/22572c6f350

[2021-10-19 22:02] matmair commented on #2038
A sample implementation will be / is available as [ShopifyIntegrationPlugin](https://github.com/matmair/ShopifyIntegrationPlugin). Until #2074 is merged you need to use that branch for testing. Follow instructions placed in the readme for installation.

[2021-10-20 10:20] irameez opened #2183 "[BUG] Stock allocation quantity"
**Describe the bug**
Before the recent update when you go to "Allocate Stock Item" Quantity field was filled up by default, now it shows "1".
Now you have to first check the quantity entered in the order and then manually enter it, and if you are entering it from more than one stock record you have to calculate the remaining amount, in the previous versions this was done automatically.
In addition

[2021-10-20 12:18] SchrodingersGat opened #2185 "[BUG] BOM / Build validation needs improvements"
Currently, "simple" BOMs work well, but BOM validation (and build order allocation) can fail when using:

- Inherited BOM items
- BOM items which allow use of variant stock
- BOM items which allow substitutes

Need to improve the validation code, and add unit testing for all of the above cases.

[2021-10-20 12:56] Guusggg opened #2186 "[FR] Ability to ship parts to a manufacturer to "transform" the part into another part"
**Problem**
At the moment the way our supply line looks is:
1. Order bare-metal parts from local manufacturer
2. Send bare-metal parts to another local manufacturer which welds and paints the parts
3. Receive the parts from the second manufacturer and put them into stock.

At the moment I haven't found a way to effectively model this in InvenTree.

**Suggested solution**
It would be cool if we cou

[2021-10-20 13:08] matmair commented on #2183
@irameez I would never deploy with sqlite for production but for dev it makes everything very simple. In some environment's docker is not a feasible option.

[2021-10-20 15:09] Guusggg commented on #2037
@matmair Excellent reply! Is there anywhere I need to get the plugin-system code from to get it all working or is the ShopifyIntegrationPlugin repo the only thing that I need to add to InvenTree repo to let it run?

[2021-10-20 17:40] tse-tarn-france commented on #2181
Dear all,

my Inventree
![versions](https://user-images.githubusercontent.com/92796696/138143503-0ea68145-b14f-46ef-b0ee-4cbccca0dea0.jpg)
[InvenTree_Parts_Export.xls](https://github.com/inventree/InvenTree/files/7383227/InvenTree_Parts_Export.xls)
[InvenTree_Parts_Export.xls](https://github.com/inventree/InvenTree/files/7383231/InvenTree_Parts_Export.xls)
version is 0.6.0 dev

here are some scree

[2021-10-20 21:28] tse-tarn-france opened #2187 "Add partial delivery feature"
**Is your feature request the result of a bug?**
NO

**Problem**
When order is 10 parts and 5 are available, we would need to ship 5 immediatly and 5 later if needed, that's not possible at the moment :

![partial_delivery](https://user-images.githubusercontent.com/92796696/138174248-e13fb6d9-fca0-4e4b-94e3-44a9eab1488a.jpg)

**Suggested solution**
Do not close the order when partial delivery, con

[2021-10-21 02:00] SchrodingersGat commented on #2187
Yes would definitely support implementation of this feature. This has also been raised in a previous issue.

Working out how to implement this cleanly would be the major impediment.

I think that this would require the addition of a "Shipment" model. Multiple shipments can reference the same SalesOrder instance.

Then, instead of stock items being allocated against a SalesOrder directly, they are

[2021-10-21 05:44] afkiwers commented on #2187
Will do!

[2021-10-21 05:48] afkiwers opened #2188 "[BUG] Inconsistency in how numbers are displayed in line item table"
**Describe the bug**
In #2187 I noticed, that the unit price uses a comma separator and the total price uses a dot as separator.

I assume that this is a language/settings bug?

[2021-10-21 17:55] eeintech commented on #2181
I did not realize you were using the part import, sorry for that @tse-tarn-france
Importing part will not get you the stock items, you'll have to use the Admin interface in this case.

@matmair Maybe we need to be more clear what is and what is _not_ supported for the part import in the documentation?

[2021-10-21 20:52] tse-tarn-france opened #2189 "Add fields in BO datamodel"
**Is your feature request the result of a bug?**
NO

**Problem**
We would need a "note" field in BO, and a dotted progress bar or step dot progress bar which could be a datamodel itself

Explanation :

When buyers exchange information with prodution teams regarding a SO ans its BO, they use today an excel file which one column is "notes" for example "Will lack 200 x 2N2222 awaited for March 11th"

[2021-10-21 20:56] tse-tarn-france opened #2190 "Add display to Sale Order"
**Is your feature request the result of a bug?**
NO

**Problem**
Lack of informations for origin of the shipment and sale order

**Suggested solution**

![SO0001](https://user-images.githubusercontent.com/92796696/138355369-18ca6c47-5f60-498c-a093-020d042ca8d6.jpg)

**Describe alternatives you've considered**
Can't imagine

**Examples of other systems**
Not Applicable

**Do you want to develop thi

[2021-10-21 21:04] eeintech commented on #2181
@tse-tarn-france In your file's header row, change:
* `REF` to `IPN`
* `Designation` to `name`

What do you get?

I get this on `stable` branch:
![image](https://user-images.githubusercontent.com/4020546/138356437-ad7ceb9b-7fc9-45d2-910d-8f2f73bb4319.png)

[2021-10-21 23:58] matmair commented on #2181
@eeintech I would rather add the missing fields as it is quite simple with the current wizard setup. I am just unsure what fields we really need. If stock is filled in we can create an initial stock item - just like with the part creation dialogue.

[2021-10-22 00:03] matmair commented on #2186
@eeintech @Guusggg whatever is suggested to solve this we should try to not make InvenTree to complex with it and hide the added stuff by default -> this is more a business use case than a hobbyist.

My suggestion would be to just use BOs but buildorders could be extended to support 'locking' them once the stock is allocated.

[2021-10-22 01:18] afkiwers commented on #2188
I am not sure as I just noticed it in one of the screenshots mentioned in the issue above.

You are probably better off asking that person, sorry.

[2021-10-22 12:54] jbrogan opened #2191 "[FR] Inventory valuation reporting"
**Is your feature request the result of a bug?**
No

**Problem**
I would like to be able to generate an inventory valuation report for the value of inventory on hand at a given point in time.

**Suggested solution**
Options to select by location/sub-location and grouping by location/part category/part sub-category.

**Describe alternatives you've considered**
Within Inventree today the "Stock" pag

[2021-10-22 17:31] #2186 closed, assigned to nobody

[2021-10-24 23:14] SchrodingersGat opened #2197 "[BUG] Manufacturer part data missing from BOM"
When exporting a BOM with manufacturer / supplier part information, manufacturer part data is excluded from the BOM if the manufacturer part is not linked from a particular supplier.

The current code iterates through the available supplier parts and references any manufacturer parts from there. However it misses any manufacturer parts which are not explicitly linked to a supplier part.

[2021-10-25 11:24] r0l1 opened #2200 "[BUG] Adding pricing information in German formatting causes a 500 internal server error"
**Describe the bug**
Adding pricing information in German syntax (comma separated: `0,085`) causes a 500 internal server error. Error messages are not displayed to the users.  Only visible in logs:

[code]

**Deployment Method**
Docker

**Version Information**
Inventree 0.5.3

[2021-10-25 11:29] r0l1 opened #2201 "[FR] Two-Factor Authentication"
Adding another layer of security to the authentication system would be a great addition (OTP).

**Do you want to develop this?**
No, but we are open to create an open-source bounty.

[2021-10-25 21:41] #2200 closed, assigned to nobody

[2021-10-26 22:36] opsoyo opened #2204 "[FR] Android app without Play Services for sale"
**Is your feature request the result of a bug?**
Nope

**Problem**
Android app requires Google Play Services

**Suggested solution**
Non-GPS version for sale

[2021-10-29 00:53] SchrodingersGat opened #2207 "[BUG] Error when exporting sales order"
Exporting a SalesOrder causes the following bug, if the file format is `.xls`

![image](https://user-images.githubusercontent.com/10080325/139355572-bafc6531-dc41-451d-8983-770cc1d6e26a.png)

[2021-10-30 01:54] SchrodingersGat commented on #2093
@rocheparadox yes the order of those imports should be changed, although I'm not sure why it's breaking for you but passing for current CI tests?

[2021-10-30 02:37] rocheparadox commented on #2093
It is breaking for me because my code is apparently the only place where **Part** is accessed through **StockItem** right after the latter is saved in database. With the present order **StockItem** would be created using the fixtures but their respective **Part** would not be present at that point of time.

[2021-10-30 12:03] #2111 closed

[2021-10-30 12:22] matmair opened #2210 "[BUG] Problems with wrapping on upright iPads"
Yes, to both these things. Let's address these with separate PRs.

_Originally posted by @SchrodingersGat in https://github.com/inventree/InvenTree/issues/2205#issuecomment-955198167_

[2021-10-30 12:23] matmair opened #2211 "[FR] Refactor themes for Bootstrap 5"
Yes, to both these things. Let's address these with separate PRs.

_Originally posted by @SchrodingersGat in https://github.com/inventree/InvenTree/issues/2205#issuecomment-955198167_

[2021-10-30 12:40] matmair opened #2213 "[BUG] Auth screens broken"
Fix login / auth screens that are broken due to #2205
![grafik](https://user-images.githubusercontent.com/66015116/139533184-94fad201-088c-4c5d-82c5-4178912561f4.png)

[2021-10-30 13:09] SchrodingersGat commented on #2213
I don't see this on my end. Is this on a tablet or PC?

[2021-10-30 13:11] SchrodingersGat commented on #2204
@opsoyo sorry I agree with @matmair above and I don't see this as being worth the extra effort!

[2021-10-30 13:11] #2204 closed

[2021-10-30 13:15] matmair commented on #2213
@SchrodingersGat simluated iPhone 11, see it on iPad too.

[2021-10-30 13:34] #2207 closed

[2021-10-30 15:40] matmair opened #2218 "[FR][3rd party integration] add setup hook"
**Problem**
Copying into a directory could result in errors.

**Suggested solution**
A setup hook like octoprint does it.

**Examples of other systems**
Octoprint plugin system.

**Do you want to develop this?**
Yes

[2021-10-30 21:20] matmair commented on #1693
I played around with this because a client needed it. It is very easy to do with the authentication backend and middleware settings in the config.yaml. It was ~40 LoC but really depenendet on how the infra is built out. Could be very dangerous if the admin setting it up does not know their stuff.
@SchrodingersGat should we still implement a solution for this? Maybe a configurable header that is us

[2021-10-30 21:48] SchrodingersGat commented on #1693
I'm happy to provide a reference example but not implement it by default. A clear warning should be added to the documentation that "all care should be taken" but the implementing admin.

[2021-10-30 21:50] matmair commented on #1693
So what should I sketch out? A simple proxy set auth-header, LDAP or something else? Google etc. are already implemented in the SSO package.

[2021-10-30 22:05] #2213 closed

[2021-10-30 22:09] #2210 closed

[2021-11-01 00:19] matmair opened #2225 "[FR]"
**Problem**
A part with non-passing tests can be sold

**Suggested solution**
Block assigning a part with non-passing tests to a SO

**Do you want to develop this?**
yes

[2021-11-01 00:20] matmair commented on #2225
@SchrodingersGat when should we check for this? At assigment or shipment? Do you think this interferes with #2199 ?

[2021-11-01 00:41] SchrodingersGat commented on #2225
I really like this idea!

I think that we should check for this at "assignment". The user should be able to "select" the stock item, but when they try to assign it (using the modal form) the API should return an error, indicating that some tests have not passed.

I'm adding an updated API / serializer interface for sales order allocation as part of #2199 so I think hold off until that's merged bef

[2021-11-01 01:00] matmair commented on #2225
This is an idea / reqeuest by @Jnesselr . Just to give credit where it is due.

[2021-11-01 01:10] SchrodingersGat commented on #2225
Thanks @jnesselr - keep the ideas coming!

[2021-11-01 04:09] SchrodingersGat opened #2228 "[FR] Improve "subscribe" functionality"
The current "star" functionality does not really do anything

"Low stock" email functionality will be implemented in https://github.com/inventree/InvenTree/pull/2208

It would be good to improve the functionality as follows:

- [x] Change "star" to "subscribe" as it conveys a clearer meeting
- [x] Allow user to "subscribe" to a category (automatically receive info for any part in that category)
-

[2021-11-01 11:45] #2093 closed

[2021-11-01 17:24] matmair commented on #2065
Currently testing out jenkins and UI frameworks; Should be pretty easy to set up;
https://github.com/invenhost/repo.invenhost.com / https://repo.invenhost.com/

[2021-11-01 23:03] matmair commented on #2201
@r0l1 MFA is now in review and should be in the next release 0.6.0; that could take up to a month.
I do not recommend to run the current master as it is not stable and there are major changes

You can check out the new feature through gitpod, see the link in the first comment in #2221

[2021-11-01 23:03] matmair commented on #2201
MFA is default off and needs to be enabled through the gloabal settings -> Enforce MFA

[2021-11-02 03:48] SchrodingersGat commented on #1693
@matmair I'm happy for you to make a suggestion based on what you think is sensible. This is straying very far from my area of knowledge.

My key requirements would be:

- It is all disabled by default
- It is reasonably difficult to 'accidentally' turn on
- It is documented with a very clear caveat that the admin must know exactly what they are doing.

[2021-11-02 04:07] SchrodingersGat opened #2232 "[FR] Add unit testing for emails"

[2021-11-02 23:32] reilly-callaway opened #2234 "[BUG] Duplicated BOM upload form"
**Describe the bug**
An additional BOM upload form is present next to the part picture when uploading a bill of materials.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any part
2. Open Bill of Materials tab
3. Click on BOM actions -> Upload BOM
4. See error

**Expected behavior**
Only one BOM upload form.

**Screenshots**
![inventree_bom_upload_bug](https://user-images.githubusercon

[2021-11-03 01:20] Patrick-Curr opened #2237 "[BUG] Stock Locations category not listing locations"
**Describe the bug**
When searching inventree for an existing stock location and navigating to the 'Stock Locations' menu bar, no stock locations are listed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the search bar
2. Search for a stock location(s) which is known to exist
3. Select 'Stock Locations' on the left category.
4. Inventree will list "showing x of y rows', yet no rows/c

[2021-11-03 01:41] #2234 closed

[2021-11-03 02:57] #2237 closed

[2021-11-03 13:37] SchrodingersGat opened #2240 "[BUG] "in_stock" annotation for Part serializer does not include stock for variant parts"
The calculated "in_stock" annotation for the Part serializer does not include any stock for variant parts.

https://github.com/inventree/InvenTree/blob/74521b7628b6e813f26175f8c7bd7365df5803fa/InvenTree/part/serializers.py#L245

Ref: https://github.com/inventree/InvenTree/issues/935

Background Reading: https://github.com/martsberger/django-sql-utils

[2021-11-03 14:02] batara666 opened #2241 "[BUG] could not serialize access due to concurrent update"
could not serialize access due to concurrent update

and just crash....

[2021-11-03 14:18] SchrodingersGat commented on #2241
@batara666 are you using an sqlite database? The concurrency limits there may be causing trouble.

Can you post an error message?

[2021-11-03 14:19] batara666 commented on #2241
postgresql

[2021-11-03 21:54] matmair commented on #2241
hi @batara666 . To enable diagnosis we need a bit more info. Could you provide the following:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If ap

[2021-11-03 22:05] #2228 closed

[2021-11-03 22:10] SchrodingersGat opened #2243 "[Bug] Fix displayed alerts"
Existing "alert" messages (e.g. displayed when a user performs an action) have been broken since the update to bootstrap-5.

Currently they either do not display, or display incorrectly.

There are two separate issues here:

- Alerts on the "main" pages
- Alerts on the "account" pages (e.g. login / logout)

[2021-11-03 22:18] matmair commented on #2243
@SchrodingersGat maybe we should template and include that section so it behaves the same on main and account pages.

[2021-11-03 23:19] SchrodingersGat commented on #2243
@matmair I have made some changes in https://github.com/inventree/InvenTree/pull/2244 which address this quite nicely :)

[2021-11-03 23:56] #2243 closed

[2021-11-04 01:28] #2197 closed

[2021-11-04 05:54] #2181 closed

[2021-11-04 08:01] sintech opened #2250 "[FR] Idea for subcategory tree view"
**Problem**
As a part of Bootstrap 5 introduction (#2205), category treeview was removed in favor of "Subcategory tab".
This leads to unnecessary clicks when user wants to change category outside of currently opened branch.

**Suggested solution**
Add drop-down category list to the header of every part/stock view with the same content as in "subcategory tab". Active category should be highlighted

[2021-11-04 11:39] SchrodingersGat opened #2251 "[FR] Refactor "settings" to use the API"
- global settings
- user settings

### Features

- A user can only view / edit their own "user settings"
- Only admin users can view / edit "global settings"
- Remove existing server-side views

[2021-11-04 13:33] SchrodingersGat opened #2253 "[FR] Convert more server-side forms to the API"
Convert the forms missed in https://github.com/inventree/InvenTree/pull/2198

Refactoring existing "StockItem" forms to use the API forms architecture

Closes https://github.com/inventree/InvenTree/issues/1905

- [x] ValidateBOM form - https://github.com/inventree/InvenTree/pull/2477
- [x] Merge stock items - https://github.com/inventree/InvenTree/issues/346
- [x] Assign to Customer form - https:/

[2021-11-04 14:56] argaar commented on #2241
I'm facing the same error, installing a new instance.
I've follow requirements as python virtual env, postgresql, etc. I'm installing in a bare metal server and just after "invoke update" and "invoke superuser" the guide let you install as production server.

In my case the error appears as I'm trying to start gunicorn from

 (env) inventree@server:~/src/InvenTree$ /opt/inventree/env/bin/gunicorn

[2021-11-04 15:31] matmair commented on #2241
What base OS are you using? if possible maybe just provide the Uname.

can you please rerun the migrations and check if they error out now?

For production use we recommend stable, although the difference is small normally. Please try with stable for now as the upcoming release is quite big.

[2021-11-04 15:56] argaar commented on #2241
**Ubuntu 20.04 LTS, no pending update with 5.4.0-89-generic kernel**

**no different behaviour, same errors as before**

I've dropped the entire db and "src" folder, cloned the repo (**"stable" branch**), created the db and re-apply migrations and superuser.

Now the gunicorn seems to work as expected:

(env) inventree@server:~/src/InvenTree$ /opt/inventree/env/bin/gunicorn -c gunicorn.conf.py Inv

[2021-11-04 20:37] #1905 closed

[2021-11-04 21:48] matmair commented on #2241
@argaar ok good to know this works on stable. We will have to look at this before the next major release.

@SchrodingersGat this log seems to show the problem with the exchange rates updating multiple times again.

[2021-11-04 21:50] Oakman-Dev opened #2255 "[FR] Enable to Print labels directly to a network-attached label printer for faster inventory management."
Enable to Print labels directly to a network-attached label printer for faster inventory management. (Maybe with something like https://github.com/mbello/ezprinting)

Example use case, Dymo LabelWriter 450 with a small Pi Zero W as a CUPS server. The reason for wanting it on the interface would be that I could trigger a print from my phone or tablet browser and maybe in the future as part of the m

[2021-11-04 22:13] afkiwers opened #2256 "Escaping out of modals does not work anymore"
**Describe the bug**
Escaping out of scan barcode modal does not work. The other ones seem to work.
![image](https://user-images.githubusercontent.com/42826581/140427865-07cb778d-4d53-478b-b88e-a831cfd04bba.png)

**Steps to Reproduce**

Steps to reproduce the behavior:

**Expected behavior**
When set in settings, it should escape out of the modal when pressing ESC key
![image](https://user-images.

[2021-11-04 22:18] matmair opened #2257 "State of Translations"
I noticed that a lot of the translations do not have a lot of translated or approved strings -> should we maybe set a base level of translated strings before which we hide the language behind a 'not finished translations' selection/link?

@SchrodingersGat @eeintech

[2021-11-04 22:23] matmair commented on #2255
hi @Oakman-Dev! Could you answer the below questions so have a better understanding about the FR?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Examples of other systems**
Show how other software handles your FR if you have examples.

**Do you want to develop this?**
If so please describe briefly how you

[2021-11-04 22:38] matmair commented on #2256
@SchrodingersGat any idea?

[2021-11-04 23:36] SchrodingersGat commented on #2257
@matmair not following what you mean here. Are you talking about in the user language selection box?

[2021-11-04 23:58] #2256 closed

[2021-11-05 00:01] matmair commented on #2257
Yes, most languages are under 10% translated - that's not a really helpful choice.

[2021-11-05 00:07] SchrodingersGat commented on #2241
@matmair I'd like to keep this one open, it seems like a legitimate issue.

@nwns you recently made some changes to the postgresql default configuration options. Do you think that might have caused some issues here?

[2021-11-05 00:12] matmair commented on #2241
I tried to replicate and everything seems to work on pgsql 14 and current versions of patched pgsql 12. The default settings for pgsql 12 used to make similar issues but that was solved long ago.

I would strongly suggest to use pgsql 14 in general

[2021-11-05 00:16] batara666 commented on #2241
My error version cause maybe because I suddenly ctrl+c the webserver, when I ran the server again, It's always erroring and the app can't recover him-self from that kind of error

[2021-11-05 00:23] #1742 closed

[2021-11-05 00:53] SchrodingersGat commented on #2257
Understood. Yeah I agree that this would be a good idae.

[2021-11-05 03:29] #551 closed

[2021-11-05 03:31] SchrodingersGat commented on #1146
This has now been addressed with the migration of sales order allocation to the new "API" forms

[2021-11-05 03:31] #1146 closed

[2021-11-05 03:31] SchrodingersGat commented on #1067
This has now been addressed, see here - https://inventree.readthedocs.io/en/latest/start/demo/

[2021-11-05 03:31] #1067 closed

[2021-11-05 03:40] SchrodingersGat commented on #2241
@batara666 what version of postgresql are you running on your setup?

[2021-11-05 12:08] SchrodingersGat commented on #1280
After much delay, an online demo is now available at https://demo.inventreedb.com

@eeintech @matmair can you guys please check it out and let me know if you see any issues?

Login details here - https://inventree.readthedocs.io/en/latest/start/demo/

I'll be adding a link to the demo instance from the docs server soon...

The demo server loads the demo-dataset data, and the database is reset dail

[2021-11-05 12:08] #1280 closed

[2021-11-05 12:52] matmair commented on #1280
Are you running it on a small linode instance?

[2021-11-05 15:30] eeintech commented on #1280
Very nice! I don't see the online demo URL in the doc? :thinking:

[2021-11-05 19:37] nwns commented on #2241
@SchrodingersGat Yes, the exception being logged would be the result of the change to serializable for postgres.

Normally the correct answer is to catch the OperationalError and try the transaction again, however, looking at the call stack (but not the code around it), this is probably a bug in the server startup code where it has multiple outbound calls to update something to do with currency be

[2021-11-05 20:56] SchrodingersGat commented on #1280
Yep!

I wanted to check that it worked for you guys before linking it from the docs server. - https://github.com/inventree/inventree-docs/pull/209

[2021-11-06 13:03] BrettRD commented on #1971
Could we also add external codes to storage locations?
I have a long-range RFID reader and matching tags on storage tubs; It would be amazing to be able to check-list a class-set of equipment and consumables into a van.

[2021-11-06 15:45] matmair opened #2263 "[BUG] Enter bug description"
**Describe the bug**
On tablets or smaller screens the user dropdown expands the navbar.
![grafik](https://user-images.githubusercontent.com/66015116/140615381-eeea39a5-dd74-4de3-9093-c6c1df73b63d.png)

**Steps to Reproduce**

Steps to reproduce the behavior:
1. Open the user dprodown

**Expected behavior**
![grafik](https://user-images.githubusercontent.com/66015116/140615444-273a5dd3-6958-4359-b

[2021-11-06 15:45] matmair commented on #2263
@SchrodingersGat any idea how to solve this? I can not find a solution

[2021-11-06 17:26] matmair opened #2264 "[FR] Inline Markdown editor"
**Problem**
Currently, there is no preview for markdown in textareas that have that enabled.

**Suggested solution**
A fast search brought out this MIT-licensed library that could be loaded by class and seems to be enough but not too much:
https://github.com/Ionaru/easy-markdown-editor

**Describe alternatives you've considered**
Maybe this is not needed - could be beneficial for new users / not d

[2021-11-06 17:28] matmair commented on #2264
@SchrodingersGat @eeintech go ahead (once 0.6 is done) or close?

[2021-11-07 00:43] matmair commented on #1971
Depends on how the reader interfaces. Could you provide a bit more information about the device and the workflow you envision?

[2021-11-07 03:23] BrettRD commented on #1971
I'd like to be able to write a module that keeps a checklist of storage tubs and equipment cases needed for a tutorial session or a remote task, and checks that a build order can be made using the parts contained in them.

I found a cheap ISO18000-6C compatible scanner (JRD-100) and I've written a Linux driver for it. (6m read range 50 tags/sec scan speed, half that for practical purposes).

The E

[2021-11-08 00:09] SchrodingersGat commented on #2264
Yeah, looks like a great idea for next release (0.7.0)

[2021-11-08 00:10] #2257 closed

[2021-11-08 01:02] afkiwers opened #2267 "Input filter does not work in Create Build Order modal"
**Describe the bug**
When adding a build order and selecting a user for issued by and resposnisble, the filter does not work. When entering a name the list simply re-orders in a somewhat unexpected way.

Also, the names are differently formatted in each select field

**Steps to Reproduce**

Steps to reproduce the behavior:
Open create a build order strating from an arbitarty assembly

**Expected b

[2021-11-08 01:05] afkiwers opened #2268 "Pre-populate the Issued by field when creating a build order"
**Problem**
When creating a build order, I have to explicitlty tell inventree that I did this BO.
![image](https://user-images.githubusercontent.com/42826581/140669571-ca06675f-d9da-4740-a0bb-b4c46d7c40c8.png)

**Suggested solution**
Simply auto-populate it with the calling user

**Describe alternatives you've considered**
None

**Do you want to develop this?**
No

[2021-11-08 02:13] SchrodingersGat commented on #2267
Duplicate of https://github.com/inventree/InvenTree/issues/2022

[2021-11-08 02:13] #2267 closed

[2021-11-08 03:28] #2268 closed

[2021-11-08 06:10] SchrodingersGat commented on #1971
@BrettRD we currently have the concept of a "UID" field for the [StockItem model](https://github.com/inventree/InvenTree/blob/2c889fbcffcdb899857ef351c322fb4785e80c92/InvenTree/stock/models.py#L444)

It would be a reasonably simple addition to implement a similar field for the `StockLocation` model, if that would suit your purpose. Still would need a way of interfacing the RFID reader into the dat

[2021-11-08 06:11] #2022 closed

[2021-11-08 06:23] matmair commented on #1971
@SchrodingersGat I looked a bit into that. Seems like it is possible to interface with serial interfaces via chrome and similar browsers. I am still not sure if we can depend on that as it is marked as experimental.

[2021-11-08 06:29] matmair commented on #1971
https://web.dev/serial/

[2021-11-08 06:36] BrettRD commented on #1971
A UID field for a StockLocation would be ideal.
I was going to use the link-barcode-to-item feature but my tags ended up on the box instead.

The reader makes the most sense as a portable unit, and an ESP32 handles the unit just fine with heaps of room for MQTT / websockets / REST / whatever else

The dev kits from most vendors seems to be compiled android libraries, hence the rewrite

[2021-11-08 06:37] matmair commented on #1971
@BrettRD does your device register as a keyboard or as a tag reader?

@SchrodingersGat I would target this for 0.7.0 if we need to integrate with that API

[2021-11-08 06:44] #2263 closed

[2021-11-08 06:49] BrettRD commented on #1971
My reader has a bare TTL level uart plug on the back, I'm using a usb-serial adapter to test library code on a laptop.

I intend to run it as a standalone device on the wifi, probably with MQTT.

A first usage test for me is to load a tag ID into the scanner and go hunt for buried treasure.

[2021-11-08 12:51] matmair commented on #1971
I would chagne the target to 0.7 @SchrodingersGat

[2021-11-08 23:18] SchrodingersGat commented on #1971
@matmair agreed, the scope of this has expanded somewhat.

I do not think that a direct browser interface is the way to go, but the existing API / python bindings would be perfect for this kind of application. Maybe a plugin?

[2021-11-08 23:28] BrettRD commented on #1971
enough schema to support a plugin is all I'm hoping for.
I know it takes a database migration run client-side so I'm happy to wait for a release.

[2021-11-08 23:40] matmair commented on #1971
@SchrodingersGat I would really like to support reading devices via a webworker but that will be far out. Would reduce the need for a lot of plugins (could also be a plugin 😇), I imagine.

@BrettRD  We are working on a full-blown plugin system. I will ping you when that it is out about possible integrations.
In general, there are two possible ways:
- implement a small MQTT server via an Integratio

[2021-11-09 00:07] BrettRD commented on #1971
I re-read the api docs, I think UID is not going to work for my case.

I need to filter the tag responses at the reader so I need to be able to query the database for a part, and retrieve the original tag-id/barcode, not just the hash.

The work-around would be a portable lib containing the barcode hash function inventree uses, but that excludes smaller microcontrollers from the job.

I'll get off

[2021-11-09 10:52] SchrodingersGat commented on #2105
This has been implemented in the recent bootstrap update

[2021-11-09 10:52] #2105 closed

[2021-11-09 15:04] HelgiBergmann opened #2276 "[FE] Get s-o line by order_id and barcode of location for further allocation"
I'm using this system for creating some custom features, can you give me the rights for creating branches?

[2021-11-09 15:13] matmair commented on #2276
Hi @HelgiBergmann !
Only @SchrodingersGat has permission to touch the repo directly. Please [fork](https://docs.github.com/en/get-started/quickstart/fork-a-repo) the repo to your personal account and submit a PR with the features. We only have one running branch, you can find more information in the [contributing section](https://github.com/inventree/InvenTree/blob/master/CONTRIBUTING.md).

[2021-11-09 17:59] HelgiBergmann commented on #2276
@matmair Ok, thanks.

[2021-11-09 18:11] matmair commented on #2276
@HelgiBergmann feel free to make new issues or ask here if you run into problems! We are happy to help.
Before you make huge changes maybe ask about what you want to change/implement - it is quite possible that there is a setting or config that enables what you want.

[2021-11-09 18:42] HelgiBergmann commented on #2276
@matmair  I am going to implement api_view endpoint which will take the QR of location and allocate stock item by it in the case when we have unique item stock in locations. It is a feature for employees who have to complete an order with barcode scanner and press the scan button.
Example:
 I have orders in my app => I go to the order line items screen =>  I press the scan button - QR location is

[2021-11-09 20:25] matmair commented on #2276
@HelgiBergmann we actually have that somewhat on the roadmap in #1246. I am pretty sure we would merge an endpoint like that. Please make sure to work on a separate branch so we can merge cleanly.

[2021-11-09 20:37] matmair commented on #2255
@Oakman-Dev I would like to put this onto my personal dev roadmap but I need more info to do this.

[2021-11-09 21:51] SchrodingersGat commented on #2276
@HelgiBergmann sounds interesting , perhaps this functionality is already available via the existing API endpoints?

Currently you can scan a barcode, send the barcode data to the `barcode` API endpoint. If the barcode corresponds to a stock location, the server will respond with the ID of the stock location which can then be used for further API requests.

If there is a specific feature or data m

[2021-11-09 22:06] #2251 closed

[2021-11-09 22:21] matmair opened #2278 "[FR] Turn off reports by default"
**Problem**
A lot of report buttons do nothing on a fresh install

**Suggested solution**
Make reports a global setting and disable them by default.

**Describe alternatives you've considered**
We could also do nothing

**Do you want to develop this?**
Yes

[2021-11-09 22:21] matmair commented on #2278
@SchrodingersGat thoughts?

[2021-11-09 22:28] SchrodingersGat commented on #2278
Yeah good point. Perhaps we could disable report buttons if there are no available report template associated with the view?

e.g. if there are no active "build order" report templates, then the "print report" button won't appear on the build page.

This may be in addition to a global "enable reporting" setting, which would remove the report buttons globally.

[2021-11-09 22:30] matmair commented on #2278
@SchrodingersGat do you want to dev this or should I?

[2021-11-09 22:33] matmair opened #2279 "[FR] Notification centre"
**Problem**
All the notifications are just email and can get crowded

**Suggested solution**
Some kind of centre where past notifications can be viewed would be great.

**Examples of other systems**
Github would be a great example.

**Do you want to develop this?**
Yes

[2021-11-09 22:42] SchrodingersGat opened #2280 "[FR] Add ability to sort "stock" column in stock table"
Sorting by "stock" should sort by:

1. "quantity"
2. "serial number"

This allows us to sort serialized stock first, by serial number, and then larger quantities after that.

[2021-11-09 22:43] SchrodingersGat commented on #2279
Oh I like this idea a lot!

I'm imagining a new tab in the "settings" window, where each user can see a history of notifications pertinent to them. Each notification could also be dismissed (deleted) by the user. The presence of any notifications could be indicated by a bell icon in the top-right corner of the navbar.

[2021-11-09 23:26] matmair opened #2282 "[FR] Multiple notification delivery options per user"
**Problem**
Currently only the primary mail is used for notification delivery

**Suggested solution**
- [x] Refactor the current notification system (see #2279) to allow multiple delivery methods
- [x] Give users the option to add notification methods
- [x] Declare notification categories
~~- [ ] Add a new mixin that registers new notification types (and delivery options)~~ -> 2385
~~- [ ] Possibl

[2021-11-09 23:58] SchrodingersGat commented on #2278
Happy either way, depends who has more time!

If you do decide to go ahead with it, please let me know first, there are some existing models I'd like to be able to hook into for this.

[2021-11-09 23:58] SchrodingersGat commented on #2278
Either way is fine, if you decide to go ahead with it let me know, there are some subtleties around reporting that I might need to point out :)

[2021-11-10 00:01] matmair commented on #2278
Ok, I will try to do this. Really need to better my understanding of the reporting features. What should I look out fr?

[2021-11-10 00:17] matmair opened #2284 "[FR] settings setup guide"
**Problem**
New installs can be configured a bunch - some stuff (like base url, name etc.) should really be set.

**Suggested solution**
- [ ] A setup modal if it is the first run
- [ ] Multipage wizard that guides through the experience
- [ ] Mixin that enables plugins to show setup page
- [ ] API endpoint to check if setups ran -> could be important for 3rd party systems
- [ ] Maybe a role for u

[2021-11-10 00:20] matmair commented on #2211
@SchrodingersGat  the themes seem to work as is - some colour settings need adjustments but not something that would be release-blocking

[2021-11-10 00:29] HelgiBergmann commented on #2276
@SchrodingersGat Ok, I'll write it, then we look at it and make a decision about merging, or you will point me to a better approach=)

[2021-11-10 00:30] matmair commented on #2276
@HelgiBergmann could you maybe change the title to something more descriptive? And move the '[FR]' to the front, please.

[2021-11-10 01:20] #2280 closed

[2021-11-10 02:28] SchrodingersGat commented on #2109
Looks like this may be due to particular versions of python packages, although I have not yet worked out which one.

Problem is very repeatable on my work database, but not on my development one.

[2021-11-10 02:44] #2109 closed

[2021-11-10 15:02] lookme2 opened #2287 "Multiple stock entries from separate purchase orders"
**Describe the bug**
When I order the same part through purchase orders I get multiple stock entries even though I put them in the same location.

**Expected behavior**
That I would get only one entry with the total of the two purchase order. This prevents me from being able to auto allocate this stock in a build order.

**Version Information**
# Version Information:
InvenTree-Version: 0.5.3
Djang

[2021-11-10 21:38] SchrodingersGat commented on #2287
@lookme2 this is expected behaviour. If you receive two lots of stock against separate purchase orders, they **are** separate - with different tracking histories, etc.

What you might be looking for is the ability to "merge" multiple stock items together - https://github.com/inventree/InvenTree/issues/346

This is something I've considered before (a *long* time before) but never implemented. It wo

[2021-11-10 21:58] fenugrec commented on #1280
Hm, just tried the demo right now, and for all user+pw combinations getting " The username and/or password you specified are not correct. "

[2021-11-10 22:12] lookme2 commented on #2287
@SchrodingersGat so I noticed this when I was allocating some parts for a build order.  It seems that you can over allocate a part.  I was thinking it was because of the multiple stock entries.  It only seems to be happening when you use the Auto Allocate button.  I will close this and play around with it some more.  Maybe I'm missing something.  Thanks

[2021-11-10 22:12] #2287 closed

[2021-11-10 22:15] SchrodingersGat commented on #1280
Please try again now

[2021-11-10 22:42] eeintech commented on #2211
@matmair Sorry I've been super busy lately, I didn't even upgrade our instances to Bootstrap 5 :sweat:
I can check on the current themes and regenerate the CSS for the Dark Reader theme from the Chrome extension, if that's necessary

[2021-11-10 22:47] SchrodingersGat commented on #2211
@eeintech that would be super helpful :)

[2021-11-10 23:04] matmair commented on #2241
@SchrodingersGat how should we move forward with this?

[2021-11-10 23:10] SchrodingersGat commented on #2241
I'd like to have a "fix" by `0.6.0` but I'm not sure what the problem is. It does not seem to occur in the unit tests, and the [demo database](https://demo.inventree.org) is running on postgresql without issue.

Is it as simple as mandating a sufficiently new version of postgresql? @nwns is this accurate?

[2021-11-10 23:15] eeintech commented on #2211
I just realized the Dark Reader application is broken :x:

Opened a bug report (https://github.com/darkreader/darkreader/issues/7328) will keep you posted when I get it to work again, it will be a very quick fix :wink:

[2021-11-10 23:33] fenugrec commented on #1280
Works now, thanks !

[2021-11-10 23:42] nwns commented on #2241
@SchrodingersGat I am pretty sure we are seeing a race condition that is being highlighted by the change in the transaction behaviour as I outlined above.

Our current installs of Inventree (using Postgres 10) do not show this issue, but they are also older versions of Inventree.  I have not yet got the current version up on a cluster yet.

[2021-11-11 00:10] fenugrec opened #2290 "[BUG] demo instance : spanish caption for search box"
Just trying out the online demo instance, and I noticed the search box says "Buscar". Took me a few moments to realize... that's spanish for "search" , not some type of road vehicle : )

Interestingly ,the other searchbox at the top of page shows "Search" as expected ! Both are shown here:

![buscar](https://user-images.githubusercontent.com/10098613/141213459-c971c16c-960f-4f4b-815a-5dfc7f32d0f8.

[2021-11-11 00:16] SchrodingersGat commented on #2290
Interesting.. not seeing that on my computer

![image](https://user-images.githubusercontent.com/10080325/141214036-30d7bdba-c50a-4c05-b403-8041c1f440dc.png)

[2021-11-11 00:17] matmair commented on #2290
@SchrodingersGat the user might be Spanish speaking.

@fenugrec if you are / your current config is set to Spanish please go to the user settings and change the language to English.

[2021-11-11 00:18] SchrodingersGat commented on #2290
Strangely if I set the language to spanish for the "reader" account, then I get the inverse problem

![image](https://user-images.githubusercontent.com/10080325/141214170-f9bfbc72-f81d-4dae-bbe1-2696b0d269e5.png)

[2021-11-11 00:19] matmair commented on #2290
After changing the language you might need to hard-refresh the page as localisations for bootstrap table are buffered

[2021-11-11 00:22] matmair commented on #2290
@SchrodingersGat seems to work on my instance (latest)
![grafik](https://user-images.githubusercontent.com/66015116/141214507-6f791d62-4eb3-49b2-a641-a31b3ab8e71f.png)

[2021-11-11 00:23] #2278 closed

[2021-11-11 00:23] matmair commented on #2290
@fenugrec can we close this? If you want to improve the Spanish translation we are happy to merge contributions here: https://crowdin.com/project/inventree

[2021-11-11 00:24] fenugrec commented on #2290
No, I should have specified, I am not hispanophone (just happen to know a few words) and have never set any computer, browser, or demo instance language settings. In fact I checked and ES isn't even listed in the settings pane of the demo

[2021-11-11 00:26] fenugrec commented on #2290
Ok, I clicked around in the demo, and I can only get this to appear when I select "Subcategories" as seen at the top left. If I go in Parts  , the text changes to the normal 'Search' string !

[2021-11-11 00:28] fenugrec commented on #2290
Can it be some of the server env "leaking" into the docker somehow and some strings getting translated differently ? This is so weird, if I go in the System Information pane everything is in english except the button which says "Cerrar" ( == Close, of course)

[2021-11-11 00:33] matmair commented on #2290
Can not reproduce:
![grafik](https://user-images.githubusercontent.com/66015116/141215261-b0d85eaa-bda4-489c-a485-c133651b05a7.png)
![grafik](https://user-images.githubusercontent.com/66015116/141215315-a877604d-e1eb-49a2-bef6-7d247192db5f.png)

All frontend server-side rendering is per-user per-session based so only the current user session can influence what language is used.

[2021-11-11 00:34] fenugrec commented on #2290
@matmair , tried "System information" ? instead of Version info which works normally here too

[2021-11-11 00:36] matmair commented on #2290
![grafik](https://user-images.githubusercontent.com/66015116/141215708-f7431d58-26f5-44af-a8c0-b091509f6e66.png)
![grafik](https://user-images.githubusercontent.com/66015116/141215724-ff18a75d-f4f8-4f45-b88b-6540c9da12fd.png)
@fenugrec yes

[2021-11-11 00:38] fenugrec commented on #2290
Anything I can look at using the browser dev console to shed some light ?

[2021-11-11 00:41] matmair commented on #2290
@fenugrec not really. Please try to log out and back in and check if it is there anyway.

[2021-11-11 01:28] fenugrec commented on #2290
Tried, no change. In a different browser (chromium, vs firefox earlier) I can't repro the issue...

[2021-11-11 10:43] matmair opened #2291 "[FR] setting which need a server restart"
@matmair I see that there are settings which need a server restart .

It might be useful to add a `SERVER_RESTART_REQUIRED` setting:

- If `true` then a "server restart is required - contact system administrator` banner displays on each page
- When server starts, this is forced to "false"
- Any setting which requires a restart can have the `requires_restart` property, and when it is saved, automat

[2021-11-11 10:50] SchrodingersGat commented on #2291
@matmair I'm happy to tackle this one :)

[2021-11-11 10:54] matmair opened #2292 "[FR] Enable / Disable Plugins"
A thought - it might be useful to have the ability to enable / disable plugins individually? I am assuming that currently, the only way to disable a plugin is to delete the source code?

Perhaps a new table can be created which has a list of registered plugins. A boolean "enabled" field (defaults to "false") determines if each plugin is enabled?

_Originally posted by @SchrodingersGat in https://g

[2021-11-11 10:59] matmair opened #2293 "[FR] "description" field for plugin"
Can we add a "description" field to the plugin, which provides a longer form descriptive text.

e.g. if the plugin is "DigiKey", the description could be something like "Integrates with DigiKey API to provide real time pricing and stock information" (as an example)

_Originally posted by @SchrodingersGat in https://github.com/inventree/InvenTree/issues/2074#issuecomment-966203898_

[2021-11-11 11:04] matmair opened #2294 "[FR] display plugin path (relative to the InvenTree install)"
Can we display the path (relative to the InvenTree install) where the plugin was loaded from?

_Originally posted by @SchrodingersGat in https://github.com/inventree/InvenTree/pull/2074#discussion_r747388068_

[2021-11-11 11:05] matmair opened #2295 "[FR] plugin with no version information - show info"
I think that if there is no version information, we should explicitly say "no version information supplied", rather than hiding this field...

_Originally posted by @SchrodingersGat in https://github.com/inventree/InvenTree/pull/2074#discussion_r747387752_

[2021-11-11 11:28] SchrodingersGat commented on #2076
@matmair sorry I hadn't seen this one :)

[2021-11-11 13:11] eeintech opened #2298 "[BUG] Color theme selection not sticky"
**Describe the bug**
Color theme selection box shows "Default" as color theme when other color theme is selected.

**Steps to Reproduce**

Steps to reproduce the behavior:
- Go to Settings > Account Settings
- Under Theme settings, select "Dark Reader"
- Click "Set Theme"
- Color theme is updated but "Default" is show in the theme box

**Expected behavior**
The selected color theme name should be

[2021-11-11 13:14] eeintech opened #2299 "[FR] Color theme selection should be under "Display Settings""
Currently under "Account Settings"

![image](https://user-images.githubusercontent.com/4020546/141304199-0e0a5d27-3f77-45be-a832-4792e98e3098.png)

One would expect it under "Display Settings"

![image](https://user-images.githubusercontent.com/4020546/141304254-7f9f125a-f24f-48b5-8752-e746338da2ad.png)

[2021-11-11 13:28] eeintech commented on #1280
@SchrodingersGat @matmair

Just curious, do you know what happens when multiple users sign in to the same account? Does the latest signed in user will kick out previously logged in user?

[2021-11-11 13:39] matmair commented on #1280
@eeintech you can open as many sessions as you want

[2021-11-11 17:53] fenugrec commented on #2290
Cannot reproduce any more today. I'll reopen if it pops up again...

[2021-11-11 17:53] #2290 closed

[2021-11-11 22:25] matmair opened #2301 "[FR] White labeling"
**Problem**
A lot of companies do not want it to be known which software they use. Either for not letting their competitor know what they use or for security reasons.

**Suggested solution**
Removing all tags and graphics that identify InvenTree would be a great option.
Also hiding normal debug and version info from users should be an option.

**Describe alternatives you've considered**
This is ni

[2021-11-12 00:13] SchrodingersGat commented on #2301
Fair enough as a run-time configuration option!

[2021-11-12 00:13] #2298 closed

[2021-11-12 00:13] #2299 closed

[2021-11-12 00:26] #2211 closed

[2021-11-12 00:34] matmair commented on #2301
I would phase it sometime after 0.7 - could you maybe add a 1.0 milestone for that? There is a ton to do before that gets important.

[2021-11-12 05:02] #2291 closed

[2021-11-12 15:12] HelgiBergmann opened #2303 "[FR] Basket for sales orders with qrcode"
**Is your feature request the result of a bug?**
No

**Problem**
Allocators employee: When I start to allocate items from stock I put them into a basket, then when all stock items are allocated I left this basket for packaging and take another empty basket to allocate stock items.
Packaging employee: When the basket is completely allocated I read its barcode and take my allocated order from it to

[2021-11-12 16:54] matmair commented on #2303
@SchrodingersGat that seems like a great use case for a plugin - seems like a very enhanced workflow.

[2021-11-13 12:29] SchrodingersGat opened #2305 "[plugin] plugin fields should not be editable in admin view"
Some fields (once created) should be marked as "read_only" in the admin view:

![image](https://user-images.githubusercontent.com/10080325/141643828-20462603-356f-4cd9-831a-b59923eb3d07.png)

Ref: https://github.com/inventree/InvenTree/pull/2074

@matmair

[2021-11-13 12:39] SchrodingersGat opened #2306 "[Plugin] Plugin Settings should be in a separate table"
@matmair with the implementation of multiple plugins, there is a chance that settings could clash. We also don't want plugin code to accidentally overwrite global settings

I suggest we create a new "Settings" table, separate to "GlobalSettings" and "UserSettings", called "PluginSettings".

Where the UserSettings are separated by the user ID, PluginSettings are separated by the "plugin key" field

[2021-11-13 12:45] SchrodingersGat commented on #2303
@HelgiBergmann the "basket" concept sounds very similar to a "location", but with some extra considerations. There is a similar PR here - https://github.com/inventree/InvenTree/issues/2058 - which has similar requirements.

How are you currently managing your orders in InvenTree?

[2021-11-13 12:49] SchrodingersGat opened #2307 "[Plugin] How do plugins store persistent data?"
@matmair a question which I thought of after reading https://github.com/inventree/InvenTree/issues/2303

Should we consider how a plugin may store persistent data? Can it store custom data in the database for tracking long running operations?

I do not think this impacts your current work on https://github.com/inventree/InvenTree/pull/2074, but something we should discuss! Have you had any thought

[2021-11-13 12:57] SchrodingersGat opened #2308 "[FR] Safe loading of plugins"
@matmair this one is not vital to fix for https://github.com/inventree/InvenTree/pull/2074 - another one for later on.

Ideally, a 'broken' plugin (e.g. the unfinished shopify one) should not bring down the InvenTree instance. Perhaps, it might be possible to "safe load" each plugin and if an error is detected, it is shown in the plugin list as "not loaded due to error", with error information ava

[2021-11-13 13:38] matmair commented on #2306
This is by design so that plugins can override behaviour.

I think it would be beneficial if plugins can share settings but I can change the default behaviour.

[2021-11-13 13:42] matmair commented on #2308
This is done for some things like navigation or settings but nearly impossible for the AppMixin. It is very difficult to catch buggy apps - I would have to research that a lot.

[2021-11-13 13:42] matmair commented on #2308
@SchrodingersGat is this blocking?

[2021-11-13 14:09] HelgiBergmann commented on #2303
@SchrodingersGat Currently, no way=) I need some third party integrations, so we have customers who store their products in storage, then order generates from the third-party marketplace and passed to basket workflow=) so I have a lot of work to do with this=)  I Will try to add som compatibility features and make Polish translate but a little further=)

[2021-11-13 14:50] matmair commented on #2307
@SchrodingersGat in theory each plugin can save data in any way the want - the full potential of python is available. In practice AppMixins can generate their own models and use the same database as inventree so that would be the preferred way.

[2021-11-13 19:59] SchrodingersGat commented on #2308
No, not blocking. A thought for later attention

[2021-11-13 20:00] SchrodingersGat commented on #2306
There is nothing stopping plugins from accessing global settings too, but by default I think the plugin settings should be separated.

[2021-11-14 01:20] SchrodingersGat commented on #2305
Thanks @matmair for implementing this :)

[2021-11-14 01:24] SchrodingersGat commented on #2307
@matmair how would the plugins manage database migrations, etc? Would we have to have some complex checking code to allow each plugin to maintain its own set of tables within the core database?

[2021-11-14 01:37] matmair commented on #2307
Each plugin behaves like a normal Django app. They come with normal migration sets that get run with the integrated migration mechanisms.

The integrated mechanisms are used. You can even have normal tests and run a GitHub action that pulls the latest and stable InvenTree docker images and runs the integation and unit tests through them.

[2021-11-14 01:43] SchrodingersGat commented on #2307
Fair enough, sounds very nice. We'll have to add some notes to the docs regarding plugins which have database integration like this.

[2021-11-14 12:56] matmair commented on #2307
@SchrodingersGat writing a integration using AppMixin requires a strong understanding of django apps in general. I already have a general warning about that there but I can expand that.

[2021-11-14 22:02] SchrodingersGat opened #2309 "Plugin Support in Docker"
Once https://github.com/inventree/InvenTree/pull/2074 is merged, we need to consider how to support plugins in a docker configuration.

In a "production" docker setup, the python environment is setup internal to the docker container as part of the dockerfile.

Installing any further python plugins will not be "persistent" as they are stored temporarily within the container instance.

The "developm

[2021-11-14 22:07] matmair commented on #2309
@SchrodingersGat already working on that; installed plugins can be saved to a text file (like the secret) and the system checks on startup if all plugins in the file are there. This requires an install mechanism which I already have running with PyPI but not custom registries - which is a must for private plugins.
Also live - reload should be comming today or tomorrow, I am working out the kinks a

[2021-11-14 22:09] SchrodingersGat commented on #2309
@matmair OK I'll wait to see what you have worked out :)

[2021-11-15 06:51] matmair opened #2310 "[FR] Selective reloading based on mixins of changed plugins"
**Problem**
Currently, a change of any plugin requires a restart although a lot of mixins do not require them.

**Suggested solution**
Marker in the mixin definition and a clearer change diff on actions so that it is clear which action will be required.

**Do you want to develop this?**
yes

[2021-11-15 09:19] HelgiBergmann opened #2311 "Should I install env in docker, if so, server or worker?"
For creating a new app
[code]
But in containers, there is no env and installed requirements.

[2021-11-15 09:37] HelgiBergmann commented on #2311
But there is no such command like startapp=)

[2021-11-15 09:55] SchrodingersGat commented on #2311
@HelgiBergmann what are you trying to achieve?

If you follow the [docker setup guides](https://inventree.readthedocs.io/en/latest/start/docker/) that should be all the info you need.

[2021-11-15 09:59] HelgiBergmann commented on #2311
1. Create env && source to env
2. Pip install -r requirements.txt
3. Pip install Django
4. And finally python manage.py startapp <app>

[2021-11-15 09:59] #2311 closed

[2021-11-15 10:05] SchrodingersGat commented on #2311
If you are trying to manage docker containers manually (i.e. not using the provided docker-compose files) then you can use the example files under the `./docker/` directory as a starting point.

[2021-11-15 12:28] SchrodingersGat opened #2312 "[BUG] Creating StockItem with new API forms does not save creator info"
![image](https://user-images.githubusercontent.com/10080325/141782069-294ea16b-b873-40e1-bbe8-50ddcafdc3fe.png)

[2021-11-15 16:25] sur5r opened #2314 "[FR] Attachments for manufacturer parts"
**Problem**
I would like to be able to attach datasheets, 3d models and similar files to *manufacturer parts*.

As a *part* can reference multiple *manufacturer parts*, I would like to keep my parts as generic as possible (like "100k 1% 1/10W 0603") and link multiple *manufacturer parts* and *supplier parts* to them. Datasheets, however, are manufacturer specific, so I would like attach them to th

[2021-11-15 18:09] eeintech commented on #2314
Makes a lot of sense :+1:

[2021-11-15 18:14] matmair commented on #2314
@sur5r great idea. Do you want to dev it? Would be pretty straight forward as we already have the needed functions in the code so it more or less about adapting the example. We can provide you with pointers where the different components are.
@eeintech added the manufacturer parts if I remember correctly and I am happy to provide you a code-tour.

[2021-11-15 19:47] sur5r commented on #2314
Given the code-tour, I would definitely give it a try. Thank you very much for the offer. How would you want to do the tour? BBB session maybe? Also, how much time would you recommend for the code tour?

[2021-11-15 20:39] #1360 closed

[2021-11-15 21:23] SchrodingersGat commented on #2314
Hi @sur5r thanks for the suggestion, it does make a lot of sense to add this feature

A brief rundown of what you'd need to do to implement this is below. Let us know if anything is missing or you need further pointers :)

The code base is getting pretty large now, so don't feel bad if it initially feels overwhelming!

## Branch Code

All features need to be on a separate code branch. Fork this re

[2021-11-15 21:51] matmair commented on #2314
@SchrodingersGat you were way faster than me 😇 I think that should be everything

[2021-11-16 07:18] Jnesselr commented on #2225
I've been thinking about this, and the tests themselves happen at the build order, right? Maybe we could block the build order from being moved forward / marked as completed until the tests are passing.

[2021-11-16 09:12] SchrodingersGat commented on #2225
@Jnesselr reasonable suggestion, although I guess it depends on the particular workflow. For some parts at my workplace, the "build order" is handled by one technician, who "completes" the order before handing off the completed stock items to another technician for commissioning / testing.

Maybe a global configurable option, to force all required tests to pass before a build output can be complet

[2021-11-16 10:24] sur5r commented on #2314
Wow @SchrodingersGat that's impressive. Thank you very much! Given the milestone: Is there a time frame already? I'm asking because it will take at least two weeks before I may have time to actually start working on this.

[2021-11-16 10:25] rgilham opened #2316 "[FR]Exporting a BOM should include component costs"
I am using Inventree to calculate the total cost of a BOM, however when the BOM is exported it does not include the current cost of the components used to make up the BOM.

The pricing is shown on the pricing page - however the CSV file does not contain this information.

I could develop this (I have made contributions to the project in the past) but not certain if I am missing this somewhere.

[2021-11-16 11:32] matmair commented on #2314
@sur5r the assigned milestone is the next but one feature release so there is a lot of time.

[2021-11-16 11:35] matmair commented on #2225
@SchrodingersGat i think global and per part settings are the way to go.

[2021-11-16 15:05] HelgiBergmann opened #2317 "Status codes make me crazy"
Can someone explain how it works?)

For example, I see salesOrderStatusDisplay function in js code for render table, but nowhere see where it defines.

[2021-11-16 15:12] HelgiBergmann commented on #2317
Ok, somehow I do it similar like was, even don't wanna know details=)

[2021-11-16 15:12] #2317 closed

[2021-11-16 21:31] matmair commented on #2317
@HelgiBergmann could you solve your problem? The Status codes are defined as mixins so they are always present in the mixins

[2021-11-16 21:33] matmair commented on #2316
@rgilham in general pricing info is momentary so I would never use info in a static file but feel free to submit a PR. Should be pretty straightforward. Not sure how much overhead it adds computationally.

[2021-11-16 22:00] SchrodingersGat commented on #2316
Pricing info in the exported BOM is a great idea. I think we need to sort out the other pricing issues before we implement this, though.

[2021-11-17 01:29] matmair opened #2318 "[FR] [plugin] ui integrated plugin installing"
What is missing now for this to be merge-ready?
...
- ui integrated plugin installing?
...

_Originally posted by @matmair in https://github.com/inventree/InvenTree/issues/2074#issuecomment-969349728_

[2021-11-17 01:33] matmair commented on #2318
This is easy to implement via subprocess 'pip install '... but there needs to be some infrastructure in place to get that package name.

Also there should be support for third party sources and signature verification.

[2021-11-17 05:03] wudi-ayuan commented on #1994
@tkornack  what is the user you change ownership to? I have the same issue but the unaccessible files are owned by root.

[2021-11-17 11:17] SchrodingersGat opened #2320 "[BUG] Decimal fields are acting weird"
It appears that (at least some) decimal fields act strangely, and do not accept certain numbers due to floating point rounding issues.

For example, the "quantity" field in the BomItem:

![image](https://user-images.githubusercontent.com/10080325/142190601-d1261481-d737-4db2-95bb-cf6f32e6f1f4.png)

Here, entering "0.35" causes a validation error...

This appears to be related to the way in which c

[2021-11-17 11:27] tkornack commented on #1994
I think it was a `docker` user in my case.

[2021-11-17 23:00] HelgiBergmann commented on #2317
ok, thanks=)  Just for now, it works=) When I will need some additional manipulation, I will look at it closely=)

[2021-11-17 23:12] matmair commented on #2317
@HelgiBergmann if you have questions feel free to ask them. I think InvenTree is quite easy to extend

[2021-11-18 00:21] lettore opened #2321 "[BUG] Unable to start docker stack: No module named common.tasks"
**Describe the bug**
Docker container start but it fails with this error log:
[code]

**Deployment Method**
- [ x] Docker
- [ ] Bare Metal

**Version Information**
Docker 0.5.4

[2021-11-18 00:32] SchrodingersGat commented on #2321
Have you recently updated the docker instance? It might be that the "server" and "worker" containers are running different images?

Are you running docker-production or docker-development?

[2021-11-18 00:37] SchrodingersGat opened #2322 "[FR] Demo Instance"
Add new "features" which only are available on the demo instance

- [x] Add link to demo docs on "login" page
- [x] Remove ability to change password
- [x] Remove access to "admin" page

[2021-11-18 00:44] matmair commented on #2322
@SchrodingersGat an option for a permanent message on all pages and a separate one on the login windows would be nice too. Also for general deployments so admins can communicate information to all users.

[2021-11-18 00:51] matmair commented on #2318
@SchrodingersGat any pointers for turning an API endpoint into a form? Struggling with adding helper texts atm
https://github.com/inventree/InvenTree/blob/bff4623a15aeccbec1ea8e708c4d08842f7f45d4/InvenTree/plugin/api.py#L60-L76

[2021-11-18 01:03] SchrodingersGat commented on #2322
Good point. In my implementation here I'll try to make it as generic as I can.

Maybe a section for "banner" messages which cannot be removed.

[2021-11-18 01:12] matmair opened #2323 "[FR] Add per Object permissions and orgs"
**Problem**
The current permissions do not allow for multitenancy / multiple orgs in one instance.

**Suggested solution**
Add one of the libraries that allow per-object permissions.

**Describe alternatives you've considered**
I currently do this with a tenancy solution based on postgres schema-switching. Only works on postgres and could be broken / makes migrations difficult.

**Examples of othe

[2021-11-18 01:12] matmair commented on #2323
https://django-guardian.readthedocs.io/en/stable/configuration.html

[2021-11-18 01:18] matmair opened #2324 "[FR][plugin] Verify packages before installing"
**Problem**
Currently if a package index is breached malicious packages could be updated into the plugin system. This is somewhat the case with all python packages.

**Suggested solution**
Add signature checking in the install step:
https://serverfault.com/questions/896228/how-to-verify-a-file-using-an-asc-signature-file

**Describe alternatives you've considered**
It seems to be an accepted pract

[2021-11-18 01:19] SchrodingersGat commented on #2318
@matmair the API forms implementation is pretty complex, I must admit.

The client side stuff is all found in `forms.js`

If you want to add data about a field, it should be done either in the model, or in the serializer.

The API should automatically report (to the client) some metadata about the available fields, for example:

- **label**: The "name" of the field (translated)
- **help_text*: Ext