[2021-03-29 15:32] eeintech opened #1427 "Older database migration failure (permissions can't be set on newer model)"
I ran into this issue when migrating (`inv migrate`) an older instance running on SQLite:
[code]

Because it is trying to set permissions on a model that was not created yet (BuildReport) before running the database migration.

I commented out the line:
https://github.com/inventree/InvenTree/blob/19c03e147269b0edc55b0a554c01ab73ed7ceb8d/InvenTree/users/models.py#L348

And ran `inv migrate` and it

[2021-03-29 17:56] Junky24 commented on #1420
I first used the move command to move the entire old inventree folder to a second drive so that I can keep a working inventree available to help me get the update working, then I downloaded the tar ball for version 0.1.7 and expanded it into the path where 0.1.5 used to be. After that I went into the new inventree folder and ran inv install to get all the needed libraries installed then I did inv

[2021-03-29 18:22] eeintech commented on #1420
@Junky24 I thought you may have ran into the same issue as me, see #1427. But given your initial comment of table data mismatch, I created a new issue.
See if you can comment out line 349 of `InvenTree/users/models.py` file and re-run `inv migrate`, maybe that'd fix your issue.

[2021-03-29 20:02] eeintech commented on #1389
@cdwilson @rco3 I thought about this over the last couple of days and here what I'm settling on.

## Compatibility

First of all, I want the new system to not disrupt the workflow of all InvenTree users (many of which are probably happy with the current implementation) just for the sake of a few of us. I hate software that forces you to change something that simply works fine the way it was, just

[2021-03-29 22:29] #1418 closed

[2021-03-29 23:28] #1427 closed

[2021-03-30 00:30] cdwilson commented on #1389
Agreed, I think this is an important goal (especially while we're still experimenting with this).

Can you explain a bit more about how this will work?  For example, when somebody opts-in to the new system and creates a `ManufacturerPart`, are changes to the Manufacturer name & P/N continuously duplicated into the hidden fields on the `SupplierPart` so that the user can opt-out at a later point?

[2021-03-30 01:35] SchrodingersGat commented on #1389
@eeintech I have not had much time to weigh in on this, but here are my thoughts:

I think that the proposed addition of a new `SourceItem` model is going to introduce more complexity than I would like, and require a pretty significant overhaul of a lot of linked systems (e.g. API / Python libs, etc).

I believe I can distill what you want into a small set of changes, as outlined below. If you bel

[2021-03-30 03:58] cdwilson commented on #1389
@SchrodingersGat Can you confirm this is the relationship that you are proposing?  I tried to include all the scenarios we've discussed so far, and I indicated ones that are not supported by using the red icon (e.g. "One `ManufacturerPart` to many `Parts`" and "One `SupplierPart` to many `Parts`")

![image](https://user-images.githubusercontent.com/14631/112931361-d5d47500-90d0-11eb-9777-f358f6062

[2021-03-30 05:09] SchrodingersGat commented on #1389
Correct, that diagram aligns with what I am suggesting.

[2021-03-30 08:10] SergeoLacruz commented on #1416
Yes, that is on. But I think this enables a responsible user for the stock. A was talking about the responsible for the part.

![responsible_user](https://user-images.githubusercontent.com/10836099/112955786-14554880-9140-11eb-8273-eee21c0dd8e0.png)

[2021-03-30 09:39] SchrodingersGat commented on #1416
Ah, I see. The `responsible user` field for the `part` model doesn't actually *do* anything yet, so it is only available via the admin interface!

[2021-03-30 09:42] SchrodingersGat commented on #1421
@miniPCR-Jesse glad you are excited about the project :)

Currently I am working on a [branch](https://github.com/inventree/InvenTree/pull/1398) which adds a very crucial feature required for third party integration. It adds support for a background process runner, which can handle periodic tasks like checking third-party services for updates, and performing other actions like sending email, etc.

[2021-03-30 14:28] eeintech commented on #1420
@Junky24 You should re-try now as Oliver has fixed the issue I mentioned in #1430

[2021-03-30 22:09] eeintech commented on #1389
@SchrodingersGat @cdwilson

Working on this proposed implementation, will keep you posted on the status.

[2021-03-30 23:54] SchrodingersGat commented on #377
Not really sure on where I want to see this going, currently. It is a *very* complex problem. Even if you have a complete history, how do you "unwind" without breaking some other data?

This one will probably have to stay on the backburner for a while

[2021-03-31 07:08] TheITStudent opened #1434 "Parameters for suppliers"
I need to have more parameter than just the price for the supplier,
Is it possible to commit a modification to have other parameters for the supplier ?

[2021-03-31 09:30] SchrodingersGat commented on #1434
This would most likely require an additional field in the database, which is entirely possible.

What extra parameters are you looking for?

[2021-03-31 09:51] TheITStudent commented on #1434
in our company, a Part have many Suppliers, and the Part don't have all the Parameters but the supplier have specifics parameters, as we can have with the Part

[2021-03-31 10:00] TheITStudent commented on #1434
So for our database to be compatible we need to put parameters into Supplier Part, will it be possible ?

[2021-03-31 11:31] eeintech commented on #377
The more wait, the more complex it gets 😃 But yes I agree with you, I don't have much experience with it either besides my tiny attempt to create history for parts. This could be a full time project for a while.

[2021-03-31 11:34] eeintech commented on #1434
@TheITStudent I'm curious, why would your preference go to having parameters at the supplier part level? It is much more limiting than at the part level because a part can link to multiple supper parts. I don't see the use-case where those multiple supplier part are different from each other and linking to the **same** part. In that case, I would always have a new part for a different supplier par

[2021-03-31 12:45] TheITStudent commented on #1434
@eeintech  we have one part with many suppliers, they are all equivalents, but they don't have the same origin, SVHC or ROHS for example and i need some parameter into the supplier part to put this.

[2021-03-31 13:51] eeintech commented on #1434
@TheITStudent So you want a "Compliance" field inside the supplier part? Is that all you need?

[2021-03-31 14:26] TheITStudent commented on #1434
yes that all i need, it is possible ?

[2021-03-31 19:02] SergeoLacruz commented on #1416
OK. So I assume it is an unfinished feature.
I am working on migrating a database with about 2000 components from a legacy system. We have such a field that tells who originally asked for that part to be added to the database. No further function.

[2021-03-31 21:56] SchrodingersGat commented on #1416
Sounds like that the field would be a good place to put that data, then. How are you importing the records across? Using the admin import tools?

[2021-04-01 07:11] TheITStudent commented on #1434
I just reread, and it's not just one "Compliance" field but many fiels, like for the Part parameters

[2021-04-01 07:39] fjullien commented on #1434
@eeintech there are cases where multiple supplier parts are compatible but not exactly the same. For example, their temparature range are not the same but they both fit the part expected temperature range. If you want to display this parameter in your BOM then you want to have it in the supplier parameters.

There is a lot of examples like this. That's why arbitrary parameters for suppliers would

[2021-04-01 11:04] eeintech commented on #1434
@fjullien While I disagree that two supplier part with different spec (like temperature range) should be attached to the same part (instead of creating a different part), I have to admit that more general flexibility is always welcome for new use-cases.

@TheITStudent I am revamping a bit the `SupplierPart` model (but transparent to all users) and adding a new model called `ManufacturerPart` which

[2021-04-01 11:27] TheITStudent commented on #1434
@eeintech thank you for your modifications, the Parameter don't have to be connected to the manufacturer, but to the supplierPart, to be more precific, the best would be to add parameter part into the supplier part, like the pricing information.
I put a picture to explain where more precisely
![inventree param](https://user-images.githubusercontent.com/81369477/113287504-f75e7800-92ed-11eb-96c2-e1

[2021-04-01 11:30] TheITStudent commented on #1434
is it a better explanation ?

[2021-04-01 11:36] eeintech commented on #1434
@TheITStudent I understood clearly what you're asking. I will show you soon what the `ManufacturerPart` is.
I think it will be a better place to put those, because supplier item is just the distribution of the actual manufactured part (which you would attach different parameters too).

[2021-04-01 14:06] eeintech commented on #1434
@TheITStudent This is an **early** preview but this is how the new Manufacturer part table will look like (under Part view):

![image](https://user-images.githubusercontent.com/4020546/113306030-a6d92180-92d1-11eb-9ead-2c9264440a2f.png)

This will be the "Manufacturer" detail page:

![image](https://user-images.githubusercontent.com/4020546/113306217-d9831a00-92d1-11eb-9080-b7684b95b2af.png)

Here

[2021-04-01 15:05] eeintech commented on #1389
@cdwilson Want to be a beta tester? :smile:

If you do:
1. **BACKUP** your database or create a copy for testing
2. checkout the dev branch from #1417
3. run the `inv update` (let me know how the migration goes)
4. Enable manufacturer parts under "Settings > Parts"

![image](https://user-images.githubusercontent.com/4020546/113312820-aa23db80-92d8-11eb-89f8-d15b9f75db15.png)

5. play around with m

[2021-04-01 15:06] TheITStudent commented on #1434
I agree, that can be the good place to put the parameters.
thank you

[2021-04-02 05:22] cdwilson commented on #1389
@eeintech Yessir!  Just left some initial comments in #1417

[2021-04-02 21:33] cdwilson opened #1435 "Support different unit of measure (UoM) for each supplier"
I'm not exactly sure the correct term for this, but I'm wondering if InvenTree supports different unit of measure (UoM) for each `SupplierPart`.  For example, when buying screws from McMaster-Carr, the UoM can be specified in "packs", where the a quantity of "1 pack" equals 100 screws:

![image](https://user-images.githubusercontent.com/14631/113455184-dc0f6d80-93be-11eb-92f1-a1ccd4ddf0fd.png)

If

[2021-04-02 21:43] cdwilson opened #1436 "Why is company description a required field?"
Just curious if there is a reason why company description is a required field.  I'm usually not really sure what to put in the description field, so I typically just put the company name again.  As a result, all my suppliers and manufacturers show up with an awkward name where it's duplicated twice...

1. Is it possible to make the description field optional?
2. I'm curious how other people use th

[2021-04-02 21:46] SchrodingersGat commented on #1436
Fair question, it could be made an optional field without detriment.

I do find it useful as while the engineering dept knows all about suppliers like Digi-Key etc, other depts might need some context info e.g. "supplier of electronic components."

But sure, can make this field optional

[2021-04-02 21:47] SchrodingersGat commented on #1436
I'm away on holiday for a week but feel free to submit a PR to make this field optional :)

[2021-04-03 07:29] SergeoLacruz commented on #1416
I use the python interface based on the example with the couch. This allows the required flexibility to shuffle all parameters around.

[2021-04-03 11:56] matmair commented on #753
Just a heads-up, I am actively working on that, I am currently going through every file in the system, and it might take a while.
The branch I am working on that is https://github.com/matmair/InvenTree/tree/translation_improv

[2021-04-04 21:43] matmair opened #1438 "StockItemTracking actions are not mulitlingual"
The StockItemTracking adds static messages to the database; that poses be a problem with translations / multilingual installations.
Currently the action-note gets translated to the language of the current user at the time the action is executed. So when an user of a different language access the history for that stock item he gets the message in the language of the user who made the action.

I do

[2021-04-06 18:24] Marioheld opened #1439 "Error ['git', 'rev-parse', '--short', 'HEAD'] after updating for first time"
I encountered the following problem after updating InvenTree for the first time.

I installed InvenTree 0.1.5 following the installation instructions but using zip download of the source instead of the git command. Everything worked flawlessly until I tried to upgrade to 0.1.7.
Trying to download the new release zip files and overwrite the old files did not work well.
The login page still worked b

[2021-04-07 10:10] SchrodingersGat opened #1440 "Cache translated javascript as "static" files"
-Serve js files under the "static" directory
- e.g. allows serving separately
- Improved performance
- Create various translations using the "invoke translate" command
- Follow the "traditional" approach of separating js files into different languages.

Ref: https://github.com/inventree/InvenTree/pull/1437

[2021-04-07 12:09] #1439 closed

[2021-04-07 16:31] eeintech commented on #1439
@SchrodingersGat About this, shouldn't users be warned that, as InvenTree is updated so frequently, the zip install is **not** recommended?

[2021-04-07 20:50] matmair commented on #753
@SchrodingersGat I would recommend closing this issue, I think I got all models / forms

[2021-04-07 20:59] matmair commented on #1440
So I tried this and there a few problems:

- in some js-files there is other template data than translations
- a long ttl on the static dir could cause issues when updating
- the performance gain compared with a good oiled gunicorn instance is insignificant

@SchrodingersGat the gain from doing this seems to be miniscule, there is so much more to gain from other issues I would leave this as-is.

[2021-04-07 21:09] #753 closed

[2021-04-07 21:11] SchrodingersGat commented on #1440
Fair points. If we ever get to the point where we're seeing a performance hit we can readdress.

Another consideration is that the client mostly caches these files anyway!

[2021-04-07 21:11] #1440 closed

[2021-04-08 04:17] cdwilson opened #1442 "Remove duplicate columns from part tables"
(Adding this as a separate issue per request in https://github.com/inventree/InvenTree/pull/1417#issuecomment-815024403 from @eeintech)

There are a couple places (e.g. part stock pages) where the tables include info that is duplicated from the page header.  This info is identical for each line in the table, and it causes the table to be crowded on smaller screens.  Would it be OK to remove these

[2021-04-08 14:21] eeintech opened #1443 "Error exporting BOM in YAML format"
The error is:

![Error](https://user-images.githubusercontent.com/14631/113969183-5db13200-97e9-11eb-918c-c84d23a8eb21.png "Error")

[2021-04-08 18:26] eeintech commented on #1443
Quick investigation leads to a lack of representation for decimal format in the PyYAML library, and `safe_dump` fails.

To reproduce:
[code]

[2021-04-08 18:45] eeintech commented on #1420
@Junky24 Any chance you could re-try with the latest version of InvenTree?

[2021-04-09 01:51] jnewlands opened #1448 "Serialised Stock Items can't be transferred between locations"
Non serialised stock item:
![working_transfer](https://user-images.githubusercontent.com/12148705/114117319-cacbe100-9929-11eb-8db7-4b6c3b6e51ce.png)

Serialised stock item:
![not_working_transfer](https://user-images.githubusercontent.com/12148705/114117326-ce5f6800-9929-11eb-865f-3a100add8e15.png)

[2021-04-09 01:58] #1442 closed

[2021-04-09 02:00] eeintech commented on #1442
@cdwilson Checkout master :wink:

[2021-04-09 23:17] #1443 closed

[2021-04-09 23:19] #1448 closed

[2021-04-10 06:19] #1436 closed

[2021-04-10 18:11] Novakov opened #1451 "API: Updating PartParameters"
I'm playing a bit with InvenTree and trying to build scripts that will allow me to import a lot of parts into database (like Ki-nTree but different data source and a lot of parts at once). My idea was to build scripts incrementaly but I might hit issue with part parameters API: it is not possible to edit existing part parameter.

I'm using Python with `inventree` package and following function for

[2021-04-11 05:38] #1097 closed

[2021-04-11 09:29] SchrodingersGat commented on #1451
Fix incoming - https://github.com/inventree/InvenTree/pull/1453

Turns out the `PartParameter` model did not have a detail endpoint allowing for update / delete operations.

[2021-04-11 09:38] Novakov commented on #1451
That was quick, thanks a lot :)

[2021-04-11 09:41] #1451 closed

[2021-04-12 18:48] laaber opened #1454 "Creating variant from template doesn't copy paramaters if invoked from "create new part""
Hi,
I've just started evaluating/testing InvenTree, so maybe I'm just doing it wrong :)
I'm using commit-ID 72f83771f127f15f64251d3eec8b01999efaec90

That said...
I've created a Part and set "Template" to true. I've added a parameter to it. Now I'm creating a variant of this template part by opening the template part, click "variants" (URL: /part/3/variants) and "new variant". "Copy Parameters" is

[2021-04-12 23:47] rcludwick opened #1455 "Django Q and Django secret key documentation fixes."
Excellent work on the docker file.

I would add the following in the documentation of the workers.

All workers and servers need the same DJANGO_SECRET_KEY, otherwise the workers will not work correctly.  Hit that in development a ways back.  It's a subtle bug that will trip people up.  (especially if they decide to run 2 servers for high availability)

Also I would add documentation on docker hub

[2021-04-12 23:58] rcludwick opened #1456 "Docker: add docker compose secret key support"
Docker compose supports secrets.
[code]

The standard postgres container can use them like so:

[code]

This allows me to reuse the same secret easily as well as changing the secret for both sides of the connection in one place.

[2021-04-13 00:01] rcludwick commented on #1456
my branch allowed me to write the secret keys like this.

[code]

[2021-04-13 00:21] rcludwick opened #1457 "Docker: allow user to use the official nginx server"
I would recommend in the docker_compose example, to rather than deploy a custom nginx container, just specify a config file in the directions and allow the user to mount it inside the docker container.

This will require less infrastructure overhead for you to maintain your own custom docker container, when all the users really need is the nginx config.

[2021-04-13 00:29] rcludwick commented on #1457
[code]

As a docker user I might need to change the port as well as the name of the server (since something else may be running on 80 in the same box/network).  Right now I have mine named "inventree-web", but this nginx file wouldn't work.

[2021-04-13 01:14] SchrodingersGat commented on #1457
Excellent suggestions. I was not sure if that was possible with the nginx image but if so, that's much better.

Can the conf file support environment variables?

[2021-04-13 02:47] miniPCR-Jesse commented on #1421
I've been trying to get detailed info from our operations person, but he's been out for a bit.  Figure in the meantime I'll write out my best guess.

We use WooCommerce to handle all of our orders (orders are manually entered into WooCommerce if they're not made online) and Quickbooks Online for our accounting.  Both seem to have pretty thorough APIs implemented (documentation [here](https://devel

[2021-04-13 10:42] #1295 closed

[2021-04-13 10:42] #1300 closed

[2021-04-13 11:12] SchrodingersGat commented on #1454
@laaber I see what you are saying here, and it is a discrepancy for sure.

I'll have to have a think about how to best handle this, it's a subtle different to the user but potentially difficult to implement.

Your suggestion of simply *always* copying the parameters downstream might be the best, certainly the simplest, approach.

[2021-04-13 11:41] matmair opened #1459 "advanced translation pipeline"
Hi @SchrodingersGat I thought a bit about how one could streamline the translation pipeline - especially for people who are not familiar with Djangos language system. An OS-project I love and use ([Snipe-It](https://github.com/snipe/snipe-it)) uses crowdin. I setup a test [check it out here](https://crwd.in/inventree) which watches the django.po file in my [master](https://github.com/matmair/Inven

[2021-04-13 15:03] eeintech commented on #1454
@laaber Good catch indeed.

Those parameters are defined in the Settings menu, under the "Categories" tab.
Select a category then define the parameters for this category.
Every time a part is created inside this category, you'll have the option to automatically create parameters from the templates attached to that category and/or the parent categories.

[2021-04-13 18:14] eeintech opened #1460 "Docker hub badge URL is broken"
Should be: https://hub.docker.com/r/inventree/inventree
instead of: https://hub.docker.com/inventree/inventree

[2021-04-13 21:55] SchrodingersGat commented on #1460
Thanks, now fixed.

[2021-04-13 21:55] #1460 closed

[2021-04-13 22:32] matmair commented on #1421
I do not have experience with WooCommerce itself but when working with ticket-/inventory-/chat-systems  I came to appreciate webhooks for those tasks.
A Webhook is a api-call made to another system with a payload informing the other system of the triggering action and some additional information in the json-payload. Modern webhooks are singed for security. One can greatly reduce the number of back

[2021-04-14 01:13] jnewlands opened #1461 "Search on specific parameters (e.g. serial number) in main search bar"
Currently to search for a stock item by serial number the best* you can do is enter the serial number in the search bar with no additional qualifiers, which may return many irrelevant results (for instance if the search string is '5' you also get every stock item that has a '5' in the part name, description or serial number).

An example syntax might be "parameter:value" or "parameter=value".

Wou

[2021-04-14 01:33] rcludwick commented on #1457
Yes.... through an env file.  Or though secrets.

[2021-04-14 22:41] matmair commented on #1459
I found a flow diagram I made for another thing, shows how the process / dataflow could work.
![flow_diagramm_crowdin](https://user-images.githubusercontent.com/66015116/114789127-e51b1a00-9d82-11eb-9565-ae72f727d99e.png)

[2021-04-15 01:13] #1389 closed

[2021-04-15 10:52] matmair opened #1463 "use instance name in title and views?"
@SchrodingersGat this is just a suggestion - close this if you disagree, no hard feelings.

There are a few views and (meta) titles where 'InvenTree' is used where it could make sense to use the instance name. I currently have a few instances deployed in places where English is not widely used or known. A few users, especially in manufacturing, are confused by the 'InvenTree' as they are used to o

[2021-04-15 11:24] SchrodingersGat commented on #1463
I'm not opposed to this, feel free to submit a PR showing how you would like to see it implemented

[2021-04-15 12:54] matmair commented on #1463
@SchrodingersGat I threw together how I would do it.
It am missing:
- unittests
- UI-tests
- documentation

the feature branch is in [my github](https://github.com/matmair/InvenTree/tree/instance-name-in-title)

[2021-04-15 23:00] nwns opened #1467 "See or select the default location when receiving stock"
When receiving parts on a PO, unless you happen to have the correct location of the part memorised, you have no idea what the correct location of received part is.

There are a couple of ways that this could be solved satisfactorily:
1) When receiving a single line item, automatically select the default location as the location destination.  I looked at the code and as far as I can tell, this is n

[2021-04-15 23:08] dwery opened #1468 "Importing in "Stock items" requires the part id"
It would be nice if part_name were sufficient, otherwise a lookup is needed to prepare the data before the import

[2021-04-16 11:34] SchrodingersGat commented on #1467
Seems like this is a similar issue to https://github.com/inventree/InvenTree/issues/551

I think that 2) is going to be the best approach here. Each "location" can be filled with the "default location" for that part (if it exists)

Going a little bit further, I think that each `PurchaseOrderLIneItem` object should have a `destination` field. This can be set even before the items are received. For

[2021-04-16 11:41] SchrodingersGat commented on #1468
@dwery this is a good idea

[2021-04-16 12:06] SchrodingersGat commented on #1459
Interesting, I had not heard of this before. I've been wondering for a while how to make the translation process easier for anyone to contribute.

Are there any examples of using crowdin with a django project in particular? I'm trying to find some django specific examples without much luck so far.

[2021-04-16 12:39] matmair commented on #1459
I do not know of any examples with Django but I configured the shown configuration to try it out in my fork.

[2021-04-16 18:23] sintech opened #1471 "My thoughts and ideas about InvenTree project."
First, I would like to thank @SchrodingersGat, @eeintech and all other contributors for all you have done.

Some background: I'm an electronics hobbyist and one day (like everyone else) I realized that excel is not enough for me to keep records about my parts and pieces. So, I searched and I found many inventory systems: some of them were too simple or generic, some - too complex or pricy. Others

[2021-04-16 18:24] nwns commented on #1467
That makes sense.

For the next sprint (on Thursday), I will start with 2), and if time remains expand upon it further as outlined.

[2021-04-17 01:09] wengtad opened #1472 "Question about part selling"
Use cases:
1. Create a sale order.
2. Add part with quantity 2.
3. Assign parts using serial number (SN001 and SN002).
4. Send to customer.
5. Return 1 of the part with serial number SN002 to a location (Office).
6. Send a replacement to customer with serial number SN003 (probably create a new sale order for this).
7. SN002 able to assign to another customer. (but currently is not working, it is n

[2021-04-17 10:30] matmair commented on #1459
@SchrodingersGat the crowdin project with CI enabled is hosted [here](https://crowdin.com/project/inventree1).
The [github action](.github/workflows/translations.yml) creates the current po files and pushes them to the [base branch](https://github.com/matmair/InvenTree/blob/l10_base/InvenTree/locale/en/LC_MESSAGES/django.po).
The crowdin translations are pushed every 10 minutes to [this branch](ht

[2021-04-17 17:24] irameez opened #1473 "Migrating Data on docker"
Hello,
I am trying to import data in InvenTree using docker. But it gives me the error:
`docker-compose run inventree invoke import-records -f data_170420.json`
`Creating inventree_inventree_run ... done`
`Error: File '/home/inventree/src/data_170420.json' does not exist`
`ERROR: 1`

Where exactly do  I need to put my json file, I have tried putting it in the place it where creates the json file w

[2021-04-18 01:04] rcludwick commented on #1473
So if you look at the static data mount point it should look like something like this right?

[code]

So that maps the local directory data to /home/inventree/data inside the container.  So if you copy the file to ```data/data_170420.json```, it should be visible inside the container with the following command:

```docker-compose run inventree invoke import-records -f /home/inventree/data/data_170

[2021-04-18 01:14] rcludwick commented on #1473
Oh also make sure the directory and file is 777 permissions so it's readable by inventree.

```chmod -R 777 data```

[2021-04-18 01:28] rcludwick commented on #1473
So this is his other error, and it looks like pg_dump is not in the docker container, or it has the wrong pathing.

[code]

[2021-04-18 04:37] SchrodingersGat commented on #1473
Looks like I need to include `pg_dump` binary in the docker container!

[2021-04-18 06:27] rcludwick opened #1477 "inventree data leak"
Inventree leaks the DB password in the logs.

Probably best to remove that line or replace it with a sha-256 hash.

[2021-04-18 06:55] SchrodingersGat commented on #1477
Great catch @rcludwick - can you please check the referenced PR to ensure that I've fixed the issue at the right spot.

[2021-04-18 07:20] #1477 closed

[2021-04-18 08:32] rcludwick commented on #1457
Okay ... this is what I got working tonight.  @SchrodingersGat Tell me what you think:

nginx.conf:  (Note: proxy_pass needs to use whatever the container name and port is in docker, in this case I use "inventree-web")
[code]

Then my docker-compose.yml looks like this:

[code]

[2021-04-18 08:48] SchrodingersGat commented on #1457
Thanks @rcludwick - I'm rolling these suggestions into https://github.com/inventree/InvenTree/pull/1476

[2021-04-18 09:45] SchrodingersGat commented on #1455
This has now been fixed in the docs - thanks for pointing this out.

[2021-04-18 09:45] #1455 closed

[2021-04-18 09:52] #1457 closed

[2021-04-18 10:11] rcludwick commented on #677
@SchrodingersGat  there's a couple of options I think I would consider maybe.

If you went with google spreadsheets, google would be doing most of the heavy lifting for you.  The workflow would look something like this:
1. Create the spread sheet in google sheets with the columns pre-made.   https://googleapis.github.io/google-api-python-client/docs/dyn/sheets_v4.spreadsheets.html#create
2. Let th

[2021-04-18 10:37] SchrodingersGat commented on #1473
@irameez I have updated the docker image such that you should no longer see the `pg_dump` related errors.

If you can update your docker image, and try again?

[2021-04-18 11:48] #1463 closed

[2021-04-18 11:55] matmair opened #1484 "stock level graph"
Yes - to date there has been no historical data to "graph". However I would love to support charts.

If you are going to add graph support here (and chart.js looks great) then I would like to implement a 'stock level history' graph - and I'm sure there are other areas it could be used too!

Excited to see what you come up with here :)

_Originally posted by @SchrodingersGat in https://github.com/i

[2021-04-18 11:58] matmair commented on #1484
@SchrodingersGat I would love to implement a stock level history graph.
One problem I see is that one can have multiple stock items of the same part in the same location-> should those be summed up or should we keep it per stock item?

[2021-04-18 21:36] matmair opened #1485 "performance optimisation"
## How I noticed
I am currently transitioning from testing InvenTree in small academic / teaching environments (max. 10 concurrent users) to a larger pool before deployment to est. 100 concurrent users.

With that came a switch to quite powerful production webservers and bare-metal configs instead of docker. Out of curiosity I measured the performance of the new docker-image and the performance is

[2021-04-18 22:50] SchrodingersGat commented on #1485
@matmair thanks for starting this conversation! Performance has been a core design criterion for me, so I'm very happy to support improvements in this area.

This is a good idea, and a pretty low barrier to implementation. Currently all the JS files are loaded via the "base.html" template as it's simpler

I have not looked into this before, but it looks like a great idea. Approximately how much of

[2021-04-18 22:52] SchrodingersGat commented on #1484
I think there would be a case for a "two-level" stock history:

### Stock Item History

Currently we already have stock item history (although this is in *serious* need of rework). So we could have a graph of "stock level" for a single StockItem

### Part History

Individual stock items come and go, and may well be entirely deleted from the system. So I think that each time a stock item quantity i

[2021-04-19 06:45] SchrodingersGat opened #1486 "Allow quantity < 1 for BOM"
A BOM line item should have the ability to set quantity < 1

For example  0.25 m of wire

[2021-04-19 09:54] irameez commented on #1473
That fixed the issue but now I am getting this error:
[import_error.txt](https://github.com/inventree/InvenTree/files/6334995/import_error.txt)

[2021-04-19 09:56] irameez commented on #1473
thanks backup is working now.

[2021-04-19 10:35] SchrodingersGat commented on #1473
Fantastic! Can I close out this issue?

[2021-04-19 10:40] irameez commented on #1473
actually I am still having a problem importing the data file. I am getting this error now
[import_error.txt](https://github.com/inventree/InvenTree/files/6335310/import_error.txt)

[2021-04-19 10:47] SchrodingersGat commented on #1473
That error message is saying that there are duplicate settings values with the key `PART_ASSEMBLY`.

You already have settings configured in the database, and are trying to re-import them - but the import process is failing because the key already exists.

If you prune the `PART_ASSEMBLY` entry out of the data you are importing, it will progress (but mostly likely hit the next issue).

Importing d

[2021-04-19 10:50] irameez commented on #1473
I see, but what I don't understand is that I am trying to import data on a fresh install of InvenTree, why is it showing this entry where the database is fresh and empty

[2021-04-19 15:30] eeintech commented on #1472
@wengtad I was able to reproduce, the reason was that stock items associated to sales order returned as "no stock". I updated the  return from customer (eg. return to stock option) method to unset the `sales_order` field.
However, you will have to go into the Admin section to unset the sales order for the current stock items which were returned from customers already.

[2021-04-19 16:34] matmair commented on #1485
@SchrodingersGat regarding expiry: [nginx-headers](https://serverfault.com/a/334871) that would reduce the amount of loaded data by half (on the /part/ -site) on each reload, that is the lowest hanging fruit.

I will look at the rendering of the JS-files this week, I find that the most interesting. Also, it could make - with a fast static file-server - quite a lot of difference. The /dynamic/ cont

[2021-04-19 21:38] #1472 closed

[2021-04-20 02:26] wengtad commented on #1273
Seems like WeasyPrint was removed the cairo dependency. Based on their comment [here](https://github.com/Kozea/WeasyPrint/issues/841#issuecomment-773941914).

[2021-04-20 03:06] SchrodingersGat opened #1491 "Print labels for multiple stock locations"
Currently printing stock location labels is difficult as each label needs to be printed separately.

Allow multiple stock locations to be selected and print labels against a template

[2021-04-20 03:18] SchrodingersGat commented on #1273
@wengtad yes promising progress! Hopefully the remaining non-python deps will be dealt with soon too :)

[2021-04-20 06:31] rcludwick commented on #1473
@SchrodingersGat If you use pg_dump to dump the db, can he possibly use pg_restore to restore it?

[2021-04-20 07:00] SchrodingersGat commented on #1471
Hey @sintech thanks for your input. Reading through your ideas here, I think a lot of them have a lot of merit.

However there is *far* too much to deal with on a single issue!

I would suggest you break your ideas down into separate issues, and there we can discuss the merits and implementation of each idea separately. Perhaps you would be willing to contribute towards some of the issues too?

Ch

[2021-04-20 08:01] irameez commented on #1473
I have tried importing data at different steps; after data migration, before and after creating super user.
Actually I have inventree running on mysql/ubuntu without docker, I installed docker and since it uses PostgreSQL I was trying to import data.

[2021-04-20 10:39] sintech commented on #1471
Thanks for feedback @SchrodingersGat.
Sure, I will create one issue per idea to be more productive.
I'd love to contribute but my experience with django is pretty limited (only one semi-complete project).
I guess I will try to implement something on my own, do a PR and then we'll see.

[2021-04-20 10:39] #1471 closed

[2021-04-20 10:45] SchrodingersGat commented on #1471
Sounds great! If you get stuck diving into the code I'm more than happy to help.

It's grown into a pretty large project now, so please don't feel overwhelmed :)

[2021-04-20 11:10] #1491 closed

[2021-04-20 11:40] matmair commented on #1485
The first suggestion -> only loading needed JS-files is unnecessary with caching enabled / the new translation mechanism.
I will work on manifest storage this evening, than the new stuff should work.

[2021-04-20 12:30] matmair commented on #677
@SchrodingersGat @rcludwick
There is add-in with functionality like that in bootstrap-table: [X-Editable](https://bootstrap-table.com/docs/extensions/editable/). There are some issues with the implementation but it is a good starting point.

[2021-04-20 13:41] eeintech commented on #1471
@sintech I started exactly as you did, but from a different angle.

One thing that KiCad is **badly** missing is decentralized database of parts. I just couldn't cope (and still can't in some way) with the fact that each resistor (and other common parts) need to have a unique symbol in the library. So much efficiency waste in designing circuits!

Anyhow, my new team needed an inventory system and

[2021-04-20 15:28] sintech commented on #1471
I always use only one symbol for resistors (R for example) and when my design is ready for PCB I assign footprints depending on what size (0603, 0805, thru-hole) I need. But I see your point, in complex projects you have to have exact mapping between component model, symbol and footprint. Luckily I'm not at this point right now, but I'm moving towards it.

Sound like a good idea: some discord, sla

[2021-04-20 16:52] matmair commented on #1485
@SchrodingersGat next ideas for performance:

- [ ] reduce the amount of small API-calls (esp. on index)
- [ ] optimise SQL-lookups
- [ ] optimise form-rendering - I do not know right now what is causing it but the pop-up forms take a lot of time to load

[2021-04-20 22:50] SchrodingersGat opened #1496 "Stock Table does not do server-side sorting properly"
The table is sending the wrong sort parameters to the server.

bootstrap-table by default uses `sort` and `order` parameters, which is not what InvenTree server requires.

Other tables have been adapted already, but the stock table is not working for some reason!

[2021-04-21 00:24] SchrodingersGat commented on #1496
Strangely cannot seem to replicate the issue now...

[2021-04-21 00:29] SchrodingersGat commented on #1485
Regarding optimization of SQL queries and form rendering - InvenTree currently supports [django-debug-toolbar](https://django-debug-toolbar.readthedocs.io/en/latest/) which you can activate via the configuration options. This can show you where the inefficiencies are.

Note that the toolbar itself slows down rendering considerably!

I have used this in the past to narrow down some SQL issues, and

[2021-04-21 00:34] SchrodingersGat commented on #1486
Already works, actually!

[2021-04-21 00:34] #1486 closed

[2021-04-21 00:58] SchrodingersGat commented on #1459
@matmair I've had a look at the crowdin page, it looks **really** good - I'd like to make this the "official" way to do translations :)

How do we proceed from here?

FYI the github action link you posted doesn't work

[2021-04-21 02:35] SchrodingersGat commented on #1459
https://github.com/inventree/InvenTree/pull/1498 adds some more locale entrypoints too

[2021-04-21 03:10] SchrodingersGat commented on #1459
And looks like crowdin supports translation status badges we can include in README.md

https://store.crowdin.com/products/bds

[2021-04-21 07:29] #1340 closed

[2021-04-21 07:52] matmair commented on #1459
@SchrodingersGat  Cool ;-) I restructured the action and everything else a few days ago to have a CI - example.

I deleted the example-project so the 'inventree' name and URL are free now. I have a full and working CI-example [here](https://crowdin.com/project/inventree1), if you provide me an e-mail (twitter DM for example) I can make you a manager to have a look around and see how I configured e

[2021-04-21 08:18] matmair commented on #1459
I just checked out bds, seems to be cool - I added an exampe [here](https://github.com/matmair/InvenTree/tree/sample/badges#readme)

[2021-04-21 10:36] SchrodingersGat commented on #1459
@matmair can you add me as a maintainer on your example project? My crowdin username is @SchrodingersGat

Cheers

[2021-04-21 10:40] matmair commented on #1459
@SchrodingersGat I am trying for a few minutes now, seems like a free user (without open source project) can only have one manager.

[2021-04-21 10:42] matmair commented on #1459
Interesting that I could be made manager on your project.
I just looked how the 'official' project is set up now, will submit PR to crowdin-file to fix the multiple files showing up. It is all controlled by the file.

[2021-04-21 10:45] matmair commented on #1459
@SchrodingersGat I see you fixed it already 👍

[2021-04-21 11:31] SchrodingersGat commented on #1459
Trail and error :p

[2021-04-21 12:24] SchrodingersGat commented on #1238
Hey @neco1982 - just letting you know that language translation for InvenTree is now provided via crowdin - https://crowdin.com/project/inventree

If you are interested, this would be a fantastic place to help out other Turkish users by contributing to the translation effort!

Hope you are still making good use of InvenTree :)

[2021-04-21 12:59] matmair commented on #1459
I think I can happily close this now ;-) thank you @SchrodingersGat for picking this up, will reduce the manual work for translating a lot.

[2021-04-21 12:59] #1459 closed

[2021-04-21 13:45] eeintech commented on #1459
@matmair So if I understand correctly, every new PR will create a push to Crowdin to process the translation, then create new GitHub PR with the updated translation files? No need to run `inv translate` anymore?

[2021-04-21 13:51] matmair commented on #1459
@eeintech at the moment yes. If it works, I will create a PR to only run when pushed to master - to reduce unnecessary work for ppl. translating.
Short version: no more `inv translate` + semi-automated translations -> better quality.

[2021-04-21 13:53] eeintech commented on #1459
Cool, I'm trying out Crowdin's editor but I don't know how to push suggested translations... Do you need write access to the project? Where is the "send for review" button or similar?

[2021-04-21 13:58] matmair commented on #1459
There are 2 steps:
- you translate the string and the indicator switches from red to green
- you approve or get aproved the string (with the checkmark-symbol)

crowdin checks every few minutes for new aproved strings or changes in the source-translation-files and pushes or pulls them.

[2021-04-21 14:06] eeintech commented on #1459
Oh I see the server is polling the suggestion is you go, I thought you would have to push yourself.

I started playing with it, it seems that I cannot approve but only suggest, so I don't have a checkmark symbol.
The only indicator is the item turns green:

![image](https://user-images.githubusercontent.com/4020546/115567427-3f3b4400-a289-11eb-81d0-6a73c22c3e0d.png)

[2021-04-21 14:08] eeintech commented on #1459
It's a neat system overall! Well done with that implementation!

My french (native language) is so rusty haha

[2021-04-21 14:08] matmair commented on #1459
@eeintech if you start translating to french I would suggest to translate the core-name like below. You can insert them on the right sight of the translator view. Those entries are used in the suggestions so you can make translating much faster.
![grafik](https://user-images.githubusercontent.com/66015116/115567714-d8834e00-a2bb-11eb-87ca-54e267b6ce6d.png)

| Englisch | Deutsch |
|-|-|
| allocatio

[2021-04-21 14:14] matmair commented on #1459
I just checked; you are right. I gave you permissions to approve French.

Another project in which I submit a lot of translations uses this system, it opens up translating to non-programmers as it lowers the bar.

I know that feeling. Sometimes I wonder if my German or English is worse. But to be fair there is quite a dialect in my area so most Germans do not understand me either.

[2021-04-21 14:14] eeintech commented on #1459
@matmair Ummm I see, it is less intuitive to start there because the editor is pulling random (?) phrases in the left panel, it would be nice if it started with those "core" translation at the top of the list. Any way those words can be marked as "core" and Crowdin picked them up first?

[2021-04-21 14:24] eeintech commented on #1459
This is seriously addictive and takes me at least 2 min per word to be certain that's the way it would be used in French :sweat_smile:

Question: is it case sensitive?
For instance if I translate "Part" with "composant", will it automatically make the first letter uppercase?

[2021-04-21 14:33] matmair commented on #1459
Well the phrases it shows you are somewhat sorted - it shows you stuff it can use for suggestions later. I do not know how one could highlight translations but I will look into it.

It uses the strings the way you input them. The QA looks out if the first and last letter match the source string.

Finding good translations is hard.

[2021-04-21 14:40] eeintech commented on #1459
Understood.

Other few questions:
- what does Crowdin do with "suggested" translation? Where can I review and approve of all it at once?
- what does it do with "approved" translation (push to InvenTree branch `l10n`)?

[2021-04-21 14:55] matmair commented on #1459
1. On the project-site you can select a language and then 'Proofread' to approve suggested strings
![grafik](https://user-images.githubusercontent.com/66015116/115574540-02d80a00-a2c2-11eb-9fe2-5b48c502d09c.png)
2. Approved translations are pushed to l10n, from where they then will need to be manually pulled. That can be done for all languages in one operation.

[2021-04-22 11:32] matmair opened #1509 "auto-fill purchase price"
@SchrodingersGat while testing my changes for #1482 I noticed that the price for a part is not filled out in a sales order when the item is added from /part/\<pk>/

Is that intentional? I have a fix already ready locally, but I am not sure if that was a design decision

[2021-04-22 11:34] SchrodingersGat commented on #1509
Not intentional, the sales order stuff needs a fair bit of work still!

[2021-04-22 17:38] #1509 closed

[2021-04-22 20:31] matmair opened #1512 "Part - get_price"
@SchrodingersGat  get_price currently just returns None when called with a quantity lower than the lowest pricebreak.
2 questions:
- intentional?
- should the automatic calculation when a part is added warn if there if that results in no price added?

[2021-04-22 20:50] matmair opened #1513 "calc price when adding new item to purchase / sales order"
Suggest the price based on the price_breaks and quantity of the selected part automatically when:

- [x] purchase order item is added
- [x] sales order item is added

[2021-04-22 22:05] matmair commented on #1484
@SchrodingersGat I just sketched the *Stock Item History Graph* out and realised something: the way Stock Items work they will (al)most never get restocked. That is because every time you buy new stock a new stock item will be created.
I think it does not make sense to implement it. I already have a rough outline in my fork because I realised to late so if you think it still makes sense, I can fin

[2021-04-22 22:06] #1485 closed

[2021-04-22 22:43] SchrodingersGat commented on #1484
I think you are probably right. The effort required to track and graph stock level for each individual stock *item* is probably not worth it, given how ephemeral the individual stock items can be.

Instead, I think that "stock level history" should be calculated against each *Part*.

Each time a stock item is updated (here "updated" means "created", "edited", "deleted"), we should run `part.calcul

[2021-04-22 23:03] SchrodingersGat commented on #1512
Not "intentional", perhaps it should just return the lowest quantity price break in this situation?

[2021-04-23 11:31] wengtad opened #1515 "Support more currency"
May I know how to add more currency in the list? Are there any setting to do it?
![image](https://user-images.githubusercontent.com/12437747/115865051-5dac6580-a46a-11eb-9d23-d7aa6f266d5e.png)

[2021-04-23 11:38] SchrodingersGat commented on #1515
Edit the `config.yaml` configuration file :)

[2021-04-23 11:40] wengtad commented on #1515
Ah okay, I found it, thanks.

[2021-04-23 11:40] #1515 closed

[2021-04-23 23:38] #1496 closed

[2021-04-23 23:41] SchrodingersGat commented on #1484
Actually @matmair the individual stock item history already is present, look at the `StockItemTracking` model. This stores a "quantity" for each time the StockItem is updated.

[2021-04-23 23:50] #114 closed

[2021-04-24 08:56] irameez commented on #1473
Just wondering, so there is no fool proof way of transfering data from MySQL to PostgreSQL

[2021-04-24 11:15] matmair commented on #1484
@SchrodingersGat I saw that, my question was more of 'do we need it' than an 'could we do it'.
I will implement the suggested model and try hooking a signal to `addTransactionNote`.

[2021-04-24 11:23] matmair commented on #1421
@miniPCR-Jesse @SchrodingersGat I just had to implemented webhooks in a project and found [this libary](https://github.com/zapier/django-rest-hooks) to be very fast in implementing and running, could be async with django-g. Also it is made by zapier, who i admire for their great webhook / api-based plattform

[2021-04-25 02:26] SchrodingersGat commented on #1473
@irameez the data import/export process should not care what database you are using - the file format is JSON and InvenTree should take care of properly importing and exporting the data.

I have spent some now looking into the data import/export process. There were definitely some (very subtle) issues with it.

PR is here - https://github.com/inventree/InvenTree/pull/1517

Once that PR is merged (

[2021-04-26 09:11] SchrodingersGat commented on #1420
@Junky24 I'm closing this issue for now, but if you come back here and need further assistance please feel free to open it again.

[2021-04-26 09:11] #1420 closed

[2021-04-26 09:13] SchrodingersGat commented on #1264
@neco1982 I am closing this issue for now, but if you have anything further to add, please feel free to open it again. Thanks

[2021-04-26 09:13] #1264 closed

[2021-04-26 09:16] SchrodingersGat commented on #677
Ooooh that does look very fancy. Might make a *lot* of existing form-based editing redundant if we can use in-line editables

[2021-04-26 09:19] SchrodingersGat commented on #1435
Sounds like this is a very similar issue to:

- https://github.com/inventree/InvenTree/issues/1126
- https://github.com/inventree/InvenTree/issues/1192

Currently InvenTree does not support this, other than adding quantity "100" to the order..

I'd be interested in suggestions as to how to best handle this...

[2021-04-26 11:33] irameez commented on #1473
Thank you, on latest version import is working fine now. You can close this issue.

[2021-04-26 11:45] #1473 closed

[2021-04-26 14:09] eeintech commented on #677
Just FYI this project is quite dead...

![image](https://user-images.githubusercontent.com/4020546/116096506-5ad29000-a677-11eb-8063-45202bbfe72b.png)

[2021-04-26 15:05] matmair commented on #677
@eeintech you are quite right about that, I did not see that. Quick search found something [quite similar](https://github.com/micc83/editTable) that could be implemented with the formatters from bootstrap-table.
It seems to be active (enough) and is written by a fullstack-dev that seems to keep everything simple and small. I will do a fast check on the weekend.

There is however no License, I open

[2021-04-26 18:29] matmair opened #1519 "More syntax for adding serial numbers"
I will add the following two options to serial number-recognition:
\<start>+ :add expected number of serials after \<start>
\<start>+\<length> :add \<length> numbers starting at \<start>

I am thinking of also including a character for filling a pattern with all missing serials (to get the expected number of serial numbers).
What do you think @SchrodingersGat ?

[2021-04-26 21:44] SchrodingersGat commented on #1519
I like it! Both suggestions I would support.

[2021-04-26 22:25] #1519 closed

[2021-04-27 13:55] eeintech commented on #1519
Sweet! Nice job!

[2021-04-27 19:32] matmair opened #1524 "[BUG] no attribute MPN"
# System

Version: 0.2.2 pre
Commit-Date: 2021-04-27
Commit-Hash: 4d2e23f
Plattform: Win H2 - WSL2 Debian Buster
Deployment Method: runserver

# Steps to reproduce
- open supplier part
- add price break (button)
- enter data (does not matter, in my case: number 1, price 1)
-> results in 'Internal Server Error' Error Code 500

# Message
AttributeError at /price-break/new/
'SupplierPart' object has

[2021-04-27 19:40] matmair commented on #1524
@SchrodingersGat @eeintech
to be fair I already made a patch, I am just not sure how I am the first do discover that. The last code-change on this line is 6 months old. Is it my system/setup maybe?

[2021-04-27 19:47] eeintech commented on #1524
@matmair This is happening because of #1417, sorry about that. It should be `supplier_part.manufacturer_part.MPN` or similar.

[2021-04-27 19:49] eeintech commented on #1524
Oh I didn't see #1525 yes it is correct! Good catch!

[2021-04-27 21:52] #1524 closed

[2021-04-27 22:17] matmair commented on #1512
Changing the default behaviour creates a lot of problems, I will not poke this hornets-nest further.

[2021-04-27 22:17] #1512 closed

[2021-04-28 08:09] wengtad opened #1526 "Error when viewing supplier price breaks in Admin view"
I'm using demo site https://inventree.polarize.xyz hosted by eeintech to test.
Hitting this when click one of the item in the item list.

[code]

[2021-04-28 08:31] matmair commented on #1526
@wengtad this was fixed yesterday with #1525

[2021-04-28 08:33] wengtad commented on #1526
oops, didn't notice this.

[2021-04-28 08:33] #1526 closed

[2021-04-28 08:36] matmair commented on #1484
Will be put on hold till #1303 is implemented https://github.com/inventree/InvenTree/pull/1520#issuecomment-828000341

[2021-04-28 10:28] SchrodingersGat commented on #1421
Looks very interesting @matmair !

[2021-04-28 11:03] matmair commented on #1303
@SchrodingersGat the package(django-simple-history) itself is great but I have had problems when people **restore** data. Used as a fancy log it worked fine.
Some stuff to consider:
- values in unique fields might be taken again - creating conflicts
- if you have a lot of signals in your model restores might start a lot of tasks - in one case that led to data-continuity problems in a multi-user en

[2021-04-28 11:10] SchrodingersGat commented on #1303
All very reasonable points. A good is example is if stock was moved from a location which has now been deleted - there's no way to "undo" that in a single action!

Maybe this is a case of "asking the wrong question". What I am looking to do is refactor the current "stock history" implementation to solve a number of outstanding issues:

- Stock "status" changes are not tracked - https://github.com/

[2021-04-28 11:19] matmair commented on #1303
I mean if you do not plan to restore anything I do not see a problem, then it might be a great + fast solution.

Stock history items would be translated now 👼. How one would implement that with an automatically generated record/table I would have to check. But passing through custom change-messages will be necessary anyway because the defaults do not mean anything to users.

[2021-04-28 11:31] matmair opened #1527 "Set user language per session"
Support setting the user language in the settings (like the theme). On a per-session basis using the included [Django tools](https://docs.djangoproject.com/en/3.2/topics/i18n/translation/#the-set-language-redirect-view).

[2021-04-28 14:12] eeintech commented on #1512
@matmair What kind of problems? Would be nice to have it return the lowest quantity unit price and calculate for the requested quantity.

[2021-04-28 14:16] eeintech commented on #1526
@wengtad I just updated the demo instance, let us know if you find any other issue while using it. Remember the database is reset every week (Sunday) and every time I manually update it.

[2021-04-28 15:40] eeintech commented on #1220
@SchrodingersGat Was going to take a stab at this but realized that the build system has changed quite a bit... Also looks like allocation ignores the build outputs and does it for the full build quantity.

[2021-04-28 16:06] #1220 closed

[2021-04-28 16:11] eeintech opened #1531 "[BUILD] Part allocation/order improvements"
* Should let user decide to allocate parts for either incomplete build outputs (this was possible before) or the full build order
* Should let user create a "batch" purchase order of all parts used in the build, for either incomplete build outputs or the full build order
* Unallocating a single item should show which item will be unallocated

![image](https://user-images.githubusercontent.com/4020

[2021-04-28 16:20] eeintech commented on #1512
#1178 was related. I think we should find a solution to this problem

[2021-04-28 21:17] matmair opened #1533 "Embed information on 3rd-party libraries"
I would like to create a place (I suggest the "about" modal) where all the great used libraries get mentioned and their licenses linked. The legal depts. in bigger organisations like to see something like that to be sure there is nothing bad going on licensing wise ([like this](https://www.theregister.com/2021/03/25/ruby_rails_code/)).

@SchrodingersGat
Thoughts / did I oversee that there already

[2021-04-28 21:32] matmair commented on #1512
@eeintech stuff broke in a lot of places and I could not find out why everywhere.
I think it makes sense that you can set a minimum order quantity just by starting the price-breaks at the minimum quantity. But correct me if you think otherwise.

[2021-04-29 19:32] eeintech commented on #1512
@matmair Does #1535 implementation works for you?

[2021-04-30 00:41] SchrodingersGat commented on #1533
I like this idea. I would suggest that we add it to the inventree documentation (https://inventree.readthedocs.io) and then add:

- A link from the "about" modal in InvenTree
- A link from README.md

[2021-04-30 01:53] #1527 closed

[2021-04-30 05:55] matmair commented on #1533
👍That is a way better way than my tech-demo. Will submit a PR today.

[2021-04-30 05:58] matmair commented on #1512
In the core functions (purchase-orders, pricing information) it does but I get a wired error when deleting stock - which hinders me from getting rid of stock. Will investigate further and submit my findings.

[2021-04-30 11:02] SchrodingersGat commented on #1533
https://inventree.readthedocs.io/en/latest/credits/

[2021-04-30 11:25] eeintech commented on #1512
Weird indeed, I just checked and I don't have this kind of error. Have you tried the same thing with `master` on your setup?

[2021-04-30 22:20] matmair commented on #1512
I have reset the deployment in which I got the error, seems to run fine now.

[2021-04-30 22:25] #1533 closed

[2021-04-30 23:52] #1178 closed

[2021-05-02 10:53] wengtad commented on #1526
@eeintech sure, if i find any issue will create an issue. thanks.

[2021-05-02 18:53] cdwilson opened #1539 "[BOM] Support leader and attrition for BOM item overage calculation"
Currently InvenTree supports a single "overage" field:

![image](https://user-images.githubusercontent.com/14631/116823206-0b3d0a00-ab38-11eb-9cc2-65ecf7485113.png)

In PCBA manufacturing, this "overage" is typically specified by the factory as three separate requirements: "minimum quantity", "leader", and "attrition" (see [this](https://www.worthingtonassembly.com/consigned-material) excellent ar

[2021-05-02 19:50] cdwilson commented on #1539
Just saw [this note](https://inventree.readthedocs.io/en/latest/build/bom/#bom-line-items) in the docs when I was trying to figure out why the overage wasn't affecting the "Can Build" value:

![image](https://user-images.githubusercontent.com/14631/116825470-578e4700-ab44-11eb-956a-46062a1fff43.png)

![image](https://user-images.githubusercontent.com/14631/116825542-a5a34a80-ab44-11eb-8172-5b2b3c5

[2021-05-03 17:33] lookme2 opened #1540 "BOM Template"
I am looking for a BOM Template.  Does one exist?

[2021-05-03 19:08] eeintech commented on #1540
@lookme2 You don't really need a BOM template, you'll need to match your headers with InvenTree's fields.
Take a look at this part of the doc: https://inventree.readthedocs.io/en/latest/build/bom/#select-fields

[2021-05-03 21:02] lookme2 commented on #1540
@eeintech I don't think I made myself clear.  I am look into how to print a BOM report.  Is this still the doc that I should be looking at?

[2021-05-03 22:03] SchrodingersGat commented on #1540
@lookme2 while the BOM report generation functionality exists, there are currently no base templates which have been written.

The templates which do exist are here: https://github.com/inventree/InvenTree/tree/master/InvenTree/report/templates/report if you want to use these as a starting point.

[2021-05-04 09:54] SchrodingersGat commented on #1392
@klemmma I'm closing this due to inactivity. If you have any further information please let me know :)

[2021-05-04 09:54] #1392 closed

[2021-05-04 12:32] lookme2 commented on #1540
@SchrodingersGat thanks.  I'll mess around with those today.

[2021-05-04 12:33] #1540 closed

[2021-05-04 19:34] matmair commented on #1513
Could be part of #1425

[2021-05-04 19:49] matmair opened #1543 "[BUG] invoke: too many arguments"
When running any invoke-command in an WSL-Enviroment I get the following error:
`/bin/bash: line 0: cd: too many arguments`

[2021-05-04 23:18] #1543 closed

[2021-05-04 23:22] #1513 closed

[2021-05-05 07:39] #1034 closed

[2021-05-05 07:41] SchrodingersGat commented on #1273
Beta version is out - https://www.courtbouillon.org/blog/00008-weasyprint-53-beta

[2021-05-05 15:19] lookme2 opened #1549 "Stock with Status of 120"
I have a part in my inventory with a status of 120.  What does that mean?   I cant seem to count that stock.

[2021-05-05 15:29] liZe commented on #1273
I hope so, but you’ll probably have to wait a little bit more! :wink:

[2021-05-05 23:19] SchrodingersGat commented on #1549
The code `120` used to mean "ASSIGNED_TO_BUILD" however InvenTree now manages order assignments in a better way.

For some reason the InvenTree updates have not fixed this outdated code automatically...

You should manually edit this stock item to "OK" (or whatever other status you need) using the admin interface.

[2021-05-06 05:27] SchrodingersGat opened #1553 "Add "development setup" for Docker"
How to setup a docker installation for running "development" mode

[2021-05-06 12:20] matmair opened #1557 "[BUG] calender not rendering on view-switch"
In all views with calendars the calendar is not rendered when switching to the calendar, only on the first refresh. At least on WSL with Firefox or Chrome.

[2021-05-06 13:06] lookme2 commented on #1549
@SchrodingersGat I have over 1100 parts in my DB.  Is there a way to batch fix this?  Looking from the admin page it looks like I have hundreds of them with a status of 120

[2021-05-06 14:11] #1557 closed

[2021-05-06 15:16] eeintech commented on #1549
@lookme2 After #1559 is merged, here's how to mass update the stock status:
1. Go to "Admin" section, click on "Stock items"
2. Click on "Export" button on top right, save it as `.xls`
3. In the XLS file, change the rows in the `status` column from `120` to `10`. Save it
4. Go back to the "Admin" section, under "Stock items", click on "Import" button on top right
5. Select the XLS file you just ed

[2021-05-08 12:07] matmair commented on #83
@SchrodingersGat  General question: do you want to use 'dumb' keywords - so just text that gets searched - or a more elaborate system with a model for the keywords and foreign keys to them?

I did a bit research into tag-packages and the following seem to be interesting:
- [django tagulos](https://github.com/radiac/django-tagulous) - is the full package: autocompletion, slug generation and trees f

[2021-05-08 18:58] rcludwick commented on #1553
Basically the trick here is to mount the git repo to where your code would normally reside in the docker container.

[2021-05-08 19:03] rcludwick commented on #1273
Don't forget to pull this out of the DockerFile.

[2021-05-08 20:19] Acvarium opened #1562 "Version 0.2.1 in Firefox looks like garbage"
Updated server to 0.2.1. Now in Firefox it looks messed up and unusable, in some cases

![screenshot-2021-05-08_23:15:17](https://user-images.githubusercontent.com/463177/117552362-8c723080-b053-11eb-8171-a9509d5029c1.png)

![screenshot-2021-05-08_23:18:34](https://user-images.githubusercontent.com/463177/117552414-c6dbcd80-b053-11eb-94a1-cce63707d350.png)

[2021-05-08 21:59] matmair commented on #1562
@Acvarium sorry to read that; for triage some information might help:
-	your browser version + special addons you have (if you want to share that)
-	underlying OS
-	commit-hash (can be found in 'About InvenTree' modal in the top right corner)

Please force-reload the site again with Strg+f5 (on win) and if the error persists try in a private session with all addons turned off. Might be an old styl

[2021-05-08 22:02] SchrodingersGat commented on #1562
It does look like a stylesheet caching issue. Try a hard refresh as suggested

[2021-05-08 22:16] matmair commented on #997
I hacked this feature in 2 pages by hand
- a table
- a detail-page

and I find it makes using the table quite distracting as the button to copy always fades in.
My solution would be to add the copy function - using the great js library @cdplayer suggested - only to the detail-pages (see mock-up below - would be adjusted to fit the style)
@SchrodingersGat What is your opinion on that? Is this thing

[2021-05-10 01:36] wengtad opened #1566 "Admin View Log Out"
I'm test it using demo site.

Log out at admin view will redirect to login page but when user type in username and password then try to login will always back to login page.

The link after redirect from admin view to login page.
https://inventree.polarize.xyz/accounts/login/?next=/admin/logout/
The `next=/admin/logout/` causing the issue.

[2021-05-10 02:56] #1566 closed

[2021-05-10 06:56] Acvarium commented on #1562
It helped. Thank you very much. Love this tool. It has improved the quality of my life.

[2021-05-10 07:22] SchrodingersGat commented on #1562
High praise @Acvarium glad you find it useful :)

[2021-05-10 07:22] #1562 closed

[2021-05-10 10:19] matmair commented on #997
@SchrodingersGat should we close this now?

[2021-05-11 13:34] SchrodingersGat opened #1573 "Add "last_updated_by" field to StockItem"
- "last_updated" field exists, but no idea who did the update
- Needs to be recorded by form views
- Needs to be recorded in the API

Further, the "user" needs to be recorded when performing a number of various stock actions:

- Create a new "build output"
- Receive items against a purchase order
- etc etc

Might be cleaner to find an existing library that allows this in a "DRY" manner, and also i

[2021-05-11 22:19] matmair opened #1574 "Adding copy-button to interface"
@SchrodingersGat are you happy with the clipboard in function, appearance, and usage in the templates? I thought I check before implementing it all over the place.
I would add it to the detail-pages for all models (eg. titles, references, descriptions) and implement #725.

[2021-05-11 22:30] SchrodingersGat commented on #1574
Yep, I'm very happy with it!

[2021-05-12 00:57] #377 closed

[2021-05-12 00:57] #1303 closed

[2021-05-12 00:57] #1438 closed

[2021-05-12 12:27] #1553 closed

[2021-05-12 18:24] eeintech opened #1577 "Use stock item "purchase_price" in Part Pricing calculation"
The `PartPricing` view does not seem to take into account the price of stock items (stored in the `purchase_price` field) but only supplier price breaks.

https://github.com/inventree/InvenTree/blob/07c7af1f2e1bb577aa92709d0055d70a9d02ffed/InvenTree/part/views.py#L1950

My proposal is to have a separate calculation for supplier pricing (from supplier price break) and purchased pricing (from stock

[2021-05-12 21:24] matmair commented on #725
@SchrodingersGat @eeintech I finished the work on this, should be maybe add something about the deployment method?

[2021-05-12 21:28] matmair commented on #1577
@eeintech sounds great. And that is basically what I implemented in #1482. It shows all the prices of all stock items and quantities. Just in a chart.
I am considering also adding a break-even chart with its own permission.

[2021-05-12 21:37] matmair commented on #1301
@milssen I do not mean to intrude but have you thought about using a more traditional asset- and inventory-management solution?
I like to recommend a great FOSS called [snipe-it](https://github.com/snipe/snipe-it). I use it for IT-tracking in a company with around 300 Endpoints, a several hundred licenses and a lot of shared assets with a lot of changing users (in an AD). The usecase you describe

[2021-05-12 23:52] SchrodingersGat commented on #725
What exactly do you mean here?

[2021-05-13 00:36] SchrodingersGat opened #1578 "Custom names for test reports"
Allow "custom" names for exported PDF reports

- Use a configurable setting which uses template variables e.g. {{ serial_number }}

[2021-05-13 00:45] #725 closed

[2021-05-13 00:45] #1574 closed

[2021-05-13 04:03] #1578 closed

[2021-05-13 12:51] eeintech commented on #1577
@matmair Sorry I guess I missed the intention of #1482 which is more about price history tracking?

I'm looking into straight forward way to see purchase price directly into a BOM calculation, and maybe also indicated for every single item in a BOM. Will that #1482 cover it?

[2021-05-13 13:01] lookme2 commented on #1549
@SchrodingersGat I performed the step suggested by @eeintech and that worked great!  Thanks!

[2021-05-13 13:01] #1549 closed

[2021-05-13 13:07] eeintech commented on #1549
Sweet! Enjoy!

[2021-05-13 13:50] matmair commented on #725
If the installation uses docker (and if it is in development or production) or is setup manually. Maybe also if MySQL is used - that sometimes causes problems with search / filtering.

[2021-05-13 19:44] matmair commented on #1577
@eeintech I made a few screenshots for reference
![grafik](https://user-images.githubusercontent.com/66015116/118177545-21e63980-b433-11eb-9185-3374eee0c7fc.png)
![grafik](https://user-images.githubusercontent.com/66015116/118177633-3aeeea80-b433-11eb-88ed-e8ff6b89e491.png)

The modal shows the total price range for the BOM calculated over all items and quantities, a column in the BOM table might

[2021-05-13 19:51] eeintech commented on #1577
Wow yeah that's way more fancy than what we need :smile:

I just pushed those missing BOM columns in #1581

[2021-05-13 20:05] matmair commented on #1577
I am not really happy with the Part Pricing view, it is quite inefficient (space wise) in my mind.

[2021-05-13 20:16] eeintech commented on #1577
How do you imagine it? If it were to be improved?

[2021-05-13 20:23] matmair commented on #1577
I am currently experimenting a bit internally what people think and suggest.
Merging the alert on top and the first table.
I am A/B testing just that and a matrix instead of a lot of headings.

[2021-05-13 23:02] SchrodingersGat commented on #725
Ah I see, yes that is a good idea. How can you determine at run-time if docker is being used?

I would like to see, as additions to the "System Information" dialog:

- Database backend
- Is the server running in debug mode?
- running in docker or bare-metal? (If this can be determined)

[2021-05-14 02:39] SchrodingersGat commented on #725
See https://github.com/inventree/InvenTree/pull/1583

I have added database engine and debug mode

[2021-05-14 09:38] matmair commented on #725
I will think about how do detect docker, maybe an enviroment-variable set in the docker-file and read by the settings.py?

[2021-05-14 10:45] Acvarium opened #1585 "Search is case sensitive for Cyrillic letters"
Version 0.2.1
I just noticed, that I can't find some items using search bar. And, as my testing show, if I mane item with uppercase letter in Cyrillic, I have to search the same way.
That is not the case with Latin letters

https://youtu.be/XJRTfYEDWDU

[2021-05-14 11:48] SchrodingersGat commented on #1585
What database backend (e.g. mysql / postgresql / etc) are you using?

[2021-05-14 12:07] Acvarium commented on #1585
I don't remember. How to check this?

[2021-05-14 12:09] Acvarium commented on #1585
I think it is sqlite3

[2021-05-14 23:02] SchrodingersGat commented on #1585
If you're using sqlite, this is a known limitation (although I only just found out about it).

https://docs.djangoproject.com/en/dev/ref/databases/#substring-matching-and-case-sensitivity

You might need to migrate to either MySQL or postgresql database

[2021-05-15 13:37] G-Pereira opened #1589 "Purchase price not available when adding stock from a part page"
![Screenshot from 2021-05-15 14-35-48](https://user-images.githubusercontent.com/15521303/118363179-1148d700-b58b-11eb-85d5-76e675a285ef.png)
![Screenshot from 2021-05-15 14-36-14](https://user-images.githubusercontent.com/15521303/118363180-127a0400-b58b-11eb-9589-5cbbdd390a32.png)

[2021-05-15 22:52] G-Pereira opened #1590 "Purchase price not being recorded"
When adding stock manually by "Creating a Stock Item" (not from a purchase order) the purchase price it is not being recorded. When checking Django's admin panel the field is blank.

[2021-05-15 23:29] G-Pereira commented on #1590
Now that I've added the price manually in the Admin panel it still isn't able to calculate prices:
![image](https://user-images.githubusercontent.com/15521303/118380921-b42a4100-b5dd-11eb-9e67-a2a9c29019f5.png)
![image](https://user-images.githubusercontent.com/15521303/118380932-c906d480-b5dd-11eb-8510-14d858dec438.png)

[2021-05-16 14:15] matmair commented on #1589
@G-Pereira is 'Purchasable' enabled for that part? Part pricing only shows up when that is enabled.

[2021-05-16 14:19] matmair commented on #1590
@G-Pereira the pricing is calculated based on the price-breaks in the part and the BOMs parts. Showing price-history from stock is currently not released and part of #1482.

[2021-05-16 14:38] matmair commented on #1484
@SchrodingersGat Now that #1548 is resolved, can I go ahead on this and #1482?

[2021-05-16 16:48] G-Pereira opened #1592 "Add weight to a part and sum in sales orders and assemblies to calculate shipping"
Add a weight parameter in such a way that the price for shipping can be estimated for assemblies or multiple part sales orders.

[2021-05-16 16:57] G-Pereira commented on #1590
Ok, but this is still a bug because the price field is not submitted to the stock order in the database. I had to manually set it in the admin panel

[2021-05-16 22:38] SchrodingersGat commented on #1484
Yep, happy for you to proceed

[2021-05-16 22:51] SchrodingersGat commented on #1590
@G-Pereira the `purchase_price` will not be saved if the part being referenced is not marked as "purchaseable"

Look at the "details" tab for `XH-3A` and check that the "purchaseable" flag is set:

![image](https://user-images.githubusercontent.com/10080325/118415332-09a14380-b6ed-11eb-8812-d285acbcb224.png)

[2021-05-17 01:12] G-Pereira commented on #1589
No, i am most interested in knowing how much the part (assembly) costs to know what is my profit margin. How can I do that?

[2021-05-17 01:14] G-Pereira commented on #1589
Keep in mind that the original topic of this issue is the price of a stock item, not a part. Please answer my question anyway

[2021-05-17 08:22] G-Pereira commented on #1590
I confirm that! Thank you!
It makes sense not storing the value in that case but shouldn't the field be hidden if a not purchase able part is selected?

[2021-05-17 08:24] G-Pereira commented on #1589
That makes sense, my bad. I think it shouldn't show in the other case as well then.
There's another issue which the subject as moved to this question so i will close this one.

[2021-05-17 08:24] #1589 closed

[2021-05-17 10:45] #1590 closed

[2021-05-19 23:27] SchrodingersGat opened #1601 "Add support for "manual" exchange rate entry"
e.g. if a user does not want to use the fixer.io integration?

[2021-05-19 23:31] SchrodingersGat commented on #1585
@Acvarium I've added a note about this to the docs.

[2021-05-19 23:31] #1585 closed

[2021-05-20 01:24] eeintech commented on #1601
@SchrodingersGat I think I'll have time to add this in #1600 in the form of form (no pun intended) in the settings

[2021-05-20 01:26] SchrodingersGat commented on #1601
That would be fantastic!

[2021-05-23 10:21] martin323232 opened #1604 "Running in Docker"
Hi,

tried to install Inventree using Docker on Windows 10.
When pressing run in Docker Desktop, this is what happens.

mkdir: can't create directory '/home/inventree/data/media': No such file or directory

Copying config file to /home/inventree/data/config.yaml

cp: can't create '/home/inventree/data/config.yaml': No such file or directory

Starting InvenTree server...

InvenTree configuration fi

[2021-05-23 10:37] SchrodingersGat commented on #1604
Hey @martin323232 first impression is that maybe you are trying to mount the "data" directory to an invalid location.

Did you read through the docker install guide? Where are you pointing the data directory to on your local machine?

[2021-05-23 12:09] martin323232 commented on #1604
Hi @SchrodingersGat

I've read trough the docker install guide. Was not much help

Problem is that I'm not sure where docker installed inventree.
After searching, it could be in ProgramData, Public Documents and App/local folder.

Was not able to find anything there.

Does it say in docker install guide how to change data location?

[2021-05-24 07:18] martin323232 commented on #1604
Still no luck installing, found this: https://stackoverflow.com/questions/30741995/cannot-execute-run-mkdir-in-a-dockerfile/30742013
Can that be the problem?

Other docker images seems to install correctly.

[2021-05-24 15:03] matmair opened #1606 "Internal prices"
@SchrodingersGat what do you think of internal prices for parts?
The use case would be for calculations in assemblies as the sale-price normally includes a profit margin and only using the sub-part prices does not include the work-time.

[2021-05-24 23:25] SchrodingersGat commented on #1604
@martin323232 are you using a docker-compose script as per this install instructions?

If you can run through the precise series of steps you are using, that would be very helpful. I've not seen this issue before and would like to get to the bottom of it.

[2021-05-24 23:40] SchrodingersGat commented on #1606
I think this makes sense. What extra fields / information do you think would be added?

[2021-05-26 09:10] #1601 closed

[2021-05-28 13:28] Marioheld opened #1615 "Support for diffrent views eg. gallery view"
Sometimes it is really handy to browse the parts by pictures.
Generally the support for viewing the data in diffrent ways (list, gallery, map/locations) would be a nice feature.
While changing the CSS for a gallery view seems to be easy at first, I think there is more underlaying work needed so that InvenTree is aware of the types of views and the currently selected view of the user.
The possibili

[2021-05-29 02:13] SchrodingersGat commented on #1615
@Marioheld would you be able to provide a simple visual mock-up of what you are thinking here?

In general I'm on board with supporting this concept, if it is useful in the general case :)

[2021-05-29 08:27] Marioheld commented on #1615
The green arrow shows the new view switcher.
L stands for list mode. This is the currently used view.
![list view](https://user-images.githubusercontent.com/4212288/120063552-f33da500-c067-11eb-9da1-2192979aaff3.jpg)
G stands for gallery mode. Here you have much larger images and can spot the difference between parts, which have similar naming.
For example the two types of speaker are very similar

[2021-05-29 08:34] SchrodingersGat commented on #1615
That seems more than reasonable.

The current table view is handled using the bootstrap-table library

It appears there is already an extension which might support this feature:

https://examples.bootstrap-table.com/#extensions/custom-view.html

[2021-05-29 10:39] Marioheld commented on #1615
Taked a look on the custom view extension.
Looks promising.
Can I provide you anything else?

[2021-05-29 14:33] SchrodingersGat commented on #1615
refer to https://github.com/inventree/InvenTree/pull/1622 and let me know what you think

[2021-05-29 21:50] #1615 closed

[2021-05-30 10:50] sintech opened #1623 "Regex in part search"
What do you think about regex support in part table search box?
It is already supported by django and REST framwork, you just have to prepend field name with '$' to enable it.
I tried it with part name and it worked fine even without regexes.
The question is how it affect performance and on what fields it should be enabled.
[code]

https://github.com/inventree/InvenTree/blob/c08ad467bebbda79b9f0f0

[2021-05-30 11:57] SchrodingersGat commented on #1623
Interesting question. If I was to add support I'd want to see it be a user configurable option. Regex is pretty confusing to the non developer (and even for many developers) and if it was default behaviour it would probably turn off a lot of users.

[2021-05-30 12:21] sintech commented on #1623
Configurable option sounds nice.
But if you don't use regex special chars in search string it works pretty much the same as with regex disabled.

[2021-06-01 22:43] matmair commented on #997
@SchrodingersGat do you consider this done or should additional functionality be implemented?

[2021-06-01 22:53] SchrodingersGat commented on #997
Thanks for reminding me! Happy to close this one out now.

[2021-06-01 22:53] #997 closed

[2021-06-02 12:54] eeintech opened #1628 "[BUG] Bootstrap pagination: NaN to NaN of undefined rows"
To reproduce:

1. Navigate to a part list under a category
2. Select "All" for the number of items displayed
3. Refresh the page, it will show as:

![image](https://user-images.githubusercontent.com/4020546/120483251-eda1d100-c37f-11eb-82fb-bceeaa7a43b4.png)

[2021-06-02 23:17] SchrodingersGat commented on #1628
Seems to be happening for all of the tables... but not all the time? This is a very strange one.

[2021-06-03 13:25] eeintech commented on #1628
@SchrodingersGat It's weird indeed. The number of items shown default to "25" or "ALL" and the pagination also disappears...

## Normal
![image](https://user-images.githubusercontent.com/4020546/120652188-86525280-c44d-11eb-9124-bc0bb760f9c6.png)

## Pagination problem and bad item size
![image](https://user-images.githubusercontent.com/4020546/120652111-720e5580-c44d-11eb-88da-dba61e7832b8.png)

[2021-06-03 13:28] eeintech commented on #1628
As soon as "25" is selected, everything goes back to normal.

In my testing, only the "ALL" selection is causing this problem, and it is persistent until switched back to "25".

[2021-06-04 23:27] matmair commented on #1577
@eeintech have you seen the new pricing page? Anything I should add? Will work on this next, including #1592 and maybe #1539

[2021-06-04 23:32] matmair commented on #1606
@SchrodingersGat I would add a price range just like the sale-price and add tools for calculating / fitting those into the 'new' pricing view.

[2021-06-05 01:20] eeintech commented on #1577
@matmair I'm sorry I missed it. Is it in master already? I'll check it out soon!

[2021-06-05 15:06] matmair opened #1631 "Add MOQ"
It seems like a minimum ordering quantity is asked in the get_price() function but not implemented.

[2021-06-05 16:09] matmair commented on #1484
@SchrodingersGat should I add a whole new model for tracking the stock levels for a part over time (persisting the deletion of stock items) or do you think that would be overkill (I am not sure if that is really needed)?

[2021-06-06 12:24] SchrodingersGat commented on #1484
I think that tracking the on-hand quantity of a particular part over time would be pretty useful. More useful even than the current "per item" history.

As each StockItem can be deleted from the database once consumed, then its quantity history also goes with it (which is fine).

A quantity history for the Part itself would be more useful for many users I would imagine. Essentially each time a sto

[2021-06-06 12:30] matmair commented on #1484
Sounds good. I will make a PR for it.
I think using hooks and delayed actions is unnecessary for this action as it shouldn't be too expensive but will measure anyway.

[2021-06-06 14:14] SchrodingersGat opened #1638 "Add unit testing for data import / export"
https://github.com/inventree/InvenTree/pull/1637 fixes a bug by updating the django-import-export library version

import / export functionality needs to be unit tested so that this error would have been caught automatically!

[2021-06-07 02:15] wolffam opened #1640 "Build Output (in progress) issue after updating"
I don't remember exactly what version of Inventree I was running previously (it was probably 4-6 months older) but when I updated today, I can see an issue with build outputs I had not completed.  They no longer show any stock items allocated and there's a spinning/loading icon next to the build output continuously.
<img width="863" alt="Screen Shot 2021-06-06 at 7 09 03 PM" src="https://user-imag

[2021-06-07 03:25] SchrodingersGat commented on #1640
Hey @wolffam the "Build" system received a monumental overhaul recently - I tried to ensure that existing builds migrated seamlessly but it appears that some edge cases may have been overlooked.

## System Information

Firstly, the "system information" display is not an issue here - it is simply showing that the [background worker](https://inventree.readthedocs.io/en/latest/admin/tasks/) has not b

[2021-06-07 03:38] wolffam commented on #1640
Thanks @SchrodingersGat ,

<img width="797" alt="Screen Shot 2021-06-06 at 8 37 23 PM" src="https://user-images.githubusercontent.com/11801197/120955786-0a832f00-c707-11eb-9c76-b7faf51c2a15.png">

Feel free to let me know if I can get you any other info.

[2021-06-07 13:31] eeintech opened #1641 "Error 505 when viewing part pricing information"
@matmair I think this one belongs to you :smile:

![image](https://user-images.githubusercontent.com/4020546/121025315-068cf680-c773-11eb-9224-293b5d5256a2.png)

I get this error on all our parts. Do you know what may cause it?

[2021-06-07 13:33] eeintech commented on #1577
I was trying to check out the new pricing page and ran into #1641

[2021-06-07 15:27] matmair commented on #1641
@eeintech could be. On which modal / from which view?

[2021-06-07 15:52] paturdc opened #1643 "Cannot upload images"
Hi

I've managed to install and run the Inventree server software, and I'm delighted with the way it's working. Unfortunately, when I switched from Debug = True to Debug = False, I lost the ability to upload images. I'm using the default path '/home/inventree/data/media' in the config.yaml file. On the webserver interface the image seems to be located in http://*servername*/media/part_images/MF_RE

[2021-06-07 15:55] eeintech commented on #1641
I think I was on a wrong branch, it is working now sorry!

[2021-06-07 15:55] #1641 closed

[2021-06-07 15:55] matmair commented on #1641
@eeintech please also include the version information (found in the about modal in the upper right corner of the page) and the error traceback. Thanks!

[2021-06-07 15:57] matmair commented on #1643
@paturdc can you supply us with the version information (found in the about modal in the upper right corner of the page). Also do you use docker or setup manually?

[2021-06-07 15:57] eeintech commented on #1577
@matmair I'm trying to find out what is new... That's my part pricing view on master:

![image](https://user-images.githubusercontent.com/4020546/121051512-858c2a00-c787-11eb-8112-54092a9dfad7.png)

I don't see anything about the purchased price (which is different than the price break).

Also, where do one see the stock pricing graph?

[2021-06-07 15:59] paturdc commented on #1643
# Version Information:
InvenTree-Version: 0.2.3 pre
Django Version: 3.2.1
Commit Hash: 534fd49
Commit Date: 2021-06-07
Database: postgresql
Debug-Mode: False
Deployed using Docker: True

[2021-06-07 16:00] matmair commented on #1577
@eeintech the new stuff is all in the pricing view (/part/<pk>/order-prices/), not the modal. It was made this way to keep the modal clean and small.

[2021-06-07 16:02] matmair commented on #1643
Docker is not my strong suit maybe @SchrodingersGat or @42CrMo4 has an idea.

[2021-06-07 21:00] eeintech commented on #1577
@matmair Thanks, I missed that part :grimacing:

I don't know if this is the right place for my review now that it is merged but here it is:
1. I found it confusing there is no "Calculate" button... After changing the quantity, I was quite confused how to update the "Pricing Ranges" information. Now I understand I just need to hit Enter but still think it would be more obvious to have the "Calcula

[2021-06-07 21:02] eeintech commented on #1643
Looks like the setup for static/media files is not quite correct.

@paturdc You'll need to set your static and media folders, take a look in the doc: https://inventree.readthedocs.io/en/latest/start/config/#file-storage-locations

Then rerun `inv update` as it will copy the static files to the new folder.

Let us know if you have any more problem with that.

[2021-06-07 21:05] eeintech commented on #1577
One more thing, can't a graph be generated when only one stock/purchase price is found? I only get this message:

![image](https://user-images.githubusercontent.com/4020546/121087559-a027c880-c7b2-11eb-9686-19a484a64b33.png)

[2021-06-07 22:55] matmair commented on #1577
Feedback is always welcome!

I found it cleaner that way but that is easy to change.

Do you have an idea for a better text?

That is the way I meant it.

Stock prices alone are not very informative. the quantity serves to help the user to get a feel how much (in total) they paid for the stock while the difference helps to show how much prices differ from the calling price for that supplier price

[2021-06-08 08:46] paturdc commented on #1643
No, that didn't work. The images work fine when setting Debug = True, and it seems it is only _loading_ that doesn't work when I set Debug = False. I tried uploading a new image while in Debug = False, and it did not show up. However, once I went back to debug mode, the new image was there. Like this:

Edit config.yaml -> Debug = False
Restart
Upload image -> broken link
Edit config.yaml -> Debug

[2021-06-08 10:29] SchrodingersGat commented on #1643
Hi @paturdc this is very strange.

Did you run through the recommended docker setup?

I'm going to try and replicate this behaviour. Can you share the docker-compose file you are using?

[2021-06-08 11:26] SchrodingersGat commented on #1643
@paturdc can you try doing a hard-refresh (Ctrl + Shift + R) and wee what happens?

I would like to know if you see any issues loading the javascript files

[2021-06-08 11:33] matmair commented on #1643
I have severall instances that run in production mode, either in 0.2.1 or 0.2.2 - they seems to be fine. But I have rather complicated hosting setups with authentication, proxies etc. and not docker.

[2021-06-08 12:05] SchrodingersGat commented on #1643
Upon further reading I've stumbled across the answer - in production mode, the following line **does not work**:

https://github.com/inventree/InvenTree/blob/fd63e49e60710a909c64aed1a770e12248c9863b/InvenTree/InvenTree/urls.py#L168

Specifically, the `static(...)` call does not work in when `debug=False`

![image](https://user-images.githubusercontent.com/10080325/121181232-202e5b00-c8a5-11eb-8005

[2021-06-08 13:13] paturdc commented on #1643
So the strange path behaviour came about because I don't know what Docker is, and I think I made a 'mixed' installation running some elements of the manual installation first, before docker-compose.

Anyway, the webserver is running now, although the image issue persists. Images are uploaded in both debug and production mode, placed correctly in the `data/media/part_images directory`, but cannot b

[2021-06-08 13:35] matmair commented on #1643
@eeintech  that is simpel with apache, i am not sure aboug nginx. We already have nginx running so we could mount static and media from there and pass permissions through to InvenTree.
[Apache](https://docs.djangoproject.com/en/3.2/howto/deployment/wsgi/apache-auth/)
[Nginx](https://stackoverflow.com/questions/46421589/nginx-location-and-django-auth) [Official doc](https://docs.nginx.com/nginx/adm

[2021-06-08 13:41] matmair commented on #1643
@paturdc the doc is howsted [here](https://github.com/inventree/inventree-docs) feel free to submit a PR

[2021-06-08 13:47] eeintech commented on #1643
For my company I'm running the latest from master in production mode without any issue, I even uploaded a picture yesterday, works completely fine. Both static and media files are serve correctly.
I have a rather different setup, using Phusion Passenger (standalone) as our web server, works great with Django.

@paturdc Maybe run through the deployment checklist to see what you come up with?
https:

[2021-06-08 16:48] wolffam commented on #1640
Unfortunately, I'm not getting too much back from that...

![Screen Shot 2021-06-08 at 9 43 12 AM](https://user-images.githubusercontent.com/11801197/121225378-51c00b80-c83e-11eb-937a-c86cb3804d50.png)

And that response is before I hit "Serial Number: LS16" to bring up the list of allocated stock items.
My already completed builds appear to be fine -- just the "in progress" ones

[2021-06-08 16:53] wolffam commented on #1640
If it's easier, I can downgrade (I might need a build number to downgrade to) before the changes and upgrade once all of my build outputs are completed.

[2021-06-08 22:19] wolffam commented on #1640
Ah good call:
![Screen Shot 2021-06-08 at 3 18 00 PM](https://user-images.githubusercontent.com/11801197/121264988-e9d4e980-c86c-11eb-935a-4b14b149d27b.png)

[inventree-traceback.txt](https://github.com/inventree/InvenTree/files/6619876/inventree-traceback.txt)

[2021-06-08 22:41] SchrodingersGat commented on #1643
@paturdc for now I'd suggest setting `debug=True` in your configuration file, until we can work out how to fix the docker issues when running in production mode.

I'd love to hear them! You can submit a documentation PR and we can discuss there.

[2021-06-08 22:44] SchrodingersGat commented on #1643
@matmair sounds like there is definitely support for nginx to handle media requests, then.

I'll have to have a read through that documentation link you shared, and see how we can add a /media section to the nginx.conf file

[2021-06-08 22:53] matmair commented on #1643
@SchrodingersGat I am a Apache2 guy (except for a simple proxy) but I have legacy nginx configs that do something similar.

[2021-06-08 23:42] SchrodingersGat commented on #1640
Huh, that's a very strange error to be seeing in this situation - I did not expect to see that...

I have submitted a fix here - https://github.com/inventree/InvenTree/pull/1647

Once that PR is merged, please try updating and see if the issue is fixed on your end :)

[2021-06-09 00:02] #1640 closed

[2021-06-09 00:10] wolffam commented on #1640
Seems like we're now getting to a new missing attribute:
![Screen Shot 2021-06-08 at 5 09 04 PM](https://user-images.githubusercontent.com/11801197/121273084-44c20d00-c87c-11eb-8788-047df8bc6a41.png)

[inventree-traceback2.txt](https://github.com/inventree/InvenTree/files/6620278/inventree-traceback2.txt)

We appreciate the help!

[2021-06-09 00:43] SchrodingersGat opened #1648 "Display "latest serial number" info on part page"
- If the part is "trackable"
- Show the "highest" serial number for this part (part tree)

![image](https://user-images.githubusercontent.com/10080325/121275239-8ea80300-c90f-11eb-882b-924beeef9662.png)

[2021-06-09 01:37] SchrodingersGat commented on #1640
Ok this one was pretty embarrassing especially as I just looked over that code, and didn't see the obvious mistake...

Same process again - wait until https://github.com/inventree/InvenTree/pull/1649 is merged and then check :)

[2021-06-09 01:55] SchrodingersGat commented on #1640
@wolffam merged in now, please let me know if you run into any other issues :)

[2021-06-09 02:01] wolffam commented on #1640
All set!!! Thanks!!!

[2021-06-09 02:06] SchrodingersGat commented on #1640
Great, happy to help :) Thanks for helping to squash some bugs!

[2021-06-09 08:21] paturdc commented on #1643
@SchrodingersGat I only have the most superficial understaning of what is happening behind the scenes with Inventree. As I understand it, the reason some people see their media is because they are using the manual install, and with Docker there is a need to load data between containers and outside folders? And the code for doing so relies on `Debug = true ` being set in Django?

Anyway, the fact t

[2021-06-09 15:49] nwns opened #1650 "Documentation is broken on any page that is not the main index"
Going to https://inventree.readthedocs.io/en/latest/ and clicking on any link results in a 404 and broken styling.  Screenshot below is of the "Installation" instructions.

![image](https://user-images.githubusercontent.com/10690911/121387539-fc503100-c907-11eb-9f52-80999db3b5cf.png)

[2021-06-09 16:50] nwns commented on #1643
When Django is run in Debug mode, the server serves media and static files itself to make development easier, but when in production mode it does not.

Your paths are probably fine.

I have not been able to test it, but adding the following to the nginx.conf should enable it to serve the media files.

[code]

[2021-06-09 22:16] SchrodingersGat commented on #1650
Can you check again? Does not appear broken to me right now.

[2021-06-10 02:10] SchrodingersGat commented on #1650
The links from README.md are definitely broken. They can be "fixed" by appending `.html`

I wonder if the readthedocs build has changed something recently

[2021-06-10 02:16] SchrodingersGat commented on #1650
So looks like the menu links work correctly, but any hard coded embedded links fail.

Definitely looks like the `.html` requirement must have been added?

@eeintech you've had some experience with the mkdocs setup - any idea what might be going on here?

[2021-06-10 05:32] SchrodingersGat commented on #1650
Ok, I think I've worked it out. Had to re-work most of the links and change some settings in the `mkdocs.yml` file. Probably some config on the readthedocs server has changed recently. At least it has forced me to look under the hood and format the links "correctly" ;)

[2021-06-10 05:32] #1650 closed

[2021-06-10 11:00] paturdc commented on #1643
@nwns That makes a lot of sense.

Before this change, clicking on the image path on the website would just lead me back to index. After the change, the webserver is directed to `http://ip-address/media/part_images/MF_RES.jpg` although rather than an image I get the Nginx 404 page. Gotta look at it again after the weekend. Thanks everybody for all the input so far.

[2021-06-10 14:03] eeintech commented on #1650
@SchrodingersGat Glad you fixed it, I just looked into their release notes and indeed we were missing the `site_url` config option which is now required since their 1.2 release (June 4th 2021): https://www.mkdocs.org/about/release-notes/#backward-incompatible-changes-in-12

I guess it forced the path to refer to the `site_url` now.
I don't see why the `.md` extension needed to be added though...

[2021-06-11 01:10] SchrodingersGat commented on #1650
I enabled the "strict" option which throws an error if there is a broken link (i.e. linking to an internal page that does not exist).

However the broken link detection only works if the .md suffix is used in the link URL

[2021-06-11 02:01] eeintech commented on #1650
Ok makes sense, thanks!

[2021-06-11 22:01] #1648 closed

[2021-06-11 22:04] matmair commented on #1628
Will try to investigate; js is not my strongsuit

[2021-06-11 23:23] matmair commented on #1628
I think I found the solution for the problem in a [blog post](https://www.programmersought.com/article/47294916291/).
I submitted a PR #1655

@eeintech @SchrodingersGat could you test this please? It seems to kill the nightly version of firefox but all current stable versions of edge, chrome, chromium, firefox and safari seem to work.

[2021-06-12 22:09] matmair opened #1656 "Overview issue: Pricing"
This is a overview issue for reorganising all pricing bits in InvenTree. Its goal is to focus all discussion into this issues (like #1577, #1645)

# Vision
A single page for all things pricing.
The following questions :
How much does it cost to buy the part from my registerd suppliers? How much does the BOM cost? How much do the different BOM-items contribute to the cost? For how much is it (inter

[2021-06-12 22:11] matmair commented on #1656
@eeintech do you have any input on this? Especially 1.2, 2.2
I will first work on 3.1, 1.1, 2.1, 2.3, 1.2 in this order

[2021-06-13 16:00] matmair commented on #1656
Suggested merging order: #1588, #1657, #1645, #1634

[2021-06-14 09:24] sintech commented on #1656
Let me give a view from my perspective.
I tend not to use PO for adding new stock, so for me the only way to keep pricing info is `purchase_price` in `stockitem`, so what @matmair did in #1577 is a very good improvement. What I still missing is a unit price in Stock table.
Speaking of PO, It wold be nice to have "Total" column with quantity * unit price and "Grand Total" row with sum of all rows q

[2021-06-14 10:46] matmair commented on #1656
@sintech thank you for your feedback! Please open issues for things you would like to see.

[2021-06-14 12:04] sintech opened #1660 "Add Total row/col to Purchase Order table"
Enhance "Purchase Order Items" table by adding:

- [ ] "Total" column with quantity * unit price
- [ ] "Grand Total" row with sum of all rows quantity and prices.

[2021-06-14 12:07] sintech opened #1661 "Add purchase price to Part Stock table"
Add column `purchase_price` to "Part Stock" table and make it sortable.

[2021-06-14 12:18] SchrodingersGat commented on #1604
@martin323232 if you have any further feedback on this please let me know. Otherwise closing due to inactivity.

[2021-06-14 12:18] #1604 closed

[2021-06-14 13:33] eeintech commented on #1656
@matmair Thanks for a stab a the pricing structure. I don't really have an opinion on 1.2 and 2.2 sorry.
The only thing I'm concerned is about the complexity of pricing in general. If there are too many pricing inputs and places it can be set, it raises the level of entry for anybody starting to use InvenTree.
What I think would be the real deal is if all the price data was stored and accessible i

[2021-06-14 18:54] matmair commented on #1656
@eeintech thanks for the feedback. I removed 2.2 from the plan.
I think that one place per part for all pricing should make it a lot easier. I also intend to add more information about all attributes into the view itself. I will submit a PR showing that after my PR backlog clears a bit up because a lot of the functionally I want to use in modals etc. is already in PRs and cross-referencing them ma

[2021-06-14 18:58] matmair commented on #1656
@SchrodingersGat would appreciate your opinion when you have time.

[2021-06-14 21:20] #1661 closed

[2021-06-14 23:42] SchrodingersGat opened #1663 "Add ability sort "allocated stock" table by "allocated" quantity"
Currently cannot sort by allocated quantity which makes it difficult to immediately see which parts have not yet been allocated (or fully allocated).

[2021-06-15 01:19] rcludwick commented on #1297
Apologies for coming in late.  Doesn't nginx/apache support transparently rewriting of urls in the reverse proxy mode?

https://serverfault.com/questions/379675/nginx-reverse-proxy-url-rewrite

That would probably be the proper way to handle this.

[2021-06-15 01:45] rcludwick commented on #1623
1.2.3.4 will regex match 11223344 say.

So I don't expect a REST api to automatically regex search my query parameter.  I would probably find it surprising if it did and not in a happy way, frankly.

This would be better off handled with a custom query param, like ?name__regex=...  or something.

[2021-06-15 06:32] SchrodingersGat commented on #1623
I agree that results would be unexpected (and unwanted) if regex search was the default.

What about when you enter a search term into the search bar, a drop-down options menu lets you enable / disable regex search?

[2021-06-15 06:57] sintech commented on #1623
Sound good for me.
As an alternative it could be some special char surrounding regex for ex. `/regex/`. But it is more obscure.

[2021-06-15 10:14] paturdc commented on #1643
So I managed to make this work, by changing the line in @nwns suggestion to `alias /var/www/data/media/;`

Then in the docker-compose file I added the following lines under the inventree-proxy:

`# Media data volume is mounted to /var/www/data
- data:/var/www/data:rw`

then restarting. I think that's everything. Someone with more experience could tell me if some part of this is bad practice or not

[2021-06-15 11:54] SchrodingersGat commented on #1643
@paturdc thanks for the feedback, I'll try and use this information to fix the issue :)

[2021-06-15 12:17] SchrodingersGat commented on #1656
@matmair @eeintech I really appreciate the efforts you guys are putting in here on pricing.

I think there is a real worry that the pricing "complexity" will expand too much unless we are very clear on what functionality we should want, and where it should live.

In the following I will try to stick to these definitions:

- **Cost** - The theoretical amount of money required to pay for something
-

[2021-06-15 15:10] SchrodingersGat commented on #1643
Have you tested file uploads (e.g. setting a part image) with this configuration?

[2021-06-15 15:15] paturdc commented on #1643
@SchrodingersGat yes, I tried it just now. And in any case uploading seemed to not be a problem as I could always locate the files locally on the server. They were just never shown on the website.

[2021-06-15 17:57] matmair commented on #1643
@paturdc I could see that one can access the media without beeing authenticated with this config. You might want to check if that is the case. Could be quite bad depending on the kind of your install.

[2021-06-16 08:02] paturdc commented on #1643
@matmair that is indeed the case. For what it is worth, this is also true of static files:

![image](https://user-images.githubusercontent.com/85507783/122181052-e7801a00-ce80-11eb-8cdd-92c3a648c3c9.png)

and I haven't changed any of that configuration, to my knowledge.

What is the simple solution, authentication in nginx perhaps?

[2021-06-16 08:29] matmair commented on #1643
static is no problem as there is no user-generated data in there. Those are same for all deployments and do not reveal anything.

Authentication would be the simplest. I personally have everything forwarded through a proxy that checks against SAML / Kerberos that the user is in the right group and on the right endpoint.

[2021-06-16 10:10] watarat opened #1665 "Label printing"
I've just bought a label printer - and am having heaps fun creating decently labelled bags of 'stuff' :)
(And then scanning with the Android App - awesome!!)
I'm trying to use my internal part number as a major textual header for my label - and it doesn't seem to be populated as expected.
As a workaround - I'm printing "item.part" - As it prints the whole shebang starting with the IPN. (1131 in sa

[2021-06-16 11:56] SchrodingersGat commented on #1643
I have a working example here - https://github.com/inventree/InvenTree/pull/1664

Basically this serves /static files without auth, but requires auth for /media files.

Currently tweaking the dockerfile (etc) so this works "out of the box"

[2021-06-16 12:01] matmair commented on #1643
@SchrodingersGat nice clean solution!

[2021-06-16 12:05] SchrodingersGat commented on #1665
Hey @watarat first let me say I am **super** excited that you're making use of both the label printing functionality and the barcode scanning in the app. I would be *very* interested in any feedback you have for these features, as I have felt like it was only me that was using them :D

Regarding printing the IPN- please note that the field names are case-sensitive. Try `{{ part.IPN }}` and see if

[2021-06-16 12:56] watarat commented on #1665
Dang - Smacked self in head !!
Yep- that sorted it!  Fully qualified to item.part.IPN (I had item.ipn - but had tried all combos with wrong case :)  )
[code]

XY is there just to prove change made it through!!
![Clipboard01](https://user-images.githubusercontent.com/8358937/122220253-51370d00-ceef-11eb-8a80-d0a9c8a50589.jpg)

The combo of dedicated printed labels and the App are just incredible.
I

[2021-06-16 12:59] SchrodingersGat commented on #1665
Happy to help! Let me know if you come across any other issues, or (even better) if you have any ideas on how we can make the software better!

[2021-06-16 12:59] #1665 closed

[2021-06-16 13:52] SchrodingersGat commented on #1297
@rcludwick I would like to push this problem outside of the scope of the InvenTree server itself.

I just tried configuring a nginx setup as per your example but could not get it to work. Have you had specific experience with this?

[2021-06-16 13:55] SchrodingersGat commented on #1643
@paturdc once the docker image for 0.2.3 has been built and uploaded, please try again and let me know if it works for you now :)

[2021-06-16 23:06] matmair commented on #1656
@SchrodingersGat sounds like we have the same idea of what it should be like.
Regarding internal price:

I would more think of it as a override to BOM cost - if present - to include machining-cost and labour.

I will do a simple cosmetic mock-up to show how I would do it.
The PRs drift away from master further and further and for some of the functions I would depend on running PRs. Pulling them in

[2021-06-16 23:11] matmair commented on #1297
@SchrodingersGat a transparent rewrite /proxy seems like a good idea. But I would leave that to the admin of the webserver, that works with the current setup relatively easy.

[2021-06-16 23:12] matmair commented on #1660
@sintech / @SchrodingersGat I think this can be closed

[2021-06-16 23:19] #1660 closed

[2021-06-16 23:19] SchrodingersGat commented on #1660
@sintech check out latest version and let us know if this addresses your requests

[2021-06-16 23:28] SchrodingersGat commented on #1297
@matmair do you have some more details on this? I'd like to know that it can be made to work well by (for e.g.) nginx, so that I can close out this issue. I'd rather not have InvenTree handle this problem.

I tried to implement the url rewrite as per the suggestion of @rcludwick  above.

It worked somewhat - a request for `localhost:8000/subdir/part/` correctly sent me to `/part/` InvenTree view.

[2021-06-17 00:02] G-Pereira opened #1671 "Stock part with price zero"
Stock with purchase price zero doesn't show the price (zero) this is useful when part came from a sample order.

[2021-06-17 00:17] SchrodingersGat commented on #1671
To clarify - do you mean the price has been manually entered as zero, or the price has been left blank?

Can you share a screenshot of where you are seeing the issue?

[2021-06-17 00:20] SchrodingersGat commented on #1456
@rcludwick I might close this issue out - there are so many different ways of configuring the docker setup, and while this is certainly a valid one I'm trying to keep the "out of the box" setup as simple as possible. There's nothing stopping you (or anyone!) from using this approach in their own docker compose script if desired.

[2021-06-17 00:20] #1456 closed

[2021-06-17 04:21] rcludwick commented on #1297
Yeah, it's been a while though.   I'd have to do a little research.  I'm
vastly more familiar using traefik as a reverse proxy than nginx lately.

Basically you set up nginx to route by path or by hostname.

I have a host named 'i' that routes to the same up address and port, but is
routed inside traefik to inventree.

You should also be able to route my.domain/inventree/* to rewrite the url
to re

[2021-06-17 05:48] SchrodingersGat opened #1672 "[FR] Add ability to scrap a build output"
Add the ability to "scrap" an output

- The build output still exists in stock (but with status 'destroyed' etc)
- Does not count towards the "completed" quantity
- Any parts allocated to that build are still "used up"

[2021-06-17 06:37] sintech commented on #1660
This is exactly what i needed, thanks @matmair , @SchrodingersGat

[2021-06-17 07:01] #1467 closed

[2021-06-17 07:29] SchrodingersGat commented on #1656
A single view for pricing is certainly needed: the current arrangement is becoming quite complicated!

![image](https://user-images.githubusercontent.com/10080325/122351512-8b58eb00-cf91-11eb-9b23-a2055b0602d6.png)

[2021-06-17 07:41] sintech opened #1673 "Redesign of Part main page"
I propose to reduce the number of clicks needed to get all part info by changing the contents of Part page.
Current `Part Details` pane have info and elements rarely used during part lifetime, so it could be moved to one of the secondary pages. While the other info, such as: stock, parameters, notes and attachments should be available right on the main page.
Tables could be limited to display only

[2021-06-17 07:45] SchrodingersGat opened #1674 "Currency migration bug"
Instances of [`MoneyField`](https://github.com/django-money/django-money/blob/b2acda356893c590f6446b507699a801f7e1ea72/djmoney/models/fields.py#L161) have parameters `default_currency` and `currency_choices` which are extracted from the project settings (at runtime).

This means that whenever the server is restarted, if the currency choices have changed in the settings file, then a new set of migr

[2021-06-17 12:24] SchrodingersGat commented on #1673
In general I agree that the part detail page could be more "information dense"

I'd like to see a "simplified" version of the stock table here, with the existing stock table kept on a separate tab - otherwise i think it would look too cluttered.

[2021-06-17 12:59] eeintech commented on #1673
It's a fair asking, the difficulty relies on which information to display first, each and every InvenTree user would have their own preference...

[2021-06-17 12:59] eeintech commented on #1674
Good catch!

[2021-06-17 13:00] sintech commented on #1673
Entirely agree with this, all tables could be just static html tables with minimum necessary information.

![part_details_lite](https://user-images.githubusercontent.com/10057327/122400694-9fe2b680-cf84-11eb-8d93-a796b8de0cbb.png)

[2021-06-17 13:29] matmair commented on #1573
@SchrodingersGat a great audit-log libary is https://django-auditlog.readthedocs.io/, has a minimal storage-footprint.

[2021-06-17 13:32] SchrodingersGat commented on #1573
@matmair oh that looks really nice.

Should we be using that for https://github.com/inventree/InvenTree/pull/1642 and also potentially the existing stock-item-history-tracking?

[2021-06-17 13:35] SchrodingersGat commented on #1673
I certainly don't want to have to support "configurable" displays, unless someone puts up their hand to manage the template / javascript coding for that!

Any changes here would have to be more than simple aesthetic preferences, otherwise we'd have to manage multiple stylistic changes all the time!

@sintech I like the simplified version you've outlined above. Not very intrusive at all. And most o

[2021-06-17 14:12] matmair commented on #1673
@SchrodingersGat sounds like a nightmare with the current frontend-stack 👼

@sintech proposal makes sense, maybe keep the current info-header for the more detailed views and just change `/part/<pk>`?

[2021-06-17 14:19] matmair commented on #1573
@SchrodingersGat I like the library because it is laser-focused on a json-based, tiny audit-log. You would have to shift all the rendering/translation-logic etc. away from the modal into views and signals.

I have not tried adding anything to it already so difficult to assess the effort. I personally like your implementation for stock-item tracking and would keep that.

[2021-06-17 14:24] eeintech commented on #1673
I like the proposal too. One warning is about the size of the front tables, it should be limited to 2-3 elements max, preferably filter in "last updated" fashion. If you have 10-15 parameters per parts (like we do), tons of attachments and stock items, it will make it worse!

[2021-06-17 14:37] sintech commented on #1673
Let's make it configurable. Or make tables partially visible with button to show all (via css/js).

[2021-06-17 15:04] matmair opened #1678 "BOM-price pie: Error when no Price on item"
@matmair the error still exists, it errors out when you have one or more BOM items which do not have any pricing information:

[code]
But if `a['price'] is None`:

![image](https://user-images.githubusercontent.com/10080325/122405737-a3496280-cfc3-11eb-8498-0aa7ff531194.png)

_Originally posted by @SchrodingersGat in https://github.com/inventree/InvenTree/issues/1634#issuecomment-863239204_

[2021-06-17 22:31] SchrodingersGat opened #1683 "Front End Roadmap"
The InvenTree project, from rather humble beginnings, has accrued a very large feature set and frankly the front-end experience is suffering. I'm not by any means a  web developer, and the UX design has been leveraged and hacked together from various components, without much thought for consistency or "best practice"

I would like to gauge interest and suggestions from users, and especially those

[2021-06-17 23:22] matmair commented on #1683
Full disclosure: I am an engineer. I do not have any training in UX-design. And I really like Bootstrap with pure JS if possible - because it is predictable.

I generally like InvenTree’s UX. It is fairly simple to learn and easy to understand (compared to all solutions I used previously).
The modals sometimes feel a bit old, but they are a simple paradigm that everybody understands and they work.

[2021-06-18 00:29] SchrodingersGat commented on #1683
Nothing wrong with being an engineer! This is my background too and (if nothing else) InvenTree has been a great project to learn a new broad set of programming tools and skills.

I agree that this all seems like a lot of work, and I'm certainly not going to dive in right away.

My preference is also to get #1656 integrated before doing any sort of major UI overhaul.

I would also want to see it b

[2021-06-18 00:35] #1678 closed

[2021-06-18 09:23] SchrodingersGat commented on #1656
As a simple example, here's the "new" (https://github.com/inventree/InvenTree/pull/1316) *Allocation* tab for the *Part* display, which shows (separately) both sales order allocations and build order allocations:

![image](https://user-images.githubusercontent.com/10080325/122539170-a3506d80-d06a-11eb-951d-de0ea8c66147.png)

Perhaps a similar approach for the pricing tab?

[2021-06-18 10:10] #1310 closed

[2021-06-18 13:44] carlosmatthews opened #1685 "ModuleNotFoundError: No module named 'postgres', in docker production server"
hi, i am trying to implement inventree with DOCKER production server, on VM with centos7.
I follow the steps of the documentation but in the step.

I get an error that seems to be related to the default database, and to the python posgres module:

Starting inventree-db ... done
Running InvenTree database migrations...

InvenTree Database Configuration

ENGINE: postgres
NAME: inventree
HOST: invent

[2021-06-18 14:46] eeintech commented on #1683
Thanks @SchrodingersGat for sharing your thoughts on a UI overhaul, it's good for everybody to be aware and share their experience :+1:

My knowledge of front-end web design is certainly limited. I have been wanting to try JS frameworks like Vue.js as building dynamic pages seems so easy, it is just spare time that I'm lacking to dig an effort in :smile:

Having deployed our InvenTree instances at

[2021-06-18 14:49] eeintech commented on #1656
@SchrodingersGat That would surely be a step in the right direction!

[2021-06-19 06:10] SchrodingersGat commented on #1685
`ENGINE` should be set to `postgresql`, not `postgres` in your configuration. Please adjust that and see if the issue is resolved.

[2021-06-20 06:13] SchrodingersGat commented on #813
- https://github.com/inventree/inventree-docs/pull/123
- https://github.com/inventree/demo-dataset
-

[2021-06-20 06:13] #813 closed

[2021-06-20 06:40] SchrodingersGat opened #1687 "Observe "default" values for blank fields when creating objects via API"
It appears that when creating objects via the API (e.g. with the python interface), then any fields not explicitly specified will have the value set to "blank" or "false", rather than the value specified as "default" for that field in the model..

Needs to be investigated!

[2021-06-20 16:44] G-Pereira opened #1689 "Table ordering not working for any parameter"
![image](https://user-images.githubusercontent.com/15521303/122682048-35817e80-d1ef-11eb-92d5-8b41370cd088.png)

[2021-06-20 16:47] G-Pereira commented on #1671
I mean setting the part with explicitly zero cost doesn't get the price to show up as zero it is instead hidden.
![image](https://user-images.githubusercontent.com/15521303/122682102-737ea280-d1ef-11eb-9739-e359a3c1bca7.png)
![image](https://user-images.githubusercontent.com/15521303/122682120-87c29f80-d1ef-11eb-9ea4-4773c3e1b099.png)

[2021-06-20 21:56] rcludwick commented on #1297
Apologies for taking a while.    `proxy_pass` on nginx is the way to go here.   It rewrites the url before handing it off.

https://docs.nginx.com/nginx/admin-guide/web-server/reverse-proxy/

Apache might do it too, but it's been around 2 decades since I last touched apache.  mod_rewrite maybe?  I don't know.

I would close this and add documentation on at least for nginx.

[2021-06-20 22:25] rcludwick opened #1693 "Feature request: reverse proxy login support"
I have traefik running as a reverse proxy in front of inventree.   The reverse proxy handles the AUTHENTICATION (and maybe AUTHORIZATION) before handing it off to any server running behind it.

In this case I have `https://inventree.{mydomain}.com`  pointing to the reverse proxy.  The reverse proxy authenticates with google, and then sets a cookie for auth.   The proxy then checks the presence of

[2021-06-20 22:26] #1671 closed

[2021-06-20 22:31] SchrodingersGat commented on #1693
sure, this seems reasonable and has been requested before:

- https://github.com/inventree/InvenTree/issues/625
- https://github.com/inventree/InvenTree/issues/634

I'm not sure how to implement this - have you any experience on configuring django in such a fashion?

We'd also need to clearly document this :)

[2021-06-20 22:33] #1689 closed

[2021-06-20 22:33] SchrodingersGat commented on #1689
@G-Pereira please confirm that the fix by @matmair has addressed the issue for you

[2021-06-20 23:15] SchrodingersGat opened #1694 "Feature: Stocktake"
Add the ability to generate "stocktake" reports, showing the amount of stuff (and "cost") in stock.

### Features

- Generate stocktake report for `Part`
- Generate stocktake report for `PartCategory`
- Generate stocktake report for `StockLocation`
- Auto-convert purchase price to single selectable currency

### Cost of "Stock on Hand"

For any given part, we should be able to see the estimated co

[2021-06-20 23:51] G-Pereira commented on #1689
Yes! I forgot to check existing ones!

[2021-06-20 23:55] SchrodingersGat commented on #1689
I think @matmair was just very quick to respond ;)

[2021-06-21 00:50] rcludwick commented on #1693
Yes.  (Sadly)

So yeah... in 2021 it's fugly. It should be simple, but it's not.  There are companies making billions of dollars on this.

So what I'm suggesting is probably the simplest case possible for inventree.

Authentication is either handled by django's login page, or via the X-Forwarded-User header.   Then if you want something more complex than the simple login page, it's up to user to i

[2021-06-21 04:52] SchrodingersGat opened #1695 "Show "purchase order" column in stock table"
If stock items were created against a purchase order, display that in the stock table.

[2021-06-21 05:39] SchrodingersGat opened #1696 "Copy pricing data from PurchaseOrder to StockItem"
Need to check that the "purchase price" is correctly set when receiving stock items against a purchase order.

Looks like this has not been performed correctly in the past (at least for some orders).

Also need to write a data migration to find stock items which have not had the purchase price copied across, and copy the data across!

[2021-06-21 05:44] SchrodingersGat opened #1697 "Add "last updated" field to supplier price break"
Useful to know when supplier pricing was last updated!

[2021-06-21 06:39] #1434 closed

[2021-06-21 07:08] SchrodingersGat commented on #1683
@eeintech I 100% agree that we should focus on improving usability over "UI polish".

Reducing user input burden and providing a cleaner more logical layout of data would be great.

[2021-06-21 07:19] #1695 closed

[2021-06-21 07:47] SchrodingersGat commented on #1693
@rcludwick is this feature something you'd be willing to spend some time on? I'm happy to support it but this is really not my area of expertise!

[2021-06-21 10:57] #1696 closed

[2021-06-21 11:19] SchrodingersGat commented on #1687
After research, it appears that the behaviour I "expected" to work is not yet supported in DRF:

Ref: https://github.com/encode/django-rest-framework/pull/8002

Hopefully this is merged soon

[2021-06-21 15:59] eeintech commented on #1687
Good catch @SchrodingersGat, hope the feature request gets in soon!

[2021-06-21 16:36] rcludwick commented on #1693
I'll look at it in my spare time.  It's mostly "configuration" thankfully.

[2021-06-21 16:42] rcludwick opened #1702 "Docker: inventree worker doesn't start."
As of today I see this when trying to start inventree-worker in the docker format.

[code]

Looks like the start_worker.sh script maybe moved perhaps or didn't get added to the docker container.

I double checked my config against the docker production docs and it looks good, and the inventree-server side works for me.

https://inventree.readthedocs.io/en/latest/start/docker_prod/

[2021-06-21 17:17] matmair commented on #1685
@carlosmatthews does the error still occur with the proposed changes?

[2021-06-21 17:31] wengtad commented on #1702
Yup I'm was hitting this previously. You will need to use `./start_prod_worker.sh` instead of  `./start_worker.sh` . The docs seems to be outdated.

[2021-06-21 20:40] G-Pereira commented on #1689
Yes, you two are incredible!

[2021-06-21 20:56] matmair commented on #1689
I tend to do some simple issues when I can't crack a harder problem 👼

[2021-06-21 20:56] #1606 closed

[2021-06-21 21:45] SchrodingersGat commented on #1702
@rcludwick I've updated the docs, should work if you change to `start_prod_worker`

Thanks

[2021-06-22 00:30] SchrodingersGat commented on #1663
@matmair fix was a bit more complex - see #1706

[2021-06-22 01:08] #1663 closed

[2021-06-22 11:28] #391 closed

[2021-06-22 13:50] eeintech opened #1711 "Migration discrepancy SQLite vs PostgreSQL"
On master, running `inv migrate` on instance using SQLite database outputs:

[code]

Which is correct I believe. Now running the same command on a PostgreSQL database:

[code]

It creates 4 new migration files, running `git status`:
[code]

Not sure where the discrepancy comes from, and not sure if it is a real issue but I am quite confused why would the Django ORM behave differently on different

[2021-06-22 16:08] carlosmatthews commented on #1685
@matmair
hello I made the suggested change in the variable ENGINE = posgresql and the installation could be completed.
Now, what you cannot enter is the web interface through:
You should now be able to view the InvenTree login screen at http: // localhost: 1337
I'm deploying on a remote machine through vpv and ssh

[2021-06-22 21:17] matmair commented on #1711
@eeintech this is a upstream problem of our money dependency see #1674

[2021-06-22 21:19] matmair commented on #1711
this issue is a duplicate of #1674

[2021-06-22 21:30] eeintech commented on #1711
Oh right, I have a very short memory... :weary:

[2021-06-22 21:30] #1711 closed

[2021-06-22 21:35] matmair commented on #1685
@carlosmatthews If you deploy on a remote machine over a VPN (?) your InvenTree-site will be served under the IP-address of that server. To get that use the following command in bash (on linux)
[code]
On a personal note: It might be more user-friendly to use a domain / subdomain for InvenTree because people tend to remember words easier.

[2021-06-22 21:37] matmair commented on #1711
@eeintech me too, I just remember because I tried to fix it and concluded that it was a upstream problem.

[2021-06-22 22:23] SchrodingersGat commented on #1711
We do need to address #1674 reasonably soon to prevent these erroneous migrations from upsetting master.

[2021-06-22 22:26] matmair commented on #1711
@SchrodingersGat as far as i can understand the problem only upstream can address this? Or should we try inheriting the model-field to change the migration procedure? Could try that on the weekend.

[2021-06-22 22:32] SchrodingersGat commented on #1711
It might be worth implementing our own `InvenTreeMoneyField` as you say.

I would like to see the currency options (default, allowed currency codes) moved out of the config file and into the InvenTree run-time settings. It should not require a sysadmin to change these settings, but the current restrictions of `MoneyField` force our hand.

[2021-06-22 23:50] SchrodingersGat opened #1713 "Fix nesting display for StockItemTestResult table"
When multiple test results are posted against a particular test for a given StockItem, the "nesting" is displayed incorrectly. They should all be children of the top-level test entry, however they are children of the *previous* test and so they keep on nesting.

It's test results all the way down!

[2021-06-22 23:55] matmair opened #1714 "own `InvenTreeMoneyField`"
It might be worth implementing our own `InvenTreeMoneyField` as you say.

I would like to see the currency options (default, allowed currency codes) moved out of the config file and into the InvenTree run-time settings. It should not require a sysadmin to change these settings, but the current restrictions of `MoneyField` force our hand.

_Originally posted by @SchrodingersGat in https://github.co

[2021-06-23 13:03] carlosmatthews commented on #1685
With the proposed changes you can do the installation correctly

[2021-06-23 13:19] matmair commented on #1685
@carlosmatthews so is it working? Does the server answer on its IP-address?

[2021-06-23 14:02] carlosmatthews commented on #1685
no I have no response from the server on port 1337 where the interface is in theory, I could finish the installation but I cannot connect to the interface, scanned the ports of the server it only shows me 22 and 49159 of posgresql

[2021-06-23 16:48] carlosmatthews commented on #1685
I made a scan with nmap to the ip of the virtual machine and I only see ports 22 ssh and 491 59 of postgesql.
I have already manually opened port 1337 in the virtual machine.
probe from the VM to curl localhost: 1337 and reject the connection, instead, port 49159 returns an empty response.
If I run the command docker container ls it shows that the containers are running:
`CONTAINER ID   IMAGE

[2021-06-23 16:51] carlosmatthews commented on #1685
version: "3.3"

# Docker compose recipe for InvenTree
# - Runs PostgreSQL as the database backend
# - Runs Gunicorn as the InvenTree web server
# - Runs the InvenTree background worker process
# - Runs nginx as a reverse proxy

# ---------------------------------
# IMPORTANT - READ BEFORE STARTING!
# ---------------------------------
# Before running, ensure that you change the "/path/to/data" dir

[2021-06-23 17:01] carlosmatthews commented on #1685
`version: "3.3"

# Docker compose recipe for InvenTree
# - Runs PostgreSQL as the database backend
# - Runs Gunicorn as the InvenTree web server
# - Runs the InvenTree background worker process
# - Runs nginx as a reverse proxy

# ---------------------------------
# IMPORTANT - READ BEFORE STARTING!
# ---------------------------------
# Before running, ensure that you change the "/path/to/data" di

[2021-06-23 23:43] SchrodingersGat opened #1717 "Add ability to filter stock by "has purchase price""
- Add another filter to the stock table
- Boolean

[2021-06-24 03:40] #1713 closed

[2021-06-24 13:35] carlosmatthews commented on #1685
@SchrodingersGat
here is the yml docker-compose file, it was copied and pasted from:
https://inventree.readthedocs.io/en/latest/start/docker_prod/

[code]

[2021-06-24 13:43] SchrodingersGat commented on #1685
Do you have the `nginx.conf` file located in the same path as your `docker-compose.yml` file?

[2021-06-24 13:45] carlosmatthews commented on #1685
yes

[2021-06-24 14:37] SchrodingersGat commented on #1685
What does the log of the `inventree-proxy` container show? Are any requests making it to the proxy?

[2021-06-24 15:03] carlosmatthews commented on #1685
I think that now the proxy is working, there was an error in the nginx.conf file, I am trying to make an ssh tunnel to enter the remote VM and the interface from my local browser

[root@localhost admin]# docker logs inventree-proxy
/docker-entrypoint.sh: /docker-entrypoint.d/ is not empty, will attempt to perform configuration
/docker-entrypoint.sh: Looking for shell scripts in /docker-entrypoint.

[2021-06-24 15:17] carlosmatthews commented on #1685
its work...thanks

[2021-06-24 15:17] #1685 closed

[2021-06-24 16:08] carlosmatthews opened #1720 "the web interface does not appear correctly"
inventree is running (installation with docker production), only the web interface looks plain and without images.

![imagen](https://user-images.githubusercontent.com/68878024/123296722-4848cb80-d4ed-11eb-85c1-b1c0b49d5bec.png)

[2021-06-24 19:29] matmair opened #1721 "reintroduce BOM price?"
https://github.com/inventree/InvenTree/blob/be85de4a7b5dc6d328fe1d519dd592fdba76b76e/InvenTree/templates/js/bom.js#L264-L281

Hey @SchrodingersGat do you thin pricing has been fixed / what was meant by that?

[2021-06-24 20:59] SchrodingersGat commented on #1720
Have a look at your nginx logs and see what is happening for any request to `/static/`

It appears that the static files (which includes css files) are not being served properly.

[2021-06-24 21:42] SchrodingersGat commented on #1721
I think this has been addressed by now. I should have left more detail. I think that I disabled the pricing column as the pricing needed a huge overhaul and was very expensive (slow) to calculate. That comment can safely be removed now.

[2021-06-25 04:57] #545 closed

[2021-06-25 12:14] carlosmatthews commented on #1720
Yes , itseems that the Log shows erros whith static files. How can I fix it?.
I paste a part of the Log, down here..

`2021/06/24 15:59:22 [error] 24#24: *11 open() "/var/www/static/img/inventree.png" failed (2: No such file or directory), client: 10.68.18.20, server: , request: "GET /static/img/inventree.png HTTP/1.1", host: "10.68.19.203:1337", referrer: "http://10.68.19.203:1337/build/"
10.68.1

[2021-06-25 13:18] carlosmatthews commented on #1720
@SchrodingersGat
if indeed it seems that there was a problem with the static files, as you indicate.
perform the update of the inventree docker image, as specified in the docker production server guide.
`docker-compose down`
`docker-compose pull
docker-compose up -d`
Now the interface is working. but I got the following error:
[code]
I understand that the Background Worker is not running but I don

[2021-06-25 13:29] carlosmatthews commented on #1720
edit the docker-compose file, change:
`entrypoint: ./start__worker.sh    >>>>>  entrypoint: ./start_prod_worker.sh`
and the worker started

[2021-06-26 00:02] SchrodingersGat commented on #1720
So all working OK now?

[2021-06-26 23:01] #1687 closed

[2021-06-27 23:15] SchrodingersGat opened #1727 "Add "Shipping Cost" to orders"

[2021-06-27 23:15] #1721 closed

[2021-06-28 00:30] G-Pereira commented on #1727
This would be nice!

[2021-06-28 01:08] #1702 closed

[2021-06-28 01:34] #1720 closed

[2021-06-28 01:48] watarat opened #1728 "Server V6"
Busting to try new mobile functionality, having trouble getting server to Version 6 however.
Think I've updated to latest code (complete git klutz here!!)
[code]
Restarting server gives

And of course the app isnt happy - requiring API V6.

[2021-06-28 01:55] SchrodingersGat commented on #1728
That commit hash is from a few days ago...

Strange that the server is reporting old code if you are pulling down from git.

Can you run this command from the command line and post the results?

[code]

[2021-06-28 02:02] watarat commented on #1728
[code]

[2021-06-28 02:05] SchrodingersGat commented on #1728
Yeah so that code does not match what the server is actually running. Is it possible you have download 2 copies?

What is the server configuration you are running? Is it running in docker, or a custom setup?

[2021-06-28 02:16] watarat commented on #1728
Yes - quite possible I've stuffed up the install :(
Server is running in an Ubuntu Desktop VM under VirtualBox - PostGreSQL backend.
I'm running it from
[code]

and the git commands are issued from here
[code]

[2021-06-28 02:22] SchrodingersGat commented on #1728
Did you run `invoke update` after pulling down the new source code?

[2021-06-28 03:46] watarat commented on #1728
Sent self to naughty corner - because I hadnt, but that doesnt seem to change things?

[2021-06-28 04:08] SchrodingersGat commented on #1728
It should not change *this* particular issue, but I thought it was worth checking.

The strange part is that the git hash values are different...

Can you show the log messages when you start the server?

[2021-06-28 04:17] watarat commented on #1728
Log messages?? , not sure where from, Log subdir is empty
[code]
- Terminal output
[code]

[2021-06-28 04:52] SchrodingersGat commented on #1728
Thanks, it was the terminal output I was interested in...

[code]

It looks like maybe you've duplicated the code under `~/inventree/src` ?

[2021-06-28 05:16] watarat commented on #1728
Yep - looks that way - its the one I've configured - but guess its the one in /inventree that I'm 'git updating'.
I'll have a crack at sorting that out (Not quite sure how I got that to be..)
Thanks so much - sorry for annoying!

[2021-06-28 05:35] watarat commented on #1728
YUP!!
Re configured the one under /inventree/Inventree - tada!!
[code]
ahh - The "Copy Version" button on the page doesnt copy the API Version (shown above) - but it's 6 👍
(or python version)

[code]
Thanks again!!

[2021-06-28 05:56] SchrodingersGat commented on #1728
Nice work :) Happy to close this out then?

[2021-06-28 06:27] watarat commented on #1728
Definitely close it - just uploaded a part picture - fabulous!!
Awesome - thanks again.
Richard.

Trivial - but noticed that the action of deleting the last parts in stock (via App), - that are set as delete when depleted...
Causes a red Error bar at bottom of screen, and then puts up Bad Request 400 Error message box.
It does however do exactly what you'd expect!!
Suspect it is just failing on re

[2021-06-28 06:27] #1728 closed

[2021-06-28 09:17] SchrodingersGat commented on #1728
Thanks for that feedback @watarat - I'll have to have a look into that.

Please let me know if you find any other issues using the app, or want to suggest some features.

Cheers

[2021-06-28 12:20] carlosmatthews commented on #1720
HI, the program is runing, seems good.
The only strange thing that I see is this indication in the program options:
of an issues detected in the server.
I don't know exactly what it means, or if I should pay attention to it or not. Thanks.

![imagen](https://user-images.githubusercontent.com/68878024/123635366-fb693b80-d7f1-11eb-80c1-a8ab1b717989.png)

[2021-06-28 23:31] SchrodingersGat opened #1732 "Reduce severity of email warning"
Ref: https://github.com/inventree/InvenTree/issues/1720

Reduce the apparent severity of the "email not configured" warning

[2021-06-28 23:31] SchrodingersGat commented on #1720
@carlosmatthews this error message is OK, it just means that you have not configured an email account for outgoing mail. This would be used (for example) to allow users to receive a password reset email.

[2021-06-29 00:38] SchrodingersGat opened #1733 "Add option to hide "related parts" tab"

[2021-06-29 11:24] #1733 closed

[2021-06-30 15:16] BansheePrime opened #1735 "Errors with Dockerfile apk add --no-cache fontconfig"
Probably my misunderstanding but I keep getting following error when I use required python:alpine image:
[code]

If I use alpine:3.13 image there is no errors with line 57 in Dockerfile:
``
RUN apk add --no-cache fontconfig ttf-droid ttf-liberation ttf-dejavu ttf-opensans ttf-ubuntu-font-family font-croscore font-noto
``

In this case pip should be properly installed with something like:
`apk add

[2021-06-30 21:28] BansheePrime commented on #1735
Looks like in Alpine 3.14 we have no package ttf-ubuntu-font-family:
 https://alpine.pkgs.org/3.14/alpine-main-x86_64/5/

[2021-06-30 22:18] BansheePrime opened #1737 ""permission denied" error when starting background worker"
I'm followint the  docker development server setup guide and when I say:
`docker-compose -f docker-compose.dev.yml up -d inventree-dev-worker`

I got:
[code]

I'm only learning and your help will be much appreciated.

[2021-06-30 22:58] SchrodingersGat commented on #1737
Have you copied the `docker-compose.yml` file exactly, or have you made alterations?

[2021-06-30 22:59] SchrodingersGat commented on #1735
Are you downloading the inventree docker image pre-built from dockerhub, or building yourself from source?

[2021-07-01 05:31] BansheePrime commented on #1735
I'm working with cloned git.

[2021-07-01 05:54] BansheePrime commented on #1737
`docker-compose.yml` is changed by me in {volumes}  section with path to local data. As I understand error with `permission denied` is result of attempt to execute script  `start_dev_worker.sh` in container and there we acting as root or I missing something very obvious? Local sudo'ing gives same error. I'm working with WSL2 on Win10 so let me try to setting up project on my unix-box.

Thank you f

[2021-07-01 06:00] SchrodingersGat commented on #1737
As with https://github.com/inventree/InvenTree/issues/1735 - are you manually building the dockerimage or downloading from dockerhub?

The inventree-worker and inventree-server contains should normally run "out of the box" without such issues...

[2021-07-02 01:23] SchrodingersGat opened #1738 "Mark multiple build outputs as complete with single step"
- Add checkbox to "build output" display
- Select multiple (or all) pending outputs
- Press "Complete Selected Outputs"
- Launches confirmation form
- Select destination / status for the outputs

[2021-07-02 02:20] #1714 closed

[2021-07-02 02:42] SchrodingersGat commented on #1735
Looks like the alpine base image has been changed and the `ttf-ubuntu-font-family` package is no longer valid. Will have to look into this some more.

[2021-07-02 04:51] #1735 closed

[2021-07-02 12:15] SchrodingersGat commented on #1737
can you please try again now that #1735 has been fixed?

[2021-07-02 13:09] SchrodingersGat opened #1741 "Limit template rendering in dynamic javascript"
The "dynamic" javascript files (those which can be translated into different locales) should *not* be able to have any other dynamic template data, as this will get "baked in" when the translation step occurs.

Anything that is a "trasnlateable" javascript file must not have any other template tags!!

- Might have to write a script to detect non-translation tags and raise an error.
- Javascript fi

[2021-07-02 14:00] SchrodingersGat opened #1742 "Deleting a "Customer" breaks SalesOrder reference"
`Customer` field for a `SalesOrder` object has the relation delete set to `SET_NULL` - this means that if a company is deleted, you get a whole lot of this:

![image](https://user-images.githubusercontent.com/10080325/124285864-b4809a80-db91-11eb-9e63-ed570c1c045a.png)

[2021-07-02 16:08] BansheePrime commented on #1737
Please excuse me for interrupting your work with weekend ahead.
Right now in app Dockerfile line 1 is:
`FROM alpine:3.13 as base`

It worked for me only if I write:
`FROM python:alpine3.13 as base`

If you don't mind I'll take little more time to properly check things out.

[2021-07-02 18:34] marklinmax commented on #1297
Sorry to jump in like that, but isn't nginx proxy_pass and url rewrite one-way? The server will effectively receive the request without the subpath, but will not redirect well since it isn't aware of the modification.

I tried configuring it like that and could reach the server but never got a proper response.

Maybe I am just doing something wrong?

So I think that both the INVENTREE_SUBPATH envi

[2021-07-02 19:25] rcludwick commented on #1297
I think this will do what you're asking for:

https://stackoverflow.com/questions/41605137/how-to-remove-a-subdirectory-from-the-url-before-passing-to-a-script

On Fri, Jul 2, 2021, 12:34 PM marklinmax ***@***.***> wrote:

[2021-07-02 22:13] matmair commented on #1245
@SchrodingersGat how did you imagine the settings? One per item? And per user or global?

[2021-07-02 22:16] matmair commented on #1674
@SchrodingersGat would you like further fixes than in #1736 or can we close this?

[2021-07-02 22:17] matmair commented on #1628
@SchrodingersGat might I suggest the `bug` label?

[2021-07-02 22:23] matmair commented on #1577
@eeintech is this fulfilled by #1712 or do you imagine a different implementation?

[2021-07-02 22:39] SchrodingersGat commented on #1674
I think you've sufficiently addressed this :)

[2021-07-02 22:39] #1674 closed

[2021-07-02 22:44] matmair commented on #749
@SchrodingersGat do you know if anyone worked on this?

[2021-07-02 23:09] #1732 closed

[2021-07-03 01:59] #1323 closed

[2021-07-03 02:05] #1717 closed

[2021-07-03 02:14] SchrodingersGat commented on #1297
@marklinmax I think you are correct, I've tried both approaches in separation but I believe that as you say, `INVENTREE_SUBPATH` and proxy pass will need to be configured.

[2021-07-03 02:30] SchrodingersGat commented on #1737
Ok, let me know what you discover!

[2021-07-03 06:15] SchrodingersGat opened #1754 "API Improvements"
Spotted some issues as part of https://github.com/inventree/InvenTree/pull/1716

### Part Parameters

Currently the part parameter table is constructed in the django template, but it should be loaded dynamically via the API

- [x] Part parameter table should be loaded via DRF API

[2021-07-03 06:20] SchrodingersGat commented on #749
No I don't believe so. It was an idea that @jnewlands and I discussed that would be potentially useful, but never actually went anywhere.

I'd probably like to re-think the whole "actions" plugin system first, after the current feature pushes are done.

[2021-07-03 06:25] SchrodingersGat commented on #1245
This was a while ago, I think I was imagining that each item on the home page could be configurable (simple boolean setting).

[2021-07-03 08:16] matmair commented on #431
@SchrodingersGat is this still active?

[2021-07-03 08:43] SchrodingersGat commented on #431
Probably not worth keeping it open, we've  gone in a different direction for multi part forms now

[2021-07-03 08:43] #431 closed

[2021-07-03 12:02] SchrodingersGat opened #1755 "Outstanding tasks for API Forms"
Remaining tasks / features / bugs to be implemented from https://github.com/inventree/InvenTree/pull/1716

### Form Features

- [x] Custom "grouping" of form fields
- [x] Custom form elements
- [x] Launch "secondary" modals (and handle the results)
- [x] Allow "infinite" stacking modals (created at run-time)
- [x] Option for custom client-side field validation (before sending data to the server)
-

[2021-07-03 12:14] #707 closed

[2021-07-03 12:14] #1213 closed

[2021-07-03 12:18] irameez opened #1756 "changing base currency"
default and base currency is set to USD, is there a way to change this so that it shows a different currency in part details and sales orders.
Thanks.

[2021-07-03 13:43] matmair commented on #1756
@irameez if you run the latest version from master (which I generally do not recommend, I always deploy the latest release) there is setting in settings->currencies for that. Previously this was set in the config.yml

[2021-07-03 14:03] irameez commented on #1756
I am running the latest version but for some reason I can't seem to find the option, can you please share a screenshot.

[2021-07-03 18:18] matmair commented on #1756
![grafik](https://user-images.githubusercontent.com/66015116/124363483-c159c880-dc3b-11eb-8db4-e9bfa4f930e7.png)

[2021-07-04 13:25] irameez commented on #1756
thank you so much, I somehow missed that small button :)

[2021-07-04 13:25] #1756 closed

[2021-07-05 14:47] eeintech commented on #1577
I have yet to check it out (so busy those days...) but from the screenshot I saw it looks like it!

Thanks @matmair

[2021-07-05 14:47] #1577 closed

[2021-07-05 15:39] eeintech commented on #1674
@matmair @SchrodingersGat I'm still getting the following message when the migrations are ran:
[code]

But running `manage.py makemigrations` does not generate new migrations :thinking:

[2021-07-05 21:16] SchrodingersGat commented on #1674
What is the output of `manage.py showmigrations part`

[2021-07-05 21:21] eeintech commented on #1674
@SchrodingersGat

[code]

[2021-07-05 22:16] Oakman-Dev opened #1762 "Label printing limitations and Manufacturer’s part number (MPN) issues"
Below are some small suggestions that I found when using Ki-nTree to sort my Digi-Key components (not just SMD parts but fans etc.)

- **Suggestion**: Make manufacturer’s part number (MPN) a property of Parts/Part Details columns for easier navigation and searching
- **Suggestion**: Enable Part Parameters to be used for labels. It would be great to be able to call Part Parameters, value for exampl

[2021-07-06 01:23] #1356 closed

[2021-07-06 17:33] eeintech commented on #1674
I really can't shake this warning, and it is annoying me more than I thought!

However, everything is operational and working well... Warning shows up with PostGreSQL and SQLite3, at least those are the backends I tested.

[2021-07-06 17:58] eeintech commented on #1762
Using the search function, you can look up Manufacturer part numbers:
![image](https://user-images.githubusercontent.com/4020546/124645472-77522c00-de61-11eb-8b00-455edb5681d6.png)

Manufacturer details are abstracted from the "Part" it belongs too because you can have multiple Manufacturers for one "part" (common example: 1uF X5R 0603 6.3V capacitor)

That sounds like a good suggestion, @Schrodin

[2021-07-07 11:54] Guusggg opened #1764 "`Uncaught TypeError: row.supplier_part_detail is undefined`"
Hi,

Recently I fell in love with this project because it is so well updated and seemed the perfect solution to my troubles. Recently I got some more parts and I'm now trying to get InvenTree in the middle of my workflow.

Adding parts works perfectly and adding suppliers for the parts works amazingly too. However, when I'm adding stock and a part has an assigned supplier, the whole stock list doe

[2021-07-07 12:23] Guusggg commented on #1764
My bad, I just updated to the latest source code after seeing the pull request and everything is functional again.

Thanks a lot for maintaining this project so decently!

[2021-07-07 12:23] #1764 closed

[2021-07-07 12:53] eeintech commented on #1764
@Guusggg No problem, I noticed this issue yesterday :smile:

[2021-07-07 14:57] stijnloeys opened #1765 "Importing with part parameters"
Dear,

Is it possible to import a datasheet from excel, with the right headers as said in the documentation of inventree, but also with their part parameters?
And if this is possible, is it also possible to do this as a normal user, and not as an admin?

Kind regards

[2021-07-07 16:12] eeintech commented on #1765
Hi @stijnloeys

It is **only** currently possible to import part parameters using the Admin section or the [InvenTree Python API](https://github.com/inventree/inventree-python).

This could be a good feature, the little tricky side is to decide if from this import the part parameters templates are created automatically or not.

[2021-07-07 16:26] Randomtyper23 opened #1766 "Problems linking with Digikey-API"
Hey all,

Are there any known problems with the linking of the program with the digikey-API? The installation succeeded on my PC, but when i enter the client and secret i get from following the video posted about the digikey API, i get an error (401) saying the clientID is invalid...
Does anyone know how to fix this?

Kind regards

[2021-07-07 17:27] eeintech commented on #1766
@Randomtyper23 Are you referring to this API: https://github.com/peeter123/digikey-api

If yes, you'd be better opening an issue on this repository instead of here :)

[2021-07-07 17:35] Randomtyper23 commented on #1766
Ah no sorry, I was referring to the ki-ntree application :) I followed their tutorial but keep getting an invalid error with the clientKey.. But I'll ask there thanks :)

[2021-07-07 17:36] eeintech commented on #1766
@Randomtyper23 Ok please close this issue and open an issue here: https://github.com/sparkmicro/Ki-nTree/issues
And I'll respond :smiley:

[2021-07-07 17:44] #1766 closed

[2021-07-08 00:15] rcludwick opened #1767 "Docker: select2 doesn't make it into static"
Not sure why, but select2 exists in InvenTree/InvenTree/static, but isn't copied over to /home/inventree/static.

This appears to prevent submitting via form, and makes various errors in the developers console.

Manually copying it over seems to make it work okay.

[2021-07-08 00:38] SchrodingersGat commented on #1767
The entire /select2 directory?

[2021-07-08 00:47] watarat opened #1769 "Feature Request - Part Label"
I would find it very useful to be able to print labels for a PART (as distinct from STOCK).
I can see that there is partial support for that - the option to print a part label is in the GUI but there doesn't seem to be a back end for it ??

Use case for me - is that if I don't have any stock of an item - I am unable to utilise the App scan function.
So - typically for me - when I receive new parts

[2021-07-08 01:05] reilly-callaway opened #1770 "Feature: Add installed stock items after build creation"
Include an "Add stock item" button to the install stock items tab for a stock item.

Currently installed stock items can only be added whilst in production through a build order. Would be beneficial to be added after production as well.

[2021-07-08 01:22] SchrodingersGat commented on #1769
A "part label" mechanism makes sense and is not very difficult to implement with the current framework. The additional functionality that you mention (e.g. automatically re-ordering stock) would be a bit more difficult.

For now I'm happy to implement a "part label" feature and go from there.

[2021-07-08 01:41] #1081 closed

[2021-07-08 01:44] SchrodingersGat commented on #1762
@Oakman-Dev thanks for your suggestions here! Adding parameters to the parts (with "name" lookup e.g. `part.parameters.length`) should be pretty simple to do!

No patreon at the moment, but the link @eeintech shared above does allow donations via PayPal (which are very gratefully accepted!)

[2021-07-08 01:44] SchrodingersGat commented on #1674
@eeintech can you please raise a new issue for this warning message? I would also like to see it resolved.

[2021-07-08 02:57] watarat commented on #1769
Must admit to being a pretty basic user, and for a lot of parts I don't do full tracking of supplier/order etc - my envisaged usage would be something like.
1. Notice Stock low (or use last part)
2. Order in more without any Inventree input.
3. When part arrives, scan the new PART LABEL and simply do an " Add Stock".
At present - that works fine so long as there is existing stock - I can get to Ad

[2021-07-08 11:42] eeintech opened #1775 "Migration warns for phantom part changes"
Here is the warning:

[code]

Running `manage.py makemigrations` does **not** generate new migration file...

Running `manage.py showmigrations part` shows all part migrations are complete.

I found this warning both with PostGreSQL and SQLite3, if that has anything to do with backend dependency.

[2021-07-08 11:45] eeintech commented on #1674
Opened: #1775

[2021-07-08 13:04] SchrodingersGat commented on #1769
Part labels have been implemented in https://github.com/inventree/InvenTree/pull/1776

[2021-07-08 13:34] #1769 closed

[2021-07-08 14:41] SchrodingersGat commented on #1767
I just tried this on a "fresh" docker build (had to clean out the docker image cache a few times to get it to work properly).

Running from inside the docker image:

![image](https://user-images.githubusercontent.com/10080325/124941679-56026300-e04e-11eb-8c52-6110e6f30470.png)

![image](https://user-images.githubusercontent.com/10080325/124941791-6a466000-e04e-11eb-8c23-df615b0e7343.png)

[2021-07-08 15:40] rcludwick commented on #1767
Yeah.  Collectstatic doesn't appear to be working.... Not sure why.

On Thu, Jul 8, 2021, 8:41 AM Oliver ***@***.***> wrote:

[2021-07-08 15:56] SchrodingersGat commented on #1754
Closed by https://github.com/inventree/InvenTree/pull/1778

[2021-07-08 15:56] #1754 closed

[2021-07-08 16:04] SchrodingersGat commented on #1767
What do you get in the "collected" static directory?

[2021-07-09 01:10] SchrodingersGat opened #1781 "BuildOrder table not sorting properly"

[2021-07-09 02:32] SchrodingersGat opened #1784 "Error attempting to delete stock item"
![image](https://user-images.githubusercontent.com/10080325/125014839-b8d91600-e0b1-11eb-95ab-4f0676ff881b.png)

[2021-07-09 02:57] #1781 closed

[2021-07-09 02:57] SchrodingersGat opened #1786 "Force creation of BuildOutput when creating a new BuildOrder"
Otherwise this step gets missed and causes all sorts of issues.

Probably should also require that the build outputs have been completed, before allowing the BuildOrder itself to be marked as completed.

[2021-07-09 04:32] SchrodingersGat opened #1790 "Convert ManufacturerPart and SupplierPart forms to new API forms system"
- [x] ManufacturerPart forms
- [x] SupplierPart forms

[2021-07-09 05:48] SchrodingersGat opened #1791 "Combine "Manufacturers" and "Suppliers" tab for Part view"
Annoying to switch between the two, especially as the tables are highly related.

[2021-07-09 06:57] #1791 closed

[2021-07-09 07:13] StijnLoeys1999 opened #1794 "Exception downloading BOM list"
Hey all,

When I tried to download the BOM list for an end product, i got an error. Does anyone know if I did something wrong, or if it was a bug?

ERROR message:
Environment:

Request Method: GET
Request URL: https://ivt.arcsec.space/part/10/bom-download?file_format=xls&cascade=True&parameter_data=True&stock_data=True&supplier_data=True&manufacturer_data=True&levels=2

Django Version: 3.2
Python

[2021-07-09 08:50] Acvarium opened #1796 "Feature: The way to create initial stock amount from "Create New Part" dialogue."
Each time I create a new part, I have to go to the Stock Items section and create new stock. It would be faster, if directly on "Create New Part" would be an option to set an initial number of stock items in default location. Just a number, and if it is 0, the initial stock will be ignored and the system work as it is now

[2021-07-09 13:53] Matthewmads commented on #1421
Has there been any development on this? I'm looking at integrating inventree into an existing door and hardware supply company and 3rd party apps like quickbooks is a big deal for the end user. I'm considering setting up a test environment to play around with links to QB but in the past I've always looked at QB as an island that's very difficult to get data in and out of. Any insight that anyone h

[2021-07-09 14:26] SchrodingersGat commented on #1794
I can replicate this issue, it only seems to occur when:

- The format is set to `.xls` (`.xlsx` seems to work fine)
- "include stock data" is set to True

[2021-07-09 14:29] eeintech commented on #1794
@SchrodingersGat You beat me to it, I was not able to reproduce but with your conditions it does create this error indeed.

[2021-07-09 14:41] eeintech commented on #1784
@SchrodingersGat I cannot reproduce it, any special condition for this to happen?

[2021-07-09 21:35] matmair commented on #1421
@Matthewmads not that I know of. From my side it seemed like there was low interest in this, so I did not pursue it further.
Intuit provides [Webhooks](https://developer.intuit.com/app/developer/qbo/docs/develop/webhooks) so you could use django signals or [DRF Webhooks](https://github.com/zapier/django-rest-hooks) to get changes to QB, a API-endpoint for call-backs from QB and background tasks fo

[2021-07-09 21:53] miniPCR-Jesse commented on #1421
As far as I'm aware this issue is what's stopping the small startup I work for from using Inventree for inventory management. Given that we're actively looking at paid solutions, I may be able to convince them to back a paid bounty for successful implantation of integration QuickBooks / WooCommerce. Has something like this been done for any Inventree features in the past?

[2021-07-09 22:03] matmair commented on #1421
@miniPCR-Jesse the tech for getting and setting data would not be difficult but at least for QB there are strict [security requirements](https://developer.intuit.com/app/developer/qbo/docs/list-on-the-app-store/security-requirements).

Generally, if you or anyone else wants to try to implement it: be aware that especially handling the keys for 3rd party APIs has to be done right to avoid leaking f

[2021-07-09 23:08] SchrodingersGat commented on #1784
I have not yet managed to replicate - this error screenshot was sent to me by a coworker

[2021-07-10 00:36] rcludwick commented on #1767
Ahhh..... my fault.  Thanks for helping anyway.  It's working as expected.

[2021-07-10 00:36] #1767 closed

[2021-07-10 10:36] chrisnoisel commented on #1297
I've started to play with Inventree last week and stumbled on the same issue. I strongly feels it should be handled by Inventree itself like some other popular web projects, relying on url rewriting feels like a temporary workaround.
I gave a try at your branch and after some [light changes](https://github.com/LOCEAN-IPSL/InvenTree/commits/subdir-server), it seems to work pretty good.

Do you see

[2021-07-10 13:13] SchrodingersGat commented on #1297
@chrisnoisel I'm very keen to get this correctly implemented. One potential issue I've been thinking about is the many places in the code (particularly in the javascript files) with hard-coded URLs - for example:

https://github.com/inventree/InvenTree/blob/d9c2d061cc6518b936091af262bf3130fed4f46e/InvenTree/templates/js/company.js#L40

Do these URLs work correctly in your branch?

[2021-07-10 13:27] #1794 closed

[2021-07-10 13:32] SchrodingersGat commented on #1421
Similar integrations have been requested for services such as opencart and shopify. In principle I am open and encouraging of the idea. The major caveat is that integration with any of these platforms would require intimate knowledge of them (which I don't currently have)!

However some of the recent major features implemented in InvenTree have been done so (at least partly) to be able to support

[2021-07-10 13:41] chrisnoisel commented on #1297
I've yet to test it on a non-empty database but indeed I still see a lot of occurrences. I did a quick list of search patterns to have and idea of what's left :
[code]
[code]
The list is big but I'm pretty sure most of it can be automated (and I guess i18n are auto-generated ?). I just need to be sure I'm doing it "the right way" as I'm pretty new to Django. For now, I expect most of the manual st

[2021-07-10 14:10] matmair commented on #1421
@SchrodingersGat I would be open to make a prototype implementation for a simple async webhook integration - would be for some sort of OSS website though.

The question is how proper implementations - which should be easy to be added and updated - should integrate into InvenTree. If they are directly in InvenTree it could be inferred that you/the project are responsible. A implementation like acti

[2021-07-10 14:16] matmair commented on #1297
@chrisnoisel great idea. Please merge in the current master before you open a PR as there are some conflicts that need to be resolved.

[2021-07-10 17:39] matmair commented on #1421
@SchrodingersGat made a quick and dirty test implementation and there is a lot to figure out with this. Will loose reliable internet for the next week soon so I will leave my thoughts here for whomever wants to poke around.

I suggest a single API-Endpoint that will be called by incoming webhooks. API-Plugins (working title) register functions against a signal that triggers every time this endpoin

[2021-07-10 17:45] matmair commented on #1421
@Matthewmads @miniPCR-Jesse what plattforms would interest you and would you be up to develop and/or test the specific implementations for these? I would love to do the groundwork but I am reluctant to do stuff for things I do not know and use.

[2021-07-10 18:33] rcludwick commented on #1297
nginx sub_filter will rewrite the urls the outgoing way.  So, I still think this is better handled outside of inventree.  nginx is pretty powerful, so I prefer to move custom url behavior to the proxy whenever possible.

http://nginx.org/en/docs/http/ngx_http_sub_module.html

The question is, is that enough?    The only thing I can think of is if an email is sent with a link to the main server tha

[2021-07-10 21:37] matmair commented on #1297
@rcludwick if possible (I am nobody in this project) I would prefer to keep all magic rewriting to a minimum. If you have to change something to work there should be one place and one file to change. It can be difficult to debug this kind of stuff with rewrites (often there is more than one if you have a multi-layer enterprise network). If we already need to implement a setting, we should respect

[2021-07-11 02:45] rcludwick commented on #1297
@matmair.  Currently I work in a multilayer enterprise network.  But I can't expect every open source project to incorporate our SSO strategy.  Also in such a network, you'll typically have the resources to run a load balancer which can rewrite url's and html responses(F5, nginx, etc).

Maybe I'm wrong but it seems to me this adds surprises to JS development with a use case that most developers wo

[2021-07-11 16:11] Oakman-Dev commented on #1762
That's great @SchrodingersGat , thank you! I'd love the be able to print labels with saved barcodes, manufacturer part numbers etc, to make "offline" searching and also make it cross-system compatible.

@eeintech I'm using the same Dymo LabelWriter 450 as you with a small Pi Zero W as a CUPS server. The reason for wanting it on the interface would be that I could trigger a print from my phone or t

[2021-07-11 20:24] chrisnoisel opened #1803 "select2-bootstrap.css filled with html code"
My css knowledge is out of touch by today's standard but it seems [select2-bootstrap.css](https://github.com/inventree/InvenTree/blob/master/InvenTree/InvenTree/static/select2/css/select2-bootstrap.css) content got erased with something else.

[2021-07-12 11:19] SchrodingersGat commented on #1803
Uhhh. yeah.. Thanks for picking this up @chrisnoisel  that's a very strange one!

[2021-07-12 11:34] #1803 closed

[2021-07-12 11:35] SchrodingersGat commented on #1737
@BansheePrime did you ever get anywhere with this?

[2021-07-12 11:42] SchrodingersGat commented on #1421
I like the idea of implementing a "plugin" system here. Even "first party" plugins that are developed could be implemented in this manner.

For example, we might have a "plugins" directory, under which each sub directory defines a plugin system.

Each "plugin" could have the following features (among others):

### API Endpoint

An endpoint specific to that plugin / a way to hook into the plugin vi

[2021-07-12 11:43] SchrodingersGat commented on #1421
https://github.com/inventree/InvenTree/projects/1

[2021-07-12 11:45] SchrodingersGat commented on #1297
![image](https://user-images.githubusercontent.com/10080325/125282184-70905100-e35a-11eb-8291-e28f775bb324.png)

If "second highest contributor" is "nobody" ;)

[2021-07-12 11:46] SchrodingersGat commented on #1297
Thanks everyone for input on this. I'll be getting back to this issue soon, and will have some time to read through your comments thoroughly.

[2021-07-12 12:16] #1784 closed

[2021-07-12 12:47] Matthewmads commented on #1421
@matmair yes I'd be interested in testing a quick books integration and potentially some others but im still learning so I think I would need some guidance. My role in this project is as a consultant helping to streamline workflows and make things more digital in an aging company.

I need to speak to my customer but a part of my deal is to set up a working inventory system and a training program f

[2021-07-12 13:13] miniPCR-Jesse commented on #1421
@matmair Similar answer to Mathewmads regarding interest.  My background isn't SW development, so I don't know how much help I'd be in that regard.  But if you're looking for someone to test some usage scenarios I'd be happy to lend a hand.

[2021-07-12 13:29] BansheePrime commented on #1737
I'll do my best to show you results in a few days.

[2021-07-12 13:56] #1673 closed

[2021-07-12 14:00] eeintech commented on #1784
@SchrodingersGat Ever found out the condition?

[2021-07-12 14:05] SchrodingersGat commented on #1784
Not precisely - it was something to do with the "notes" field being improperly applied. In any case it was good motivation to finally consolidate the stock adjustment functionality.

[2021-07-12 23:17] SchrodingersGat opened #1809 "Admin interface can be super slow"
Some pages on the admin interface takes ages (like, 10 seconds) to render..

Need to profile them to work out where the inefficiencies are.

[2021-07-12 23:53] SchrodingersGat commented on #1809
For example the admin page for a "purchase order" is extremely slow to load.

[2021-07-13 07:10] sintech commented on #1673
Thank you @SchrodingersGat, part page is definitely better now.
But it still has duplicates of part info and rarely used property switches right in the middle of the page.
Maybe it makes sense to move switches to "edit part" modal?
Screenshot of my part page:
![part_main_new](https://user-images.githubusercontent.com/10057327/125406755-d9f77a80-e3c1-11eb-8d6f-709c1c75ac46.png)

[2021-07-13 10:36] eeintech commented on #1809
I've noticed that too, thought it was my setup 😬

[2021-07-13 11:59] SchrodingersGat commented on #1673
@sintech good point, will be addressed as part of https://github.com/inventree/InvenTree/pull/1811

[2021-07-13 12:01] SchrodingersGat commented on #1809
Might be something that the django-debug-toolbar plugin can help us debug..

[2021-07-13 14:27] eeintech commented on #1809
:thinking: Umm what?

![image](https://user-images.githubusercontent.com/4020546/125469676-658800ca-bbd0-4873-9fd9-f72038ff9e33.png)

[2021-07-13 15:05] eeintech commented on #1809
Removed the inline items:

![image](https://user-images.githubusercontent.com/4020546/125476155-3eab8d9c-1d49-4354-8a0d-6506e7312714.png)

[2021-07-13 16:59] eeintech commented on #1809
@SchrodingersGat The bottleneck was in the `SupplierPart` model related queries, this boy is a very expensive database hit if not prefetched. I think #1812 alleviates this problem, at least for purchase order details (works nicely for me now).

[2021-07-13 18:08] wolffam commented on #1770
@SchrodingersGat ,
Wasn't this a feature in the past? https://github.com/inventree/InvenTree/issues/977
Did it removed purposefully and/or can it be added back?

[2021-07-13 18:41] eeintech commented on #1770
@reilly-callaway Your original question is a bit confusing, do you expect a "Add Stock Item" button somewhere on the build order page? Where exactly?

@wolffam Are you saying you would like to link a stock item to a build order, using the "Build Outputs" tab of the build order page?

[2021-07-13 18:44] wolffam commented on #1770
Ideally (and I am pretty sure this feature existed at one point) we would be able to take an assembly stock item that is the result of a build and "uninstall" a stock item component from that assembly and "install" a replacement stock item component.  Let me know if that can use any further clarification.  I'd prefer not to fall back to an older version of the software if I can avoid it

[2021-07-13 19:03] eeintech commented on #1770
@wolffam No need to fallback, this was unintentionally skipped during the build order revamp @SchrodingersGat did a few months back, it will be added again.

I'm still not quite sure to grab your feature request, neither the one from the OP...

If you could add screenshots to what you expect that'd be better, or if @SchrodingersGat or @matmair know what are you referring to, then nevermind!

[2021-07-13 19:43] wolffam commented on #1770
@eeintech , are you asking me for some further clarification? If so, I'd be happy to provide it.
I can also make a new issue if you feel this is separate from the OP's request.

[2021-07-13 19:58] matmair commented on #1770
@wolffam I think this issue is fine.
So TLDR: You want the button to add /edit the stock items installed in a stock item? Technically I do not see problems, as far as I remember this was lost during a refactor as @eeintech said.
Do you fell confident enough to implement it yourself? Please be advised we got a new forms API (for example see the sales order forms) which generates builds client-side

[2021-07-13 20:13] wolffam commented on #1770
That is correct @matmair (in terms of the feature).  We have finished assemblies that we sometimes need to replace a specific part in and therefore need the feature for "hotswapping" stock items in an assembly stock item.

I will not be able to implement it myself without a fair bit of hand holding unfortunately. I had done some poking around in the codebase last year but haven't looked at it in a

[2021-07-13 21:59] #1809 closed

[2021-07-14 03:28] watarat commented on #1769
Hi Oliver,  Feedback:
Thanks for implementing this - works a treat!!
Have implemented own format labels for parts (no issues) and are actually very handy! 😛
Rich.

[2021-07-14 04:00] SchrodingersGat commented on #1770
@wolffam yes this feature did exist, and has been lost! It will be restored soon...

The idea of swapping out particular installed items is definitely a feature I wish to keep supporting.

[2021-07-14 12:26] Nobodi99 opened #1814 "Too much CPU usage of inventree-server docker container"
Hello,

I tried to set up an inventree instance with docker on my Raspberry Pi 3b.
After following the guide for the production deployment I got it to run once.

Now whenever I try to start it the container starts to hog a lot of CPU power.
At some points up to 350%...
![grafik](https://user-images.githubusercontent.com/39123731/125620660-1fc94ae3-7743-4418-98ee-96f07758f43e.png)

When looking at

[2021-07-15 04:01] SchrodingersGat opened #1815 "Expose "installed_items" to StockItem report template"
Adds the ability for a test report to include the installed items in that stock item.

[2021-07-15 12:34] stijnloeys opened #1816 "Uploading BOM's"
Hey all,

I tried to upload a BOM list for a product in my inventory list, but i keep getting the "wrong dimension" error. Does anyone know how to solve this? I followed your template and also made a BOM list via the site itself, then downloaded it, removed it and then reuploaded it, but it kept saying "wrong dimension".

Thanks in advance

[2021-07-15 12:40] SchrodingersGat commented on #1816
Can you please provide the full error message?

[2021-07-15 12:44] stijnloeys commented on #1816
![error](https://user-images.githubusercontent.com/42654949/125789933-eab8ac7d-d264-4ce1-8136-842531abcd3c.PNG)

I upload this (as a csv):
[BOM1.xlsx](https://github.com/inventree/InvenTree/files/6823135/BOM1.xlsx)

[2021-07-15 14:41] eeintech commented on #1816
@stijnloeys I don't have any problem with your file:

![image](https://user-images.githubusercontent.com/4020546/125807122-484660eb-1f52-42d9-a65b-a495f3992e37.png)

What do you mean by `I upload this (as a csv)`? This is a Excel worksheet (not CSV) and the extension is automatically processed when picking up the file.

[2021-07-15 18:09] eeintech opened #1818 "Logout screen missing CSS?"
It used to be displayed on login background but not anymore:

![image](https://user-images.githubusercontent.com/4020546/125836539-c605f59e-0e93-4325-a8b7-09958158e9a1.png)

The error showing up is:

![image](https://user-images.githubusercontent.com/4020546/125836572-85bf1dfa-3954-43d2-ba1e-110b4f5b0e2f.png)

[2021-07-15 21:33] #1818 closed

[2021-07-16 02:38] SchrodingersGat opened #1821 "PurchaseOrder LineItem currency should default to supplier currency"
- New API forms does not respect this
- e.g. if "default currency" is USD but supplier currency is "AUD", then "USD" will be used by default.

[2021-07-16 02:39] SchrodingersGat opened #1822 "Manufacturer Part links broken in SupplierPart table"
![image](https://user-images.githubusercontent.com/10080325/125883349-b68399ba-ccc0-4966-8e48-94906bfcbf7c.png)

[2021-07-16 02:43] SchrodingersGat commented on #1822
Also broken in PurchaseOrder LineItem table:

![image](https://user-images.githubusercontent.com/10080325/125883636-48e86fdb-57de-4446-b9da-6738c4e70442.png)

[2021-07-16 03:43] #1822 closed

[2021-07-16 03:54] #1821 closed

[2021-07-16 08:34] StijnLoeys1999 commented on #1816
Sorry, there were some errors in the uploading, For some reason Inventree did not want to accept the "#" part in the name, such that the part was not in the database, when i fixed that it was ok

[2021-07-16 08:37] #1816 closed

[2021-07-16 09:55] BansheePrime commented on #1737
@SchrodingersGat
so today I started with setting up Inventree Docker Production Server on fresh and updated Fedora 34 server. Following your documentation I reached Database Migration step.
`[***@fedora inventree]$ sudo docker-compose run inventree-server invoke migrate`

output was:
[code]

Later I'll try to set Development Server and create image based of git source. If you want I can change fro

[2021-07-17 15:06] sintech opened #1825 "Supplier Reference field is not available"
Seems like "Supplier Reference" field is displayed in "Purchase Orders" table but not available to add or edit.

[2021-07-17 15:22] sintech opened #1826 "Purchase Order import"
- When I click "Purchase Order" -> "Upload File", left menu disappears.
- Can't upload file with non-ascii filename. `'ascii' codec can't encode character '\u0430' in position 62: ordinal not in range(128)`
- Field names selector width is limited by table column width. ![PO_import1](https://user-images.githubusercontent.com/10057327/126041518-174acfe1-94df-401b-a096-f7a0a9e69f37.png)
- On the seco

[2021-07-17 19:14] sintech opened #1827 "Category / Stock location selector usability"
I can't say for everyone but for me new double-line selector is inferior to the previous one.
New one is just name sorted while previous was tree based which is more logical and suitable for tree structures.
At the same time it looks very nice for plain tables like suppliers or manufacturers (tiny logos are cute).

Please consider returning to the old selector in parts and stock items.

[2021-07-18 00:38] SchrodingersGat commented on #1737
It looks like `settings.py` cannot find your config file. Have you edited settings.py or changed the default location of the configuration file

Can you share some more of the log?

[2021-07-18 00:39] SchrodingersGat commented on #1827
@sintech can you please share a screenshot of the particular form you're talking about?

[2021-07-18 00:55] SchrodingersGat commented on #1814
Both the server and background-worker processes will spawn multiple worker threads -> this is expected!

Not sure why it's taking so much CPU though. I'll try to spin up a docker instance and see if I can reproduce.

What is the CPU usage when the process is running well after boot-up?

[2021-07-18 01:04] #1825 closed

[2021-07-18 07:42] sintech commented on #1827
My bad, that's what I'm talking about:

- New, only three rows at once:
![category_new](https://user-images.githubusercontent.com/10057327/126059452-491f7a60-3e10-4f57-9b81-a96042cc0b72.png)

- Old (from admin, but it looked the same on site):
![category_old](https://user-images.githubusercontent.com/10057327/126059463-8f7e689a-7d49-446c-a44e-b5ad607f8a33.png)
I would add some space around '/' but

[2021-07-18 07:56] sintech opened #1830 "Can't create supplier/manufacturer from "Create new Supplier Part" dialog"
Steps to reproduce:
- Open any part
- Switch to "Suppliers" tab
- Click "New Supplier Part"
- Click "New Supplier" or "New Manufacturer"
ER: Create new supplier modal is opened
AR: `Error requesting form data`

![изображение](https://user-images.githubusercontent.com/10057327/126060067-f26746b6-fa1a-4e94-af13-78b81e3d6e29.png)

[2021-07-18 08:12] sintech opened #1831 "PO line item field "destination" is missing"
It is available in admin but missing in modal dialog.

![изображение](https://user-images.githubusercontent.com/10057327/126060435-3d82998e-832e-47f9-96a6-019c1fc0e5b9.png)

[2021-07-18 09:32] sintech opened #1832 "Purchase order clarification"
Since there is a lack of documentation about PO I would like to ask some (maybe silly) questions.

Prerequisites:
- Parts with filled manufacturer MPN and/or supplier SKU.

What is a suggested manual PO workflow?
- Create PO
- Use "Order Parts" dialog from Part to add a line to PO.
- (optional) Add order lines manually.
- Click "Place order"
- Make real order on supplier(s) website. Wait for shipp

[2021-07-18 11:17] SchrodingersGat commented on #1827
Ah I see. I've made an improvement in #1833, certainly ordering the results in a "tree" fashion makes a lot of sense.

[2021-07-18 11:32] #1827 closed

[2021-07-18 11:41] #1831 closed

[2021-07-18 11:46] #1830 closed

[2021-07-18 12:46] #1790 closed

[2021-07-18 13:01] SchrodingersGat commented on #1830
@sintech thanks for reporting this. Looks like a bug related to the new method of dealing with forms, which has not been carried across to *all* forms (yet).

[2021-07-18 14:06] sintech opened #1837 "Part BOM is not displayed"
I have an "Assembly" part with BOM items.
After the last couple of inventree updates I noticed that BOM table is empty.
BOM is still there according to database, I even see part images are loaded in browser dev tools but it is not displayed.
I see BOM items in Prices tab.

![изображение](https://user-images.githubusercontent.com/10057327/126070177-817e858c-ac92-448c-be7d-3d6d31710fc4.png)

[2021-07-18 14:10] SchrodingersGat commented on #1837
It looks like the bom table is not loading. Can you look in the "console" tab of the browser tools to see if there is an error?

![image](https://user-images.githubusercontent.com/10080325/126070442-67a4c774-634b-4de5-9a3c-4852fd1c0b19.png)

[2021-07-18 14:38] sintech commented on #1837
![изображение](https://user-images.githubusercontent.com/10057327/126071320-31622d1a-91df-48d2-b81e-04e971fa2c52.png)
Sorry for error in russian, I don't know how to switch it to english.

[2021-07-18 14:46] murych commented on #1837
got the same issue today:
[code]

my inventree instance version info:
[code]

![image](https://user-images.githubusercontent.com/3063817/126071626-1187d859-4edc-4972-a217-238c729700f3.png)

[2021-07-18 21:43] SchrodingersGat commented on #1837
The part menus recently got updated - can you try doing a hard refresh of the browser? `Ctrl`+`Shift`+`R` or `Ctrl`+`F5`.

I'm not seeing the same issue here on top of latest master.

[2021-07-18 23:47] SchrodingersGat opened #1839 "Add "critical parts" display for BuildOrder"
Show a list of parts which are required (out of stock) for a build order

- For a multi-level BOM, traverse all the way down
- Export option

[2021-07-18 23:53] #1796 closed

[2021-07-19 05:03] #1837 closed

[2021-07-19 06:51] #1683 closed

[2021-07-19 07:23] #1815 closed

[2021-07-19 16:26] eeintech commented on #1826
Hello @sintech I cannot reproduce the ascii problem, I have put this string in both filename and file content: `людиа`
Do you know exactly which char fails?

The number conversion is cause by the decimal separator being a comma `,` instead of dot `.`. I will have to take a look how to solve this. I'll look into the currency matching too after that.

Thanks for reporting on this new tool!

[2021-07-19 16:47] sintech commented on #1826
Pls find attached error screenshot and xls.
If I remove "копия_" from filename it is loading fine.
![изображение](https://user-images.githubusercontent.com/10057327/126196449-a0019564-5468-4552-b13e-d317366d0ea8.png)
[копия_orders_web_17-07-21_01.04.42.xls](https://github.com/inventree/InvenTree/files/6842579/_orders_web_17-07-21_01.04.42.xls)

[2021-07-19 18:08] Nobodi99 commented on #1814
Thanks for the reply.
Sadly I can't even get it to run properly on the pi.

Today I decided to just set up an instance of inventree on my ubuntu notebook to test some things.
Here I found the cause of my problems.
The high CPU usage is probably because it uses multiple cores. So that is fine.
The real problem I have is the RAM usage.
A fully working, newly deployed container (server) uses about 1.

[2021-07-19 19:34] eeintech commented on #1826
@sintech I still can't reproduce your error even with your file. When I download it, the first part of the name does not appear... and if I add it manually it works fine too.
Anyway, I added a check on the encoding to avoid hitting the debug page (or at least I think it should do that).

For the resizing of the dropdown, I previously tried the `dropdownAutoWidth` option from the `select2` API : ht

[2021-07-19 20:01] eeintech commented on #1814
It seems weird to me that there are 9 workers spun out, a couple should be enough.

We're not even using workers in our team instances and everything works great, you may want to try it out without them too.

[2021-07-19 20:09] eeintech commented on #1832
Both workflows look correct to me.

You don't have to do it before, after is fine too at the moment because "placing the order" is just updating your database locally, it does not interact with your supplier.

That's a use-case not covered yet. You can however alter the status of the order in the Admin section :smiley:

The destination is where all the received items will be stored as stock items

[2021-07-19 21:46] lookme2 commented on #1814
@eeintech I hate to say this but I can't even figure out how to start the workers.

[2021-07-19 21:58] SchrodingersGat commented on #1814
@Nobodi99 the CPU and RAM resource consumption does seem wrong. Is the server actually working, can you access the webpage?

[2021-07-19 21:58] #1826 closed

[2021-07-19 22:46] SchrodingersGat opened #1848 "[BUG] Alignment issues in part grid view"
When displaying parts in grid view, the grid cell height does not expand to fill the available space:

Someone with more advanced CSS knowledge would be able to fix this in a jiffy, I'm sure.

![image](https://user-images.githubusercontent.com/10080325/126236973-203001ad-7a22-4762-9232-366194896e84.png)

[2021-07-20 09:00] sintech commented on #1832
Thank you @eeintech it is more clear now.

But why then it is asking destination explicitly each time I do receive parts?
Also what does it mean "Select parts to receive against this order", how do I select?
![изображение](https://user-images.githubusercontent.com/10057327/126291923-874610f0-3f06-404f-adf3-8db71346cfec.png)

[2021-07-20 09:49] Nobodi99 commented on #1814
@SchrodingersGat  Yes I can access the webpage when I host it on my laptop. The only problem I have there is that I can't seem to load any of the static ressources. I get a lot of MIME-type errors for them.

![grafik](https://user-images.githubusercontent.com/39123731/126301385-c979463f-4b52-4c4c-aa70-1caff4141a7b.png)

@eeintech WHat do you mean without the workers? I don't see any possibillity t

[2021-07-20 11:17] eeintech commented on #1814
@Nobodi99 Did you install using docker? I was referring to manual install sorry.

[2021-07-20 11:20] eeintech commented on #1832
@sintech If you have multiple parts in the order, it lets you the option to select a different destination (eg. a stock location) for each of them. You can also select a single destination if you click on the global receive button.

The "Select parts to receive against this order" in your case is a little confusing because you have only one part in your order. If you had a list of parts, that inst

[2021-07-20 11:35] sintech commented on #1832
Ok, I have a feeling of issue here.
Screenshot above is from a click to "Receive line item". and "Destination" is required field, I can't submit form without selecting destination.
If I click global "Receive items" button the behavior is the same, I forced to choose destination.
And in this case I expect that only `None` destinations will be rewritten by value from "Destination" field. While in re

[2021-07-20 14:30] eeintech commented on #1832
@sintech Yes you're right, if destination field is set on all items in the list, it should be okay to submit the form without selecting a choice in the "Destination" dropdown field. And it shouldn't be mandatory to select "Destination" if one or more items in the list don't have a destination set because stock item location is not mandatory. However, if the destination is selected in the form, it

[2021-07-20 14:42] sintech commented on #1832
@eeintech sure it does.
You described exactly what I expected from this form, except for blank destination, but it's ok since item location is optional.
Actually it would be great to have destination selector on every line of the table for further flexibility. It will be a step closer to bulk part operations.

[2021-07-20 14:47] eeintech commented on #1832
@sintech You can already select the destination for each line but it has to be done in the order item table, not in the receive item form.

[2021-07-20 14:56] sintech commented on #1832
Sure I can.
But for 20 lines in order I have to click at least 60 times to change destination (not counting scrolling).
And it looks more logical to set part location on receive phase not before order is placed.
Anyway I will be happy if "Receive parts" is fixed according to https://github.com/inventree/InvenTree/issues/1832#issuecomment-883441266
Shall I make a new issue?

[2021-07-20 16:26] eeintech commented on #1832
No that's fine, should have time to fix the behavior soon :+1:

[2021-07-20 19:31] murych commented on #1837
Updated to `master` branch, now BOM parts are displayed. Thanks for quick fix!

[2021-07-20 21:23] eeintech commented on #1832
@sintech Take a look at #1852 should be doing what you wanted :wink:

[2021-07-20 22:09] #1832 closed

[2021-07-21 00:55] #280 closed

[2021-07-21 07:02] sintech commented on #1832
Thank you @eeintech !

[2021-07-21 12:33] #1762 closed

[2021-07-21 12:35] SchrodingersGat commented on #1297
Ok, I attempted again in to find a way to get this working, but was not successful...

I am happy for someone to implement this, and test, but as I have no personal need for this feature I'm not going to spend any more time on it.

Some other references I came across that may be useful for anyone who wants this feature implemented:

- https://stackoverflow.com/questions/44987110/django-in-subdirec

[2021-07-21 14:10] eeintech commented on #1832
No problem, let us know if you find anything else!

[2021-07-21 16:40] chrisnoisel commented on #1297
I intend to do it. I'm also planning to convert static paths (stuff like '/part/'+pk+'/bom' ), with the dynamic DRY naming scheme.
By the way, some js scripts need to compose urls with variable which excludes the ```{% url 'name' %}``` method. Is that ok for you, if the dynamic js is something like :
[code]

[2021-07-21 23:32] SchrodingersGat commented on #1297
Fantastic!

[code]

I'm not sure that this will work - I *think* that the templating engine will try to find a URL matching pk '0000' *before* rendering it? But give it a go!

[2021-07-22 12:45] Nobodi99 commented on #1814
@eeintech Yes. Because I have a few other things hosted on a raspberry pi docker is the easiest and most organized way for me to host everything.

@SchrodingersGat Maybe you can implement an environment variable which limits the number of workers in the container? [This inventree container](https://github.com/Zeigren/inventree-docker) by Zeigren imlements that. With that it saves a ton of memory d

[2021-07-24 00:07] #1775 closed

[2021-07-25 09:08] sintech opened #1861 "Part BOM is not displayed #2"
Seems to be BOM issue again.
If it matters: I changed my deployment to gunicorn + apache mod_proxy.

# Version Information:
InvenTree-Version: 0.3.1
Django Version: 3.2.4
Commit Hash: bcfb3ac
Commit Date: 2021-07-24
Database: mysql
Debug-Mode: True
Deployed using Docker: False

![изображение](https://user-images.githubusercontent.com/10057327/126893689-a5612e54-1353-48bf-ac56-48850828e4e8.png)
![и

[2021-07-26 03:49] SchrodingersGat commented on #1861
What page / view are you trying to access when you see this error?

[2021-07-26 05:19] sintech commented on #1861
Part page with id 489.
When part BOM did not load I opened dev console and saw this error.

[2021-07-26 13:19] #1245 closed

[2021-07-26 15:57] eeintech opened #1864 "[BUG] Login Error"
I think this is caused by #1859 @matmair

When I try to login I get the error below.
Strangely this is happening only with PostGreSQL... (SQLite does not show this error)

![image](https://user-images.githubusercontent.com/4020546/127020061-ca5fec2c-26c4-447a-8e38-002e260d64ed.png)

Traceback:

[code]

[2021-07-26 18:31] sintech opened #1865 "Stock table is not updated when stock item is deleted"
Steps to reproduce:
1. Open part stock
2. Select stock item in table
3. Click `Delete stock` in dropdown menu
4. Switch `Confirm stock adjustment`, press `Submit`

ER: Table with updated list of items
AR: Table contents stays the same

WA: Reload page.

[2021-07-26 18:37] eeintech commented on #1861
Umm yeah there is something fishy happening in the `price_range` calculation:

[code]

Given `7,393.1687 руб.` is not a valid `Decimal` format, it will hit that error you reported when fetching the view.
I'll take a look.

[2021-07-26 21:04] eeintech commented on #1861
So never mind I did not know `руб.` was the representation of the currency. I found a weird bug in the purchase price conversion which I believe was causing this issue. I fixed it in #1866 so once merged let me know if that does it

[2021-07-26 21:20] eeintech commented on #1865
That sounds right, it's funny that "Remove Stock" actually refreshes the page correctly :confused:

Unrelated but that's what removing the full stock on a stock item marked as "delete on deplete" :grimacing:

![image](https://user-images.githubusercontent.com/4020546/127060303-ded604ba-65cf-4515-915d-1dd8c635d80b.png)

Hopefully will be fixed soon!

[2021-07-26 21:35] #1861 closed

[2021-07-26 22:32] #1865 closed

[2021-07-26 22:32] SchrodingersGat commented on #1865
@sintech should be fixed now.

@eeintech can you please raise an issue for the separate error?

[2021-07-27 01:10] eeintech commented on #1865
@SchrodingersGat Sure, or I'll fix it myself 😉

[2021-07-27 11:51] sintech commented on #1861
Thanks @eeintech, now it works great.

[2021-07-27 21:01] #1864 closed

[2021-07-29 06:39] SchrodingersGat commented on #1814
@Nobodi99 good idea - see https://github.com/inventree/InvenTree/pull/1879

[2021-07-29 10:32] Guusggg opened #1881 "Sidebar menu in Part view is not working anymore"
Hi,

Today I updated to v0.4.0 which brings features that I really like, nice work guys!
After updating however, the Part view's sidebar does not work anymore.

I click on Bill of Materials, and the URL changes to `/part/105/`**#**`/` and jumps to the top, but the view does not switch.
It's not a big problem at all, as the whole information is still possible to access by scrolling down.

Thank you

[2021-07-29 10:36] Guusggg opened #1882 "Android Application pull requests"
Hi,

I thank you a lot for this project. It is truly awesome already at such a fast pace. I also really like the mobile App.

I'm a software engineer that uses this software for a company of a friend of mine and I chose it specifically because it's open source so I can edit things that make sense for him. However, as you guys are working so hard on it, I want to spend company time on the project.

[2021-07-29 11:10] matmair commented on #1881
Hi @Guusggg did you force-refresh your browser-window after updating? A lot JS changed so old cached files might be a problem.

[2021-07-29 11:13] matmair commented on #1882
@Guusggg the app is a closed source project by @SchrodingersGat (who is the maintainer of this project) so you have to consult with him on this topic.
There are a lot tasks open for the core app though :-)

[2021-07-29 11:22] Guusggg commented on #1881
Oh my... Thank you, you solved it! I always refresh with CTRL+R thinking it automatically clears the cache but after some trying I found CTRL+SHIFT+R to be clearing the cache and refreshing.

[2021-07-29 11:22] #1881 closed

[2021-07-29 11:23] Guusggg commented on #1882
I understand, and I can imagine why. I'll try to consult with him on this matter!

[2021-07-29 11:53] SchrodingersGat commented on #1882
@Guusggg I'm guessing it was you who submitted this feature request via the app earlier today? The app has had a major overhaul (to the internals) recently, mostly after https://github.com/inventree/InvenTree/pull/1716 was implemented. The API now is pretty much fully "self defined" so integration of new forms / fields into the app is a breeze.

I'm open to accepting contributions or bounties for