[2021-11-18 01:21] SchrodingersGat commented on #2323
@matmair what do you mean by "multiple orgs" in one instance here?

Do you mean supporting multiple InvenTree databases in one server instance, be it bare-metal or docker?

[2021-11-18 01:22] SchrodingersGat commented on #2324
Is this a workable solution for the baseline packages too? i.e. requirements.txt

[2021-11-18 01:27] matmair commented on #2324
Reference:
https://dzone.com/articles/package-signing-in-pip-it-works-in-a-roundabout-so

For plugin workflow:
https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

Store certificate as secret:
https://github.community/t/secret-ability-to-store-certificates/16930/4

Versioning assitant (important to easily compare if the right thing was

[2021-11-18 01:33] matmair commented on #2324
In theory yes. To be honest supply chain safety is a bit a stepchild with python packages. Twine / Pypa is a great eco-system but there is a lot if trust in central entities.
We should be fine with the current way but it does not take too much to make it better for plugins at least. The requirements should be fine as long as the version is fixed in the txt. You can not re-release a package version

[2021-11-18 01:36] matmair commented on #2323
@SchrodingersGat different departments / sections / clubs in the entity that has an InvenTree instance.

One database but restricting access per part etc. to select groups / users.

[2021-11-18 02:03] SchrodingersGat commented on #2323
Ah ok, that is a nice idea, I can see it being quite difficult to implement?

[2021-11-18 07:23] matmair commented on #2323
Each permission check statement needs to be ammended but it should not be too bad. I will take a look after the current things are done.

[2021-11-18 10:17] matmair opened #2326 "[FR] Multiple tokens and scopes for API access per user"
**Problem**
We currently do not support access scopes (see Github) for tokens and only one token per user.

**Suggested solution**
Tying a token to a user is fine, you just should never show the token again after initial creation. Also, tokens give users no option to make restrictions for tokens so there must be 100% trust in the device and app a token gets added to.

Needed:
- [ ] multiple tokens

[2021-11-18 10:22] matmair opened #2327 "[FR] User sessions"
**Problem**
Currently, sessions are base64 based so multi-browser sessions get difficult to handle.

**Suggested solution**
Add an ORM based solution to user sessions and management options in a user security tab.

- [x] new sessions backend
- [x] security tab for users
- [x] move MFA, SSO and password to the security tab
- [x] Sign out all option

**Describe alternatives you've considered**
The c

[2021-11-18 10:23] matmair commented on #2327
Ref:
https://github.com/jazzband/django-user-sessions

[2021-11-18 10:27] #2322 closed

[2021-11-18 10:45] SchrodingersGat commented on #2320
Representing the field as a FloatField in the serializer has caused the problem here...

https://code.djangoproject.com/ticket/30290

[2021-11-18 12:08] SchrodingersGat commented on #2326
@matmair very good point.

The mobile app will need to be updated too, it makes use of the persistent tokens

[2021-11-18 12:20] SchrodingersGat commented on #1693
@matmair happy to bump this one to 0.7.0?

[2021-11-18 12:24] #2320 closed

[2021-11-18 12:34] #2312 closed

[2021-11-18 12:46] matmair commented on #2326
@SchrodingersGat the flow should not change too much. I have never used the app but I think it should be fine.
In a further step, a modern web-based auth workflow would be great.
- a webview popup to the inventree instance opens
- the user logs in (with basic auth, SSO, MFA or whatever)
- grants the app all needed privileges
- the webview closes and returns the app token to the token

This is how

[2021-11-18 13:38] lettore commented on #2321
Docker-production, server and worker are running the same version of the
image.
I can access the web interface and all appears to work but the container
log is full of the above error at every web page request.

Il Gio 18 Nov 2021, 01:33 Oliver ***@***.***> ha scritto:

[2021-11-18 13:59] matmair commented on #2318
@SchrodingersGat is the confirm button on the forms not submitted to the api?

[2021-11-18 19:48] SchrodingersGat commented on #2318
Correct, it only enables the "submit" button

[2021-11-18 20:56] SchrodingersGat commented on #2321
Ok, so version `0.5.4` does not have `common.tasks.py` and `delete_old_error_logs` was not yet implemented.

Did you at some stage install a *newer* version and then go back to 0.5.4?

[2021-11-18 23:16] lettore commented on #2321
There's no newer tag on Docker Hub, but before I used the latest tag, and
after I saw it was not working I went back to 0.5.4. The mounted directory
is fresh new, just the database is the same.

Il giorno gio 18 nov 2021 alle ore 21:56 Oliver ***@***.***>
ha scritto:

[2021-11-18 23:50] SchrodingersGat commented on #2321
Ok, that makes sense. It has added some scheduled tasks from the newer version.

It is fine, it will keep running OK (just with error messages in the logs)

If you want you can delete the scheduled tasks from the admin view:

![image](https://user-images.githubusercontent.com/10080325/142514832-04c5db4d-465b-4728-8d71-06e010e9e473.png)

[2021-11-18 23:50] #2321 closed

[2021-11-19 00:44] reilly-callaway opened #2331 "[BUG] 502 Proxy Error when uploading BOM"
**Describe the bug**
502 Proxy Error when uploading BOM

**Steps to Reproduce**
1. Upload bill of materials button in part
2. Upload CSV BOM
3. Match appropriate fields
4. Press "Submit selections" on step 2 of 3
5. Hangs for a while
6. Server returns 502 Proxy error

**Screenshots**
![Screenshot 2021-11-19 114132](https://user-images.githubusercontent.com/7870267/142519275-591f027b-41ab-450b-9285

[2021-11-19 21:40] matmair opened #2335 "[FR] Confirm to W293"
@SchrodingersGat I think we should confirm to W293 and probably review all exceptions in the setup.cfg:
https://github.com/inventree/InvenTree/blob/6a235c9f15d3731a736148eb25fedaaa2921e39d/setup.cfg#L2-L14

especially naming conventions. 0.6.0 is already a major refactor so we could fix those things as well. I would volunteer to do this.

[2021-11-20 01:26] SchrodingersGat commented on #2335
Sure, let's look into this. If you are going to submit PR's against this, please keep each rule (e.g. W293) in its own PR and we'll run through them one at a time.

[2021-11-20 01:36] matmair commented on #2335
@SchrodingersGat any rules you know you want to have ignored? Line length maybe?

[2021-11-20 06:47] SchrodingersGat commented on #2335
Yeah I think keep ignoring line length.

[2021-11-20 08:20] SchrodingersGat opened #2341 "[FR] Convert "data import" functionality to API"
The current "import" features (e.g. BOM import) are pretty clunky, and notably, extremely slow.

In particular, the BOM importer is extremely slow because it renders everything server side, rather than "on demand" lookup of related fields.

It would be far better to use the existing DRF API and perform data upload via JSON serializers.

- Much more efficient than HTTP forms
- Reduce code duplicati

[2021-11-20 10:26] matmair commented on #2341
@SchrodingersGat maybe a refactor of all import code would be great, I feel like there is a lot more code then necessary in each definition. Although the current matching is quite flexible. Some test coverage might be nice thought.

[2021-11-22 01:58] SchrodingersGat commented on #2331
For reference, this is due to the way that the 'BOM import' process provides options to the user.

For each line in the BOM template, the server has to render *all* available parts which could be selected, and then order them according to how well they match.

For a dataset with thousands of parts this takes a *very* long time!

This will require a pretty major rework (incoming) to fix...

[2021-11-22 02:08] matmair opened #2347 "[BUG] parts of interface can not be translated"
**Describe the bug**

Sidebar items and maybe also some newer modals can not be translated due to the way they call the trans function.

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Open settings in german. The current merged translation have 95% coverage but the sidebar items are mainly english

**Expected behavior**

German

**Deployment Method**
- [x] Docker
- [x] Bare Metal

**

[2021-11-22 02:08] matmair commented on #2347
I will fix this tomorrow, just added this so i do not forget

[2021-11-22 03:31] SchrodingersGat commented on #2347
Interesting. Is it only the sidebar items?

[2021-11-22 19:04] matmair commented on #2347
@SchrodingersGat seems like it

[2021-11-23 00:05] matmair commented on #2307
@SchrodingersGat do you think something should be coded for this or is this more a docs - thing? Trying to clean up all plugin issues right now.

[2021-11-23 01:55] #2335 closed

[2021-11-23 01:57] #2347 closed

[2021-11-23 05:26] SchrodingersGat commented on #2307
We might (in the future) need a more long-form "how to make a plugin" section in the docs? I'd not worry about it yet, though. At least not until the plugin code is integrated and stable.

[2021-11-23 13:51] Wystik-69 opened #2352 "[BUG] 502 Bad Gateway when trying to access WebUI (Docker)"
Hi,
 I'm trying to install InvenTree since this morning with docker (Unraid Server), On Unraid, we don't have the docker compose, so I created two dockers, one containing InvenTree and another containing the Nginx, both are in bridge access. InvenTree was installed without too much difficulty however no way to access the web interface, I get a 502 error and the Nginx logs indicate: `"[error] 31#31

[2021-11-23 14:09] matmair commented on #2352
Hi @Wystik-69 as far as I can see the logs are just from the worker. The InvenTree image can either be started as a webserver or as a background d worker. Maybe that is your problem.

[2021-11-23 14:11] matmair commented on #2352
@SchrodingersGat @nwns any idea?

[2021-11-23 14:14] matmair opened #2353 "[FR] testing language"
Can we make a "testing" language which does this automatically?

_Originally posted by @SchrodingersGat in https://github.com/inventree/InvenTree/pull/2350#issuecomment-976098066_

[2021-11-23 14:21] Wystik-69 commented on #2352
Thanks @matmair first problem solved I didn't paid attention to this detail at all, my docker was alone and running with the post "Invoke Worker" only., now I can access the WebUI directly from the Inventree docker but not passing through the nginx docker, which is not a bad thing, I would have one less docker to manage, will it be a problem if I use it directly without Nginx or do I have to use N

[2021-11-23 14:40] Wystik-69 commented on #2352
Another question what is the default login/password, because the invoke superuser didn't work at all for me.

[2021-11-23 15:31] nwns commented on #2352
@Wystik-69 I don't believe InvenTree loads a default username and password unless you are loading one of the demo datasets.  The `invoke superuser` creates the first user on the system.

What installation instructions are you following?  Which database server do you have configured?

[2021-11-23 15:58] Wystik-69 commented on #2352
I've followed the docker guide install from the doc, I use MariaDB so I've configured the docker to work with mysql. Invoke user has worked, so it's ok for the login password.

For now everything is ok, Nginx keep showing the 502 gateway error.

[2021-11-23 16:48] matmair commented on #2352
@Wystik-69 Nginx serves as a proxy. You do not really need it but it enhances the performance and takes care of serving static content. I would not recommend exposing your instance to the internet without a proxy and some kind of ddos protection (Cloudflare for example).

[2021-11-23 16:57] Wystik-69 commented on #2352
I have a caddy server, I will put the instance behind it, I also have a CloudFlare plan over the Caddy, so I suppose it will be ok, I was just woried about security and stability concerning the docker and if it must run obligatory behind Nginx or not. Many Thanks for your help guys 👍

[2021-11-23 17:21] matmair commented on #2352
@Wystik-69 can we close this now?

[2021-11-23 17:28] Wystik-69 commented on #2352
Yes, I think so :) I will try the system tomorrow, I hope it will work like a charm, for now I'm translating InvenTree in French on crowdin because no one has done it lol !

[2021-11-23 17:41] #2352 closed

[2021-11-23 22:10] SchrodingersGat commented on #2353
Ideally this language would only be available if "DEBUG" mode is ON?

[2021-11-23 22:15] matmair commented on #2353
@SchrodingersGat i already started dev on this and my idea would be:
- new invoke command 'test-translation'
- creates new language with the 'xx' lang-code
- replaces all translations for that language with 'xxx'
- set default language to 'xx'
- starts the dev server
- 'xx' locale gets added to gitignore so we nothing will ever leak out

[2021-11-24 22:35] SchrodingersGat opened #2359 "[FR] Convert "related part" table to API"
The table of "related parts" should use the API, rather than being rendered on the server side.

To achieve this, the "partlist" API must have a "related_to" filter added.

Ref: https://github.com/inventree/InvenTree/issues/2253

[2021-11-25 02:28] #2353 closed

[2021-11-25 04:45] #2359 closed

[2021-11-25 21:21] SchrodingersGat opened #2364 "Translation Stats in Demo Instance"
The translations stats say 0% translation for all languages in the demo instance:

![image](https://user-images.githubusercontent.com/10080325/143500672-e540ffaa-b9a6-4932-9e3e-0a71f07b3d18.png)

The `.json` stats file gets exported locally to the code directory. However this is inside a docker container and does not "persist" past a particular container run.

### Proposed Solutions

1. Store JSON

[2021-11-25 22:58] matmair commented on #2364
@SchrodingersGat calculating the stats can be expensive as gnu gettext is called. I strongly suggest just fixing the storage location / bringup of the instance as the locales file is a very compute optimised action.
Translations can not be changed easily by the admin so the files should not change often.

[2021-11-26 06:18] SchrodingersGat opened #2365 "[FR] Add "responsible" column to purchase order table"
Add a new column to the "purchase orders" table showing who is responsible for each order

- Would also be nice to be able to filter by "I am responsible for"

[2021-11-26 10:59] #2364 closed

[2021-11-26 11:31] #2365 closed

[2021-11-26 12:44] SchrodingersGat opened #2369 "[FR] Add ability to assign multiple stock items to a customer"
- Use the existing "multi-line" API forms
- Select multiple stock items in a table
- Or, a single stock item
- Select customer via dropdown

Ref: https://github.com/inventree/InvenTree/issues/2253

- [x] Prevent items being assigned if they are allocated (to build or sales orders)
- [x] Prevent items being assigned if they are installed in other items

[2021-11-26 22:03] matmair commented on #2327
@SchrodingersGat gone work on this soon. Question: Should we include a way to install a geo-database to resolve IP addresses to locations? Would be more of an enterprise feature IMHO so I'm not sure if it is out of scope.

[2021-11-27 00:26] matmair commented on #2279
@SchrodingersGat I will try to implement this in a separate view to reduce the loading times.

[2021-11-27 01:16] SchrodingersGat commented on #2279
Yeah good idea. I think it would be great to add. A"bell" icon to the main navbar in the top right corner, and pressing on it pulls out a sidebar from the right of the screen.

Notifications for the logged in user are loaded via the API and can be dismissed (deleted) individually by the user

[2021-11-27 15:10] matmair commented on #2279
![grafik](https://user-images.githubusercontent.com/66015116/143686841-0152eb54-a32a-4ace-a071-dc0190accbb5.png)

[2021-11-28 12:01] #1312 closed

[2021-11-28 16:07] matmair commented on #1471
@sintech I think the time difference between the core contributors and a lot of users (contributors in EMEA, users at least in EMEA and US, maintainer in AUS) makes any form of real-time / voice comms difficult. We will however try to use the discussions feature in GitHub for some kind of discussion platform for now. It is an experiment but feel free to use it!

[2021-11-28 16:09] matmair commented on #2250
@SchrodingersGat @eeintech this is not assigned to a milestone. Are we interested in this or `wontfix`?

[2021-11-28 20:32] #2327 closed

[2021-11-28 22:01] SchrodingersGat opened #2377 "[FR] Plugins - Internal Hooks"
The existing (or planned) plugin architecture supports external webhooks. External stimuli can initiate an action on the server via the API.

We should also add facility for "internal" hooks, which plugins can register with to perform actions.

For example, a "part.created" hook is called whenever a new part is created in the database.

Any plugin can register a callback function for "part.created

[2021-11-28 22:01] SchrodingersGat commented on #2377
@matmair thoughts here? I think this is a distinct idea from the external "webhooks" functionality but let me know what you think.

[2021-11-28 22:07] matmair commented on #2377
@SchrodingersGat I thought we could just use signals for that. I am still refactoring the notification stuff and thought about adding a function that can be called there. But some general hooks would be possible for sure. Maybe we could also use signals for that?

[2021-11-28 22:15] SchrodingersGat commented on #2377
Definitely signals would work here.

[2021-11-29 12:04] HelgiBergmann opened #2379 "[BUG] JS column table"
Then load inventree table, in columns I should set two times column "reference" for sales order because if I set it  once it becomes visible false, don't know why
![image](https://user-images.githubusercontent.com/78436722/143864895-c2df918d-b3b7-4743-a313-84b22eb29793.png)

For  sales order was added in model relationship field basket

[2021-11-29 12:16] eeintech commented on #2250
I use this category tree a lot in `0.5.x` so yeah I would love to see it restored!

[2021-11-29 13:48] SchrodingersGat commented on #2250
I think we should add the category tree back in some form for 0.6.0

[2021-11-29 13:53] SchrodingersGat commented on #2379
@HelgiBergmann sorry, I am not sure that I understand what you are asking here.

Are you trying to add new columns to the sales order table? Or are you describing a bug in the current operation of the software?

[2021-11-29 13:54] SchrodingersGat commented on #2250
@eeintech @matmair clearly this was a popular feature! Let's work out a nice way of integrating it back in.

[2021-11-29 13:59] matmair commented on #2250
@SchrodingersGat should we solve this with an api powered widget? That could be conditional on when the  bar is opened.

[2021-11-29 14:14] lookme2 opened #2380 "Build Ordre will over allocate stock"
**Describe the bug**
Build Order Auto Allocate will over allocate stock

**Steps to Reproduce**
1. Create new Build Order
2. Allocate Stock with Auto Allocate button will over allocate the available stock

Is this intended behavior?

**Expected behavior**
That you could not over allocate the current stock level.

**Deployment Method**
- [ ] Docker
- [x ] Bare Metal

**Version Information**

InvenT

[2021-11-29 15:26] HelgiBergmann commented on #2379
@matmair
js - https://github.com/HelgiBergmann/InvenTree/blob/ae8424fee3cdec0811c99ddd81d468746c24c7e4/InvenTree/templates/js/translated/order.js#L981
model - https://github.com/HelgiBergmann/InvenTree/blob/ae8424fee3cdec0811c99ddd81d468746c24c7e4/InvenTree/order/models.py#L842 , added basket field

[2021-11-29 15:51] HelgiBergmann opened #2381 "OPTIONS request doesn't return delete method"
I don't know what is wrong, sorry for maybe stupid question but here we go=)
I created a basket detail API endpoint and serializer.
Now when I request OPTIONS its return me only PUT method in action without delete or get, I  really don't know what I done wrong
Here is
https://github.com/HelgiBergmann/InvenTree/blob/32d39c60a43f4304cc666c09c321bd798de5cf5d/InvenTree/basket/api.py#L99

![image](http

[2021-11-29 15:52] HelgiBergmann commented on #2381
Kill all day to delete the basket....)

[2021-11-29 21:07] SchrodingersGat commented on #2381
I think that the issue here is that you have not assigned the new models to a permission group:

https://github.com/HelgiBergmann/InvenTree/blob/32d39c60a43f4304cc666c09c321bd798de5cf5d/InvenTree/users/models.py#L57

@matmair this makes me wonder how we are going to handle "permissions" in plugins where we don't want the plugin to have to touch base code.

Users must be in the correct "group" to h

[2021-11-29 21:09] SchrodingersGat commented on #2380
Can you share some screenshots of this behaviour?

[2021-11-29 21:09] SchrodingersGat commented on #2250
Yes definitely should be loaded via the API

[2021-11-29 21:11] matmair commented on #2381
There is something more going on, I found that already but it still does not work right.

@SchrodingersGat my idea is that the plugin writer should run has_permissios before outputting. also the permissions can be mutaded after startup.

[2021-11-29 21:14] matmair commented on #2379
@HelgiBergmann Have you checked if the column is hidden? I get two columns for reference if I run your code.

[2021-11-29 21:17] SchrodingersGat opened #2384 "[FR] Search Results "mega menu""
The search-bar "quick results" only searches parts.

It may be useful to have multiple columns in a "mega menu" style, where new columns are added to display results for stock items, purchase orders etc.

Each column can be individually enabled by the user if they want to show results for that category.

[2021-11-29 21:49] matmair opened #2385 "[FR] Add that registers new notification types (and delivery options)"
Add the option to register notification and delivery options via plugins.

[2021-11-29 22:44] lookme2 commented on #2380
I can.  It will be later this week.

[2021-11-29 23:21] matmair commented on #2250
@SchrodingersGat https://www.jstree.com/docs/json/ combined with an API endpoint seems like a good option. If the tree is visible we can load the root + the current branch and if any other branch is opened the data in that branch is loaded on the fly via ajax.

[2021-11-30 04:11] jpeterse opened #2386 "Existing Purchase Order not displayed"
Just completed a new install.
I'm finding that on the regular site, an purchase order I entered is not shown. A "Loading Data" message is shown instead.
I don't see any obvious errors in the console output.
If I enter /1/ at end of URL, the purchase order is shown.

Background of steps before error occurred.
I performed the initial setup steps.
Entered an initial supplier, part and purchase order

[2021-11-30 04:22] SchrodingersGat commented on #2386
I can confirm that this is a bug on latest master.. Will get a fix out ASAP

[2021-11-30 04:25] SchrodingersGat commented on #2386
Very simple fix for a very silly bug. Will be merged in soon. Thanks for reporting!

[2021-11-30 04:55] jpeterse commented on #2386
wow - talk about fast support :-)

[2021-11-30 04:59] #2386 closed

[2021-11-30 05:10] SchrodingersGat commented on #2386
we aim to please :D

[2021-11-30 08:29] HelgiBergmann commented on #2381
@SchrodingersGat thanks

[2021-11-30 08:29] #2381 closed

[2021-11-30 11:02] r0l1 commented on #2201
@matmair sorry for the delayed response. Thanks a lot for the implementation! I'll have a look at it soon!

[2021-11-30 11:10] r0l1 opened #2389 "[Question] New Docker Release"
When can we expect the next docker release? Eager to try the new features!

[2021-11-30 12:12] matmair commented on #2389
The latest tag is always the current master. As we are going through major refactoring, a new UI framework and a lot of changes in many components it will take time till the next release is happening. In the end @schrodingersGat will have to decide but I think it will take at least a few weeks.

[2021-11-30 12:17] #2389 closed

[2021-11-30 12:41] matmair commented on #2389
@r0l1 I would also never test in a production environment. I recommend spinning up a second environment or just click the magic gitpod.io button on each PR, that launches a free environment in which the server set itself up in few minutes including a full test-dataset.

[2021-11-30 13:43] HelgiBergmann opened #2390 "Feature or Bug. Items allocation."
Why we can allocate more quantity than line items has?

[2021-11-30 14:21] lookme2 commented on #2390
I am seeing this also.  I reported it but was asked for some screen shots.  I'm not in my office so cant do that yet.  Seems to only happen when you use the "Auto Allocate" button.

[2021-11-30 16:09] jpeterse opened #2391 "[BUG] Exception thrown when opening part "'NoneType' object has no attribute 'strftime'""
I entered a new part yesterday, complete with picture and all. Attached it to an order, and issued the order.
I.e. on all accounts the part was fine yesterday.
I started the server again today, and now opening the part overview page, I get "'NoneType' object has no attribute 'strftime'".
I have attached the traceback.

I can open the part in the admin site. There it looks fine.
 I tried updating a

[2021-11-30 16:27] jpeterse opened #2392 "[BUG] Missing encoding of Description field when creating new part"
When creating a new part, if a special characters is added in the description field, say a 'Ω' character, the server throws an exception.
I'm running the main branch on bare metal.
![createPartDia](https://user-images.githubusercontent.com/8325689/144087045-5a76be0b-a87c-481f-a626-81a0b25974a3.png)
![exception thrown](https://user-images.githubusercontent.com/8325689/144087066-3681d5b1-4407-405d-b

[2021-11-30 17:14] Matthewmads opened #2393 "MariaDB config file not found"
**Describe the bug**
Working on setting up a production environment on a fresh install of ubuntu 20.04.3. Went thru the steps listed on the readthedocs site (using mysql/MariaDB). When I enter the "pip3 install mysqlclient mariadb" command (in the virtual environment) I get the following ...

`
(env) inventree@Meta:~$ pip3 install mysqlclient mariadb
Collecting mysqlclient
  Using cached mysqlclie

[2021-11-30 17:35] HelgiBergmann commented on #2379
@matmair I going to find the problem, but a little later, now it is a little ugly to have duplicated column, but it  works  at least

[2021-11-30 19:02] r0l1 commented on #2384
It would be great to be able to search by MPN.

[2021-11-30 21:10] SchrodingersGat commented on #2393
Did you complete this step?

[2021-11-30 21:11] SchrodingersGat commented on #2392
What database backend are you running?

Can you please share the error message? Historical error messages are available at `/admin/error_report/error/`

[2021-11-30 21:12] SchrodingersGat commented on #2390
Duplicate of https://github.com/inventree/InvenTree/issues/2380

[2021-11-30 21:12] #2390 closed

[2021-11-30 21:15] SchrodingersGat commented on #2391
Thanks for reporting @jpeterse I'll look into it

[2021-11-30 21:28] matmair commented on #2384
@SchrodingersGat do you want to have that menu in the quick search dropdown or in the full view?

[2021-11-30 21:29] matmair commented on #2379
Removing `bug` tag as it seems to be not related to mainline InvenTree

[2021-11-30 21:47] #2391 closed

[2021-11-30 21:52] SchrodingersGat commented on #2384
My idea would be to add new columns to the quick search dropdown, thusly:

![image](https://user-images.githubusercontent.com/10080325/144133891-48117cd2-daa8-48ec-82cf-9e62f7c80e9c.png)

[2021-11-30 22:31] jpeterse commented on #2392
I'm running Maria DB
mysql  Ver 15.1 Distrib 10.3.31-MariaDB

I don't see an error that corresponds with the timestamp in the history error log.
Even when recreating the error, I don't see a new entry appear.
But this what I see on the console:

[backtrace.txt](https://github.com/inventree/InvenTree/files/7629321/backtrace.txt)

[2021-11-30 22:34] matmair commented on #2384
We will have to check how efficient the Search API is with the number of requests increasing.

[2021-11-30 22:37] matmair commented on #2392
@jpeterse what collation and character set is set on your database?

[2021-11-30 22:43] jpeterse commented on #2392
Ohh, it's set to latin1

DEFAULT_CHARACTER_SET_NAME: latin1
    DEFAULT_COLLATION_NAME: latin1_swedish_ci

Let me try and drop it and recreate it with UTF8

[2021-11-30 22:57] jpeterse commented on #2392
Yes, fixed by switching to
DEFAULT_CHARACTER_SET_NAME: utf8
    DEFAULT_COLLATION_NAME: utf8_general_ci

Honestly don't know why the defaults of mariaDB install was set to Latin1.
I'm located in the US, and don't have any settings that are latin1 based normally. Maybe the install instructions should include the full syntax for creating the data, including the character set and collate.

[2021-11-30 23:00] matmair commented on #2392
@jpeterse if I got a euro for each time I had that problem I would be rich. It's so typical.
The Swedish collation was/is often used to support germanic languages, maybe you followed a tutorial that was optimised for that.

So can we close this issue?

[2021-11-30 23:00] SchrodingersGat commented on #2392
Thank @jpeterse we'll add that to the docs

[2021-11-30 23:00] #2392 closed

[2021-11-30 23:02] matmair commented on #2392
@jpeterse if you ever encounter that error again: you do can switch both character set and collation on a database while it is running in mysql, oracle and mariadb - data that was mangled on input will still be corrupt but it could save you hours of downtime.

[2021-11-30 23:05] jpeterse commented on #2392
yes, but I wanted to do a clean test for y'all.  :-)
I've re-imported my data now, I'll keep eye on it, that those entries still might be corrupt.

[2021-12-01 13:45] HelgiBergmann opened #2398 "[FR] Fullfill in line item one by one"
So during my current studying of the stock model, I realize what we can allocate stock only once for each line item, and then all of our lite items allocated we can do order.ship() - by that method it takes these stock of allocated line items and creates a copy of them and applies order to them.

Now  I think about fulfilling line items in sequence, so the question is, can I have stock items copie

[2021-12-01 13:56] HelgiBergmann commented on #2398
I think we can=)

[2021-12-01 14:06] HelgiBergmann commented on #2398
I am going to use an endpoint that gets allocation stock items by barcode and then complete allocation.

[2021-12-01 14:17] matmair opened #2399 "[FR] Required for build orders: add suggested ammount"
That page indeed list the parts that are needed, but not the amount we need to order to reach minimum stock level + stock for the build orders. Ideally this would be available via a report (Excel, PDF, printable web page) that also shows the current stock level so we can validate stock level before ordering.

![image](https://user-images.githubusercontent.com/53965859/144202947-5d8a4e9a-ebe3-427c-

[2021-12-01 14:23] matmair commented on #2398
@HelgiBergmann if you implement this please do it as a separate feature per branch so reviewing and merging is easier.

[2021-12-01 14:47] Matthewmads commented on #2393
I wasn't sure if that was specific or just a generic message. I tried to download and got the following. Not sure if my syntax is correct.

I used
`sudo apt install https://downloads.mariadb.com/Connectors/c/connector-c-3.2.5/mariadb-connector-c-3.2.
5-ubuntu-impish-amd64.tar.gz.asc` (tried with both the tar.gz.asc and the tar.gz filetypes).

to try to download the connector but got this error,

`

[2021-12-01 17:35] HelgiBergmann commented on #2398
@matmair I have already messed it with my basket branch a little. but I've switched now=)

[2021-12-01 19:52] jpeterse opened #2400 "[BUG] Out of range Reference_ID field error when creating Purchase Order"
I was entering an purchase order, when a got a non-descript internal error flash up on screen.

Appears to be an out of range error on the Reference_ID field.

Running Main branch on bare metal, with MariaDB.

It would be good to create a more user friendly error message, in place of this:
![Error Message](https://user-images.githubusercontent.com/8325689/144303458-9f22be9c-29ee-404a-b4e4-38bee9cf

[2021-12-01 19:53] matmair commented on #2393
@Matthewmads
Files with `.asc` file ending contain information to verify that a file was signed by a specific entity or person. It is part of PGP / GPG a good answer with explanations how that would work is here: https://serverfault.com/questions/896228/how-to-verify-a-file-using-an-asc-signature-file
A lot of linux devops guys and gals are very keen on verifying everything they install. Your pack

[2021-12-01 20:13] matmair commented on #2400
Hi @jpeterse thanks for the bug report!
The first reference field has a to high number for our current field definition. These are normally automatically increased so a number that high is highly unlikely. We need to add a validation against that. I am somewhat stunned that this is not happening automatically.

A more descriptive error won't happen as the error was raised by the database engine no

[2021-12-01 20:18] jpeterse commented on #2400
ohh, does that not create a problem of there is a separate purchase department with their own order references?
If the field is to be auto generated, it would be best (IMHO) to hide the field, and maybe allow for a separate field to enter a user specific PO number?

[2021-12-01 20:26] matmair commented on #2400
That's a point for discussion. I will fix the 500, big changes to refs like that should be approved by the maintainer @SchrodingersGat . Maybe that should be a separate FR

[2021-12-01 21:19] SchrodingersGat commented on #2400
Hey @jpeterse thanks for raising this error report. The cause for this bug is pretty obscure, so it is reasonable that it is not obvious to you!

To get technical:

The database saves *two* copies of the reference field:

- **reference** (string) - the raw value of the reference as supplied
- **reference_int** (integer) - an integer cast of the reference value (or as close as can be cast) which is

[2021-12-01 21:23] matmair commented on #2400
@SchrodingersGat I just added validation right now -> will also change it to big integer and add migrations

I would vote for a) and leave it to the first person needing something bigger to add another (API speed friendly) way to do sorting

[2021-12-01 21:44] matmair commented on #2400
Ok that is strange; I just checked because I thought that integer fields had autovalidators for their values... and they do! Will have to see why they fo not get called!

(from django source code)
[code]

[2021-12-01 22:52] matmair commented on #2282
Cleaning up and this should be done

[2021-12-01 22:55] matmair opened #2403 "It would be great to be able to search by MPN."
It would be great to be able to search by MPN.

_Originally posted by @r0l1 in https://github.com/inventree/InvenTree/issues/2384#issuecomment-982929233_

[2021-12-02 00:55] #2403 closed

[2021-12-02 02:54] jpeterse commented on #2400
@SchrodingersGat That makes sense. But does raise from questions.

FWIW, in previous companies I have worked for, every time a system was relying on user entered data as a reference or id field, it always – without fail – came back to create problems, or in some cases, outright made us change out the system for another.
User entered data is never guarantied to be unique nor immutable.
Creating an

[2021-12-02 03:07] SchrodingersGat commented on #2400
You are mistaken! The `reference_id` field is wholly separate from the unique-id field in the database. `reference_id` is a calculated field which is used for numerical sorting of the purchase orders

- It does not have a uniqueness requirement
- It does not *matter* what the value of this field is
- The error here is that this field does not support really really big numbers

[2021-12-02 03:23] jpeterse commented on #2400
Happy to hear I was mistaken.  :-)

[2021-12-02 11:48] #2400 closed

[2021-12-02 12:48] Acvarium opened #2407 "Create Initial Stock while duplicating item"
The option to Create Initial Stock greatly improved my workflow. Some times it is quicker to just duplicate existing part. But there is no option to create initial stock on a Duplicate Part dialogue.
Adding of this feature will allow in some cases to create and store items in a few clicks.

[2021-12-02 13:06] SchrodingersGat commented on #2407
@Acvarium see fix here - https://github.com/inventree/InvenTree/pull/2408

[2021-12-02 13:29] #2407 closed

[2021-12-02 13:39] matmair commented on #2400
@jpeterse fix is in now. If you think the field should be changed in general we are always open for FRs and new ideas

[2021-12-02 17:12] eeintech opened #2409 "[BUG] Incorrect permissions for delete action on BOM items"
**Describe the bug**

Cannot delete a selection of BOM items even with Parts>Change permission enabled.

**Steps to Reproduce**

Steps to reproduce the behavior:
1. Navigate to part of assembly type
2. Load the Bill of Materials tab
3. Click on the edit BOM button
4. Select a number of items
5. Click on the delete button for the selection (not individual)
6. Click "Accept", nothing happens

**Expe

[2021-12-02 18:04] Matthewmads commented on #2393
I followed thru with installing the

'sudo apt-get install libmariadb3'
'sudo apt-get install libmariadb-dev'

commands and it seems to be working.

I've encountered a new issue related to gunicorn so I will open a new issue for that.

Thank you both @SchrodingersGat and @matmair for all of your help.

[2021-12-02 18:04] #2393 closed

[2021-12-02 19:13] Matthewmads opened #2410 "Gunicorn Worker failed to boot"
Encountering an error when trying to start the Gunicorn server using the command,

`/home/inventree/env/bin/gunicorn -c gunicorn.conf.py InvenTree.wsgi -b 127.0.0.1:8000`

This command returns the following,

`[2021-12-02 13:27:10 -0500] [104457] [INFO] Starting gunicorn 20.1.0
[2021-12-02 13:27:10 -0500] [104457] [INFO] Listening at: http://127.0.0.1:8000 (104457)
[2021-12-02 13:27:10 -0500] [104

[2021-12-03 00:56] matmair commented on #2410
@Matthewmads is the worker running on the same host and is the user permitted logging in from localhost?

[2021-12-03 08:52] sintech opened #2412 "[FR] Add part specific info to "Part / Purchase orders" tab"
**Problem**
Currently "Purchase orders" tab displays a list of POs related to this Part.
But is doesn't display Part specific info from PO like item quantity, purchase price, number of received items etc.

**Suggested solution**
Add columns to "Purchase orders" tab: item quantity, unit price, received items of this part.
Remove confusing column "Items".

**Describe alternatives you've considered**

[2021-12-03 09:52] SchrodingersGat commented on #2412
Funnily enough I was actually thinking about this exact feature today:

![image](https://user-images.githubusercontent.com/10080325/144582507-52e6f617-ad7a-4760-ac52-3320979c882b.png)

[2021-12-03 10:28] SchrodingersGat commented on #2409
@eeintech i've just tried to replicate on `0.5.4` without success.. Can you try again? Are you seeing any error messages in the javascript console?

[2021-12-03 10:36] #2412 closed

[2021-12-03 11:29] Acvarium commented on #2407
Thanks

[2021-12-03 12:41] deepthought-64 opened #2414 "[BUG] Parameter Template search/filtering not working"
**Describe the bug**
Filtering/searching the Parameter Template when adding a Parameter does not work - instead all Parameter Templates are shown.

When adding a new parameter to a Part via the "New Parameter" Button, the shown modal window "Add Parameter" has a searchable ComboBox where I must select the Template. Whatever text is entered there does not lead to the correct Template being filtered

[2021-12-03 12:52] Matthewmads commented on #2410
Yes, the worker is running on the same host. Not sure about the user permissions, where would I check that?

[2021-12-03 15:01] eeintech commented on #2409
Oops I found out why... the permission for this user profile are:

![image](https://user-images.githubusercontent.com/4020546/144623907-b7d49561-0180-4e20-b4fe-a134d8d98b7a.png)

And the BoM items can only be deleted if Parts-Delete permission is on... I think BoM items should be able to be deleted if Parts-Change permission is on (it's a _change_ on a part). I'll create a PR for that.

[2021-12-03 15:24] eeintech commented on #2409
Actually @SchrodingersGat now that BomItems are handled through API calls, I am not sure how permissions can be altered...

[2021-12-03 19:38] matmair commented on #2409
@eeintech you can just override the permission-check on the api view if it the method is 'delete'

[2021-12-03 22:47] aserputov commented on #2414
Hello, @deepthought-64 @matmair. I want to work on this issue. Could you please assign me?

[2021-12-03 22:50] matmair commented on #2414
Hi @aserputov !
Thanks for your interest. I generally suggest pinging @inventree/triage @inventree/maintainer if you need quick answers as any one of us can be AFK.
If you encounter problems with tackeling this or finding the relevant code parts feel free to ping me.

[2021-12-03 23:03] SchrodingersGat commented on #2409
@eeintech happy to close this one, then?

[2021-12-03 23:07] SchrodingersGat commented on #2414
I believe this issue has been fixed in master:

![image](https://user-images.githubusercontent.com/10080325/144684222-f69db41b-b86f-4132-9cae-ec394cdfb3fa.png)

[2021-12-03 23:34] matmair commented on #2410
@Matthewmads

[code]

[2021-12-04 01:40] eeintech commented on #2409
@SchrodingersGat Not really, this is a real issue still. Either the delete button shouldn't be shown or the permission corrected. I was intending to do the later today but didn't have time to dig more. I can look into @matmair comment next week

[2021-12-04 02:11] SchrodingersGat commented on #2409
Hiding the button would be a pretty straight forward approach, and probably should be done independent of any decision made on permissions.

[2021-12-04 07:22] #2187 closed

[2021-12-04 10:31] #1005 closed

[2021-12-04 12:08] #1307 closed

[2021-12-04 13:45] matmair commented on #2187
@tse-tarn-france changes are in master

[2021-12-04 17:10] Acvarium opened #2421 "[BUG] Opening "Add Part Category" from "Create Part" dialogue brakes "Default Location" pop-up"
**Describe the bug**
When you work on "Create part" dialogue, and decided to create new category directly from this window by clicking "Add Part Category" on the top right, the "Default Location" pop-up list will no longer work.
You don't need to create category, it is enough to just click on the "Add Part Category" button for bug to occur.

**Steps to Reproduce**
1. Click on green button "New Par

[2021-12-04 20:23] matmair commented on #537
Duplicate of #547

[2021-12-04 20:23] #537 closed

[2021-12-04 20:24] matmair commented on #547
@SchrodingersGat is this still on the roadmap or `wontfix`?

[2021-12-04 20:26] matmair commented on #958
@jnewlands still interested in this?

[2021-12-04 20:33] matmair commented on #1072
@SchrodingersGat should be covered by the plugin system, can we close this?

[2021-12-04 20:40] matmair commented on #1946
@SchrodingersGat should we close this as a duplicate of #656 ? Has a big potential to be a feature creeper.

[2021-12-04 20:41] matmair commented on #1098
@SchrodingersGat is this still relevant?

[2021-12-04 20:42] matmair commented on #1059
@LarryJoy does this error still occur with the current stable/master?

[2021-12-04 20:54] SchrodingersGat commented on #1098
I've added a specific coverage level goal for the next release

[2021-12-04 20:55] SchrodingersGat commented on #1946
Duplicate of #656

[2021-12-04 20:55] #1946 closed

[2021-12-04 20:57] SchrodingersGat commented on #958
This has actually been implemented already:

https://github.com/inventree/InvenTree/blob/120870712ae9c0fd22200ffd51e19b9efaee6be6/InvenTree/report/models.py#L289

[2021-12-04 20:57] #958 closed

[2021-12-04 20:58] SchrodingersGat commented on #547
I think the scope requirements for this are pretty prohibitive, and it hasn't received much user attention.

[2021-12-04 20:58] #547 closed

[2021-12-04 20:58] #1072 closed

[2021-12-04 21:46] #2037 closed

[2021-12-04 21:46] #2218 closed

[2021-12-04 21:46] #2295 closed

[2021-12-04 21:46] #2292 closed

[2021-12-04 21:46] #2293 closed

[2021-12-04 21:46] #2294 closed

[2021-12-04 21:46] #2305 closed

[2021-12-04 21:46] #2308 closed

[2021-12-04 21:46] #2318 closed

[2021-12-04 21:49] SchrodingersGat commented on #2410
@Matthewmads I'm assuming that you've checked that the username / password combination is correct for database access?

[2021-12-04 21:51] SchrodingersGat commented on #2073
Bump @G-Pereira  :)

[2021-12-04 21:56] G-Pereira commented on #2073
![image](https://user-images.githubusercontent.com/15521303/144725803-6223e5f9-efa7-494c-8337-b6d1b389dae1.png)

[2021-12-04 22:46] matmair commented on #2421
@Acvarium thanks for the report! Can reproduce, we will have to look into that

[2021-12-05 00:34] SchrodingersGat opened #2422 "[BUG] maintenance_mode_state.txt permissions"
@matmair I've had some issues updating an InvenTree instance to latest master after the plugin merge.

The error was the user which runs the server does did not have permissions to write to this file:

`./InvenTree/InvenTree/maintenance_mode_state_.txt`

I sorted the permissions out, but I am wondering if this file needs to be brought out of the source directory as it is a "user configurable" (or

[2021-12-05 05:36] SchrodingersGat commented on #2073
Thanks for the clarification. What version of InvenTree are you running?

[2021-12-05 05:39] SchrodingersGat commented on #2421
Looks like this is happening because both the "new part" and "new category" forms have a field called "default_location"

Perhaps the jquery code does not differentiate correctly between the two field instances.

[2021-12-05 06:16] SchrodingersGat commented on #2421
Two other bugs I have found while looking here:

- If you open a "secondary" modal (as above) and then close it, pressing the same button again (on the "primary" modal) does not open the secondary modal again. In fact all secondary modals are disabled until you close and re-open the primary modal

- If you open a "secondary" modal, the primary modal still has focus for the "escape" key, and so pre

[2021-12-05 14:52] JustusRijke commented on #2241
I did a bare metal install on Ubuntu 20.04 server, PostgreSQL 14. Changed the default currency to EUR in config.yaml.

The same issue as described by @batara666 appeared when starting gunicorn: `django.db.utils.OperationalError: could not serialize access due to concurrent update`.

However, when I changed the default currency back to USD, gunicorn started without problems.

[2021-12-05 15:09] matmair commented on #2422
@SchrodingersGat I think your PR is a great fix!

[2021-12-05 15:22] JustusRijke opened #2425 "[BUG] Web interface does not show images / CSS"
**Describe the bug**
The web interface is incorrect, identical to #1720

**Steps to Reproduce**
1. Bare metal install (tested on system with Ubuntu 21.04 + PostgreSQL 14)
2. Follow steps in https://inventree.readthedocs.io/en/latest/start/production/
3. Browse to 127.0.0.1:8000

**Expected behavior**
Web interface shown in all its glory at 127.0.0.1:8000

**Deployment Method**
- [ ] Docker
- [X] B

[2021-12-05 15:27] nwns commented on #2241
I have looked into this.  As the [Django docs](https://docs.djangoproject.com/en/3.2/ref/applications/#django.apps.AppConfig.ready) say, we should not be interacting with the database in App Ready. It is for setting up signals not for fiddling with the database.

This currency data update should be moved to an async task. Since we now have background workers, it should probably be done by them. Ma

[2021-12-05 15:29] matmair commented on #2425
What do you exactly? The linked issue consistent of multiple errors. If you mean css is not loading try running

inv Update
inv static

to refresh the static content and check if your proxy is serving any content at /static/

[2021-12-05 15:31] matmair commented on #2425
The background worker has nothing to do with the interface, we just need it for long running actions that would block the interface

[2021-12-05 15:38] matmair commented on #2241
@nwns there is a lot of discussion about what should take place in ready in the community. If you look at core code ready is called after all models are ready so it is safe. Problems arise if you modify models in the ready code - which a lot of projects do. We don't in general.

Moving the code could have bad consequences in business environments. Prices for parts could change mid-process as the c

[2021-12-05 15:40] matmair commented on #2241
I think the best way to solve this is just a flag that is checked as this would make sure that the task is not already running. A bigger refactor should be discussed for its consequences.

[2021-12-05 15:44] JustusRijke commented on #2425
Created a fresh VM, upgraded to PostgreSQL 14, followed all steps in https://inventree.readthedocs.io/en/latest/start/install/ and https://inventree.readthedocs.io/en/latest/start/production/

Interface is then shown exactly as the screenshot in https://github.com/inventree/InvenTree/issues/1720#issue-929392714

I starting the background worker manually as a somewhat random tryout as it seemed to

[2021-12-05 15:47] JustusRijke commented on #2425
Can you explain how I can check this?

[2021-12-05 15:51] nwns commented on #2241
@matmair Sure, but that can already happen when the scheduled task to update the exchange ranges triggers every day.  That is the problem with live exchange rates in general.  This is why businesses hedge the price and fix it for a certain amount of time.

Perhaps the actual solution to this, it to have a button in Admin for the user to click and update the exchange rates when they want.  Possibly

[2021-12-05 15:52] nwns commented on #2241
The quick fix is to to just catch the exception and retry the update.

[2021-12-05 22:40] matmair commented on #2425
@JustusRijke just open a web browser and open the address you configured InvenTree for with `/static` appended. So if you are deploying on your local machine with default settings that would be `127.0.0.1:8000/static/`

[2021-12-05 22:48] #2422 closed

[2021-12-05 22:49] #2241 closed

[2021-12-05 23:08] G-Pereira commented on #2073
I am on the latest stable version: 0.5.4

[2021-12-06 00:09] SchrodingersGat commented on #2073
The latest master version (0.6.x) already fixes this issue, by hiding stock items which are already allocated from this list.

Back-porting this fix to the 0.5.x branch would be quite difficult, I think that you will just have to wait for 0.6.0 stable release, which is now not too far away.

[2021-12-06 00:09] #2073 closed

[2021-12-06 05:53] JustusRijke commented on #2425
@matmair 127.0.0.1:8000/static redirects to the login page

[2021-12-06 06:49] matmair commented on #2425
Please check with `127.0.0.1:8000/static/` as written above. The last backslash is important as it identifies the static directory that seems to make the problems you experience. This subpath should be served via nginx, apache2 or any other proxy as described in the docs. It also is the most prominent source of error with production environments.

[2021-12-06 07:28] JustusRijke commented on #2425
@matmair thanks for all your quick replies!
I just deployed a new server (Ubuntu 21.04) without doing any upgrades (only the security updates). Now the page loads correctly.
So either I made a mistake somewhere during the previous install (whoops), or the Ubuntu upgrades / PostgreSQL 14 broke something. I'll try to reproduce this.

Two notes:
1. `psycopg2` package is missing in `requirements.txt`

[2021-12-06 07:30] #2425 closed

[2021-12-06 07:35] deepthought-64 commented on #2414
Hi everyone,
thanks for looking into this!

@SchrodingersGat
Can you estimate when 0.5.5 will be available for an update? :wink:

[2021-12-06 08:11] matmair commented on #2425
@JustusRijke both things are on purpose

[2021-12-06 08:19] matmair commented on #2414
@deepthought-64 the fix for this most likely won't make it into 0.5.x but 0.6.x as we had major changes and it would be would be difficult to fix it in the old release.

[2021-12-06 08:21] deepthought-64 commented on #2414
Allright. Is there any 0.6.x release on your schedule yet?

[2021-12-06 08:44] JustusRijke commented on #2399
More details:

As a user, I'd like to be able to retrieve a list of purchasable parts needed to complete _all_ build orders.
This info is available per part, as "Required for Build Order".

Ideally, this list will not only contain the "Required for Build Order" field, but also a field suggesting the user how much needs to be ordered.
I imagine this being a calculation that takes the following fiel

[2021-12-06 08:58] matmair commented on #2414
Working hard on it, you can check the milestones to get a feel for how far we are.

[2021-12-06 10:18] deepthought-64 commented on #2414
Thanks, looking forward to 0.6.x.
And thanks for your effort!

[2021-12-06 12:35] Matthewmads commented on #2410
@matmair I checked grants and "root@Localhost" is appearing but not "doors@localhost". I used 'GRANT ALL PRIVILEGES ON inventree.* TO 'doors'@'localhost';' then FLUSH PRIVILEGES so I'm not sure what I'm missing.

@SchrodingersGat Yes the user name/Pw are definitely the same in both places. Does the syntax matter in the config.yaml file? see below...

database:
 --- Example Configuration - MySQL --

[2021-12-06 14:04] wengtad opened #2428 "[BUG] Stock tracking information alignment"
**Describe the bug**
The alignment of the table is not consistency. For example, the customer name, will it be good to make it consistency or is there a purpose to be like this?
This is took from https://demo.inventree.org/stock/item/232/

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to https://demo.inventree.org/stock/item/232/
2. Scroll down to 'Stock Tracking Information'

**Ex

[2021-12-06 14:06] wengtad commented on #2428
One more, after the stock returned from customer, I couldn't find it in the location.

[2021-12-06 15:45] cdwilson opened #2429 "[BUG] RuntimeError: Model class django.contrib.sessions.models.Session doesn't declare an explicit app_label and isn't in an application in INSTALLED_APPS"
**Describe the bug**
Running `inv worker` repeatedly shows the following errors:

[code]

**Steps to Reproduce**
Steps to reproduce the behavior:
1. `inv worker`

**Expected behavior**
No errors in the worker logs.

**Deployment Method**
- [ ] Docker
- [x] Bare Metal

**Version Information**
# Version Information:
InvenTree-Version: 0.6.0 dev
Django Version: 3.2.5
Commit Hash: b7f3a044d
Commit Dat

[2021-12-06 18:33] nwns opened #2430 "[BUG] Random timelines for updating Exchange rates"
**Describe the bug**
Because currency updates are done on App ready and as scheduled, the exchange rates will update whenever a worker is ready or when scheduled.

**Steps to Reproduce**
Every worker spawned by GUnicorn will run the app ready and update the exchange rates.  In #2241 this was manifesting as a serialization error.  Workers are re-spawned after 500 actions.  This gets worse when runn

[2021-12-06 18:33] nwns commented on #2430
**My Initial thoughts**
We should probably remove the exchange update from app ready and allow it to only run either explicitly by the user from Admin or automatically using Q-Cluster on a scheduled set by the user.

[2021-12-06 19:42] matmair commented on #2430
@nwns the current implementation should only update if the exchange rates are too old or the base currency changed; this seems to be broken in some way. If we fix this would this be a solution for this issue?

[2021-12-06 19:44] matmair commented on #2429
@cdwilson have you tried running `inv update` after pulling the update? Was this a fresh install or an upgrade from 0.5.x?

[2021-12-06 19:51] matmair commented on #2428
Hi @wengtad thanks for the report! If you submit more of them please include the version information block as the demo is changing daily and it adds some steps to find out what version contains a bug.
Would you be willing to submit a fix? Seems to be a simple css / html thing. You do not have to but I always try to encourage ppl. to try with the easy fixes. You could always ping me for advice / to

[2021-12-06 19:53] matmair commented on #2428
Could you try to reproduce with full steps and check if you looked in the same location as you returned it to? It is easy to switch the different locations in the head, which happens to me sometimes when debugging. If it still appears pls. open a new issue so we can keep this one clean. Thank you for your intrest in InvenTree!

[2021-12-06 19:54] matmair commented on #2414
Will close this as `wontfix` as we kindof have it fixed but won`t in old versions.

[2021-12-06 19:54] #2414 closed

[2021-12-06 19:56] matmair commented on #2414
@aserputov thanks for the interest in fixing this. We have some good starter issues and things we need help on marked in the issues. If you are interested in something don`t hesitate to hit us up!

[2021-12-06 21:22] G-Pereira commented on #2073
That's completely acceptable!

[2021-12-06 21:23] G-Pereira commented on #2073
That's completely reasonable!

[2021-12-06 21:40] matmair commented on #2250
Working on this feature rn

[2021-12-06 22:10] nwns commented on #2430
It probably would. But at the same time, that is in part what I am trying to figure out with this issue:
* Figure out how the dynamic currency exchange rates are actually being used by user?
* What is the issue that the automatic currency exchange rates solving?
* Do we have a problem currently with the exchange rates changing unexpectedly?
* Should the exchange rates change without the user being

[2021-12-06 22:17] cdwilson commented on #2429
I upgraded using `inv update` from 0.5.0 dev:

# Version Information:
InvenTree-Version: 0.5.0 dev
Django Version: 3.2.5
Commit Hash: b3c8bd777
Commit Date: 2021-09-24
Database: sqlite3
Debug-Mode: True
Deployed using Docker: False

[2021-12-06 22:23] SchrodingersGat commented on #2429
Did you stop the worker processes before calling `invoke update`?

[2021-12-06 22:31] matmair commented on #2410
@Matthewmads are you sure you are using the right password combo? In your SQL statement, you have the user `doors`@... but the config.yaml lists the user to be `myusername`.

[2021-12-06 22:42] matmair commented on #2430
@nwns we have practically no way to communicate with users. Only a small minority (judging by pulls on the python library, master, docker and the traffic on some random code tests I have on my profile) actually interacts with the issues and we have nothing in regards to telemetry.

I and local users I know use it to keep the exchange rates somewhat in step with the market. A few days can make a go

[2021-12-07 06:07] wengtad commented on #2428
Yup, I will open a new issue after my finding, I will try to reproduce using demo site and with steps, not sure whether I use it in a correct way or not.

[2021-12-07 17:16] cdwilson commented on #2429
Yes, nothing was running when I ran the update.  I ran the `inv update`, and then ran `inv server` and `inv worker` after the update.

[2021-12-07 17:23] cdwilson commented on #2429
I don't know hardly anything about how Django works, but I noticed there is a task that uses `django.contrib.sessions` and it looks like this was removed from `INSTALLED_APPS` in #2371.  Could this be the issue?

https://github.com/inventree/InvenTree/blob/f2b966fac591119677a98b0e433e4b21988ad27c/InvenTree/InvenTree/tasks.py#L240

[2021-12-07 22:43] SchrodingersGat commented on #2429
@cdwilson the change in #2371 moved from using the django built-in session management to using [django-user-sessions](https://github.com/jazzband/django-user-sessions)

But, your question has made me realise what the issue is!

@matmair the error message here is from the *old* background task which was responsible for culling old sessions. This task looks for django.contrib.sessions which is no lo

[2021-12-07 23:21] #2428 closed

[2021-12-08 11:49] #2429 closed

[2021-12-08 11:50] SchrodingersGat commented on #2429
@cdwilson should be fixed in master now :)

[2021-12-08 16:47] cdwilson opened #2437 "[BUG] sqlite3.OperationalError: database is locked"
**Describe the bug**
I occasionally see the following error in the `inv worker` logs:

[code]

**Steps to Reproduce**

Steps to reproduce the behavior:
1. `inv server`
2. `inv worker`

**Expected behavior**
I'm not sure if this is something that is benign or not (I would assume not since it shows up as an `ERROR` in the logs)

**Deployment Method**
- [ ] Docker
- [x] Bare Metal

**Version Informat

[2021-12-08 18:07] matmair commented on #2437
Deploying to production with sqlite3 is not recommended. Both the UI and the worker need to access the DB at the same time. Sqlite3 locks the db when something is being written so this can happen. I suggest you deploy with Postgres or sql. We also provide a docker image, which has all the infra needed in the docker-compose included. Please consult the deployment docs for more information

[2021-12-08 18:08] matmair commented on #2437
Sqlite3 is mostly there for devs for easy developing and test deploying

[2021-12-08 18:11] matmair commented on #2437
@cdwilson if you require further information or want a second opinion please post here, else pls close 👍

[2021-12-08 22:05] SchrodingersGat commented on #2437
@cdwilson seconded. SQLite is not sufficient for a production database, and doubly so if you have more than one user.

![image](https://user-images.githubusercontent.com/10080325/145291932-aadd71fb-fb70-4114-bd69-46459b4fbc07.png)

[2021-12-08 22:05] #2437 closed

[2021-12-08 23:41] #2369 closed

[2021-12-09 15:02] Matthewmads commented on #2410
Yes I just used "myusername" so i wasn't putting my login info online. sorry for not making that clear. I'll keep playing with the user names and logins.

[2021-12-09 15:18] Nerade opened #2439 "[FR] Using Distributor's API for Part and PO import"
**Problem**
We are about to roll-out InvenTree in our small research institue. To create all parts representing all used components by our team would cost us weeks if done manually.

**Suggested solution**
What I was thinking about is that all the information which parts we should have can be extracted from our main distributors via their respective API from order history. This also enables fetchi

[2021-12-09 16:15] YeomansIII opened #2440 "[BUG] Stock item purchase price > 9999.99 causes BOM list to fail to load"
**Describe the bug**
Setting a stock item purchase price of greater than 9999.99 causes the /api/bom endpoint (and the BOM UI of a part) to fail and not show any BOM items. This happens if a single BOM part/stock item has a purchase price greater than 9999.99. The stock item we are setting the purchase price of is a serialized stock item.

**Steps to Reproduce**

1. Create part - purchasable true

[2021-12-09 21:00] matmair commented on #2410
@Matthewmads this is a good practice 👍.
The error message clearly means that the authentication at the database-client level fails, so it is either the username, password, host, permissions for the database (maybe wrong database), connection context or a firewall setting that blocks the auth request (unlikely but I have seen that too).
Maybe try all the settings you put into the config with your n

[2021-12-09 21:13] matmair commented on #2440
@YeomansIII thank you for your bug report!
@SchrodingersGat I can reproduce this. The error seems to happen at serialisation of the decimal field for fields equal to or greater than 10.000:
[code]

[2021-12-09 21:28] matmair commented on #2439
Hi @Nerade und willkommen in der community,

**current situation**
in general, I suggest using the extensive import functions provided by InvenTree. For mass import there is the [admin interface](https://inventree.readthedocs.io/en/latest/settings/import/), end-users can use import functions for POs or parts if that setting is enabled.

**about your suggestion/question**
This is a very valid sugge

[2021-12-10 01:11] cdwilson commented on #2437
@matmair @SchrodingersGat thanks for the pointers.  Some context: I am currently only using inventree for hobby use on my personal laptop, and I'm only using it as a single user (I initially didn't want to have to deal with running a real database)  I'll take a look into migrating to a more supported setup moving forward.

In the mean time, are these errors something that could cause data integrit

[2021-12-10 02:14] SchrodingersGat commented on #2437
I don't think that this will cause data integrity issues, but it may mean that certain operations are not performed if the worker or server processes cannot access the database.

[2021-12-10 11:01] Guusggg opened #2441 "[QUESTION] Any tips on how I can reconcile parts "produced" by other parts?"
Hi,

Today I came across a "philosophical" question about how to reconcile when a part is produced by other parts.
The reality is that we order one tube of 6 meters. I want to specify to InvenTree that, in order to produce a tube of 1 meter, it will consume one 6m tube to create 6 1m tubes.

I tried using build orders, but they can only do the inverse. 6 6m tubes would make 6 1m tubes.

Is this po

[2021-12-10 11:10] SchrodingersGat commented on #2441
I would suggest that the simplest approach would be to set the "units" of the `Tube` part to "metres" - you will then have a single stock item of 6m which you can "use" to make smaller lengths?

[2021-12-10 11:10] SchrodingersGat commented on #2441
Also we now have opened up a page for [discussions](https://github.com/inventree/InvenTree/discussions) which are separate from issues - where this would be a more appropriate query :)

[2021-12-10 11:20] SchrodingersGat commented on #2440
@YeomansIII @matmair having some trouble reproducing that on my end.

A greater numerical value, or a longer string value?

[2021-12-10 11:48] Guusggg commented on #2441
Thank you so much Schrodinger! I'll go to the discussions right away.

[2021-12-10 11:48] #2441 closed

[2021-12-10 12:21] irameez opened #2444 "[BUG] Stock allocation quantity"
Describe the bug
Before the recent update when you go to "Allocate Stock Item" Quantity field was filled up by default, now it shows max stock quantity.
Now you have to first check the quantity entered in the order and then manually enter it, and if you are entering it from more than one stock record you have to calculate the remaining amount, in the previous versions this was done automatically.

[2021-12-10 13:46] SchrodingersGat commented on #2444
Thanks for the bug report @irameez

Please check once https://github.com/inventree/InvenTree/pull/2446 is merged :)

[2021-12-10 14:04] SchrodingersGat commented on #2380
@lookme2 some screenshots would be great. I can't seem to replicate this on my setup

[2021-12-10 14:08] #2444 closed

[2021-12-10 14:33] Nerade commented on #2439
Hi @matmair danke für den herzlichen Empfang,

based on your answer I guess I will then prepare a script for the initial import as a fallback and start sketching a concept and getting familiar with the codebase. It has been quite some time since the last I touched django.
I am also delighted that my idea finds resonance. I'll see how far I can get so far.
Thanks already and best regards
Marcel

[2021-12-10 16:21] lookme2 commented on #2380
@SchrodingersGat I've not been back in the shop to do this yet.  It looks like it might be after the first of the year.  Is that to long of a delay?  If so I can close this.

[2021-12-10 17:09] Guusggg commented on #2441
@SchrodingersGat Hey I've been playing all days with units in InvenTree but it seems as they are strings, they don't really do anything meaningful in terms of dividing bigger items into smaller ones. Care to throw me a bone?

[2021-12-10 17:20] YeomansIII commented on #2440
@SchrodingersGat A greater numerical value of the stock item's purchase price. Greater than 9999.9999 numerical value.

[2021-12-10 21:12] SchrodingersGat commented on #2380
That's fine, we can wait until the new year

[2021-12-10 21:13] SchrodingersGat commented on #2439
Marcel, ok to close out this issue?

[2021-12-10 22:15] #2250 closed

[2021-12-10 22:23] matmair commented on #2441
@Guusggg as far as I know units are just what is shown; You can use fractions of a part (0,25 cm of a part that is per 1m for example)  in a BOM (it can not be tracked then) -> if you need it tracked make a part with the metered part as the only BOM item.

[2021-12-10 22:26] matmair commented on #2439
@Nerade Maybe play around with the software itself and get familiar with the different concepts. For codebase, it should be enough to look at the sample implementation at `InvenTree/plugin/sample/integration` to see a basic integration plugin - which should be perfect for what you want.

[2021-12-10 22:35] matmair commented on #2437
@cdwilson for migration: we have data import/export commands included. Those support transferring a whole database via a single file.

[2021-12-11 02:10] SchrodingersGat commented on #2437
https://inventree.readthedocs.io/en/latest/start/migrate/

[2021-12-11 02:19] SchrodingersGat commented on #2441
As @matmair suggested, the "units" are only an aid to the user, they do not provide any functional logic. My suggestion was simply to specify that stock levels for the "Tube" are recorded in units of "metres" and then plan your bills of materials accordingly

[2021-12-12 08:02] Nerade commented on #2439
@SchrodingersGat yes, I think for now I know everything I need to tackle this. Also thanks again @matmair for the input. I will start playing on this today.

[2021-12-12 08:02] #2439 closed

[2021-12-12 10:04] #2201 closed

[2021-12-12 11:21] SchrodingersGat commented on #2440
@YeomansIII managed to work it out, a strange issue without how the calculated price fields were encoded.

[2021-12-12 11:51] #2440 closed

[2021-12-13 16:47] 42CrMo4 commented on #1273
@SchrodingersGat fyi [django-weasyprint 2.1.0](https://github.com/fdemmer/django-weasyprint/releases) is released.

[2021-12-13 18:09] markusEmm123 opened #2454 "[BUG] Database error on fresh install"
**Describe the bug**
When running the first time in a docker container the container will immideatly stop again because the database structure is not created yet. I can't create the database structure (by running "invoke update") because the container is stopped immedeatly.

**Steps to Reproduce**

Steps to reproduce the behavior:

Create (new, empty) database and user according to
https://inventr

[2021-12-13 21:35] matmair commented on #2454
Did you follow the settings here? https://inventree.readthedocs.io/en/latest/start/docker/

[2021-12-13 22:13] SchrodingersGat commented on #2454
Can you please provide an error log?

[2021-12-13 22:17] SchrodingersGat commented on #1273
@42CrMo4 thanks for the update, was not aware that v2.x was out yet!

[2021-12-14 10:40] HelgiBergmann opened #2455 "[BUG] Error while merging from master"
File which invoke the problem https://github.com/HelgiBergmann/InvenTree/blob/fullfill_by_stock_barcode/InvenTree/order/migrations/0052_auto_20211014_0631.py

[code]

[2021-12-14 10:48] HelgiBergmann commented on #2455
I think I should switch SQLite to Postgres

[2021-12-14 15:38] #2455 closed

[2021-12-14 21:32] tambry opened #2457 "[BUG] <config_dir>/maintenance_mode_state.txt is written to"
**Describe the bug**
InvenTree tries to write to `<config_dir>/maintenance_mode_state.txt`.
<details>
<summary>log</summary>

[code]
</details>

In my setup I'm using systemd to sandbox InvenTree to limit potential compromise of the machine.
<details>
<summary>inventree.service</summary>

[code]
</details>

The option responsible is `ProtectSystem=strict`. Relaxing it (removing it) allows InvenTre

[2021-12-14 23:05] matmair commented on #2457
@tambry InvenTree now contains a method to send the server into a maintenance mode. For this, the file you mentioned is used. We need a writeable directory for this and as it is a configuration file it is written to the config dir. You can change where the file is to your liking. Our example configs assume that the config dir is writeable, maybe we should change that.

[2021-12-15 11:46] tambry commented on #2457
Seems like an useful feature and logical. `django-maintenance-mode` mentions the case of the default one not being writable:
[code]
I'll try changing mine to the state directory (`/var/lib/inventree`) later today and seems like defaulting to that might be a better choice to make such sandboxing easier by default.

[2021-12-15 14:06] matmair commented on #2457
I think for most configs it makes more sense to keep it in the config dir as we do not really know where ppl place their installs and I know of multiple institutions that have multiple installs on the same server. That would not work out of the box if we set a static dir that is always the same.

[2021-12-15 14:08] tambry commented on #2457
Hardcoding the one I use definitely wouldn't be a sensible default. If there were some `state_root` we could default to below that. My "state root" is `/var/lib/inventree` so I have `/var/lib/inventree/database.sqlite3`, `/var/lib/inventree/media` and `/var/lib/inventree/static`.

[2021-12-15 18:39] tambry commented on #2457
Thank you.

I edited `MAINTENANCE_MODE_STATE_FILE_PATH` to point where I need it to and all's good. Closing as there's nothing to change without introducing a base state directory path to use as a default for this and likely others too.

Is there a way for an admin to trigger this? Reading the code I don't see any.

[2021-12-15 18:39] #2457 closed

[2021-12-17 10:57] Guusggg opened #2459 "[BUG] Build Order creating parts out of thin air"
Hi,

Today I noticed what I consider to be a bug in the Build Orders, but I'm not so sure. I've searched a bit in past issues containing the word 'build order' but I could not find this reported yet. Btw my `Build Order` only contains **Optional** BOM's as I haven't found out how to make a BOM with **at least one of the optional** requirement.

**Describe the bug**
Build Output can be created with

[2021-12-17 11:06] Guusggg commented on #2459
Hi,

So I'm not really sure what to do about this. I think it makes sense to check for allocated stock before creating `Item Stock` but ofcourse there's a feature in first completing 10 ouputs and then allocating stock afterwards... I'm conflicted. Please tell me what you think about this.

Kind regards,

[2021-12-17 11:37] SchrodingersGat commented on #2459
@Guusggg thanks for raising this point. When I first implemented the build order process, I wanted to allow some flexibility.

By "flexibility", here I mean not forcing the user to fully complete every line to complete the build. Perhaps there is stock being allocated but has not been consolidated into the system, or maybe the build output has been completed "without" those items (maybe they're de

[2021-12-17 11:49] SchrodingersGat commented on #2454
@markusEmm123 if you can provide some further details?

[2021-12-17 11:54] SchrodingersGat commented on #2410
@Matthewmads did you ever sort this out? It sounds like a config issue on your end, but if you find something incorrect in the setup docs, or a bug on our end, please let us know and re-open this issue :)

[2021-12-17 11:54] #2410 closed

[2021-12-17 11:55] SchrodingersGat commented on #2379
@HelgiBergmann please let us know if you need any further assistance on this

[2021-12-17 11:55] #2379 closed

[2021-12-17 12:16] Guusggg commented on #2459
@SchrodingersGat Thank you so much for your comment. It's nice to know it's a valid concern, but I definitely understand that there hasn't been any need to change it yet. An extra "are you sure message" would more than solve my problem, as I know the Confirm dialog is there, but it is ignored.

(Just a side note, I"m really excited for 0.6.0 man, amazing work all you guys did. I don't want to upgr

[2021-12-17 19:01] HelgiBergmann commented on #2379
@SchrodingersGat I will check it on Monday.

[2021-12-18 21:25] markusEmm123 commented on #2454
Hi,
@SchrodingersGat please exuse the late response.
I just have seen that the installation is explained in much more detail under the link https://inventree.readthedocs.io/en/latest/start/docker_dev/ at the end of the page.
I didn't follow that link but instead just created an empty database and the downloaded and run the docker image.
So i guess it is not a bug that it didn't work.

Anyway I rec

[2021-12-20 01:16] SchrodingersGat commented on #2454
@markusEmm123 to confirm - if you follow the installation guide, it all works OK?

[2021-12-20 04:13] afkiwers commented on #346
@SchrodingersGat

Just wondering, couldn't you just add up what's left in those stock items (the once you'd like to merge) and then create a new one which combines all the others and delete the ones you sourced from?

[2021-12-20 04:24] SchrodingersGat commented on #346
@afkiwers yep, that could be done. The question is what do you do with the "history" of the stock items..

I think that the simplest option is that if the user wants to merge stock items, the history is gone and they just have to accept that. There could be a warning message to this effect.

[2021-12-20 04:28] afkiwers commented on #346
@SchrodingersGat When you say history, couldn't you just add an automatic note to the new item which contains information about what stock was merged together (location etc) and when using simple formatted text?

[2021-12-20 06:58] markusEmm123 commented on #2454
Hi @SchrodingersGat,
Thank you for the follow up.
I actually saw the complete guide too late. But i managed to attach to the container (by changing the startup command) and then run "invoke migrate" which created the neccessary database structures. So now i got it up and running.

[2021-12-20 06:58] #2454 closed

[2021-12-20 14:38] MrManny commented on #2454
I ran into the same issue. The Docker environment of my Synology NAS exhibits the exact same behavior. docker-compose is also unfortunately not supported, I wired up the containers manually following the compose file.

I will try the proposed workaround in a minute; but I would like to see if there's a way to solve this more elegantly.

[2021-12-21 02:56] #346 closed

[2021-12-21 21:22] matmair commented on #2454
@MrManny in general synology docker is not a supported deployment as there seem to be some wired issues with shared storage locations (needed for worker and server).
If you get it running please report back so we maybe can add something to the docs.

[2021-12-21 21:34] SchrodingersGat commented on #2454
@afkiwers did you manage to get InvenTree running on a synology setup?

[2021-12-21 21:51] afkiwers commented on #2454
@SchrodingersGat yes I did. Remember like a year ago I was trying to explain to you how badly it works on Synology.

What you will have to do is to SSH into you DS and install it manually as per your instructions. The containers then will pop up in Syno's interface; but as markusEmm123 mentioned. Configuring them through that interface is not that straight forward.

I personally think that the eas

[2021-12-21 21:55] matmair commented on #2454
@SchrodingersGat in general there is the option to make 'app' definitions for synology. If you are interested in that I might be able to organise some docs for that.

[2021-12-21 21:56] markusEmm123 commented on #2454
@MrManny I'll try to reconstruct what i did (after failing to do it via SSH).
First create a database (externally, e.g. with PhpMyAdmin). I created one named *inventree* with only one user of the same name and all rights.

Then download the image in the synology docker application and create a new container.
Here is my synology docker container configuration (unfortunately in german, i try to gues

[2021-12-21 22:45] matmair opened #2479 "[FR]synology package"
**Problem**
One click synology deploy would be nice - right?

**Suggested solution**
Seems to straight forward on DSM 7.0:

https://help.synology.com/developer-guide/resource_acquisition/docker.html

**Describe alternatives you've considered**
You could do it manually but the ecosystem would support install scripts etc.

**Examples of other systems**
Odor can be installed this way.

**Do you want

[2021-12-21 22:48] matmair commented on #2454
@markusEmm123 would you be willing to test / debug a package if I tried to make one?

https://github.com/inventree/InvenTree/issues/2479

[2021-12-21 23:10] markusEmm123 commented on #2454
Our own synology package for Inventree? How could i say no to that;)

[2021-12-23 19:01] matmair commented on #2454
It might take a while as I will try to finish my open PRs first . What kind of architecture do you have on your synology? There seem to be plenty.

[2021-12-23 20:03] markusEmm123 commented on #2454
Take your time, i have a solution that works for me right now.

I have a DS218+ running, that should be a Celeron, so x86 with some Linux as operting system.

[2021-12-24 07:27] MrManny commented on #2454
@markusEmm123: thank you for sharing your process. I'll give it a go. And no worries, I don't mind the German. :)

@matmair: I'd be happy with a Docker deployment where the container can independently run installation/migration scripts. But I also won't say no to a Synology package 😄 Anyway. I seem to have the same NAS as Markus (i.e., Synology NAS DS218+). The NAS itself is running an Intel Celer

[2021-12-24 11:09] HelgiBergmann opened #2483 "[BUG] module '_distutils_hack' has no attribute 'ensure_shim'"
After merging master and trying to run the project get an error.

[2021-12-24 11:28] HelgiBergmann commented on #2303
https://github.com/inventree/InvenTree/pull/2482 here request, now I am fixing conflicts

[2021-12-24 14:15] Guusggg opened #2484 "[FR] Extend the syntax of Serial Number input to include continuing from the last assigned Serial Number"
Hi,

After discussing with @matmair I wanted to request a feature to extend the special syntax when entering Serial Numbers to include the possibility of selecting the next Serial Number. InvenTree already knows what the next Serial Number will be but I haven't found a way to actually input it without typing manually, which is cumbersome cause the next Serial Number disappears as soon as you enter

[2021-12-26 15:36] matmair commented on #2454
@MrManny you can run migration etc. in the container itself but the datasource needs to be reachable so that container needs to start first:
https://inventree.readthedocs.io/en/latest/start/docker_dev/#database-setup

Normally we let docker compose handle all the settings but it seems that synology does not support that method out of the box. The package will basically just mirror the settings in

[2021-12-27 08:41] SchrodingersGat commented on #2483
Did you run `invoke update` after merging master [as per the instructions](https://inventree.readthedocs.io/en/latest/start/update/)?

[2021-12-27 08:45] SchrodingersGat commented on #2484
@Guusggg I see what you are saying, trying to think how we could implement. Currently, the "placeholder" text of the serial-number inputs shows you what the next serial number will be, right?

[2021-12-27 10:34] HelgiBergmann commented on #2483
Yes, the same error when running `invoke update`.

[2021-12-27 11:00] MrManny commented on #2454
@matmair: thank you. I've managed to set up InvenTree in a VM using docker-compose for now for evaluation purposes. I might just transfer the database and assorted static files (if needed) to my NAS if I continue using it. That way, I can probably evade the need to run migrations and create the initial admin account.

Outside of Synology packages, I could also see an approach where bootstrapping i

[2021-12-28 10:55] HelgiBergmann opened #2485 "[Question] Plugin guide"
Please, can someone give me a brief explanation of how to work with plugins? Suppose I want to integrate some third-party API for local shipment, should I use plugins or just create another branch and do whatever I want.

[2021-12-28 10:57] SchrodingersGat commented on #2485
I'd suggest you wait only a little bit longer until the new 0.6.0 release. The plugins are still a work in progress and there will be some major changes before the release! We will add some comprehensive documentation also before the next release

[2021-12-28 20:31] Guusggg commented on #2484
@SchrodingersGat It does indeed, however when you type into the field it disappears and we currently used numbers like 221020xxxx which makes it difficult copy. I would suggest just adding functionality to the `+` sign, so `1+` will behave like `from 1 to x` and a single `+` could be the next serial number and `+1` could be `next serial number + 1`.

I understand this is getting kinda 'detailly' s

[2021-12-29 15:17] matmair commented on #2484
@Guusggg the `+`sign is already taken but `~` was free. I added the function, PR is in. See the docs PR for details https://inventree--220.org.readthedocs.build/en/220/part/trackable/#assign-serial-numbers

[2021-12-29 16:53] matmair commented on #2485
@HelgiBergmann there is a PR for the docs so maybe start there:
https://github.com/inventree/inventree-docs/pull/192
There is also [CI build](https://inventree--192.org.readthedocs.build/en/192/)

[2021-12-29 17:17] #2485 closed

[2021-12-29 20:52] smallsmallstrong commented on #2483
1.Find the location of the file(../site-packages/distutils-precedence.pth )
2.Change the content as 'import os; var = 'SETUPTOOLS_USE_DISTUTILS'; enabled = os.environ.get(var, 'stdlib') == 'local'; enabled and __import__('_distutils_hack').add_shim(); '[1]
3. Save the changed file.
[1] https://github.com/mh-sun/4Connect/blob/master/venv/Lib/site-packages/distutils-precedence.pth

[2021-12-30 10:01] #2484 closed

[2021-12-30 10:13] SchrodingersGat commented on #2483
@HelgiBergmann are you running bare-metal install or docker?

@smallsmallstrong is there another way around the problem that does not involve editing source files?

[2021-12-30 22:12] HelgiBergmann commented on #2483
@SchrodingersGat please send me an example code of this package installed in your env, so I would like to compare it with my files. I think this can resolve the problem.

[2021-12-30 22:20] #2303 closed

[2021-12-30 22:21] HelgiBergmann commented on #2303
This iis done, wait for review=)

[2021-12-30 22:56] matmair commented on #2483
Replacing site-packages content manually is not an acceptable solution. This does not scale and is not an applicable hotfix. Maybe switching the version of disutils helps? As far as I can see we do not even require disutils so maybe something other than InvenTree was installed into the environment?

[2021-12-31 17:27] matmair commented on #2454
@MrManny that would def. streamline the deployment instructions. If you have any concrete suggestions please submit a PR or formulate a feature request so we can track this!
I also just got a Synology DS for cheap so the package should be coming in a few weeks.

[2022-01-01 16:19] matmair opened #2493 "[FR] DevOps improvments"
Important dirs in the following are:
- InvenTree/common/
- InvenTree/InvenTree/

Suggested devops code-changes:
- [x] enforce docstrings and a docstyle for all important dirs
~~- [ ] enforce real unit tests on important dirs (atm we test that each URL responds as part of the test cases so a lot of coverage is just from that branch)~~
~~- [ ] add unit tests (selenium or npm tests) for all generally

[2022-01-01 16:20] matmair commented on #2493
This is very longterm

[2022-01-03 09:00] Guusggg commented on #2484
@matmair Damn that is looking awesome! Thanks a lot for the hard work! Greatly appreciated

[2022-01-03 17:02] alcorhythm opened #2494 "Dropdown filter not working when adding parameter to part."
**Describe the bug**
When adding a new Parameter to an existing Part, the dropdown list is not filtered as you type. It just briefly says "Searching..." then goes back to displaying the whole list. Other dropdowns are filtered correctly.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to any part.
2. Open the Parameters tab
3. New Parameter
4. Type something in the Template box

**E

[2022-01-03 23:42] matmair commented on #2065
This is not really needed for plugin functions as the install mechanism does not rely on anything like it. Could be a plugin itself tbh.

[2022-01-04 08:33] SchrodingersGat commented on #2494
@alcorhythm thanks for reporting - this bug has already been found and fixed in the development 0.6.x branch. The next release is not too far away now :)

Duplicate of https://github.com/inventree/InvenTree/issues/2414

[2022-01-04 08:33] #2494 closed

[2022-01-04 10:41] SchrodingersGat opened #2496 "[FR] Local plugin source directory should be configurable"
e.g. for a docker install, the "plugins" directory should be exposed to the host machine, e.g. `/home/inventree/plugins/`

@matmair any thoughts here?

My understanding is that (currently) plugins can be installed from:

- External path (e.g. pypi)
- Local path (`./InvenTree/plugins/`)

Is this a correct assessment?

[2022-01-04 15:13] markusEmm123 opened #2497 "[BUG] Worker timeout when importing BOM"
**Describe the bug**
When i upload a BOM with more than ~30 items i get a browser error, probably because of a timeout.

**Steps to Reproduce**
(German version running here, hopefully my guesses for the english names are correct.)

Steps to reproduce the behavior:
Create a new part.
Select "upload BOM".
Select the file "BOM_long.csv"
[BOM_long.csv](https://github.com/inventree/InvenTree/files/7808

[2022-01-04 21:22] ldet opened #2498 "[FR] [APP] Button to enable flashlight during barcode scanning"
**Problem**
I've got labels inside drawers, which I am currently unable to scan with the InvenTree Android app, because of low light.

**Suggested solution**
A Button to enable the flashlight in the scanning screen would be nice.

**Examples of other systems**
Most other barcode scanning apps have a button to enable the flashlight. I can scan the labels without issue with those apps.

Device: Onep

[2022-01-05 00:19] SchrodingersGat commented on #2498
Good idea!

[2022-01-05 00:20] SchrodingersGat commented on #2497
Sounds like this is a duplicate of  https://github.com/inventree/InvenTree/issues/2331 - there is a known issue importing BOMs which will be fixed for the stable `0.6.0` release.

[2022-01-05 00:20] #2497 closed

[2022-01-05 01:17] SchrodingersGat commented on #2498
![image](https://user-images.githubusercontent.com/10080325/148145453-c36c43be-5032-415e-a5ed-055906f23298.png)

New version of the app will have buttons to toggle flash and switch between front and back cameras. Should be released later today :)

[2022-01-05 01:17] #2498 closed

[2022-01-05 03:31] SchrodingersGat commented on #2483
If you have setup the install in a clean virtual environment, you should not be seeing this message...

Did you have any luck fixing this, or still causing a problem?

[2022-01-05 03:34] SchrodingersGat commented on #2309
@matmair what's the status of this? If you have not done this, I have an idea for implementation.

- Add a new file called "plugins.txt" (similar to "requirements.txt") which contains a snapshot of required plugins
- Can be stored anywhere, specified as PLUGIN_REQUIREMENTS_FILE in `settings.py`
- In docker setup, this would be in "/home/inventree/plugins.txt"
- Add a new invoke command "invoke plu

[2022-01-05 08:08] Rubisco16 opened #2500 "[BUG] The web interface dose not function"
Hi, I have installed Inventree 0.4.5 successfully, other version are always failed in installation. And now the admin page functions normally, but the homepage dose not function.

**Describe the bug**
The Settings menu and System Information menu, and others like Parts, after clicking, there's no response or any changes.
![image](https://user-images.githubusercontent.com/78011365/148181525-b84c58e

[2022-01-05 08:18] SchrodingersGat commented on #2500
Do you mean version 0.5.4, rather than 0.4.5 (which is quite old now)...

It looks like the `inventree-proxy` container can't see the static files. Have they been compiled? CLI into the `inventree-proxy` container and see if there is anything at `/var/www/static/`...

If you are running docker on synology, have you confirmed that the multiple containers have access to the same shared volume?

If n

[2022-01-05 08:22] Rubisco16 commented on #2500
Yes, it is 0.4.5, but other versions are always failed during installation, only 0.4.5 is successful installed, and I don't why...

I'll check it. Thanks you.

[2022-01-05 09:44] eeintech commented on #2484
Great job @matmair !

[2022-01-05 12:07] MrManny opened #2501 "[FR] Non-interactive, environment variable based set-up in Docker deployments"
**Is your feature request the result of a bug?**
No. It is a quality of life improvement.

**Problem**
As discussed on the side in #2454, Docker-based deployment could be simplified a little bit. Some systems, in particular Synology NAS, do not have docker-compose nor do they allow for easy terminal access.

**Suggested solution**
I could also see an approach where bootstrapping is done through en

[2022-01-05 16:24] ldet commented on #2498
Thanks. That was very quick and works perfectly!

[2022-01-05 22:35] SchrodingersGat commented on #2501
I believe that @matmair was looking into a Synology docker setup, it seems that this would be a popular feature!

[2022-01-05 22:55] matmair commented on #2500
@Rubisco16 in general Synology is not really supported as we need docker-compose to deploy multiple containers that access the same data. Also, there is the concept of a worker-container, that does all the long-running tasks - which is needed for newer versions to keep everything running smoothly.
I would strongly suggest trying to install the current stable version.

[2022-01-05 23:34] matmair commented on #2501
@SchrodingersGat very much so! Already looking into more container stuff as most new issues seem to be associated with that. This also plays into #2309, possible self-updating and a getting started setup in general.

[2022-01-06 00:15] matmair commented on #2496
Yes. One could just mount any directory via docker-compose into the path for plugins. Seems like an easy fix - although pip has a lot of things going for it as a deployment method. Dependency management for example.

[2022-01-06 02:05] ldet opened #2505 "[BUG] Popup dialogs on stock items page dont work on German locale"
**Describe the bug**

Popup dialogs on stock items page dont work on German language. English language works fine.

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Set Locale to German (Deutsch (de))
2. Go to a Stock Item and try to add Stock
3. Popup does not open

**Initial Debugging**

I already did some debugging on the issue and found that django template is "translating" floats

[2022-01-06 02:34] SchrodingersGat commented on #2496
I think the simplest approach is to leave things as they are, and rely on the new "plugins.txt" support provided in https://github.com/inventree/InvenTree/pull/2504

If a user *really* wants to, they can mount an external volume for local plugins

[2022-01-06 03:01] SchrodingersGat commented on #2505
Thanks for reporting this, and for submitting a fix!

[2022-01-06 03:39] #2505 closed

[2022-01-06 03:48] #2309 closed

[2022-01-06 03:48] #2496 closed

[2022-01-06 03:48] SchrodingersGat commented on #2380
@lookme2 let me know when you have some more time to look at this for us!

[2022-01-06 08:39] MrManny commented on #2501
@SchrodingersGat: sounds great! If you want to, you can reject this FR. I personally think this approach would be slightly more open to other deployment targets where the initial assumptions hold true (lack of docker-compose and/or interactive terminals are difficult).

[2022-01-06 12:15] matmair commented on #2501
@MrManny due to our architecture it will never be a great experience using inventree with only one container as long running actions will become blocking then.

[2022-01-06 13:39] MrManny commented on #2501
I think there is a misunderstanding. I am not asking to throw everything into one container. I am asking for environment variables to automate the steps that would require an interactive terminal, i.e., `invoke update` and `invoke superuser` using input provided through environment variables.

[2022-01-06 14:26] Guusggg opened #2507 "[FR] Total value of everything in storage"
**Problem**
It's the beginning of a new year again and we are cleaning up our taxes. For this we need to know an estimate of how much value we currently have in storage.

**Suggested solution**
It would be cool if selected roles can see the total value of the supply in the System Information popup.

**Describe alternatives you've considered**
Currently I have written a little script that pulls eve

[2022-01-06 16:40] hacker-h opened #2508 "[Question]: Will the App be opensourced?"
Hi,
InvenTree looks really promising but for my usecase I have to extend the android app's functionality.
The particular feature I'm looking for is RFID tag support (additionally to barcodes).
Will it be opensourced or how are new features collected/added?
Also I noticed that it is only available via Google Playstore for Android which makes it impossible to buy&install for ungoogled Android device

[2022-01-06 16:44] hacker-h commented on #2508
will be also an update for https://github.com/inventree/InvenTree/issues/1951

[2022-01-06 21:59] alfrede commented on #1628
could this be helpful? https://github.com/wenzhixin/bootstrap-table/issues/2681 i think it is almost the same.

[2022-01-06 22:08] matmair commented on #1628
@alfrede as far as I remember this bug was fixed years ago in upstream but we still can't get it to run

[2022-01-06 22:31] matmair commented on #2508
@hacker-h as far as I am aware the questions were already answered in the linked issues. F-Droid does not work with the current model and is too small of an audience for the effort. This project is done solely in spare time by volunteers.

If you have feature requests please file them using the FR template.

[2022-01-06 22:32] matmair commented on #2508
@SchrodingersGat do you have anything to add to this or can I close?

[2022-01-06 22:34] matmair commented on #2507
@Guusggg this seems like a great use case for a report as it is not needed too often.

[2022-01-06 22:37] matmair commented on #2501
@MrManny I understood that but without an orchestrator like docker-compose or Kubernetes, you will run into errors as all things need to be running for everything to work. So a simple interface like for example Synology might not be enough / cause random errors.

[2022-01-06 22:53] SchrodingersGat commented on #2500
@Rubisco16 if you find anything on your end about why it can't see the static files, please let us know. Perhaps we can update the docs.

[2022-01-06 22:53] #2500 closed

[2022-01-06 22:54] SchrodingersGat commented on #2483
@HelgiBergmann closing this issue for now, I think it is a problem on your setup. If you find out any more information feel free to re-open

[2022-01-06 22:54] #2483 closed

[2022-01-06 22:58] SchrodingersGat commented on #2134
While there is some value in such a feature, it adds a lot of extra complexity for a small use case. Will not fix for now

[2022-01-06 22:58] #2134 closed

[2022-01-06 23:02] SchrodingersGat commented on #710
This has been implemented for USB "wedge" scanners already.

[2022-01-06 23:02] #710 closed

[2022-01-06 23:03] SchrodingersGat commented on #1014
Implemented

[2022-01-06 23:03] #1014 closed

[2022-01-06 23:10] SchrodingersGat commented on #704
No pressing need to implement this, can re-open if someone *really* needs it.

[2022-01-06 23:10] #704 closed

[2022-01-06 23:10] #1408 closed

[2022-01-07 01:45] #2459 closed

[2022-01-07 02:44] #1628 closed

[2022-01-07 03:12] #2306 closed

[2022-01-07 08:44] Guusggg commented on #2507
@matmair Oh right, a report! Totally forgot about them. It might even be possible to do it today, with all the variables being exposed to that API.

[2022-01-07 10:40] matmair commented on #2507
@guusggg no problem, it is not documented a lot so I tend to also forget about it. I hope to build an easy mechanism to share and customize report templates this year. Something like plugins (maybe using them) and a WYSIWYG - type editor.

[2022-01-07 11:09] SchrodingersGat commented on #2507
@matmair I look forward to seeing what you can come up with :) we use reports very extensively at work, but it is definitely poorly documented and under appreciated!

[2022-01-07 16:12] markusEmm123 commented on #2497
Is there a workaround until the release of 0.6.0 stable?
I understand that it takes a long time for huge databases but i have less than 100 parts in my DB.
Could anyone suggest a way to e.g. increase the timeout in the docker installation or give me a hint what part of the installation exactly runs into timeout?

[2022-01-07 22:22] SchrodingersGat commented on #2497
@markusEmm123 no fix currently, sorry. On my install, it is the nginx proxy that times out, but in your case it appears the gunicorn (web server) timeout is being hit - you could try increasing that for now?

[2022-01-08 00:57] hacker-h commented on #2508
APK releases would also be fine.
Upon opensourcing it will be easy to add additional release formats, otherwise will have to build another app and reinvent the wheel :/

[2022-01-08 16:41] elmo2k3 opened #2516 "[BUG] Keep getting "Build Order is incomplete""
**Describe the bug**
Can"t complete build order as the above message is always shown.

**Screenshots**
![Screenshot_20220108_173706](https://user-images.githubusercontent.com/20565/148652262-a91b0508-5d2c-4023-b76e-399239cd35a4.png)
![Screenshot_20220108_173819](https://user-images.githubusercontent.com/20565/148652263-c811a927-61e7-4379-8e81-b0211b4d27cb.png)
![Screenshot_20220108_173837](https:/

[2022-01-08 17:30] matmair commented on #2516
@elmo2k3 thanks for the bug report!
Can you give me some details on the settings of the produced part? From the screenshots, it would seem like a bug and I am almost certain that it is, but can not reproduce currently.

[2022-01-08 17:38] matmair commented on #2507
@Guusggg can we close this for now as it most likely a custom report or would you be willing to submit it upstream?
@SchrodingersGat this is on the looooong-term TODO-list 👼

[2022-01-08 17:52] elmo2k3 commented on #2516
Hey,
here are the details of this part:
![Screenshot_20220108_184735](https://user-images.githubusercontent.com/20565/148654325-8567b416-2d46-4a62-a51a-65e542a1bfa1.png)
I don't know if it has anything to do with it, but my bill of material contains two optional parts.
The version I used before and worked fine was about 3 months old and I just recently updated to the latest version.

[2022-01-08 18:10] matmair commented on #2508
As of now, there are no intermediate plans to open source, pls enjoy the great free inventory solution you were given and consider making an FR for the thing you want specifically. The maintainer of the app is great in delivering new features of they make sense.
You are free to create your own app, we provide APIs for that reason. If you do please kee an eye on
https://github.com/inventree/InvenTr

[2022-01-08 18:10] #2508 closed

[2022-01-08 19:42] matmair commented on #2516
@elmo2k3 Can reproduce with optional parts, wil look into a fix shortly

[2022-01-08 20:50] SchrodingersGat commented on #2516
Thanks for reporting - see fix in https://github.com/inventree/InvenTree/pull/2517

[2022-01-08 20:53] matmair commented on #2516
@SchrodingersGat dam you were faster👍🚀

[2022-01-08 20:55] SchrodingersGat commented on #2516
I only just wrote this bug a couple of days ago, so I knew exactly where to look :)

[2022-01-08 21:12] #2516 closed

[2022-01-08 21:17] elmo2k3 commented on #2516
Great, thanks a lot!

[2022-01-08 22:13] matmair opened #2519 "[FR] Refactor Action and Barocde-Plugin"
**Problem**
Legacy code for old plugins remains

**Suggested solution**
Refactor to use IntegrationPlugins

**Do you want to develop this?**
Yes

[2022-01-08 22:20] elmo2k3 commented on #2516
Just tried with the latest commit and docker image. Now I get one step further but then see "Form errors exists"

![image](https://user-images.githubusercontent.com/20565/148661818-56bacbf7-c9de-4999-8c8e-30c996ffda38.png)

[2022-01-08 22:30] SchrodingersGat commented on #2516
Huh, that's odd. Can you open the browser developer tools tab, and show the data the server is sending back when you hit "submit"?

[2022-01-08 22:51] elmo2k3 commented on #2516
![image](https://user-images.githubusercontent.com/20565/148662443-89b70bcf-64d1-4973-9861-d7bd2f9a10a1.png)

This part has two positions in its BOM that are optional. Formerly I only allocated the one I really used and left the other one unallocated. Just for testing I now allocated both but that did not fix it.

[2022-01-08 23:01] SchrodingersGat commented on #2516
Ah.. OK I see what has happened here. I'll have a fix for you later on today.

[2022-01-09 09:25] SchrodingersGat commented on #2507
I'll leave it open for now, we can think about it for a bit

[2022-01-09 11:16] SchrodingersGat commented on #2516
@elmo2k3 see here - https://github.com/inventree/InvenTree/pull/2520

[2022-01-09 12:41] Guusggg commented on #2507
@matmair I don't mind closing it, do it as you guys please ^^. I can submit the script I wrote upstream but it's nothing special...

[code]
I think I can easily port this to the web function tho so I'll try that and submit it upstream.

Thanks a lot guys!

[2022-01-09 15:02] elmo2k3 commented on #2516
Now it works fine. Thanks a million!

[2022-01-09 15:57] markusEmm123 commented on #2497
@SchrodingersGat
thank you for the advice. At first i saw no difference after setting a timeout in gunicorn.conf.py.

For anyone who might encounter the same behaviour:
After some searching i realized that there are two files with that name in the docker installation.

The timeout entry in ~/InvenTree/gunicorn.conf.py didn't change anything.

After adding a timout entry of >30 seconds (300 in my c

[2022-01-09 22:37] matmair opened #2523 "[FR] Increase coverage of ScheduleMixin"
The coverage of the ScheduleMixin is low currently. Should be revisited.

[2022-01-09 22:48] matmair opened #2524 "[FR] [Plugin] Check if all plugins are really installed"
**Problem**
When deploying with an Orchestrator it could happen that plugins are installed during runtime so there should be a check for that regularly.

**Suggested solution**
A task that checks that

**Do you want to develop this?**
Yes

[2022-01-09 22:49] matmair commented on #2524
References:
https://stackoverflow.com/a/57191701/17860466
https://stackoverflow.com/a/1051266

[2022-01-10 09:30] SchrodingersGat opened #2527 "[FR] Disable plugins for demo server"
@matmair I think it might be a good idea to disable plugins for the demo server? Otherwise, we have to worry about people potentially installing dangerous plugins, as there is a web-facing admin account.

How best to approach this, do you think? Disable plugins entirely, or just the ability to install them via the web interface?

[2022-01-10 09:55] huseyinkogo opened #2528 "pip3 install psycopg2 pgcli on rp4 server"
Hey,

Love the software, wanted to install Inventree on my RPI 4, however need help installing on pip3 install psycopg2 pgcli on rp4 server, getting the errors please see attached screenshot.

I'm stuck on this part of the guide https://inventree.readthedocs.io/en/latest/start/install/#install-python-bindings

Also tried pip3 install mysqlclient mariadb it failed too.

And on my next new session,

[2022-01-10 12:40] eeintech opened #2530 "[BUG] Demo: Error 500 when accessing Widget assemblies"
In the demo, clicking on "Widget Assembly" and "Widget Assembly Variants" parts result in 500 server error.

![image](https://user-images.githubusercontent.com/4020546/148767343-736ee38f-d40d-45a2-a96f-f6e1056f5080.png)

![image](https://user-images.githubusercontent.com/4020546/148767376-0377219c-461a-4a59-8fc3-919b625fe30d.png)

![image](https://user-images.githubusercontent.com/4020546/14876741

[2022-01-10 12:46] eeintech commented on #2528
What is your version of `pip` and `python`?

[code]

Try `pip install -U packaging` maybe?

[2022-01-10 12:52] SchrodingersGat commented on #2530
[code]

[2022-01-10 12:53] SchrodingersGat commented on #2530
This will need to be fixed before release!

[2022-01-10 12:54] eeintech opened #2531 "[BUG] Multi-step order parts form show error on step 2"
**Describe the bug**

Second step of multi-form part order shows error message when it shouldn't:

![image](https://user-images.githubusercontent.com/4020546/148768520-d81c3633-fe87-4835-8ad8-518eeff51413.png)

**Steps to Reproduce**

1. Go to active build
2. Click on order button for any part
3. Go to step 2 of the form and notice the error banner

**Expected behavior**

Error banner should only

[2022-01-10 12:58] matmair commented on #2527
@SchrodingersGat maybe add a switch in the config to turn it off entirely?

[2022-01-10 12:58] eeintech opened #2532 "[FR] Form polishing (check boxes)"
@SchrodingersGat @matmair Not sure if this would be the right milestone but would be nice to polish the check boxes in the following forms. I'm going to keep hunting to see if I find any other forms like those below and report them here.

## Purchase Order
### Issue Purchase Order

![image](https://user-images.githubusercontent.com/4020546/148769453-1fd0f5bb-6c96-4ac5-891e-d61d101ba9a4.png)

### C

[2022-01-10 12:59] eeintech commented on #2530
Found another: https://demo.inventree.org/part/85/

[2022-01-10 13:00] eeintech commented on #2532
## Part

### Delete Part

![image](https://user-images.githubusercontent.com/4020546/148769974-ae931313-b8bd-4d31-8806-8704c62b7b55.png)

[2022-01-10 13:10] SchrodingersGat commented on #2527
Yeah, that's a better idea.

[2022-01-10 13:28] eeintech opened #2533 "[BUG] Table filter banner grows vertically when activated and filters already selected"
**Describe the bug**

![image](https://user-images.githubusercontent.com/4020546/148773691-0fc8c0b1-c4c3-4b1a-be80-47765a358b9e.png)

After clicking the "Add new filter" ![image](https://user-images.githubusercontent.com/4020546/148773330-2f0e1870-cd4f-4b85-967a-45dc0cdc3945.png) button:

![image](https://user-images.githubusercontent.com/4020546/148773740-d70ecc1f-cd6f-4983-beff-9397e51a86df.png)

[2022-01-10 13:34] SchrodingersGat commented on #2532
Related issue: https://github.com/inventree/InvenTree/issues/2253

[2022-01-10 13:34] SchrodingersGat commented on #2533
looks like a css issue?

[2022-01-10 13:41] eeintech commented on #2532
Oh I missed that one sorry. Should #2253 be marked for `0.6.0` milestone?

[2022-01-10 18:57] huseyinkogo commented on #2528
[code]
[code]
[code]

[2022-01-10 18:59] huseyinkogo commented on #2528
Should do that command on the (env)?
if so what is the command to enter (env)

thanks

[2022-01-10 19:01] huseyinkogo commented on #2528
Do you mean in the (env) ?
if so i don't think so, is it `pip install postgres.client` ?

[2022-01-10 19:47] eeintech commented on #2528
Your pip version is really old... you need to update it: `pip3 install -U pip3`

[2022-01-10 20:16] huseyinkogo commented on #2528
[code]

is the output getting when `pip3 install -U pip3`

I assume i need to enter the command in the (env) right?

[2022-01-10 20:19] eeintech commented on #2528
Your environment does not look right at all but it's difficult to guess what's happening. Please google your way through until you can install psycopg2, this is not InvenTree specific but an environment issue.

[2022-01-10 22:43] matmair commented on #2528
@huseyinkogo please try to update your whole pi? With
[code]
you can update your package-manager repo and then update everything that can be updated. Not being able to update pip normally points to a very old version, the update should install a new version of python3 and pip with that (except for if you pinned it)

[2022-01-11 03:19] #2036 closed

[2022-01-11 04:15] SchrodingersGat opened #2537 "[FR] Custom 500 page"
Currently if the server throws a 500 error, we get a basic 500 page with no information.

Implement a custom "500" page (as well as other status pages which are currently not supported).

Ref: https://github.com/inventree/InvenTree/issues/2530

[2022-01-11 04:40] #2533 closed

[2022-01-11 12:22] huseyinkogo commented on #2528
thanks guys, however its not worth the hassle because raspbian doesn't uploaded to the lastest ver. However i will install in fresh Debian server soon.

[2022-01-11 12:22] #2528 closed

[2022-01-11 12:25] huseyinkogo commented on #2393
**RELATED**:
fresh install on debain 10.

[code]
Getting this syntax error
when i input create user command

[code]

[2022-01-11 22:10] SchrodingersGat opened #2538 "[BUG] Demo Instance Javascript Language"
Javascript files for the demo instance seem to be "stuck" on the german translation.

[2022-01-11 22:49] #2527 closed

[2022-01-11 23:39] matmair commented on #2538
Still trying to reproduce, maybe we have a blocking rendering error in the current translation files

[2022-01-11 23:42] matmair commented on #2538
@eeintech @SchrodingersGat I have trouble reproducing on a fresh install, my other instances are shot due to the features I am deving rn. Could you try running `inv update` and restart the webserver?

[2022-01-11 23:43] SchrodingersGat commented on #2530
Error is gone now, must have been as a result of someone changing a setting on the server?

[2022-01-11 23:45] matmair commented on #2530
@SchrodingersGat maybe we should restrict changes on that install?

[2022-01-12 00:15] SchrodingersGat commented on #2538
Just refreshed and rebooted the server for you

[2022-01-12 00:17] matmair commented on #2538
@SchrodingersGat seems to work now

[2022-01-12 00:22] SchrodingersGat commented on #2538
Yes, but.. nothing significant has changed in the last few days (and the demo instance resets every day).

There must be something "sticky" which is causing the wrong i18n javascript files to be loaded from the server...

[2022-01-12 00:26] matmair commented on #2538
Not really sure what it could be, the underlying mechanisms are pretty easy so not a lot that could fail. Maybe it is in our i18n switching code.

[2022-01-12 00:46] SchrodingersGat commented on #2538
I think this needs some further attention, let's not close it out yet.

[2022-01-12 01:23] #2530 closed

[2022-01-12 01:58] Rubisco16 commented on #2500
Hi there,
So I have upgraded the system version to 0.5.4, and also fixed the problem you mention as "It looks like the inventree-proxy container can't see the static files. Have they been compiled? CLI into the inventree-proxy container and see if there is anything at /var/www/static/...".
But there is still not working, and the Inventree-worker has new errors.
![image](https://user-images.githubu

[2022-01-12 02:05] SchrodingersGat commented on #2500
Did you stop and then re-start the `inventree-worker` container? It looks like it was not restarted properly, or it did not get updated in sync with the `inventree-server` container...

[2022-01-12 03:30] Rubisco16 commented on #2500
There's new error in Inventree-Worker.

2022-01-12 03:27:55 | stdout | django.db.utils.ProgrammingError: column stock_stockitem.scheduled_for_deletion does not exist

[2022-01-12 03:40] #2519 closed

[2022-01-12 03:52] #2537 closed

[2022-01-12 13:04] eeintech commented on #2538
I'm back to english too:

![image](https://user-images.githubusercontent.com/4020546/149144416-86705ec0-d364-475e-802e-76c97a1b97ea.png)

And changing the language does not reload the content of the `i18n` folder therefore only the non-JS part of the UI are switched to the new language (Ctrl+R does not help).
Same result on my company, locally host instances.

This folder don't seem to show up run

[2022-01-12 15:38] HelgiBergmann commented on #2379
Strange but when doubling column in js only one column appears in html. Then I  deploy to production doubling also appears in HTML. So I think the problem is in the local SQLite db.

[2022-01-12 16:18] matmair commented on #2379
@HelgiBergmann bootstraple table has a unique constraint for column keys

[2022-01-12 16:23] matmair commented on #2538
@eeintech the folders are linked dynamically using the language set in Django.

[2022-01-12 16:27] matmair commented on #2500
@Rubisco16 did you follow the update docs? Seems like the containers were not restarted and 'inv update' was not run

[2022-01-12 16:57] matmair commented on #2501
@mrmanny I have a running package now for a DS920 / DS720. One question: where would you recommend publishing? It seems quite hard to publish to the official store itself and there are a ton of other options. Not sure what would be applicable.

[2022-01-12 23:08] matmair commented on #2377
@SchrodingersGat this is implemented with the event, right?

[2022-01-12 23:11] SchrodingersGat commented on #2377
Ah, yep, good point!

[2022-01-12 23:11] #2377 closed

[2022-01-12 23:20] SchrodingersGat opened #2542 "[BUG] Settings for plugins are not working correctly"
Plugin settings are not respecting the "validator" and "default" properties.

![image](https://user-images.githubusercontent.com/10080325/149238584-34142964-93de-4971-ac73-6d0fe74dc3c4.png)

[2022-01-13 00:32] SchrodingersGat commented on #2538
I've noticed something else that is interesting - the 'language setting' seems to be tied to the session, and not the user:

Here I have logged in twice as "admin":

![image](https://user-images.githubusercontent.com/10080325/149244642-93e84983-f3af-4c38-8391-963d7d90d480.png)

Maybe the "multiple sessions" are messing with the language settings somehow?

![image](https://user-images.githubusercon

[2022-01-13 00:49] matmair commented on #2538
@SchrodingersGat everything tied to sessions (including language) is saved as database objects. I use this exact library in all my projects, I highly doubt that it is making the problems.

I tried to debug but can not really find where it comes from. Our mechanism for language selection is using standard mechanisms of django and as simple as it gets. It could be a caching thing but the language id

[2022-01-13 00:52] matmair commented on #2538
Safeing the language setting per user would require its own mechanism and a new table so I would try to not do that as it is more likely to cause errors.

[2022-01-13 02:25] SchrodingersGat commented on #2538
@matmair I'm not suggesting that we set the language per user, I think that's not necessary and agree that it's a vector for more problems.

I was just wondering if maybe the weird issues we are seeing here is due to multiple active user sessions?

This problem is (most likely) only going to present on the demo instance. I'll leave this open until we're ready for 0.6.0 and if we haven't found anyt

[2022-01-13 06:17] #2532 closed

[2022-01-13 06:18] #2542 closed

[2022-01-13 08:54] eeintech commented on #2532
Looks good thanks @SchrodingersGat

[2022-01-13 09:00] eeintech commented on #2538
Sorry to kill the mood here @SchrodingersGat and @matmair but again this is happening on our company instances and nobody is sharing accounts there.

I have one instance which I have switched my session to Italian and now cannot revert back to English...

![image](https://user-images.githubusercontent.com/4020546/149296991-3f6e45dc-1a8f-49cd-b929-b5eaf6977fe1.png)

After rebooting the web server a

[2022-01-13 13:26] #2538 closed

[2022-01-13 13:27] HelgiBergmann opened #2549 "Help Static files does not updating on production"
What can go wrong. I push my changes in production, then run update command, and nothing change.

[2022-01-13 14:09] MrManny commented on #2501
@matmair: that is an excellent question that I am unfortunately unable to answer 😅 I have not published anything on Synology before. But if you want me to test a package on my DS218+ running DSM 7.0.1-42218, I am all yours!

[2022-01-13 14:13] HelgiBergmann commented on #2549
Rebuild containers with no-cache option all the time then deploy to production, may be there is better option. If so, please tell.

[2022-01-13 17:34] HelgiBergmann commented on #2379
@matmair has been fixed after merging with the master branch. wheee=)

[2022-01-14 00:20] SchrodingersGat opened #2551 "Cookie Permissions / GDPR Requirements"
- Add an informative banner regarding cookies
- Allow users to ~~opt-out~~ opt-in to any applicable cookies
- Link to "privacy" page on readthedocs (need to create this!)

[2022-01-14 00:24] SchrodingersGat commented on #2551
This plugin might be of interest https://django-cookie-consent.readthedocs.io/en/latest/index.html

[2022-01-14 21:08] matmair commented on #2551
Seems to be a solution for serverside stuff, so not really useable for the docs site.

[2022-01-14 21:10] matmair commented on #2551
Opt out is not allowed, the user must accept before data gets collected

[2022-01-15 10:15] huseyinkogo opened #2552 "Decimal Values: Server Error (500)"
When I try to add a stock with decimal value quantity i get a Server Error (500) when i submit the form. (received stock and add stock)

I purchase and build parts with decimal value.

**Eg**.
- I purchase 230.34KG of salt
- I build a part with 1.21kg of Salt

**Screenshots**
If applicable, add screenshots to help explain your problem.
--->
![Screenshot-20220115210315-1558x385](https://user-images

[2022-01-15 10:26] huseyinkogo commented on #2552
Also played with the https://demo.inventree.org/order/purchase-order/3/, it doesn't let you receive items in decimal value

![image](https://user-images.githubusercontent.com/76049382/149618428-2e33a30d-282f-4086-be5a-43fc3c2fc52a.png)

[2022-01-15 10:29] huseyinkogo commented on #2552
However I could add 12, the form accepts the submission.

On the remaining 0.56, i get this form with over 12 digits after decimal.
![image](https://user-images.githubusercontent.com/76049382/149618521-d18f1b66-59b8-4959-adc5-1e32baf0d342.png)

after manually removing the excess amount of digits, still same error appears: when i submit
![image](https://user-images.githubusercontent.com/76049382/14

[2022-01-15 12:03] huseyinkogo opened #2553 "[FR] Decmial Value Purchase and tracking"
Hey,

**Wondering if Inventree is able to do this?**

1. **Placing a purchase order of Milk around 1,242 Litres**
2. **Receiving the order, however the milk comes in enclosed cylinder tubs, Sometimes i receive the milk in tubs in set weight but most of the time it's different weight for each tub. I would like to track each tub, on which tubs were used in which production (build) or changed locatio

[2022-01-15 20:24] matmair commented on #2552
Hi ther @huseyinkogo
In general quantities should support fractals, although it is not a regular testing scenario.
Without the error message it is quite difficult / impossible to find out more without reproducing everything. I would suggest including the error message as error 5** is almost everything that can happen serverside.

[2022-01-16 06:10] huseyinkogo commented on #2552
Hey @matmair

I have included the error code of Server error (500) however that was all i received. When i submitted the form with a whole it succeed.

All the recent comments were from the demo page.  https://demo.inventree.org/order/purchase-order/3/

[2022-01-16 21:58] matmair commented on #2064
Was implemented as events

[2022-01-16 21:58] #2064 closed

[2022-01-16 22:10] matmair commented on #2552
@huseyinkogo the demo instance resets daily, so examples from there are not really working.

I can reproduce the error, the API seems to block receiving of fractal parts.

We are very shortly before the next release so I tag the next version for it.

[2022-01-17 09:44] huseyinkogo commented on #2552
@matmair

Roughly how many weeks are saying to resolve this bug.

[2022-01-17 15:02] eeintech commented on #2552
@matmair I made a pass to fix this bug, I believe this should target `0.6.0` not the next release.

[2022-01-17 15:29] matmair commented on #2552
@eeintech feel free to fix every bug you want😇!
At some point I would like to have a stable release so I can  merge, test and release my plugins but small bugfixes should not stir in the APIs so why not.

[2022-01-18 23:39] #2552 closed

[2022-01-18 23:40] SchrodingersGat commented on #2552
Definitely worth fixing this one before stable release. Thanks @eeintech for fixing and @huseyinkogo for reporting!

[2022-01-18 23:47] eeintech commented on #2552
@huseyinkogo It's on master now, let us know if you still have issue with decimals

[2022-01-19 03:25] #2307 closed

[2022-01-19 03:34] SchrodingersGat commented on #2551
docs ref: https://github.com/inventree/inventree-docs/pull/233

[2022-01-19 08:39] #2421 closed

[2022-01-19 08:40] SchrodingersGat commented on #2421
@Acvarium now fixed in master

[2022-01-20 09:50] huseyinkogo commented on #2552
Can verify its fixed :) @eeintech @SchrodingersGat

[2022-01-20 10:33] huseyinkogo opened #2562 "[FR] Pallet/Box Tracking"
**Problem**
99.9% Businesses will receive parts/items in pallets/boxes.
_OR_
will store parts/items in pallets/boxes.

**Suggested solution**
Having certain parts received or built part assigned to a pallet/boxes. And assign the pallet/boxes to a location,

Like the pallet/box could have many items that needs to be moved to another location. I don't want to scan every item in the pallet/box and mo

[2022-01-20 10:47] huseyinkogo commented on #2479
any update on this?

[2022-01-20 17:53] eeintech commented on #2562
Seems quite related to #2058

[2022-01-20 18:19] huseyinkogo commented on #2562
@eeintech  its actually related to #2058, i think it should be merged?

[2022-01-20 18:31] huseyinkogo commented on #2531
Yes yesterday i have experienced the same issue while i was testing for issue #2552

[2022-01-20 18:58] eeintech commented on #2562
I would keep it separate as it's a good indicator there is demand for this feature.

[2022-01-20 19:02] matmair commented on #2479
@huseyinkogo I am currently waiting for the final 0.6.0 release so that I can pack that into the package.
It then will be submitted to Synology for review and release in their store. They are supposed to do some checks so I am not sure how long that will take.

[2022-01-20 19:03] matmair commented on #2479
In general, this is a spare-time project so turnaround times might be slower than for paid software.

[2022-01-20 19:05] matmair commented on #2562
The referenced issue is on the roadmap for 0.7.0 so this duplicate does not need a milestone.

[2022-01-20 22:31] #2551 closed

[2022-01-21 14:58] Guusggg opened #2566 "[FR] Reports behave strangely"
**Describe the bug**
When uploading a new report HTML file, InvenTree sometimes seems to remember the old file.

**Steps to Reproduce**
If the files have the same name, it will generate a random one. This one will be shown. However if you decide to upload the same file again, it will be uploaded as the original filename. InvenTree will generate the old report in this case.

Steps to reproduce the

[2022-01-21 17:16] matmair commented on #2566
@Guusggg that is somewhat expected behavour, all templates in django are cached (with our settings).
We could add a button to clear the cache / improve the upload method to clear the cache for that template. Should be straight forward.

[2022-01-23 19:32] Zontex opened #2567 "[FR] Add CNY (chinese yuan) as a currency support"
**Is your feature request the result of a bug?**

Nope

**Problem**

We produce our products in China which requires buying components within mainland China and the entire process is basically produced there, if we use USD it won't be accurate and right for the components and value of things that we own within Chinese warehouses.

**Suggested solution**

Add a CNY currency support

**Do you want t

[2022-01-24 01:20] alexisvl opened #2568 "[BUG] 400 Bad Request when working with a larger BOM"
**Describe the bug**

"Bad Request (400)" when trying to upload a BOM with 100 lines. (At least, I think it's size-related).

**Steps to Reproduce**

Steps to reproduce the behavior:

1. Upload a large-ish (100 lines) BOM from CSV
2. Make part selections
3. Submit Selections

I can share the CSV but not sure how much use that'd be without the matching part database.

**Expected behavior**

The BOM

[2022-01-24 05:35] Zontex commented on #2568
Following, I'm having the same issue

[2022-01-24 05:53] matmair commented on #2568
Hi there this is loosely connected to  #2331 and being worked on. If you want to increase the number of possible fields increase the setting. This might open you up increased risk of DDOS attacks, so please do not do this if you expose your instance to the web directly.

[2022-01-24 06:08] matmair commented on #2568
@alexisvl as this is a security concern, the error code is as general as possible. The message would appear in the logs if the verbosity level of the logs is set lower.
You can add the desired value to Inventree/setttings.py with the key DATA_UPLOAD_MAX_NUMBER_FIELDS and value of how many fields you would like.

[2022-01-24 06:21] matmair commented on #2567
Hi there @Zontex
there is a setting for that, please take a look at the [config file](https://inventree.readthedocs.io/en/stable/start/config/#configuration-file). You can add as many currencies as you like, we ship a small set of defaults based on the current user base. If that changes we might change the defaults.
Cheers

[2022-01-24 06:22] #2567 closed

[2022-01-24 19:22] Zontex opened #2569 "[FR] Components availability and stock for suppliers"
**Problem**

I managed to import all the BOM's and components from the excel I was using previously into the Inventree and I created a script to pull prices from popular components distributors every day and upload them to InvenTree. The issue I am having is I don't see an option to attach stock availability. now when creating purchasing order I know the approximate price based on the quantity but

[2022-01-24 19:23] matmair commented on #2568
@eeintech I do not recommend that due to security risks loading that much multiform. I am refactoring rn, it is a bit trickier than thought, might start over.
Users that can not wait a week can adjust their setting, I will try to get the proper new code into 0.6.0

[2022-01-24 20:33] Zontex commented on #2568
Thank you for your contribution, I figured out a quicker way would be to make a python script to push those automatically one by one using the API, doesn't have a limit and works pretty well.

[2022-01-24 20:39] matmair commented on #2569
Hi there @Zontex thanks for the FR!
Do you want to develop this?

As for the possible architecture: I would add an extra model that links a supplier-part to a quantity, timestamp and optional TTL. Then there should be API-endpoints that give access to these values - so that the UI / an app can fetch the info async. There should be public functions to add information in an efficient way so it can b

[2022-01-24 20:43] matmair commented on #2569
@SchrodingersGat what importance/interest would you assign to this?

[2022-01-24 20:45] matmair commented on #2568
@Zontex the rewrite is already on the roadmap but glad you found a way to get it going that fast!

[2022-01-25 09:09] Zontex commented on #2569
I think I need some more time to get around the code to be able to contribute, will check it out and see what I can do.
Currently, my python scripts update through "http://%s/api/company/price-break" API, which means I need to send a few (5-6 requests) for each product in order to update the pricing, there is no batch updating with a single JSON file which will be more efficient. Or, perhaps, uplo

[2022-01-25 09:49] matmair commented on #2569
Sure, let us / me know if you have questions. We also have discussions enabled.

That seems to be a bit much. Maybe cache the parts list. It should be more like 1. something per part.

Technically possible to implement but could be a lot of work for a limited use case. A function like that needs to be bulletproof regarding testing and performance implications. If you need to make a lot of changes

[2022-01-25 19:29] matmair commented on #2569
@eeintech I think we are talking about different things. As I understood OP he wants to save the availability of parts, not the price. So pricebreaks would be the wrong place. Also pricebreaks and availability should not be connected as they are not either in the real world. Would you read OPs request in another way?

[2022-01-26 18:29] eeintech commented on #2569
@matmair Right I read it diagonally :confused:

[2022-01-27 02:08] SchrodingersGat commented on #2569
An "availability" field could be added to the SupplierPart model, as well as a "availability_last_updated" field.

However, (especially given the current state of electronics supply) the reliability of the data stored here would be tenuous at best.

Maybe this would be best implemented as a plugin, which creates a separate database table that links to a SupplierPart model?

[2022-01-27 04:58] #1225 closed

[2022-01-27 11:29] Zontex commented on #2569
My script currently updates the prices of a little over 200 parts 4 times per day (every 6 hours) and it works great, I figured out prices don't change that much, only stock but it works out pretty well. the issue i can't see the stock unless I click the item before purchasing, when doing check-out on the supplier order will be nice to be able to see the available quantity and a flag if the availa

[2022-01-27 19:07] matmair commented on #2566
@Guusggg I have not touched templates for over half a year, I would have to look into that. There could be other things connected to that - it for sure needs testing once it is being implemented.
Template behaviour is controlled in the settings, the LRU caching used normally by Django supports per-entry deletion, so it maybe could be implemented in the loader method.

[2022-01-27 19:08] matmair commented on #2566
@Guusggg maybe change the title to a FR so it is identifiable.

[2022-01-27 19:12] matmair commented on #2569
I think it would make sense as a core module - but could be a plugin as a test. It should be its own model in my mind as availability and price often are not coupled.

My users do not really need this so my interest in deving this is low. @Zontex  maybe try the plugin route and ping us if you run into issues.

[2022-01-27 23:29] SchrodingersGat commented on #2569
Having a second chance to think about this, I think having this as a core feature does make sense. Auto-updates of this information would have to be handled by plugins - that is far outside the core scope of InvenTree.

[2022-01-27 23:46] Marbles87 opened #2577 "[FR] Extra information on allocating substitute part"
Is it possible to add the name of the part that is currently being substituted in the "Edit BOM Item Substitutes" pop out window.
As it does not show what is currently being edited and provides no visual indicators to confirm the substituted item against. This get confusing when there is a large item count in the BOM

Please provide the name of the item
being edited in the title of the pop out win

[2022-01-28 00:32] Zontex commented on #2569
Exactly my thought.
Each supplier / factory can have their own plugin to integrate and update
the variables but at least have the field of price and last updated in the
core, what do you think?

On Fri, Jan 28, 2022, 7:30 AM Oliver ***@***.***> wrote:

[2022-01-28 00:39] SchrodingersGat commented on #2569
Agreed. I've added this to the milestones for next major release :)

[2022-01-28 04:09] #2577 closed

[2022-01-28 07:26] Zontex opened #2579 "[FR] Uploaded images to static, change filename related to the part"
**Is your feature request the result of a bug?**

No

**Problem**

When you upload an image, for example, cute_cat.png as a part image to InvenTree it will be uploaded AS-IS with the filename cute_cat.png, if the file already exists it will create a random string something like cute_cat_AjXuzCsA.png this creates a confusing pattern that is difficult to replicate or use the uploaded files later on

[2022-01-28 19:14] matmair commented on #2579
@Zontex seems like a niche use case. I would much prefer to have semi-random names as those prevent ppl. from scraping larger repos fast and without API access. The current mechanism is the default of django and pretty well tested.
If you want to dev this I do not object to it - feel free. I would just ask two things:
- make it an optional setting. I am not a fan of somewhat easily recognisable pa

[2022-01-28 22:58] matmair commented on #2569
@SchrodingersGat if possible I would find it very useful to have this as a separate model so that there can be time to live / valid attached to it and statistical information can be gathered from the history of stock availability.

[2022-01-29 00:23] SchrodingersGat commented on #2579
There is a subtlety here to consider.

The part images uploaded do not necessarily correspond only to a single part. Images can be shared by multiple parts - for example you may have 500 different 0603 resistors which all reference the same image.

Originally the image upload function worked exactly as suggested here - a filename was generated based on the part pk.

However this was scrapped when

[2022-01-29 11:40] marea69 opened #2581 "Change Date format"
Hi

How do I change date format in Part stock result > Last updated ,
in mm dd yyyy?

![Cattura](https://user-images.githubusercontent.com/61009409/151659594-adce30b3-0d4c-4907-bd0e-651805e8cf27.PNG)

[2022-01-29 15:49] Zontex commented on #2569
I've been working with the official authentication API to insert price breaks and I found a great difficulty to update existing price breaks. When you insert a price break for the first time you only need part id which is easy because you take all the supplier parts which has part_id as well and then you literate through them, get SKU, get real-time price and quantity from supplier and insert.

Wh

[2022-01-29 16:43] matmair commented on #2581
Hi there @marea69
Please use discussions for questions, issues are for bugs or feature requests.
As far as I am aware this is currently not possible. Also sorting will not really work with the format you suggested.
If you think the feature should be added please open a [FR](https://github.com/inventree/InvenTree/issues/new?assignees=&labels=enhancement&template=feature_request.md&title=%5BFR%5DCus

[2022-01-29 21:30] SchrodingersGat commented on #2581
This would be possible to add as a per-user preference, I think table sorting would be preserved, as the setting would only change how the date is displayed to the user.

@marea69 would you like to implement this yourself? Otherwise it will be added to the development plan for next stable release

[2022-01-30 05:04] Zontex commented on #2579
After thinking and looking up the current design, I don't think its relevant. seems like not anything worth looking at for the moment.

[2022-01-30 05:04] #2579 closed

[2022-01-30 09:33] SchrodingersGat commented on #2569
@Zontex you should definitely be able to update price breaks via the API:

https://github.com/inventree/InvenTree/blob/916216acaad4acb8cc660330318c89c156619496/InvenTree/company/api.py#L382

When you attempt to update (rather than delete) do you get an error message?

[2022-01-31 03:30] Zontex commented on #2569
to update the pricing need the specific breakdown PK ID (each product has about 4 breakdowns which means 4PKs) but I'm wondering if it's possible to add API to update breakdown pricing based on part id number and if it already exists (the same field with a different value or same value) it will update it, there is no way for me to know which break-down I should update unless I save them when I fir

[2022-01-31 10:09] SchrodingersGat commented on #2569
You do need the PK  value to update a SupplierPartPriceBreak instance, just the same as any other object in the database.

[2022-02-01 05:35] #1786 closed

[2022-02-01 14:03] lookme2 commented on #2380
@SchrodingersGat I'm going to have to close this for now.  I am so busy I'm not sure when I will be able to get this done.  Sorry about that.

[2022-02-01 15:24] nwns opened #2585 "[BUG] Inventree fiddles with files directly rather than using Django Storage api"
**Describe the bug**
Django provides an abstract [storage api](https://docs.djangoproject.com/en/4.0/ref/files/storage/#django.core.files.storage.get_storage_class) that should be used for all file accesses so that the server can be run from places that do not have a local filesystem and/or shared filesystem to store the media files.

**Steps to Reproduce**

Steps to reproduce the behavior:
Run In

[2022-02-01 16:35] matmair commented on #2585
@nwns this is a known side effect of the current implementation of file access. The storage API can help with this but introduces a number of possible bugs/security issues with different storage providers as some of them (boto for example) do not respect the originally intended access rights.
We have to rewrite at least 30 code blocks, possible more, to get full compliance with the API and introdu

[2022-02-01 20:35] eeintech commented on #2409
@SchrodingersGat Is the `wontfix` label for `0.6.0` or only for `0.5.5`?

[2022-02-01 20:51] nwns commented on #2585
The changes for running in k8s will come with at least one example of a S3 like API for testing.

More importantly, we need to stop adding new code that directly fiddles with the filesystem and uses the Storages api, even if the only production supported storage is local files for now.

[2022-02-01 21:31] SchrodingersGat commented on #2409
I believe this has been fixed in 0.6.x and given the imminent release of 0.6.0 I don't think there will be an 0.5.5

[2022-02-02 00:33] nwns opened #2587 "[BUG] AttributeError: 'PurchaseOrderLineItem' object has no attribute 'purchase_price'"
**Describe the bug**
Migration crashes with the following:
[code]

I am not sure where the cause of this is coming from, I assume the migration `0064_auto_20210621_1724` is missing a dependency but I am not sure where what that would be.

**Steps to Reproduce**

Steps to reproduce the behavior:
I am upgrading to master on my production version of inventree.

**Expected behavior**
Migrate complete

[2022-02-02 02:34] #2587 closed

[2022-02-02 06:04] SchrodingersGat opened #2589 "[FR] Copy substitute parts when duplicating a BOM"
When duplicating a BOM, the substitute parts must be copied too.

A BOM can be duplicated when:

A) Duplicating an existing part
B) Copying a BOM from a different part

[2022-02-02 15:41] eeintech commented on #2409
@SchrodingersGat Just checked but it is not fixed in `0.6.x`, see below.

## Group permission
![image](https://user-images.githubusercontent.com/4020546/152186079-a1519c81-313c-4340-aee1-ae362fb574ed.png)

## Attempt to delete all BOM items
![image](https://user-images.githubusercontent.com/4020546/152186297-f73f5d99-c8c5-4bed-bfeb-3721d9486129.png)

![image](https://user-images.githubusercontent.

[2022-02-02 18:55] eeintech commented on #2409
I started to look into this and it is a bit more complex than I originally thought as `Roles` are the entry point for permissions and the per-model permissions abstracted from `Roles`, example:
- Role `Part` is set to Add+Change
- Role `Part` controls permissions for models `PartParameter`, `BomItem`, etc
- A permission check for a model (eg. `PartParameter`) will solve for the role it is attached

[2022-02-02 23:01] SchrodingersGat opened #2590 "[FR] "Used In" tab should show substitutes too"
The "used in" tab currently displays assemblies which use the currently displayed part.

However, it does not show assemblies which use the current part as a "substitute".

[2022-02-03 02:48] reilly-callaway opened #2591 "[BUG] Build orders need page refresh after some actions"
**Describe the bug**
After making some actions in build orders, a page refresh is needed for the tables to complete properly. So far I've found the result of deleting or completing a pending item doesn't appear until you refresh the page.

**Steps to Reproduce**

Steps to reproduce the behavior:
1. Create a build order.
2. Create a new build output.
3. Complete the build output OR delete the build

[2022-02-03 02:53] reilly-callaway opened #2592 "[BUG] Build outputs with zero quantity"
**Describe the bug**
Build outputs with quantity zero can be created.

**Steps to Reproduce**

Steps to reproduce the behavior:
1. Create build order.
2. Create new build output.
3. Set quantity to zero.
4. Confirm and submit.
5. Doesn't play nice when trying to complete/delete the build output either.

**Expected behavior**
Quantity of zero is an illegal value.

**Screenshots**
![quantity_zero_BO

[2022-02-03 03:39] reilly-callaway opened #2594 "[FR] Edit binary User Settings by clicking on them"
**Problem**
Binary user settings are displayed as a switch. This switch cannot be changed and you need to press the edit button for an editable switch.

**Suggested solution**
Let binary user settings be changed from the displayed switch, without the use of the edit button. Edit button can still be displayed for numerical and other non-binary settings.

** Screenshots **
![image](https://user-imag

[2022-02-03 03:43] #2592 closed

[2022-02-03 04:30] #2591 closed

[2022-02-03 05:07] #2594 closed

[2022-02-03 18:07] matmair commented on #2409
@eeintech sounds good. I have it on my to-do to work on the permissions in general but that will take its time (#2323). The current implementation does not allow tenancy or full multi-group RBAC.

[2022-02-03 18:48] matmair commented on #2585
@nwns I will have to disagree here. Current standard in the codebase is to use pythons built-in file-APIs (fiddle as you call it). Using 2 different APIs for the same thing sounds like a great source for strange, hard to reproduce, special case bugs.
If we switch to Django's storage API this needs to be for the whole codebase and not a bit-per-bit situation as there need to be docs etc. connected

[2022-02-03 19:08] eeintech commented on #2323
@matmair Do you intend to use the `django-guardian` library to implement this FR?

[2022-02-03 20:35] nwns commented on #2585
@matmair

Agreed.  However, I will also note, from what I can tell, Inventree hardcodes the default file storage so until that can be changed, it should be fine.  Unless, someone is maintaining their own settings.py (which I used to do, I would *not* recommend), but if they are, they are also advanced enough to know how this works.

Who is using symlinks? How are they using symlinks?  For the medi

[2022-02-03 22:07] matmair commented on #2323
@eeintech yes, but it will take a while, it is fairly low on my priority list. There are a few devops, notification and security things I would like to see fixed before. And pricing needs a refactor.

[2022-02-03 22:30] matmair commented on #2585
@nwns symlinks are often used in big MSFT environments when deploying with IIS. I would never recommend using that but some enterprises have strict rules on what can be deployed so they have to use IIS.
Overriding the settings is done a lot from what I hear. One of the reasons a lot of ppl. keep using old releases for a long time.
I find it a bad idea to use 2 APIs, feel free to submit PRs how you

[2022-02-04 15:39] eeintech opened #2600 "[BUG] Purchase Order missing auto-refresh"
**Describe the bug**
Adding line items in a purchase order does not automatically refresh the view and the option to place the order is hidden.

**Expected behavior**
After a line item is added, the option to place an order should be shown.

Reference : #2595

[2022-02-04 18:08] nwns opened #2601 "[BUG] Currency update in App Ready can cause worker startup failure"
**Describe the bug**
The Gunicorn workers will get killed by the master because they fail to respond with 30 seconds.

**Steps to Reproduce**

Steps to reproduce the behavior:
Run the api server on a host without internet (possibly you do need working DNS though).

[code]

**Expected behavior**
Web server to start up and serve the site.

**Deployment Method**
- [x] K8s
- [ ] Docker
- [ ] Bare Meta

[2022-02-04 18:10] nwns commented on #2601
This is related to #2430 in that the app ready updating of currencies is the cause.

Setting `HTTP_PROXY` and `HTTPS_PROXY` to a proxy server does allow the server to start up.

[2022-02-04 18:19] nwns opened #2602 "[Q] How do I limit the domains if I enable sso"
If I enable SSO using google, it allows all google accounts to login, I would like to limit valid emails to only those that are part of my Google Workspace Organization.  This does not seem to be addressed by django-allauth, which is fair since allauth is Authentication not Authorization and this is a question of which accounts should be Authorized to access the instance.

I have searched the docs

[2022-02-04 22:34] matmair commented on #2602
@nwns I would block this at the authentication level to be safe.
Instead of using the google provider try using [open id](https://django-allauth.readthedocs.io/en/latest/providers.html#openid) and add the [hosted domain](https://developers.google.com/identity/protocols/oauth2/openid-connect#hd-param) parameter.
Would much prefer to handle things like this in config and not add code for more checks

[2022-02-07 01:15] SchrodingersGat commented on #2601
@nwns thanks for reporting

[2022-02-07 02:54] #2601 closed

[2022-02-07 02:54] #2430 closed

[2022-02-07 03:46] #2331 closed

[2022-02-07 03:46] #2568 closed

[2022-02-07 04:02] #2600 closed

[2022-02-07 17:01] eeintech opened #2608 "[BUG] Place order button does nothing after purchase order is created"
**Describe the bug**
#2605 enabled the "Place Order" button:
![image](https://user-images.githubusercontent.com/4020546/152835401-25b19276-2dda-4d5b-b113-aa87bde07cfc.png)

However, this button does nothing after purchase order is created and line items added.
The page needs to be refreshed for the button action to be executed.

**Steps to Reproduce**

1. Create new purchase order
2. Add line item

[2022-02-07 22:27] #2608 closed

[2022-02-07 22:28] SchrodingersGat opened #2611 "Unit Testing for new BOM Upload"
Ref: https://github.com/inventree/InvenTree/pull/2603

Need to add unit testing for the new BOM import / upload feature:

- [x] Different file formats
- [x] Invalid files
- [x] Valid files
- [x] Duplicate lines
- [x] Invalid lines

[2022-02-08 04:53] SchrodingersGat opened #2612 "Remove "delete_on_deplete" field"
The existing "delete on deplete" option is opaque and I don't think we need the functionality at all.

Instead, stock items should be correctly deleted from the database only under a certain set of conditions (excepting manual deletion by the user).

So, some thought into how to remove this feature, and perform the correct data migrations is required.

[2022-02-08 14:09] sintech commented on #2612
It would be nice if "delete on deplete" conditions were configurable in settings.
I mean currently it is "on" by default and you can only disable it for specific stock items.

[2022-02-09 04:51] reilly-callaway opened #2614 "[FR] Delete multiple incomplete build outputs at once"
**Problem**
If deleting multiple (serialized) incomplete/pending build outputs, each line item must be manually deleted. This is unfeasible if deleting many items.

**Suggested solution**
Completing multiple build outputs at once is already supported. Replicate this also for deleting multiple build outputs.

Example UI:
![image](https://user-images.githubusercontent.com/7870267/153124086-3c5157e1-

[2022-02-09 13:40] #2611 closed

[2022-02-09 20:47] #2614 closed

[2022-02-10 07:08] #2409 closed

[2022-02-10 16:13] eeintech opened #2617 "New BoM upload tool"
## Part matching issue

Part matching is not working, here is the BoM:
![image](https://user-images.githubusercontent.com/4020546/153447506-911fa196-412e-44d8-afa8-5546e2f1d6ff.png)

Result of the upload:
![image](https://user-images.githubusercontent.com/4020546/153447640-66206aa4-6a76-45d1-b739-9b82b002af33.png)

## No way to re-upload file (if wrong file selected)

"Upload BOM file" button shou

[2022-02-10 20:16] SchrodingersGat commented on #2617
@eeintech thanks for the feedback and I can appreciate that these changes seem like a step backwards in some ways.

The major focus here was speed. On my test system, using the old upload system, one particular BOM file took 5 minutes to initially process! Now that returns in around 2 seconds.

The column matching issue is the only one here which will be difficult. The backend needs to know which

[2022-02-10 21:58] eeintech commented on #2617
I'd definitely endorse any effort in improving the upload process and speed, however the new tool should really be completely finished and polished before releasing `0.6.0` because we use it a lot in our company and I wouldn't be able to upgrade to next release with a half-baked solution... Let me know if you need help to test it :wink:

[2022-02-10 22:52] matmair commented on #2617
It would also be cool if we could control the import via API - a possibility would be to put it into steps e.g. `/api/bom/import/{import_id/{step_number}/`

[2022-02-11 20:48] MIFD670 opened #2618 "[BUG] Cant invoke superuser"
env) inventree@Drop:~/src$ invoke superuser
OSError: no library called "cairo-2" was found
no library called "cairo" was found
no library called "libcairo-2" was found
cannot load library 'libcairo.so.2': libcairo.so.2: cannot open shared object file: No such file or directory
cannot load library 'libcairo.2.dylib': libcairo.2.dylib: cannot open shared object file: No such file or directory
cannot

[2022-02-11 23:12] matmair commented on #2618
Hi there @MIFD670 ! Welcome to InvenTree.

In the future please use the bug report template for reporting - we need the info that is asked for there.

These libraries are missing from your system. As we do not know what system you use I will guess that you use something Debian / ubuntu based. The command to install the packages would be:
[code]
If you use another distro have a [look here](https://

[2022-02-14 07:39] Eforen opened #2624 "Create Bundle item"
I may just not understand something but how do I create a bundled item that breaks down into 2 other items?

For example if my supplier only sells super glue in bundles of 2 how can i make it so that I have a super glue bundle part that can be tracked in inventory and then an individual superglue part that is created in the quantity 2 when a super glue bundle is broken down into 2 separate glue bo

[2022-02-14 10:27] Agilitytime opened #2625 "After the update no view on the parts"
After the update to the latest version (I should not have done, I know....) I can view  parts, settings, categories, etc..
i can't create parts, categories, etc. either.
do you have any idea how I can solve this ?

<img width="1169" alt="grafik" src="https://user-images.githubusercontent.com/62443876/153846400-6f849a67-0744-4230-8e8b-d7f7dd0886d0.png">

<img width="1184" alt="grafik" src="https://

[2022-02-14 11:53] SchrodingersGat commented on #2625
@Agilitytime try doing a hard-refresh of the page and see if this makes any difference.

If that does not work, can you open the developer console on your browser, and show if there are any javascript errors?

[2022-02-14 13:11] gabryelreyes commented on #2625
Same problem here! And the console gave me this just once and I am not able to reproduce the error message
![image](https://user-images.githubusercontent.com/66941456/153870290-5741d3b8-c117-428b-9a6a-e715e5284f0d.png)

[2022-02-14 21:34] SchrodingersGat commented on #2625
Some recent changes to the template code seem to be the culprit here. It should be rectified now - please pull down latest code and confirm that it works!

[2022-02-14 21:34] #2625 closed

[2022-02-14 21:56] Agilitytime commented on #2625
can you Push the Latest version to Docker

[2022-02-14 21:59] SchrodingersGat commented on #2625
@Agilitytime currently in progress, will be available on docker hub soon.

[2022-02-14 22:13] Agilitytime commented on #2625
now it works again ! thank you very much! This is really a great project

[2022-02-14 22:18] SchrodingersGat commented on #2625
Thanks for the feedback @Agilitytime , and thanks for reporting the bug :) Happy to get it fixed quickly for you

[2022-02-15 20:56] SchrodingersGat commented on #2618
@MIFD670 did you follow the advice from @matmair above? Any luck?

[2022-02-15 21:43] sintech opened #2633 "[BUG] Breadcrumb tree doesn't work in Stock"
**Describe the bug**
Stock location can't be opened using "Breadcrumb tree" from stock item view.

**Steps to Reproduce**
1. Open any stock item
2. Click on burger button and select any location except active
3. Some random stock item is opened

**Expected behavior**
Stock location should be opened

**Deployment Method**
demo.inventree.org

[2022-02-15 21:46] SchrodingersGat commented on #2633
@sintech seems to work fine for me:

![image](https://user-images.githubusercontent.com/10080325/154154764-cc0f8c62-2001-460f-aa5b-d802fed8cad0.png)

[2022-02-15 23:11] matmair commented on #2633
@SchrodingersGat can not reproduce, works on demo.inventree.org for me.
Also @sintech please try to also add the version info for the demo site - it updates automatically so we do not really know what version was affected.
Steps to get the info:
1. On any page:
![grafik](https://user-images.githubusercontent.com/66015116/154165110-4c4af1f2-5eb9-4454-bc94-4a8bcd006533.png)
2. click the copy button

[2022-02-15 23:30] matmair commented on #1435
@SchrodingersGat @cdwilson I would like to implement this:
- each SupplierPart can be assigned a number of contained parts (one part-definition per SupplierPart - either Part, ManufacturerPart or SupplierPart)
- on receiving the item it gets split automatically in the screen - so if 100 are in the SKU then you can assign 20 to location A and 80 to location B in this step
- multi-part SKUs should b

[2022-02-15 23:33] SchrodingersGat commented on #1435
I also think it makes sense to implement these things separately. Please let me know when you've got space to implement this and we can discuss!

[2022-02-16 07:34] 4li-fth opened #2636 "Category path is invalid"
**Describe the bug**

category path is just falling apart. its showing a random stream with random length of category names as child-parents that are not bound to a child parent relation at all.
it is consistent on refresh, and changes in a not predictable pattern as i change some category parent somewhere
**correct categories are shown as children when i navigate to a parent category**, but in "p

[2022-02-16 08:23] SchrodingersGat commented on #2636
Seems to be related to https://github.com/inventree/InvenTree/issues/2633

[2022-02-16 08:25] SchrodingersGat commented on #2636
@4li-fth did you recently perform an install / update after which this changed? If so, can you please advise:

- The previous version you updated from
- The process you followed
- Any error messages displayed

[2022-02-16 08:50] 4li-fth commented on #2636
i didn't have an update, just installed the mentioned version like 2 days before this happened following through install docs for docker. it was working as expected during category insertion

[2022-02-16 09:00] SchrodingersGat commented on #2636
This is a very strange one. @eeintech @matmair ever seen an issue like this before?

[2022-02-16 09:00] SchrodingersGat commented on #2636
@4li-fth does this happen for every category? Or only some?

[2022-02-16 09:13] 4li-fth commented on #2636
only some ( most of em by now ) , but as i edit categories and change parents, more unrelated, untouched categories on other places start to display wrong path.

[2022-02-16 09:14] 4li-fth commented on #2636
i can send a pgsql dump if it helps

[2022-02-16 09:15] SchrodingersGat commented on #2636
That might be useful!

You can also export the dataset using `invoke export-records -f dump.json`

[2022-02-16 09:52] 4li-fth commented on #2636
here's the json dump from the faulty server
[dump.tar.gz](https://github.com/inventree/InvenTree/files/8078730/dump.tar.gz)

[2022-02-16 10:20] SchrodingersGat commented on #2636
Looking through the dataset, nothing seems amiss. The categories are arranged correctly. I threw together a quick script to rebuild the category trees, and it looks OK:

![image](https://user-images.githubusercontent.com/10080325/154244139-4a838b02-70e5-4832-858d-827132019720.png)

It must be something to do with the way that the server is formatting the "path" of the category...

I do not have ti

[2022-02-16 11:11] sintech commented on #2633
My mouse cursor is hovered over "Storage Room A". Pls note the link in bottom left corner.

![изображение](https://user-images.githubusercontent.com/10057327/154252733-9bca7dce-9ccc-46df-8c19-ee5131597d9a.png)

# Version Information:
InvenTree-Version: 0.6.0 dev
Django Version: 3.2.12
Commit Hash: 6c32f5c
Commit Date: 2022-02-16
Database: postgresql
Debug-Mode: False
Deployed using Docker: True

[2022-02-16 11:19] sintech commented on #2633
It seems you missed the first step, it is reproduced only when current page is stock item.

[2022-02-16 11:25] SchrodingersGat commented on #2633
Thanks for the clarification @sintech I can reproduce now.  Fix incoming.

[2022-02-16 11:49] #2633 closed

[2022-02-16 11:50] SchrodingersGat commented on #2633
Should be good now @sintech - it will take a while for the demo website to refresh, though.

[2022-02-16 12:29] 4li-fth commented on #2636
yea the relation tree is ok since its displayed correctly (correct children under correct parents) in the software but the path is not
tnx i'll be waiting to hear from it
no other problems i can think of... other than the '500 server error' i get when i try to change or remove a category sometimes. but then it works the next time.
and the order which the subcategories are displayed is different fr

[2022-02-17 06:34] SchrodingersGat commented on #2566
@matmair I've run into this problem now too, and would like to address ASAP.

Can you provide any more information about this? Link to the docs? I'm happy to implement, just not quite sure where to start.

[2022-02-17 06:39] matmair commented on #2566
@SchrodingersGat a quick fix would be to just disable caching on templates in the reports for now.
Take a look at the template section in the settings.py. everything there is wrapped into a cached loader. You could either modify the appDirLoader to exclude the reports app paths and add them pack in without the cacher or write a method that resets the LRU cache of the cacher.

[2022-02-17 06:52] matmair commented on #2566
@SchrodingersGat you could also just reset the template cache loader on changes - https://github.com/django/django/blob/760b7e7f4f62eafdc79a2188d2a7739abaa6ca8b/django/template/loaders/cached.py#L98

[2022-02-17 13:05] Acvarium opened #2642 "[FR] "Submit and create next part" option on Create Part dialogue"
**Problem**
Usually I add 10-20 new parts in a row. It would be great in those cases to go from completed and submitted "Create Part" dialogue to a fresh one, for the next part.

**Suggested solution**
Something like "Submit and create next" button on a bottom at the "Submit".

Just a small thing to speed up the workflow

[2022-02-17 21:33] #2617 closed

[2022-02-17 21:39] SchrodingersGat commented on #2642
Anything to save some clicks! I really like this idea.

[2022-02-17 21:54] #2566 closed

[2022-02-17 21:58] matmair commented on #2566
@SchrodingersGat nice and simple solution!

[2022-02-17 22:09] hacker-h opened #2643 "[FR] RFID support (especially on Android App)"
**Problem**
I have a lot of RFID tagged items which I would like to index.

**Suggested solution**
InvenTree should support a field for an RFID field.
On the Android App it should be possible to scan an RFID tag and immediately display the corresponding item along with its data.
This can be part of a background functionality listening for rfid scans all the time (can be switched on).

**Describe a

[2022-02-17 22:15] matmair commented on #2643
@hacker-h what stops you from using the barcode field? You can put in anything you want in there. The app would need an integration but i do not see the need for an additional field in the db.
Also you can extend the part with parameters.

[2022-02-17 23:17] matmair commented on #2643
@hacker-h could you expand on what you mean?
I see two possible scenarios here:
1) If each tagged item has different properties, you need to create them separately (or as variants of the main part if only a few parameters differ).
2) If you have many tagged stock items of the same part (multiple rolls of the same capacitor) you create one part and then add stock items - where you only need the qua

[2022-02-17 23:36] hacker-h commented on #2643
You are probably right.
I will do some more research, thank you

[2022-02-17 23:43] SchrodingersGat commented on #2643
@hacker-h I do like the idea of adding RFID support to the app, I think that's a great new feature!

It would probably be sufficient to make use of the existing `UID` field (which is where we store the barcode data), unless we think there would be cases where a particular stock item would have both a barcode *and* an RFID tag.

[2022-02-17 23:49] matmair commented on #2643
@hacker-h pls do not get me wrong: I like the idea of using RFID tags or any other method of unique marking systems. It just smells a lot like feature-creep to add a new field for each method - renaming the barcode field possibly would be a better solution.
Also sounds like we get a free upgrade from @SchrodingersGat so yeay!

[2022-02-18 11:12] Guusggg commented on #2566
Perfect guys! I'm very happy!

[2022-02-18 20:35] #2531 closed

[2022-02-18 20:50] eeintech commented on #1996
I think this might be the last outstanding item for the `0.6.0` release: https://github.com/inventree/InvenTree/issues?q=is%3Aissue+is%3Aopen+milestone%3A0.6.0

[2022-02-18 23:04] matmair commented on #2636
No idea either. I just tried to reproduce the db drop but could not on current master.
@4li-fth did you only use the main interface or also API/admin?

@SchrodingersGat @eeintech total shot in the dark but could this be a case where the tree is not rebuild? I can not think of another option. If we find the cause and it is ui related we should really try to add tests for the edge case.

[2022-02-20 07:56] SchrodingersGat commented on #1996
Getting close! I had a look at this a couple of weeks ago, I think it may actually take some significant amount of work to do this properly. I'm going to bump this for the next release, we have been dragging our heels for a while now!

[2022-02-20 09:09] SchrodingersGat commented on #1966
This does not seem to impact the CI builds, I'll let @markdedeuge re-open if they are keen but otherwise, close for now.

[2022-02-20 09:09] #1966 closed

[2022-02-20 14:18] markusEmm123 opened #2648 "[BUG] Virtual Item in Build Order"
I'm using the german version of Inventree, most of my translations are guessed. Pleas excuse, if the names in the english version are different.

**Describe the bug**
When assigning stock items to a build order i also can/should/need to select virtual items assigned to the BOM for this job.
I can't creat any stock items for a virtual item, which in my opinion makes sense, because there is no count

[2022-02-20 15:25] markusEmm123 opened #2649 "[BUG] Sidebar not showing for stock items"
**Describe the bug**
When i view a stock item the sidebar does not show up

**Steps to Reproduce**
Klick on any stock item to show the /stock/item/175/ page.
There is no sidebar visible.

**Expected behavior**
The sidebar should be visible just like in the demo project.

**Screenshots**
![image](https://user-images.githubusercontent.com/96077472/154850021-c3ff2e9d-34e9-496d-bbf4-c9aa6d27c1f4.png)

[2022-02-20 15:36] markusEmm123 commented on #2649
Problem does not occur anymore after updating docker container to 0.6.0 dev from 2022-02-20

[2022-02-20 15:36] #2649 closed

[2022-02-20 18:08] matmair commented on #2648
@markusEmm123 this is by design currently - I do mark licenses as optional so they do not block the built process.

@SchrodingersGat would you be open to changing this behaviour? Having a way to serialize virtual parts sure would be nice.

[2022-02-20 20:59] matmair opened #2652 "[FR] Check for docstrings optionally in CI"
check for docstrings optionally in CI

_Originally posted by @matmair in https://github.com/inventree/InvenTree/issues/2493

[2022-02-20 23:54] SchrodingersGat commented on #2636
If we do find a bug associated with this, we'll add a fix to 0.6.1

[2022-02-21 09:18] BrentVerhaegen opened #2657 "[BUG] Internal Server Error after update to stable 0.6.0"
**Describe the bug**
After an update on the `Stable` channel of Docker to Inventree 0.6.0, the Inventree webpage shows _Internal Server Error_
Tried restarting the server but no success.

***Extra question***
Why is a new release getting pushed on the `stable` tag together with the `latest` tag? Shouldn't the `stable` tag trail behind `latest` a few weeks to ensure stable releases? I like the new

[2022-02-21 09:35] SchrodingersGat commented on #2657
@BrentVerhaegen did you run `invoke update`? It looks like some of the new database migrations have not been made.

Either:

- Maybe missed a step in the [docker update instructions](https://inventree.readthedocs.io/en/latest/start/docker_prod/#updating-inventree)
- Maybe the `inventree-worker` container is out of sync with the `inventree-server` container?

Can you step through the process you fo

[2022-02-21 10:35] BrentVerhaegen commented on #2657
@SchrodingersGat Thanks for your swift reply.
I indeed didn't follow the docker update instructions. My containers get automatically upgraded by Watchtower, and I wasn't aware of the update instructions.
Running `invoke upgrade` solved the issue and the server is running and accessible again. Thank you

[2022-02-21 11:03] SchrodingersGat commented on #2657
Glad to hear it! Thanks for reporting the fix :)

[2022-02-21 11:03] #2657 closed

[2022-02-21 12:31] chevdor opened #2659 "[BUG] Login error"
**Describe the bug**
Error while login in:

[code]

**Steps to Reproduce**

- fresh install on k8s
- invoke update
- invoke superuser

Steps to reproduce the behavior:

- go to home
- login

**Expected behavior**

login works

![image](https://user-images.githubusercontent.com/738724/154955647-d3341abb-cf96-498d-ac0d-6d02d4591730.png)

**Deployment Method**
- [x] Docker
- [ ] Bare Metal

**Version

[2022-02-21 14:08] chevdor commented on #2659
Closing this issue. Having issues running `invoke update` in the k8s pod and thinking it only takes care of the db migrations, I ended up running this locally, only in order to create the tables. I did not realize that it also creates the static resources required everywhere.

So there is no issue per say but the doc should probably explain that.

[2022-02-21 14:08] #2659 closed

[2022-02-21 19:20] matmair commented on #2659
@chevdor the docs state clearly that the command needs to be run on installation and for each update, I do not see an issue here. The command does actually a lot of things that are needed to keep the whole system functioning:
 - migrations
 - creation of custom model migrations (if you tempered with your branch)
 - collection of static files
 - pre-rendering of translated frontend files
 - transla

[2022-02-21 21:31] rkalman opened #2660 "[FR] PO receive trackable items with batch code / serial no"
**Problem**
I track most stock items by serial number, which is unfortunately a string not a number. So I use the Batch Code field to store them what is great and works very well. But when tracking the purchase orders, there is no possibility to enter the batch code / serial no. directly when I fill the Receive Items form. So it have to be done later editing each stock item individually.
More prob

[2022-02-21 23:02] matmair commented on #2660
Hi there @rkalman welcome to the InvenTree community!

Sound like a good idea to make the workflow faster. Are you typing in the serial numbers by hand or do you scan them?

The number of devs is quite small (the maintainer @SchrodingersGat and a handful of semi-regulars if we find time) so it could take a while for this to be developed. Would you be willing to submit a PR for it? Reviewing code i

[2022-02-22 01:07] SchrodingersGat commented on #2660
@rkalman to clarify, you would like to add serial numbers / batch codes to incoming stock items when you receive them against a purchase order?

[2022-02-22 04:58] ssewell opened #2663 "[BUG] Unable to create build output"
**Describe the bug**
On a fully allocated Build Order, I'm unable to create a build output.

**Steps to Reproduce**

1. Create any new Build Order
2. Fully allocate the stock as normal
3. Under the "Pending Items" tab, click "New Build Output"
4. Populate the Quantity field, check "Confirm" then click Submit

**Expected behavior**
The Build Output would be created.

**Actual Behavior**
Blocker: Th

[2022-02-22 05:10] ssewell commented on #2663
Confirmed that intercepting the POST and changing the payload to include `"auto_allocate":false` in the JSON results is successful creation of the build output.

[2022-02-22 06:42] matmair commented on #2663
@ssewell thanks for reporting!
I will take a deeper look in a few hours, should be a simple fix.

[2022-02-22 07:48] rkalman commented on #2660
@matmair: I use a scanner, but just as a native keyboard, so basically I type them. Regarding the PR unfortunately I'm pretty new in python&js (however with a massive 20+ years experience in c++/c#) so I think you guys handle it much more faster and better. But one day maybe..

@SchrodingersGat: Yes, exactly what I propose, thank you!

[2022-02-22 09:47] flinthamm opened #2664 "Docker compose web interface broken in production mode"
**Describe the bug**
Follow Docker setup instructions https://inventree.readthedocs.io/en/latest/start/docker/ to successfully install Inventree using 2 containers and external mariadb (mysql) database.

**Steps to Reproduce**

Steps to reproduce the behavior:
1) Follow https://inventree.readthedocs.io/en/latest/start/docker/ instructions
2) Use modified docker-compose.yml https://github.com/inven

[2022-02-22 10:04] SchrodingersGat commented on #2664
It looks like you are missing the static files (CSS etc). Can you check in docker whether the inventree-proxy container is running?

[2022-02-22 10:07] flinthamm commented on #2664
Hi @SchrodingersGat and thank  you for a very prompt reply.  I can confirm the proxy is not running (this will only be accessed internally) but this is the same case in both instances i.e. the web interface is broken when the INVENTREE_DEBUG=False but then after ONLY changing this environment to True and re-starting the container everything is okay? Is this expected?

[2022-02-22 10:37] matmair commented on #2664
@flinthamm the proxy also serves the static and media files in production mode, I recommend to keep it running.

[2022-02-22 10:39] matmair commented on #2664
This is expected, in debug mode incentree-server itself serves the files. This is not good performance wise - so nginx (in the proxy container) is used to facilitate that much faster.

[2022-02-22 10:50] flinthamm commented on #2664
![image](https://user-images.githubusercontent.com/1732958/155115502-2443abda-968f-4d26-9792-1ad5d47812ac.png)
This is what's displayed when accessing /static/ when the web interface is working (i.e. DEBUG=True) and logged in.

Thank you @matmair for your reply and update. I was just about to reply before your second message but if this is expected then that's fine now I know (and hopefully this m

[2022-02-22 11:01] matmair commented on #2664
@flinthamm the development server is not production ready so there are a few things missing on it.

The app is a private endeavour by the maintainer @SchrodingersGat . As far as I know there is no trial - I find it worth its price but I am somewhat biased towards the creator.

[2022-02-22 11:04] SchrodingersGat commented on #2664
@flinthamm just to chime in again here - check out the docs related to [running in debug mode](https://inventree.readthedocs.io/en/latest/start/intro/#potential-issues) - where this is documented in further detail.

I believe that the android play store lets you trial an app and get a refund within a certain amount of time? The one-off cost of the app is pretty low, in any case.

[2022-02-22 11:06] flinthamm commented on #2664
Well, excellent work and hat's off to @SchrodingersGat and hopefully some purchases will be made once some more testing has taken place.
Yes totally agree (the word cheap skate comes to mind ;) and thanks for the link. Hopefully speak again at some point.

[2022-02-22 11:06] #2664 closed

[2022-02-22 11:20] SchrodingersGat commented on #2660
@rkalman thanks for confirming. It sounds like a great addition, it will be added in the next feature release.

[2022-02-22 16:00] nwns opened #2665 "[FR] Location specific stock minimums"
**Problem**
We have multiple locations that should always have a minimum number of spares but it seems that the minimum stock alerts are system wide.

As an a example of the problem we are trying to solve, we keep spare GPS puck antennas because they are built really cheap and they live a rough life.  We buy the pucks by the box (so 10 at a time) so the main location has 10, but the other location

[2022-02-23 00:08] matmair commented on #2665
@nwns please add a title if you find time to.

This seems like a good use case for a plugin - with the [EventMixin](https://inventree.readthedocs.io/en/latest/extend/plugins/event/) and possible wait till the notificaton remaster is done #2372

[2022-02-23 00:27] matmair commented on #2663
@ssewell could you provide the settings of the part you are trying to build?

[2022-02-23 00:29] ssewell commented on #2663
Do you have a particular query I can run against PostgreSQL? Or which attributes do you need?

[2022-02-23 00:40] matmair commented on #2663
A screenshot of the parts page should be enough
![grafik](https://user-images.githubusercontent.com/66015116/155243904-f8a2b784-72f7-4a69-9272-c5149e6545eb.png)

[2022-02-23 01:04] matmair commented on #2663
@ssewell found it, is a one-line fix.

[2022-02-23 01:30] SchrodingersGat commented on #2648
@matmair can you provide an example of what a serialized virtual part might look like?

[2022-02-23 02:37] ssewell commented on #2663
Thanks @matmair! Cherry-picked the change into my local environment and tested that I can create the build output for the part now. A little late, but here's a screenshot of the part's attributes that is being assembled for reference:
![image](https://user-images.githubusercontent.com/2242776/155253014-08664746-796e-4e27-bf6a-02bd6d2620f7.png)

[2022-02-23 16:46] HelgiBergmann opened #2669 "Question about docker images"
Hi, is it normal  to have these images?
[code]
The most questionable that one <none>.

[2022-02-23 19:31] matmair commented on #2669
@HelgiBergmann in general yes. No idea about that middle container but the others are normal if you created the images on your system.

[2022-02-23 19:36] matmair commented on #2648
@SchrodingersGat software licenses (for identifying the system on support requests) for example. Or downloadcodes.

[2022-02-23 22:02] SchrodingersGat commented on #2669
Yep, that is perfectly normal. I would *think* that the `<none>` image is part of the multi-stage-build from *docker-compose*, but could be wrong about that.

[2022-02-23 22:02] #2669 closed

[2022-02-23 22:09] matmair commented on #2648
@schrodingersgat maybe we should make the docs clearer about the use case for the virtual tag. I imagined it could be used for that.
The question is if one could not just use a default part and its workflows - seems like a good feature creep point.

[2022-02-23 22:11] SchrodingersGat commented on #2648
Perhaps improvements to the docs would be the best approach here. And perhaps, we need some better management of the build process - like not displaying "virtual parts" as requiring allocation? Or virtual parts display specifically as "no allocation needed"?

[2022-02-23 22:18] matmair opened #2670 "Request: Add droplet as deployment method"
Hi there @schrodingersgat @eeintech!
I would like to add the DigitalOcean droplet I recently created as a deployment method. There is the possibility to add a referral code to the link. If it is ok with you I would create a PR that adds a button to the Readme that enables a secure deployment to DigitalOcean within 3-5 min (if you already have a DigitalOcean account - else it is around 10 from star

[2022-02-23 22:25] matmair commented on #2648
I think a few more tips in the interface would not be bad but that is more of a low priority in my mind.
Docs updates should do it.
@markusEmm123 could you work with just using it as a normal part and creating stock upfront?

[2022-02-24 14:41] Zontex opened #2671 "[Show & Tell] Finding the right component using smart LEDs"
Hi Inventree team,

I Just would like to share with you what I've been working on recently, I've hosted the Inventree on top of Raspberry Pi CM4 and have been using it for the last couple of months as my main inventory management system (all my components and everything is managed through Inventree! couldn't live without it).

It's deployed on bare metal custom hardware I designed called "OmniKit"

[2022-02-24 14:52] sintech opened #2672 "[BUG] Plugins don't work on pre-2.2.0 versions of git"
**Describe the bug**
All plugins in Settings->Plugin Settings->Plugins are in Error state with message `Invalid isoformat string: '%aI'`.

This message is caused by "%aI - author date, strict ISO 8601 format" git log option introduced in git ver 2.2.0-rc0.
https://github.com/inventree/InvenTree/blob/733062385c455d02371e34890a90b3be9e2dee04/InvenTree/plugin/helpers.py#L98
On some distros (Centos 7,

[2022-02-24 23:37] SchrodingersGat commented on #2671
@Zontex that's amazing! We've been discussing something like this [for ages](https://github.com/inventree/InvenTree/issues/749). I'm very pleased that you are making such good use of the InvenTree software!

This would make a great plugin (using the new plugin framework by @matmair)! Would you be willing to support something like this?

Regarding SMS notifications - the notification framework is u

[2022-02-25 00:11] matmair commented on #2672
Ok that is my fault. Sorry about that. I will add a catch for that on the weekend.
Thank you for reporting and finding a fix @sintech ! How do you like the release except for that?

[2022-02-25 01:14] SchrodingersGat commented on #2670
Sounds like a great idea, I'd be happy to merge such a PR

[2022-02-25 03:24] Zontex commented on #2671
Regarding the LED I would definitely support it, I figured out I should design a custom strip wireless supporter controlled by either HTTP and/or MQTT instead of connecting the strip directly to Raspberry Pi (OmniKit in my case) I already designed the logic where each LED is appointed to specific shelf ID so it can be lighten up properly, I think this should be used as external plugin, I would lov

[2022-02-25 03:30] #2663 closed

[2022-02-25 03:35] #241 closed

[2022-02-25 03:43] #1326 closed

[2022-02-25 06:47] matmair commented on #2671
@Zontex rest/mqtt integration is very easily possible. Interacting with GPIO would also be easy. If you have questions ping me.

The new notification method is generic. So any plugin can trigger a notification and the delivery methods are defined per user. SMS, Telegram or pidgin would be possible with that. I am wondering about the cost of using sms though.

[2022-02-25 06:49] Zontex commented on #2671
The cost for Twillio will be pretty unreasonable. what I do is I duplicated my SIM card (same account, different number) and it has unlimited SMS package under my mobile provider package, this allows me to use it as much as I need.

Regarding the integration part, sounds amazing, looks like the new plugin system fits perfectly for this kind of tasks :)

[2022-02-25 08:50] rkalman opened #2675 "[BUG] Edit sublocation as non superuser"
**Describe the bug**

Adding new sublocation is possible on the stock page, but after then it cannot be edited by a non-staff user.

**Steps to Reproduce**
Steps to reproduce the behavior:
Login as non-superuser user with all stock location privileges enabled
Goto navbar/stock
Create new sublocation
on the resulting page no action buttons show up

**Expected behavior**
Sublocations should be edita

[2022-02-25 09:50] SchrodingersGat commented on #2675
Confirmed on latest master

[2022-02-25 12:08] SchrodingersGat commented on #2675
@rkalman thanks for reporting - should be fixed in master soon

[2022-02-25 16:08] Martin2278 opened #2677 "Review Process"
This should not be a really feature request, but only an inspiration.

**Problem**
I would use InvenTree in a different usecase, so not for inventory management, but only as part database in combination with KiCad. So the idea is to store every part with a symbol (only the name of the symbol, not the definition it self) and a footprint in the database. When drawing in Kicad it can be accessed the

[2022-02-25 17:34] hacker-h commented on #2643
For my individual use case I will use a simple table sheet and later maybe expand to an ERP system.
I feel like using InvenTree is overkill for me after trying it for a while.
Thanks for your suggestions and your support.

[2022-02-25 21:19] matmair commented on #2643
@hacker-h thanks for the input, I think the RFID functions will be a valuable addition nonetheless

[2022-02-25 21:21] matmair commented on #2677
@Martin2278 have you looked into Ki-n-tree?

[2022-02-25 21:23] matmair commented on #2677
@Martin2278 have you looked into Ki-n-tree?

[2022-02-25 23:39] cdwilson commented on #1435
@matmair FYI for when you start looking into this, I ran across these articles which give a good overview of UoM and some additional examples:

- https://www.aligni.com/doc/guides/units-of-measure/
- https://www.aligni.com/doc/basics/units/

If I'm understanding you correctly, it sounds like what you're proposing is a solution that addresses the specific use case I mentioned above, i.e. the suppli

[2022-02-26 00:35] matmair commented on #1435
@cdwilson thanks for the links. That is how basically all PLMs work so my approach will be in the same general direction.
The user will def. have to do the conversion in their head as I am not about to try to understand them imperial system of measurements. I can code - I am not a wizard 😂

## Implementation plans:

It's just a float input (with enforcement for integer if the part is tracked) and

[2022-02-26 09:58] sintech commented on #2672
I just updated and still can't get used to the new design ;). Working on a "classic" theme to mimic BS4 colors and forms.

[2022-02-26 17:11] matmair commented on #2671
Ok, that makes more sense financially.

If you have time - writing a plugin to test how good the docs and APIs would be tremendous!

@Zontex Also pulling and reviewing #2372 would be a great help.

[2022-02-27 22:44] matmair opened #2681 "[FR] Zapier integration"
**Problem**
Zapier offers a ton of further integrations. One integration opens up a lot of possibilities.

**Suggested solution**
Add an [integration](https://developer.zapier.com/) to Zapier

**Do you want to develop this?**
Yes, in the distant future. If somebody else wants to I am happy to review/discuss.

[2022-02-27 22:50] SchrodingersGat commented on #2681
Looks interesting. Would you suggest this is implemented as a core feature or as a plugin? I'm assuming the integration would need authentication keys etc for the Zapier service

[2022-02-27 22:53] matmair commented on #2681
@SchrodingersGat that is yet to be evaluated. My todo is full till thanksgiving as far as I calculated so I did not investigate more than 'should be possible'.
The question is also if they will work with the self-hosting that is currently a core concept. I have ways to get around that but I will think about that once I get all security, architecture and website stuff done.

[2022-02-27 22:56] #2670 closed

[2022-02-27 23:43] matmair commented on #2672
If that is the only complaint after rewriting over 25% of the codebase I am happy. The old library was not supported for years and thete were a few security issues with it, this one will get us through for at least a few years. Also the UI works a lot better in a lot of places if there are a lot of parts in the DB.

[2022-02-28 00:35] bkcorwin opened #2683 "[FR] Ability to display location information in BOM section of a build"
**Problem**
We are using the software to setup repeated builds as parts.  As near as we can tell, in order to find the location of each part (row 3 bin 4) you have to click on each item in the BOM and look at its location.

**Suggested solution**
Is there a way to do one of the following.  1) simply add a location column in the BOM line item section in a build? 2) generate a "pick sheet" which giv

[2022-02-28 03:15] #2672 closed

[2022-02-28 06:41] matmair commented on #2683
Hi there @bkcorwin , welcome to InvenTree!
The locations are normally shown if you extend the line in the build order view.
I have a feeling that you could not use build orders but just the BOM view. As there can be multiple storage locations for each part we do not show the in the BOM view of the part. Once you start a build order you can allocate parts and then get shown where the parts for the

[2022-02-28 12:21] SchrodingersGat commented on #2660
@rkalman here's how I have implemented it:

![image](https://user-images.githubusercontent.com/10080325/155982643-01d1f3c6-a22c-476a-b25b-f6a09730b833.png)

On the "receive items" form, the user can choose to expand the available options to include a "batch code" or "serial numbers" which get applied to the stock items as they are received.

[2022-02-28 13:40] SchrodingersGat commented on #2618
Closing due to lack of response. @MIFD670 please ping us if you need any further assistance.

[2022-02-28 13:40] #2618 closed

[2022-02-28 13:58] #2642 closed

[2022-02-28 13:58] #2660 closed

[2022-02-28 17:03] matmair commented on #2683
@bkcorwin You are 99% there. If this does not turn into a bug report the locations are under the pluses next to each part name.

[2022-02-28 17:11] matmair commented on #2683
@bkcorwin no problem. Please close if this is resolved. And feel free to fill out our community survey in the discussions!

[2022-02-28 17:13] #2683 closed

[2022-02-28 21:37] SchrodingersGat commented on #1693
@rcludwick are you still interested in this?

@matmair are you still keen to implement?

[2022-02-28 21:45] #2581 closed

[2022-02-28 21:45] matmair commented on #1693
@SchrodingersGat yes. I planned with a longer release window and wanted to do it in the Easter break

[2022-02-28 22:12] rkalman commented on #2660
Thank you, perfect solution!

[2022-02-28 23:25] hammsbeerman opened #2690 "Part and BOM Pricing"
I am trying to wrap my head around the BOM.

Perhaps I am missing it, but it would be convenient to have the last price or average price show up on each part, and then have a part that contains a BOM to have the total cost for all line items in the BOM.

[2022-02-28 23:40] reilly-callaway opened #2691 "[BUG] Serialized stock can only be deleted from parts page"
**Describe the bug**
Serialized stock cannot be deleted from the stock item page. The only page serialized stock can be deleted from is the stock tab in the associated parts page. This is inconsistent with non-serialized stock and less discoverable when deleting a single serialized stock item.

**Expected behavior**
Serialized stock should be able to be deleted from the stock page, the same as non

[2022-03-01 01:40] reilly-callaway opened #2692 "[BUG] Inconsistent button labels/icons"
**Describe the bug**
Some of the icons and labels for actions that can be performed in the stock tab for a part are different to those in the stock page. Some examples I've found:
* "Count stock" uses different icons (check mark vs clipbboard)
* "Move stock" vs "Transfer stock". Both perform the same action but are labelled differently.
* "Transfer stock" icon is blue in the stock page, compared t

[2022-03-01 05:29] matmair commented on #2690
@hammsbeerman
There is a pricing modal on parts with a BOM. It is a dollar sign in the right upper corner.

There are more pricing features but they suffer from a few performance problems so they are turned of by default.

[2022-03-01 05:32] matmair commented on #2691
Hi there @reilly-callaway !
Would you be willing to dev this?
Thank you for reporting this

[2022-03-01 07:41] Zontex opened #2694 "[FR] Add delivery cost (excluding unit cost that already exists) in PO"
**Is your feature request the result of a bug?**

No.

**Problem**

When components are purchased, sometimes delivery of components price is excluded in purchasing, can calculate it in unit cost but that will be wrong as it's not the normal unit cost and usually deliver pricing doesn't change as much as components cost.

If I include the delivery cost into the unit cost, it damages the plugin I'm

[2022-03-01 13:11] SchrodingersGat commented on #2690
@hammsbeerman if you have any questions or suggestions with regard to pricing, now is the time... The pricing models are in the process of being reworked (significantly) in preparation for the next stable release!

[2022-03-01 13:11] #2690 closed

[2022-03-01 13:32] #2691 closed

[2022-03-01 13:32] #2692 closed

[2022-03-01 14:14] lettore opened #2700 "[BUG] Update instructions from 0.5.4 to 0.6.0"
**Describe the bug**

I'm running 0.5.4 on Docker and tried to update to 0.6.0 with no luck.
I'm getting many errors like:
file "/home/inventree/.local/lib/python3.8/site-packages/django/db/models/fields/__init__.py", line 1823, in get_prep_value.
Every time I made an update in the past I had so many problems that I'm not sure if I should continue using this software.
From a developer point of vie

[2022-03-01 19:57] matmair commented on #2700
@lettore sorry to here that you feel this way.
If you are not happy to use a project that you never committed code to (as far as I can both remember and see in the codebase - feel free to correct me) for free with free support: I will not force you to.

This bug report will not help in any way with fixing a bug in this form. It is just general complaints and negativity plus a code reference withou

[2022-03-01 20:02] matmair commented on #2636
@4li-fth could you try again with the current code and a clean database? I would really like to fix / figure out this. So far I have a hard time to reproduce the behaviour so please provide all steps you did after install (fi possible)

[2022-03-01 20:09] eeintech commented on #2700
I second @matmair's response, a bug is best solved with clear instructions to reproduce, which you did not provide.

Where in the update process did you get stuck?
https://inventree.readthedocs.io/en/latest/start/docker_prod/#updating-inventree

There is **_plenty_** of documentation on Docker setup, at least point out which step causes trouble.

On my barebone installations and following the **_c

[2022-03-01 20:45] lettore commented on #2700
First of all thank you for quick response.
Yes, not everyone can contribute with code, so I contributed buying the Android app on Playstore for 10€, for a software that at the time was not "stable", so as the app is not useful alone I expect at least that the software is kept working.
Not everyone uses Docker Compose, as it's now quite unsupported, the way you force deploying the containers is a n

[2022-03-01 20:51] #2700 closed

[2022-03-01 20:54] lettore commented on #2700
Was my mistake of running invoke update inside the container not with the correct entrypoint.
Starting the container with the command invoke update did the trick.
It's not really comfortable as I'm running the stack in Swarm.

[2022-03-01 21:55] matmair commented on #2700
That is somewhat known, at least two ppl tried to work on that - myself being one of them - and failed. The problem is that you have to lock database access before running the migrations. They get blocked elsewise / django rolls back the changes.

The current solution works but is not 100 intuitive for scaling / distributed solutions. I am not super knowledgeable in this are - if you have an idea

[2022-03-02 10:50] #2589 closed

[2022-03-02 11:09] SchrodingersGat commented on #2190
@tse-tarn-france what was your progress on this? Should we close out this issue now?

[2022-03-02 11:10] SchrodingersGat commented on #2189
@tse-tarn-france I'm going to close out this issue for now, due to lack of response. If you have anything further to add to this, please get back to us!

[2022-03-02 11:10] #2189 closed

[2022-03-02 11:13] SchrodingersGat commented on #2700
@lettore we can only support so many use-cases in the documentation, but I'm glad you got it figured out.

FYI - I have added a "FAQ" entry, as it seems that the `invoke update` steps is an easy one for people to miss :)

https://github.com/inventree/inventree-docs/pull/247

[2022-03-02 11:16] SchrodingersGat commented on #1573
I think that the existing StockItemTracking model covers most of the intended functionality here, so going to close this out.

[2022-03-02 11:16] #1573 closed

[2022-03-02 11:20] #749 closed

[2022-03-02 11:22] #656 closed

[2022-03-02 11:37] Zontex opened #2703 "[QUESTION] trying to get the label PDF file from stock component"
There is the following API to get the label for a single component

```/api/label/stock/1/print/?items[]=COMPONENT_ID```

The thing is I would like to download the PDF locally, I tried wget commands or some other ways but I can't, seems it's not a PDF but a rendering page for PDF.

Is there anyway to download the label PDF or add a parameter of &download=1 in order to initiate initiate download of

[2022-03-02 11:55] #1132 closed

[2022-03-02 11:55] SchrodingersGat commented on #83
Shelving this one until someone clamours for it (and ideally develops it)

[2022-03-02 11:57] SchrodingersGat commented on #1004
This has now been implemented

[2022-03-02 11:57] #1004 closed

[2022-03-02 11:59] SchrodingersGat commented on #1076
Introduction of new "complex" BOMs (variants / substitutes / etc) make this too tricky to implement, especially for a "nice to have" feature.

[2022-03-02 11:59] #1076 closed

[2022-03-02 11:59] #1314 closed

[2022-03-02 12:00] SchrodingersGat commented on #1259
Closing, users can always look at the "stock tracking history" for this.

[2022-03-02 12:00] #1259 closed

[2022-03-02 12:02] SchrodingersGat commented on #2099
@Matthewmads did you require any more action on this one, or happy to cloes?

[2022-03-02 12:02] SchrodingersGat commented on #521
Ref: https://github.com/inventree/InvenTree/issues/1996